Repository scaleway/docs-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SamyOubouaziz, @farhakennar, @ldecarvalho-doc, @RoRoJ, @bene2k1, @nerda-codes

.github/CODEOWNERS:

#This is a list of people who will be tagged whenever a PR is opened to edit one of the files listed below.

# Samy
storage/object/  @SamyOubouaziz
serverless/containers/ @SamyOubouaziz
serverless/functions/ @SamyOubouaziz
console/ @farhakennar @SamyOubouaziz @ldecarvalho-doc

# Rowena
network/vpc/ @RoRoJ
network/public-gateways/ @RoRoJ
network/load-balancer/ @RoRoJ
serverless/messaging/ @RoRoJ

# Benedikt
compute/gpu/ @bene2k1
compute/instances/ @bene2k1
bare-metal/dedibox/ @bene2k1
bare-metal/elastic-metal/ @bene2k1
containers/kubernetes/ @bene2k1
storage/block/ @bene2k1 @ldecarvalho-doc
managed-services/webhosting/ @bene2k1
dedibox/ @bene2k1
dedibox-network/ @bene2k1
dedibox-console/ @bene2k1

# NÃ©da
managed-services/transactional-email/ @nerda-codes
observability/ @nerda-codes
network/domains-and-dns/ @nerda-codes
identity-and-access-management/secret-manager/ @nerda-codes

# Luiza
identity-and-access-management/iam/ @ldecarvalho-doc
managed-databases/document-database/ @ldecarvalho-doc
managed-databases/postgresql-and-mysql/ @ldecarvalho-doc
managed-databases/redis/ @ldecarvalho-doc
containers/container-registry/ @ldecarvalho-doc
labs/ @ldecarvalho-doc

# Farha
bare-metal/apple-silicon/ @farhakennar
managed-services/iot-hub/ @farhakennar

feat(labs): review
  labs/ipfs-pinning/reference-content/install-ipfs-desktop.mdx
Owners: @ldecarvalho-doc

Apply suggestions from code review
  console/account/how-to/close-account.mdx
  console/account/how-to/manage-my-personal-data-gdpr.mdx
  console/account/troubleshooting/cannot-erase-account.mdx
  macros/console/close-vs-erase.mdx
Owners: @farhakennar, @SamyOubouaziz, @ldecarvalho-doc

docs(gpu): review docs
  compute/gpu/reference-content/understanding-nvidia-nemo.mdx
Owners: @bene2k1

docs(gen): Update contributing guidelines with fork instructions (#2994)
  docs/CONTRIBUTING.md
Owners: none

docs(GEN): docs review MTA-4398
  serverless/containers/reference-content/deploy-container.mdx
  serverless/functions/how-to/test-a-function.mdx
  serverless/functions/reference-content/deploy-function.mdx
Owners: @SamyOubouaziz

Update bare-metal/dedibox/how-to/order-failover-ip.mdx
  bare-metal/dedibox/how-to/order-failover-ip.mdx
Owners: @bene2k1

docs(ddx): requirement section update (#3011)
  bare-metal/dedibox/concepts.mdx
  bare-metal/dedibox/how-to/activate-ipv6-block.mdx
  bare-metal/dedibox/how-to/attach-detach-failover-ip.mdx
  bare-metal/dedibox/how-to/configure-failover-ip.mdx
  bare-metal/dedibox/how-to/configure-ipv6-dedibox.mdx
  bare-metal/dedibox/how-to/configure-reverse-failover-ip.mdx
  bare-metal/dedibox/how-to/connect-to-dedibox.mdx
  bare-metal/dedibox/how-to/install-dedibox.mdx
  bare-metal/dedibox/how-to/link-dedibox-account.mdx
  bare-metal/dedibox/how-to/modify-server-options.mdx
  bare-metal/dedibox/how-to/order-dedibox.mdx
  bare-metal/dedibox/how-to/order-failover-ip.mdx
  bare-metal/dedibox/how-to/reinstall-dedibox.mdx
  bare-metal/dedibox/how-to/terminate-dedibox.mdx
  bare-metal/dedibox/how-to/use-rescue-mode.mdx
  bare-metal/dedibox/quickstart.mdx
  dedibox-console/classic-hosting/how-to/configure-backup-option.mdx
  dedibox/kvm-over-ip/how-to/supermicro.mdx
  developer-tools/terraform/quickstart.mdx
  managed-services/iot-hub/api-cli/cli-db-tips-tricks.mdx
  managed-services/iot-hub/api-cli/iot-hub-routes.mdx
  tutorials/python-lists-dicts/index.mdx
Owners: @bene2k1, @farhakennar

docs(GEN): update
  developer-tools/scaleway-cli/quickstart.mdx
  developer-tools/scaleway-cli/reference-content/environment-variables.mdx
  developer-tools/terraform/reference-content/environment-variables.mdx
Owners: none
