Repository scaleway/docs-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SamyOubouaziz, @farhakennar, @ldecarvalho-doc, @RoRoJ, @bene2k1, @nerda-codes

docs(tutorial): review
  tutorials/configure-apache-lets-encrypt/index.mdx
  tutorials/encrypt-volumes/index.mdx
  tutorials/get-started-kubernetes-loadbalancer/index.mdx
  tutorials/glpi/index.mdx
  tutorials/install-apache-ansible/index.mdx
  tutorials/install-configure-couchdb/index.mdx
  tutorials/pihole-vpn/index.mdx
  tutorials/protect-server-using-crowdsec/index.mdx
  tutorials/set-up-yunohost-debian/index.mdx
Owners: none

Revert "feat(changelog): kubernetes-changed-routed-ips-now-default-on-new-kubern 2024-03-22 (#2942)"
  changelog/march2024/2024-03-22-kubernetes-changed-routed-ips-now-default-on-new-kubern.mdx
Owners: none

docs(srv): add concurrency docs and update deploy page MTA-4361
  menu/navigation.json
  serverless/containers/concepts.mdx
  serverless/containers/how-to/deploy-a-container-from-external-container-registry.mdx
  serverless/containers/how-to/deploy-a-container-from-scaleway-container-registry.mdx
  serverless/containers/reference-content/containers-concurrency.mdx
Owners: @SamyOubouaziz

feat(changelog): add new entry
  changelog/march2024/2024-03-26-kubernetes-changed-routed-ips-are-now-default-on-kubern.mdx
Owners: none

Revert "feat(changelog): kubernetes-changed-routed-ips-now-default-on-new-kubern 2024-03-22 (#2942)" (#2975)
  changelog/march2024/2024-03-22-kubernetes-changed-routed-ips-now-default-on-new-kubern.mdx
Owners: none

docs(srv): typos
  serverless/containers/reference-content/containers-concurrency.mdx
Owners: @SamyOubouaziz

Update network/domains-and-dns/how-to/trade-domain.mdx
  network/domains-and-dns/how-to/trade-domain.mdx
Owners: @nerda-codes

Apply suggestions from code review
  tutorials/transform-bucket-images-triggers-functions-set-up/index.mdx
Owners: none

fix(tutorial): update tutorial for new M&Q flow (#2970)
  tutorials/transform-bucket-images-triggers-functions-deploy/index.mdx
  tutorials/transform-bucket-images-triggers-functions-set-up/index.mdx
Owners: none

fix(faq): tech review corrections
  faq/public-gateways.mdx
  faq/vpc.mdx
Owners: none

add(domains): add trade documentation (#2863)
  menu/navigation.json
  network/domains-and-dns/concepts.mdx
  network/domains-and-dns/how-to/renew-domain.mdx
  network/domains-and-dns/how-to/trade-domain.mdx
  network/domains-and-dns/how-to/unlock-internal-domain.mdx
Owners: @nerda-codes

Apply suggestions from code review
  dedibox-network/dns/how-to/configure-secondary-dns.mdx
  dedibox-network/domains/how-to/transfer-domain.mdx
  dedibox-network/ip-failover/how-to/configure-network-virtual-machine.mdx
Owners: @bene2k1

Update changelog/march2024/2024-03-26-kubernetes-changed-routed-ips-are-now-default-on-kubern.mdx
  changelog/march2024/2024-03-26-kubernetes-changed-routed-ips-are-now-default-on-kubern.mdx
Owners: none

review nene
  serverless/functions/how-to/add-a-custom-domain-name-to-a-function.mdx
  serverless/functions/how-to/add-trigger-to-a-function.mdx
Owners: @SamyOubouaziz

docs(mas): web hosting requirements update (#2963)
  managed-services/webhosting/how-to/configure-dns-webhosting.mdx
  managed-services/webhosting/how-to/manage-webhosting.mdx
  managed-services/webhosting/how-to/migrate-webhosting-plan.mdx
  managed-services/webhosting/how-to/order-dedicated-ip.mdx
  managed-services/webhosting/how-to/order-webhosting.mdx
  managed-services/webhosting/how-to/terminate-webhosting.mdx
  managed-services/webhosting/quickstart.mdx
  managed-services/webhosting/reference-content/classic-hosting-migration-information.mdx
  managed-services/webhosting/reference-content/cpanel-reference-content.mdx
  managed-services/webhosting/reference-content/plesk-reference-content.mdx
  managed-services/webhosting/reference-content/understanding-differences-cpanel-plesk.mdx
Owners: @bene2k1

fix(llm): fixed page title
  ai-data/llm-inference/quickstart.mdx
Owners: none

fix(llm): fixed title
  ai-data/llm-inference/quickstart.mdx
Owners: none

fix(llm): fixed page title (#2979)
  ai-data/llm-inference/quickstart.mdx
Owners: none

review roro
  dedibox-console/classic-hosting/how-to/access-logcenter.mdx
  dedibox-console/classic-hosting/how-to/access-statistics.mdx
  dedibox-console/classic-hosting/how-to/change-email-account-password.mdx
  dedibox-console/classic-hosting/how-to/change-ftp-account-password.mdx
  dedibox-console/classic-hosting/how-to/change-password-mysql-database.mdx
  dedibox-console/classic-hosting/how-to/change-password-postgresql-database.mdx
  dedibox-console/classic-hosting/how-to/check-emails.mdx
  dedibox-console/classic-hosting/how-to/configure-backup-option.mdx
Owners: @bene2k1

docs(srv): serverless containers requirements update (#2971)
  serverless/containers/api-cli/deploy-container-api.mdx
  serverless/containers/api-cli/deploy-container-cli.mdx
  serverless/containers/how-to/add-a-custom-domain-to-a-container.mdx
  serverless/containers/how-to/add-trigger-to-a-container.mdx
  serverless/containers/how-to/create-a-containers-namespace.mdx
  serverless/containers/how-to/create-auth-token-from-console.mdx
  serverless/containers/how-to/delete-a-container.mdx
  serverless/containers/how-to/delete-a-containers-namespace.mdx
  serverless/containers/how-to/deploy-a-container-from-external-container-registry.mdx
  serverless/containers/how-to/deploy-a-container-from-scaleway-container-registry.mdx
  serverless/containers/how-to/manage-a-container.mdx
  serverless/containers/how-to/manage-a-containers-namespace.mdx
  serverless/containers/how-to/modify-container-privacy.mdx
  serverless/containers/how-to/secure-a-container.mdx
  serverless/containers/quickstart.mdx
  serverless/containers/reference-content/configure-trigger-inputs.mdx
  serverless/containers/reference-content/deploy-container.mdx
  serverless/containers/reference-content/use-cases.mdx
  serverless/containers/troubleshooting/common-errors.mdx
  tutorials/ansible-bionic-beaver/index.mdx
  tutorials/configure-realtime-alerting-slack/index.mdx
  tutorials/dagster-serverless-jobs/index.mdx
Owners: @SamyOubouaziz

Update compute/instances/reference-content/identify-devices.mdx
  compute/instances/reference-content/identify-devices.mdx
Owners: @bene2k1

Update serverless/containers/concepts.mdx
  serverless/containers/concepts.mdx
Owners: @SamyOubouaziz

Apply suggestions from code review
  labs/ipfs-pinning/quickstart.mdx
Owners: @ldecarvalho-doc

docs(labs): requirements update (#2964)
  labs/ipfs-naming/api-cli/ipfs-manage-keys.mdx
  labs/ipfs-naming/api-cli/names-operations.mdx
  labs/ipfs-naming/how-to/create-key.mdx
  labs/ipfs-naming/how-to/delete-key.mdx
  labs/ipfs-naming/how-to/import-key.mdx
  labs/ipfs-naming/how-to/update-name.mdx
  labs/ipfs-naming/quickstart.mdx
  labs/ipfs-pinning/api-cli/getting-started-with-ipfs-cli.mdx
  labs/ipfs-pinning/api-cli/ipfs-cli.mdx
  labs/ipfs-pinning/api-cli/pin-operations.mdx
  labs/ipfs-pinning/api-cli/volumes-operations.mdx
  labs/ipfs-pinning/how-to/add-pin.mdx
  labs/ipfs-pinning/how-to/create-volume.mdx
  labs/ipfs-pinning/how-to/delete-pin.mdx
  labs/ipfs-pinning/how-to/delete-volume.mdx
  labs/ipfs-pinning/quickstart.mdx
  labs/ipfs-pinning/reference-content/install-ipfs-desktop.mdx
Owners: @ldecarvalho-doc

docs(srv): doc review
  serverless/containers/concepts.mdx
Owners: @SamyOubouaziz

docs(srv): add concurrency docs and update deploy page MTA-4361 (#2977)
  menu/navigation.json
  serverless/containers/concepts.mdx
  serverless/containers/how-to/deploy-a-container-from-external-container-registry.mdx
  serverless/containers/how-to/deploy-a-container-from-scaleway-container-registry.mdx
  serverless/containers/reference-content/containers-concurrency.mdx
Owners: @SamyOubouaziz

docs(tutorials): review content
  tutorials/gpu-super-resolution/index.mdx
  tutorials/install-cassandra/index.mdx
  tutorials/protect-server-using-crowdsec/index.mdx
  tutorials/setup-elastic-metal-proxmox-cluster-with-private-networks/index.mdx
Owners: none

docs(srv): functions requirements update (#2972)
  serverless/functions/api-cli/deploy-function-api.mdx
  serverless/functions/api-cli/deploy-function-cli.mdx
  serverless/functions/how-to/add-a-custom-domain-name-to-a-function.mdx
  serverless/functions/how-to/add-trigger-to-a-function.mdx
  serverless/functions/how-to/create-a-function.mdx
  serverless/functions/how-to/create-a-functions-namespace.mdx
  serverless/functions/how-to/create-auth-token-from-console.mdx
  serverless/functions/how-to/delete-a-function.mdx
  serverless/functions/how-to/delete-a-functions-namespace.mdx
  serverless/functions/how-to/manage-a-function.mdx
  serverless/functions/how-to/manage-a-functions-namespace.mdx
  serverless/functions/how-to/package-function-dependencies-in-zip.mdx
  serverless/functions/how-to/secure-a-function.mdx
  serverless/functions/how-to/test-a-function.mdx
  serverless/functions/quickstart.mdx
  serverless/functions/reference-content/code-examples.mdx
  serverless/functions/reference-content/configure-trigger-inputs.mdx
  serverless/functions/reference-content/deploy-function.mdx
  serverless/functions/reference-content/functions-billing.mdx
  serverless/functions/reference-content/functions-lifecycle.mdx
  serverless/functions/reference-content/functions-limitations.mdx
  serverless/functions/reference-content/functions-runtimes-configuration.mdx
  serverless/functions/reference-content/local-testing.mdx
  serverless/functions/troubleshooting/common-errors.mdx
Owners: @SamyOubouaziz

chore(tutorials): content review
  tutorials/deploy-big-blue-button/index.mdx
  tutorials/deploy-instances-packer-terraform/index.mdx
  tutorials/erpnext-13/index.mdx
  tutorials/flask/index.mdx
  tutorials/foreman-puppet/index.mdx
  tutorials/hadoop/index.mdx
  tutorials/hestiacp/index.mdx
  tutorials/host-github-runner/index.mdx
  tutorials/install-docker-ubuntu-bionic/index.mdx
  tutorials/install-golang-ubuntu-bionic/index.mdx
  tutorials/postgis-managed-databases/index.mdx
  tutorials/postman-api/index.mdx
  tutorials/powerdns-ubuntu-bionic/index.mdx
  tutorials/protect-server-fail2ban/index.mdx
  tutorials/send-sms-iot-device-twilio/index.mdx
  tutorials/setup-cockroachdb-cluster/index.mdx
  tutorials/setup-mysql/index.mdx
  tutorials/setup-postfix-ubuntu-bionic/index.mdx
  tutorials/use-container-registry-github-actions/index.mdx
  tutorials/zammad-ticketing/index.mdx
Owners: none

Apply suggestions from code review
  tutorials/configure-apache-lets-encrypt/index.mdx
  tutorials/install-apache-ansible/index.mdx
  tutorials/set-up-yunohost-debian/index.mdx
  tutorials/setting-up-tunnel/index.mdx
Owners: none

docs(ins): add indentify devices docs (#2900)
  compute/instances/reference-content/identify-devices.mdx
  menu/navigation.json
Owners: @bene2k1

feat(lb): add ipv6 doc
  faq/loadbalancer.mdx
  network/load-balancer/concepts.mdx
  network/load-balancer/how-to/create-load-balancer.mdx
  network/load-balancer/how-to/create-manage-flex-ips.mdx
  network/load-balancer/troubleshooting/load-balancer-limitations.mdx
Owners: @RoRoJ

Apply suggestions from code review
  faq/loadbalancer.mdx
  network/load-balancer/how-to/create-load-balancer.mdx
Owners: @RoRoJ

feat(lb): add ipv6 stuff to quickstart
  network/load-balancer/quickstart.mdx
Owners: @RoRoJ

docs(ddx): requirements update
  dedibox/dedicated-servers/how-to/change-root-password.mdx
  dedibox/dedicated-servers/how-to/change-win-server-language.mdx
  dedibox/dedicated-servers/how-to/connect-to-server.mdx
  dedibox/dedicated-servers/how-to/get-started-with-server.mdx
  dedibox/dedicated-servers/how-to/install-a-server.mdx
  dedibox/dedicated-servers/how-to/manage-packages.mdx
  dedibox/dedicated-servers/how-to/migrate-server.mdx
  dedibox/dedicated-servers/how-to/monitor-server.mdx
  dedibox/dedicated-servers/how-to/order-a-server.mdx
  dedibox/dedicated-servers/how-to/rescue-your-data.mdx
  dedibox/dedicated-servers/how-to/restart-server.mdx
  dedibox/dedicated-servers/how-to/use-dedibackup-ftp-backup.mdx
  dedibox/dedicated-servers/how-to/use-ipmi-on-server.mdx
  dedibox/dedicated-servers/how-to/use-rescue-mode.mdx
  dedibox/dedicated-servers/how-to/use-serial-console.mdx
  dedibox/dedicated-servers/quickstart.mdx
  dedibox/hardware/concepts.mdx
  dedibox/hardware/how-to/configure-dell-perc-h200.mdx
  dedibox/hardware/how-to/configure-dell-perc-h310.mdx
  dedibox/hardware/how-to/configure-dell-perc-h700.mdx
  dedibox/hardware/how-to/configure-dell-perc-h800.mdx
  dedibox/hardware/how-to/configure-hardware-raid-console.mdx
  dedibox/hardware/how-to/configure-hp-smart-array-p410.mdx
  dedibox/hardware/how-to/configure-hp-smart-array-p420.mdx
  dedibox/hardware/how-to/configure-raid-kvm-h200.mdx
  dedibox/hardware/how-to/configure-raid-kvm-h310.mdx
  dedibox/hardware/how-to/configure-raid-kvm-p410.mdx
  dedibox/hardware/how-to/configure-raid-kvm-p420.mdx
  dedibox/hardware/reference-content/server-comparison-table.mdx
  dedibox/hardware/troubleshooting/diagnose-defective-disk.mdx
  dedibox/kvm-over-ip/how-to/dell-idrac6.mdx
  dedibox/kvm-over-ip/how-to/dell-idrac7.mdx
  dedibox/kvm-over-ip/how-to/dell-idrac8.mdx
  dedibox/kvm-over-ip/how-to/dell-idrac9.mdx
  dedibox/kvm-over-ip/how-to/disable-boot-errors-idrac.mdx
  dedibox/kvm-over-ip/how-to/hp-ilo.mdx
  dedibox/kvm-over-ip/how-to/quanta-computer.mdx
  dedibox/kvm-over-ip/how-to/quantaplex.mdx
  dedibox/kvm-over-ip/quickstart.mdx
Owners: @bene2k1

feat(lb): add ipv6 doc (#2595)
  faq/loadbalancer.mdx
  network/load-balancer/concepts.mdx
  network/load-balancer/how-to/create-load-balancer.mdx
  network/load-balancer/how-to/create-manage-flex-ips.mdx
  network/load-balancer/quickstart.mdx
  network/load-balancer/troubleshooting/load-balancer-limitations.mdx
Owners: @RoRoJ

feat(gpu): add driver install doc
  compute/gpu/troubleshooting/install-nvidia-drivers-ubuntu.mdx
  compute/gpu/troubleshooting/updating-gpu-instance-with-cloud-init.mdx
  menu/navigation.json
Owners: @bene2k1

fix(gpu): fix date
  compute/gpu/troubleshooting/install-nvidia-drivers-ubuntu.mdx
Owners: @bene2k1

docs(llm): add content
  compute/gpu/troubleshooting/install-nvidia-drivers-ubuntu.mdx
Owners: @bene2k1

docs(llm): add content
  compute/gpu/troubleshooting/install-nvidia-drivers-ubuntu.mdx
Owners: @bene2k1

.github/CODEOWNERS:

#This is a list of people who will be tagged whenever a PR is opened to edit one of the files listed below.

# Samy
storage/object/  @SamyOubouaziz
serverless/containers/ @SamyOubouaziz
serverless/functions/ @SamyOubouaziz
console/ @farhakennar @SamyOubouaziz @ldecarvalho-doc

# Rowena
network/vpc/ @RoRoJ
network/public-gateways/ @RoRoJ
network/load-balancer/ @RoRoJ
serverless/messaging/ @RoRoJ

# Benedikt
compute/gpu/ @bene2k1
compute/instances/ @bene2k1
bare-metal/dedibox/ @bene2k1
bare-metal/elastic-metal/ @bene2k1
containers/kubernetes/ @bene2k1
storage/block/ @bene2k1 @ldecarvalho-doc
managed-services/webhosting/ @bene2k1
dedibox/ @bene2k1
dedibox-network/ @bene2k1
dedibox-console/ @bene2k1

# NÃ©da
managed-services/transactional-email/ @nerda-codes
observability/ @nerda-codes
network/domains-and-dns/ @nerda-codes
identity-and-access-management/secret-manager/ @nerda-codes

# Luiza
identity-and-access-management/iam/ @ldecarvalho-doc
managed-databases/document-database/ @ldecarvalho-doc
managed-databases/postgresql-and-mysql/ @ldecarvalho-doc
managed-databases/redis/ @ldecarvalho-doc
containers/container-registry/ @ldecarvalho-doc
labs/ @ldecarvalho-doc

# Farha
bare-metal/apple-silicon/ @farhakennar
managed-services/iot-hub/ @farhakennar
