Repository scaleway/docs-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SamyOubouaziz, @farhakennar, @ldecarvalho-doc, @RoRoJ, @bene2k1, @nerda-codes

feat(ddb): remove menu and pages MTA-4353 (#2928)
  managed-databases/document-database/api-cli/backup-and-restore.mdx
  managed-databases/document-database/api-cli/index.mdx
  managed-databases/document-database/concepts.mdx
  managed-databases/document-database/how-to/add-a-database.mdx
  managed-databases/document-database/how-to/add-users.mdx
  managed-databases/document-database/how-to/assets/scaleway-create-instance-from-snapshot.webp
  managed-databases/document-database/how-to/assets/scaleway-dbaas-backup.webp
  managed-databases/document-database/how-to/assets/scaleway-dbaas-pn-attached.webp
  managed-databases/document-database/how-to/assets/scaleway-rdb-engine-version-upgrade.webp
  managed-databases/document-database/how-to/clone-a-database-instance.mdx
  managed-databases/document-database/how-to/configure-advanced-settings.mdx
  managed-databases/document-database/how-to/connect-database-instance.mdx
  managed-databases/document-database/how-to/connect-database-private-network.mdx
  managed-databases/document-database/how-to/create-a-database-instance.mdx
  managed-databases/document-database/how-to/create-read-replica.mdx
  managed-databases/document-database/how-to/delete-a-database-instance.mdx
  managed-databases/document-database/how-to/delete-database.mdx
  managed-databases/document-database/how-to/enable-autobackup.mdx
  managed-databases/document-database/how-to/index.mdx
  managed-databases/document-database/how-to/manage-allowed-ip-addresses.mdx
  managed-databases/document-database/how-to/manage-permissions.mdx
  managed-databases/document-database/how-to/manage-read-replica.mdx
  managed-databases/document-database/how-to/manage-snapshots.mdx
  managed-databases/document-database/how-to/renew-tls-certificate.mdx
  managed-databases/document-database/how-to/upgrade-a-database-instance.mdx
  managed-databases/document-database/index.mdx
  managed-databases/document-database/quickstart.mdx
  managed-databases/document-database/reference-content/autohealing.mdx
  managed-databases/document-database/reference-content/index.mdx
  managed-databases/document-database/reference-content/known-differences-ferret-mongo.mdx
  managed-databases/document-database/reference-content/overview.mdx
  managed-databases/document-database/troubleshooting/disk-full.mdx
  managed-databases/document-database/troubleshooting/index.mdx
  menu/changelogs.json
  menu/navigation.json
Owners: @ldecarvalho-doc

fix(s3): fix wrong wording MTA-4346
  storage/object/api-cli/bucket-policy.mdx
Owners: @SamyOubouaziz

fix(s3): add link
  storage/object/api-cli/bucket-policy.mdx
Owners: @SamyOubouaziz

fix(es): add new error
  storage/object/reference-content/cname-record.mdx
Owners: @SamyOubouaziz

fix(srv): remove incorrect diagram
  macros/serverless/difference-jobs-functions-containers.mdx
Owners: none

fix(s3): fix wrong wording MTA-4346 (#2929)
  storage/object/api-cli/bucket-policy.mdx
Owners: @SamyOubouaziz

Update changelog/march2024/2024-03-20-jobs-added-custom-ephemeral-storage-on-serverless-jobs.mdx
  changelog/march2024/2024-03-20-jobs-added-custom-ephemeral-storage-on-serverless-jobs.mdx
Owners: none

Apply suggestions from code review
  tutorials/configure-nginx-lets-encrypt/index.mdx
  tutorials/transform-bucket-images-triggers-functions-deploy/index.mdx
Owners: none

feat(bil): change broken links
  identity-and-access-management/organizations-and-projects/additional-content/organization-quotas.mdx
Owners: none

nene review
  tutorials/deploy-big-blue-button/index.mdx
  tutorials/deploy-k3s-cluster-with-cilium/index.mdx
  tutorials/deploy-remote-desktop-ubuntu-2204/index.mdx
  tutorials/deploy-static-website-with-hugo-and-github-runners-to-object-storage/index.mdx
  tutorials/deploy-ubuntu-20-04-instance-scaleway-elements/index.mdx
  tutorials/deploy-wordpress-managed-database-mysql8/index.mdx
  tutorials/deploying-a-documentation-website-with-docusaurus-on-scaleway/index.mdx
  tutorials/dhcpcd-dedibox/index.mdx
  tutorials/django-ubuntu-focal-fossa/index.mdx
  tutorials/encrypt-s3-data-rclone/index.mdx
  tutorials/erpnext/index.mdx
  tutorials/first-steps-linux-command-line/index.mdx
  tutorials/flask/index.mdx
  tutorials/foreman-puppet/index.mdx
  tutorials/get-started-deploy-kapsule/index.mdx
  tutorials/get-started-kubernetes-loadbalancer/index.mdx
  tutorials/get-started-kubernetes-storage/index.mdx
  tutorials/glusterfs/index.mdx
  tutorials/gpu-super-resolution/index.mdx
  tutorials/hadoop/index.mdx
  tutorials/install-apache-ansible/index.mdx
  tutorials/install-configure-couchdb/index.mdx
  tutorials/install-ispconfig/index.mdx
  tutorials/install-medusa/index.mdx
  tutorials/install-php-composer/index.mdx
  tutorials/installation-jekyll/index.mdx
  tutorials/installation-lemp-ubuntu-focal/index.mdx
Owners: none

Apply suggestions from code review
  tutorials/hadoop/index.mdx
Owners: none

Apply suggestions from code review
  changelog/march2024/2024-03-20-jobs-added-custom-ephemeral-storage-on-serverless-jobs.mdx
Owners: none

feat(bil): change broken links (#2932)
  identity-and-access-management/organizations-and-projects/additional-content/organization-quotas.mdx
Owners: none

fix(es): add new error (#2930)
  storage/object/reference-content/cname-record.mdx
Owners: @SamyOubouaziz

fix(srv): remove incorrect diagram (#2931)
  macros/serverless/difference-jobs-functions-containers.mdx
Owners: none

Update changelog/march2024/2024-03-20-jobs-added-custom-ephemeral-storage-on-serverless-jobs.mdx
  changelog/march2024/2024-03-20-jobs-added-custom-ephemeral-storage-on-serverless-jobs.mdx
Owners: none

feat(changelog): jobs-added-custom-ephemeral-storage-on-serverless-jobs 2024-03-20 (#2926)
  changelog/march2024/2024-03-20-jobs-added-custom-ephemeral-storage-on-serverless-jobs.mdx
Owners: none

docs(gen): requirements update final part
  tutorials/remote-desktop-with-xrdp/index.mdx
  tutorials/restic-s3-backup/index.mdx
  tutorials/rtmp-self-hosted-streaming/index.mdx
  tutorials/ruby-on-rails/index.mdx
  tutorials/run-manage-linux-vm-on-apple-silicon-tart/index.mdx
  tutorials/run-messaging-platform-with-rocketchat/index.mdx
  tutorials/run-nodejs-express-server-on-serverless-containers/index.mdx
  tutorials/run-python-flask-server-on-serverless-container/index.mdx
  tutorials/s3-customize-url-cname/index.mdx
  tutorials/s3cmd/index.mdx
  tutorials/scaleway-packer-plugin/index.mdx
  tutorials/scaleway-slack-community/index.mdx
  tutorials/self-hosted-repository-gitea/index.mdx
  tutorials/send-emails-tem-serverless-framework/index.mdx
  tutorials/send-emails-with-serverless-and-tem/index.mdx
  tutorials/send-sms-iot-device-twilio/index.mdx
  tutorials/sentry-error-tracking/index.mdx
  tutorials/set-up-spf-dkim-for-dns-providers/index.mdx
  tutorials/set-up-yunohost-debian/index.mdx
  tutorials/setting-up-tunnel/index.mdx
  tutorials/setup-ampere-ai-framework-arm-instances/index.mdx
  tutorials/setup-cockroachdb-cluster/index.mdx
  tutorials/setup-elastic-metal-proxmox-cluster-with-private-networks/index.mdx
  tutorials/setup-jupyter-notebook/index.mdx
Owners: none

better prompting for llama
  ai-data/llm-inference/reference-content/llama-2-70b.mdx
Owners: none

better curl and prompting on mixtral
  ai-data/llm-inference/reference-content/mixtral-8x7b.mdx
Owners: none

better curl and prompt example on WizardLM
  ai-data/llm-inference/reference-content/wizardlm-70b.mdx
Owners: none

review allowed IP feat
  ai-data/llm-inference/concepts.mdx
  ai-data/llm-inference/how-to/manage-allowed-ips.mdx
Owners: none

feat(elastic-metal): add how-to run kubernetes nodes on RISC-V int-add-elastic-metal
  bare-metal/elastic-metal/how-to/kubernetes-on-riscv.mdx
Owners: @bene2k1

wizard instructions
  ai-data/llm-inference/reference-content/wizardlm-70b.mdx
Owners: none

fix(iot): add missing word
  managed-services/iot-hub/reference-content/networks.mdx
Owners: @farhakennar

fix(elastic-metal): apply suggestions int-add-elastic-metal
  bare-metal/elastic-metal/how-to/kubernetes-on-riscv.mdx
Owners: @bene2k1

Update kubernetes-on-riscv.mdx
  bare-metal/elastic-metal/how-to/kubernetes-on-riscv.mdx
Owners: @bene2k1

Apply suggestions from code review
  bare-metal/elastic-metal/how-to/kubernetes-on-riscv.mdx
Owners: @bene2k1

Apply suggestions from code review
  bare-metal/elastic-metal/how-to/kubernetes-on-riscv.mdx
Owners: @bene2k1

Apply suggestions from code review
  bare-metal/elastic-metal/how-to/kubernetes-on-riscv.mdx
Owners: @bene2k1

docs(k8s): requirements update part 1
  containers/kubernetes/api-cli/changing-control-plane-offer.mdx
  containers/kubernetes/api-cli/cluster-monitoring.mdx
  containers/kubernetes/api-cli/creating-managing-kubernetes-lifecycle-cliv2.mdx
  containers/kubernetes/api-cli/managing-storage.mdx
  containers/kubernetes/api-cli/managing-tags.mdx
  containers/kubernetes/how-to/access-audit-logs.mdx
  containers/kubernetes/how-to/access-kubernetes-dashboard.mdx
  containers/kubernetes/how-to/change-container-runtime-interface.mdx
  containers/kubernetes/how-to/connect-cluster-kubectl.mdx
  containers/kubernetes/how-to/create-cluster.mdx
  containers/kubernetes/how-to/create-kosmos-cluster.mdx
  containers/kubernetes/how-to/delete-cluster.mdx
  containers/kubernetes/how-to/deploy-image-from-container-registry.mdx
  containers/kubernetes/how-to/deploy-ingress-controller.mdx
  containers/kubernetes/how-to/deploy-x86-arm-images.mdx
  containers/kubernetes/how-to/edit-cluster.mdx
  containers/kubernetes/how-to/edit-kosmos-cluster.mdx
  containers/kubernetes/how-to/enable-disable-ssh.mdx
  containers/kubernetes/how-to/enable-easy-deploy.mdx
  containers/kubernetes/how-to/monitor-cluster.mdx
  containers/kubernetes/how-to/upgrade-kubernetes-version.mdx
  containers/kubernetes/how-to/use-nvidia-gpu-operator.mdx
  containers/kubernetes/how-to/use-scratch-storage-h100.mdx
Owners: @bene2k1

improve auth and link to ref content
  ai-data/llm-inference/quickstart.mdx
Owners: none

docs(elastic-metal): add how-to run kubernetes nodes on RISC-V int-add-elastic-metal (#2936)
  bare-metal/elastic-metal/how-to/kubernetes-on-riscv.mdx
Owners: @bene2k1

fix(em): add RISCV nav
  menu/navigation.json
Owners: none

fix(em): add RISCV nav (#2939)
  menu/navigation.json
Owners: none

feat(tutorial ): sns-x-instances tutorial with assets
  tutorials/sns-x-instances-tutorial/assets/publication.png
  tutorials/sns-x-instances-tutorial/assets/subscription.png
  tutorials/sns-x-instances-tutorial/index.mdx
Owners: none

feat(tutorial): terraform code and testing updated
  tutorials/sns-x-instances-tutorial/index.mdx
Owners: none

fix(tutorial): change image types and slug
  tutorials/sns-x-instances-tutorial/assets/publication.png
  tutorials/sns-x-instances-tutorial/assets/subscription.png
  tutorials/sns-x-instances-tutorial/index.mdx
Owners: none

update(sns tutorial): index updated including comments + tabulation correction of the code
  tutorials/sns-instances-notification-system/index.mdx
Owners: none

fix(terraform): better formatting
  tutorials/sns-instances-notification-system/index.mdx
Owners: none

.github/CODEOWNERS:

#This is a list of people who will be tagged whenever a PR is opened to edit one of the files listed below.

# Samy
storage/object/  @SamyOubouaziz
serverless/containers/ @SamyOubouaziz
serverless/functions/ @SamyOubouaziz
console/ @farhakennar @SamyOubouaziz @ldecarvalho-doc

# Rowena
network/vpc/ @RoRoJ
network/public-gateways/ @RoRoJ
network/load-balancer/ @RoRoJ
serverless/messaging/ @RoRoJ

# Benedikt
compute/gpu/ @bene2k1
compute/instances/ @bene2k1
bare-metal/dedibox/ @bene2k1
bare-metal/elastic-metal/ @bene2k1
containers/kubernetes/ @bene2k1
storage/block/ @bene2k1 @ldecarvalho-doc
managed-services/webhosting/ @bene2k1
dedibox/ @bene2k1
dedibox-network/ @bene2k1
dedibox-console/ @bene2k1

# NÃ©da
managed-services/transactional-email/ @nerda-codes
observability/ @nerda-codes
network/domains-and-dns/ @nerda-codes
identity-and-access-management/secret-manager/ @nerda-codes

# Luiza
identity-and-access-management/iam/ @ldecarvalho-doc
managed-databases/document-database/ @ldecarvalho-doc
managed-databases/postgresql-and-mysql/ @ldecarvalho-doc
managed-databases/redis/ @ldecarvalho-doc
containers/container-registry/ @ldecarvalho-doc
labs/ @ldecarvalho-doc

# Farha
bare-metal/apple-silicon/ @farhakennar
managed-services/iot-hub/ @farhakennar
