Repository scaleway/docs-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SamyOubouaziz, @farhakennar, @ldecarvalho-doc, @RoRoJ, @bene2k1, @nerda-codes

fix(homepages): grey frame removed
  tutorials/sns-instances-notification-system/assets/publisher-home.webp
  tutorials/sns-instances-notification-system/assets/subscriber-home.webp
  tutorials/sns-instances-notification-system/index.mdx
Owners: none

docs(k8s): requirements update part 2
  containers/kubernetes/quickstart.mdx
  containers/kubernetes/reference-content/introduction-to-kubernetes.mdx
  containers/kubernetes/reference-content/kubernetes-cheatsheet.mdx
  containers/kubernetes/reference-content/kubernetes-control-plane-offers.mdx
  containers/kubernetes/reference-content/kubernetes-load-balancer.mdx
  containers/kubernetes/reference-content/lb-ingress-controller.mdx
  containers/kubernetes/reference-content/managed-kubernetes-service-definition.mdx
  containers/kubernetes/reference-content/managing-load-balancer-ips.mdx
  containers/kubernetes/reference-content/multi-az-clusters.mdx
  containers/kubernetes/reference-content/secure-cluster-with-private-network.mdx
  containers/kubernetes/reference-content/using-load-balancer-annotations.mdx
  containers/kubernetes/reference-content/version-support-policy.mdx
  containers/kubernetes/reference-content/wildcard-dns.mdx
  containers/kubernetes/troubleshooting/containers-not-starting-arm-instances.mdx
Owners: @bene2k1

sample and API key clarity
  ai-data/llm-inference/quickstart.mdx
  ai-data/llm-inference/reference-content/llama-2-70b.mdx
  ai-data/llm-inference/reference-content/mixtral-8x7b.mdx
  ai-data/llm-inference/reference-content/wizardlm-70b.mdx
Owners: none

hallucinations defined
  ai-data/llm-inference/concepts.mdx
Owners: none

hallucination concept linked
  ai-data/llm-inference/reference-content/llama-2-70b.mdx
  ai-data/llm-inference/reference-content/mixtral-8x7b.mdx
  ai-data/llm-inference/reference-content/wizardlm-70b.mdx
Owners: none

renamed with correct product title, clarified quantizations
  ai-data/llm-inference/concepts.mdx
Owners: none

max context size
  ai-data/llm-inference/reference-content/llama-2-70b.mdx
  ai-data/llm-inference/reference-content/mixtral-8x7b.mdx
  ai-data/llm-inference/reference-content/wizardlm-70b.mdx
Owners: none

prompt engineering subsection
  ai-data/llm-inference/reference-content/llama-2-70b.mdx
  ai-data/llm-inference/reference-content/mixtral-8x7b.mdx
  ai-data/llm-inference/reference-content/wizardlm-70b.mdx
Owners: none

feat(changelog): add new entry
  changelog/march2024/2024-03-22-kubernetes-changed-routed-ips-now-default-on-new-kubern.mdx
Owners: none

fixed wrong information
  ai-data/llm-inference/concepts.mdx
  ai-data/llm-inference/how-to/manage-allowed-ips.mdx
Owners: none

docs(iam): requirements update
  identity-and-access-management/iam/api-cli/managing-projects.mdx
  identity-and-access-management/iam/how-to/accept-invitation-to-orga.mdx
  identity-and-access-management/iam/how-to/create-api-keys.mdx
  identity-and-access-management/iam/how-to/create-application.mdx
  identity-and-access-management/iam/how-to/create-group.mdx
  identity-and-access-management/iam/how-to/create-policy.mdx
  identity-and-access-management/iam/how-to/invite-user-to-orga.mdx
  identity-and-access-management/iam/how-to/manage-api-keys.mdx
  identity-and-access-management/iam/how-to/manage-applications.mdx
  identity-and-access-management/iam/how-to/manage-groups.mdx
  identity-and-access-management/iam/how-to/manage-policies.mdx
  identity-and-access-management/iam/how-to/manage-users.mdx
  identity-and-access-management/iam/how-to/view-logs.mdx
  identity-and-access-management/iam/quickstart.mdx
  identity-and-access-management/iam/reference-content/overview.mdx
  identity-and-access-management/iam/reference-content/reproduce-roles-project-api-keys.mdx
  identity-and-access-management/iam/reference-content/users-groups-and-applications.mdx
Owners: @ldecarvalho-doc

feat(rdb): remove endpoints
  managed-databases/postgresql-and-mysql/api-cli/migrating-endpoints.mdx
  managed-databases/postgresql-and-mysql/how-to/connect-database-private-network.mdx
  managed-databases/postgresql-and-mysql/how-to/create-read-replica.mdx
  managed-databases/postgresql-and-mysql/how-to/remove-public-endpoint.mdx
  menu/navigation.json
Owners: @ldecarvalho-doc

docs(vpc): requirements update
  network/vpc/how-to/activate-dhcp.mdx
  network/vpc/how-to/attach-resources-to-pn.mdx
  network/vpc/how-to/create-private-network.mdx
  network/vpc/how-to/create-vpc.mdx
  network/vpc/how-to/delete-private-network.mdx
  network/vpc/how-to/delete-vpc.mdx
  network/vpc/quickstart.mdx
  network/vpc/troubleshooting/autoconfig-not-working.mdx
  network/vpc/troubleshooting/pn-name.mdx
Owners: @RoRoJ

docs(pgw): requirements update
  network/public-gateways/how-to/configure-a-public-gateway.mdx
  network/public-gateways/how-to/create-a-public-gateway.mdx
  network/public-gateways/how-to/delete-a-public-gateway.mdx
  network/public-gateways/how-to/use-flexible-ips.mdx
  network/public-gateways/how-to/use-ssh-bastion.mdx
  network/public-gateways/quickstart.mdx
  network/public-gateways/troubleshooting/cant-connect-to-instance-with-pn-gateway.mdx
  network/public-gateways/troubleshooting/gateway-services-not-working.mdx
Owners: @RoRoJ

fix(rdb): review jess
  managed-databases/postgresql-and-mysql/how-to/remove-public-endpoint.mdx
Owners: @ldecarvalho-doc

fix(rbd): review jessi
  managed-databases/postgresql-and-mysql/how-to/remove-public-endpoint.mdx
Owners: @ldecarvalho-doc

fix(rdb): review samy
  managed-databases/postgresql-and-mysql/how-to/connect-database-private-network.mdx
  managed-databases/postgresql-and-mysql/how-to/remove-public-endpoint.mdx
Owners: @ldecarvalho-doc

feat(rdb): remove endpoints (#2944)
  managed-databases/postgresql-and-mysql/api-cli/migrating-endpoints.mdx
  managed-databases/postgresql-and-mysql/how-to/connect-database-private-network.mdx
  managed-databases/postgresql-and-mysql/how-to/create-read-replica.mdx
  managed-databases/postgresql-and-mysql/how-to/remove-public-endpoint.mdx
  menu/navigation.json
Owners: @ldecarvalho-doc

Update ai-data/llm-inference/concepts.mdx
  ai-data/llm-inference/concepts.mdx
Owners: none

Update ai-data/llm-inference/concepts.mdx
  ai-data/llm-inference/concepts.mdx
Owners: none

Update ai-data/llm-inference/concepts.mdx
  ai-data/llm-inference/concepts.mdx
Owners: none

Update ai-data/llm-inference/concepts.mdx
  ai-data/llm-inference/concepts.mdx
Owners: none

Update ai-data/llm-inference/quickstart.mdx
  ai-data/llm-inference/quickstart.mdx
Owners: none

Update ai-data/llm-inference/quickstart.mdx
  ai-data/llm-inference/quickstart.mdx
Owners: none

Update ai-data/llm-inference/quickstart.mdx
  ai-data/llm-inference/quickstart.mdx
Owners: none

Update ai-data/llm-inference/reference-content/llama-2-70b.mdx
  ai-data/llm-inference/reference-content/llama-2-70b.mdx
Owners: none

Update ai-data/llm-inference/reference-content/wizardlm-70b.mdx
  ai-data/llm-inference/reference-content/wizardlm-70b.mdx
Owners: none

applied changes requested
  ai-data/llm-inference/concepts.mdx
Owners: none

fix(tutorials): fix broken link and indentation
  tutorials/nextjs-app-serverless-functions-sqldb/index.mdx
Owners: none

docs(lb): requirements update
  network/load-balancer/api-cli/configuring-balancing-rules.mdx
  network/load-balancer/api-cli/setting-up-ssl-offloading.mdx
  network/load-balancer/how-to/add-certificate.mdx
  network/load-balancer/how-to/create-frontends-backends.mdx
  network/load-balancer/how-to/create-load-balancer.mdx
  network/load-balancer/how-to/create-manage-acls.mdx
  network/load-balancer/how-to/create-manage-flex-ips.mdx
  network/load-balancer/how-to/create-manage-routes.mdx
  network/load-balancer/how-to/delete-load-balancer.mdx
  network/load-balancer/how-to/manage-frontends-and-backends.mdx
  network/load-balancer/how-to/monitor-lb-cockpit.mdx
  network/load-balancer/how-to/set-up-s3-failover.mdx
  network/load-balancer/how-to/use-with-private-network.mdx
  network/load-balancer/quickstart.mdx
  network/load-balancer/reference-content/acls.mdx
  network/load-balancer/reference-content/configuring-backends.mdx
  network/load-balancer/reference-content/configuring-frontends.mdx
  network/load-balancer/reference-content/http2-http3.mdx
  network/load-balancer/reference-content/sni-route-deprecation.mdx
  network/load-balancer/reference-content/ssl-bridging-offloading-passthrough.mdx
  network/load-balancer/troubleshooting/load-balancer-limitations.mdx
Owners: @RoRoJ

fix(iot): add missing word (#2937)
  managed-services/iot-hub/reference-content/networks.mdx
Owners: @farhakennar

int-fix-tutorial-sns-instances (#2940)
  tutorials/sns-instances-notification-system/assets/publisher-home.webp
  tutorials/sns-instances-notification-system/assets/subscriber-home.webp
  tutorials/sns-instances-notification-system/index.mdx
Owners: none

fix(tutorials): fix broken link and indentation (#2947)
  tutorials/nextjs-app-serverless-functions-sqldb/index.mdx
Owners: none

review nene
  network/load-balancer/how-to/add-certificate.mdx
Owners: @RoRoJ

review nene
  network/vpc/how-to/activate-dhcp.mdx
  network/vpc/how-to/create-private-network.mdx
Owners: @RoRoJ

review nene
  identity-and-access-management/iam/api-cli/managing-projects.mdx
  identity-and-access-management/iam/how-to/create-application.mdx
  identity-and-access-management/iam/how-to/create-group.mdx
Owners: @ldecarvalho-doc

fix(tutorial): fix image
  tutorials/sns-instances-notification-system/assets/publisher-home.webp
  tutorials/sns-instances-notification-system/assets/scw-publ-home.webp
  tutorials/sns-instances-notification-system/index.mdx
Owners: none

Apply suggestions from code review
  changelog/march2024/2024-03-22-kubernetes-changed-routed-ips-now-default-on-new-kubern.mdx
Owners: none

Apply suggestions from code review
  changelog/march2024/2024-03-22-kubernetes-changed-routed-ips-now-default-on-new-kubern.mdx
Owners: none

fix(tutorial): fix image (#2949)
  tutorials/sns-instances-notification-system/assets/publisher-home.webp
  tutorials/sns-instances-notification-system/assets/scw-publ-home.webp
  tutorials/sns-instances-notification-system/index.mdx
Owners: none

.github/CODEOWNERS:

#This is a list of people who will be tagged whenever a PR is opened to edit one of the files listed below.

# Samy
storage/object/  @SamyOubouaziz
serverless/containers/ @SamyOubouaziz
serverless/functions/ @SamyOubouaziz
console/ @farhakennar @SamyOubouaziz @ldecarvalho-doc

# Rowena
network/vpc/ @RoRoJ
network/public-gateways/ @RoRoJ
network/load-balancer/ @RoRoJ
serverless/messaging/ @RoRoJ

# Benedikt
compute/gpu/ @bene2k1
compute/instances/ @bene2k1
bare-metal/dedibox/ @bene2k1
bare-metal/elastic-metal/ @bene2k1
containers/kubernetes/ @bene2k1
storage/block/ @bene2k1 @ldecarvalho-doc
managed-services/webhosting/ @bene2k1
dedibox/ @bene2k1
dedibox-network/ @bene2k1
dedibox-console/ @bene2k1

# NÃ©da
managed-services/transactional-email/ @nerda-codes
observability/ @nerda-codes
network/domains-and-dns/ @nerda-codes
identity-and-access-management/secret-manager/ @nerda-codes

# Luiza
identity-and-access-management/iam/ @ldecarvalho-doc
managed-databases/document-database/ @ldecarvalho-doc
managed-databases/postgresql-and-mysql/ @ldecarvalho-doc
managed-databases/redis/ @ldecarvalho-doc
containers/container-registry/ @ldecarvalho-doc
labs/ @ldecarvalho-doc

# Farha
bare-metal/apple-silicon/ @farhakennar
managed-services/iot-hub/ @farhakennar
