Repository scaleway/docs-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SamyOubouaziz, @farhakennar, @ldecarvalho-doc, @RoRoJ, @bene2k1, @nerda-codes

fix(rdb): review neda
  managed-databases/postgresql-and-mysql/reference-content/security-and-reliability.mdx
Owners: @ldecarvalho-doc

Update console/account/how-to/close-account.mdx
  console/account/how-to/close-account.mdx
Owners: @farhakennar, @SamyOubouaziz, @ldecarvalho-doc

Update console/account/how-to/close-account.mdx
  console/account/how-to/close-account.mdx
Owners: @farhakennar, @SamyOubouaziz, @ldecarvalho-doc

Update console/account/how-to/close-account.mdx
  console/account/how-to/close-account.mdx
Owners: @farhakennar, @SamyOubouaziz, @ldecarvalho-doc

Update console/account/how-to/manage-my-personal-data-gdpr.mdx
  console/account/how-to/manage-my-personal-data-gdpr.mdx
Owners: @farhakennar, @SamyOubouaziz, @ldecarvalho-doc

chore(ddx): update dns cache ips (#2990)
  dedibox-network/network/how-to/configure-network-netplan.mdx
Owners: @bene2k1

Apply suggestions from code review
  console/account/how-to/close-account.mdx
  console/account/how-to/manage-my-personal-data-gdpr.mdx
Owners: @farhakennar, @SamyOubouaziz, @ldecarvalho-doc

docs(cpt): fix
  faq/cockpit.mdx
Owners: none

docs(cpt): fix (#2997)
  faq/cockpit.mdx
Owners: none

fix(rdb): review franck
  managed-databases/postgresql-and-mysql/reference-content/security-and-reliability.mdx
Owners: @ldecarvalho-doc

feat(rdb): shared responsibility MTA-4383 (#2993)
  managed-databases/postgresql-and-mysql/how-to/manage-read-replica.mdx
  managed-databases/postgresql-and-mysql/reference-content/security-and-reliability.mdx
  menu/navigation.json
Owners: @ldecarvalho-doc

feat(rdb): fix indent
  managed-databases/postgresql-and-mysql/reference-content/security-and-reliability.mdx
Owners: @ldecarvalho-doc

feat(rdb): fix indent (#2998)
  managed-databases/postgresql-and-mysql/reference-content/security-and-reliability.mdx
Owners: @ldecarvalho-doc

docs(fix): typo
  managed-databases/postgresql-and-mysql/reference-content/security-and-reliability.mdx
Owners: @ldecarvalho-doc

docs(s3): update object restore procedure MTA-4395
  storage/object/how-to/restore-an-object-from-glacier.mdx
Owners: @SamyOubouaziz

fix(tutorials): add seo descriptions for tutorials
  serverless/messaging/index.mdx
  tutorials/create-serverless-scraping/index.mdx
  tutorials/large-messages/index.mdx
  tutorials/sns-instances-notification-system/index.mdx
Owners: @RoRoJ

docs(fix): change wording for several sentences
  managed-databases/postgresql-and-mysql/reference-content/security-and-reliability.mdx
Owners: @ldecarvalho-doc

fix(rdb): review neda
  managed-databases/postgresql-and-mysql/reference-content/security-and-reliability.mdx
Owners: @ldecarvalho-doc

docs(fix): typo (#2999)
  managed-databases/postgresql-and-mysql/reference-content/security-and-reliability.mdx
Owners: @ldecarvalho-doc

doc(tuto): add example for offsite backup between regions or clouders
  tutorials/migrate-data-rclone/index.mdx
Owners: none

fix(tutorials): add seo descriptions for tutorials (#3001)
  serverless/messaging/index.mdx
  tutorials/create-serverless-scraping/index.mdx
  tutorials/large-messages/index.mdx
  tutorials/sns-instances-notification-system/index.mdx
Owners: @RoRoJ

docs(srv): rebase
  serverless/jobs/reference-content/jobs-limitations.mdx
Owners: none

docs(srv): add jobs troubleshooting and limitations MTA-4365 (#2992)
  menu/navigation.json
  serverless/jobs/reference-content/jobs-limitations.mdx
  serverless/jobs/troubleshooting/common-errors.mdx
Owners: none

fix(vpc): review
  network/vpc/how-to/attach-resources-to-pn.mdx
  network/vpc/how-to/create-private-network.mdx
  network/vpc/how-to/delete-private-network.mdx
  network/vpc/troubleshooting/vpc-limitations.mdx
Owners: @RoRoJ

docs(gen): requirement macro small update
  macros/iam/requirements.mdx
  managed-services/transactional-email/how-to/add-dmarc-record.mdx
Owners: @nerda-codes

docs(gen): doc review 1
  docs/CONTRIBUTING.md
Owners: none

Update navigation.json to fix
  menu/navigation.json
Owners: none

Update navigation.json to fix (#3004)
  menu/navigation.json
Owners: none

fix(webhosting): typo
  managed-services/webhosting/quickstart.mdx
Owners: @bene2k1

docs(gen): requirement macro small update (#3003)
  macros/iam/requirements.mdx
  managed-services/transactional-email/how-to/add-dmarc-record.mdx
Owners: @nerda-codes

fix(pgw): add ip mob date
  network/public-gateways/how-to/move-to-routed-ip.mdx
Owners: @RoRoJ

feat(pgw): document ip mobility (#2899)
  menu/navigation.json
  network/public-gateways/concepts.mdx
  network/public-gateways/how-to/assets/scaleway-confirm-pgw-ip-move.webp
  network/public-gateways/how-to/assets/scaleway-move-pgw-ip.webp
  network/public-gateways/how-to/move-to-routed-ip.mdx
Owners: @RoRoJ

fix(tem): content review
  managed-services/transactional-email/troubleshooting/delist-domain.mdx
Owners: @nerda-codes

fix(ddx): fixed typo
  dedibox-network/network/index.mdx
Owners: @bene2k1

fix(webhosting): typo (#3005)
  managed-services/webhosting/quickstart.mdx
Owners: @bene2k1

chore(ddx): update docs
  bare-metal/dedibox/how-to/activate-ipv6-block.mdx
  dedibox/hardware/how-to/configure-dell-perc-h200.mdx
  dedibox/hardware/how-to/configure-dell-perc-h310.mdx
  dedibox/hardware/how-to/configure-dell-perc-h700.mdx
  dedibox/hardware/how-to/configure-dell-perc-h800.mdx
  dedibox/hardware/how-to/configure-hp-smart-array-p410.mdx
  dedibox/hardware/how-to/configure-hp-smart-array-p420.mdx
  dedibox/hardware/troubleshooting/diagnose-defective-disk.mdx
Owners: @bene2k1

feat(changelog): add new entry
  changelog/april2024/2024-04-03-block-storage-added-low-latency-offers-integration-in-c.mdx
Owners: none

docs(s3): doc review 1
  storage/object/how-to/restore-an-object-from-glacier.mdx
Owners: @SamyOubouaziz

chore(k8s): update content
  ai-data/llm-inference/how-to/create-deployment.mdx
  containers/kubernetes/reference-content/kubernetes-control-plane-offers.mdx
Owners: @bene2k1

docs(ddx): requirement section update
  bare-metal/dedibox/concepts.mdx
  bare-metal/dedibox/how-to/activate-ipv6-block.mdx
  bare-metal/dedibox/how-to/attach-detach-failover-ip.mdx
  bare-metal/dedibox/how-to/configure-failover-ip.mdx
  bare-metal/dedibox/how-to/configure-ipv6-dedibox.mdx
  bare-metal/dedibox/how-to/configure-reverse-failover-ip.mdx
  bare-metal/dedibox/how-to/connect-to-dedibox.mdx
  bare-metal/dedibox/how-to/install-dedibox.mdx
  bare-metal/dedibox/how-to/link-dedibox-account.mdx
  bare-metal/dedibox/how-to/modify-server-options.mdx
  bare-metal/dedibox/how-to/order-dedibox.mdx
  bare-metal/dedibox/how-to/order-failover-ip.mdx
  bare-metal/dedibox/how-to/reinstall-dedibox.mdx
  bare-metal/dedibox/how-to/terminate-dedibox.mdx
  bare-metal/dedibox/how-to/use-rescue-mode.mdx
  bare-metal/dedibox/quickstart.mdx
  dedibox-console/classic-hosting/how-to/configure-backup-option.mdx
  dedibox/kvm-over-ip/how-to/supermicro.mdx
  developer-tools/terraform/quickstart.mdx
  managed-services/iot-hub/api-cli/cli-db-tips-tricks.mdx
  managed-services/iot-hub/api-cli/iot-hub-routes.mdx
  tutorials/python-lists-dicts/index.mdx
Owners: @bene2k1, @farhakennar

.github/CODEOWNERS:

#This is a list of people who will be tagged whenever a PR is opened to edit one of the files listed below.

# Samy
storage/object/  @SamyOubouaziz
serverless/containers/ @SamyOubouaziz
serverless/functions/ @SamyOubouaziz
console/ @farhakennar @SamyOubouaziz @ldecarvalho-doc

# Rowena
network/vpc/ @RoRoJ
network/public-gateways/ @RoRoJ
network/load-balancer/ @RoRoJ
serverless/messaging/ @RoRoJ

# Benedikt
compute/gpu/ @bene2k1
compute/instances/ @bene2k1
bare-metal/dedibox/ @bene2k1
bare-metal/elastic-metal/ @bene2k1
containers/kubernetes/ @bene2k1
storage/block/ @bene2k1 @ldecarvalho-doc
managed-services/webhosting/ @bene2k1
dedibox/ @bene2k1
dedibox-network/ @bene2k1
dedibox-console/ @bene2k1

# NÃ©da
managed-services/transactional-email/ @nerda-codes
observability/ @nerda-codes
network/domains-and-dns/ @nerda-codes
identity-and-access-management/secret-manager/ @nerda-codes

# Luiza
identity-and-access-management/iam/ @ldecarvalho-doc
managed-databases/document-database/ @ldecarvalho-doc
managed-databases/postgresql-and-mysql/ @ldecarvalho-doc
managed-databases/redis/ @ldecarvalho-doc
containers/container-registry/ @ldecarvalho-doc
labs/ @ldecarvalho-doc

# Farha
bare-metal/apple-silicon/ @farhakennar
managed-services/iot-hub/ @farhakennar
