Repository scaleway/docs-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SamyOubouaziz, @farhakennar, @ldecarvalho-doc, @RoRoJ, @bene2k1, @nerda-codes

.github/CODEOWNERS:

#This is a list of people who will be tagged whenever a PR is opened to edit one of the files listed below.

# Samy
storage/object/  @SamyOubouaziz
serverless/containers/ @SamyOubouaziz
serverless/functions/ @SamyOubouaziz
console/ @farhakennar @SamyOubouaziz @ldecarvalho-doc

# Rowena
network/vpc/ @RoRoJ
network/public-gateways/ @RoRoJ
network/load-balancer/ @RoRoJ
serverless/messaging/ @RoRoJ

# Benedikt
compute/gpu/ @bene2k1
compute/instances/ @bene2k1
bare-metal/dedibox/ @bene2k1
bare-metal/elastic-metal/ @bene2k1
containers/kubernetes/ @bene2k1
storage/block/ @bene2k1 @ldecarvalho-doc
managed-services/webhosting/ @bene2k1
dedibox/ @bene2k1
dedibox-network/ @bene2k1
dedibox-console/ @bene2k1

# NÃ©da
managed-services/transactional-email/ @nerda-codes
observability/ @nerda-codes
network/domains-and-dns/ @nerda-codes
identity-and-access-management/secret-manager/ @nerda-codes

# Luiza
identity-and-access-management/iam/ @ldecarvalho-doc
managed-databases/document-database/ @ldecarvalho-doc
managed-databases/postgresql-and-mysql/ @ldecarvalho-doc
managed-databases/redis/ @ldecarvalho-doc
containers/container-registry/ @ldecarvalho-doc
labs/ @ldecarvalho-doc

# Farha
bare-metal/apple-silicon/ @farhakennar
managed-services/iot-hub/ @farhakennar

docs(pgw): requirements update (#2946)
  network/public-gateways/how-to/configure-a-public-gateway.mdx
  network/public-gateways/how-to/create-a-public-gateway.mdx
  network/public-gateways/how-to/delete-a-public-gateway.mdx
  network/public-gateways/how-to/use-flexible-ips.mdx
  network/public-gateways/how-to/use-ssh-bastion.mdx
  network/public-gateways/quickstart.mdx
  network/public-gateways/troubleshooting/cant-connect-to-instance-with-pn-gateway.mdx
  network/public-gateways/troubleshooting/gateway-services-not-working.mdx
Owners: @RoRoJ

docs(iam): requirements update (#2943)
  identity-and-access-management/iam/api-cli/managing-projects.mdx
  identity-and-access-management/iam/how-to/accept-invitation-to-orga.mdx
  identity-and-access-management/iam/how-to/create-api-keys.mdx
  identity-and-access-management/iam/how-to/create-application.mdx
  identity-and-access-management/iam/how-to/create-group.mdx
  identity-and-access-management/iam/how-to/create-policy.mdx
  identity-and-access-management/iam/how-to/invite-user-to-orga.mdx
  identity-and-access-management/iam/how-to/manage-api-keys.mdx
  identity-and-access-management/iam/how-to/manage-applications.mdx
  identity-and-access-management/iam/how-to/manage-groups.mdx
  identity-and-access-management/iam/how-to/manage-policies.mdx
  identity-and-access-management/iam/how-to/manage-users.mdx
  identity-and-access-management/iam/how-to/view-logs.mdx
  identity-and-access-management/iam/quickstart.mdx
  identity-and-access-management/iam/reference-content/overview.mdx
  identity-and-access-management/iam/reference-content/reproduce-roles-project-api-keys.mdx
  identity-and-access-management/iam/reference-content/users-groups-and-applications.mdx
Owners: @ldecarvalho-doc

docs(k8s): requirements update part 1 (#2938)
  containers/kubernetes/api-cli/changing-control-plane-offer.mdx
  containers/kubernetes/api-cli/cluster-monitoring.mdx
  containers/kubernetes/api-cli/creating-managing-kubernetes-lifecycle-cliv2.mdx
  containers/kubernetes/api-cli/managing-storage.mdx
  containers/kubernetes/api-cli/managing-tags.mdx
  containers/kubernetes/how-to/access-audit-logs.mdx
  containers/kubernetes/how-to/access-kubernetes-dashboard.mdx
  containers/kubernetes/how-to/change-container-runtime-interface.mdx
  containers/kubernetes/how-to/connect-cluster-kubectl.mdx
  containers/kubernetes/how-to/create-cluster.mdx
  containers/kubernetes/how-to/create-kosmos-cluster.mdx
  containers/kubernetes/how-to/delete-cluster.mdx
  containers/kubernetes/how-to/deploy-image-from-container-registry.mdx
  containers/kubernetes/how-to/deploy-ingress-controller.mdx
  containers/kubernetes/how-to/deploy-x86-arm-images.mdx
  containers/kubernetes/how-to/edit-cluster.mdx
  containers/kubernetes/how-to/edit-kosmos-cluster.mdx
  containers/kubernetes/how-to/enable-disable-ssh.mdx
  containers/kubernetes/how-to/enable-easy-deploy.mdx
  containers/kubernetes/how-to/monitor-cluster.mdx
  containers/kubernetes/how-to/upgrade-kubernetes-version.mdx
  containers/kubernetes/how-to/use-nvidia-gpu-operator.mdx
  containers/kubernetes/how-to/use-scratch-storage-h100.mdx
Owners: @bene2k1

docs(vpc): requirements update (#2945)
  network/vpc/how-to/activate-dhcp.mdx
  network/vpc/how-to/attach-resources-to-pn.mdx
  network/vpc/how-to/create-private-network.mdx
  network/vpc/how-to/create-vpc.mdx
  network/vpc/how-to/delete-private-network.mdx
  network/vpc/how-to/delete-vpc.mdx
  network/vpc/quickstart.mdx
  network/vpc/troubleshooting/autoconfig-not-working.mdx
  network/vpc/troubleshooting/pn-name.mdx
Owners: @RoRoJ

docs(lb): requirements update (#2948)
  network/load-balancer/api-cli/configuring-balancing-rules.mdx
  network/load-balancer/api-cli/setting-up-ssl-offloading.mdx
  network/load-balancer/how-to/add-certificate.mdx
  network/load-balancer/how-to/create-frontends-backends.mdx
  network/load-balancer/how-to/create-load-balancer.mdx
  network/load-balancer/how-to/create-manage-acls.mdx
  network/load-balancer/how-to/create-manage-flex-ips.mdx
  network/load-balancer/how-to/create-manage-routes.mdx
  network/load-balancer/how-to/delete-load-balancer.mdx
  network/load-balancer/how-to/manage-frontends-and-backends.mdx
  network/load-balancer/how-to/monitor-lb-cockpit.mdx
  network/load-balancer/how-to/set-up-s3-failover.mdx
  network/load-balancer/how-to/use-with-private-network.mdx
  network/load-balancer/quickstart.mdx
  network/load-balancer/reference-content/acls.mdx
  network/load-balancer/reference-content/configuring-backends.mdx
  network/load-balancer/reference-content/configuring-frontends.mdx
  network/load-balancer/reference-content/http2-http3.mdx
  network/load-balancer/reference-content/sni-route-deprecation.mdx
  network/load-balancer/reference-content/ssl-bridging-offloading-passthrough.mdx
  network/load-balancer/troubleshooting/load-balancer-limitations.mdx
Owners: @RoRoJ

Update tutorials/run-manage-linux-vm-on-apple-silicon-tart/index.mdx
  tutorials/run-manage-linux-vm-on-apple-silicon-tart/index.mdx
Owners: none

docs(gen): requirements update final part (#2934)
  tutorials/remote-desktop-with-xrdp/index.mdx
  tutorials/restic-s3-backup/index.mdx
  tutorials/rtmp-self-hosted-streaming/index.mdx
  tutorials/ruby-on-rails/index.mdx
  tutorials/run-manage-linux-vm-on-apple-silicon-tart/index.mdx
  tutorials/run-messaging-platform-with-rocketchat/index.mdx
  tutorials/run-nodejs-express-server-on-serverless-containers/index.mdx
  tutorials/run-python-flask-server-on-serverless-container/index.mdx
  tutorials/s3-customize-url-cname/index.mdx
  tutorials/s3cmd/index.mdx
  tutorials/scaleway-packer-plugin/index.mdx
  tutorials/scaleway-slack-community/index.mdx
  tutorials/self-hosted-repository-gitea/index.mdx
  tutorials/send-emails-tem-serverless-framework/index.mdx
  tutorials/send-emails-with-serverless-and-tem/index.mdx
  tutorials/send-sms-iot-device-twilio/index.mdx
  tutorials/sentry-error-tracking/index.mdx
  tutorials/set-up-spf-dkim-for-dns-providers/index.mdx
  tutorials/set-up-yunohost-debian/index.mdx
  tutorials/setting-up-tunnel/index.mdx
  tutorials/setup-ampere-ai-framework-arm-instances/index.mdx
  tutorials/setup-cockroachdb-cluster/index.mdx
  tutorials/setup-elastic-metal-proxmox-cluster-with-private-networks/index.mdx
  tutorials/setup-jupyter-notebook/index.mdx
Owners: none

Apply suggestions from code review
  containers/kubernetes/reference-content/kubernetes-load-balancer.mdx
  containers/kubernetes/reference-content/managing-load-balancer-ips.mdx
  containers/kubernetes/reference-content/multi-az-clusters.mdx
  containers/kubernetes/troubleshooting/containers-not-starting-arm-instances.mdx
Owners: @bene2k1

docs(llm): fixed formatting
  ai-data/llm-inference/reference-content/llama-2-70b.mdx
  ai-data/llm-inference/reference-content/mixtral-8x7b.mdx
  ai-data/llm-inference/reference-content/wizardlm-70b.mdx
Owners: none

docs(dom): requirements update
  network/domains-and-dns/how-to/add-external-domain.mdx
  network/domains-and-dns/how-to/configure-autorenew.mdx
  network/domains-and-dns/how-to/configure-dns-zones.mdx
  network/domains-and-dns/how-to/configure-dnssec-internal-domain.mdx
  network/domains-and-dns/how-to/delete-external-domain.mdx
  network/domains-and-dns/how-to/manage-dns-records.mdx
  network/domains-and-dns/how-to/manage-external-domain.mdx
  network/domains-and-dns/how-to/manage-nameservers-internal-domain.mdx
  network/domains-and-dns/how-to/register-internal-domain.mdx
  network/domains-and-dns/how-to/renew-domain.mdx
  network/domains-and-dns/how-to/transfer-external-domain.mdx
  network/domains-and-dns/how-to/unlock-internal-domain.mdx
  network/domains-and-dns/quickstart.mdx
  network/domains-and-dns/reference-content/understanding-dns-records.mdx
  network/domains-and-dns/reference-content/understanding-domains-and-dns.mdx
Owners: @nerda-codes

docs(dom): requirements update (#2950)
  network/domains-and-dns/how-to/add-external-domain.mdx
  network/domains-and-dns/how-to/configure-autorenew.mdx
  network/domains-and-dns/how-to/configure-dns-zones.mdx
  network/domains-and-dns/how-to/configure-dnssec-internal-domain.mdx
  network/domains-and-dns/how-to/delete-external-domain.mdx
  network/domains-and-dns/how-to/manage-dns-records.mdx
  network/domains-and-dns/how-to/manage-external-domain.mdx
  network/domains-and-dns/how-to/manage-nameservers-internal-domain.mdx
  network/domains-and-dns/how-to/register-internal-domain.mdx
  network/domains-and-dns/how-to/renew-domain.mdx
  network/domains-and-dns/how-to/transfer-external-domain.mdx
  network/domains-and-dns/how-to/unlock-internal-domain.mdx
  network/domains-and-dns/quickstart.mdx
  network/domains-and-dns/reference-content/understanding-dns-records.mdx
  network/domains-and-dns/reference-content/understanding-domains-and-dns.mdx
Owners: @nerda-codes

docs(llm): minor edits
  ai-data/llm-inference/concepts.mdx
  ai-data/llm-inference/how-to/delete-deployment.mdx
  ai-data/llm-inference/how-to/monitor-deployment.mdx
  ai-data/llm-inference/quickstart.mdx
  ai-data/llm-inference/reference-content/llama-2-70b.mdx
  ai-data/llm-inference/reference-content/mixtral-8x7b.mdx
  ai-data/llm-inference/reference-content/wizardlm-70b.mdx
Owners: none

docs(red): requirements update
  managed-databases/redis/api-cli/managing-username-and-password.mdx
  managed-databases/redis/api-cli/using-pub-sub-feature.mdx
  managed-databases/redis/how-to/configure-advanced-settings-redis.mdx
  managed-databases/redis/how-to/connect-to-redis-database-instance.mdx
  managed-databases/redis/how-to/create-a-database-for-redis.mdx
  managed-databases/redis/how-to/delete-a-database-for-redis.mdx
  managed-databases/redis/how-to/manage-allowed-ip-addresses-redis.mdx
  managed-databases/redis/how-to/scale-up-a-database-for-redis.mdx
  managed-databases/redis/quickstart.mdx
  managed-databases/redis/reference-content/default-user-permissions.mdx
Owners: @ldecarvalho-doc

fix(pgw): add dates
  network/public-gateways/how-to/move-to-routed-ip.mdx
Owners: @RoRoJ

review nene
  tutorials/jitsi-debian-stretch/index.mdx
  tutorials/jitsi-debian/index.mdx
  tutorials/jitsi-docker/index.mdx
  tutorials/jitsi-ubuntu-bionic/index.mdx
  tutorials/jitsi-ubuntu-focal-fossa/index.mdx
  tutorials/jitsi-ubuntu-jammy-jellyfish/index.mdx
  tutorials/k8s-velero-backup/index.mdx
  tutorials/manage-container-registry-images/index.mdx
  tutorials/mariadb-ubuntu-bionic/index.mdx
Owners: none

docs(rdb): requirements update
  managed-databases/postgresql-and-mysql/api-cli/migrating-endpoints.mdx
  managed-databases/postgresql-and-mysql/how-to/add-a-database.mdx
  managed-databases/postgresql-and-mysql/how-to/add-users.mdx
  managed-databases/postgresql-and-mysql/how-to/change-volume-type.mdx
  managed-databases/postgresql-and-mysql/how-to/clone-a-database-instance.mdx
  managed-databases/postgresql-and-mysql/how-to/configure-advanced-settings.mdx
  managed-databases/postgresql-and-mysql/how-to/connect-database-instance.mdx
  managed-databases/postgresql-and-mysql/how-to/connect-database-private-network.mdx
  managed-databases/postgresql-and-mysql/how-to/create-a-database.mdx
  managed-databases/postgresql-and-mysql/how-to/create-read-replica.mdx
  managed-databases/postgresql-and-mysql/how-to/delete-a-database.mdx
  managed-databases/postgresql-and-mysql/how-to/delete-db.mdx
  managed-databases/postgresql-and-mysql/how-to/enable-autobackup.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-allowed-ip-addresses.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-manual-backups.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-permissions.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-read-replica.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-snapshots.mdx
  managed-databases/postgresql-and-mysql/how-to/remove-public-endpoint.mdx
  managed-databases/postgresql-and-mysql/how-to/renew-tls-certificate.mdx
  managed-databases/postgresql-and-mysql/how-to/upgrade-a-database.mdx
  managed-databases/postgresql-and-mysql/how-to/upgrade-version.mdx
  managed-databases/postgresql-and-mysql/quickstart.mdx
Owners: @ldecarvalho-doc

docs(llm): fix indention
  ai-data/llm-inference/reference-content/llama-2-70b.mdx
Owners: none

feat(bare-metal): add tutorial to boot a custom kernel on EM-RV1
  bare-metal/elastic-metal/reference-content/elastic-metal-understanding-rv1-usage.mdx
Owners: @bene2k1

docs(llm): fix spacing
  ai-data/llm-inference/reference-content/wizardlm-70b.mdx
Owners: none

docs(dom): weekly review
  network/domains-and-dns/how-to/renew-domain.mdx
  network/domains-and-dns/how-to/transfer-external-domain.mdx
Owners: @nerda-codes

docs(mas): tem requirements update
  managed-services/transactional-email/how-to/add-mx-record-to-your-domain.mdx
  managed-services/transactional-email/how-to/add-spf-dkim-records-to-your-domain.mdx
  managed-services/transactional-email/how-to/configure-domain-with-transactional-email.mdx
  managed-services/transactional-email/how-to/delete-tem-domain.mdx
  managed-services/transactional-email/how-to/generate-api-keys-for-tem-with-iam.mdx
  managed-services/transactional-email/how-to/manage-email-activity.mdx
  managed-services/transactional-email/quickstart.mdx
  managed-services/transactional-email/reference-content/dmarc-configuration.mdx
  managed-services/transactional-email/reference-content/protecting-your-domain-reputation.mdx
  managed-services/transactional-email/reference-content/understanding-tem-reputation-score.mdx
  managed-services/transactional-email/troubleshooting/delist-domain.mdx
Owners: @nerda-codes

Apply suggestions from code review
  console/account/how-to/use-the-search-bar.mdx
Owners: @farhakennar, @SamyOubouaziz, @ldecarvalho-doc

docs(em): add link to netplan config
  bare-metal/elastic-metal/how-to/configure-flexible-ip.mdx
Owners: @bene2k1

docs(compute): review docs
  bare-metal/elastic-metal/how-to/use-private-networks.mdx
  bare-metal/elastic-metal/troubleshooting/enable-ssh-virtualization-distribution.mdx
  compute/gpu/reference-content/understanding-nvidia-tao.mdx
  dedibox-network/dns/how-to/configure-reverse-dns.mdx
  dedibox-network/dns/how-to/configure-secondary-dns.mdx
  dedibox-network/domains/how-to/enable-dnssec.mdx
  dedibox-network/domains/how-to/file-contact-info.mdx
  dedibox-network/domains/quickstart.mdx
Owners: @bene2k1

Apply suggestions from code review
  compute/instances/reference-content/identify-devices.mdx
Owners: @bene2k1

docs(k8s): requirements update part 2 (#2941)
  containers/kubernetes/quickstart.mdx
  containers/kubernetes/reference-content/introduction-to-kubernetes.mdx
  containers/kubernetes/reference-content/kubernetes-cheatsheet.mdx
  containers/kubernetes/reference-content/kubernetes-control-plane-offers.mdx
  containers/kubernetes/reference-content/kubernetes-load-balancer.mdx
  containers/kubernetes/reference-content/lb-ingress-controller.mdx
  containers/kubernetes/reference-content/managed-kubernetes-service-definition.mdx
  containers/kubernetes/reference-content/managing-load-balancer-ips.mdx
  containers/kubernetes/reference-content/multi-az-clusters.mdx
  containers/kubernetes/reference-content/secure-cluster-with-private-network.mdx
  containers/kubernetes/reference-content/using-load-balancer-annotations.mdx
  containers/kubernetes/reference-content/version-support-policy.mdx
  containers/kubernetes/reference-content/wildcard-dns.mdx
  containers/kubernetes/troubleshooting/containers-not-starting-arm-instances.mdx
Owners: @bene2k1

Update managed-databases/redis/api-cli/managing-username-and-password.mdx
  managed-databases/redis/api-cli/managing-username-and-password.mdx
Owners: @ldecarvalho-doc

feat(changelog): add new entry
  changelog/march2024/2024-03-25-postgresql-and-mysql-added-ability-to-remove-public-end.mdx
Owners: none

Apply suggestions from code review
  network/domains-and-dns/concepts.mdx
  network/domains-and-dns/how-to/trade-domain.mdx
Owners: @nerda-codes

Apply suggestions from code review
  network/domains-and-dns/how-to/trade-domain.mdx
Owners: @nerda-codes

docs(iot): requirements update
  managed-services/iot-hub/api-cli/cli-db-tips-tricks.mdx
  managed-services/iot-hub/api-cli/getting-started-with-iot-hub-api.mdx
  managed-services/iot-hub/api-cli/getting-started-with-iot-hub-cli.mdx
  managed-services/iot-hub/api-cli/iot-hub-routes.mdx
  managed-services/iot-hub/api-cli/migrating-from-api-v1beta1.mdx
  managed-services/iot-hub/how-to/add-device.mdx
  managed-services/iot-hub/how-to/change-plan.mdx
  managed-services/iot-hub/how-to/connect-default-mqtt-network.mdx
  managed-services/iot-hub/how-to/connect-default-websocket-network.mdx
  managed-services/iot-hub/how-to/create-hub.mdx
  managed-services/iot-hub/how-to/create-route.mdx
  managed-services/iot-hub/how-to/delete-device.mdx
  managed-services/iot-hub/how-to/delete-hub.mdx
  managed-services/iot-hub/how-to/delete-route.mdx
  managed-services/iot-hub/how-to/enable-auto-provisioning.mdx
  managed-services/iot-hub/how-to/enable-disable-hub.mdx
  managed-services/iot-hub/how-to/provide-own-certificate-authority.mdx
  managed-services/iot-hub/how-to/provide-own-device-certificate.mdx
  managed-services/iot-hub/how-to/renew-device-certificate.mdx
  managed-services/iot-hub/how-to/setup-use-rest-network.mdx
  managed-services/iot-hub/how-to/setup-use-sigfox-network.mdx
  managed-services/iot-hub/how-to/simulate-event.mdx
  managed-services/iot-hub/how-to/trigger-functions-from-messages.mdx
  managed-services/iot-hub/how-to/understand-event-messages.mdx
  managed-services/iot-hub/how-to/use-mqtt-webclient.mdx
  managed-services/iot-hub/how-to/view-metrics.mdx
  managed-services/iot-hub/quickstart.mdx
  managed-services/iot-hub/reference-content/certificate.mdx
  managed-services/iot-hub/reference-content/devices.mdx
  managed-services/iot-hub/reference-content/hubs.mdx
  managed-services/iot-hub/reference-content/networks.mdx
  managed-services/iot-hub/reference-content/overview.mdx
  managed-services/iot-hub/reference-content/routes.mdx
  managed-services/iot-hub/reference-content/twins.mdx
Owners: @farhakennar

[LLM] New docs (#2828)
  ai-data/index.mdx
  ai-data/llm-inference/concepts.mdx
  ai-data/llm-inference/how-to/create-deployment.mdx
  ai-data/llm-inference/how-to/delete-deployment.mdx
  ai-data/llm-inference/how-to/index.mdx
  ai-data/llm-inference/how-to/manage-allowed-ips.mdx
  ai-data/llm-inference/how-to/monitor-deployment.mdx
  ai-data/llm-inference/index.mdx
  ai-data/llm-inference/quickstart.mdx
  ai-data/llm-inference/reference-content/index.mdx
  ai-data/llm-inference/reference-content/llama-2-70b.mdx
  ai-data/llm-inference/reference-content/mixtral-8x7b.mdx
  ai-data/llm-inference/reference-content/wizardlm-70b.mdx
  menu/changelogs.json
  menu/filters.json
  menu/navigation.json
Owners: none

docs(llm): fix typo
  ai-data/llm-inference/reference-content/wizardlm-70b.mdx
Owners: none

docs(llm): fix typo (#2959)
  ai-data/llm-inference/reference-content/wizardlm-70b.mdx
Owners: none

docs(em): add link to netplan config (#2955)
  bare-metal/elastic-metal/how-to/configure-flexible-ip.mdx
Owners: @bene2k1

docs(dom): weekly review (#2953)
  network/domains-and-dns/how-to/renew-domain.mdx
  network/domains-and-dns/how-to/transfer-external-domain.mdx
Owners: @nerda-codes

feat(bare-metal): add tutorial to boot a custom kernel on EM-RV1 (#2935)
  bare-metal/elastic-metal/reference-content/elastic-metal-understanding-rv1-usage.mdx
Owners: @bene2k1

Update managed-services/iot-hub/how-to/delete-route.mdx
  managed-services/iot-hub/how-to/delete-route.mdx
Owners: @farhakennar

docs(iot): requirements update (#2958)
  managed-services/iot-hub/api-cli/cli-db-tips-tricks.mdx
  managed-services/iot-hub/api-cli/getting-started-with-iot-hub-api.mdx
  managed-services/iot-hub/api-cli/getting-started-with-iot-hub-cli.mdx
  managed-services/iot-hub/api-cli/iot-hub-routes.mdx
  managed-services/iot-hub/api-cli/migrating-from-api-v1beta1.mdx
  managed-services/iot-hub/how-to/add-device.mdx
  managed-services/iot-hub/how-to/change-plan.mdx
  managed-services/iot-hub/how-to/connect-default-mqtt-network.mdx
  managed-services/iot-hub/how-to/connect-default-websocket-network.mdx
  managed-services/iot-hub/how-to/create-hub.mdx
  managed-services/iot-hub/how-to/create-route.mdx
  managed-services/iot-hub/how-to/delete-device.mdx
  managed-services/iot-hub/how-to/delete-hub.mdx
  managed-services/iot-hub/how-to/delete-route.mdx
  managed-services/iot-hub/how-to/enable-auto-provisioning.mdx
  managed-services/iot-hub/how-to/enable-disable-hub.mdx
  managed-services/iot-hub/how-to/provide-own-certificate-authority.mdx
  managed-services/iot-hub/how-to/provide-own-device-certificate.mdx
  managed-services/iot-hub/how-to/renew-device-certificate.mdx
  managed-services/iot-hub/how-to/setup-use-rest-network.mdx
  managed-services/iot-hub/how-to/setup-use-sigfox-network.mdx
  managed-services/iot-hub/how-to/simulate-event.mdx
  managed-services/iot-hub/how-to/trigger-functions-from-messages.mdx
  managed-services/iot-hub/how-to/understand-event-messages.mdx
  managed-services/iot-hub/how-to/use-mqtt-webclient.mdx
  managed-services/iot-hub/how-to/view-metrics.mdx
  managed-services/iot-hub/quickstart.mdx
  managed-services/iot-hub/reference-content/certificate.mdx
  managed-services/iot-hub/reference-content/devices.mdx
  managed-services/iot-hub/reference-content/hubs.mdx
  managed-services/iot-hub/reference-content/networks.mdx
  managed-services/iot-hub/reference-content/overview.mdx
  managed-services/iot-hub/reference-content/routes.mdx
  managed-services/iot-hub/reference-content/twins.mdx
Owners: @farhakennar

docs(mas): tem requirements update (#2954)
  managed-services/transactional-email/how-to/add-mx-record-to-your-domain.mdx
  managed-services/transactional-email/how-to/add-spf-dkim-records-to-your-domain.mdx
  managed-services/transactional-email/how-to/configure-domain-with-transactional-email.mdx
  managed-services/transactional-email/how-to/delete-tem-domain.mdx
  managed-services/transactional-email/how-to/generate-api-keys-for-tem-with-iam.mdx
  managed-services/transactional-email/how-to/manage-email-activity.mdx
  managed-services/transactional-email/quickstart.mdx
  managed-services/transactional-email/reference-content/dmarc-configuration.mdx
  managed-services/transactional-email/reference-content/protecting-your-domain-reputation.mdx
  managed-services/transactional-email/reference-content/understanding-tem-reputation-score.mdx
  managed-services/transactional-email/troubleshooting/delist-domain.mdx
Owners: @nerda-codes
