Repository scaleway/docs-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SamyOubouaziz, @farhakennar, @ldecarvalho-doc, @RoRoJ, @bene2k1, @nerda-codes

docs(compute): review docs (#2956)
  bare-metal/elastic-metal/how-to/use-private-networks.mdx
  bare-metal/elastic-metal/troubleshooting/enable-ssh-virtualization-distribution.mdx
  compute/gpu/reference-content/understanding-nvidia-tao.mdx
  dedibox-network/dns/how-to/configure-reverse-dns.mdx
  dedibox-network/dns/how-to/configure-secondary-dns.mdx
  dedibox-network/domains/how-to/enable-dnssec.mdx
  dedibox-network/domains/how-to/file-contact-info.mdx
  dedibox-network/domains/quickstart.mdx
Owners: @bene2k1

chore(em): add link to rv1 content
  menu/navigation.json
Owners: none

Apply suggestions from code review
  changelog/march2024/2024-03-25-postgresql-and-mysql-added-ability-to-remove-public-end.mdx
Owners: none

chore(em): add link to rv1 content (#2960)
  menu/navigation.json
Owners: none

chore(em): fix rv1 link
  menu/navigation.json
Owners: none

Apply suggestions from code review
  changelog/march2024/2024-03-25-postgresql-and-mysql-added-ability-to-remove-public-end.mdx
Owners: none

chore(em): fix rv1 link (#2961)
  menu/navigation.json
Owners: none

docs(red): requirements update (#2951)
  managed-databases/redis/api-cli/managing-username-and-password.mdx
  managed-databases/redis/api-cli/using-pub-sub-feature.mdx
  managed-databases/redis/how-to/configure-advanced-settings-redis.mdx
  managed-databases/redis/how-to/connect-to-redis-database-instance.mdx
  managed-databases/redis/how-to/create-a-database-for-redis.mdx
  managed-databases/redis/how-to/delete-a-database-for-redis.mdx
  managed-databases/redis/how-to/manage-allowed-ip-addresses-redis.mdx
  managed-databases/redis/how-to/scale-up-a-database-for-redis.mdx
  managed-databases/redis/quickstart.mdx
  managed-databases/redis/reference-content/default-user-permissions.mdx
Owners: @ldecarvalho-doc

review roro
  managed-databases/postgresql-and-mysql/how-to/change-volume-type.mdx
Owners: @ldecarvalho-doc

fix(lb): review bot
  network/load-balancer/how-to/create-load-balancer.mdx
  network/load-balancer/how-to/use-with-private-network.mdx
  network/load-balancer/reference-content/configuring-backends.mdx
  network/vpc/quickstart.mdx
Owners: @RoRoJ

docs(mas): web hosting requirements update
  managed-services/webhosting/how-to/configure-dns-webhosting.mdx
  managed-services/webhosting/how-to/manage-webhosting.mdx
  managed-services/webhosting/how-to/migrate-webhosting-plan.mdx
  managed-services/webhosting/how-to/order-dedicated-ip.mdx
  managed-services/webhosting/how-to/order-webhosting.mdx
  managed-services/webhosting/how-to/terminate-webhosting.mdx
  managed-services/webhosting/quickstart.mdx
  managed-services/webhosting/reference-content/classic-hosting-migration-information.mdx
  managed-services/webhosting/reference-content/cpanel-reference-content.mdx
  managed-services/webhosting/reference-content/plesk-reference-content.mdx
  managed-services/webhosting/reference-content/understanding-differences-cpanel-plesk.mdx
Owners: @bene2k1

docs(tem): draft
  tutorials/configure-tem-smtp-with-wordpress-plugin/index.mdx
Owners: none

docs(tutorials): review
  tutorials/erpnext/index.mdx
  tutorials/odoo-easy-deploy/index.mdx
  tutorials/set-up-yunohost-debian/index.mdx
  tutorials/setting-up-tunnel/index.mdx
Owners: none

docs(labs): requirements update
  labs/ipfs-naming/api-cli/ipfs-manage-keys.mdx
  labs/ipfs-naming/api-cli/names-operations.mdx
  labs/ipfs-naming/how-to/create-key.mdx
  labs/ipfs-naming/how-to/delete-key.mdx
  labs/ipfs-naming/how-to/import-key.mdx
  labs/ipfs-naming/how-to/update-name.mdx
  labs/ipfs-naming/quickstart.mdx
  labs/ipfs-pinning/api-cli/getting-started-with-ipfs-cli.mdx
  labs/ipfs-pinning/api-cli/ipfs-cli.mdx
  labs/ipfs-pinning/api-cli/pin-operations.mdx
  labs/ipfs-pinning/api-cli/volumes-operations.mdx
  labs/ipfs-pinning/how-to/add-pin.mdx
  labs/ipfs-pinning/how-to/create-volume.mdx
  labs/ipfs-pinning/how-to/delete-pin.mdx
  labs/ipfs-pinning/how-to/delete-volume.mdx
  labs/ipfs-pinning/quickstart.mdx
  labs/ipfs-pinning/reference-content/install-ipfs-desktop.mdx
Owners: @ldecarvalho-doc

docs(llm): add index
  ai-data/llm-inference/index.mdx
Owners: none

docs(sem): requirements update
  identity-and-access-management/secret-manager/api-cli/create-secret-path-migrate.mdx
  identity-and-access-management/secret-manager/api-cli/external-secrets.mdx
  identity-and-access-management/secret-manager/how-to/create-secret.mdx
  identity-and-access-management/secret-manager/how-to/create-version.mdx
  identity-and-access-management/secret-manager/how-to/delete-secret.mdx
  identity-and-access-management/secret-manager/how-to/delete-version.mdx
  identity-and-access-management/secret-manager/how-to/manage-secret.mdx
  identity-and-access-management/secret-manager/how-to/manage-version.mdx
  identity-and-access-management/secret-manager/quickstart.mdx
Owners: @nerda-codes

Apply suggestions from code review
  console/account/how-to/report-incident.mdx
  console/account/how-to/resolve-abuse.mdx
  dedibox-console/account/how-to/report-incident.mdx
  dedibox-console/account/how-to/resolve-abuse.mdx
Owners: @farhakennar, @SamyOubouaziz, @ldecarvalho-doc, @bene2k1

[ACCOUNT] New abuse handling process (#2762)
  console/account/concepts.mdx
  console/account/how-to/close-account.mdx
  console/account/how-to/manage-my-personal-data-gdpr.mdx
  console/account/how-to/report-incident.mdx
  console/account/how-to/resolve-abuse.mdx
  dedibox-console/account/concepts.mdx
  dedibox-console/account/how-to/resolve-abuse.mdx
  faq/support.mdx
  menu/navigation.json
Owners: @farhakennar, @SamyOubouaziz, @ldecarvalho-doc, @bene2k1

docs(srv): serverless jobs requirements update
  serverless/jobs/how-to/create-job-from-external-registry.mdx
  serverless/jobs/how-to/create-job-from-scaleway-registry.mdx
  serverless/jobs/how-to/delete-job.mdx
  serverless/jobs/how-to/manage-job-schedule.mdx
  serverless/jobs/how-to/monitor-job.mdx
  serverless/jobs/how-to/run-job.mdx
  serverless/jobs/how-to/stop-job.mdx
  serverless/jobs/quickstart.mdx
Owners: none

fix(nw): add faqs
  faq/public-gateways.mdx
  faq/vpc.mdx
Owners: none

docs(fix): fixed broken file
  menu/navigation.json
Owners: none

docs(fix): fixed broken file (#2969)
  menu/navigation.json
Owners: none

fix(tutorial): correct tuto for new mnq
  tutorials/transform-bucket-images-triggers-functions-set-up/index.mdx
Owners: none

fix(tutorials): fix other one
  tutorials/transform-bucket-images-triggers-functions-deploy/index.mdx
Owners: none

fix(tutorials): fix date
  tutorials/transform-bucket-images-triggers-functions-deploy/index.mdx
Owners: none

docs(srv): serverless containers requirements update
  serverless/containers/api-cli/deploy-container-api.mdx
  serverless/containers/api-cli/deploy-container-cli.mdx
  serverless/containers/how-to/add-a-custom-domain-to-a-container.mdx
  serverless/containers/how-to/add-trigger-to-a-container.mdx
  serverless/containers/how-to/create-a-containers-namespace.mdx
  serverless/containers/how-to/create-auth-token-from-console.mdx
  serverless/containers/how-to/delete-a-container.mdx
  serverless/containers/how-to/delete-a-containers-namespace.mdx
  serverless/containers/how-to/deploy-a-container-from-external-container-registry.mdx
  serverless/containers/how-to/deploy-a-container-from-scaleway-container-registry.mdx
  serverless/containers/how-to/manage-a-container.mdx
  serverless/containers/how-to/manage-a-containers-namespace.mdx
  serverless/containers/how-to/modify-container-privacy.mdx
  serverless/containers/how-to/secure-a-container.mdx
  serverless/containers/quickstart.mdx
  serverless/containers/reference-content/configure-trigger-inputs.mdx
  serverless/containers/reference-content/deploy-container.mdx
  serverless/containers/reference-content/use-cases.mdx
  serverless/containers/troubleshooting/common-errors.mdx
  tutorials/ansible-bionic-beaver/index.mdx
  tutorials/configure-realtime-alerting-slack/index.mdx
  tutorials/dagster-serverless-jobs/index.mdx
Owners: @SamyOubouaziz

docs(srv): serverless jobs requirements update (#2967)
  serverless/jobs/how-to/create-job-from-external-registry.mdx
  serverless/jobs/how-to/create-job-from-scaleway-registry.mdx
  serverless/jobs/how-to/delete-job.mdx
  serverless/jobs/how-to/manage-job-schedule.mdx
  serverless/jobs/how-to/monitor-job.mdx
  serverless/jobs/how-to/run-job.mdx
  serverless/jobs/how-to/stop-job.mdx
  serverless/jobs/quickstart.mdx
Owners: none

docs(srv): functions requirements update
  serverless/functions/api-cli/deploy-function-api.mdx
  serverless/functions/api-cli/deploy-function-cli.mdx
  serverless/functions/how-to/add-a-custom-domain-name-to-a-function.mdx
  serverless/functions/how-to/add-trigger-to-a-function.mdx
  serverless/functions/how-to/create-a-function.mdx
  serverless/functions/how-to/create-a-functions-namespace.mdx
  serverless/functions/how-to/create-auth-token-from-console.mdx
  serverless/functions/how-to/delete-a-function.mdx
  serverless/functions/how-to/delete-a-functions-namespace.mdx
  serverless/functions/how-to/manage-a-function.mdx
  serverless/functions/how-to/manage-a-functions-namespace.mdx
  serverless/functions/how-to/package-function-dependencies-in-zip.mdx
  serverless/functions/how-to/secure-a-function.mdx
  serverless/functions/how-to/test-a-function.mdx
  serverless/functions/quickstart.mdx
  serverless/functions/reference-content/code-examples.mdx
  serverless/functions/reference-content/configure-trigger-inputs.mdx
  serverless/functions/reference-content/deploy-function.mdx
  serverless/functions/reference-content/functions-billing.mdx
  serverless/functions/reference-content/functions-lifecycle.mdx
  serverless/functions/reference-content/functions-limitations.mdx
  serverless/functions/reference-content/functions-runtimes-configuration.mdx
  serverless/functions/reference-content/local-testing.mdx
  serverless/functions/troubleshooting/common-errors.mdx
Owners: @SamyOubouaziz

docs(sem): requirements update (#2965)
  identity-and-access-management/secret-manager/api-cli/create-secret-path-migrate.mdx
  identity-and-access-management/secret-manager/api-cli/external-secrets.mdx
  identity-and-access-management/secret-manager/how-to/create-secret.mdx
  identity-and-access-management/secret-manager/how-to/create-version.mdx
  identity-and-access-management/secret-manager/how-to/delete-secret.mdx
  identity-and-access-management/secret-manager/how-to/delete-version.mdx
  identity-and-access-management/secret-manager/how-to/manage-secret.mdx
  identity-and-access-management/secret-manager/how-to/manage-version.mdx
  identity-and-access-management/secret-manager/quickstart.mdx
Owners: @nerda-codes

feat(changelog): postgresql-and-mysql-added-ability-to-remove-public-end 2024-03-25 (#2957)
  changelog/march2024/2024-03-25-postgresql-and-mysql-added-ability-to-remove-public-end.mdx
Owners: none

docs(rdb): requirements update (#2952)
  managed-databases/postgresql-and-mysql/api-cli/migrating-endpoints.mdx
  managed-databases/postgresql-and-mysql/how-to/add-a-database.mdx
  managed-databases/postgresql-and-mysql/how-to/add-users.mdx
  managed-databases/postgresql-and-mysql/how-to/change-volume-type.mdx
  managed-databases/postgresql-and-mysql/how-to/clone-a-database-instance.mdx
  managed-databases/postgresql-and-mysql/how-to/configure-advanced-settings.mdx
  managed-databases/postgresql-and-mysql/how-to/connect-database-instance.mdx
  managed-databases/postgresql-and-mysql/how-to/connect-database-private-network.mdx
  managed-databases/postgresql-and-mysql/how-to/create-a-database.mdx
  managed-databases/postgresql-and-mysql/how-to/create-read-replica.mdx
  managed-databases/postgresql-and-mysql/how-to/delete-a-database.mdx
  managed-databases/postgresql-and-mysql/how-to/delete-db.mdx
  managed-databases/postgresql-and-mysql/how-to/enable-autobackup.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-allowed-ip-addresses.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-manual-backups.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-permissions.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-read-replica.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-snapshots.mdx
  managed-databases/postgresql-and-mysql/how-to/remove-public-endpoint.mdx
  managed-databases/postgresql-and-mysql/how-to/renew-tls-certificate.mdx
  managed-databases/postgresql-and-mysql/how-to/upgrade-a-database.mdx
  managed-databases/postgresql-and-mysql/how-to/upgrade-version.mdx
  managed-databases/postgresql-and-mysql/quickstart.mdx
Owners: @ldecarvalho-doc

fix(lb): review bot (#2962)
  network/load-balancer/how-to/create-load-balancer.mdx
  network/load-balancer/how-to/use-with-private-network.mdx
  network/load-balancer/reference-content/configuring-backends.mdx
  network/vpc/quickstart.mdx
Owners: @RoRoJ

feat(bil): cost manager
  console/billing/api-cli/index.mdx
  console/billing/api-cli/retrieve-monthly-consumption.mdx
  console/billing/concepts.mdx
  console/billing/how-to/assets/scaleway-billing-consumption-chart.webp
  console/billing/how-to/assets/scaleway-billing-consumption-list.webp
  console/billing/how-to/change-payment-method.mdx
  console/billing/how-to/redeem-voucher-code.mdx
  console/billing/how-to/use-the-cost-manager.mdx
  menu/navigation.json
Owners: @farhakennar, @SamyOubouaziz, @ldecarvalho-doc

feat(bil): remove note
  console/billing/how-to/use-the-cost-manager.mdx
Owners: @farhakennar, @SamyOubouaziz, @ldecarvalho-doc

fix(bil): review joachim
  console/billing/how-to/use-the-cost-manager.mdx
Owners: @farhakennar, @SamyOubouaziz, @ldecarvalho-doc

fix(bil): review Julie
  console/billing/api-cli/retrieve-monthly-consumption.mdx
Owners: @farhakennar, @SamyOubouaziz, @ldecarvalho-doc

feat(bil): review Julie2
  console/billing/how-to/use-the-cost-manager.mdx
Owners: @farhakennar, @SamyOubouaziz, @ldecarvalho-doc

fix(bil): review neda
  console/billing/api-cli/retrieve-monthly-consumption.mdx
  console/billing/how-to/use-the-cost-manager.mdx
Owners: @farhakennar, @SamyOubouaziz, @ldecarvalho-doc

fix(bil): review neda
  console/billing/how-to/use-the-cost-manager.mdx
Owners: @farhakennar, @SamyOubouaziz, @ldecarvalho-doc

feat(changelog): kubernetes-changed-routed-ips-now-default-on-new-kubern 2024-03-22 (#2942)
  changelog/march2024/2024-03-22-kubernetes-changed-routed-ips-now-default-on-new-kubern.mdx
Owners: none

.github/CODEOWNERS:

#This is a list of people who will be tagged whenever a PR is opened to edit one of the files listed below.

# Samy
storage/object/  @SamyOubouaziz
serverless/containers/ @SamyOubouaziz
serverless/functions/ @SamyOubouaziz
console/ @farhakennar @SamyOubouaziz @ldecarvalho-doc

# Rowena
network/vpc/ @RoRoJ
network/public-gateways/ @RoRoJ
network/load-balancer/ @RoRoJ
serverless/messaging/ @RoRoJ

# Benedikt
compute/gpu/ @bene2k1
compute/instances/ @bene2k1
bare-metal/dedibox/ @bene2k1
bare-metal/elastic-metal/ @bene2k1
containers/kubernetes/ @bene2k1
storage/block/ @bene2k1 @ldecarvalho-doc
managed-services/webhosting/ @bene2k1
dedibox/ @bene2k1
dedibox-network/ @bene2k1
dedibox-console/ @bene2k1

# NÃ©da
managed-services/transactional-email/ @nerda-codes
observability/ @nerda-codes
network/domains-and-dns/ @nerda-codes
identity-and-access-management/secret-manager/ @nerda-codes

# Luiza
identity-and-access-management/iam/ @ldecarvalho-doc
managed-databases/document-database/ @ldecarvalho-doc
managed-databases/postgresql-and-mysql/ @ldecarvalho-doc
managed-databases/redis/ @ldecarvalho-doc
containers/container-registry/ @ldecarvalho-doc
labs/ @ldecarvalho-doc

# Farha
bare-metal/apple-silicon/ @farhakennar
managed-services/iot-hub/ @farhakennar
