Repository scaleway/docs-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SamyOubouaziz, @farhakennar, @ldecarvalho-doc, @RoRoJ, @bene2k1, @nerda-codes

.github/CODEOWNERS:

#This is a list of people who will be tagged whenever a PR is opened to edit one of the files listed below.

# Samy
storage/object/  @SamyOubouaziz
serverless/containers/ @SamyOubouaziz
serverless/functions/ @SamyOubouaziz
console/ @farhakennar @SamyOubouaziz @ldecarvalho-doc

# Rowena
network/vpc/ @RoRoJ
network/public-gateways/ @RoRoJ
network/load-balancer/ @RoRoJ
serverless/messaging/ @RoRoJ

# Benedikt
compute/gpu/ @bene2k1
compute/instances/ @bene2k1
bare-metal/dedibox/ @bene2k1
bare-metal/elastic-metal/ @bene2k1
containers/kubernetes/ @bene2k1
storage/block/ @bene2k1 @ldecarvalho-doc
managed-services/webhosting/ @bene2k1
dedibox/ @bene2k1
dedibox-network/ @bene2k1
dedibox-console/ @bene2k1

# NÃ©da
managed-services/transactional-email/ @nerda-codes
observability/ @nerda-codes
network/domains-and-dns/ @nerda-codes
identity-and-access-management/secret-manager/ @nerda-codes

# Luiza
identity-and-access-management/iam/ @ldecarvalho-doc
managed-databases/document-database/ @ldecarvalho-doc
managed-databases/postgresql-and-mysql/ @ldecarvalho-doc
managed-databases/redis/ @ldecarvalho-doc
containers/container-registry/ @ldecarvalho-doc
labs/ @ldecarvalho-doc

# Farha
bare-metal/apple-silicon/ @farhakennar
managed-services/iot-hub/ @farhakennar

Apply suggestions from code review
  tutorials/erpnext-13/index.mdx
  tutorials/foreman-puppet/index.mdx
  tutorials/postgis-managed-databases/index.mdx
  tutorials/powerdns-ubuntu-bionic/index.mdx
  tutorials/zammad-ticketing/index.mdx
Owners: none

chore(tutorials): content review (#2981)
  tutorials/deploy-big-blue-button/index.mdx
  tutorials/deploy-instances-packer-terraform/index.mdx
  tutorials/erpnext-13/index.mdx
  tutorials/flask/index.mdx
  tutorials/foreman-puppet/index.mdx
  tutorials/hadoop/index.mdx
  tutorials/hestiacp/index.mdx
  tutorials/host-github-runner/index.mdx
  tutorials/install-docker-ubuntu-bionic/index.mdx
  tutorials/install-golang-ubuntu-bionic/index.mdx
  tutorials/postgis-managed-databases/index.mdx
  tutorials/postman-api/index.mdx
  tutorials/powerdns-ubuntu-bionic/index.mdx
  tutorials/protect-server-fail2ban/index.mdx
  tutorials/send-sms-iot-device-twilio/index.mdx
  tutorials/setup-cockroachdb-cluster/index.mdx
  tutorials/setup-mysql/index.mdx
  tutorials/setup-postfix-ubuntu-bionic/index.mdx
  tutorials/use-container-registry-github-actions/index.mdx
  tutorials/zammad-ticketing/index.mdx
Owners: none

docs(ddx): requirements update (#2982)
  dedibox/dedicated-servers/how-to/change-root-password.mdx
  dedibox/dedicated-servers/how-to/change-win-server-language.mdx
  dedibox/dedicated-servers/how-to/connect-to-server.mdx
  dedibox/dedicated-servers/how-to/get-started-with-server.mdx
  dedibox/dedicated-servers/how-to/install-a-server.mdx
  dedibox/dedicated-servers/how-to/manage-packages.mdx
  dedibox/dedicated-servers/how-to/migrate-server.mdx
  dedibox/dedicated-servers/how-to/monitor-server.mdx
  dedibox/dedicated-servers/how-to/order-a-server.mdx
  dedibox/dedicated-servers/how-to/rescue-your-data.mdx
  dedibox/dedicated-servers/how-to/restart-server.mdx
  dedibox/dedicated-servers/how-to/use-dedibackup-ftp-backup.mdx
  dedibox/dedicated-servers/how-to/use-ipmi-on-server.mdx
  dedibox/dedicated-servers/how-to/use-rescue-mode.mdx
  dedibox/dedicated-servers/how-to/use-serial-console.mdx
  dedibox/dedicated-servers/quickstart.mdx
  dedibox/hardware/concepts.mdx
  dedibox/hardware/how-to/configure-dell-perc-h200.mdx
  dedibox/hardware/how-to/configure-dell-perc-h310.mdx
  dedibox/hardware/how-to/configure-dell-perc-h700.mdx
  dedibox/hardware/how-to/configure-dell-perc-h800.mdx
  dedibox/hardware/how-to/configure-hardware-raid-console.mdx
  dedibox/hardware/how-to/configure-hp-smart-array-p410.mdx
  dedibox/hardware/how-to/configure-hp-smart-array-p420.mdx
  dedibox/hardware/how-to/configure-raid-kvm-h200.mdx
  dedibox/hardware/how-to/configure-raid-kvm-h310.mdx
  dedibox/hardware/how-to/configure-raid-kvm-p410.mdx
  dedibox/hardware/how-to/configure-raid-kvm-p420.mdx
  dedibox/hardware/reference-content/server-comparison-table.mdx
  dedibox/hardware/troubleshooting/diagnose-defective-disk.mdx
  dedibox/kvm-over-ip/how-to/dell-idrac6.mdx
  dedibox/kvm-over-ip/how-to/dell-idrac7.mdx
  dedibox/kvm-over-ip/how-to/dell-idrac8.mdx
  dedibox/kvm-over-ip/how-to/dell-idrac9.mdx
  dedibox/kvm-over-ip/how-to/disable-boot-errors-idrac.mdx
  dedibox/kvm-over-ip/how-to/hp-ilo.mdx
  dedibox/kvm-over-ip/how-to/quanta-computer.mdx
  dedibox/kvm-over-ip/how-to/quantaplex.mdx
  dedibox/kvm-over-ip/quickstart.mdx
Owners: @bene2k1

Update README.md
  README.md
Owners: none

chore(GEN): docs content review MTA-4369
  console/account/how-to/recover-a-lost-password.mdx
  serverless/containers/how-to/add-a-custom-domain-to-a-container.mdx
  serverless/containers/reference-content/deploy-container.mdx
  serverless/functions/reference-content/deploy-function.mdx
  serverless/functions/reference-content/local-testing.mdx
Owners: @farhakennar, @SamyOubouaziz, @ldecarvalho-doc

Update tutorials/configure-apache-lets-encrypt/index.mdx
  tutorials/configure-apache-lets-encrypt/index.mdx
Owners: none

chore(tutorials): content review (#2980)
  tutorials/configure-apache-lets-encrypt/index.mdx
  tutorials/encrypt-volumes/index.mdx
  tutorials/erpnext/index.mdx
  tutorials/get-started-kubernetes-loadbalancer/index.mdx
  tutorials/glpi/index.mdx
  tutorials/gpu-super-resolution/index.mdx
  tutorials/install-apache-ansible/index.mdx
  tutorials/install-cassandra/index.mdx
  tutorials/install-configure-couchdb/index.mdx
  tutorials/odoo-easy-deploy/index.mdx
  tutorials/pihole-vpn/index.mdx
  tutorials/protect-server-using-crowdsec/index.mdx
  tutorials/set-up-yunohost-debian/index.mdx
  tutorials/setting-up-tunnel/index.mdx
  tutorials/setup-elastic-metal-proxmox-cluster-with-private-networks/index.mdx
Owners: none

feat(bil): cost manager (#2973)
  console/billing/api-cli/index.mdx
  console/billing/api-cli/retrieve-monthly-consumption.mdx
  console/billing/concepts.mdx
  console/billing/how-to/assets/scaleway-billing-consumption-chart.webp
  console/billing/how-to/assets/scaleway-billing-consumption-list.webp
  console/billing/how-to/change-payment-method.mdx
  console/billing/how-to/redeem-voucher-code.mdx
  console/billing/how-to/use-the-cost-manager.mdx
  menu/navigation.json
Owners: @farhakennar, @SamyOubouaziz, @ldecarvalho-doc

chore(GEN): update
  console/account/how-to/recover-a-lost-password.mdx
Owners: @farhakennar, @SamyOubouaziz, @ldecarvalho-doc

feat(rdb): shared responsibility
  managed-databases/postgresql-and-mysql/how-to/manage-read-replica.mdx
  managed-databases/postgresql-and-mysql/reference-content/security-and-reliability.mdx
  menu/navigation.json
Owners: @ldecarvalho-doc

chore(GEN): update
  serverless/functions/reference-content/local-testing.mdx
Owners: @SamyOubouaziz

docs(gen): add index pages to navigation menu
  menu/navigation.json
Owners: none

Update compute/gpu/troubleshooting/install-nvidia-drivers-ubuntu.mdx
  compute/gpu/troubleshooting/install-nvidia-drivers-ubuntu.mdx
Owners: @bene2k1

docs(gen): add index pages to navigation menu (#2987)
  menu/navigation.json
Owners: none

Update compute/gpu/troubleshooting/install-nvidia-drivers-ubuntu.mdx
  compute/gpu/troubleshooting/install-nvidia-drivers-ubuntu.mdx
Owners: @bene2k1

feat(gpu): add driver install doc (#2983)
  compute/gpu/troubleshooting/install-nvidia-drivers-ubuntu.mdx
  compute/gpu/troubleshooting/updating-gpu-instance-with-cloud-init.mdx
  menu/navigation.json
Owners: @bene2k1

chore(GEN): docs content review MTA-4369 (#2986)
  console/account/how-to/recover-a-lost-password.mdx
  serverless/containers/how-to/add-a-custom-domain-to-a-container.mdx
  serverless/containers/reference-content/deploy-container.mdx
  serverless/functions/reference-content/deploy-function.mdx
  serverless/functions/reference-content/local-testing.mdx
Owners: @farhakennar, @SamyOubouaziz, @ldecarvalho-doc

feat(changelog): add new entry
  changelog/march2024/2024-03-28-billing-added-discover-our-cost-manager-tool.mdx
Owners: none

feat(bil): fix images
  console/billing/how-to/use-the-cost-manager.mdx
Owners: @farhakennar, @SamyOubouaziz, @ldecarvalho-doc

feat(bil): fix message
  console/billing/how-to/use-the-cost-manager.mdx
Owners: @farhakennar, @SamyOubouaziz, @ldecarvalho-doc

feat(bil): fix images MTA-4356s (#2989)
  console/billing/how-to/use-the-cost-manager.mdx
Owners: @farhakennar, @SamyOubouaziz, @ldecarvalho-doc

Apply suggestions from code review
  changelog/march2024/2024-03-28-billing-added-discover-our-cost-manager-tool.mdx
Owners: none

fix(bil): changelog
  changelog/march2024/2024-03-28-billing-added-discover-our-cost-manager-tool.mdx
Owners: none

feat(changelog): billing-added-discover-our-cost-manager-tool 2024-03-28 (#2988)
  changelog/march2024/2024-03-28-billing-added-discover-our-cost-manager-tool.mdx
Owners: none

chore(ddx): update dns cache ips
  dedibox-network/network/how-to/configure-network-netplan.mdx
Owners: @bene2k1

feat(account): close and erase account
  console/account/assets/closed-account.webp
  console/account/how-to/close-account.mdx
  console/account/how-to/manage-my-personal-data-gdpr.mdx
  console/account/troubleshooting/cannot-erase-account.mdx
  macros/console/close-vs-erase.mdx
Owners: @farhakennar, @SamyOubouaziz, @ldecarvalho-doc

docs(srv): add jobs troubleshooting and limitations MTA-4365
  menu/navigation.json
  serverless/jobs/reference-content/jobs-limitations.mdx
  serverless/jobs/troubleshooting/common-errors.mdx
Owners: none

docs(srv): typo
  serverless/jobs/troubleshooting/common-errors.mdx
Owners: none

feat(rdb): shred resp pt2
  managed-databases/postgresql-and-mysql/reference-content/security-and-reliability.mdx
Owners: @ldecarvalho-doc

fix(rdb): review bene
  managed-databases/postgresql-and-mysql/reference-content/security-and-reliability.mdx
Owners: @ldecarvalho-doc

docs(gen): Update contributing guidelines with fork instructions
  docs/CONTRIBUTING.md
Owners: none

docs(gen): typos
  docs/CONTRIBUTING.md
Owners: none

feat(changelog): add new entry
  changelog/march2024/2024-03-28-jobs-added-serverless-jobs-is-now-in-ga.mdx
Owners: none

Update serverless/jobs/reference-content/jobs-limitations.mdx
  serverless/jobs/reference-content/jobs-limitations.mdx
Owners: none

feat(cpt): add faq question
  faq/cockpit.mdx
Owners: none

Apply suggestions from code review
  faq/cockpit.mdx
Owners: none

feat(cpt): add faq question (#2996)
  faq/cockpit.mdx
Owners: none

Update changelog/march2024/2024-03-28-jobs-added-serverless-jobs-is-now-in-ga.mdx
  changelog/march2024/2024-03-28-jobs-added-serverless-jobs-is-now-in-ga.mdx
Owners: none

fix(rdb): review jessi
  managed-databases/postgresql-and-mysql/reference-content/security-and-reliability.mdx
Owners: @ldecarvalho-doc

feat(changelog): jobs-added-serverless-jobs-is-now-in-ga 2024-03-28 (#2995)
  changelog/march2024/2024-03-28-jobs-added-serverless-jobs-is-now-in-ga.mdx
Owners: none
