Repository scaleway/docs-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SamyOubouaziz, @pshambulingappa, @RoRoJ, @bene2k1, @nerda-codes, @ldecarvalho-doc

feat(rdb): apply maintenance MTA-4494 (#3088)
  managed-databases/postgresql-and-mysql/how-to/apply-maintenance.mdx
  managed-databases/postgresql-and-mysql/how-to/assets/scaleway-apply-db-maintenance.webp
  menu/navigation.json
Owners: @ldecarvalho-doc

Apply suggestions from code review
  changelog/april2024/2024-04-19-transactional-email-added-xml-attachments-are-now-avail.mdx
Owners: none

docs(SRV): add monitoring doc to faas & caas MTA-4473
  menu/navigation.json
  serverless/containers/how-to/monitor-container.mdx
  serverless/functions/how-to/monitor-function.mdx
Owners: @SamyOubouaziz

fix(mnq): move limits to quotas (#3085)
  identity-and-access-management/organizations-and-projects/additional-content/organization-quotas.mdx
  serverless/messaging/reference-content/limitations.mdx
Owners: @RoRoJ

docs(SRV): tech review 1
  menu/navigation.json
  serverless/containers/how-to/monitor-container.mdx
  serverless/functions/how-to/monitor-function.mdx
  serverless/jobs/how-to/monitor-job.mdx
Owners: @SamyOubouaziz

docs(k8s): add docs for routed ip
  containers/kubernetes/reference-content/migrating-routed-ip.mdx
Owners: @bene2k1

feat(llm): add index
  ai-data/llm-inference/index.mdx
Owners: @bene2k1

docs(llm): add index (#2966)
  ai-data/llm-inference/index.mdx
Owners: @bene2k1

feat(llm): add overview link to menu
  menu/navigation.json
Owners: none

feat(llm): add overview link to menu (#3096)
  menu/navigation.json
Owners: none

feat(changelog): transactional-email-added-xml-attachments-are-now-avail 2024-04-19 (#3087)
  changelog/april2024/2024-04-19-transactional-email-added-xml-attachments-are-now-avail.mdx
Owners: none

Apply suggestions from code review
  tutorials/sinatra/index.mdx
  tutorials/traefik-v2-cert-manager/index.mdx
Owners: none

Apply suggestions from code review
  console/billing/additional-content/reading-an-invoice.mdx
Owners: @ldecarvalho-doc, @pshambulingappa

.github/CODEOWNERS:

#This is a list of people who will be tagged whenever a PR is opened to edit one of the files listed below.

# Samy
storage/object/ @SamyOubouaziz
serverless/functions/ @SamyOubouaziz
serverless/containers/ @SamyOubouaziz
serverless/jobs/ @SamyOubouaziz
serverless/sql-databases/ @SamyOubouaziz
console/account/ @SamyOubouaziz @pshambulingappa
developer-tools/ @SamyOubouaziz

# Rowena
network/vpc/ @RoRoJ
network/public-gateways/ @RoRoJ
network/load-balancer/ @RoRoJ
serverless/messaging/ @RoRoJ

# Benedikt
compute/ @bene2k1
bare-metal/ @bene2k1
containers/kubernetes/ @bene2k1
managed-services/webhosting/ @bene2k1
dedibox/ @bene2k1
dedibox-network/ @bene2k1
dedibox-console/ @bene2k1
ai-data/ @bene2k1

# NÃ©da
observability/ @nerda-codes
network/domains-and-dns/ @nerda-codes
identity-and-access-management/secret-manager/ @nerda-codes
storage/block/ @nerda-codes

# Luiza
identity-and-access-management/iam/ @ldecarvalho-doc
managed-databases/postgresql-and-mysql/ @ldecarvalho-doc
managed-databases/redis/ @ldecarvalho-doc
containers/container-registry/ @ldecarvalho-doc
labs/ @ldecarvalho-doc
console/billing/ @ldecarvalho-doc @pshambulingappa
managed-services/transactional-email/ @ldecarvalho-doc
