Repository scaleway/docs-content, pull requests merged in 2021-11, with the labels that each got.

#194 docs(faq): serverless functions
  compute/functions/reference-content/code-examples.mdx
  faq/assets/faas.png
  faq/assets/scaleway-Billing-FaaS-1-DEF.jpg
  faq/assets/scaleway-Billing-FaaS-2-DEF.jpg
  faq/serverless-functions.mdx
Labels: documentation

#190 fix(tutorials): added tags MTA-1557
  tutorials/configure-ssl-load-balancer/index.mdx
  tutorials/configuring-gitlab-scaleway-elements-database/index.mdx
  tutorials/configuring-loadbalancer-wordpress/index.mdx
  tutorials/create-esxi-cluster-dedibox/index.mdx
  tutorials/create-models-django/index.mdx
  tutorials/create-valheim-server/index.mdx
  tutorials/dchpcd-dedibox/index.mdx
  tutorials/deploy-awstats/index.mdx
  tutorials/deploy-big-blue-button/index.mdx
  tutorials/deploy-hasura-engine-database-postgresql/index.mdx
  tutorials/deploy-instances-packer-terraform/index.mdx
  tutorials/deploy-nextcloud-s3/index.mdx
  tutorials/deploy-openproject-database-postgresql/index.mdx
  tutorials/deploy-owncloud-instantapps-s3/index.mdx
  tutorials/deploy-phpmyadmin-with-docker/index.mdx
  tutorials/deploy-pydio-instantapps-s3/index.mdx
  tutorials/deploy-saas-application/index.mdx
  tutorials/deploy-wordpress-managed-database-mysql8/index.mdx
  tutorials/deploying-web-applications-juju/index.mdx
  tutorials/discourse-forum/index.mdx
  tutorials/django-python-instant-apps/index.mdx
  tutorials/django-ubuntu-focal-fossa/index.mdx
  tutorials/docker-instantapp/index.mdx
  tutorials/drupal-instant-app/index.mdx
  tutorials/elk-stack-instant-app/index.mdx
  tutorials/encrypt-s3-data-rclone/index.mdx
  tutorials/encrypt-volumes/index.mdx
  tutorials/erpnext-13/index.mdx
  tutorials/erpnext/index.mdx
  tutorials/flask/index.mdx
  tutorials/foreman-puppet/index.mdx
  tutorials/gitlab-instant-app/index.mdx
  tutorials/glpi/index.mdx
  tutorials/glusterfs/index.mdx
  tutorials/gogs-instant-app/index.mdx
  vale-test-doc.mdx
Labels: documentation

#197 docs(fix): fix duplicate tags
  tutorials/deploying-web-applications-juju/index.mdx
Labels: documentation

#205 MTA-1570
  compute/apple-silicon/how-to/assets/scaleway-m1-reboot.png
  compute/apple-silicon/how-to/assets/scaleway-m1-reinstall.png
  compute/apple-silicon/how-to/reboot-mac-mini-m1.mdx
  compute/apple-silicon/how-to/reinstall-mac-mini-m1.mdx
  menu/navigation.json
Labels: documentation

#142 docs(iot): many fix and cloud twins documentation int-fix-iot
  iot/iot-hub/api-cli/assets/grafanacloud-configuration-datasource-menu-graphite.png
  iot/iot-hub/api-cli/assets/grafanacloud-datasource-graphite-settings.png
  iot/iot-hub/api-cli/assets/grafanacloud-explore-data.png
  iot/iot-hub/api-cli/assets/grafanacloud-explore.png
  iot/iot-hub/api-cli/cli-db-tips-tricks.mdx
  iot/iot-hub/api-cli/connecting-twins-to-grafana-cloud.mdx
  iot/iot-hub/api-cli/getting-started-with-iot-hub-api.mdx
  iot/iot-hub/api-cli/getting-started-with-iot-hub-cli.mdx
  iot/iot-hub/api-cli/iot-hub-events.mdx
  iot/iot-hub/api-cli/iot-hub-routes.mdx
  iot/iot-hub/api-cli/migrating-from-api-v1beta1.mdx
  iot/iot-hub/api-cli/using-twins.mdx
  iot/iot-hub/concepts.mdx
  iot/iot-hub/how-to/assets/scaleway-iothub-webclient.png
  iot/iot-hub/how-to/connect-default-mqtt-network.mdx
  iot/iot-hub/how-to/connect-default-websocket-network.mdx
  iot/iot-hub/how-to/create-route.mdx
  iot/iot-hub/how-to/delete-device.mdx
  iot/iot-hub/how-to/provide-own-certificate-authority.mdx
  iot/iot-hub/how-to/provide-own-device-certificate.mdx
  iot/iot-hub/how-to/renew-device-certificate.mdx
  iot/iot-hub/how-to/setup-use-sigfox-network.mdx
  iot/iot-hub/how-to/simulate-event.mdx
  iot/iot-hub/how-to/trigger-functions-from-messages.mdx
  iot/iot-hub/how-to/understand-event-messages.mdx
  iot/iot-hub/how-to/view-metrics.mdx
  iot/iot-hub/reference-content/assets/scaleway-iothub-overview.jpg
  iot/iot-hub/reference-content/assets/scaleway-iothub-overview.png
  iot/iot-hub/reference-content/devices.mdx
  iot/iot-hub/reference-content/hubs.mdx
  iot/iot-hub/reference-content/networks.mdx
  iot/iot-hub/reference-content/overview.mdx
  iot/iot-hub/reference-content/routes.mdx
  iot/iot-hub/reference-content/twins.mdx
  menu/navigation.json
Labels: documentation

#198 docs(troubleshooting): diagnose defective disk MTA-1566
  dedibox/hardware/troubleshooting/diagnose-defective-disk.mdx
  dedibox/hardware/troubleshooting/index.mdx
  menu/navigation.json
Labels: documentation

#203 fix(home): letter casing and categories
  index.mdx
Labels: documentation

#207 fix(serverless): remove FaaS from concepts
  assets/scaleway-quickstart-1.3.pdf
  compute/functions/concepts.mdx
  index.mdx
  iot/iot-hub/how-to/use-faas-kickstart.mdx
Labels: documentation

#212 docs(applesilicon): fix typo MTA-1572
  compute/apple-silicon/how-to/delete-mac-mini-m1.mdx
  compute/apple-silicon/how-to/reinstall-mac-mini-m1.mdx
Labels: documentation

#204 fix(docs): compute & console nav button maj & other corrections MTA-1563
  compute/bare-metal-cloud/api-cli/bare-metal-with-api.mdx
  compute/bare-metal-cloud/api-cli/bare-metal-with-cli.mdx
  compute/containers/api-cli/cont-uploading-with-serverless-framework.mdx
  compute/containers/api-cli/restricting-access-to-a-container.mdx
  compute/containers/how-to/create-a-containers-namespace.mdx
  compute/containers/how-to/delete-a-container.mdx
  compute/containers/how-to/deploy-a-container.mdx
  compute/containers/how-to/manage-a-containers-namespace.mdx
  compute/functions/api-cli/fun-uploading-with-serverless-framework.mdx
  compute/functions/api-cli/restricting-access-to-a-function.mdx
  compute/functions/how-to/create-a-function.mdx
  compute/functions/how-to/create-a-functions-namespace.mdx
  compute/functions/how-to/delete-a-function.mdx
  compute/functions/how-to/manage-a-function.mdx
  compute/functions/how-to/manage-a-functions-namespace.mdx
  compute/functions/how-to/package-function-in-zip.mdx
  compute/instances/api-cli/creating-backups.mdx
  compute/instances/api-cli/creating-managing-instances-with-cliv2.mdx
  compute/instances/api-cli/migrating-instances.mdx
  compute/instances/api-cli/using-cloud-init.mdx
  compute/instances/api-cli/using-placement-groups.mdx
  compute/instances/how-to/configure-reverse-dns.mdx
  compute/instances/how-to/create-a-backup.mdx
  compute/instances/how-to/migrate-instances.mdx
  compute/instances/how-to/use-boot-modes.mdx
  compute/instances/how-to/use-enterprise-instances.mdx
  compute/instances/how-to/use-flexips.mdx
  compute/instances/how-to/use-private-networks.mdx
  compute/instances/how-to/use-protected-instance.mdx
  compute/instances/how-to/use-security-groups.mdx
  compute/kubernetes/api-cli/cluster-monitoring.mdx
  compute/kubernetes/api-cli/creating-managing-kubernetes-lifecycle-cliv2.mdx
  compute/kubernetes/api-cli/exposing-services.mdx
  compute/kubernetes/api-cli/managing-load-balancer-ips.mdx
  compute/kubernetes/api-cli/managing-storage.mdx
  compute/kubernetes/api-cli/managing-tags.mdx
  compute/kubernetes/how-to/connect-cluster-kubectl.mdx
  compute/kubernetes/how-to/create-cluster.mdx
  compute/kubernetes/how-to/create-kosmos-cluster.mdx
  compute/kubernetes/how-to/deploy-image-from-container-registry.mdx
  compute/kubernetes/how-to/deploy-ingress-controller.mdx
  compute/kubernetes/how-to/edit-cluster.mdx
  compute/kubernetes/how-to/edit-kosmos-cluster.mdx
  compute/kubernetes/how-to/enable-easy-deploy.mdx
  console/my-project/how-to/add-resources-project.mdx
  console/my-project/how-to/change-project-name.mdx
  console/my-project/how-to/create-a-project.mdx
  console/my-project/how-to/create-ssh-key.mdx
  console/my-project/how-to/delete-a-project.mdx
  console/my-project/how-to/generate-api-key.mdx
  console/my-project/how-to/join-an-organization.mdx
  console/my-project/how-to/manage-organization-members.mdx
Labels: documentation

#206 fix(docs): continue correcting nav buttons for caps MTA-1563
  iot/iot-hub/api-cli/iot-hub-routes.mdx
  iot/iot-hub/api-cli/using-twins.mdx
  iot/iot-hub/concepts.mdx
  iot/iot-hub/how-to/add-device.mdx
  iot/iot-hub/how-to/connect-default-mqtt-network.mdx
  iot/iot-hub/how-to/connect-default-websocket-network.mdx
  iot/iot-hub/how-to/create-hub.mdx
  iot/iot-hub/how-to/create-kickstart.mdx
  iot/iot-hub/how-to/delete-device.mdx
  iot/iot-hub/how-to/delete-hub.mdx
  iot/iot-hub/how-to/delete-route.mdx
  iot/iot-hub/how-to/enable-disable-hub.mdx
  iot/iot-hub/how-to/provide-own-certificate-authority.mdx
  iot/iot-hub/how-to/setup-use-rest-network.mdx
  iot/iot-hub/how-to/setup-use-sigfox-network.mdx
  iot/iot-hub/how-to/simulate-event.mdx
  iot/iot-hub/how-to/use-dataviz-kickstart.mdx
  iot/iot-hub/how-to/use-faas-kickstart.mdx
  iot/iot-hub/how-to/use-flow-programming-kickstart.mdx
  iot/iot-hub/how-to/use-logging-kickstart.mdx
  iot/iot-hub/how-to/use-mqtt-webclient.mdx
  iot/iot-hub/reference-content/devices.mdx
  iot/iot-hub/reference-content/hubs.mdx
  iot/iot-hub/reference-content/kickstarts.mdx
  iot/iot-hub/reference-content/networks.mdx
  iot/iot-hub/reference-content/overview.mdx
  iot/iot-hub/reference-content/routes.mdx
  iot/iot-hub/reference-content/twins.mdx
  network/load-balancer/how-to/setup-ssl-offloading.mdx
  network/load-balancer/how-to/use-with-private-network.mdx
  network/vpc/how-to/configure-a-public-gateway.mdx
  network/vpc/how-to/use-flexible-ips.mdx
  storage/database/how-to/add-users.mdx
  storage/database/how-to/change-volume-type.mdx
  storage/database/how-to/configure-advanced-settings.mdx
  storage/database/how-to/delete-a-database.mdx
  storage/database/how-to/manage-manual-backups.mdx
  storage/database/how-to/upgrade-a-database.mdx
Labels: documentation

#208 fix(docs): nav majuscules & other for dedicated servers MTA-1563
  dedibox-console/my-account/how-to/accept-outsourcing.mdx
  dedibox-console/my-account/how-to/resolve-abuse.mdx
  dedibox-console/my-account/how-to/upload-an-ssh-key.mdx
  dedibox-network/rpn/how-to/configure-jumboframes.mdx
  dedibox-network/rpn/how-to/configure-rpnv2.mdx
  menu/navigation.json
  webhosting/classic/how-to/check-emails.mdx
  webhosting/classic/how-to/configure-backup-option.mdx
  webhosting/classic/how-to/configure-htaccess-file.mdx
  webhosting/classic/how-to/configure-php.mdx
  webhosting/classic/how-to/create-ftp-account.mdx
  webhosting/classic/how-to/create-mysql-database.mdx
  webhosting/classic/how-to/delete-subdomain.mdx
  webhosting/classic/how-to/manage-email-filter.mdx
  webhosting/classic/how-to/retrieve-headers-of-email.mdx
  webhosting/classic/how-to/solve-email-account-connection-problems.mdx
Labels: documentation

#216 docs(tutorials): rename lets-encrypt MTA-1576
  tutorials/configure-apache-lets-encrypt/assets/scaleway-config_apache.png
  tutorials/configure-apache-lets-encrypt/assets/scaleway-ssl_enabled.png
  tutorials/configure-apache-lets-encrypt/index.mdx
  tutorials/configure-netbox-managed-postgresql-database/index.mdx
  tutorials/configure-nginx-lets-encrypt/assets/scaleway-example_https.png
  tutorials/configure-nginx-lets-encrypt/assets/scaleway-example_site.png
  tutorials/configure-nginx-lets-encrypt/index.mdx
  tutorials/configuring-gitlab-scaleway-elements-database/index.mdx
  tutorials/librenms-monitoring/index.mdx
  tutorials/odoo/index.mdx
  tutorials/zammad-ticketing/index.mdx
Labels: documentation

#217 fix(pdf): update link
  datacenters/datacenter-as-a-service/brochures.mdx
Labels: developer

#221 fix(reference content): title and broken link MTA-1587
  dedibox-network/rpn/reference-content/private-networks-overview.mdx
Labels: documentation

#225 fix(tutorials): added tags corrected typos and fixed indentation MTA-1585
  tutorials/gpu-super-resolution/index.mdx
  tutorials/hadoop/index.mdx
  tutorials/hestiacp/index.mdx
  tutorials/host-gitlab-runner/index.mdx
  tutorials/install-apache-ansible/index.mdx
  tutorials/install-cassandra/index.mdx
  tutorials/install-configure-couchdb/index.mdx
  tutorials/install-docker-ubuntu-bionic/index.mdx
  tutorials/install-golang-ubuntu-bionic/index.mdx
  tutorials/install-ispconfig/index.mdx
  tutorials/install-kvm-bmaas/index.mdx
  tutorials/install-mattermost/index.mdx
  tutorials/install-openlitespeed-wordpress/index.mdx
  tutorials/install-openvpn/index.mdx
  tutorials/install-parse-server/index.mdx
  tutorials/install-php-composer/index.mdx
  tutorials/install-postgresql/index.mdx
  tutorials/install-rkhunter/index.mdx
  tutorials/install-wireguard/index.mdx
  tutorials/installation-jekyll/index.mdx
  tutorials/installation-lemp-ubuntu-bionic/index.mdx
  tutorials/installation-uncomplicated-firewall/index.mdx
  tutorials/jitsi-debian-stretch/index.mdx
  tutorials/jitsi-debian/index.mdx
  tutorials/jitsi-docker/index.mdx
  tutorials/jitsi-ubuntu-bionic/index.mdx
  tutorials/jump-desktop/index.mdx
  tutorials/k8s-github/index.mdx
  tutorials/kubeflow-on-kapsule/index.mdx
  tutorials/lb-firewall-haproxy-pfsense/index.mdx
  tutorials/lb-ingress-controller/index.mdx
  tutorials/librenms-monitoring/index.mdx
  tutorials/load-testing-vegeta/index.mdx
  tutorials/loriot-lorawan-network-server/index.mdx
  tutorials/magento-ubuntu/index.mdx
  tutorials/mailtrain-ubuntu-bionic/index.mdx
  tutorials/manage-database-instance-pgadmin4/index.mdx
  tutorials/manage-k8s-logging-loki/index.mdx
  tutorials/mariadb-ubuntu-bionic/index.mdx
  tutorials/mastodon-community/index.mdx
  tutorials/matomo-analytics/index.mdx
  tutorials/migrate-data-minio-client/index.mdx
  tutorials/migrate-data-rclone/index.mdx
  tutorials/migrate-databases-instance/index.mdx
  tutorials/minikube-bmaas/index.mdx
  tutorials/mist-streaming-server/index.mdx
  tutorials/mongodb-ubuntu-1604/index.mdx
  tutorials/monitor-k8s-grafana/index.mdx
  tutorials/mutli-node-rocket-chat-community-private-network/index.mdx
  tutorials/netdata-monitoring/index.mdx
  tutorials/nextcloud-instantapp/index.mdx
  tutorials/nginx-reverse-proxy/index.mdx
  tutorials/object-storage-s3fs/index.mdx
  tutorials/odoo-easy-deploy/index.mdx
  tutorials/odoo/index.mdx
  tutorials/openvpn-instant-app/index.mdx
  tutorials/owncloud-instantapp/index.mdx
Labels: documentation

#210 docs(ai): smart labeling - MTA-1571
  ai/concepts.mdx
  ai/smart-labeling/assets/scaleway-smart-labeling-annotation-url.png
  ai/smart-labeling/assets/scaleway-smart-labeling-dashboard.png
  ai/smart-labeling/assets/scaleway-smart-labeling-list.png
  ai/smart-labeling/assets/scaleway-smart-labeling-splash.png
  ai/smart-labeling/assets/scaleway-smart-labeling-workspace.png
  ai/smart-labeling/concepts.mdx
  ai/smart-labeling/how-to/access-annotation-server.mdx
  ai/smart-labeling/how-to/assets/scaleway-smart-labeling-annotation-url.png
  ai/smart-labeling/how-to/assets/scaleway-smart-labeling-dashboard.png
  ai/smart-labeling/how-to/assets/scaleway-smart-labeling-list.png
  ai/smart-labeling/how-to/assets/scaleway-smart-labeling-splash.png
  ai/smart-labeling/how-to/assets/scaleway-smart-labeling-workspace.png
  ai/smart-labeling/how-to/create-labeling-workspace.mdx
  ai/smart-labeling/how-to/delete-labeling-workspace.mdx
  ai/smart-labeling/how-to/index.mdx
  ai/smart-labeling/index.mdx
  ai/smart-labeling/quickstart.mdx
  menu/navigation.json
Labels: documentation

#218 docs(tutorial): cronjobs MTA-1579
  tutorials/automate-tasks-using-cron/index.mdx
Labels: documentation

#230 docs(storage): fix API Access Key link
  storage/object/api-cli/installing-rclone.mdx
Labels: documentation

#213 docs(howto): use outlook with webhosting classic
  menu/navigation.json
  webhosting/classic/how-to/assets/scaleway-outlook2013-mutu.jpg
  webhosting/classic/how-to/assets/scaleway-outlook2013-ports.jpg
  webhosting/classic/how-to/assets/scaleway-outlook2013-smtp.jpg
  webhosting/classic/how-to/check-emails.mdx
  webhosting/classic/how-to/configure-outlook.mdx
Labels: documentation

#226 fix(tutorials): update tags and fix typos MTA-1590
  tutorials/pihole-vpn/index.mdx
  tutorials/postgis-managed-databases/index.mdx
  tutorials/powerdns-ubuntu-bionic/index.mdx
  tutorials/prestashop-dedibox/index.mdx
  tutorials/prestashop-instantapp/index.mdx
  tutorials/prometheus-monitoring-grafana-dashboard/index.mdx
  tutorials/protect-server-fail2ban/index.mdx
  tutorials/protect-server-using-crowdsec/index.mdx
  tutorials/proxmox-softraid/index.mdx
  tutorials/proxy-protocol-v2-load-balancer/index.mdx
  tutorials/remote-desktop-with-xrdp/index.mdx
  tutorials/rtmp-self-hosted-streaming/index.mdx
  tutorials/ruby-on-rails-instant-app/index.mdx
  tutorials/ruby-on-rails/index.mdx
  tutorials/run-messaging-platform-with-rocketchat/index.mdx
  tutorials/run-python-flask-server-on-serverless-container/index.mdx
  tutorials/s3-customize-url-cname/index.mdx
  tutorials/s3cmd/index.mdx
  tutorials/scaleway-slack-community/index.mdx
  tutorials/self-hosted-repository-gitea/index.mdx
  tutorials/send-sms-iot-device-twilio/index.mdx
  tutorials/sentry-error-tracking/index.mdx
  tutorials/set-up-yunohost-debian/index.mdx
  tutorials/setting-up-tunnel/index.mdx
  tutorials/setup-cockroachdb-cluster/index.mdx
Labels: documentation

#154 feat(gpu): use docker with GPU MTA-1496
  compute/gpu/how-to/use-gpu-with-docker.mdx
Labels: wip

#157 Draft: feat(gpu): use pipenv with GPU MTA-1495
  compute/gpu/how-to/assets/scaleway-jupyter-lab.png
  compute/gpu/how-to/use-pipenv.mdx
Labels: wip

#201 docs(fix): wording
  components.mdx
  compute/bare-metal-cloud/concepts.mdx
  compute/bare-metal-cloud/how-to/attach-detach-flexible-ip.mdx
  compute/bare-metal-cloud/how-to/configure-flexible-ip.mdx
  compute/bare-metal-cloud/how-to/create-virtual-mac-group.mdx
  compute/bare-metal-cloud/how-to/order-flexible-ip.mdx
  compute/instances/api-cli/using-placement-groups.mdx
  compute/instances/concepts.mdx
  compute/instances/how-to/create-an-instance.mdx
  compute/instances/how-to/migrate-instances.mdx
  compute/instances/how-to/use-flexips.mdx
  compute/instances/how-to/use-placement-groups.mdx
  compute/instances/how-to/use-security-groups.mdx
  compute/instances/quickstart.mdx
  compute/instances/troubleshooting/cant-connect-ssh.mdx
  compute/kubernetes/how-to/create-cluster.mdx
  compute/kubernetes/how-to/create-kosmos-cluster.mdx
  compute/kubernetes/quickstart.mdx
  dedibox-network/ip-failover/concepts.mdx
  dedibox-network/ip-failover/how-to/configure-network-virtual-machine.mdx
  dedibox-network/ip-failover/how-to/index.mdx
  dedibox-network/ip-failover/how-to/order-failover-ip.mdx
  dedibox-network/ip-failover/quickstart.mdx
  dedibox-network/network/how-to/configure-network-netplan.mdx
  dedibox/dedicated-servers/how-to/order-a-server.mdx
  dedibox/dedicated-servers/quickstart.mdx
  faq/bmaas.mdx
  faq/vpc.mdx
  network/vpc/how-to/use-flexible-ips.mdx
  storage/object/how-to/use-obj-stor-with-private-networks.mdx
  tutorials/create-esxi-cluster-dedibox/configure-centos.mdx
  tutorials/drupal-instant-app/index.mdx
  tutorials/gitlab-instant-app/index.mdx
  tutorials/gogs-instant-app/index.mdx
  tutorials/lb-firewall-haproxy-pfsense/index.mdx
  tutorials/nextcloud-instantapp/index.mdx
  tutorials/owncloud-instantapp/index.mdx
  tutorials/pihole-vpn/index.mdx
  tutorials/prestashop-instantapp/index.mdx
  tutorials/wordpress-instantapp/index.mdx
Labels: documentation

#229 docs(tutorials): content validation - MTA-1594
  tutorials/configure-netbox-managed-postgresql-database/index.mdx
  tutorials/deploy-nextcloud-s3/index.mdx
  tutorials/installation-uncomplicated-firewall/index.mdx
  tutorials/mutli-node-rocket-chat-community-private-network/index.mdx
  tutorials/setup-mysql/index.mdx
Labels: documentation

#224 docs(how-to): database instances with private networks
  faq/database.mdx
  menu/navigation.json
  storage/database/api-cli/assets/scaleway-pn-dbaas-01.png
  storage/database/api-cli/assets/scaleway-pn-dbaas-02.png
  storage/database/api-cli/configuring-private-networks-using-api.mdx
  storage/database/api-cli/index.mdx
  storage/database/how-to/assets/scaleway-dbaas-pn-attached.png
  storage/database/how-to/configure-advanced-settings.mdx
  storage/database/how-to/connect-database-private-network.mdx
  storage/database/how-to/delete-a-database.mdx
  storage/database/how-to/upgrade-a-database.mdx
Labels: documentation

#231 fix(tutorials): updated tags and fixed typos MTA-1591
  tutorials/powerdns-ubuntu-bionic/index.mdx
  tutorials/remote-desktop-with-xrdp/index.mdx
  tutorials/ruby-on-rails-instant-app/index.mdx
  tutorials/run-messaging-platform-with-rocketchat/index.mdx
  tutorials/run-nodejs-express-server-on-serverless-containers/index.mdx
  tutorials/self-hosted-repository-gitea/index.mdx
  tutorials/sentry-error-tracking/index.mdx
  tutorials/setting-up-tunnel/index.mdx
  tutorials/setup-jupyter-notebook/index.mdx
  tutorials/setup-k8s-cluster-rancher/index.mdx
  tutorials/setup-minecraft/index.mdx
  tutorials/setup-moodle/index.mdx
  tutorials/setup-mysql/index.mdx
  tutorials/setup-nginx-reverse-proxy-s3/index.mdx
  tutorials/setup-postfix-ubuntu-bionic/index.mdx
  tutorials/sharelatex/index.mdx
  tutorials/sinatra/index.mdx
  tutorials/socket-io/index.mdx
  tutorials/stop-outgoing-spam/index.mdx
  tutorials/store-s3-cyberduck/index.mdx
  tutorials/store-s3-transmit/index.mdx
  tutorials/store-wp-mediacloud-s3/index.mdx
  tutorials/strapi/index.mdx
  tutorials/systemd-essentials/index.mdx
  tutorials/terraform-quickstart/index.mdx
  tutorials/torrents-instant-app/index.mdx
  tutorials/traefik-v2-cert-manager/index.mdx
  tutorials/transform-images-using-faas-and-nodejs/index.mdx
  tutorials/trigger-ifttt-actions/index.mdx
  tutorials/upgrade-managed-postgresql-database/index.mdx
  tutorials/use-apache-nifi-migrate-data/index.mdx
  tutorials/use-apache-spark-hadoop-query-data/index.mdx
  tutorials/use-atempo-s3/index.mdx
  tutorials/vagrant/index.mdx
  tutorials/veeam-backup-replication-s3/index.mdx
  tutorials/virtualbox/index.mdx
  tutorials/visualize-timeseries-data-timescaledb-grafana/index.mdx
  tutorials/vpc-public-gateway-autoconfiguration/index.mdx
  tutorials/vuls-security-scanner/index.mdx
  tutorials/wireguard-mesh-vpn/index.mdx
  tutorials/wordpress-instantapp/index.mdx
  tutorials/wordpress-lemp-stack/index.mdx
  tutorials/zabbix-monitoring/index.mdx
  tutorials/zammad-ticketing/index.mdx
  tutorials/zimbra-bmaas/index.mdx
  tutorials/zulip/index.mdx
Labels: documentation

#234 docs(frontmatter): fix step and link
  README.md
  docs/CONTRIBUTING.md
Labels: developer

#232 fix(lb): updated lb product name to plural MTA-1596
  menu/navigation.json
  network/load-balancer/api-cli/index.mdx
  network/load-balancer/api-cli/setting-up-ssl-offloading.mdx
  network/load-balancer/concepts.mdx
  network/load-balancer/how-to/assets/scaleway-lb-creation-page.png
  network/load-balancer/how-to/create-load-balancer.mdx
  network/load-balancer/how-to/create-self-signed-tls-certificate.mdx
  network/load-balancer/how-to/delete-load-balancer.mdx
  network/load-balancer/how-to/index.mdx
  network/load-balancer/how-to/manage-frontends-and-backends.mdx
  network/load-balancer/how-to/setup-ssl-offloading.mdx
  network/load-balancer/how-to/use-with-private-network.mdx
  network/load-balancer/index.mdx
  network/load-balancer/quickstart.mdx
Labels: documentation

#238 docs(fix): fix broken links
  ai/smart-labeling/how-to/access-annotation-server.mdx
  ai/smart-labeling/how-to/create-labeling-workspace.mdx
  ai/smart-labeling/how-to/delete-labeling-workspace.mdx
  iot/iot-hub/api-cli/using-twins.mdx
  iot/iot-hub/reference-content/twins.mdx
  storage/database/how-to/configure-advanced-settings.mdx
  tutorials/install-wireguard/index.mdx
  tutorials/transform-images-using-faas-and-nodejs/index.mdx
Labels: documentation

#239 docs(how-to): webhosting review MTA-1600
  menu/navigation.json
  webhosting/classic/how-to/access-logcenter.mdx
  webhosting/classic/how-to/configure-htaccess-file.mdx
  webhosting/classic/how-to/configure-php.mdx
  webhosting/classic/how-to/create-alias.mdx
  webhosting/classic/how-to/create-ftp-account.mdx
  webhosting/classic/how-to/delete-email-transfer.mdx
  webhosting/classic/how-to/solve-email-account-connection-problems.mdx
Labels: documentation

#240 fix(s3): add info MTA-1601 and MTA-1603
  storage/object/api-cli/lifecycle-rules-api.mdx
  tutorials/veeam-backup-replication-s3/index.mdx
Labels: documentation

#242 fix(tuto): ark add keywords and test
  tutorials/ark-server/index.mdx
Labels: documentation

#245 docs(fix): removed broken images MTA-1604
  compute/kubernetes/quickstart.mdx
  dedibox-network/domains/quickstart.mdx
  dedibox-network/ipv6/quickstart.mdx
  dedibox-network/network/assets/scaleway-mtr1.png
  dedibox-network/network/troubleshooting.mdx
  dedibox/dedicated-servers/quickstart.mdx
  network/load-balancer/quickstart.mdx
  network/vpc/quickstart.mdx
  tutorials/gpu-super-resolution/assets/scaleway-input-output.png
  tutorials/gpu-super-resolution/assets/scaleway-plot.png
  tutorials/gpu-super-resolution/index.mdx
  tutorials/ruby-on-rails-instant-app/index.mdx
Labels: documentation

#236 docs(tutorials): review wording
  tutorials/ansible-bionic-beaver/index.mdx
  tutorials/ceph-cluster/index.mdx
  tutorials/cloudera-cdh-cluster/index.mdx
  tutorials/configure-chef-ubuntu-xenial/index.mdx
  tutorials/configure-nagios-monitoring/index.mdx
  tutorials/configure-nextcloud-ubuntu/index.mdx
  tutorials/configure-plex-s3/index.mdx
  tutorials/encrypt-s3-data-rclone/index.mdx
  tutorials/foreman-puppet/index.mdx
  tutorials/glpi/index.mdx
  tutorials/install-configure-couchdb/index.mdx
  tutorials/install-openlitespeed-wordpress/index.mdx
  tutorials/install-parse-server/index.mdx
  tutorials/installation-lemp-ubuntu-bionic/index.mdx
  tutorials/jitsi-docker/index.mdx
  tutorials/jitsi-ubuntu-bionic/index.mdx
  tutorials/load-testing-vegeta/index.mdx
  tutorials/manage-database-instance-pgadmin4/index.mdx
  tutorials/manage-k8s-logging-loki/index.mdx
  tutorials/mariadb-ubuntu-bionic/index.mdx
  tutorials/mastodon-community/index.mdx
  tutorials/migrate-mysql-databases-postgresql-pgloader/index.mdx
  tutorials/mongodb-ubuntu-1604/index.mdx
  tutorials/monitor-k8s-grafana/index.mdx
  tutorials/netdata-monitoring/index.mdx
  tutorials/nginx-reverse-proxy/index.mdx
  tutorials/object-storage-s3fs/index.mdx
  tutorials/pihole-vpn/index.mdx
  tutorials/ruby-on-rails/index.mdx
  tutorials/self-hosted-repository-gitea/index.mdx
  tutorials/setup-moodle/index.mdx
  tutorials/terraform-quickstart/index.mdx
Labels: documentation

#249 docs(how-to): dabase with private networks - Mta 1612
  storage/database/how-to/connect-database-private-network.mdx
Labels: documentation

#254 docs(tutorial): bash xmas tree 2022 - Mta-1617
  tutorials/bash-christmas-tree/assets/scaleway-animated-tree.gif
  tutorials/bash-christmas-tree/index.mdx
Labels: documentation

#255 fix(tuto): elk logging keywords + update MTA-1598
  tutorials/collecting-visualizing-logs-elastic-stack/index.mdx
  tutorials/setup-nginx-reverse-proxy-s3/index.mdx
Labels: documentation
