Repository scaleway/docs-content, pull requests merged in 2021-09, with the labels that each got.

#63 docs(concept): add new concepts to my account and database MTA-1453
  console/my-account/concepts.mdx
  storage/database/concepts.mdx
Labels: documentation

#60 docs(readme): add prerequisite and yarn procedure
  .husky/pre-commit
  README.md
  docs/CONTRIBUTING.md
Labels: developer

#68 feat(dc): add new brochures MTA-1457
  assets/scaleway-quickstart-1.2.pdf
  datacenters/datacenter-as-a-service/assets/scaleway-colocation.pdf
  datacenters/datacenter-as-a-service/assets/scaleway-connectivity.pdf
  datacenters/datacenter-as-a-service/assets/scaleway-dc-designs.pdf
  datacenters/datacenter-as-a-service/assets/scaleway-dc-security.pdf
  datacenters/datacenter-as-a-service/assets/scaleway-dc-support-services.pdf
  datacenters/datacenter-as-a-service/brochures.mdx
  index.mdx
Labels: documentation

#72 chore(deps): update husky 7.0.2
  package.json
  yarn.lock
Labels: developer

#66 feat: add vale linter
  .husky/commit-msg
  .vale.ini
  styles/Microsoft/AMPM.yml
  styles/Microsoft/Accessibility.yml
  styles/Microsoft/Acronyms.yml
  styles/Microsoft/Adverbs.yml
  styles/Microsoft/Auto.yml
  styles/Microsoft/Avoid.yml
  styles/Microsoft/Backend.yml
  styles/Microsoft/ComplexWords.yml
  styles/Microsoft/Contractions.yml
  styles/Microsoft/Dashes.yml
  styles/Microsoft/DateNumbers.yml
  styles/Microsoft/Ellipses.yml
  styles/Microsoft/FirstPerson.yml
  styles/Microsoft/Foreign.yml
  styles/Microsoft/Gender.yml
  styles/Microsoft/GenderBias.yml
  styles/Microsoft/GeneralURL.yml
  styles/Microsoft/HeadingAcronyms.yml
  styles/Microsoft/HeadingColons.yml
  styles/Microsoft/HeadingPunctuation.yml
  styles/Microsoft/Headings.yml
  styles/Microsoft/Hyphens.yml
  styles/Microsoft/Negative.yml
  styles/Microsoft/Ordinal.yml
  styles/Microsoft/OxfordComma.yml
  styles/Microsoft/Passive.yml
  styles/Microsoft/Percentages.yml
  styles/Microsoft/Quotes.yml
  styles/Microsoft/RangeFormat.yml
  styles/Microsoft/RangeTime.yml
  styles/Microsoft/Ranges.yml
  styles/Microsoft/Semicolon.yml
  styles/Microsoft/SentenceLength.yml
  styles/Microsoft/Spacing.yml
  styles/Microsoft/Suspended.yml
  styles/Microsoft/Terms.yml
  styles/Microsoft/URLFormat.yml
  styles/Microsoft/Units.yml
  styles/Microsoft/Vocab.yml
  styles/Microsoft/We.yml
  styles/Microsoft/Wordiness.yml
  styles/Microsoft/meta.json
  styles/Vocab/Scaleway/accept.txt
  styles/Vocab/Scaleway/reject.txt
  styles/write-good/Cliches.yml
  styles/write-good/E-Prime.yml
  styles/write-good/Illusions.yml
  styles/write-good/Passive.yml
  styles/write-good/README.md
  styles/write-good/So.yml
  styles/write-good/ThereIs.yml
  styles/write-good/TooWordy.yml
  styles/write-good/Weasel.yml
  styles/write-good/meta.json
Labels: developer

#51 docs(how-tos): compute instances MTA-1447
  compute/instances/api-cli/creating-managing-instances-with-cliv2.mdx
  menu/navigation.json
Labels: documentation

#64 docs(how-tos): compute kubernetes CLI v2-MTA-1454
  compute/kubernetes/api-cli/creating-managing-kubernetes-lifecycle-cliv2.mdx
  menu/navigation.json
Labels: documentation, wip

#65 docs(how-tos): storage object storage-MTA-1456
  menu/navigation.json
  storage/object/api-cli/managing-lifecycle-cliv2.mdx
Labels: documentation, wip

#45 docs(tutorial): upgrade pgsql MTA-1278
  tutorials/upgrade-managed-postgresql-database/assets/scaleway-database-information.png
  tutorials/upgrade-managed-postgresql-database/assets/scaleway-database-restored.png
  tutorials/upgrade-managed-postgresql-database/index.mdx
Labels: documentation

#81 docs: remove useless funding file
  docs/FUNDING.yml
Labels: developer

#70 docs: update README.md
  README.md
Labels: developer

#77 fix(s3): edit endpoint plugin config
  storage/object/api-cli/object-storage-aws-cli.mdx
Labels: documentation

#74 docs(concepts): improve concept pages for elements products with links to relevant docs MTA-1453
  compute/apple-silicon/concepts.mdx
  compute/bare-metal-cloud/concepts.mdx
  compute/container-registry/concepts.mdx
  compute/containers/concepts.mdx
  compute/functions/concepts.mdx
  compute/instances/concepts.mdx
  compute/instances/how-to/create-a-snapshot.mdx
  compute/instances/how-to/create-an-instance.mdx
  compute/kubernetes/concepts.mdx
  console/my-account/concepts.mdx
  console/my-project/concepts.mdx
  network/dns-cloud/concepts.mdx
  network/load-balancer/concepts.mdx
  network/vpc/concepts.mdx
  storage/block/concepts.mdx
  storage/database/concepts.mdx
  storage/object/concepts.mdx
Labels: documentation

#83 docs(tutorial): fix reqs and code block in postgre tuto
  tutorials/upgrade-managed-postgresql-database/index.mdx
Labels: documentation

#84 fix(az): add fr-par-3
  compute/instances/api-cli/creating-backups.mdx
  compute/instances/api-cli/migrating-instances.mdx
  compute/instances/concepts.mdx
  compute/instances/how-to/use-enterprise-instances.mdx
  dedibox/hardware/reference-content.mdx
  faq/enterprise.mdx
  storage/object/api-cli/object-operations.mdx
  storage/object/api-cli/object-storage-aws-cli.mdx
  tutorials/magento-dedibox/index.mdx
  tutorials/use-atempo-s3/index.mdx
  webhosting/cpanel/reference-content.mdx
Labels: documentation

#82 fix(my-account): add concepts
  compute/bare-metal-cloud/concepts.mdx
  compute/instances/how-to/create-an-instance.mdx
  console/my-account/concepts.mdx
  console/my-project/concepts.mdx
Labels: documentation

#78 fix(components): http -> https
  components.mdx
Labels: developer

#86 fix(tutorials): typo on link to NGINX docs
  tutorials/self-hosted-repository-gitea/index.mdx
Labels: documentation

#79 docs(how-tos): add extra section for transferring data block storage MTA-1357
  storage/block/how-to/mount-and-use-volume.mdx
Labels: documentation

#87 fix: rdb typos
  storage/database/concepts.mdx
  storage/database/how-to/create-a-database.mdx
  storage/database/how-to/delete-a-database.mdx
  storage/database/quickstart.mdx
Labels: documentation

#91 fix(tutorials): veeam tuto add note
  tutorials/veeam-backup-replication-s3/assets/scaleway-veeam-backup.png
  tutorials/veeam-backup-replication-s3/assets/scaleway-veeam-target.png
  tutorials/veeam-backup-replication-s3/index.mdx
Labels: documentation

#90 docs(tutorials): fixed various tutorials MTA-1462
  compute/instances/how-to/use-protected-instance.mdx
  storage/block/how-to/detach-a-volume.mdx
  storage/database/how-to/add-users.mdx
  storage/database/how-to/configure-advanced-settings.mdx
  storage/database/how-to/delete-a-database.mdx
  storage/database/how-to/enable-autobackup.mdx
  storage/database/how-to/manage-allowed-ip-addresses.mdx
  storage/database/how-to/manage-manual-backups.mdx
  storage/database/how-to/manage-snapshots.mdx
  tutorials/configure-netbox-managed-postgresql-database/index.mdx
  tutorials/deploy-hasura-engine-database-postgresql/index.mdx
  tutorials/deploy-wordpress-managed-database-mysql8/index.mdx
  tutorials/erpnext-13/assets/scaleway-erpnext-getting-started-13.png
  tutorials/erpnext-13/assets/scaleway-erpnext_dashboard.png
  tutorials/erpnext-13/assets/scaleway-erpnext_getting_started.png
  tutorials/erpnext-13/assets/scaleway-erpnext_login.png
  tutorials/erpnext-13/assets/scaleway-erpnext_setup_1.png
  tutorials/erpnext-13/assets/scaleway-erpnext_setup_2.png
  tutorials/erpnext-13/assets/scaleway-erpnext_setup_3.png
  tutorials/erpnext-13/assets/scaleway-erpnext_setup_4.png
  tutorials/erpnext-13/assets/scaleway-erpnext_setup_5.png
  tutorials/erpnext-13/assets/scaleway-erpnext_setup_6.png
  tutorials/erpnext-13/assets/scaleway-erpnext_setup_7.png
  tutorials/erpnext-13/assets/scaleway-erpnext_test.png
  tutorials/erpnext-13/assets/scaleway_erpnext.png
  tutorials/erpnext-13/index.mdx
  tutorials/erpnext/assets/scaleway-erpnext-getting-started-13.png
  tutorials/erpnext/index.mdx
  tutorials/migrate-mysql-databases-postgresql-pgloader/index.mdx
  tutorials/odoo/index.mdx
  tutorials/visualize-timeseries-data-timescaledb-grafana/index.mdx
Labels: documentation

#94 docs(tutorials): tutorial private network with public gateway
  tutorials/vpc-public-gateway-autoconfiguration/assets/scaleway_add_instance.png
  tutorials/vpc-public-gateway-autoconfiguration/assets/scaleway_vpc_add_instance.png
  tutorials/vpc-public-gateway-autoconfiguration/assets/scaleway_vpc_dhcp_status.png
  tutorials/vpc-public-gateway-autoconfiguration/assets/scaleway_vpc_public_gateway_attach_network.png
  tutorials/vpc-public-gateway-autoconfiguration/assets/scaleway_vpc_public_gateway_list.png
  tutorials/vpc-public-gateway-autoconfiguration/assets/scaleway_vpc_public_gateway_splash.png
  tutorials/vpc-public-gateway-autoconfiguration/assets/scaleway_vpc_splash.png
  tutorials/vpc-public-gateway-autoconfiguration/assets/scaleway_vpc_static_dhcp.png
  tutorials/vpc-public-gateway-autoconfiguration/assets/scaleway_vpc_static_nat.png
  tutorials/vpc-public-gateway-autoconfiguration/index.mdx
Labels: documentation

#100 docs(tuto): magento update MTA-1464a
  tutorials/magento-dedibox/index.mdx
  tutorials/magento-ubuntu/assets/scaleway-magento_admin_dashboard.png
  tutorials/magento-ubuntu/assets/scaleway-magento_console_1.png
  tutorials/magento-ubuntu/assets/scaleway-magento_console_2.png
  tutorials/magento-ubuntu/assets/scaleway-magento_console_3.png
  tutorials/magento-ubuntu/assets/scaleway-magento_console_4.png
  tutorials/magento-ubuntu/assets/scaleway-magento_console_5.png
  tutorials/magento-ubuntu/assets/scaleway-magento_storefront.png
  tutorials/magento-ubuntu/assets/scaleway_magento.png
  tutorials/magento-ubuntu/index.mdx
Labels: documentation

#101 fix(tutorials): Bare Metal Server with CLI MTA-1460
  compute/bare-metal-cloud/api-cli/bare-metal-with-cli.mdx
  menu/navigation.json
  tutorials/veeam-backup-replication-s3/assets/scaleway-scw-veeam.png
  tutorials/veeam-backup-replication-s3/assets/scaleway_schema_veeam.jpg
  tutorials/veeam-backup-replication-s3/index.mdx
Labels: documentation, wip

#105 docs(how-tos): send emails from an instance-MTA-1477
  console/my-account/how-to/assets/scaleway_enable_smtp.png
  console/my-account/how-to/assets/scaleway_security_groups.png
  console/my-account/how-to/open-a-support-ticket.mdx
  console/my-account/how-to/recover-a-lost-password.mdx
  console/my-account/how-to/send-emails-from-your-instance.mdx
  faq/general.mdx
  menu/navigation.json
Labels: documentation, wip

#109 docs(tutorials): microsoft hyper-v
  tutorials/configure-vm-hyperv/assets/scaleway-click-on-install.png
  tutorials/configure-vm-hyperv/assets/scaleway-disclaimer.png
  tutorials/configure-vm-hyperv/assets/scaleway-distribution-options.png
  tutorials/configure-vm-hyperv/assets/scaleway-hyperv_01.png
  tutorials/configure-vm-hyperv/assets/scaleway-hyperv_02.png
  tutorials/configure-vm-hyperv/assets/scaleway-hyperv_03.png
  tutorials/configure-vm-hyperv/assets/scaleway-hyperv_04.png
  tutorials/configure-vm-hyperv/assets/scaleway-hyperv_05.png
  tutorials/configure-vm-hyperv/assets/scaleway-hyperv_06.png
  tutorials/configure-vm-hyperv/assets/scaleway-hyperv_07.png
  tutorials/configure-vm-hyperv/assets/scaleway-hyperv_08.png
  tutorials/configure-vm-hyperv/assets/scaleway-hyperv_09.png
  tutorials/configure-vm-hyperv/assets/scaleway-hyperv_10.png
  tutorials/configure-vm-hyperv/assets/scaleway-hyperv_11.png
  tutorials/configure-vm-hyperv/assets/scaleway-hyperv_12.png
  tutorials/configure-vm-hyperv/assets/scaleway-hyperv_manager.png
  tutorials/configure-vm-hyperv/assets/scaleway-idrac.png
  tutorials/configure-vm-hyperv/assets/scaleway-install-windows.png
  tutorials/configure-vm-hyperv/assets/scaleway-kvm-over-ip.png
  tutorials/configure-vm-hyperv/index.mdx
Labels: documentation

#114 docs(tutorials): esxi cluster dedibox
  tutorials/create-esxi-cluster-dedibox/index.mdx
Labels: documentation
