Repository scaleway/docs-content, pull requests merged in 2022-09, with the labels that each got.

#842 feat(messaging): add messaging doc for beta
  compute/messaging/api-cli/connect-aws-cli.mdx
  compute/messaging/api-cli/index.mdx
  compute/messaging/api-cli/python-node-sns.mdx
  compute/messaging/api-cli/python-node-sqs.mdx
  compute/messaging/assets/scaleway-delete-namespace.webp
  compute/messaging/assets/scaleway-namespace-creation.webp
  compute/messaging/assets/scaleway-namespace-menu.webp
  compute/messaging/assets/scaleway-nats-credentials.webp
  compute/messaging/assets/scaleway-nats-creds-generated.webp
  compute/messaging/assets/scaleway-sqssns-credentials.webp
  compute/messaging/assets/scaleway-sqssns-creds-generated.webp
  compute/messaging/concepts.mdx
  compute/messaging/how-to/assets/scaleway-credentials-list.webp
  compute/messaging/how-to/assets/scaleway-delete-namespace.webp
  compute/messaging/how-to/assets/scaleway-namespace-creation.webp
  compute/messaging/how-to/assets/scaleway-namespace-menu.webp
  compute/messaging/how-to/assets/scaleway-nats-credentials.webp
  compute/messaging/how-to/assets/scaleway-nats-creds-generated.webp
  compute/messaging/how-to/assets/scaleway-sqs-credentials-panel.webp
  compute/messaging/how-to/assets/scaleway-sqssns-credentials.webp
  compute/messaging/how-to/assets/scaleway-sqssns-creds-generated.webp
  compute/messaging/how-to/assets/scaleway-update-credentials-popup.webp
  compute/messaging/how-to/assets/scaleway-update-credentials.webp
  compute/messaging/how-to/create-credentials.mdx
  compute/messaging/how-to/create-namespace.mdx
  compute/messaging/how-to/delete-namespace.mdx
  compute/messaging/how-to/index.mdx
  compute/messaging/how-to/manage-credentials.mdx
  compute/messaging/index.mdx
  compute/messaging/quickstart.mdx
  compute/messaging/reference-content/index.mdx
  compute/messaging/reference-content/nats-overview.mdx
  compute/messaging/reference-content/snssqs-overview.mdx
Labels: do not merge

#844 fix(changelog): add packer category + entries
  changelog/packer/semptember2022/2022-09-05-packer-added-data-support.mdx
  changelog/packer/semptember2022/2022-09-05-packer-added-nightly-e2e-tests.mdx
  changelog/packer/semptember2022/2022-09-05-packer-added-optional-cleanup-step.mdx
  changelog/packer/semptember2022/2022-09-05-packer-added-support-devcontainer.mdx
  changelog/packer/semptember2022/2022-09-05-packer-added-support-unified-snapshots.mdx
  changelog/packer/semptember2022/2022-09-05-packer-added-timeout-config.mdx
  changelog/packer/semptember2022/2022-09-05-packer-fixed-migrated-volumeservertemplate copy 2.mdx
  changelog/packer/semptember2022/2022-09-05-packer-fixed-migrated-volumeservertemplate copy.mdx
  changelog/packer/semptember2022/2022-09-05-packer-fixed-migrated-volumeservertemplate.mdx
  menu/changelogs.json
Labels: changelog

#845 feat(changelog): added play2 log
  changelog/instances/september2022/2022-09-06-instances-added-play2.mdx
Labels: changelog

#833 feat(tutorials): tutorial for k8s video 3
  tutorials/get-started-kubernetes-loadbalancer/assets/scaleway-cluster.webp
  tutorials/get-started-kubernetes-loadbalancer/assets/scaleway-load-balancer.webp
  tutorials/get-started-kubernetes-loadbalancer/assets/scaleway-loadbalancer-service.webp
  tutorials/get-started-kubernetes-loadbalancer/assets/scaleway-nodeport.webp
  tutorials/get-started-kubernetes-loadbalancer/index.mdx
Labels: do not merge

#843 docs(tutorials): Fix systemctl commands
  compute/elastic-metal/how-to/configure-flexible-ipv6.mdx
  dedibox-network/ipv6/how-to/configure-ipv6-linux.mdx
  dedibox-network/ipv6/how-to/configure-ipv6-networkd.mdx
  tutorials/ark-server/index.mdx
  tutorials/automate-tasks-using-cron/index.mdx
  tutorials/back-up-postgresql-barman/index.mdx
  tutorials/backup-postgresql-pgbackrest-s3/index.mdx
  tutorials/collecting-visualizing-logs-elastic-stack/index.mdx
  tutorials/configure-apache-lets-encrypt/index.mdx
  tutorials/configure-nagios-monitoring/index.mdx
  tutorials/configure-netbox-managed-postgresql-database/index.mdx
  tutorials/configure-nginx-lets-encrypt/index.mdx
  tutorials/configure-plex-s3/index.mdx
  tutorials/configure-puppet/index.mdx
  tutorials/configuring-loadbalancer-wordpress/index.mdx
  tutorials/create-valheim-server/index.mdx
  tutorials/deploy-awstats/index.mdx
  tutorials/deploy-nextcloud-s3/index.mdx
  tutorials/deploy-remote-desktop-ubuntu-2204/index.mdx
  tutorials/deploy-wordpress-managed-database-mysql8/index.mdx
  tutorials/erpnext-13/index.mdx
  tutorials/erpnext/index.mdx
  tutorials/glusterfs/index.mdx
  tutorials/install-cassandra/index.mdx
  tutorials/install-docker-ubuntu-bionic/index.mdx
  tutorials/install-kvm-elastic-metal/index.mdx
  tutorials/install-openvpn/index.mdx
  tutorials/install-parse-server/index.mdx
  tutorials/installation-lemp-ubuntu-bionic/index.mdx
  tutorials/installation-lemp-ubuntu-focal/index.mdx
  tutorials/librenms-monitoring/index.mdx
  tutorials/magento-ubuntu/index.mdx
  tutorials/mariadb-ubuntu-bionic/index.mdx
  tutorials/mastodon-community/index.mdx
  tutorials/mongodb-ubuntu-1604/index.mdx
  tutorials/mutli-node-rocket-chat-community-private-network/index.mdx
  tutorials/odoo/index.mdx
  tutorials/powerdns-ubuntu-bionic/index.mdx
  tutorials/prestashop-dedibox/index.mdx
  tutorials/prometheus-monitoring-grafana-dashboard/index.mdx
  tutorials/proxy-protocol-v2-load-balancer/index.mdx
  tutorials/remote-desktop-with-xrdp/index.mdx
  tutorials/run-messaging-platform-with-rocketchat/index.mdx
  tutorials/self-hosted-repository-gitea/index.mdx
  tutorials/setup-lamp-stack-ubuntu2204/index.mdx
  tutorials/setup-mongodb-on-ubuntu/index.mdx
  tutorials/setup-moodle/index.mdx
  tutorials/sharelatex/index.mdx
  tutorials/visualize-timeseries-data-timescaledb-grafana/index.mdx
  tutorials/wireguard-mesh-vpn/index.mdx
  tutorials/zabbix-monitoring/index.mdx
  tutorials/zammad-ticketing/index.mdx
Labels: question

#853 fix(changelog): names and filters
  changelog/packer/semptember2022/2022-09-05-packer-changed-updated-documentation.mdx
  changelog/packer/semptember2022/2022-09-05-packer-fixed-fetching-log-added.mdx
  changelog/packer/semptember2022/2022-09-05-packer-fixed-migrated-volumeservertemplate copy.mdx
  changelog/packer/semptember2022/2022-09-05-packer-fixed-migrated-volumeservertemplate.mdx
  menu/changelogs.json
Labels: changelog

#855 fix(tutorials): reviews MTA-2182
  tutorials/deploy-big-blue-button/index.mdx
  tutorials/deploy-instances-packer-terraform/index.mdx
  tutorials/deploy-nextcloud-s3/index.mdx
  tutorials/encrypt-volumes/index.mdx
  tutorials/erpnext-13/index.mdx
  tutorials/erpnext/index.mdx
  tutorials/flask/assets/scaleway-FlaskHello.webp
  tutorials/flask/index.mdx
  tutorials/foreman-puppet/index.mdx
  tutorials/get-started-containers-docker/index.mdx
  tutorials/get-started-deploy-kapsule/index.mdx
  tutorials/gitlab-instant-app/index.mdx
  tutorials/glpi/index.mdx
  tutorials/glusterfs/index.mdx
Labels: documentation

#856 feat(changelog): new entries week 37 MTA-2221
  changelog/databases/september2022/2022-09-13-pnm-added-read-replica.mdx
  changelog/serverless/september2022/2022-09-07-mnq-added-sns-sqs.mdx
  changelog/serverless/september2022/2022-09-08-functions-changed-nodejs.mdx
  changelog/serverless/september2022/2022-09-08-functions-deprecated-go.mdx
  changelog/serverless/september2022/2022-09-08-functions-deprecated-nodejs.mdx
  changelog/serverless/september2022/2022-09-08-functions-deprecated-python.mdx
Labels: changelog

#854 docs(how-to): connect to an Elastic Metal server remotely using windows MTA-2197
  compute/elastic-metal/how-to/assets/scaleway-configuration-page-microsoft-remote.webp
  compute/elastic-metal/how-to/assets/scaleway-warning-certificate-root-user.webp
  compute/elastic-metal/how-to/connect-to-server.mdx
Labels: do not merge

#870 fix(how-to): updated doc MTA-2234
  compute/instances/api-cli/creating-managing-instances-with-cliv2.mdx
Labels: documentation

#872 docs(quickstart): fixed order of steps MTA-2231
  compute/instances/quickstart.mdx
Labels: documentation

#861 Changelog - New changelog entries week of 19/09/2022 | MTA-2236
  changelog/iam/august2022/2022-08-01-iam-added-iam-beta.mdx
  changelog/instances/september2022/2022-09-19-instances-changed-play2-par1.mdx
  changelog/storage/september2022/2022-09-15-changed-haproxy-version.mdx
  changelog/storage/september2022/2022-09-15-changed-hive-version.mdx
Labels: changelog

#880 fix(redis): pns
  managed-databases/redis/how-to/create-a-database-for-redis.mdx
Labels: documentation

#873 docs(api-cli): managing snapshots | MTA-2180
  compute/instances/api-cli/managing-instance-snapshot-via-cli.mdx
  menu/navigation.json
Labels: documentation

#883 fix(iot): fixed typo in concepts title
  iot/iot-hub/concepts.mdx
Labels: documentation
