Repository scaleway/docs-content, pull requests merged in 2022-08, with the labels that each got.

#729 docs(tutorials): add Pulumi quickstart tutorial
  tutorials/pulumi-quickstart/assets/pulumi-home.webp
  tutorials/pulumi-quickstart/assets/pulumi-scaleway-kapsule-pool-add-done.webp
  tutorials/pulumi-quickstart/assets/pulumi-scaleway-kapsule-pool-add.webp
  tutorials/pulumi-quickstart/assets/pulumi-scaleway-kapsule-pool.webp
  tutorials/pulumi-quickstart/assets/pulumi-scaleway-kapsule.webp
  tutorials/pulumi-quickstart/index.mdx
Labels: Documentation Request

#757 fix(db): menus MTA-2113a
  managed-databases/postgresql-and-mysql/how-to/index.mdx
  managed-databases/redis/concepts.mdx
  managed-databases/redis/how-to/index.mdx
  managed-databases/redis/quickstart.mdx
Labels: documentation

#755 docs(fix): broken links MTA-2090
  compute/dedibox/how-to/configure-ipv6-dedibox.mdx
  compute/dedibox/how-to/connect-to-dedibox.mdx
  compute/dedibox/how-to/install-dedibox.mdx
  compute/dedibox/quickstart.mdx
  dedibox-network/ipv6/quickstart.mdx
Labels: documentation

#758 fix(docs): update slack community link
  tutorials/scaleway-slack-community/index.mdx
Labels: documentation

#748 docs(tutorial): fix openvpn instantapp tuto MTA-2107
  tutorials/openvpn-instant-app/index.mdx
Labels: bug, documentation

#762 docs(fix): fixed broken link MTA-2117
  managed-databases/redis/how-to/scale-up-a-database-for-redis.mdx
Labels: documentation

#776 feat(cli): cheatsheet
  compute/instances/api-cli/assets/Instances-CLI-Cheatsheet.pdf
  compute/instances/api-cli/assets/Instances-CLI-cheatsheet.png
  compute/instances/api-cli/cli-cheatsheet.mdx
Labels: documentation

#778 fix(core): broken links
  identity-and-access-management/iam/concepts.mdx
  identity-and-access-management/iam/how-to/create-policy.mdx
  identity-and-access-management/iam/quickstart.mdx
  identity-and-access-management/iam/reference-content/policy.mdx
Labels: documentation

#728 feat(changelog): changelog entries
  changelog/container-registry/january2022/2022-01-02-registry-changed-backend.mdx
  changelog/databases/february2022/2022-02-02-postgresql-and-mysql-added-block-volume.mdx
  changelog/databases/february2022/2022-02-02-postgresql-and-mysql-added-pgsql14.mdx
  changelog/databases/july2022/2022-07-26-redis-added-redis-ga.mdx
  changelog/databases/march2022/2022-03-01-postgresql-and-mysql-updated-mysql-stability.mdx
  changelog/documentation/august2022/2022-08-09-added-cli-cheatsheet.mdx
  changelog/documentation/august2022/assets/scaleway-instances-cli-cheatsheet.webp
  changelog/dummy.mdx
  changelog/elastic-metal/february2022/2022-02-02-elastic-metal-added-proxmox.mdx
  changelog/elastic-metal/may2022/2022-05-01-elastic-metal-added-em-210r-hdd.mdx
  changelog/elastic-metal/may2022/2022-05-01-elastic-metal-added-flexible-ip.mdx
  changelog/elastic-metal/may2022/2022-05-01-elastic-metal-added-smtp-block.mdx
  changelog/gpu-instances/may2022/2022-05-01-gpu-instances-added-new-gpu.mdx
  changelog/iam/august2022/2022-08-01-iam-added-iam-beta.mdx
  changelog/index.mdx
  changelog/instances/april2022/2022-04-01-instances-added-new-image.mdx
  changelog/instances/january2022/2022-01-02-instanced-changed-images-updated.mdx
  changelog/instances/june2022/2022-06-09-instances-updated-security-groups.mdx
  changelog/instances/june2022/2022-06-15-instances-added-pro2-instances.mdx
  changelog/instances/june2022/2022-06-21-instances-removed-os-images.mdx
  changelog/instances/march2022/2022-03-01-instances-added-boot-on-block.mdx
  changelog/iot-hub/january2022/2022-01-02-iot-hub-changed-iot-routes.mdx
  changelog/kubernetes/april2022/2022-04-01-kapsule-added-application-library.mdx
  changelog/kubernetes/january2022/2022-01-01-kapsule-changed-unbuntu-images.mdx
  changelog/kubernetes/january2022/2022-01-02-kapsule-added-k8s-versions.mdx
  changelog/kubernetes/january2022/2022-01-02-kapsule-removed-k8s-versions.mdx
  changelog/load-balancers/february2022/2022-02-02-load-balancers-changed-failover-mechanism.mdx
  changelog/network/june2022/2022-06-13-private-networks-added-smtp-public-gw.mdx
  changelog/network/march2022/2022-03-01-private-networks-added-ssh-bastion.mdx
  changelog/serverless/april2022/2022-04-01-functions-added-custom-domain.mdx
  changelog/serverless/may2022/2022-05-01-containers-added-new-regions.mdx
  changelog/serverless/may2022/2022-05-01-functions-added-new-regions.mdx
  changelog/storage/february2022/2022-02-02-object-storage-added-http2.mdx
  changelog/storage/january2022/2022-01-02-object-storage-added-storage-hive.mdx
  menu/changelogs.json
Labels: enhancement, do not merge

#781 fix(db): int fix database filters
  managed-databases/postgresql-and-mysql/concepts.mdx
  managed-databases/redis/concepts.mdx
  menu/filters.json
  tutorials/back-up-postgresql-barman/index.mdx
  tutorials/configure-netbox-managed-postgresql-database/index.mdx
  tutorials/configuring-gitlab-scaleway-elements-database/index.mdx
  tutorials/connect-function-postgresql-database/index.mdx
  tutorials/deploy-hasura-engine-database-postgresql/index.mdx
  tutorials/deploy-wordpress-from-application-library/index.mdx
  tutorials/deploy-wordpress-managed-database-mysql8/index.mdx
  tutorials/migrate-mysql-databases-postgresql-pgloader/index.mdx
  tutorials/odoo-easy-deploy/index.mdx
  tutorials/postgis-managed-databases/index.mdx
  tutorials/upgrade-managed-postgresql-database/index.mdx
Labels: documentation

#790 fix(quickstart): added quota information MTA-2139
  compute/apple-silicon/quickstart.mdx
  console/my-account/how-to/use-2fa.mdx
Labels: documentation

#794 fix(s3): restore MTA-2112
  faq/coldstorage.mdx
  storage/object/how-to/restore-an-object-from-glacier.mdx
Labels: documentation

#795 fix(s3): review quentin
  storage/object/how-to/restore-an-object-from-glacier.mdx
Labels: documentation

#796 fix(em): typo
  compute/elastic-metal/how-to/configure-ipv6-hypervisor.mdx
Labels: documentation

#806 fix(billing): validation code refund MTA-2166
  console/my-account/how-to/manage-billing-information.mdx
Labels: documentation

#813 fix(404): broken links and typo
  iot/iot-hub/reference-content/kickstarts.mdx
  network/load-balancer/api-cli/configuring-balancing-rules.mdx
  tutorials/trigger-ifttt-actions/index.mdx
Labels: documentation

#756 docs(tutorial): raid on em server MTA-2108
  compute/elastic-metal/troubleshooting/index.mdx
  compute/elastic-metal/troubleshooting/replace-failed-drive-software-raid.mdx
  menu/navigation.json
Labels: documentation

#823 feat(redis): faq question MTA-2178
  faq/assets/scaleway-redis-node-types.webp
  faq/databases-for-redis.mdx
Labels: documentation

#832 fix(s3): add post to menu MTA-2184
  menu/navigation.json
  storage/object/api-cli/migrating-buckets.mdx
  storage/object/api-cli/post-object.mdx
Labels: documentation
