Repository scaleway/docs-content, pull requests merged in 2022-03, with the labels that each got.

#436 docs(tutorials): IPv6 on VM's with ESXi hypervisor
  tutorials/configure-ipv6-virtual-machine-esxi/index.mdx
Labels: documentation

#441 docs(refactor): review docs MTA-1807
  dedibox-network/ipv6/how-to/configure-dhcpv6.mdx
  dedibox-network/ipv6/how-to/configure-ipv6-linux.mdx
  dedibox-network/ipv6/how-to/configure-ipv6-networkd.mdx
  dedibox-network/ipv6/how-to/configure-ipv6-windows.mdx
  dedibox-network/ipv6/how-to/create-subnet.mdx
  dedibox-network/ipv6/how-to/debug-ipv6.mdx
  dedibox-network/ipv6/how-to/enable-ipv6-slaac.mdx
  dedibox-network/ipv6/how-to/request-prefix.mdx
  dedibox-network/ipv6/quickstart.mdx
  dedibox-network/network/how-to/configure-network-netplan.mdx
  dedibox-network/network/how-to/subscribe-to-jmrp.mdx
  dedibox-network/network/reference-content/anti-ddos.mdx
  dedibox-network/network/reference-content/dedibox-network-info.mdx
  dedibox-network/network/troubleshooting.mdx
  dedibox-network/rpn/how-to/configure-jumboframes.mdx
Labels: documentation

#442 docs(refactor): review docs MTA-1808
  dedibox-network/ip-failover/how-to/assign-failover-ip.mdx
  dedibox-network/ip-failover/how-to/configure-centos.mdx
  dedibox-network/ip-failover/how-to/configure-debian-ubuntu.mdx
  dedibox-network/ip-failover/how-to/configure-freebsd.mdx
  dedibox-network/ip-failover/how-to/configure-multiip-virtualmac.mdx
  dedibox-network/ip-failover/how-to/configure-network-virtual-machine.mdx
  dedibox-network/ip-failover/how-to/configure-reverse-dns.mdx
  dedibox-network/ip-failover/how-to/configure-windows.mdx
  dedibox-network/ip-failover/how-to/create-virtual-mac.mdx
  dedibox-network/ip-failover/how-to/order-failover-ip.mdx
  dedibox-network/rpn/how-to/configure-rpnv1-gateway.mdx
  dedibox-network/rpn/how-to/configure-rpnv2.mdx
  dedibox-network/rpn/how-to/connect-rpn-san-windows.mdx
  dedibox-network/rpn/how-to/connect-rpn-san.mdx
  storage/object/how-to/edit-storage-class.mdx
Labels: documentation

#443 docs(refactor): tutorials MTA-1809
  storage/object/how-to/restore-an-object-from-glacier.mdx
  tutorials/actility-lorawan-operator/index.mdx
  tutorials/building-connected-photobooth/index.mdx
  tutorials/configure-plex-s3/index.mdx
  tutorials/configure-realtime-alerting-slack/index.mdx
  tutorials/deploy-saas-application/index.mdx
  tutorials/deploy-wordpress-managed-database-mysql8/index.mdx
  tutorials/encrypt-s3-data-rclone/index.mdx
  tutorials/foreman-puppet/index.mdx
  tutorials/host-gitlab-runner/index.mdx
  tutorials/install-wireguard/index.mdx
  tutorials/jitsi-debian/index.mdx
  tutorials/minikube-elastic-metal/index.mdx
  tutorials/openvpn-instant-app/index.mdx
  tutorials/run-messaging-platform-with-rocketchat/index.mdx
Labels: documentation

#402 docs(reference): account quotas MTA-1759
  compute/apple-silicon/concepts.mdx
  compute/kubernetes/concepts.mdx
  console/my-account/how-to/send-emails-from-your-instance.mdx
  console/my-account/reference-content/account-quotas.mdx
  faq/new-object-storage-classes.mdx
  macros/compute/apple-silicon-m1.mdx
  macros/compute/container-registry.mdx
  macros/compute/elastic-metal.mdx
  macros/compute/gpu-instances.mdx
  macros/compute/instances.mdx
  macros/compute/kubernetes.mdx
  macros/compute/serverless.mdx
  macros/console/projects.mdx
  macros/console/smtp.mdx
  macros/console/ssh-keys.mdx
  macros/iot-hub/iot.mdx
  macros/network/dns-cloud.mdx
  macros/network/load-balancer.mdx
  macros/network/vpc.mdx
  macros/storage/managed-databases.mdx
  macros/storage/object-storage.mdx
  menu/navigation.json
  storage/database/concepts.mdx
Labels: documentation

#426 docs(howto): add custom domain to functions MTA-1777
  compute/functions/how-to/add-a-custom-domain-name-to-a-function.mdx
  compute/functions/how-to/assets/scaleway-functions-domain.png
  compute/functions/how-to/manage-a-function.mdx
  compute/functions/how-to/modify-function-privacy.mdx
  menu/navigation.json
Labels: wip

#425 docs(howto): add custom domain to container MTA-1776
  compute/containers/how-to/add-a-custom-domain-to-a-container.mdx
  compute/containers/how-to/assets/scaleway-containers-domain.png
  compute/containers/how-to/manage-a-container.mdx
  compute/containers/how-to/modify-container-privacy.mdx
  menu/navigation.json
Labels: wip

#445 docs(fix): broken list
  tutorials/kubeflow-on-kapsule/index.mdx
Labels: documentation

#446 docs(faq): windows on elastic metal MTA-1805
  faq/elastic-metal.mdx
Labels: documentation

#448 docs(fix): broken links
  compute/functions/how-to/manage-a-function.mdx
  compute/functions/how-to/modify-function-privacy.mdx
Labels: documentation

#447 docs(tutorials): review pt.1 - MTA-1688
  tutorials/glpi/index.mdx
  tutorials/install-postgresql/index.mdx
  tutorials/odoo-easy-deploy/assets/scaleway-registry_home.png
  tutorials/odoo-easy-deploy/index.mdx
Labels: documentation

#450 docs(refactor): tutorials MTA-1813
  tutorials/bind-dns-server/index.mdx
Labels: documentation

#449 docs(refactor): various tutorials and howtos - MTA-1812
  compute/instances/api-cli/creating-managing-instances-with-cliv2.mdx
  compute/kubernetes/api-cli/creating-managing-kubernetes-lifecycle-cliv2.mdx
  compute/kubernetes/api-cli/exposing-services.mdx
  compute/kubernetes/api-cli/managing-load-balancer-ips.mdx
  compute/kubernetes/api-cli/managing-storage.mdx
  compute/kubernetes/api-cli/managing-tags.mdx
  compute/kubernetes/api-cli/using-load-balancer-annotations.mdx
  compute/kubernetes/api-cli/using-scaleway-operator.mdx
  tutorials/install-configure-couchdb/index.mdx
  webhosting/classic/how-to/change-password-mysql-database.mdx
  webhosting/classic/how-to/delete-mysql-database.mdx
  webhosting/classic/how-to/delete-postgresql-database.mdx
Labels: documentation

#454 docs(faq): updated faq with payment method MTA-1823
  faq/apple-silicon-m1-as-a-service.mdx
  faq/billing.mdx
  faq/blockstorage.mdx
  faq/database.mdx
  faq/general.mdx
Labels: documentation

#457 fix(tuto): sentry + PN typo MTA-1688
  compute/instances/how-to/use-private-networks.mdx
  tutorials/sentry-error-tracking/index.mdx
Labels: documentation

#464 fix(how-tos): fixed typos MTA-1836
  dedibox/dedicated-servers/how-to/rescue-your-data.mdx
Labels: documentation

#452 docs(howto): configure rpn san on esxi7 MTA-1815
  dedibox-network/rpn/how-to/assets/scaleway-configure_iscsi.webp
  dedibox-network/rpn/how-to/assets/scaleway-datastore_device.webp
  dedibox-network/rpn/how-to/assets/scaleway-datastore_list.webp
  dedibox-network/rpn/how-to/assets/scaleway-enable_ssh.webp
  dedibox-network/rpn/how-to/assets/scaleway-esxi7-dashboard.webp
  dedibox-network/rpn/how-to/assets/scaleway-esxi7-ssh.webp
  dedibox-network/rpn/how-to/assets/scaleway-esxi7-vmnic.webp
  dedibox-network/rpn/how-to/assets/scaleway-rpn_switch.webp
  dedibox-network/rpn/how-to/assets/scaleway-rpn_switch_connected.webp
  dedibox-network/rpn/how-to/assets/scaleway-vmkernel_nic.webp
  dedibox-network/rpn/how-to/use-rpn-san-esxi-v7.mdx
  dedibox-network/rpn/how-to/use-rpn-san-esxi.mdx
  dedibox-network/rpn/how-to/use-rpn-san-proxmox.mdx
  menu/navigation.json
Labels: documentation

#461 docs(tutorials): review + fixes + faq EM - MTA-1688c
  faq/elastic-metal.mdx
  tutorials/deploy-instances-packer-terraform/index.mdx
  tutorials/deploying-web-applications-juju/index.mdx
  tutorials/kubeflow-on-kapsule/index.mdx
  tutorials/prometheus-monitoring-grafana-dashboard/index.mdx
  webhosting/classic/how-to/encrypt-emails-with-pgp-using-webmail.mdx
Labels: documentation

#471 docs(enhancements): add issue template mta-1840
  .github/ISSUE_TEMPLATES/config.yaml
  .github/ISSUE_TEMPLATES/doc_bug.yaml
  .github/ISSUE_TEMPLATES/doc_request.yaml
Labels: documentation

#467 docs(tutorial): zabbix 6.0
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-add-server-01.png
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-add-server-02.png
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-create-host.png
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-dashboard.png
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-install-02.png
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-install-03.png
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-install-04.png
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-install-05.png
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-install-06.png
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-media-types.png
  tutorials/zabbix-monitoring/index.mdx
Labels: documentation

#481 docs(fix): convert images to webp
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-add-server-01.png
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-add-server-01.webp
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-add-server-02.png
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-add-server-02.webp
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-create-host.png
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-create-host.webp
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-dashboard.png
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-dashboard.webp
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-install-01.webp
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-install-02.png
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-install-02.webp
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-install-03.png
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-install-03.webp
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-install-04.png
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-install-04.webp
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-install-05.png
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-install-05.webp
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-install-06.png
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-install-06.webp
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-media-types.png
  tutorials/zabbix-monitoring/assets/scaleway-zabbix-media-types.webp
  tutorials/zabbix-monitoring/index.mdx
Labels: documentation

#482 docs(enhancements): add text area and fix emoji mta-1843
  .github/ISSUE_TEMPLATE/doc_bug.yaml
  .github/ISSUE_TEMPLATE/doc_request.yaml
Labels: documentation

#473 fix(tuto): matomo + timescale MTA-1688e
  tutorials/matomo-analytics/assets/scaleway-matomo-dashboard.webp
  tutorials/matomo-analytics/assets/scaleway-matomo-login.webp
  tutorials/matomo-analytics/index.mdx
  tutorials/visualize-timeseries-data-timescaledb-grafana/index.mdx
Labels: documentation

#474 docs(concepts): rework vcpu MTA-1841
  compute/containers/concepts.mdx
Labels: documentation

#483 fix(docs): updated api doc elastic metal offers MTA-1830
  compute/elastic-metal/api-cli/elastic-metal-with-api.mdx
Labels: documentation

#487 fix(links): remove 404 MTA-1849
  dedibox-network/ipv6/how-to/enable-ipv6-slaac.mdx
  dedibox-network/rpn/how-to/use-rpn-san-esxi-v7.mdx
  dedibox-network/rpn/how-to/use-rpn-san-esxi.mdx
  tutorials/configure-netbox-managed-postgresql-database/index.mdx
  tutorials/s3-customize-url-cname/index.mdx
Labels: documentation

#484 fix(tuto): remove cloudera cdh MTA-1688
  tutorials/cloudera-cdh-cluster/assets/scaleway-cloudera_dashboard.webp
  tutorials/cloudera-cdh-cluster/assets/scaleway-cloudera_db.webp
  tutorials/cloudera-cdh-cluster/assets/scaleway-cloudera_firstrun.webp
  tutorials/cloudera-cdh-cluster/assets/scaleway-cloudera_login.webp
  tutorials/cloudera-cdh-cluster/assets/scaleway-cloudera_parcels.webp
  tutorials/cloudera-cdh-cluster/assets/scaleway-cloudera_ready.webp
  tutorials/cloudera-cdh-cluster/assets/scaleway-cloudera_repo.webp
  tutorials/cloudera-cdh-cluster/assets/scaleway-cloudera_scan.webp
  tutorials/cloudera-cdh-cluster/assets/scaleway-cloudera_welcome.webp
  tutorials/cloudera-cdh-cluster/index.mdx
Labels: documentation

#486 fix(tutorials): nginx reverse proxy improvements - MTA-1846
  tutorials/nginx-reverse-proxy/index.mdx
Labels: documentation

#489 docs(tutorials): review content
  tutorials/_use-apache-nifi-migrate-data/assets/scaleway-available_fetch.webp
  tutorials/_use-apache-nifi-migrate-data/assets/scaleway-aws_creds_controler.webp
  tutorials/_use-apache-nifi-migrate-data/assets/scaleway-bucket_name.webp
  tutorials/_use-apache-nifi-migrate-data/assets/scaleway-combination.webp
  tutorials/_use-apache-nifi-migrate-data/assets/scaleway-creds.webp
  tutorials/_use-apache-nifi-migrate-data/assets/scaleway-empty.webp
  tutorials/_use-apache-nifi-migrate-data/assets/scaleway-global_view.webp
  tutorials/_use-apache-nifi-migrate-data/assets/scaleway-list_v2.webp
  tutorials/_use-apache-nifi-migrate-data/assets/scaleway-s3_operations.webp
  tutorials/_use-apache-nifi-migrate-data/assets/scaleway-select_aws_creds_controler.webp
  tutorials/_use-apache-nifi-migrate-data/assets/scaleway-set_endpoint_url.webp
  tutorials/_use-apache-nifi-migrate-data/index.mdx
  tutorials/deploy-awstats/index.mdx
  tutorials/erpnext-13/index.mdx
  tutorials/erpnext/index.mdx
  tutorials/migrate-data-rclone/index.mdx
  tutorials/mongodb-ubuntu-1604/index.mdx
  tutorials/odoo/index.mdx
  tutorials/sentry-error-tracking/index.mdx
  tutorials/setting-up-tunnel/index.mdx
  tutorials/use-apache-spark-hadoop-query-data/index.mdx
  webhosting/cpanel/reference-content.mdx
Labels: documentation

#490 docs(tutorial): socket.io review
  tutorials/socket-io/index.mdx
Labels: documentation

#491 docs(reference): update comp. table ddx MTA-1851
  dedibox/hardware/reference-content/index.mdx
  dedibox/hardware/reference-content/server-comparison-table.mdx
  menu/navigation.json
Labels: documentation

#476 feat(block): boot on block MTA-1825
  compute/instances/concepts.mdx
  compute/instances/how-to/create-an-instance.mdx
  compute/instances/how-to/use-boot-modes.mdx
  compute/instances/how-to/use-enterprise-instances.mdx
  faq/instances.mdx
  macros/storage/boot-on-block.mdx
  storage/block/concepts.mdx
Labels: wip

#498 feat(tuto): postman with scaleway API - MTA-1854
  faq/instances.mdx
  tutorials/postgis-managed-databases/index.mdx
  tutorials/postman-api/assets/scaleway-postman-add-variables.webp
  tutorials/postman-api/assets/scaleway-postman-create-workspace.webp
  tutorials/postman-api/assets/scaleway-postman-download-open-api.webp
  tutorials/postman-api/assets/scaleway-postman-endpoint.webp
  tutorials/postman-api/assets/scaleway-postman-import.webp
  tutorials/postman-api/assets/scaleway-postman-response.webp
  tutorials/postman-api/assets/scaleway-postman-select-environment.webp
  tutorials/postman-api/assets/scalway-postman-authorization-display.webp
  tutorials/postman-api/index.mdx
Labels: documentation

#503 feat(serverless): secrets MTA-1859
  assets/Scaleway Quickstart Guide-1.4.pdf
  compute/containers/concepts.mdx
  compute/containers/how-to/create-a-containers-namespace.mdx
  compute/containers/how-to/deploy-a-container.mdx
  compute/functions/concepts.mdx
  compute/functions/how-to/create-a-function.mdx
  compute/functions/how-to/create-a-functions-namespace.mdx
Labels: documentation

#500 docs(databases): Add permissions how-to page int-add-databases
  menu/navigation.json
  storage/database/how-to/add-users.mdx
  storage/database/how-to/manage-allowed-ip-addresses.mdx
  storage/database/how-to/manage-permissions.mdx
Labels: documentation

#517 docs(howto): resolve abuse MTA-1871
  dedibox-console/my-account/how-to/resolve-abuse.mdx
Labels: documentation

#520 docs(fix): publish date
  network/vpc/how-to/use-ssh-bastion.mdx
Labels: Documentation Bug
