Repository scaleway/docs-content, pull requests merged in 2022-12, with the labels that each got.

#1069 docs(issues): updated documentation request template MTA-2457
  .github/ISSUE_TEMPLATE/doc_bug.yaml
  .github/ISSUE_TEMPLATE/doc_request.yaml
Labels: documentation

#1076 feat(changelog): iam, em and s3
  changelog/elastic-metal/december2022/2022-12-07-elastic-metal-added-new-offers.mdx
  changelog/elastic-metal/december2022/2022-12-07-elastic-metal-added-par1.mdx
  changelog/iam/august2022/2022-08-01-iam-added-iam-beta copy.mdx
  changelog/iam/december2022/2022-12-07-iam-general-availability-dev-tools.mdx
  changelog/iam/december2022/2022-12-07-iam-general-availibility.mdx
  changelog/storage/december2022/2022-12-07-new-permission-sets.mdx
Labels: changelog

#1087 docs(tem): updated spf values MTA-2486
  managed-services/transactional-email/assets/scaleway_spf_record.webp
  managed-services/transactional-email/assets/scaleway_spf_record_different_values.webp
  managed-services/transactional-email/how-to/add-spf-dkim-records-to-your-domain.mdx
  managed-services/transactional-email/quickstart.mdx
  tutorials/set-up-spf-dkim-for-dns-providers/index.mdx
Labels: documentation

#1093 fix(404): 1312
  identity-and-access-management/iam/how-to/manage-applications.mdx
  tutorials/lb-ingress-controller/index.mdx
Labels: bug

#1112 feat(serverless): add PHP documentation
  compute/functions/api-cli/fun-uploading-with-serverless-framework.mdx
  compute/functions/how-to/package-function-in-zip.mdx
  compute/functions/reference-content/code-examples.mdx
  compute/functions/reference-content/functions-lifecycle.mdx
Labels: documentation

#1124 docs(obs): added how to push logs and metrics MTA-2473b
  observability/cockpit/how-to/send-metrics-logs-to-cockpit.mdx
Labels: documentation

#1125 feat(changelog): workflow action for contribution
  .github/workflows/changelog-contribution.yml
Labels: changelog

#1137 docs(functions): Serverless Functions runtimes configuration information MTA-2550
  compute/functions/reference-content/functions-runtimes-configuration.mdx
  menu/navigation.json
Labels: documentation

#1143 docs(fix): fixed typo
  managed-services/iot-hub/reference-content/networks.mdx
Labels: documentation
