Repository scaleway/docs-content, pull requests merged in 2022-11, with the labels that each got.

#965 docs(changelog): added observability
  changelog/observability/october2022/2022-11-03-cockpit.mdx
  menu/changelogs.json
Labels: changelog

#942 docs(tem): quickstart and how-tos
  managed-services/assets/scaleway_delete_tem_domain.webp
  managed-services/assets/scaleway_dkim_name_value.webp
  managed-services/assets/scaleway_dkim_record_name.webp
  managed-services/assets/scaleway_filter_email_activity.webp
  managed-services/assets/scaleway_filtered_emails.webp
  managed-services/assets/scaleway_spf_record.webp
  managed-services/assets/scaleway_spf_record_different_values.webp
  managed-services/transactional-email/assets/scaleway-application-type-tem-iam.webp
  managed-services/transactional-email/assets/scaleway_delete_tem_domain.webp
  managed-services/transactional-email/assets/scaleway_dkim_name_value.webp
  managed-services/transactional-email/assets/scaleway_dkim_record_name.webp
  managed-services/transactional-email/assets/scaleway_filter_email_activity.webp
  managed-services/transactional-email/assets/scaleway_filtered_emails.webp
  managed-services/transactional-email/assets/scaleway_reset_filters.webp
  managed-services/transactional-email/assets/scaleway_spf_record.webp
  managed-services/transactional-email/assets/scaleway_spf_record_different_values.webp
  managed-services/transactional-email/concepts.mdx
  managed-services/transactional-email/how-to/add-mx-record-to-your-domain.mdx
  managed-services/transactional-email/how-to/add-spf-dkim-records-to-your-domain.mdx
  managed-services/transactional-email/how-to/configure-domain-with-transactional-email.mdx
  managed-services/transactional-email/how-to/delete-tem-domain.mdx
  managed-services/transactional-email/how-to/generate-api-keys-for-api-and-smtp-sending.mdx
  managed-services/transactional-email/how-to/generate-api-keys-for-tem-with-iam.mdx
  managed-services/transactional-email/how-to/index.mdx
  managed-services/transactional-email/how-to/manage-email-activity.mdx
  managed-services/transactional-email/index.mdx
  managed-services/transactional-email/quickstart.mdx
  managed-services/transactional-email/reference-content/index.mdx
  managed-services/transactional-email/reference-content/tem-capabilities-and-limits.mdx
  menu/navigation.json
  tutorials/set-up-spf-dkim-for-dns-providers/assets/scaleway_dkim_name_tuto.webp
  tutorials/set-up-spf-dkim-for-dns-providers/assets/scaleway_dkim_value_tuto.webp
  tutorials/set-up-spf-dkim-for-dns-providers/assets/scaleway_dns_cloudflare.webp
  tutorials/set-up-spf-dkim-for-dns-providers/index.mdx
Labels: do not merge

#975 docs(add): added icon for tem + fixes
  managed-services/assets/scaleway_delete_tem_domain.webp
  managed-services/transactional-email/concepts.mdx
  managed-services/transactional-email/how-to/delete-tem-domain.mdx
  managed-services/transactional-email/quickstart.mdx
  menu/navigation.json
  observability/cockpit/how-to/activate-cockpit.mdx
Labels: documentation

#978 docs(fix): added tags and removed ai doc MTA-2376
  ai/index.mdx
  ai/smart-labeling/assets/scaleway-smart-labeling-annotation-url.webp
  ai/smart-labeling/assets/scaleway-smart-labeling-dashboard.webp
  ai/smart-labeling/assets/scaleway-smart-labeling-list.webp
  ai/smart-labeling/assets/scaleway-smart-labeling-splash.webp
  ai/smart-labeling/assets/scaleway-smart-labeling-workspace.webp
  ai/smart-labeling/concepts.mdx
  ai/smart-labeling/how-to/access-annotation-server.mdx
  ai/smart-labeling/how-to/assets/scaleway-smart-labeling-annotation-url.webp
  ai/smart-labeling/how-to/assets/scaleway-smart-labeling-dashboard.webp
  ai/smart-labeling/how-to/assets/scaleway-smart-labeling-list.webp
  ai/smart-labeling/how-to/assets/scaleway-smart-labeling-splash.webp
  ai/smart-labeling/how-to/assets/scaleway-smart-labeling-workspace.webp
  ai/smart-labeling/how-to/create-labeling-workspace.mdx
  ai/smart-labeling/how-to/delete-labeling-workspace.mdx
  ai/smart-labeling/how-to/index.mdx
  ai/smart-labeling/index.mdx
  ai/smart-labeling/quickstart.mdx
  managed-services/transactional-email/how-to/add-spf-dkim-records-to-your-domain.mdx
  managed-services/transactional-email/how-to/delete-tem-domain.mdx
  managed-services/transactional-email/quickstart.mdx
  tutorials/set-up-spf-dkim-for-dns-providers/index.mdx
Labels: documentation

#982 docs(changelog): added weekly entries
  changelog/databases/november2022/2022-11-10-redis-new-availability-zone.mdx
  changelog/kubernetes/november2022/2022-11-03-dedicated-control-plane-offer.mdx
  changelog/managed-services/november2022/2022-11-10-transactional-email.mdx
  menu/changelogs.json
Labels: changelog

#989 docs(tem): added tem quotas
  console/my-account/reference-content/account-quotas.mdx
Labels: documentation

#984 docs(content): updated content MTA-2380
  managed-databases/postgresql-and-mysql/how-to/create-a-database.mdx
  managed-databases/postgresql-and-mysql/quickstart.mdx
  managed-databases/redis/how-to/create-a-database-for-redis.mdx
  managed-databases/redis/quickstart.mdx
Labels: documentation

#988 feat(message): add iam to doc
  components.mdx
Labels: developer

#998 docs(tem): content update MTA-2392
  managed-services/transactional-email/how-to/add-spf-dkim-records-to-your-domain.mdx
  managed-services/transactional-email/how-to/configure-domain-with-transactional-email.mdx
  managed-services/transactional-email/how-to/delete-tem-domain.mdx
  managed-services/transactional-email/how-to/manage-email-activity.mdx
  managed-services/transactional-email/quickstart.mdx
  managed-services/transactional-email/reference-content/tem-capabilities-and-limits.mdx
Labels: documentation

#999 docs(tem): added missing title in how-to
  managed-services/transactional-email/how-to/manage-email-activity.mdx
Labels: documentation

#1002 docs(obs): added information and concept MTA-2404
  observability/cockpit/concepts.mdx
  observability/cockpit/how-to/access-grafana-and-managed-dashboards.mdx
  observability/cockpit/quickstart.mdx
Labels: documentation
