Repository scaleway/docs-content, pull requests merged in 2022-06, with the labels that each got.

#646 fix(contrib): image code
  contribute.mdx
Labels: enhancement

#656 fix(faq): added instance pricing MTA-2007
  faq/instances.mdx
Labels: documentation, wip

#653 fix(faq): correct glacier mentions MTA-1974
  faq/coldstorage.mdx
  storage/object/how-to/edit-storage-class.mdx
  storage/object/how-to/restore-an-object-from-glacier.mdx
Labels: documentation

#667 Update SMTP port for PGW
  network/vpc/how-to/configure-a-public-gateway.mdx
Labels: documentation

#668 docs(template): add some details info to issue template
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/doc_bug.yaml
  .github/ISSUE_TEMPLATE/doc_request.yaml
Labels: documentation

#673 docs(feat): restrucure menu
  menu/navigation.json
Labels: enhancement

#680 docs(update): updated account quotas - MTA-2043
  console/my-account/reference-content/account-quotas.mdx
Labels: documentation

#666 docs(tutorials): backup PostgreSQL databases with pgBackRest to Object Storage
  tutorials/backup-postgresql-pgbackrest-s3/index.mdx
Labels: Documentation Request
