Repository scaleway/docs-content, pull requests merged in 2022-04, with the labels that each got.

#525 docs(tutorials): reviewed content MTA-1876
  tutorials/_configure-round-robin-dns/index.mdx
  tutorials/_use-apache-nifi-migrate-data/assets/scaleway-available_fetch.webp
  tutorials/_use-apache-nifi-migrate-data/assets/scaleway-aws_creds_controler.webp
  tutorials/_use-apache-nifi-migrate-data/assets/scaleway-bucket_name.webp
  tutorials/_use-apache-nifi-migrate-data/assets/scaleway-combination.webp
  tutorials/_use-apache-nifi-migrate-data/assets/scaleway-creds.webp
  tutorials/_use-apache-nifi-migrate-data/assets/scaleway-empty.webp
  tutorials/_use-apache-nifi-migrate-data/assets/scaleway-global_view.webp
  tutorials/_use-apache-nifi-migrate-data/assets/scaleway-list_v2.webp
  tutorials/_use-apache-nifi-migrate-data/assets/scaleway-s3_operations.webp
  tutorials/_use-apache-nifi-migrate-data/assets/scaleway-select_aws_creds_controler.webp
  tutorials/_use-apache-nifi-migrate-data/assets/scaleway-set_endpoint_url.webp
  tutorials/_use-apache-nifi-migrate-data/index.mdx
  tutorials/add-disk-configure-datastore-esxi/index.mdx
  tutorials/configure-virtual-machine-esxi/index.mdx
  tutorials/prestashop-dedibox/index.mdx
  tutorials/proxmox-softraid/index.mdx
Labels: documentation

#532 docs(fix): broken links MTA-1885
  network/vpc/how-to/use-ssh-bastion.mdx
  storage/database/how-to/manage-permissions.mdx
Labels: documentation

#524 docs(kubernetes): version support policy MTA-1717
  compute/kubernetes/reference-content/version-support-policy.mdx
  menu/navigation.json
Labels: documentation

#538 docs(fix): typo in quickstart MTA-1889
  compute/instances/quickstart.mdx
Labels: documentation

#535 feat(tutorial): restic backups using S3 - MTA-1203
  menu/navigation.json
  storage/object/api-cli/bucket-operations.mdx
  storage/object/api-cli/bucket-policy.mdx
  storage/object/api-cli/using-bucket-policies.mdx
  tutorials/backup-dedicated-server-s3-duplicity/index.mdx
  tutorials/restic-s3-backup/index.mdx
Labels: wip

#528 feat(s3): add API calls list - MTA-1874
  menu/navigation.json
  storage/object/api-cli/bucket-operations.mdx
  storage/object/api-cli/bucket-website-api.mdx
  storage/object/api-cli/common-operations.mdx
  storage/object/api-cli/installing-rclone.mdx
  storage/object/api-cli/lifecycle-rules-api.mdx
  storage/object/api-cli/managing-lifecycle-cliv2.mdx
  storage/object/api-cli/multipart-uploads.mdx
  storage/object/api-cli/object-lock.mdx
  storage/object/api-cli/object-operations.mdx
  storage/object/api-cli/object-storage-aws-cli.mdx
  storage/object/api-cli/share-buckets-read-only.mdx
  storage/object/api-cli/using-api-call-list.mdx
Labels: documentation

#536 docs(tutorial): easy deploy tutorials
  tutorials/deploy-wordpress-from-application-library/assets/scaleway-kubernetes-deploy-app-summary.webp
  tutorials/deploy-wordpress-from-application-library/assets/scaleway-kubernetes-deploy-app.webp
  tutorials/deploy-wordpress-from-application-library/assets/scaleway-kubernetes-deployed-apps-list.webp
  tutorials/deploy-wordpress-from-application-library/assets/scaleway-kubernetes-easy-deploy.webp
  tutorials/deploy-wordpress-from-application-library/assets/scaleway-kubernetes-kubectl-all.webp
  tutorials/deploy-wordpress-from-application-library/assets/scaleway-kubernetes-wordpress-app.webp
  tutorials/deploy-wordpress-from-application-library/assets/scaleway-kubernetes-wordpress.webp
  tutorials/deploy-wordpress-from-application-library/assets/scaleway-kubernetes-yaml-editor.webp
  tutorials/deploy-wordpress-from-application-library/index.mdx
  tutorials/odoo-easy-deploy/assets/scaleway-create-cluster.webp
  tutorials/odoo-easy-deploy/assets/scaleway-easy-deploy-01.webp
  tutorials/odoo-easy-deploy/assets/scaleway-easy-deploy-03.webp
  tutorials/odoo-easy-deploy/assets/scaleway-easy-deploy-04.webp
  tutorials/odoo-easy-deploy/assets/scaleway-easy-deploy-05.webp
  tutorials/odoo-easy-deploy/index.mdx
Labels: documentation

#542 docs(fix): removed macos version information MTA-1895
  compute/apple-silicon/how-to/create-mac-mini-m1.mdx
  compute/apple-silicon/quickstart.mdx
Labels: documentation

#547 fix(tutos): minor changes MTA-1892
  dedibox-network/rpn/how-to/use-rpn-vpn.mdx
  tutorials/add-disk-configure-datastore-esxi/index.mdx
  tutorials/configure-virtual-machine-esxi/index.mdx
Labels: documentation

#545 docs(PR): add template
  docs/PULL_REQUEST_TEMPLATE.md
Labels: enhancement

#546 docs(reference): functions lifecycle - MTA-1899
  compute/functions/reference-content/functions-lifecycle.mdx
  menu/navigation.json
Labels: documentation

#548 feat(cta): add contribution block MTA-1869
  blocks/cta/blocks-cta.webp
  blocks/cta/index.mdx
Labels: enhancement

#551 docs(faq): updated enterprise instances faq MTA-1905
  faq/enterprise.mdx
Labels: documentation

#275 WIP: docs(gpu): gpu instances documentation
  compute/gpu/assets/scaleway-jupyter-lab.webp
  compute/gpu/concepts.mdx
  compute/gpu/how-to/assets/scaleway-jupyter-lab.webp
  compute/gpu/how-to/create-manage-gpu-instance.mdx
  compute/gpu/how-to/index.mdx
  compute/gpu/how-to/use-gpu-with-docker.mdx
  compute/gpu/how-to/use-pipenv.mdx
  compute/gpu/how-to/use-preinstalled-env.mdx
  compute/gpu/index.mdx
  compute/gpu/quickstart.mdx
  compute/gpu/reference-content/docker-images.mdx
  compute/gpu/reference-content/index.mdx
  compute/instances/concepts.mdx
  menu/navigation.json
Labels: wip, do not merge

#554 docs(tutorial): add dates zulip MTA-1906
  tutorials/zulip/index.mdx
Labels: Documentation Bug

#562 fix(cli): text MTA-889a
  compute/instances/api-cli/cli-cheatsheet.mdx
Labels: documentation

#563 fix(console): add bank statement example MTA-1926
  console/my-account/how-to/assets/scaleway-bank-statement.webp
  console/my-account/how-to/manage-billing-information.mdx
Labels: documentation

#514 docs(how-to): remote access feature - MTA-1858
  compute/elastic-metal/concepts.mdx
  compute/elastic-metal/how-to/activate-remote-access.mdx
  compute/elastic-metal/how-to/assets/scaleway-activate-remote-access.webp
  compute/elastic-metal/how-to/assets/scaleway-disable-remote-access.webp
  compute/elastic-metal/how-to/assets/scaleway-elastic-metal-list.webp
  compute/elastic-metal/how-to/assets/scaleway-remote-access-connection.webp
  compute/elastic-metal/how-to/assets/scaleway-remote-access-create-new.webp
  compute/elastic-metal/how-to/assets/scaleway-remote-access-feature.webp
  compute/elastic-metal/how-to/assets/scaleway-remote-access-ip.webp
  compute/elastic-metal/how-to/install-server-from-kvm.mdx
  compute/elastic-metal/how-to/view-the-event-logs.mdx
  menu/navigation.json
Labels: documentation

#568 docs(faq): dedibox MTA-1930
  faq/assets/dedibox.webp
  faq/dedibox.mdx
Labels: documentation

#570 fix(faq): update images MTA-1931
  faq/assets/DNS.webp
  faq/assets/VPC.webp
  faq/assets/apple.webp
  faq/assets/baremetal.webp
  faq/assets/billing.webp
  faq/assets/blockstorage.webp
  faq/assets/bmaas.webp
  faq/assets/coldstorage.webp
  faq/assets/containerregistry.webp
  faq/assets/containers.webp
  faq/assets/database.webp
  faq/assets/elasticmetal.webp
  faq/assets/enterprise.webp
  faq/assets/faas.webp
  faq/assets/instance.webp
  faq/assets/iothub.webp
  faq/assets/kapsule.webp
  faq/assets/loadbalancer.webp
  faq/assets/objectstorage.webp
  faq/elastic-metal.mdx
Labels: documentation

#571 docs(fix): typo in tutorial gitea MTA-1932
  tutorials/self-hosted-repository-gitea/index.mdx
Labels: documentation

#569 docs(faq): database MTA-1928
  faq/database.mdx
Labels: documentation

#565 docs(tutorial): umami
  tutorials/deploy-ubuntu-20-04-instance-scaleway-elements/index.mdx
  tutorials/deploy-umami-on-serverless-containers/assets/scaleway-container-information.webp
  tutorials/deploy-umami-on-serverless-containers/assets/scaleway-serverless-containers-namesp-list.webp
  tutorials/deploy-umami-on-serverless-containers/assets/scaleway-serverless-custom-endpoint.webp
  tutorials/deploy-umami-on-serverless-containers/assets/scaleway-serverless-endpoint.webp
  tutorials/deploy-umami-on-serverless-containers/assets/scaleway-serverless-secrets.webp
  tutorials/deploy-umami-on-serverless-containers/assets/scaleway-umami-dashboard.webp
  tutorials/deploy-umami-on-serverless-containers/assets/scaleway-umami-namespace-public.webp
  tutorials/deploy-umami-on-serverless-containers/index.mdx
Labels: documentation

#574 fix(console): add mentions how to regain access MTA-1937
  console/my-account/how-to/open-a-support-ticket.mdx
  faq/general.mdx
Labels: documentation

#577 fix(s3): glacier MTA-1938
  faq/coldstorage.mdx
  faq/new-object-storage-classes.mdx
  storage/object/api-cli/lifecycle-rules-api.mdx
  storage/object/api-cli/migrating-buckets.mdx
  tutorials/backup-dedicated-server-s3-duplicity/index.mdx
  tutorials/migrate-data-rclone/index.mdx
Labels: documentation
