Repository scaleway/docs-content, pull requests merged in 2022-10, with the labels that each got.

#886 fix(support): add new support plans
  console/my-account/how-to/assets/scaleway-support-plan-confirmation.webp
  console/my-account/how-to/assets/scaleway-support-plans-overview.webp
  faq/suppport.mdx
Labels: do not merge

#890 fix(s3): regions
  storage/object/concepts.mdx
  storage/object/quickstart.mdx
Labels: documentation

#898 fix(db): message box typo
  managed-databases/postgresql-and-mysql/quickstart.mdx
Labels: documentation

#899 docs(changelog): new changelog entries MTA-2285
  changelog/console/october2022/2022-10-06-new-support-plans-changed.mdx
  changelog/databases/october2022/2022-10-06-redis-ga-changed.mdx
  changelog/elastic-metal/october2022/2022-10-06-elastic-metal-added-windows-datacenter-images.mdx
  changelog/kubernetes/october2022/2022-10-06-deploying-ingress-controller-in-kubernetes-cluster-deprecated.mdx
  changelog/kubernetes/october2022/2022-10-06-kubernetes-version-1.19-removed.mdx
Labels: changelog

#742 docs(how-to): use the snapshot import/export feature from the console MTA-2098
  compute/instances/how-to/assets/scaleway-snapshot-bucket.webp
  compute/instances/how-to/assets/scaleway-snapshot-copy.webp
  compute/instances/how-to/assets/scaleway-snapshot-import.webp
  compute/instances/how-to/assets/scaleway-snapshot-imported.webp
  compute/instances/how-to/create-image-from-snapshot.mdx
  compute/instances/how-to/migrate-instances.mdx
  compute/instances/how-to/snapshot-import-export-feature.mdx
  menu/navigation.json
Labels: documentation

#935 docs(how-to): add tags to how-to
  compute/instances/how-to/connect-to-instance.mdx
  compute/kubernetes/how-to/connect-cluster-kubectl.mdx
  console/my-account/how-to/verify-identity.mdx
  console/my-project/how-to/create-ssh-key.mdx
  identity-and-access-management/iam/how-to/create-api-keys.mdx
Labels: documentation

#927 feat(my-account): added troubleshooting page MTA-2301
  console/my-account/troubleshooting/assets/scaleway-forgotten-password-screen.webp
  console/my-account/troubleshooting/assets/scaleway-password-reset.webp
  console/my-account/troubleshooting/assets/scaleway-unrecognized-ip.webp
  console/my-account/troubleshooting/cannot-log-into-my-account.mdx
  console/my-account/troubleshooting/index.mdx
  menu/navigation.json
Labels: documentation

#933 feat(rdb): clone db instance
  managed-databases/postgresql-and-mysql/how-to/clone-a-database-instance.mdx
  managed-databases/postgresql-and-mysql/how-to/configure-advanced-settings.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-snapshots.mdx
  menu/navigation.json
Labels: documentation

#936 fix(404): containers MTA-2340
  compute/containers/how-to/create-auth-token-from-console.mdx
Labels: Documentation Bug

#948 fix(apikey): remove mention
  console/my-project/how-to/generate-api-key.mdx
Labels: documentation

#950 fix(home): bold MTA-2349
  index.mdx
Labels: documentation

#958 docs(obs): fixed indentation
  observability/cockpit/how-to/create-token.mdx
  observability/cockpit/how-to/send-metrics-logs-to-cockpit.mdx
Labels: documentation

#959 docs(obs): added cockpit index
  observability/cockpit/index.mdx
Labels: documentation

#960 docs(obs): fixed image
  observability/cockpit/assets/scaleway_grafana_browse.webp
  observability/cockpit/quickstart.mdx
Labels: documentation
