Repository scaleway/docs-content, pull requests merged in 2023-11, with the labels that each got.

#2348 fix(SRV): update func custom domain name doc MTA-3855
  serverless/containers/how-to/add-a-custom-domain-to-a-container.mdx
  serverless/functions/how-to/add-a-custom-domain-name-to-a-function.mdx
  serverless/functions/how-to/assets/scaleway-dns-cname.webp
Labels: priority: low

#2351 docs(k8s): add migration strategies
  containers/kubernetes/reference-content/secure-cluster-with-private-network.mdx
Labels: status: ready

#2354 docs(k8s): removed outdated documentation
  changelog/february2023/2023-02-07-kubernetes-removed-container-runtimes-docker-and.mdx
  containers/kubernetes/how-to/change-container-runtime-interface.mdx
  containers/kubernetes/how-to/upgrade-kubernetes-version.mdx
  containers/kubernetes/how-to/use-nvidia-gpu-operator.mdx
  containers/kubernetes/reference-content/version-support-policy.mdx
  menu/navigation.json
Labels: type: maintenance, status: ready

#2350 docs(k8s): updated version support policy page
  containers/kubernetes/reference-content/version-support-policy.mdx
Labels: type: maintenance, status: tech review

#2346 feat(index): update quickstart MTA-3830
  assets/scaleway-quickstart-3.2.pdf
  index.mdx
Labels: type: maintenance, status: ready, priority: low

#2355 docs(k8s): fix CNI information
  containers/kubernetes/reference-content/version-support-policy.mdx
Labels: type: maintenance

#2349 docs(cockpit): add traces documentation
  faq/cockpit.mdx
  menu/navigation.json
  observability/cockpit/concepts.mdx
  observability/cockpit/how-to/activate-cockpit.mdx
  observability/cockpit/how-to/activate-push-traces.mdx
  observability/cockpit/how-to/assets/scaleway_token_permissions_external_data.webp
  observability/cockpit/how-to/create-token.mdx
  observability/cockpit/how-to/retrieve-grafana-credentials.mdx
  observability/cockpit/how-to/send-metrics-logs-to-cockpit.mdx
  observability/cockpit/quickstart.mdx
  observability/cockpit/reference-content/cockpit-limitations.mdx
  observability/cockpit/reference-content/understanding-cockpit-usage.mdx
Labels: type: new content

#2357 docs(iam): specify difference between secret manager permission sets
  identity-and-access-management/iam/reference-content/permission-sets.mdx
Labels: type: maintenance

#2358 docs(cpt): fix wrong link
  observability/cockpit/how-to/activate-push-traces.mdx
Labels: type: maintenance

#2360 docs(fix): fixed broken links
  bare-metal/elastic-metal/how-to/configure-flexible-ip.mdx
  bare-metal/elastic-metal/how-to/configure-flexible-ipv6.mdx
  bare-metal/elastic-metal/how-to/configure-ipv6-hypervisor.mdx
  changelog/instances/september2022/2022-09-06-instances-added-play2.mdx
  changelog/january2023/2023-01-18-instances-changed-ent1-range-is-extended.mdx
  changelog/serverless/september2022/2022-09-07-mnq-added-sns-sqs.mdx
  compute/instances/concepts.mdx
  developer-tools/scaleway-cli/quickstart.mdx
  developer-tools/terraform/reference-content/index.mdx
  faq/account.mdx
  faq/messaging-and-queuing.mdx
  faq/new-object-storage-classes.mdx
  identity-and-access-management/secret-manager/api-cli/create-secret-folder-migrate.mdx
  labs/ipfs-naming/how-to/import-key.mdx
  labs/ipfs-naming/quickstart.mdx
  serverless/messaging/reference-content/limitations.mdx
  serverless/messaging/reference-content/migration.mdx
  serverless/messaging/reference-content/sns-overview.mdx
  serverless/messaging/reference-content/sqs-overview.mdx
  tutorials/ark-server/index.mdx
  tutorials/install-cockroachdb-scaleway-instances/index.mdx
  tutorials/migrate-mysql-databases-postgresql-pgloader/index.mdx
  tutorials/mutli-node-rocket-chat-community-private-network/index.mdx
  tutorials/overleaf/index.mdx
  tutorials/setup-minecraft/index.mdx
Labels: type: maintenance

#2334 docs(s3): update Bucket policy doc MTA-3844
  console/project/how-to/add-resources-project.mdx
  macros/storage/bucket-policy.mdx
  macros/storage/important-bucket-policy.mdx
  menu/navigation.json
  storage/object/api-cli/bucket-policy.mdx
  storage/object/api-cli/combining-iam-and-object-storage.mdx
  storage/object/api-cli/create-bucket-policy.mdx
  storage/object/api-cli/import-copy.mdx
  storage/object/api-cli/using-bucket-policies.mdx
  storage/object/concepts.mdx
  storage/object/how-to/delete-an-object.mdx
  storage/object/how-to/transfer-bucket-to-object-storage-hive.mdx
  storage/object/how-to/use-obj-stor-with-private-networks.mdx
Labels: priority: medium

#2359 feat(project): remove page
  console/project/how-to/generate-api-key.mdx
  tutorials/get-started-crossplane-kubernetes/index.mdx
  tutorials/get-started-deploy-kapsule/index.mdx
Labels: type: bug, type: maintenance, priority: high

#2356 docs(review): docs review
  containers/kubernetes/how-to/enable-disable-ssh.mdx
  dedibox-console/classic-hosting/how-to/access-logcenter.mdx
  dedibox-console/classic-hosting/how-to/access-statistics.mdx
  dedibox-console/classic-hosting/how-to/change-email-account-password.mdx
  dedibox-console/classic-hosting/how-to/change-ftp-account-password.mdx
  dedibox-console/classic-hosting/how-to/change-password-mysql-database.mdx
  dedibox-console/classic-hosting/how-to/change-password-postgresql-database.mdx
  dedibox-console/classic-hosting/how-to/check-emails.mdx
  dedibox-console/classic-hosting/how-to/configure-backup-option.mdx
  dedibox-console/classic-hosting/how-to/configure-htaccess-file.mdx
  dedibox-console/classic-hosting/how-to/configure-outlook.mdx
  dedibox-console/classic-hosting/how-to/configure-php.mdx
  dedibox-console/classic-hosting/how-to/connect-via-ftp.mdx
  dedibox-console/classic-hosting/how-to/create-email-account.mdx
  network/load-balancer/how-to/add-certificate.mdx
  observability/cockpit/how-to/activate-cockpit.mdx
  tutorials/configure-apache-kafka/index.mdx
  tutorials/create-openwrt-image-for-scaleway/index.mdx
  tutorials/deploy-openproject-database-postgresql/index.mdx
  tutorials/get-started-crossplane-kubernetes/index.mdx
Labels: type: maintenance

#2362 docs(s3): add link to cockpit MTA-3869
  storage/object/how-to/monitor-consumption.mdx
Labels: priority: low

#2265 docs(cpt): add doc on how to configure Grafana alerts for scw resources
  menu/navigation.json
  observability/cockpit/assets/scaleway-instance-grafana-alert.webp
  observability/cockpit/how-to/activate-managed-alerts.mdx
  observability/cockpit/how-to/configure-alerts-for-scw-resources.mdx
  observability/cockpit/how-to/deactivate-cockpit.mdx
  observability/cockpit/reference-content/cockpit-limitations.mdx
Labels: type: new content

#2369 docs(k8s): fix typo
  containers/kubernetes/reference-content/secure-cluster-with-private-network.mdx
Labels: type: maintenance

#2370 docs(s3): update glacier faq with billing MTA-3872
  faq/coldstorage.mdx
Labels: priority: low

#2371 docs(webhosting): add payment requirement info
  managed-services/webhosting/how-to/migrate-webhosting-plan.mdx
Labels: type: maintenance

#2366 feat(changelog): transactional-email-added-smtp-login-authentication-met 2023-11-07
  changelog/november2023/2023-11-07-transactional-email-added-smtp-login-authentication-met.mdx
Labels: type: changelog

#2374 docs(tem): add info on new smtp auth method
  managed-services/transactional-email/how-to/generate-api-keys-for-tem-with-iam.mdx
  managed-services/transactional-email/reference-content/tem-capabilities-and-limits.mdx
Labels: type: maintenance

#2378 feat(changelog): cockpit-added-beta-traces 2023-11-07
  changelog/november2023/2023-11-07-cockpit-added-beta-traces.mdx
Labels: type: changelog

#2375 docs(srv): update container quickstart userflow MTA-3874
  serverless/containers/how-to/create-a-containers-namespace.mdx
  serverless/containers/quickstart.mdx
Labels: priority: medium

#2382 fix(lb): add cockpit logs info
  network/load-balancer/how-to/assets/scaleway-backend-down.webp
  network/load-balancer/how-to/assets/scaleway-backend-server-down.webp
  network/load-balancer/how-to/assets/scaleway-backend-server-up.webp
  network/load-balancer/how-to/assets/scaleway-logs-cockpit-overview.webp
  network/load-balancer/how-to/monitor-lb-cockpit.mdx
Labels: type: maintenance

#2383 fix(srv): miscellaneous fixes in srv doc MTA-3877
  menu/navigation.json
  serverless/containers/how-to/add-trigger-to-a-container.mdx
  serverless/containers/how-to/delete-a-container.mdx
  serverless/containers/how-to/delete-a-containers-namespace.mdx
  serverless/containers/how-to/secure-a-container.mdx
  serverless/functions/concepts.mdx
  serverless/functions/how-to/create-a-function.mdx
  serverless/functions/how-to/delete-a-function.mdx
  serverless/functions/how-to/delete-a-functions-namespace.mdx
  serverless/functions/how-to/package-function-dependencies-in-zip.mdx
  serverless/functions/quickstart.mdx
Labels: priority: low

#2384 feat(changelog): object-storage-added-new-bucket-policy-version-allowing 2023-11-08
  changelog/november2023/2023-11-08-object-storage-added-new-bucket-policy-version-allowing.mdx
Labels: type: changelog

#2387 feat(changelog): apple-silicon-deprecated-fr-par-1-is-disabled-in-the-ap 2023-11-08
  changelog/november2023/2023-11-08-apple-silicon-deprecated-fr-par-1-is-disabled-in-the-ap.mdx
Labels: type: changelog

#2206 feat(edge): private beta doc
  storage/object/how-to/assets/scaleway-cname-success.webp
  storage/object/how-to/assets/scaleway-edge-services-cache.webp
  storage/object/how-to/assets/scaleway-edge-services-configure-domain.webp
  storage/object/how-to/assets/scaleway-edge-services-customised.webp
  storage/object/how-to/assets/scaleway-edge-services-dashboard.webp
  storage/object/how-to/assets/scaleway-edge-services-purge-cache.webp
  storage/object/how-to/assets/scaleway-edge-services-purge-object.webp
  storage/object/how-to/assets/scaleway-edge-services-select-bucket.webp
  storage/object/how-to/assets/scaleway-edge-services-splash.webp
  storage/object/how-to/get-started-edge-services.mdx
  storage/object/reference-content/assets/scaleway-cert-expired.webp
  storage/object/reference-content/assets/scaleway-edge-services-cname-error.webp
  storage/object/reference-content/assets/scaleway-edge-services-configure-domain.webp
  storage/object/reference-content/assets/scaleway-edge-services-dashboard-error.webp
  storage/object/reference-content/cname-record.mdx
  storage/object/reference-content/index.mdx
  storage/object/reference-content/ssl-tls-certificate.mdx
Labels: type: new content

#2392 docs(fix): fix 404
  storage/object/api-cli/combining-iam-and-object-storage.mdx
  storage/object/reference-content/ssl-tls-certificate.mdx
Labels: type: maintenance

#2391 docs(tutorials): add navigation buttons
  tutorials/get-started-containers-docker/index.mdx
  tutorials/get-started-deploy-kapsule/index.mdx
  tutorials/get-started-kubernetes-loadbalancer/index.mdx
Labels: type: maintenance, priority: low

#2404 feat(changelog): kubernetes-changed-bumped-linux-kernel-to-620-36 2023-11-14
  changelog/november2023/2023-11-14-kubernetes-changed-bumped-linux-kernel-to-620-36.mdx
Labels: type: changelog

#2405 docs(k8s): update ssh documentation
  changelog/september2023/2023-09-06-kubernetes-added-dedicated-control-plane-offers.mdx
  containers/kubernetes/how-to/enable-disable-ssh.mdx
Labels: priority: medium

#2310 docs(gpu): update scratch storage
  compute/gpu/reference-content/choosing-gpu-instance-type.mdx
Labels: priority: low

#2399 docs(devtools): add docs for sdk go
  developer-tools/scaleway-sdk/go-sdk.mdx
Labels: type: new content, status: tech review

#2390 docs(devtools): add docs for sdk python
  developer-tools/scaleway-sdk/index.mdx
  developer-tools/scaleway-sdk/python-sdk.mdx
  menu/navigation.json
Labels: type: new content

#2406 docs(tem): add reputation score info in quickstart
  managed-services/transactional-email/quickstart.mdx
  managed-services/transactional-email/reference-content/understanding-tem-reputation-score.mdx
Labels: type: maintenance

#2414 docs(aps): removed remaining M1 mentions
  bare-metal/apple-silicon/concepts.mdx
  bare-metal/apple-silicon/how-to/delete-mac-mini.mdx
  console/project/how-to/create-ssh-key.mdx
  console/project/quickstart.mdx
  faq/apple-silicon-m1-as-a-service.mdx
  faq/billing.mdx
  tutorials/access-mac-mini-with-reemo/index.mdx
  tutorials/install-github-actions-runner-mac/index.mdx
  tutorials/jump-desktop/index.mdx
Labels: type: maintenance

#2415 docs(fix): fixed 404s
  containers/kubernetes/how-to/deploy-image-from-container-registry.mdx
  containers/kubernetes/how-to/enable-easy-deploy.mdx
  containers/kubernetes/quickstart.mdx
  storage/object/api-cli/bucket-website-api.mdx
  storage/object/api-cli/setting-cors-rules.mdx
  tutorials/abort-multipart-upload-minio/index.mdx
  tutorials/access-mac-mini-with-reemo/index.mdx
  tutorials/configure-nodemcu-iot-hub/index.mdx
  tutorials/configuring-loadbalancer-wordpress/index.mdx
  tutorials/install-github-actions-runner-mac/index.mdx
  tutorials/jump-desktop/index.mdx
  tutorials/odoo-easy-deploy/index.mdx
Labels: type: maintenance

#2411 docs(k8s): review video page
  containers/kubernetes/videos.mdx
Labels: type: maintenance, priority: low

#2420 docs(s3): update monitoring doc with cockpit MTA-3911
  storage/object/how-to/monitor-consumption.mdx
Labels: priority: critical

#2417 docs(cpt): fix data source issue
  observability/cockpit/api-cli/configuring-grafana-agent.mdx
Labels: type: maintenance

#2416 docs(tutorial): remove comment that produce error on container launch
  tutorials/deploy-laravel-on-serverless-containers/index.mdx
Labels: type: maintenance, status: tech review, priority: low

#2422 feat(changelog): transactional-email-added-domain-reputation-score 2023-11-20
  changelog/november2023/2023-11-20-transactional-email-added-domain-reputation-score.mdx
Labels: type: changelog

#2426 feat(changelog): load-balancers-added-load-balancer-logs-are-now-availab 2023-11-21
  changelog/november2023/2023-11-21-load-balancers-added-load-balancer-logs-are-now-availab.mdx
Labels: type: changelog

#2419 docs(review): docs content review
  bare-metal/apple-silicon/troubleshooting/cant-send-emails.mdx
  bare-metal/apple-silicon/troubleshooting/need-to-update-os.mdx
  dedibox-console/classic-hosting/how-to/create-email-redirection.mdx
  dedibox-console/classic-hosting/how-to/create-email-transfer.mdx
  dedibox-console/classic-hosting/how-to/create-ftp-account.mdx
  dedibox-console/classic-hosting/how-to/create-mysql-database.mdx
  dedibox-console/classic-hosting/how-to/create-postgresql-database.mdx
  dedibox-console/classic-hosting/how-to/create-subdomain.mdx
  dedibox-console/classic-hosting/how-to/delete-email-account.mdx
  dedibox-console/classic-hosting/how-to/delete-email-redirection.mdx
  dedibox-console/classic-hosting/how-to/delete-email-transfer.mdx
  dedibox-console/classic-hosting/how-to/delete-ftp-account.mdx
  dedibox-console/classic-hosting/how-to/delete-mysql-database.mdx
  dedibox-console/classic-hosting/how-to/delete-postgresql-database.mdx
  dedibox-network/ipv6/how-to/debug-ipv6.mdx
  developer-tools/scaleway-cli/reference-content/cli-reference.mdx
  developer-tools/scaleway-cli/reference-content/console-keyboard-shortcuts.mdx
  identity-and-access-management/iam/api-cli/using-api-key-object-storage.mdx
  network/load-balancer/how-to/delete-load-balancer.mdx
  tutorials/deploy-chatwoot-self-care/index.mdx
  tutorials/install-kvm-elastic-metal/index.mdx
  tutorials/install-openlitespeed-wordpress/index.mdx
  tutorials/install-openvpn/index.mdx
  tutorials/install-pgbouncer/index.mdx
  tutorials/install-php-composer/index.mdx
  tutorials/install-postgresql/index.mdx
  tutorials/install-wireguard/index.mdx
  tutorials/using-own-grafana/index.mdx
Labels: type: maintenance

#2303 docs(gpu): understanding nvidia fp8 format
  compute/gpu/reference-content/understanding-nvidia-fp8.mdx
  menu/navigation.json
Labels: type: new content

#2427 docs(srv): remove mention of vim
  tutorials/transform-bucket-images-triggers-functions-deploy/index.mdx
  tutorials/transform-bucket-images-triggers-functions-set-up/index.mdx
Labels: type: maintenance, priority: low

#2367 docs(SRV): add jobs documentation MTA-3846
  faq/assets/serverless-jobs.webp
  faq/serverless-jobs.mdx
  menu/navigation.json
  serverless/jobs/concepts.mdx
  serverless/jobs/how-to/create-job-from-external-registry.mdx
  serverless/jobs/how-to/create-job-from-scaleway-registry.mdx
  serverless/jobs/how-to/delete-job.mdx
  serverless/jobs/how-to/index.mdx
  serverless/jobs/how-to/monitor-job.mdx
  serverless/jobs/how-to/run-job.mdx
  serverless/jobs/index.mdx
  serverless/jobs/quickstart.mdx
  serverless/jobs/reference-content/assets/serverless-decision-tree.webp
  serverless/jobs/reference-content/difference-with-functions-containers.mdx
  serverless/jobs/reference-content/index.mdx
Labels: do not merge, status: draft

#2434 docs(SRV): add beta access in requirements
  serverless/jobs/how-to/create-job-from-external-registry.mdx
  serverless/jobs/how-to/create-job-from-scaleway-registry.mdx
  serverless/jobs/how-to/delete-job.mdx
  serverless/jobs/how-to/monitor-job.mdx
  serverless/jobs/how-to/run-job.mdx
Labels: priority: high

#2438 fix(mnq): improve tags for limitations
  serverless/messaging/reference-content/limitations.mdx
Labels: type: maintenance

#2433 docs(secret-manager): rework secret manager documentation
  identity-and-access-management/secret-manager/api-cli/external-secrets.mdx
  identity-and-access-management/secret-manager/api-cli/migrate-secrets-in-folders.mdx
  identity-and-access-management/secret-manager/assets/scaleway-filter-secrets-region.webp
  identity-and-access-management/secret-manager/assets/scaleway-filter-secrets-tags.webp
  identity-and-access-management/secret-manager/assets/scaleway-secret-id-copy.webp
  identity-and-access-management/secret-manager/assets/scaleway-secret-id.webp
  identity-and-access-management/secret-manager/assets/scaleway-secret-manager-more-info.webp
  identity-and-access-management/secret-manager/concepts.mdx
  identity-and-access-management/secret-manager/how-to/assets/scaleway-create-path.webp
  identity-and-access-management/secret-manager/how-to/assets/scaleway-folder-location.webp
  identity-and-access-management/secret-manager/how-to/assets/scaleway-secret-manager-more-info.webp
  identity-and-access-management/secret-manager/how-to/create-folder.mdx
  identity-and-access-management/secret-manager/how-to/create-secret.mdx
  identity-and-access-management/secret-manager/how-to/create-version.mdx
  identity-and-access-management/secret-manager/how-to/delete-folder.mdx
  identity-and-access-management/secret-manager/how-to/delete-secret.mdx
  identity-and-access-management/secret-manager/how-to/delete-version.mdx
  identity-and-access-management/secret-manager/how-to/manage-secret.mdx
  identity-and-access-management/secret-manager/how-to/manage-version.mdx
  identity-and-access-management/secret-manager/quickstart.mdx
  menu/navigation.json
Labels: type: maintenance, type: new content

#2441 docs(cockpit): fix indentation mistake
  observability/cockpit/api-cli/configuring-grafana-agent.mdx
Labels: type: maintenance

#2443 feat(changelog): secret-manager-changed-secret-manager-console-pages-hav 2023-11-23
  changelog/november2023/2023-11-23-secret-manager-changed-secret-manager-console-pages-hav.mdx
Labels: type: changelog

#2442 doc(devtools): js sdk
  developer-tools/scaleway-sdk/js-sdk.mdx
  menu/navigation.json
Labels: type: new content

#2439 fix(docs): add links to linux command line tuto
  bare-metal/dedibox/how-to/connect-to-dedibox.mdx
  bare-metal/elastic-metal/how-to/connect-to-server.mdx
  compute/instances/how-to/connect-to-instance.mdx
  compute/instances/reference-content/learning.mdx
  dedibox/dedicated-servers/how-to/connect-to-server.mdx
Labels: type: maintenance, priority: low

#2440 docs(S3): add warning on lifecycle rule transition order MTA-3927
  storage/object/api-cli/lifecycle-rules-api.mdx
  storage/object/how-to/manage-lifecycle-rules.mdx
Labels: priority: low

#2444 fix(ins): fix concepts
  compute/instances/concepts.mdx
Labels: type: maintenance, status: ready, priority: low

#2407 docs(S3): add iam s3 actions equivalence table MTA-3888
  menu/navigation.json
  storage/object/reference-content/s3-iam-permissions-equivalence.mdx
Labels: priority: low

#2410 docs(sbs): add iam permissions
  identity-and-access-management/iam/reference-content/permission-sets.mdx
Labels: type: new content

#2435 feat(rdb): seamless upgrade v
  managed-databases/document-database/how-to/assets/scaleway-engine-version-upgrade-pop-up.webp
  managed-databases/postgresql-and-mysql/api-cli/migrating-endpoints.mdx
  managed-databases/postgresql-and-mysql/how-to/assets/scaleway-engine-version-upgrade-pop-up.webp
  managed-databases/postgresql-and-mysql/how-to/upgrade-version.mdx
  menu/navigation.json
Labels: type: new content, status: tech review, priority: high

#2418 feat(iam): logs MTA-3891
  identity-and-access-management/iam/how-to/manage-policies.mdx
  identity-and-access-management/iam/how-to/view-logs.mdx
  menu/navigation.json
Labels: type: new content, status: tech review, priority: medium

#2453 feat(changelog): iam-added-iam-audit-logs 2023-11-27
  changelog/november2023/2023-11-27-iam-added-iam-audit-logs.mdx
Labels: type: changelog

#2459 docs(S3): update glacier faq
  faq/coldstorage.mdx
Labels: priority: high

#2461 feat(changelog): object-storage-added-deleteobjects-is-now-applicable-to 2023-11-27
  changelog/november2023/2023-11-27-object-storage-added-deleteobjects-is-now-applicable-to.mdx
Labels: type: changelog

#2463 docs(s3): add VersionId to DeleteObjects MTA-3938
  storage/object/api-cli/object-operations.mdx
Labels: priority: low

#2464 fix(sls): update job statuses MTA-3939
  serverless/jobs/concepts.mdx
  serverless/jobs/how-to/monitor-job.mdx
  serverless/jobs/how-to/run-job.mdx
Labels: priority: low

#2462 docs(sdb): add connection timeout troubleshooting MTA-3908
  menu/navigation.json
  serverless/sql-databases/troubleshooting/connection-timeout.mdx
  serverless/sql-databases/troubleshooting/index.mdx
Labels: priority: low

#2466 fix(s3): remove note on 0 value for transition on lifecycle rule MTA3942
  storage/object/api-cli/lifecycle-rules-api.mdx
Labels: priority: high

#2454 docs(review): docs content review
  compute/instances/reference-content/production-optimized.mdx
  containers/container-registry/how-to/connect-docker-cli.mdx
  containers/container-registry/how-to/create-namespace.mdx
  containers/container-registry/how-to/delete-image.mdx
  containers/container-registry/how-to/delete-namespace.mdx
  containers/container-registry/how-to/display-image-versions.mdx
  containers/container-registry/how-to/manage-image-privacy-settings.mdx
  containers/container-registry/how-to/manage-namespace-privacy-policies.mdx
  containers/container-registry/how-to/pull-images.mdx
  containers/container-registry/how-to/push-images.mdx
  identity-and-access-management/secret-manager/api-cli/generate-secret-password.mdx
  labs/ipfs-pinning/api-cli/ipfs-cli.mdx
  labs/ipfs-pinning/api-cli/ipfs-get-content.mdx
  labs/ipfs-pinning/api-cli/pin-operations.mdx
  labs/ipfs-pinning/api-cli/volumes-operations.mdx
  labs/ipfs-pinning/quickstart.mdx
  managed-services/webhosting/how-to/manage-webhosting.mdx
  network/load-balancer/api-cli/configuring-balancing-rules.mdx
  network/public-gateways/how-to/create-a-public-gateway.mdx
  network/public-gateways/how-to/delete-a-public-gateway.mdx
  network/public-gateways/how-to/use-flexible-ips.mdx
  network/public-gateways/how-to/use-ssh-bastion.mdx
  network/public-gateways/quickstart.mdx
  network/public-gateways/troubleshooting/gw-limitations.mdx
  tutorials/ceph-cluster/index.mdx
  tutorials/install-parse-server/index.mdx
  tutorials/installation-jekyll/index.mdx
  tutorials/installation-lemp-ubuntu-bionic/index.mdx
  tutorials/installation-uncomplicated-firewall/index.mdx
  tutorials/jitsi-ubuntu-bionic/index.mdx
  tutorials/jitsi-ubuntu-focal-fossa/index.mdx
  tutorials/jitsi-ubuntu-jammy-jellyfish/index.mdx
  tutorials/lb-firewall-haproxy-pfsense/index.mdx
Labels: type: maintenance

#2475 fix(network): add info about ipam badge
  network/public-gateways/concepts.mdx
  network/vpc/reference-content/assets/scaleway-gateway-mode.webp
  network/vpc/reference-content/vpc-migration.mdx
Labels: type: maintenance

#2479 docs(tem): remove mention of hourly quota in docs
  console/account/reference-content/organization-quotas.mdx
  managed-services/transactional-email/reference-content/tem-capabilities-and-limits.mdx
Labels: type: maintenance
