Repository scaleway/docs-content, pull requests merged in 2023-10, with the labels that each got.

#2142 docs(tutorials): installing cockroachdb on instance MTA-3608
  tutorials/install-cockroachdb-scaleway-instances/index.mdx
Labels: do not merge, status: tech review

#2220 docs(tutorials): fix date and space
  tutorials/install-cockroachdb-scaleway-instances/index.mdx
Labels: type: maintenance

#2222 feat(changelog): apple-silicon-changed-macos-ventura-13-now 2023-10-02
  changelog/october2023/2023-10-02-apple-silicon-changed-macos-ventura-13-now.mdx
Labels: type: changelog

#2226 feat(changelog): iot-changed-new-iot-platform-server 2023-10-03
  changelog/october2023/2023-10-03-iot-changed-new-iot-platform-server.mdx
Labels: type: changelog

#2221 docs(cpt): add active series concept
  observability/cockpit/concepts.mdx
Labels: type: maintenance

#2223 docs(tutorial): update tutorial strapi
  tutorials/strapi/index.mdx
Labels: priority: low

#2218 docs(review): docs content review
  bare-metal/dedibox/how-to/attach-detach-failover-ip.mdx
  bare-metal/dedibox/how-to/configure-failover-ip.mdx
  bare-metal/dedibox/how-to/configure-ipv6-dedibox.mdx
  bare-metal/dedibox/how-to/configure-reverse-failover-ip.mdx
  bare-metal/dedibox/how-to/connect-to-dedibox.mdx
  bare-metal/dedibox/how-to/install-dedibox.mdx
  bare-metal/dedibox/how-to/link-dedibox-account.mdx
  bare-metal/dedibox/how-to/modify-server-options.mdx
  bare-metal/dedibox/how-to/order-dedibox.mdx
  bare-metal/dedibox/how-to/order-failover-ip.mdx
  bare-metal/dedibox/how-to/reinstall-dedibox.mdx
  bare-metal/dedibox/how-to/terminate-dedibox.mdx
  bare-metal/dedibox/how-to/use-rescue-mode.mdx
  compute/gpu/troubleshooting/updating-gpu-instance-with-cloud-init.mdx
  compute/instances/api-cli/managing-instance-snapshot-via-cli.mdx
  contribute.mdx
  managed-databases/postgresql-and-mysql/api-cli/verify-ca-postgresql.mdx
  tutorials/backup-dedicated-server-s3-duplicity/index.mdx
  tutorials/deploy-nextcloud-s3/index.mdx
  tutorials/glusterfs/index.mdx
  tutorials/setup-lamp-stack-ubuntu2204/index.mdx
  tutorials/setup-moodle/index.mdx
  tutorials/setup-nginx-reverse-proxy-s3/index.mdx
  tutorials/socket-io/index.mdx
Labels: priority: low

#2227 docs(sem): secret and folder creation + secret migration
  identity-and-access-management/secret-manager/api-cli/create-secret-folder-migrate.mdx
  menu/navigation.json
Labels: type: new content

#2230 docs(tutorials): elk stack
  tutorials/collecting-visualizing-logs-elastic-stack/index.mdx
Labels: priority: low

#2244 docs(k8s): update lb annotations docs
  containers/kubernetes/api-cli/using-load-balancer-annotations.mdx
Labels: priority: medium

#2242 fix(SDB): update content
  serverless/sql-databases/reference-content/known-differences.mdx
Labels: priority: low

#2249 fix(sdb): update max connections to DB MTA-3781
  serverless/sql-databases/reference-content/serverless-sql-databases-overview.mdx
Labels: priority: low

#2246 docs(instances): add cli information for routed ip
  compute/instances/api-cli/using-routed-ips.mdx
Labels: priority: medium

#2133 docs(dev): updating CLI documentation MTA-3661
  developer-tools/devtools/index.mdx
  developer-tools/devtools/reference-content/devtools-reference.mdx
  developer-tools/index.mdx
  developer-tools/scaleway-cli/index.mdx
  developer-tools/scaleway-cli/quickstart.mdx
  developer-tools/scaleway-cli/reference-content/cli-reference.mdx
  developer-tools/scaleway-cli/reference-content/console-keyboard-shortcuts.mdx
  developer-tools/scaleway-cli/reference-content/environment-variables.mdx
  developer-tools/scaleway-cli/reference-content/index.mdx
  macros/developer-tools/scaleway-environment-variables.mdx
  menu/navigation.json
  tutorials/sem-terraform/index.mdx
Labels: priority: medium

#2256 fix(lb): add waw3
  console/my-account/reference-content/products-availability.mdx
  network/load-balancer/how-to/create-load-balancer.mdx
  network/load-balancer/quickstart.mdx
Labels: type: maintenance

#2259 docs(faq): fix faq
  faq/apple-silicon-m1-as-a-service.mdx
  faq/billing.mdx
  faq/blockstorage.mdx
  faq/cockpit.mdx
  faq/coldstorage.mdx
  faq/containerregistry.mdx
  faq/databases-for-postgresql-and-mysql.mdx
  faq/databases-for-redis.mdx
  faq/dedibox-in-scaleway-console.mdx
  faq/dedibox.mdx
  faq/domains-and-dns.mdx
  faq/elastic-metal.mdx
  faq/enterprise.mdx
  faq/general.mdx
  faq/iam.mdx
  faq/instances.mdx
  faq/iothub.mdx
  faq/kubernetes.mdx
  faq/loadbalancer.mdx
  faq/messaging-and-queuing.mdx
  faq/new-object-storage-classes.mdx
  faq/objectstorage.mdx
  faq/play2-instances.mdx
  faq/private-networks.mdx
  faq/pro2-instances.mdx
  faq/public-gateways.mdx
  faq/secret-manager.mdx
  faq/serverless-containers.mdx
  faq/serverless-functions.mdx
  faq/serverless-sql-databases.mdx
  faq/support.mdx
  faq/transactional-email.mdx
  faq/vpc.mdx
Labels: priority: medium

#2261 docs(instances): add warning for routed ip migration
  compute/instances/api-cli/using-routed-ips.mdx
Labels: priority: high

#2262 docs(instance): routed ip migration
  compute/instances/concepts.mdx
  compute/instances/how-to/assets/scaleway-instance-routedip-migration.webp
  compute/instances/how-to/create-an-instance.mdx
  compute/instances/how-to/migrate-routed-ips.mdx
  compute/instances/how-to/use-flexips.mdx
  compute/instances/how-to/use-security-groups.mdx
  compute/instances/quickstart.mdx
  menu/navigation.json
Labels: type: new content

#2014 tem(add): add page to explain reputation score + new concepts
  managed-services/transactional-email/concepts.mdx
  managed-services/transactional-email/reference-content/understanding-tem-reputation-score.mdx
  menu/navigation.json
Labels: type: new content, do not merge

#2264 docs(instances): fix typo
  compute/instances/how-to/create-an-instance.mdx
  compute/instances/quickstart.mdx
Labels: priority: low

#2258 feat(ipfs): documentation about ipfs-naming project
  labs/ipfs-naming/concepts.mdx
  labs/ipfs-naming/how-to/assets/choose-description-naming.webp
  labs/ipfs-naming/how-to/assets/choose-key-type-naming.webp
  labs/ipfs-naming/how-to/assets/choose-region-naming.webp
  labs/ipfs-naming/how-to/assets/create-ipfs-naming.webp
  labs/ipfs-naming/how-to/assets/import-key-naming.webp
  labs/ipfs-naming/how-to/create-key.mdx
  labs/ipfs-naming/how-to/delete-key.mdx
  labs/ipfs-naming/how-to/import-key.mdx
  labs/ipfs-naming/how-to/index.mdx
  labs/ipfs-naming/how-to/update-name.mdx
  labs/ipfs-naming/index.mdx
  labs/ipfs-naming/quickstart.mdx
  labs/ipfs-pinning/api-cli/assets/add-service-ipfs-desktop.webp
  labs/ipfs-pinning/api-cli/assets/add-service-to-ipfs-desktop-zoom.webp
  labs/ipfs-pinning/api-cli/assets/set-pinning-service.webp
  labs/ipfs-pinning/api-cli/getting-started-with-ipfs-cli.mdx
  labs/ipfs-pinning/api-cli/index.mdx
  labs/ipfs-pinning/api-cli/ipfs-cli.mdx
  labs/ipfs-pinning/api-cli/ipfs-get-content.mdx
  labs/ipfs-pinning/api-cli/pin-operations.mdx
  labs/ipfs-pinning/api-cli/volumes-operations.mdx
  labs/ipfs-pinning/concepts.mdx
  labs/ipfs-pinning/how-to/add-pin.mdx
  labs/ipfs-pinning/how-to/assets/scaleway-choose-name-ipfs.webp
  labs/ipfs-pinning/how-to/assets/scaleway-choose-region-ipfs.webp
  labs/ipfs-pinning/how-to/assets/scaleway-create-volume-ipfs.webp
  labs/ipfs-pinning/how-to/create-volume.mdx
  labs/ipfs-pinning/how-to/delete-pin.mdx
  labs/ipfs-pinning/how-to/delete-volume.mdx
  labs/ipfs-pinning/how-to/index.mdx
  labs/ipfs-pinning/index.mdx
  labs/ipfs-pinning/quickstart.mdx
  labs/ipfs-pinning/reference-content/index.mdx
  labs/ipfs-pinning/reference-content/install-ipfs-desktop.mdx
  menu/navigation.json
Labels: type: new content

#2229 docs(k8s): update docs
  containers/kubernetes/reference-content/assets/scaleway-kubernetes-kapsule-on-pn-v2.webp
  containers/kubernetes/reference-content/secure-cluster-with-private-network.mdx
  menu/navigation.json
Labels: priority: medium

#2270 docs(review): docs content review
  managed-services/iot-hub/how-to/enable-auto-provisioning.mdx
  network/domains-and-dns/reference-content/understanding-domains-and-dns.mdx
  tutorials/configure-chef-ubuntu-xenial/index.mdx
  tutorials/configure-failover-proxmox/index.mdx
  tutorials/configure-graphite/index.mdx
  tutorials/configure-ipv6-virtual-machine-esxi/index.mdx
  tutorials/configure-netbox-managed-postgresql-database/index.mdx
  tutorials/configure-nextcloud-ubuntu/index.mdx
  tutorials/configure-nginx-lets-encrypt/index.mdx
  tutorials/deploy-penpot-with-docker-instantapp/index.mdx
  tutorials/sinatra/index.mdx
  tutorials/stop-outgoing-spam/index.mdx
  tutorials/store-s3-cyberduck/index.mdx
  tutorials/store-wp-mediacloud-s3/index.mdx
  tutorials/systemd-essentials/index.mdx
  tutorials/terraform-quickstart/index.mdx
  tutorials/traefik-v2-cert-manager/index.mdx
  tutorials/trigger-ifttt-actions/index.mdx
  tutorials/vagrant/index.mdx
Labels: priority: low

#2280 feat(changelog): kubernetes-deprecated-kapsule-clusters-with-only-public 2023-10-18
  changelog/october2023/2023-10-18-kubernetes-deprecated-kapsule-clusters-with-only-public.mdx
Labels: type: changelog

#2281 fix(pgw): updates for ipam
  bare-metal/elastic-metal/how-to/use-private-networks.mdx
  containers/kubernetes/reference-content/secure-cluster-with-private-network.mdx
  faq/public-gateways.mdx
  faq/vpc.mdx
  network/public-gateways/concepts.mdx
  network/public-gateways/how-to/configure-a-public-gateway.mdx
  network/public-gateways/how-to/create-a-public-gateway.mdx
  network/public-gateways/troubleshooting/gw-limitations.mdx
  network/vpc/concepts.mdx
  network/vpc/reference-content/vpc-migration.mdx
Labels: priority: high

#2283 feat(changelog): kubernetes-added-cloud-controller-manager-now-supports- 2023-10-18
  changelog/october2023/2023-10-18-kubernetes-added-cloud-controller-manager-now-supports-.mdx
Labels: type: changelog

#2285 docs(ins): updt word routed ip migration warning
  compute/instances/how-to/migrate-routed-ips.mdx
Labels: priority: medium

#2292 feat(changelog): containers-added-trigger-private-containers-from-messag 2023-10-20
  changelog/october2023/2023-10-20-containers-added-trigger-private-containers-from-messag.mdx
Labels: type: changelog

#2291 feat(changelog): functions-added-trigger-private-functions-from-messagin 2023-10-20
  changelog/october2023/2023-10-20-functions-added-trigger-private-functions-from-messagin.mdx
Labels: type: changelog

#2124 feat(k8s): multi-az cluster
  containers/kubernetes/reference-content/assets/scaleway-k8s-multi-az-2.webp
  containers/kubernetes/reference-content/assets/scaleway-k8s-multi-az-3.webp
  containers/kubernetes/reference-content/assets/scaleway-k8s-multi-az-cluster.webp
  containers/kubernetes/reference-content/multi-az-clusters.mdx
  menu/navigation.json
Labels: type: new content

#2266 docs(tutorials): k8s multi-az-terraform and kapsule
  tutorials/k8s-kapsule-multi-az/assets/scaleway-k8s-kapsule-multi-az-1-v2.webp
  tutorials/k8s-kapsule-multi-az/assets/scaleway-k8s-kapsule-multi-az-1.webp
  tutorials/k8s-kapsule-multi-az/assets/scaleway-k8s-kapsule-multi-az-2-v2.webp
  tutorials/k8s-kapsule-multi-az/assets/scaleway-k8s-kapsule-multi-az-2.webp
  tutorials/k8s-kapsule-multi-az/assets/scaleway-k8s-kapsule-multi-az-3-v2.webp
  tutorials/k8s-kapsule-multi-az/assets/scaleway-k8s-kapsule-multi-az-3.webp
  tutorials/k8s-kapsule-multi-az/index.mdx
Labels: type: new content

#2267 docs(domains): remove outdated pictures
  network/domains-and-dns/how-to/manage-dns-records.mdx
Labels: type: maintenance

#2302 fix(s3): update storage class faq MTA-3819
  faq/new-object-storage-classes.mdx
Labels: priority: high

#2301 docs(review): docs review 2023-10-23
  console/account/how-to/change-console-appearance.mdx
  identity-and-access-management/secret-manager/reference-content/data-encryption-with-secret-manager.mdx
  managed-databases/redis/how-to/connect-to-redis-database-instance.mdx
  observability/cockpit/how-to/access-grafana-and-managed-dashboards.mdx
  serverless/containers/how-to/create-auth-token-from-console.mdx
  tutorials/configure-plex-s3/index.mdx
  tutorials/external-secrets/index.mdx
  tutorials/sharelatex/index.mdx
  tutorials/store-s3-transmit/index.mdx
  tutorials/vagrant/index.mdx
  tutorials/visualize-timeseries-data-timescaledb-grafana/index.mdx
  tutorials/vuls-security-scanner/index.mdx
  tutorials/wordpress-lemp-stack-focal/index.mdx
  tutorials/wordpress-lemp-stack/index.mdx
  tutorials/zabbix-monitoring/index.mdx
  tutorials/zimbra-elastic-metal/index.mdx
  tutorials/zulip/index.mdx
Labels: priority: low

#2306 docs(aps): add firewall information
  bare-metal/apple-silicon/troubleshooting/cant-connect-using-vnc.mdx
Labels: priority: medium

#2307 feat(changelog): messaging-and-queuing-changed-messaging-and-queuing-is- 2023-10-24
  changelog/october2023/2023-10-24-messaging-and-queuing-changed-messaging-and-queuing-is-.mdx
Labels: type: changelog

#2312 feat(changelog): kubernetes-added-support-for-kubernetes-kapsule-multi-a 2023-10-25
  changelog/october2023/2023-10-25-kubernetes-added-support-for-kubernetes-kapsule-multi-a.mdx
Labels: type: changelog

#2316 feat(changelog): functions-changed-serverless-functions-triggers-now-in- 2023-10-26
  changelog/october2023/2023-10-26-functions-changed-serverless-functions-triggers-now-in-.mdx
Labels: type: changelog

#2317 feat(changelog): containers-changed-serverless-containers-triggers-now-i 2023-10-26
  changelog/october2023/2023-10-26-containers-changed-serverless-containers-triggers-now-i.mdx
Labels: type: changelog

#2318 feat(changelog): kubernetes-removed-kubernetes-122-is-no-longer-supporte 2023-10-26
  changelog/october2023/2023-10-26-kubernetes-removed-kubernetes-122-is-no-longer-supporte.mdx
Labels: type: changelog

#2321 fix(k8s): reorg and improve load balancer doc in k8s
  containers/kubernetes/api-cli/changing-control-plane-offer.mdx
  containers/kubernetes/api-cli/cluster-monitoring.mdx
  containers/kubernetes/api-cli/managing-storage.mdx
  containers/kubernetes/api-cli/managing-tags.mdx
  containers/kubernetes/reference-content/assets/scaleway-ingress.webp
  containers/kubernetes/reference-content/assets/scaleway-lb.webp
  containers/kubernetes/reference-content/assets/scaleway-nodeport-diag.webp
  containers/kubernetes/reference-content/exposing-services.mdx
  containers/kubernetes/reference-content/kubernetes-load-balancer.mdx
  containers/kubernetes/reference-content/managing-load-balancer-ips.mdx
  containers/kubernetes/reference-content/using-load-balancer-annotations.mdx
  network/load-balancer/concepts.mdx
Labels: type: maintenance, type: new content

#2153 fix(docs): update contributing file with clear procedure MTA-3685
  docs/CONTRIBUTING.md
Labels: priority: low

#2308 docs(DTO): add terraform quickstart to devtools MTA-3820
  developer-tools/terraform/index.mdx
  developer-tools/terraform/quickstart.mdx
  developer-tools/terraform/reference-content/environment-variables.mdx
  menu/navigation.json
Labels: priority: low

#2313 fix(srv): update containers billing with correct unit MTA-3831
  faq/serverless-containers.mdx
Labels: priority: low

#2329 feat(changelog): load-balancers-added-load-balancer-is-now-available-in- 2023-10-27
  changelog/october2023/2023-10-27-load-balancers-added-load-balancer-is-now-available-in-.mdx
Labels: type: changelog

#2335 docs(changelog): fix broken date
  changelog/october2023/2023-10-27-load-balancers-added-load-balancer-is-now-available-in-.mdx
  tutorials/deploy-k3s-cluster-with-cilium/index.mdx
Labels: priority: high

#2340 docs(tutorial): update prestashop tuto
  tutorials/prestashop-dedibox/index.mdx
Labels: type: maintenance

#2338 docs(k8s): add second warning
  containers/kubernetes/reference-content/managed-kubernetes-service-definition.mdx
Labels: priority: low

#2324 fix(lb): add info about certficates
  network/load-balancer/assets/scaleway-certificate-list.webp
  network/load-balancer/how-to/add-certificate.mdx
Labels: type: maintenance

#2344 docs(gen): add note about flexible ips
  bare-metal/dedibox/how-to/attach-detach-failover-ip.mdx
  bare-metal/dedibox/how-to/configure-failover-ip.mdx
  bare-metal/dedibox/how-to/order-failover-ip.mdx
  compute/instances/how-to/use-flexips.mdx
  dedibox-network/ip-failover/how-to/assign-failover-ip.mdx
  dedibox-network/ip-failover/how-to/create-virtual-mac.mdx
  dedibox-network/ip-failover/how-to/order-failover-ip.mdx
  dedibox-network/ip-failover/quickstart.mdx
  macros/network/failover-ip-limitations.mdx
  macros/network/flexible-ip-limitations.mdx
  network/public-gateways/how-to/use-flexible-ips.mdx
Labels: type: maintenance, status: ready, priority: low

#2342 docs(faq): update faq dedibox2elts
  faq/dedibox-in-scaleway-console.mdx
Labels: type: maintenance
