Repository scaleway/docs-content, pull requests merged in 2023-08, with the labels that each got.

#1968 docs(ipfs): review api/cli section MTA-3493
  labs/ipfs/api-cli/ipfs-cli.mdx
  labs/ipfs/api-cli/ipfs-get-content.mdx
Labels: priority: medium

#1961 docs(ipfs): review api/cli section MTA-3423
  labs/ipfs/api-cli/getting-started-with-ipfs-cli.mdx
  labs/ipfs/api-cli/ipfs-operations.mdx
  labs/ipfs/api-cli/pin-operations.mdx
  labs/ipfs/api-cli/volumes-operations.mdx
  labs/ipfs/how-to/add-pin.mdx
  menu/navigation.json
Labels: priority: medium

#1947 feat(SDB): create how tos ServerlessDB MTA-3455
  menu/navigation.json
  serverless/sql-databases/how-to/add-users.mdx
  serverless/sql-databases/how-to/configure-autoscaling.mdx
  serverless/sql-databases/how-to/connect-to-a-database.mdx
  serverless/sql-databases/how-to/create-a-database.mdx
  serverless/sql-databases/how-to/delete-a-database.mdx
  serverless/sql-databases/how-to/index.mdx
  serverless/sql-databases/how-to/manage-permissions.mdx
  serverless/sql-databases/quickstart.mdx
Labels: type: new content, priority: low

#1762 feat(rdb): update ipam info for rr + add new pages
  managed-databases/postgresql-and-mysql/how-to/add-a-database.mdx
  managed-databases/postgresql-and-mysql/how-to/add-users.mdx
  managed-databases/postgresql-and-mysql/how-to/assets/scaleway-attach-pn-readreplica.webp
  managed-databases/postgresql-and-mysql/how-to/configure-advanced-settings.mdx
  managed-databases/postgresql-and-mysql/how-to/connect-database-instance.mdx
  managed-databases/postgresql-and-mysql/how-to/create-read-replica.mdx
  managed-databases/postgresql-and-mysql/how-to/delete-a-database.mdx
  managed-databases/postgresql-and-mysql/how-to/delete-db.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-read-replica.mdx
  managed-databases/postgresql-and-mysql/how-to/renew-tls-certificate.mdx
  managed-databases/postgresql-and-mysql/how-to/upgrade-a-database.mdx
  menu/navigation.json
Labels: status: tech review

#1999 docs(tutorial): Install Docker Engine on Ubuntu 22.04
  tutorials/install-docker-ubuntu-jammy-jellyfish/index.mdx
Labels: priority: low

#2006 fix(rdb): fix db backup concept
  managed-databases/postgresql-and-mysql/concepts.mdx
Labels: type: maintenance, status: ready, priority: medium

#1941 feat(SDB): add faq page on serverless DB MTA-3454
  faq/assets/serverless-sql-database.webp
  faq/serverless-sql-databases.mdx
Labels: status: draft

#2010 docs(add): info about tlds
  faq/domains-and-dns.mdx
Labels: type: maintenance

#1966 docs(k8s): add monitoring docs
  containers/kubernetes/how-to/access-kubernetes-dashboard.mdx
  containers/kubernetes/how-to/assets/scaleway-k8s-cluster-metrics.webp
  containers/kubernetes/how-to/assets/scaleway-k8s-cp-logs.webp
  containers/kubernetes/how-to/enable-easy-deploy.mdx
  containers/kubernetes/how-to/monitor-cluster.mdx
  menu/navigation.json
Labels: do not merge

#2018 docs(cpt): add new integrations
  observability/cockpit/reference-content/cockpit-limitations.mdx
Labels: type: maintenance

#2017 docs(add): add question
  faq/domains-and-dns.mdx
Labels: type: maintenance

#2022 fix(lb): remove redirected pages and their links
  network/load-balancer/concepts.mdx
  network/load-balancer/how-to/add-certificate.mdx
  network/load-balancer/reference-content/configuring-load-balancer.mdx
  network/load-balancer/reference-content/http2-http3.mdx
  network/public-gateways/how-to/configure-instances-public-gw.mdx
  network/public-gateways/how-to/use-private-networks.mdx
  network/vpc/api-cli/standalone-pgw-rpn.mdx
  network/vpc/api-cli/vpc-private-beta.mdx
Labels: type: maintenance

#1928 feat(SDB): feature branch for Serverless DB doc MTA-3460
  faq/assets/serverless-sql-database.webp
  faq/serverless-sql-databases.mdx
  menu/navigation.json
  serverless/sql-databases/concepts.mdx
  serverless/sql-databases/how-to/add-users.mdx
  serverless/sql-databases/how-to/configure-autoscaling.mdx
  serverless/sql-databases/how-to/connect-to-a-database.mdx
  serverless/sql-databases/how-to/create-a-database.mdx
  serverless/sql-databases/how-to/delete-a-database.mdx
  serverless/sql-databases/how-to/index.mdx
  serverless/sql-databases/how-to/manage-permissions.mdx
  serverless/sql-databases/index.mdx
  serverless/sql-databases/quickstart.mdx
  serverless/sql-databases/reference-content/assets/serverless-sql-databases-schema.webp
  serverless/sql-databases/reference-content/index.mdx
  serverless/sql-databases/reference-content/known-differences.mdx
  serverless/sql-databases/reference-content/serverless-sql-databases-overview.mdx
Labels: type: new content, do not merge

#2023 docs(add): add sem permission set
  identity-and-access-management/iam/reference-content/permission-sets.mdx
Labels: type: maintenance

#2030 feat(changelog): postgresql-and-mysql-added-managed-database-supports-now 2023-08-10
  changelog/august2023/2023-08-10-postgresql-and-mysql-added-managed-database-supports-now.mdx
Labels: type: changelog

#1934 docs(tem): tutorial on configuring TEM's smtp relay
  tutorials/configure-smtp-relay-tem/index.mdx
Labels: type: new content, do not merge, status: tech review

#2040 docs(fix): fixed broken links
  labs/ipfs/api-cli/ipfs-cli.mdx
  labs/ipfs/api-cli/volumes-operations.mdx
  managed-databases/postgresql-and-mysql/how-to/create-read-replica.mdx
  serverless/sql-databases/reference-content/serverless-sql-databases-overview.mdx
  storage/object/api-cli/bucket-policy.mdx
  storage/object/api-cli/combining-iam-and-object-storage.mdx
Labels: priority: medium

#2045 fix(SDB): fix misplaced bullet points MTA-3574
  serverless/sql-databases/concepts.mdx
  serverless/sql-databases/how-to/connect-to-a-database.mdx
  serverless/sql-databases/how-to/create-a-database.mdx
  serverless/sql-databases/how-to/manage-permissions.mdx
  serverless/sql-databases/quickstart.mdx
Labels: priority: low

#2046 docs(tem): fix typo in troubleshooting
  managed-services/transactional-email/troubleshooting/avoid-email-rejection-null-mx.mdx
Labels: type: maintenance

#2041 fix(k8s): rdb mention
  containers/kubernetes/reference-content/secure-cluster-with-private-network.mdx
Labels: type: maintenance, status: tech review, priority: low

#2058 feat(changelog): cockpit-changed-cockpit-feature-request-is 2023-08-22
  changelog/august2023/2023-08-22-cockpit-changed-cockpit-feature-request-is.mdx
Labels: type: changelog

#2057 feat(changelog): instances-added-new-availability-zone-waw-3 2023-08-22
  changelog/august2023/2023-08-22-instances-added-new-availability-zone-waw-3.mdx
Labels: type: changelog

#2060 feat(red): default user - MTA-3596
  faq/databases-for-redis.mdx
  managed-databases/redis/api-cli/index.mdx
  managed-databases/redis/api-cli/managing-username-and-password.mdx
  managed-databases/redis/how-to/create-a-database-for-redis.mdx
  managed-databases/redis/reference-content/default-user-permissions.mdx
  managed-databases/redis/reference-content/index.mdx
  menu/navigation.json
Labels: type: new content, status: ready, priority: medium

#2061 docs(cpt): add how to activate managed alerts doc
  menu/navigation.json
  observability/cockpit/how-to/activate-managed-alerts.mdx
  observability/cockpit/how-to/deactivate-cockpit.mdx
  observability/cockpit/how-to/send-metrics-logs-to-cockpit.mdx
Labels: type: new content, do not merge

#2068 docs(messaging): fix anchors
  serverless/messaging/api-cli/python-node-sns.mdx
  serverless/messaging/api-cli/python-node-sqs.mdx
Labels: priority: low

#2071 docs(fix): broken wording
  serverless/messaging/api-cli/python-node-sns.mdx
Labels: priority: low

#2052 docs(dom): add ref content on record types + concepts
  menu/navigation.json
  network/domains-and-dns/assets/scaleway-fqdn.webp
  network/domains-and-dns/concepts.mdx
  network/domains-and-dns/how-to/manage-dns-records.mdx
  network/domains-and-dns/reference-content/understanding-dns-records.mdx
Labels: type: new content, status: tech review

#2069 docs(SRV): add containers troubleshooting MTA-3603
  menu/navigation.json
  serverless/containers/troubleshooting/common-errors.mdx
  serverless/containers/troubleshooting/index.mdx
  serverless/functions/troubleshooting/index.mdx
Labels: priority: low

#2075 docs(tutorials): content review week 35/2023
  compute/instances/reference-content/cost-optimized.mdx
  identity-and-access-management/secret-manager/how-to/delete-secret.mdx
  identity-and-access-management/secret-manager/how-to/delete-version.mdx
  identity-and-access-management/secret-manager/how-to/manage-secret.mdx
  identity-and-access-management/secret-manager/how-to/manage-version.mdx
  serverless/functions/how-to/package-function-dependencies-in-zip.mdx
  tutorials/ansible-bionic-beaver/index.mdx
  tutorials/focalboard-project-management/index.mdx
  tutorials/prometheus-monitoring-grafana-dashboard/index.mdx
  tutorials/pulumi-functions/index.mdx
  tutorials/wireguard-mesh-vpn/index.mdx
  tutorials/wordpress-lemp-stack-ubuntu-jammy-jellyfish-22-04/index.mdx
  tutorials/zammad-ticketing/index.mdx
Labels: priority: low

#2080 fix(S3): fix broken link in concepts MTA-3613
  storage/object/concepts.mdx
Labels: priority: low

#2084 fix(srv): fix misleading term in function trigger how to MTA-3615
  serverless/functions/how-to/add-trigger-to-a-function.mdx
Labels: priority: low

#2051 feat(rdb): promote rr MTA-3528
  managed-databases/postgresql-and-mysql/how-to/manage-read-replica.mdx
Labels: type: new content, status: tech review, priority: medium

#2085 fix(CXP): add password concept + typo + links MTA-3616
  console/my-account/concepts.mdx
Labels: priority: low

#2081 feat(red): persistence MTA-3598
  faq/iothub.mdx
  managed-databases/redis/reference-content/ensuring-data-persistence.mdx
  menu/navigation.json
Labels: type: new content, status: tech review, priority: low

#2088 feat(changelog): postgresql-and-mysql-added-promote-a-read-replica 2023-08-31
  changelog/august2023/2023-08-31-postgresql-and-mysql-added-promote-a-read-replica.mdx
Labels: type: changelog

#2076 docs(k8s): managed control plane overview
  containers/kubernetes/reference-content/kubernetes-control-plane-offers.mdx
  faq/kubernetes.mdx
  menu/navigation.json
Labels: status: ready

#2093 feat(changelog): messaging-and-queueing-deprecated-sqs-and-sns-namespace 2023-08-31
  changelog/august2023/2023-08-31-messaging-and-queueing-deprecated-sqs-and-sns-namespace.mdx
Labels: type: changelog
