Repository scaleway/docs-content, pull requests merged in 2023-09, with the labels that each got.

#2098 feat(changelog): kubernetes-added-new-availability-zone-waw-3 2023-09-01
  changelog/september2023/2023-09-01-kubernetes-added-new-availability-zone-waw-3.mdx
Labels: type: changelog

#2097 feat(changelog): kubernetes-changed-bumped-images-to-ubuntu 2023-09-01
  changelog/september2023/2023-09-01-kubernetes-changed-bumped-images-to-ubuntu.mdx
Labels: type: changelog

#2099 fix(tutorials): fix tutorials indexation (again) MTA-3625
  tutorials/transform-bucket-images-triggers-functions-deploy/index.mdx
  tutorials/transform-bucket-images-triggers-functions-set-up/index.mdx
Labels: priority: low

#2096 feat(changelog): kubernetes-added-kubernetes-version-1.28-is 2023-09-01
  changelog/september2023/2023-09-01-kubernetes-added-kubernetes-version-1.28-is.mdx
Labels: type: changelog

#2101 docs(changelog): fixed m&q typos
  changelog/august2023/2023-08-31-messaging-and-queueing-deprecated-sqs-and-sns-namespace.mdx
  changelog/serverless/january2023/2023-01-10-changed-messaging-public-beta.mdx
  menu/changelogs.json
Labels: type: changelog

#2102 fix(tutorial): wrong annotations indent for proxy-protocol on kapsule
  tutorials/proxy-protocol-v2-load-balancer/index.mdx
Labels: type: maintenance, status: ready, priority: low

#2103 feat(changelog): object-storage-fixed-migration-to-hive-backend 2023-09-04
  changelog/september2023/2023-09-04-object-storage-fixed-migration-to-hive-backend.mdx
Labels: type: changelog

#2106 docs(add): added samy as reviewer
  .github/workflows/changelog-contribution.yml
Labels: type: maintenance

#2108 fix(S3): remove mentions of old backend in FAQ MTA-3631
  faq/objectstorage.mdx
Labels: priority: low

#2110 fix(docs): update Region & AZ macro MTA-3643
  macros/console/region-and-az.mdx
Labels: priority: low

#2112 fix(SRV): update functions trigger page and concepts MTA-3644
  serverless/functions/concepts.mdx
  serverless/functions/how-to/add-trigger-to-a-function.mdx
Labels: priority: low

#2109 feat(s3): rearrange content MTA-3637
  faq/objectstorage.mdx
  menu/navigation.json
  storage/object/how-to/access-objects-via-https.mdx
  storage/object/how-to/enable-bucket-versioning.mdx
  storage/object/how-to/manage-object-visibility.mdx
Labels: type: maintenance, priority: low

#2113 fix(gen): remove support.md
  docs/SUPPORT.md
Labels: type: maintenance, priority: high

#2117 fix(S3): fix typo in bucket policy version MTA-3649
  storage/object/api-cli/bucket-policy.mdx
Labels: priority: low

#2118 fix(object-storage): broken link
  storage/object/api-cli/bucket-policy.mdx
Labels: type: bug

#2116 feat(changelog): kubernetes-added-dedicated-control-plane-offers 2023-09-06
  changelog/september2023/2023-09-06-kubernetes-added-dedicated-control-plane-offers.mdx
Labels: type: changelog

#2111 add(cpt): doc on loki limits + loki concept
  observability/cockpit/concepts.mdx
  observability/cockpit/reference-content/cockpit-limitations.mdx
Labels: type: new content

#2119 fix(webhosting): remove redirection paragraph
  managed-services/webhosting/concepts.mdx
Labels: type: maintenance

#2105 feat(fdb): backup and restore - MTA-3601
  managed-databases/document-database/api-cli/backup-and-restore.mdx
  managed-databases/document-database/api-cli/index.mdx
  managed-databases/document-database/quickstart.mdx
  menu/navigation.json
Labels: type: new content, status: tech review, priority: low

#2127 fix(INS): instance definition MTA-3656
  compute/instances/concepts.mdx
Labels: priority: low

#2123 docs(SRV): update doc following user flow revamp MTA-3654
  serverless/functions/how-to/create-a-function.mdx
  serverless/functions/how-to/create-a-functions-namespace.mdx
  serverless/functions/quickstart.mdx
Labels: priority: medium

#2122 fix(lb): add AMS3 availability
  console/my-account/reference-content/products-availability.mdx
  menu/navigation.json
  network/load-balancer/how-to/create-load-balancer.mdx
  network/load-balancer/quickstart.mdx
Labels: type: maintenance

#2120 feat(changelog): kubernetes-changed-kapsule-and-kosmos-clusters 2023-09-07
  changelog/september2023/2023-09-07-kubernetes-changed-kapsule-and-kosmos-clusters.mdx
Labels: type: changelog

#2121 feat(k8s): change cluster type MTA-3647
  containers/kubernetes/api-cli/changing-control-plane-offer.mdx
  containers/kubernetes/api-cli/creating-managing-kubernetes-lifecycle-cliv2.mdx
  menu/navigation.json
Labels: type: new content, status: ready, priority: medium

#2132 fix(iam): new invit MTA-3660
  identity-and-access-management/iam/how-to/accept-invitation-to-orga.mdx
  identity-and-access-management/iam/how-to/assets/scaleway-accept-orga-invite.webp
  identity-and-access-management/iam/how-to/assets/scaleway-orga-dropdown.webp
Labels: type: new content, status: tech review, priority: high

#2128 docs(tem): add new mx info
  managed-services/transactional-email/concepts.mdx
  managed-services/transactional-email/how-to/add-mx-record-to-your-domain.mdx
  managed-services/transactional-email/how-to/add-spf-dkim-records-to-your-domain.mdx
  managed-services/transactional-email/how-to/manage-email-activity.mdx
  managed-services/transactional-email/quickstart.mdx
  managed-services/transactional-email/troubleshooting/avoid-email-rejection-null-mx.mdx
  menu/navigation.json
Labels: type: maintenance, do not merge

#2137 feat(changelog): load-balancers-added-load-balancer-is-now 2023-09-13
  changelog/september2023/2023-09-13-load-balancers-added-load-balancer-is-now.mdx
Labels: type: changelog

#2140 docs(changelog): add nerda-codes as reviewer
  .github/workflows/changelog-contribution.yml
Labels: type: bug

#2144 fix(tem): add the trailing dot at the end of the MX
  managed-services/transactional-email/how-to/add-mx-record-to-your-domain.mdx
Labels: type: bug

#2143 feat(changelog): instances-added-stardust-learning-instances-in 2023-09-15
  changelog/september2023/2023-09-15-instances-added-stardust-learning-instances-in.mdx
Labels: type: changelog

#1793 feat(uapi): enforce MFA MTA-2267
  console/my-account/how-to/enforce-mfa.mdx
  console/my-account/how-to/recover-a-lost-password.mdx
  console/my-account/how-to/redeem-coupon-code.mdx
  console/my-account/how-to/use-2fa.mdx
  identity-and-access-management/iam/how-to/accept-invitation-to-orga.mdx
  menu/navigation.json
Labels: status: ready

#2077 docs(gpu): mig
  compute/gpu/how-to/assets/scaleway-jupyter-gpu-instance.webp
  compute/gpu/how-to/assets/scaleway-multi-instance-gpu.webp
  compute/gpu/how-to/use-gpu-with-docker.mdx
  compute/gpu/how-to/use-nvidia-mig-technology.mdx
  compute/gpu/how-to/use-preinstalled-env.mdx
  menu/navigation.json
Labels: do not merge

#2078 docs(gpu): understanding ngc
  compute/gpu/reference-content/understanding-nvidia-ngc.mdx
  menu/navigation.json
Labels: do not merge

#2082 docs(gpu): kubernetes gpu time-slicing
  compute/gpu/reference-content/kubernetes-gpu-time-slicing.mdx
  menu/navigation.json
Labels: do not merge

#2136 fix(rdb): cross az rr
  faq/databases-for-postgresql-and-mysql.mdx
  managed-databases/postgresql-and-mysql/how-to/create-read-replica.mdx
Labels: type: maintenance, status: ready, priority: low

#2145 feat(changelog): transactional-email-added-the-scaleway-blackhole-mx 2023-09-18
  changelog/september2023/2023-09-18-transactional-email-added-the-scaleway-blackhole-mx.mdx
Labels: type: changelog

#2151 docs(tem): add trailing dot
  managed-services/transactional-email/quickstart.mdx
Labels: type: bug

#2152 feat(changelog): object-storage-added-access-logs-now-available 2023-09-18
  changelog/september2023/2023-09-18-object-storage-added-access-logs-now-available.mdx
Labels: type: changelog

#2157 feat(changelog): postgresql-and-mysql-added-cross-availability-zone-read 2023-09-19
  changelog/september2023/2023-09-19-postgresql-and-mysql-added-cross-availability-zone-read.mdx
Labels: type: changelog

#2162 feat(changelog): load-balancers-deprecated-static-attachment-of-load 2023-09-19
  changelog/september2023/2023-09-19-load-balancers-deprecated-static-attachment-of-load.mdx
Labels: type: changelog

#2161 feat(changelog): load-balancers-added-private-load-balancers-now 2023-09-19
  changelog/september2023/2023-09-19-load-balancers-added-private-load-balancers-now.mdx
Labels: type: changelog

#2165 docs(gpu): mig with k8s
  compute/gpu/how-to/use-mig-with-kubernetes.mdx
  compute/gpu/how-to/use-nvidia-mig-technology.mdx
  compute/gpu/how-to/use-scratch-storage-h100-instances.mdx
  menu/navigation.json
Labels: type: new content

#2164 fix(sdb): add command to check version in QS and how to MTA-3693
  serverless/sql-databases/how-to/connect-to-a-database.mdx
  serverless/sql-databases/quickstart.mdx
Labels: priority: low

#2169 fix(lb): add cert clarifications
  network/load-balancer/how-to/add-certificate.mdx
Labels: type: maintenance

#2166 feat(mnq): add metrics how-to
  menu/navigation.json
  serverless/messaging/how-to/assets/scaleway-messaging-cockpit1.webp
  serverless/messaging/how-to/assets/scaleway-messaging-cockpit2.webp
  serverless/messaging/how-to/create-manage-queues.mdx
  serverless/messaging/how-to/delete-namespace.mdx
  serverless/messaging/how-to/monitor-mnq-cockpit.mdx
Labels: type: new content

#2172 doc(tem): fix mx documentation according to feedback
  managed-services/transactional-email/concepts.mdx
  managed-services/transactional-email/how-to/add-mx-record-to-your-domain.mdx
  managed-services/transactional-email/how-to/add-spf-dkim-records-to-your-domain.mdx
  managed-services/transactional-email/how-to/configure-domain-with-transactional-email.mdx
  managed-services/transactional-email/how-to/manage-email-activity.mdx
  managed-services/transactional-email/quickstart.mdx
  menu/navigation.json
Labels: type: maintenance

#2174 feat(changelog): messaging-and-queuing-added-messaging-and-queuing-metrics 2023-09-21
  changelog/september2023/2023-09-21-messaging-and-queuing-added-messaging-and-queuing-metrics.mdx
Labels: type: changelog

#2177 docs(tutorials): update openvpn instantapp
  tutorials/openvpn-instant-app/index.mdx
Labels: priority: low

#2129 docs(sem): add path/folder concepts and update content
  identity-and-access-management/secret-manager/concepts.mdx
  identity-and-access-management/secret-manager/how-to/create-folder.mdx
  identity-and-access-management/secret-manager/how-to/create-secret.mdx
  identity-and-access-management/secret-manager/how-to/create-version.mdx
  identity-and-access-management/secret-manager/how-to/delete-folder.mdx
  identity-and-access-management/secret-manager/how-to/delete-secret.mdx
  identity-and-access-management/secret-manager/how-to/delete-version.mdx
  identity-and-access-management/secret-manager/how-to/manage-secret.mdx
  identity-and-access-management/secret-manager/how-to/manage-version.mdx
  identity-and-access-management/secret-manager/quickstart.mdx
  identity-and-access-management/secret-manager/reference-content/secret-manager-capabilities-limits.mdx
  menu/navigation.json
  tutorials/sem-terraform/index.mdx
Labels: type: maintenance

#2182 docs(gpu): add FP8,16,32,64 to concepts
  compute/gpu/concepts.mdx
Labels: priority: low

#2186 docs(tutorial): update nextcloud instantapp
  tutorials/nextcloud-instantapp/assets/scaleway-instantapp-nextcloud-install.webp
  tutorials/nextcloud-instantapp/assets/scaleway-instantapp-nextcloud-splash.webp
  tutorials/nextcloud-instantapp/assets/scaleway-instantapp-nextcloud.webp
  tutorials/nextcloud-instantapp/index.mdx
Labels: status: tech review, priority: medium

#2183 docs(tutorials): update gitlab instant app
  tutorials/gitlab-instant-app/assets/scaleway-instantapp-gitlab.webp
  tutorials/gitlab-instant-app/index.mdx
Labels: status: tech review, priority: medium

#2187 fix(SDB): update max vCPU scaling MTA-3724
  serverless/sql-databases/reference-content/serverless-sql-databases-overview.mdx
Labels: priority: high

#2184 docs(srv): update tutorial title + typo MTA-3729
  tutorials/manage-instances-with-terraform-and-functions/index.mdx
  tutorials/transform-bucket-images-triggers-functions-set-up/index.mdx
Labels: priority: low

#2179 docs(instances): refresh tutos with new elements
  tutorials/create-wordpress-instances-cli/index.mdx
  tutorials/wordpress-instantapp/index.mdx
Labels: type: maintenance

#2188 docs(instances): remove instantapps from learning instances
  compute/instances/reference-content/learning.mdx
Labels: priority: low

#2185 feat(changelog): secret-manager-added-secret-path---organize 2023-09-25
  changelog/september2023/2023-09-25-secret-manager-added-secret-path---organize.mdx
Labels: type: changelog

#2181 docs(gpu): understanding nvidia tao tookit
  compute/gpu/reference-content/understanding-nvidia-tao.mdx
  menu/navigation.json
Labels: type: new content

#2192 docs(sem): add secret migration doc
  identity-and-access-management/secret-manager/api-cli/generate-secret-password.mdx
  identity-and-access-management/secret-manager/api-cli/migrate-secrets-in-folders.mdx
  identity-and-access-management/secret-manager/assets/scaleway-secret-id.webp
  menu/navigation.json
Labels: type: new content

#2191 docs(gpu): understanding nvidia nemo
  compute/gpu/reference-content/understanding-nvidia-nemo.mdx
  menu/navigation.json
Labels: type: new content

#2194 docs(k8s): update k8s control plane offers
  containers/kubernetes/reference-content/assets/scaleway-dcp-detailed.webp
  containers/kubernetes/reference-content/kubernetes-control-plane-offers.mdx
Labels: priority: medium

#2193 fix(cxp): update orga deactivation procesure MTA-3716
  console/my-account/how-to/close-account.mdx
Labels: priority: low

#2205 docs(instances): update bootscript eol docs
  compute/instances/troubleshooting/bootscript-eol.mdx
Labels: priority: low

#2207 docs(fix): fixed broken links
  changelog/kubernetes/november2022/2022-11-03-dedicated-control-plane-offer.mdx
  compute/gpu/how-to/use-mig-with-kubernetes.mdx
  managed-databases/redis/api-cli/managing-username-and-password.mdx
  managed-databases/redis/reference-content/default-user-permissions.mdx
  managed-databases/redis/reference-content/ensuring-data-persistence.mdx
  serverless/functions/api-cli/deploy-function-cli.mdx
  serverless/functions/how-to/test-a-function.mdx
  serverless/sql-databases/concepts.mdx
  tutorials/install-github-actions-runner-mac/index.mdx
  tutorials/nvidia-triton/index.mdx
  tutorials/zimbra-elastic-metal/assets/scaleway-zimbra-admin-logged.webp
  tutorials/zimbra-elastic-metal/assets/scaleway-zimbra-admin-login.webp
  tutorials/zimbra-elastic-metal/assets/scaleway-zimbra-interface.webp
  tutorials/zimbra-elastic-metal/assets/scaleway-zimbra-with-ssl.webp
  tutorials/zimbra-elastic-metal/index.mdx
Labels: priority: medium

#2190 docs(review): docs content review
  bare-metal/dedibox/how-to/activate-ipv6-block.mdx
  bare-metal/elastic-metal/how-to/connect-to-server.mdx
  dedibox/hardware/how-to/configure-dell-perc-h200.mdx
  dedibox/hardware/how-to/configure-dell-perc-h310.mdx
  dedibox/hardware/how-to/configure-dell-perc-h700.mdx
  dedibox/hardware/how-to/configure-dell-perc-h800.mdx
  dedibox/hardware/how-to/configure-hardware-raid-console.mdx
  dedibox/hardware/how-to/configure-hp-smart-array-p410.mdx
  dedibox/hardware/how-to/configure-hp-smart-array-p420.mdx
  dedibox/hardware/how-to/configure-raid-kvm-h200.mdx
  dedibox/hardware/how-to/configure-raid-kvm-h310.mdx
  dedibox/hardware/how-to/configure-raid-kvm-p410.mdx
  dedibox/hardware/how-to/configure-raid-kvm-p420.mdx
  dedibox/hardware/troubleshooting/diagnose-defective-disk.mdx
  managed-services/transactional-email/troubleshooting/delist-domain.mdx
  network/vpc/how-to/attach-resources-to-pn.mdx
  network/vpc/how-to/create-private-network.mdx
  network/vpc/how-to/delete-private-network.mdx
  network/vpc/troubleshooting/vpc-limitations.mdx
  observability/cockpit/how-to/create-token.mdx
  observability/cockpit/how-to/retrieve-grafana-credentials.mdx
  tutorials/deploy-awstats/index.mdx
  tutorials/deploy-nextcloud-s3/index.mdx
  tutorials/get-started-containers-docker/index.mdx
  tutorials/get-started-deploy-kapsule/index.mdx
  tutorials/getting-started-with-kops-on-scaleway/index.mdx
  tutorials/glusterfs/index.mdx
  tutorials/python-lists-dicts/index.mdx
  tutorials/self-hosted-repository-gitea/index.mdx
  tutorials/setup-nomad-cluster/index.mdx
Labels: priority: low

#2204 fix(srv): update billing example with correct formula MTA-3679
  faq/serverless-functions.mdx
Labels: priority: low

#2199 docs(em): update ipv6 dns cache ips
  bare-metal/elastic-metal/how-to/configure-ipv6-hypervisor.mdx
Labels: priority: medium

#2201 feat(mnq): migration doc
  menu/navigation.json
  serverless/messaging/reference-content/migration.mdx
Labels: type: new content

#2211 docs(fix): review docker instantapp tuto and add info
  tutorials/docker-instantapp/index.mdx
Labels: type: maintenance

#2212 feat(changelog): functions-changed-new-function-creation-workflow 2023-09-27
  changelog/september2023/2023-09-27-functions-changed-new-function-creation-workflow.mdx
Labels: type: changelog

#2213 feat(changelog): functions-added-you-can-now-test 2023-09-27
  changelog/september2023/2023-09-27-functions-added-you-can-now-test.mdx
Labels: type: changelog
