Repository scaleway/docs-content, pull requests merged in 2023-04, with the labels that each got.

#1494 feat(rdb): verify-ca and verify-full MTA-2878
  managed-databases/postgresql-and-mysql/api-cli/verify-ca-postgresql.mdx
  managed-databases/postgresql-and-mysql/concepts.mdx
  managed-databases/postgresql-and-mysql/how-to/assets/scaleway-rdb-renew-tls-pop-up.webp
  managed-databases/postgresql-and-mysql/how-to/assets/scaleway-renew-button.webp
  managed-databases/postgresql-and-mysql/how-to/configure-advanced-settings.mdx
  managed-databases/postgresql-and-mysql/how-to/renew-tls-certificate.mdx
  managed-databases/postgresql-and-mysql/how-to/upgrade-a-database.mdx
  menu/navigation.json
Labels: documentation

#1501 docs(k8s): add faq entry
  faq/kubernetes.mdx
Labels: documentation

#1504 docs(obs): add information from api doc MTA-3012
  menu/navigation.json
  observability/cockpit/troubleshooting/index.mdx
  observability/cockpit/troubleshooting/pusher-does-not-support-custom-http-headers.mdx
  observability/cockpit/troubleshooting/resetting-grafana-password-via-the-api.mdx
Labels: documentation

#1510 docs(tutorials): fix broken steps
  tutorials/get-started-kubernetes-loadbalancer/index.mdx
Labels: documentation

#1477 docs(webhosting): update docs webhosting product
  managed-services/webhosting/concepts.mdx
  managed-services/webhosting/how-to/configure-dns-webhosting.mdx
  managed-services/webhosting/how-to/index.mdx
  managed-services/webhosting/how-to/manage-webhosting.mdx
  managed-services/webhosting/how-to/order-webhosting.mdx
  managed-services/webhosting/how-to/terminate-webhosting.mdx
  managed-services/webhosting/index.mdx
  managed-services/webhosting/quickstart.mdx
  managed-services/webhosting/reference-content.mdx
  menu/navigation.json
Labels: do not merge

#1525 feat(changelog): instances-added-initial-support-for-ansible 2023-04-11
  changelog/april2023/2023-04-11-instances-added-initial-support-for-ansible.mdx
Labels: changelog

#1521 feat(changelog): containers-added-initial-support-for-waypoint 2023-04-11
  changelog/april2023/2023-04-11-containers-added-initial-support-for-waypoint.mdx
Labels: changelog

#1524 feat(changelog): instances-added-initial-support-for-crossplane 2023-04-11
  changelog/april2023/2023-04-11-instances-added-initial-support-for-crossplane.mdx
Labels: changelog

#1526 feat(changelog): instances-added-terraform-scaleway-provider-v2.16.3 2023-04-12
  changelog/april2023/2023-04-12-instances-added-terraform-scaleway-provider-v2.16.3.mdx
Labels: changelog

#1534 docs(domains&dns): migrate content from API documentation website
  console/my-account/reference-content/account-quotas.mdx
  menu/navigation.json
  network/domains-and-dns/reference-content/index.mdx
  network/domains-and-dns/reference-content/understanding-domains-and-dns.mdx
  observability/cockpit/how-to/create-token.mdx
Labels: documentation

#1533 fix(srv): remove phrase in disclaimer MTA-3045
  serverless/functions/api-cli/fun-uploading-with-serverless-framework.mdx
  serverless/functions/reference-content/local-testing.mdx
Labels: documentation

#1497 feat(serverless): package zip functions
  serverless/functions/how-to/package-function-dependencies-in-zip.mdx
Labels: documentation

#1532 fix(s3): updates api
  storage/object/api-cli/bucket-operations.mdx
  storage/object/api-cli/object-operations.mdx
  storage/object/api-cli/using-api-call-list.mdx
Labels: documentation

#1540 feat(serverless): add a note for limits overflow
  serverless/containers/reference-content/containers-limitations.mdx
  serverless/functions/reference-content/functions-limitations.mdx
Labels: documentation

#1546 docs(secret-manager): added data encryption information
  identity-and-access-management/secret-manager/reference-content/data-encryption-with-secret-manager.mdx
  menu/navigation.json
Labels: documentation

#1548 feat(changelog): instances-added-new-os-images-available 2023-04-18
  changelog/april2023/2023-04-18-instances-added-new-os-images-available.mdx
Labels: changelog

#1539 feat(serverless): clean slsfw documentation
  menu/navigation.json
  serverless/functions/api-cli/assets/scaleway-talend-function.webp
  serverless/functions/api-cli/fun-uploading-with-serverless-framework.mdx
  serverless/functions/api-cli/index.mdx
  serverless/functions/how-to/connect-function-postgresql-database.mdx
  serverless/functions/reference-content/code-examples.mdx
Labels: documentation

#1560 fix(docs): fixed filters and date
  identity-and-access-management/secret-manager/reference-content/data-encryption-with-secret-manager.mdx
  tutorials/external-secrets/index.mdx
Labels: documentation

#1555 feat(changelog): cockpit-added-observability---documentation-- 2023-04-19
  changelog/april2023/2023-04-19-cockpit-added-observability---documentation--.mdx
Labels: changelog

#1554 feat(changelog): functions-added-it-is-now-easier 2023-04-19
  changelog/april2023/2023-04-19-functions-added-it-is-now-easier.mdx
Labels: changelog

#1553 feat(changelog): functions-added-serverless-offline-testing-for 2023-04-19
  changelog/april2023/2023-04-19-functions-added-serverless-offline-testing-for.mdx
Labels: changelog

#1549 fix(rdb): improve backup/snapshot info MTA-3043
  managed-databases/postgresql-and-mysql/how-to/assets/scaleway-download-export-button.webp
  managed-databases/postgresql-and-mysql/how-to/enable-autobackup.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-manual-backups.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-snapshots.mdx
Labels: documentation

#1551 docs(tem): added doc on how domain's reputation is protected
  managed-services/transactional-email/reference-content/protecting-your-domain-reputation.mdx
  menu/navigation.json
Labels: documentation

#1558 docs(secret-manager): faq
  faq/assets/secret-manager.webp
  faq/secret-manager.mdx
Labels: do not merge

#1490 fix(s3): bucket policies + iam MTA-2646
  macros/storage/bucket-policy.mdx
  managed-databases/postgresql-and-mysql/concepts.mdx
  managed-databases/postgresql-and-mysql/how-to/assets/scaleway-rdb-renew-tls-pop-up.webp
  managed-databases/postgresql-and-mysql/how-to/assets/scaleway-renew-button.webp
  managed-databases/postgresql-and-mysql/how-to/configure-advanced-settings.mdx
  managed-databases/postgresql-and-mysql/how-to/upgrade-a-database.mdx
  menu/navigation.json
  storage/object/api-cli/bucket-operations.mdx
  storage/object/api-cli/bucket-policy.mdx
  storage/object/api-cli/bucket-website-api.mdx
  storage/object/api-cli/combining-iam-and-object-storage.mdx
  storage/object/api-cli/import-copy.mdx
  storage/object/api-cli/manage-bucket-permissions-IP.mdx
  storage/object/api-cli/object-lock.mdx
  storage/object/api-cli/using-bucket-policies.mdx
Labels: documentation

#1590 docs(tem): added category
  tutorials/send-emails-with-serverless-and-tem/index.mdx
Labels: documentation

#1513 messaging(doc) - update code sample nodeJS
  serverless/messaging/api-cli/python-node-sns.mdx
Labels: documentation

#1595 feat(changelog): functions-changed-nodejs-20-is-available 2023-04-27
  changelog/april2023/2023-04-27-functions-changed-nodejs-20-is-available.mdx
Labels: changelog

#1606 feat(changelog): secret-manager-added-secret-manager-is-generally 2023-04-28
  changelog/april2023/2023-04-28-secret-manager-added-secret-manager-is-generally.mdx
Labels: changelog

#1603 feat(changelog): transactional-email-added-domain-reputation-management-policy 2023-04-27
  changelog/april2023/2023-04-27-transactional-email-added-domain-reputation-management-policy.mdx
Labels: changelog

#1601 feat(changelog): transactional-email-added-addition-of-smtp-host 2023-04-27
  changelog/april2023/2023-04-27-transactional-email-added-addition-of-smtp-host.mdx
Labels: changelog

#1599 feat(changelog): transactional-email-added-sending-serverless-emails-with 2023-04-27
  changelog/april2023/2023-04-27-transactional-email-added-sending-serverless-emails-with.mdx
Labels: changelog

#1600 feat(changelog): transactional-email-added-new-email-alerts-from 2023-04-27
  changelog/april2023/2023-04-27-transactional-email-added-new-email-alerts-from.mdx
Labels: changelog

#1598 feat(changelog): transactional-email-added-new-iam-permissions-set 2023-04-27
  changelog/april2023/2023-04-27-transactional-email-added-new-iam-permissions-set.mdx
Labels: changelog
