Repository scaleway/docs-content, pull requests merged in 2023-06, with the labels that each got.

#1741 feat(lb): add sni route deprecation doc
  menu/navigation.json
  network/load-balancer/reference-content/assets/scaleway-http-route.webp
  network/load-balancer/reference-content/assets/scaleway-sni-route.webp
  network/load-balancer/reference-content/sni-route-deprecation.mdx
Labels: documentation

#1745 feat(changelog): instances-added-new-production-optimized-and-workload-optimized 2023-06-01
  changelog/june2023/2023-06-01-instances-added-new-production-optimized-and-workload-optimized.mdx
Labels: changelog

#1744 feat(changelog): cockpit-added-cockpit-launch 2023-06-01
  changelog/june2023/2023-06-01-cockpit-added-cockpit-launch.mdx
Labels: changelog

#1742 feat(changelog): load-balancers-removed-sni-routes-to-http 2023-06-01
  changelog/june2023/2023-06-01-load-balancers-removed-sni-routes-to-http.mdx
Labels: changelog

#1740 docs(k8s): update upgrade docs
  containers/kubernetes/how-to/enable-disable-ssh.mdx
  containers/kubernetes/how-to/upgrade-kubernetes-version-using-cli.mdx
  containers/kubernetes/how-to/upgrade-kubernetes-version.mdx
  menu/navigation.json
Labels: documentation

#1748 docs(changelog): fix typo in slack channel name
  changelog/june2023/2023-06-01-instances-added-new-production-optimized-and-workload-optimized.mdx
Labels: documentation

#1732 docs(tutorial) create DVC x Object storage tutorial MTA-3182
  tutorials/configure-dvc-with-object-storage/index.mdx
Labels: documentation

#1765 fix(Containers): Update doc following serverless containers review MT…
  serverless/containers/concepts.mdx
  serverless/containers/how-to/create-a-containers-namespace.mdx
  serverless/containers/how-to/deploy-a-container-from-external-container-registry.mdx
  serverless/containers/how-to/deploy-a-container-from-scaleway-container-registry.mdx
  serverless/containers/how-to/manage-a-container.mdx
  serverless/containers/how-to/manage-a-containers-namespace.mdx
  serverless/containers/quickstart.mdx
Labels: documentation

#1768 docs(k8s): docs revamp kubernetes products
  containers/kubernetes/api-cli/cluster-monitoring.mdx
  containers/kubernetes/api-cli/creating-managing-kubernetes-lifecycle-cliv2.mdx
  containers/kubernetes/api-cli/exposing-services.mdx
  containers/kubernetes/api-cli/managing-load-balancer-ips.mdx
  containers/kubernetes/api-cli/managing-storage.mdx
  containers/kubernetes/api-cli/managing-tags.mdx
  containers/kubernetes/api-cli/using-load-balancer-annotations.mdx
  containers/kubernetes/concepts.mdx
  containers/kubernetes/how-to/change-container-runtime-interface.mdx
  containers/kubernetes/how-to/create-cluster.mdx
  containers/kubernetes/how-to/create-kosmos-cluster.mdx
  containers/kubernetes/how-to/delete-cluster.mdx
  containers/kubernetes/how-to/deploy-image-from-container-registry.mdx
  containers/kubernetes/how-to/deploy-ingress-controller.mdx
  containers/kubernetes/how-to/edit-cluster.mdx
  containers/kubernetes/how-to/edit-kosmos-cluster.mdx
  containers/kubernetes/how-to/enable-disable-ssh.mdx
  containers/kubernetes/how-to/enable-easy-deploy.mdx
  containers/kubernetes/how-to/monitor-cluster.mdx
  containers/kubernetes/how-to/upgrade-kubernetes-version.mdx
  containers/kubernetes/quickstart.mdx
  containers/kubernetes/reference-content/introduction-to-kubernetes.mdx
  containers/kubernetes/reference-content/secure-cluster-with-private-network.mdx
  containers/kubernetes/reference-content/version-support-policy.mdx
  containers/kubernetes/videos.mdx
  faq/kubernetes.mdx
  macros/compute/kubernetes.mdx
Labels: documentation

#1764 fix(cockpit): add specifications
  tutorials/k8s-fluentbit-observability/index.mdx
Labels: documentation

#1751 docs(k8s): velero backup-restore
  tutorials/k8s-velero-backup/assets/scaleway-velero-backup-console.webp
  tutorials/k8s-velero-backup/index.mdx
Labels: tutorial

#1752 docs(k8s): update quickstart
  containers/kubernetes/quickstart.mdx
Labels: documentation

#1607 tutorial(functions): update intro to guide more users
  tutorials/transform-images-using-faas-and-nodejs/index.mdx
Labels: documentation, wip

#1760 docs(tutorial): packer plugin
  tutorials/scaleway-packer-plugin/index.mdx
Labels: documentation

#1756 refactor(ipfs): endpoint and flag Scaleway CLI Labs
  labs/ipfs/api-cli/ipfs-cli.mdx
  labs/ipfs/api-cli/ipfs-desktop.mdx
  labs/ipfs/api-cli/ipfs-operations.mdx
  labs/ipfs/api-cli/volumes-operations.mdx
  labs/ipfs/quickstart.mdx
Labels: documentation

#1770 feat(cockpit): added product integration information
  faq/cockpit.mdx
  menu/navigation.json
  observability/cockpit/reference-content/cockpit-limitations.mdx
Labels: documentation

#1777 add(cockpit): added reference content
  menu/navigation.json
  observability/cockpit/reference-content/understanding-cockpit-usage.mdx
Labels: documentation

#1781 docs(dedibox): add information for hw raid
  dedibox/hardware/reference-content/server-comparison-table.mdx
Labels: documentation

#1786 fix(public gateways): update doc following review MTA-3312
  network/public-gateways/how-to/assets/scaleway-attach-flexip-gw.webp
  network/public-gateways/how-to/assets/scaleway-delete-gw.webp
  network/public-gateways/how-to/assets/scaleway-dhcp.webp
  network/public-gateways/how-to/assets/scaleway-pn-creation-wiz.webp
  network/public-gateways/how-to/assets/scaleway-vpc-gw-wiz1.webp
  network/public-gateways/how-to/configure-a-public-gateway.mdx
  network/public-gateways/how-to/use-flexible-ips.mdx
Labels: documentation

#1785 fix(containers): Update doc following review MTA-3311
  serverless/containers/how-to/deploy-a-container-from-scaleway-container-registry.mdx
Labels: documentation

#1795 docs(instances): fix sla
  compute/instances/reference-content/production-optimized.mdx
  compute/instances/reference-content/workload-optimized.mdx
Labels: documentation

#1789 feat(instances): added link to faq
  compute/instances/how-to/use-standby-mode.mdx
Labels: documentation

#1796 feat(Sss functions) add content reference on triggers MTA-3326
  menu/navigation.json
Labels: documentation

#1788 add(functions): add how-to retention for function triggers SRVLESS-9134
  serverless/functions/how-to/add-trigger-to-a-function.mdx
  serverless/functions/reference-content/configure-trigger-inputs.mdx
Labels: do not merge

#1790 fix(load balancer): Update doc following review MTA-3313
  network/load-balancer/assets/scaleway-create-backend.webp
  network/load-balancer/how-to/add-certificate.mdx
  network/load-balancer/how-to/assets/scaleway-certificate-import.webp
  network/load-balancer/how-to/assets/scaleway-configure-backend.webp
  network/load-balancer/how-to/assets/scaleway-edit-backends.webp
  network/load-balancer/how-to/create-load-balancer.mdx
  network/load-balancer/how-to/create-manage-acls.mdx
  network/load-balancer/how-to/create-manage-routes.mdx
  network/load-balancer/how-to/delete-load-balancer.mdx
  network/load-balancer/how-to/manage-frontends-and-backends.mdx
  network/load-balancer/how-to/use-with-private-network.mdx
  network/load-balancer/quickstart.mdx
  network/load-balancer/reference-content/configuring-load-balancer.mdx
Labels: documentation

#1803 feat(changelog): containers-changed-serverless-containers-in-cockpit 2023-06-13
  changelog/june2023/2023-06-13-containers-changed-serverless-containers-in-cockpit.mdx
Labels: changelog

#1802 feat(changelog): functions-changed-serverless-functions-logs-and 2023-06-13
  changelog/june2023/2023-06-13-functions-changed-serverless-functions-logs-and.mdx
Labels: changelog

#1805 feat(changelog): elastic-metal-added-debian-12-"bookworm"-is 2023-06-14
  changelog/june2023/2023-06-14-elastic-metal-added-debian-12-bookworm-is.mdx
Labels: changelog

#1800 feat(changelog): containers-changed-set-resources-independently 2023-06-13
  changelog/june2023/2023-06-13-containers-changed-set-resources-independently.mdx
Labels: changelog

#1811 docs(fix): fixed to harmonize console and doc
  observability/cockpit/how-to/access-grafana-and-managed-dashboards.mdx
  observability/cockpit/how-to/create-token.mdx
  observability/cockpit/how-to/retrieve-grafana-credentials.mdx
  observability/cockpit/how-to/send-metrics-logs-to-cockpit.mdx
  observability/cockpit/quickstart.mdx
Labels: documentation

#1808 fix(domains&dns): update doc following review MTA-3334
  network/domains-and-dns/how-to/configure-dns-zones.mdx
  network/domains-and-dns/how-to/manage-dns-records.mdx
  network/domains-and-dns/how-to/manage-external-domain.mdx
  network/domains-and-dns/how-to/manage-nameservers-internal-domain.mdx
  network/domains-and-dns/how-to/register-internal-domain.mdx
  network/domains-and-dns/how-to/unlock-internal-domain.mdx
  network/domains-and-dns/quickstart.mdx
  network/domains-and-dns/reference-content/understanding-domains-and-dns.mdx
Labels: documentation

#1754 feat(serverless): Deploy Laravel to Serverless Containers
  tutorials/deploy-laravel-on-serverless-containers/assets/scaleway-cockpit-loadtesting.png
  tutorials/deploy-laravel-on-serverless-containers/assets/scaleway-cockpit-queue.png
  tutorials/deploy-laravel-on-serverless-containers/assets/scaleway-serverless-container.png
  tutorials/deploy-laravel-on-serverless-containers/assets/scaleway-serverless-containers-namespace.png
  tutorials/deploy-laravel-on-serverless-containers/assets/scaleway-serverless-endpoint.png
  tutorials/deploy-laravel-on-serverless-containers/assets/scaleway-serverless-laravel.png
  tutorials/deploy-laravel-on-serverless-containers/assets/scaleway-serverless-messaging-credential.png
  tutorials/deploy-laravel-on-serverless-containers/assets/scaleway-serverless-messaging-queue.png
  tutorials/deploy-laravel-on-serverless-containers/assets/scaleway-serverless-messaging.png
  tutorials/deploy-laravel-on-serverless-containers/index.mdx
Labels: documentation

#1799 feat(changelog): instances-added-debian-"bookworm"-is-now 2023-06-13
  changelog/june2023/2023-06-13-instances-added-debian-bookworm-is-now.mdx
Labels: changelog

#1797 docs(review): docs content review
  compute/instances/how-to/configure-reverse-dns.mdx
  compute/instances/how-to/connect-to-instance.mdx
  compute/instances/how-to/create-a-snapshot.mdx
  compute/instances/how-to/create-an-instance.mdx
  compute/instances/how-to/create-image-from-snapshot.mdx
  compute/instances/how-to/delete-instance.mdx
  compute/instances/how-to/migrate-instances.mdx
  console/my-account/how-to/use-2fa.mdx
  dedibox-console/my-account/how-to/disable-two-factor-authentication.mdx
  dedibox-console/my-account/how-to/enable-two-factor-authentication.mdx
  storage/block/api-cli/attaching-a-volume.mdx
  storage/block/api-cli/creating-a-volume.mdx
  storage/block/api-cli/detaching-a-volume.mdx
  storage/block/api-cli/increasing-volume-size.mdx
  storage/object/api-cli/bucket-operations.mdx
  storage/object/api-cli/bucket-policy.mdx
  storage/object/api-cli/bucket-website-api.mdx
  storage/object/api-cli/common-operations.mdx
  storage/object/api-cli/generate-aws4-auth-signature.mdx
  storage/object/api-cli/import-copy.mdx
  storage/object/api-cli/installing-minio-client.mdx
  storage/object/api-cli/installing-rclone.mdx
  storage/object/api-cli/lifecycle-rules-api.mdx
  storage/object/api-cli/manage-bucket-permissions-IP.mdx
  storage/object/api-cli/managing-lifecycle-cliv2.mdx
  storage/object/api-cli/migrating-buckets.mdx
  storage/object/api-cli/multipart-uploads.mdx
  storage/object/api-cli/object-lock.mdx
  storage/object/api-cli/object-operations.mdx
  storage/object/api-cli/object-storage-aws-cli.mdx
  storage/object/api-cli/post-object.mdx
  storage/object/api-cli/setting-cors-rules.mdx
  tutorials/deploy-static-website-with-hugo-and-github-runners-to-object-storage/index.mdx
  tutorials/librenms-monitoring/index.mdx
Labels: documentation

#1819 docs(k8s): update quickstart
  containers/kubernetes/quickstart.mdx
Labels: documentation

#1820 feat(Containers): Add ref content for billing linked to FAQ MTA-3307
  menu/navigation.json
  serverless/containers/reference-content/containers-billing.mdx
Labels: documentation

#1816 feat(Functions): Add ref content for billing with link to FAQ MTA-3306
  menu/navigation.json
  serverless/functions/reference-content/functions-billing.mdx
Labels: documentation

#1828 feat(tutorial): add cheatsheets to py lists&dicts MTA-3350
  tutorials/python-lists-dicts/assets/python-dicts-cheatsheet.pdf
  tutorials/python-lists-dicts/assets/python-dicts-cheatsheet.webp
  tutorials/python-lists-dicts/assets/python-lists-cheatsheet.pdf
  tutorials/python-lists-dicts/assets/python-lists-cheatsheet.webp
  tutorials/python-lists-dicts/index.mdx
Labels: documentation

#1836 fix(a.silicon): wording review
  bare-metal/apple-silicon/how-to/connect-to-mac-mini-m1.mdx
  bare-metal/apple-silicon/how-to/create-mac-mini-m1.mdx
  bare-metal/apple-silicon/how-to/reboot-mac-mini-m1.mdx
  bare-metal/apple-silicon/how-to/reinstall-mac-mini-m1.mdx
  bare-metal/apple-silicon/quickstart.mdx
  bare-metal/apple-silicon/troubleshooting/cant-connect-using-vnc.mdx
  bare-metal/apple-silicon/troubleshooting/filevault-preventing-system-boot.mdx
  bare-metal/apple-silicon/troubleshooting/need-package-manager.mdx
Labels: documentation

#1839 docs(review): review docs 19/06/23
  console/my-account/how-to/redeem-coupon-code.mdx
  identity-and-access-management/iam/api-cli/managing-projects.mdx
  identity-and-access-management/iam/how-to/accept-invitation-to-orga.mdx
  identity-and-access-management/iam/how-to/create-api-keys.mdx
  identity-and-access-management/iam/how-to/create-application.mdx
  identity-and-access-management/iam/how-to/create-group.mdx
  identity-and-access-management/iam/how-to/create-policy.mdx
  identity-and-access-management/iam/how-to/invite-user-to-orga.mdx
  identity-and-access-management/iam/how-to/manage-api-keys.mdx
  identity-and-access-management/iam/how-to/manage-applications.mdx
  identity-and-access-management/iam/how-to/manage-groups.mdx
  identity-and-access-management/iam/how-to/manage-policies.mdx
  identity-and-access-management/iam/how-to/manage-users.mdx
  identity-and-access-management/iam/quickstart.mdx
  managed-services/transactional-email/how-to/add-spf-dkim-records-to-your-domain.mdx
  managed-services/transactional-email/quickstart.mdx
  storage/object/api-cli/share-buckets-read-only.mdx
  tutorials/load-overflow-proxmox-and-elastic-metal/index.mdx
  tutorials/set-up-spf-dkim-for-dns-providers/index.mdx
Labels: documentation

#1830 docs(dedibox): add warning to monitoring feature
  dedibox/dedicated-servers/how-to/monitor-server.mdx
Labels: documentation

#1834 feat(vpc): doc to explain migration
  menu/navigation.json
  network/vpc/concepts.mdx
  network/vpc/reference-content/index.mdx
  network/vpc/reference-content/vpc-migration.mdx
Labels: do not merge

#1763 fix(rdb): ipam
  managed-databases/postgresql-and-mysql/how-to/connect-database-private-network.mdx
  managed-databases/redis/how-to/create-a-database-for-redis.mdx
Labels: do not merge

#1827 docs(tutorial): waypoint plugin for scaleway
  tutorials/waypoint-plugin-scaleway/index.mdx
Labels: tutorial

#1720 add(tutorial): Crossplane doc MTA-2954
  tutorials/get-started-crossplane-kubernetes/assets/scaleway-kubeconfig-terminal-screen.webp
  tutorials/get-started-crossplane-kubernetes/index.mdx
Labels: documentation

#1846 fix(404): remove .mdx
  serverless/functions/reference-content/functions-billing.mdx
Labels: documentation

#1845 fix(project): update MTA-3296
  console/my-project/how-to/delete-a-project.mdx
Labels: documentation

#1851 feat(changelog): dedibox-added-proxmox-8-now-available 2023-06-22
  changelog/june2023/2023-06-22-dedibox-added-proxmox-8-now-available.mdx
Labels: changelog

#1852 feat(changelog): elastic-metal-added-proxmox-8-now-available 2023-06-22
  changelog/june2023/2023-06-22-elastic-metal-added-proxmox-8-now-available.mdx
Labels: changelog

#1854 docs(instances): fix cloud-init on debian 12
  compute/instances/troubleshooting/fix-cloud-init-debian12.mdx
  menu/navigation.json
Labels: documentation

#1855 docs(tem): add troubleshooting
  managed-services/transactional-email/how-to/add-mx-record-to-your-domain.mdx
  managed-services/transactional-email/troubleshooting/avoid-email-rejection-null-mx.mdx
  menu/navigation.json
Labels: documentation

#1856 docs(fix): fix 404
  changelog/june2023/2023-06-22-instances-fix-wrong-user-cloud-init-config.mdx
Labels: documentation

#1825 docs(instances): add AMS3
  changelog/january2023/2023-01-18-instances-changed-pro2-and-play2-instances.mdx
  compute/instances/reference-content/cost-optimized.mdx
  compute/instances/reference-content/production-optimized.mdx
  compute/instances/reference-content/workload-optimized.mdx
  console/my-account/reference-content/products-availability.mdx
  faq/instances.mdx
Labels: documentation

#1850 docs(console): update create account
  console/my-account/how-to/create-an-account.mdx
  console/my-account/how-to/sign-in-with-magic-link.mdx
Labels: documentation

#1861 fix(wh): wording update
  managed-services/webhosting/concepts.mdx
  managed-services/webhosting/how-to/manage-webhosting.mdx
  managed-services/webhosting/how-to/order-webhosting.mdx
Labels: documentation

#1759 feat(lb): reorganize docs for new creation flow and settings
  compute/instances/api-cli/assets/Instances-CLI-cheatsheet.png
  macros/network/assets/scaleway-configure-backend.webp
  macros/network/assets/scaleway-configure-health-checks.webp
  macros/network/assets/scaleway-traffic-management.webp
  macros/network/lb-create-backend-1-basic.mdx
  macros/network/lb-create-backend-2-traffic-mgnt.mdx
  macros/network/lb-create-backend-3-advanced-settings.mdx
  macros/network/lb-create-backend-4-healthcheck.mdx
  macros/network/load-balancer.mdx
  menu/navigation.json
  network/load-balancer/assets/scaleway-configure-backend.webp
  network/load-balancer/assets/scaleway-configure-frontend.webp
  network/load-balancer/assets/scaleway-create-frontend.webp
  network/load-balancer/assets/scaleway-load-balancer-name.webp
  network/load-balancer/assets/scaleway-select-load-balancer.webp
  network/load-balancer/concepts.mdx
  network/load-balancer/how-to/assets/scaleway-add-backends.webp
  network/load-balancer/how-to/assets/scaleway-add-frontends.webp
  network/load-balancer/how-to/assets/scaleway-configure-frontend.webp
  network/load-balancer/how-to/assets/scaleway-create-frontend-after.webp
  network/load-balancer/how-to/assets/scaleway-lb-az.webp
  network/load-balancer/how-to/assets/scaleway-lb-creation-page.webp
  network/load-balancer/how-to/assets/scaleway-load-balancer-name.webp
  network/load-balancer/how-to/assets/scaleway-select-load-balancer.webp
  network/load-balancer/how-to/create-frontends-backends.mdx
  network/load-balancer/how-to/create-load-balancer.mdx
  network/load-balancer/how-to/manage-frontends-and-backends.mdx
  network/load-balancer/quickstart.mdx
  network/load-balancer/reference-content/configuring-backends.mdx
  network/load-balancer/reference-content/configuring-frontends.mdx
  network/load-balancer/reference-content/configuring-health-checks.mdx
  network/load-balancer/reference-content/configuring-load-balancer.mdx
  network/load-balancer/reference-content/ssl-bridging-offloading-passthrough.mdx
  network/load-balancer/troubleshooting/index.mdx
  network/load-balancer/troubleshooting/load-balancer-limitations.mdx
Labels: do not merge

#1867 docs(fix): remove deprecated page and correct ports part
  managed-services/transactional-email/how-to/generate-api-keys-for-api-and-smtp-sending.mdx
  managed-services/transactional-email/how-to/generate-api-keys-for-tem-with-iam.mdx
Labels: documentation

#1868 docs(fix): fix broken date
  console/my-account/how-to/recover-a-lost-password.mdx
Labels: bug

#1837 add(tutorials): push metrics and logs from instance
  tutorials/pushing-metrics-logs-from-scw-instance/assets/scaleway-import-dashboard.webp
  tutorials/pushing-metrics-logs-from-scw-instance/assets/scaleway-logs-display.webp
  tutorials/pushing-metrics-logs-from-scw-instance/assets/scaleway-logs-section-completed.webp
  tutorials/pushing-metrics-logs-from-scw-instance/assets/scaleway-metrics-display.webp
  tutorials/pushing-metrics-logs-from-scw-instance/assets/scaleway-metrics-section-completed.webp
  tutorials/pushing-metrics-logs-from-scw-instance/index.mdx
Labels: documentation

#1870 fix(account): wording update
  console/my-project/concepts.mdx
  console/my-project/how-to/create-a-project.mdx
  console/my-project/quickstart.mdx
Labels: documentation

#1857 docs(how-to): add IFPS doc MTA-3327
  labs/ipfs/how-to/add-pin.mdx
  labs/ipfs/how-to/assets/scaleway-choose-name-ipfs.webp
  labs/ipfs/how-to/assets/scaleway-choose-region-ipfs.webp
  labs/ipfs/how-to/assets/scaleway-create-volume-ipfs.webp
  labs/ipfs/how-to/create-volume.mdx
  labs/ipfs/how-to/delete-pin.mdx
  labs/ipfs/how-to/delete-volume.mdx
  labs/ipfs/how-to/index.mdx
  labs/ipfs/quickstart.mdx
  menu/navigation.json
Labels: documentation, do not merge

#1860 docs(ref-content): using scw ipfs with ipfs desktop MTA-3376
  labs/ipfs/reference-content/index.mdx
  labs/ipfs/reference-content/install-ipfs-desktop.mdx
Labels: documentation, do not merge

#1879 docs(domains): remove tld question
  faq/domains-and-dns.mdx
Labels: documentation

#1880 docs(tem): remove deprecated content
  console/my-account/reference-content/account-quotas.mdx
  managed-services/transactional-email/reference-content/tem-capabilities-and-limits.mdx
Labels: documentation

#1878 fix(iam): wording
  identity-and-access-management/iam/concepts.mdx
  identity-and-access-management/iam/quickstart.mdx
Labels: documentation

#1881 docs(404): fix 404's
  macros/network/lb-create-backend-1-basic.mdx
  managed-services/transactional-email/how-to/delete-tem-domain.mdx
  network/load-balancer/reference-content/configuring-backends.mdx
  tutorials/get-started-crossplane-kubernetes/index.mdx
  tutorials/waypoint-plugin-scaleway/index.mdx
Labels: documentation

#1882 fix(tem): removed deprecated page from menu
  managed-services/transactional-email/how-to/generate-api-keys-for-tem-with-iam.mdx
  managed-services/transactional-email/how-to/manage-email-activity.mdx
  menu/navigation.json
Labels: documentation

#1884 docs(api-cli): added info MTA-3391
  managed-services/iot-hub/api-cli/iot-hub-routes.mdx
Labels: documentation
