Repository scaleway/docs-content, pull requests merged in 2023-07, with the labels that each got.

#1887 docs(review): tutorials
  containers/container-registry/quickstart.mdx
  tutorials/proxmox-softraid/index.mdx
  tutorials/proxy-protocol-v2-load-balancer/index.mdx
  tutorials/remote-desktop-with-xrdp/index.mdx
  tutorials/restic-s3-backup/index.mdx
  tutorials/ruby-on-rails/index.mdx
  tutorials/run-nodejs-express-server-on-serverless-containers/index.mdx
  tutorials/s3-customize-url-cname/index.mdx
  tutorials/s3cmd/index.mdx
Labels: documentation

#1886 docs(faq): update faq general
  faq/general.mdx
Labels: documentation

#1859 docs(instances): add par3 to workload optimzed
  compute/instances/reference-content/workload-optimized.mdx
Labels: documentation

#1888 docs(instances): removed old upgrade docs + fixed navigation
  compute/instances/api-cli/cli-cheatsheet.mdx
  compute/instances/api-cli/creating-managing-instances-with-cliv2.mdx
  compute/instances/api-cli/managing-instance-snapshot-via-cli.mdx
  compute/instances/api-cli/migrating-gp-to-pro.mdx
  compute/instances/api-cli/migrating-instances.mdx
  compute/instances/api-cli/snapshot-import-export-feature.mdx
  compute/instances/api-cli/using-cloud-init.mdx
  compute/instances/api-cli/using-ip-mobility.mdx
  menu/navigation.json
Labels: documentation

#1871 fix(functions): update quickstart and move ref content MTA-3384
  serverless/functions/how-to/create-a-function.mdx
  serverless/functions/how-to/create-a-functions-namespace.mdx
  serverless/functions/how-to/manage-a-function.mdx
  serverless/functions/quickstart.mdx
  serverless/functions/reference-content/deploy-function.mdx
Labels: documentation

#1892 feat(changelog): kubernetes-removed-kubernetes-1.21-is-no 2023-07-06
  changelog/july2023/2023-07-06-kubernetes-removed-kubernetes-1.21-is-no.mdx
Labels: changelog

#1893 fix(cpt): correct data source
  observability/cockpit/api-cli/configuring-grafana-agent.mdx
Labels: documentation

#1876 docs(k8s): add managed service definition
  containers/kubernetes/concepts.mdx
  containers/kubernetes/reference-content/managed-kubernetes-service-definition.mdx
  faq/kubernetes.mdx
  menu/navigation.json
Labels: documentation

#1890 docs(k8s): upgrade cluster upgrade doc
  containers/kubernetes/how-to/assets/scaleway-upgrade-cluster-new.webp
  containers/kubernetes/how-to/upgrade-kubernetes-version.mdx
Labels: documentation

#1896 add(cpt): add metrics for sem
  observability/cockpit/reference-content/cockpit-limitations.mdx
Labels: documentation

#1894 feat(changelog): secret-manager-added-secret-manager-metrics-in 2023-07-06
  changelog/july2023/2023-07-06-secret-manager-added-secret-manager-metrics-in.mdx
Labels: changelog

#1895 docs(fix): fixed broken links
  changelog/packer/semptember2022/2022-09-05-packer-added-support-unified-snapshots.mdx
  faq/play2-instances.mdx
Labels: documentation

#1897 docs(instances): remove mention of sla
  changelog/instances/june2022/2022-06-15-instances-added-pro2-instances.mdx
  compute/instances/reference-content/cost-optimized.mdx
  compute/instances/reference-content/production-optimized.mdx
  compute/instances/reference-content/workload-optimized.mdx
  faq/pro2-instances.mdx
Labels: documentation

#1898 docs(fix): broken links
  dedibox-console/my-account/how-to/update-password.mdx
  faq/pro2-instances.mdx
  labs/ipfs/how-to/add-pin.mdx
  labs/ipfs/how-to/create-volume.mdx
  labs/ipfs/how-to/delete-volume.mdx
  labs/ipfs/quickstart.mdx
  labs/ipfs/reference-content/install-ipfs-desktop.mdx
  tutorials/get-started-crossplane-kubernetes/index.mdx
  tutorials/librenms-monitoring/index.mdx
Labels: bug

#1905 docs(instances): fix AZ/region confusion MTA-3413
  compute/instances/concepts.mdx
  compute/instances/quickstart.mdx
Labels: documentation

#1835 docs(tutorial): serverless triggers&functions setup & deploy MTA-3308
  tutorials/transform-bucket-images-triggers-functions-deploy/index.mdx
  tutorials/transform-bucket-images-triggers-functions-set-up/assets/scaleway-faas-image-transform.webp
  tutorials/transform-bucket-images-triggers-functions-set-up/index.mdx
  tutorials/transform-images-using-faas-and-nodejs/index.mdx
Labels: documentation

#1889 docs(ipfs): edit quickstart & api/cli section MTA-3412
  labs/ipfs/api-cli/getting-started-with-ipfs-cli.mdx
  labs/ipfs/api-cli/ipfs-desktop.mdx
  labs/ipfs/how-to/add-pin.mdx
  labs/ipfs/how-to/delete-pin.mdx
  labs/ipfs/how-to/delete-volume.mdx
  labs/ipfs/quickstart.mdx
  menu/navigation.json
Labels: documentation, do not merge

#1907 fix(dedibox): fix typos in documentation MTA-3429
  dedibox-network/ipv6/how-to/configure-ipv6-networkd.mdx
Labels: documentation

#1904 docs(review): content review
  dedibox-network/ip-failover/how-to/assign-failover-ip.mdx
  dedibox-network/ip-failover/how-to/configure-centos.mdx
  dedibox-network/ip-failover/how-to/configure-debian-ubuntu.mdx
  dedibox-network/ip-failover/how-to/configure-freebsd.mdx
  dedibox-network/ip-failover/how-to/configure-multiip-virtualmac.mdx
  dedibox-network/ip-failover/how-to/configure-network-virtual-machine.mdx
  dedibox-network/ip-failover/how-to/configure-reverse-dns.mdx
  dedibox-network/ip-failover/how-to/configure-windows.mdx
  dedibox-network/ip-failover/how-to/create-virtual-mac.mdx
  serverless/messaging/api-cli/connect-aws-cli.mdx
  serverless/messaging/api-cli/python-node-sns.mdx
  serverless/messaging/reference-content/limitations.mdx
  serverless/messaging/reference-content/snssqs-overview.mdx
  serverless/messaging/reference-content/sqs-support.mdx
  tutorials/deploying-a-documentation-website-with-docusaurus-on-scaleway/index.mdx
Labels: documentation

#1916 fix(rdb): autohealing
  managed-databases/postgresql-and-mysql/reference-content/autohealing.mdx
Labels: type: maintenance, status: ready, priority: low

#1910 docs(tutorial): add sem+terraform tuto
  tutorials/sem-terraform/assets/scaleway-database-secret.webp
  tutorials/sem-terraform/index.mdx
Labels: type: maintenance

#1926 docs(review): content review
  bare-metal/elastic-metal/api-cli/elastic-metal-with-api.mdx
  bare-metal/elastic-metal/api-cli/elastic-metal-with-cli.mdx
  bare-metal/elastic-metal/how-to/activate-remote-access.mdx
  bare-metal/elastic-metal/how-to/add-virtual-mac-address.mdx
  bare-metal/elastic-metal/how-to/attach-detach-flexible-ip.mdx
  bare-metal/elastic-metal/how-to/configure-flexible-ip.mdx
  bare-metal/elastic-metal/how-to/configure-flexible-ipv6.mdx
  bare-metal/elastic-metal/how-to/configure-ipv6-hypervisor.mdx
  bare-metal/elastic-metal/how-to/configure-reverse-dns-flexible-ip.mdx
  bare-metal/elastic-metal/how-to/create-server.mdx
  bare-metal/elastic-metal/how-to/create-virtual-mac-group.mdx
  bare-metal/elastic-metal/how-to/enable-smtp.mdx
  bare-metal/elastic-metal/how-to/install-server.mdx
  bare-metal/elastic-metal/how-to/order-flexible-ip.mdx
  bare-metal/elastic-metal/how-to/reboot-server.mdx
  bare-metal/elastic-metal/how-to/reinstall-server.mdx
  bare-metal/elastic-metal/how-to/shutdown-server.mdx
  bare-metal/elastic-metal/how-to/use-private-networks.mdx
  bare-metal/elastic-metal/how-to/use-rescue-mode.mdx
  bare-metal/elastic-metal/how-to/view-the-event-logs.mdx
  dedibox-network/ip-failover/how-to/configure-centos.mdx
  dedibox-network/ip-failover/how-to/order-failover-ip.mdx
  serverless/messaging/api-cli/python-node-sqs.mdx
  serverless/messaging/how-to/create-namespace.mdx
  storage/object/api-cli/using-api-call-list.mdx
  storage/object/api-cli/using-bucket-policies.mdx
  storage/object/how-to/download-files-from-a-bucket.mdx
  storage/object/how-to/monitor-consumption.mdx
  storage/object/how-to/transfer-bucket-to-object-storage-hive.mdx
  storage/object/how-to/use-bucket-website.mdx
  storage/object/videos.mdx
Labels: type: maintenance, priority: low

#1931 docs(ipfs): fix menu MTA-3463
  menu/navigation.json
Labels: type: maintenance

#1932 docs(k8s): add gpu operator docs
  containers/kubernetes/how-to/use-kubernetes-gpu-operator.mdx
  menu/navigation.json
Labels: priority: high

#1936 fix(containers): fix recurring error in Sls containers doc MTA-3467
  serverless/containers/how-to/deploy-a-container-from-external-container-registry.mdx
  serverless/containers/how-to/deploy-a-container-from-scaleway-container-registry.mdx
  serverless/containers/how-to/manage-a-container.mdx
  serverless/containers/how-to/manage-a-containers-namespace.mdx
  serverless/containers/quickstart.mdx
Labels: priority: medium

#1929 feat(SDB): create Serverless DB Quickstart MTA3452
  serverless/sql-databases/quickstart.mdx
Labels: status: draft

#1939 feat(changelog): private-networks-changed-virtual-private-cloud-is 2023-07-18
  changelog/july2023/2023-07-18-private-networks-changed-virtual-private-cloud-is.mdx
Labels: changelog

#1940 feat(changelog): public-gateways-changed-the-public-gateway-is 2023-07-18
  changelog/july2023/2023-07-18-public-gateways-changed-the-public-gateway-is.mdx
Labels: changelog

#1951 docs(add): add k8s integration info
  observability/cockpit/reference-content/cockpit-limitations.mdx
Labels: status: ready

#1948 feat(changelog): kubernetes-added-kapsule-and-kosmos-control 2023-07-19
  changelog/july2023/2023-07-19-kubernetes-added-kapsule-and-kosmos-control.mdx
Labels: changelog

#1954 feat(changelog): kubernetes-added-new-availability-zone-ams-3 2023-07-20
  changelog/july2023/2023-07-20-kubernetes-added-new-availability-zone-ams-3.mdx
Labels: changelog

#1957 docs(console): add sentence on ID verif MTA-3439
  console/my-account/how-to/verify-identity.mdx
Labels: priority: low

#1945 fix(console): deactivation MTA-3472
  console/my-account/how-to/close-account.mdx
Labels: type: maintenance, status: ready, priority: medium

#1960 feat(tutorial): add third python tutorial
  tutorials/python-for-loops/index.mdx
  tutorials/python-lists-dicts/index.mdx
Labels: type: new content

#1972 feat(changelog): instances-added-new-availability-zone-ams-3 2023-07-25
  changelog/july2023/2023-07-25-instances-added-new-availability-zone-ams-3.mdx
Labels: changelog

#1975 fix(uapi): index title
  identity-and-access-management/index.mdx
  storage/block/how-to/mount-and-use-volume.mdx
Labels: type: maintenance, priority: low

#1978 feat(changelog): containers-added-triggers-for-serverless-containers 2023-07-26
  changelog/july2023/2023-07-26-containers-added-triggers-for-serverless-containers.mdx
Labels: changelog

#1980 docs(project): added concept info MTA-3511
  console/my-project/concepts.mdx
Labels: type: maintenance, priority: low

#1977 fix(rdb): add message boxes to adapt to new db instances MTA-3489
  managed-databases/postgresql-and-mysql/how-to/change-volume-type.mdx
  managed-databases/postgresql-and-mysql/how-to/clone-a-database-instance.mdx
  managed-databases/postgresql-and-mysql/how-to/create-a-database.mdx
  managed-databases/postgresql-and-mysql/how-to/create-read-replica.mdx
  managed-databases/postgresql-and-mysql/how-to/upgrade-a-database.mdx
  menu/navigation.json
Labels: type: maintenance, status: tech review, priority: medium

#1984 feat(changelog): instances-fixed-zenbleed-incident-response 2023-07-28
  changelog/july2023/2023-07-28-instances-fixed-zenbleed-incident-response.mdx
Labels: changelog

#1913 feat(github): improvements labels
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/changelog-contribution.yml
  .github/workflows/do-not-merge.yml
  .github/workflows/draft.yml
  .github/workflows/labeler.yml
  .github/workflows/remove-draft.yml
  docs/PULL_REQUEST_TEMPLATE.md
Labels: type: maintenance, priority: low

#1989 fix(gen): fix yaml
  .github/labeler.yml
  .github/workflows/changelog-contribution.yml
  .github/workflows/draft.yml
  .github/workflows/remove-draft.yml
Labels: type:-developer

#1990 fix(gen): labels
  .github/labeler.yml
  .github/workflows/draft.yml
  .github/workflows/remove-draft.yml
Labels: type: developer

#1993 fix(gen): test
  .github/workflows/draft.yml
  .github/workflows/remove-draft.yml
Labels: type: developer

#1994 fix(gen): test
  .github/workflows/draft.yml
  .github/workflows/labeler.yml
  .github/workflows/remove-draft.yml
Labels: type: developer

#1995 fix(lb): test
  .github/workflows/draft.yml
  .github/workflows/remove-draft.yml
Labels: type: developer

#1996 fix(gen): test
  .github/workflows/draft.yml
  .github/workflows/labeler.yml
  .github/workflows/remove-draft.yml
Labels: type: developer
