Repository scaleway/docs-content, pull requests merged in 2023-02, with the labels that each got.

#1247 Add AZ to EM - Mta-2739
  compute/elastic-metal/concepts.mdx
  compute/elastic-metal/how-to/create-server.mdx
  compute/elastic-metal/quickstart.mdx
Labels: documentation

#1248 docs(instance): add tip for volume increase
  storage/block/how-to/increase-block-volume.mdx
Labels: documentation

#1256 feat(changelog): elastic-metal-added-🇳🇱-ams-1-opening 2023-02-01
  changelog/february2023/2023-02-01-elastic-metal-added-🇳🇱-ams-1-opening.mdx
Labels: changelog

#1260 docs(k8s): how to update the CRI of a node pool
  containers/kubernetes/how-to/change-container-runtime-interface.mdx
  containers/kubernetes/how-to/delete-cluster.mdx
  containers/kubernetes/how-to/upgrade-kubernetes-version.mdx
  menu/navigation.json
Labels: documentation

#1233 docs(k8s): updated version information
  containers/kubernetes/reference-content/version-support-policy.mdx
Labels: do not merge

#1263 feat(changelog): object-storage-added-improved-user-experience-for 2023-02-03
  changelog/february2023/2023-02-03-object-storage-added-improved-user-experience-for.mdx
Labels: changelog

#1264 docs(ddx): updated payment information
  compute/dedibox/how-to/link-dedibox-account.mdx
  faq/dedibox-in-scaleway-console.mdx
Labels: documentation

#1269 docs(tem): edited mx record configuration in quickstart
  managed-services/transactional-email/quickstart.mdx
Labels: documentation

#1274 feat(changelog): kubernetes-added-kubernetes-versions-1.25-and 2023-02-07
  changelog/february2023/2023-02-07-kubernetes-added-kubernetes-versions-1.25-and.mdx
Labels: changelog

#1277 feat(changelog): containers-added-deploy-containers-from-public 2023-02-07
  changelog/february2023/2023-02-07-containers-added-deploy-containers-from-public.mdx
Labels: changelog

#1276 feat(changelog): kubernetes-changed-pro2-and-play2-instances 2023-02-07
  changelog/february2023/2023-02-07-kubernetes-changed-pro2-and-play2-instances.mdx
Labels: changelog

#1275 feat(changelog): kubernetes-removed-container-runtimes-docker-and 2023-02-07
  changelog/february2023/2023-02-07-kubernetes-removed-container-runtimes-docker-and.mdx
Labels: changelog

#1280 feat(changelog): kubernetes-removed-test 2023-02-07
  changelog/february2023/2023-02-07-kubernetes-removed-flannel-weave.mdx
Labels: changelog

#1287 docs(fix): removed doublon video
  containers/kubernetes/videos.mdx
Labels: documentation

#1290 docs(obs): rework observability documentation
  observability/cockpit/api-cli/configuring-grafana-agent.mdx
  observability/cockpit/how-to/send-metrics-logs-to-cockpit.mdx
  observability/cockpit/quickstart.mdx
Labels: documentation

#1271 docs(sem): how-tos
  identity-and-access-management/secret-manager/assets/scaleway-filter-secrets-region.webp
  identity-and-access-management/secret-manager/assets/scaleway-filter-secrets-tags.webp
  identity-and-access-management/secret-manager/how-to/create-secret.mdx
  identity-and-access-management/secret-manager/how-to/create-version.mdx
  identity-and-access-management/secret-manager/how-to/delete-secret.mdx
  identity-and-access-management/secret-manager/how-to/delete-version.mdx
  identity-and-access-management/secret-manager/how-to/filter-secrets.mdx
  identity-and-access-management/secret-manager/how-to/manage-secret.mdx
  identity-and-access-management/secret-manager/how-to/manage-version.mdx
Labels: do not merge

#1293 feat(rdb): add concepts MTA-2606
  managed-databases/postgresql-and-mysql/concepts.mdx
Labels: documentation

#1307 docs(fix): fixed 404's
  changelog/databases/february2022/2022-02-02-postgresql-and-mysql-added-block-volume.mdx
  changelog/network/march2022/2022-03-01-private-networks-added-ssh-bastion.mdx
  compute/dedibox/how-to/link-dedibox-account.mdx
  compute/instances/how-to/use-flexips.mdx
  containers/kubernetes/api-cli/cluster-monitoring.mdx
  faq/databases-for-redis.mdx
  faq/vpc.mdx
  managed-services/iot-hub/how-to/add-device.mdx
  managed-services/webhosting/how-to/configure-dns-webhosting.mdx
  managed-services/webhosting/how-to/manage-webhosting.mdx
  managed-services/webhosting/how-to/order-webhosting.mdx
  managed-services/webhosting/how-to/terminate-webhosting.mdx
  network/load-balancer/api-cli/setting-up-ssl-offloading.mdx
  network/vpc/concepts.mdx
  serverless/containers/how-to/add-a-custom-domain-to-a-container.mdx
  serverless/containers/how-to/create-auth-token-from-console.mdx
  serverless/containers/how-to/delete-a-container.mdx
  serverless/containers/how-to/manage-a-container.mdx
  serverless/containers/how-to/modify-container-privacy.mdx
  serverless/containers/how-to/secure-a-container.mdx
  storage/object/api-cli/manage-bucket-permissions-IP.mdx
  storage/object/concepts.mdx
  tutorials/run-python-flask-server-on-serverless-container/index.mdx
  tutorials/setup-postfix-ubuntu-bionic/index.mdx
  tutorials/vpc-public-gateway-autoconfiguration/index.mdx
Labels: Documentation Bug

#1312 new(iam): reproduce system before iam
  identity-and-access-management/iam/reference-content/assets/scaleway-iam-invitation-groups.webp
  identity-and-access-management/iam/reference-content/permission-sets.mdx
  identity-and-access-management/iam/reference-content/reproduce-roles-project-api-keys.mdx
  menu/navigation.json
Labels: do not merge

#1324 docs(serverless): removed duplicated content
  menu/navigation.json
  serverless/functions/how-to/modify-function-privacy.mdx
Labels: do not merge

#1333 fix(changelog): tag
  changelog/serverless/january2023/2023-01-10-changed-messaging-public-beta.mdx
Labels: changelog

#1318 feat(rdb): 3 new pages MTA-2803
  managed-databases/postgresql-and-mysql/how-to/add-users.mdx
  managed-databases/postgresql-and-mysql/how-to/change-volume-type.mdx
  managed-databases/postgresql-and-mysql/how-to/connect-database-instance.mdx
  managed-databases/postgresql-and-mysql/how-to/create-a-database.mdx
  managed-databases/postgresql-and-mysql/reference-content/autohealing.mdx
  managed-databases/postgresql-and-mysql/troubleshooting/disk-full.mdx
  menu/navigation.json
Labels: documentation

#1335 feat(managed-databases): add quickstart for managed document database…
  managed-databases/document-database/index.mdx
  managed-databases/document-database/quickstart.mdx
Labels: documentation

#1342 feat(changelog): documentation-added-the-sdk-js-1.0-has 2023-02-23
  changelog/february2023/2023-02-23-documentation-added-the-sdk-js-1.0-has.mdx
Labels: changelog

#1328 Draft: feat(compute): Choosing an Instance type
  compute/instances/concepts.mdx
  compute/instances/how-to/create-an-instance.mdx
  compute/instances/how-to/migrate-instances.mdx
  compute/instances/quickstart.mdx
  compute/instances/reference-content/choosing-instance-type.mdx
  menu/navigation.json
Labels: do not merge

#1347 docs(tutoriels): review
  tutorials/collecting-visualizing-logs-elastic-stack/index.mdx
  tutorials/configure-nagios-monitoring/index.mdx
  tutorials/configuring-gitlab-scaleway-elements-database/index.mdx
  tutorials/create-models-django/index.mdx
  tutorials/deploy-instances-packer-terraform/index.mdx
  tutorials/django-ubuntu-focal-fossa/index.mdx
  tutorials/host-github-runner/assets/scaleway-add-github-runner.webp
  tutorials/host-github-runner/assets/scaleway-github-actions-menu.webp
  tutorials/host-github-runner/assets/scaleway-github-runner-active.webp
  tutorials/host-github-runner/assets/scaleway-github-settings-menu.webp
  tutorials/host-github-runner/index.mdx
  tutorials/load-testing-vegeta/index.mdx
  tutorials/mutli-node-rocket-chat-community-private-network/index.mdx
  tutorials/odoo-easy-deploy/index.mdx
  tutorials/prometheus-monitoring-grafana-dashboard/index.mdx
  tutorials/rtmp-self-hosted-streaming/index.mdx
  tutorials/setup-mongodb-on-ubuntu/index.mdx
  tutorials/setup-postfix-ubuntu-bionic/index.mdx
  tutorials/wordpress-lemp-stack-ubuntu-jammy-jellyfish-22-04/assets/scaleway-wordpress_dashboard.webp
  tutorials/wordpress-lemp-stack-ubuntu-jammy-jellyfish-22-04/assets/scaleway-wordpress_install.webp
  tutorials/wordpress-lemp-stack-ubuntu-jammy-jellyfish-22-04/assets/scaleway-wordpress_lemp.webp
  tutorials/wordpress-lemp-stack-ubuntu-jammy-jellyfish-22-04/index.mdx
  tutorials/zammad-ticketing/index.mdx
Labels: do not merge

#1351 docs(tutos): Cost-Optimized tutos
  tutorials/ark-server/index.mdx
  tutorials/deploy-awstats/index.mdx
  tutorials/setup-jupyter-notebook/index.mdx
  tutorials/setup-minecraft/index.mdx
Labels: do not merge

#1350 docs(tutos): Learning tutos
  tutorials/bash-christmas-tree/index.mdx
  tutorials/strapi/assets/scaleway-create-admin-completed.webp
  tutorials/strapi/assets/scaleway-create-admin.webp
  tutorials/strapi/assets/scaleway-create-collection-type.webp
  tutorials/strapi/assets/scaleway-create-first-content.webp
  tutorials/strapi/assets/scaleway-strapi-dashboard.webp
  tutorials/strapi/index.mdx
  tutorials/wireguard-mesh-vpn/index.mdx
  tutorials/wordpress-instantapp/assets/scaleway-nc-enable-smtp.webp
  tutorials/wordpress-instantapp/assets/scaleway-nc-instantapps.webp
  tutorials/wordpress-instantapp/assets/scaleway-nc-new-server.webp
  tutorials/wordpress-instantapp/assets/scaleway-nc-new-sg.webp
  tutorials/wordpress-instantapp/assets/scaleway-wp.webp
  tutorials/wordpress-instantapp/index.mdx
Labels: do not merge

#1352 feat(changelog): functions-added-runtimes-update 2023-02-24
  changelog/february2023/2023-02-24-functions-added-runtimes-update.mdx
Labels: changelog
