Repository scaleway/docs-content, pull requests merged in 2023-05, with the labels that each got.

#1608 docs(tutorials): added steps & fixed inconsistency
  tutorials/send-emails-with-serverless-and-tem/index.mdx
  tutorials/setup-nomad-cluster/index.mdx
Labels: documentation

#1592 add(refcont): IoT Hub CA change MTA-3016
  compute/apple-silicon/troubleshooting/cant-connect-using-vnc.mdx
  managed-services/iot-hub/reference-content/certificate.mdx
  managed-services/iot-hub/reference-content/twins.mdx
  menu/navigation.json
Labels: do not merge

#1610 feat(changelog): kubernetes-added-kubernetes-version-1.27-now 2023-05-02
  changelog/may2023/2023-05-02-kubernetes-added-kubernetes-version-1.27-now.mdx
Labels: changelog

#1612 fix:(tutorials): fixed tags to make related tutorials appear on the side menu
  tutorials/ansible-galaxy/index.mdx
  tutorials/configure-apache-kafka/index.mdx
  tutorials/configure-graphite/index.mdx
  tutorials/send-emails-with-serverless-and-tem/index.mdx
  tutorials/set-up-spf-dkim-for-dns-providers/index.mdx
Labels: documentation

#1611 docs(k8s): add information for k8s v1.27
  containers/kubernetes/reference-content/version-support-policy.mdx
  faq/kubernetes.mdx
Labels: do not merge

#1613 fix(iam): remove own user MTA-3148
  identity-and-access-management/iam/how-to/manage-users.mdx
Labels: documentation

#1615 fix(az): add macro and update concepts MTA-2715
  compute/apple-silicon/concepts.mdx
  compute/elastic-metal/concepts.mdx
  compute/instances/concepts.mdx
  macros/console/region-and-az.mdx
  managed-databases/postgresql-and-mysql/concepts.mdx
  managed-databases/redis/concepts.mdx
  network/public-gateways/concepts.mdx
  network/vpc/concepts.mdx
  storage/object/concepts.mdx
Labels: documentation

#1626 fix(how-tos): Repair inconsistencies in k8s tutorial part 1
  tutorials/get-started-containers-docker/index.mdx
Labels: documentation

#1625 docs(review): review docs - week 19/2023
  containers/kubernetes/api-cli/managing-load-balancer-ips.mdx
  containers/kubernetes/api-cli/managing-storage.mdx
  dedibox-network/ipv6/how-to/configure-dhcpv6.mdx
  dedibox-network/ipv6/how-to/configure-ipv6-linux.mdx
  dedibox-network/ipv6/how-to/configure-ipv6-networkd.mdx
  dedibox-network/ipv6/how-to/configure-ipv6-windows.mdx
  dedibox-network/ipv6/how-to/create-subnet.mdx
  dedibox-network/ipv6/how-to/debug-ipv6.mdx
  dedibox-network/ipv6/how-to/enable-ipv6-slaac.mdx
  dedibox-network/ipv6/how-to/request-prefix.mdx
  network/domains-and-dns/how-to/delete-external-domain.mdx
  network/domains-and-dns/quickstart.mdx
  network/load-balancer/api-cli/configuring-balancing-rules.mdx
  network/load-balancer/api-cli/setting-up-ssl-offloading.mdx
  network/load-balancer/how-to/create-load-balancer.mdx
  network/load-balancer/how-to/delete-load-balancer.mdx
  network/load-balancer/how-to/manage-frontends-and-backends.mdx
  network/load-balancer/how-to/set-up-s3-failover.mdx
  network/load-balancer/how-to/use-with-private-network.mdx
  network/load-balancer/quickstart.mdx
  tutorials/install-rkhunter/index.mdx
Labels: documentation

#1633 feat(changelog): transactional-email-changed-tem-in-ga 2023-05-10
  changelog/may2023/2023-05-10-transactional-email-changed-tem-in-ga.mdx
Labels: changelog

#1642 docs(tutorial): add tutorial how to use your own grafana
  tutorials/using-own-grafana/assets/scaleway_cockpit_token_tuto.webp
  tutorials/using-own-grafana/assets/scaleway_cockpit_tuto_data_source.webp
  tutorials/using-own-grafana/assets/scaleway_cockpit_tuto_url.webp
  tutorials/using-own-grafana/index.mdx
Labels: documentation

#1647 feat(changelog): functions-added-serverless-python-api-framework 2023-05-12
  changelog/may2023/2023-05-12-functions-added-serverless-python-api-framework.mdx
Labels: changelog

#1635 docs(tutorials): update traefik tuto
  tutorials/traefik-v2-cert-manager/index.mdx
Labels: documentation

#1637 docs(storage): update block storage increase doc
  storage/block/how-to/increase-block-volume.mdx
Labels: documentation

#1659 feat(changelog): kubernetes-changed-enable-or-disable-ssh 2023-05-15
  changelog/may2023/2023-05-15-kubernetes-changed-enable-or-disable-ssh.mdx
Labels: changelog

#1470 docs(k8s): add pn
  containers/kubernetes/how-to/assets/scaleway-create-kubernetes-kapsule.webp
  containers/kubernetes/how-to/assets/scaleway-create-kubernetes-kosmos.webp
  containers/kubernetes/how-to/create-cluster.mdx
  containers/kubernetes/how-to/create-kosmos-cluster.mdx
  containers/kubernetes/quickstart.mdx
Labels: do not merge

#1660 docs(review): docs review 15/05/2023
  compute/apple-silicon/how-to/connect-to-mac-mini-m1.mdx
  compute/apple-silicon/how-to/create-mac-mini-m1.mdx
  compute/apple-silicon/how-to/reboot-mac-mini-m1.mdx
  compute/apple-silicon/how-to/reinstall-mac-mini-m1.mdx
  compute/apple-silicon/quickstart.mdx
  compute/apple-silicon/troubleshooting/cant-send-emails.mdx
  compute/apple-silicon/troubleshooting/filevault-preventing-system-boot.mdx
  compute/apple-silicon/troubleshooting/need-package-manager.mdx
  compute/apple-silicon/troubleshooting/need-to-update-os.mdx
  identity-and-access-management/iam/api-cli/using-api-key-object-storage.mdx
  managed-services/transactional-email/how-to/add-mx-record-to-your-domain.mdx
  managed-services/transactional-email/how-to/add-spf-dkim-records-to-your-domain.mdx
  managed-services/transactional-email/how-to/configure-domain-with-transactional-email.mdx
  managed-services/transactional-email/how-to/delete-tem-domain.mdx
  managed-services/transactional-email/how-to/generate-api-keys-for-api-and-smtp-sending.mdx
  managed-services/transactional-email/how-to/generate-api-keys-for-tem-with-iam.mdx
  managed-services/transactional-email/how-to/manage-email-activity.mdx
  managed-services/transactional-email/quickstart.mdx
  managed-services/transactional-email/reference-content/tem-capabilities-and-limits.mdx
  network/load-balancer/api-cli/configuring-balancing-rules.mdx
  tutorials/install-kvm-elastic-metal/index.mdx
  tutorials/install-mattermost/index.mdx
  tutorials/install-openlitespeed-wordpress/index.mdx
  tutorials/install-openvpn/index.mdx
  tutorials/install-parse-server/index.mdx
  tutorials/install-pgbouncer/index.mdx
  tutorials/install-php-composer/index.mdx
  tutorials/install-postgresql/index.mdx
  tutorials/install-wireguard/index.mdx
  webhosting/classic/how-to/create-email-redirection.mdx
  webhosting/classic/how-to/create-email-transfer.mdx
  webhosting/classic/how-to/create-ftp-account.mdx
  webhosting/classic/how-to/create-mysql-database.mdx
  webhosting/classic/how-to/create-postgresql-database.mdx
  webhosting/classic/how-to/create-subdomain.mdx
  webhosting/classic/how-to/delete-email-account.mdx
  webhosting/classic/how-to/delete-email-redirection.mdx
  webhosting/classic/how-to/delete-email-transfer.mdx
  webhosting/classic/how-to/delete-ftp-account.mdx
  webhosting/classic/how-to/delete-mysql-database.mdx
  webhosting/classic/how-to/delete-postgresql-database.mdx
Labels: documentation

#1657 docs(k8s): add q/a how to allow inbound traffic
  containers/kubernetes/reference-content/secure-cluster-with-private-network.mdx
Labels: documentation

#1656 feat(changelog): cockpit-added-using-your-own-grafana 2023-05-15
  changelog/may2023/2023-05-15-cockpit-added-using-your-own-grafana.mdx
Labels: changelog

#1654 docs(k8s): add warning sec groups for ssh access
  containers/kubernetes/how-to/enable-disable-ssh.mdx
Labels: documentation

#1653 docs(account): simplify understanding of quotas
  console/my-account/reference-content/account-quotas.mdx
Labels: documentation

#1664 fix(k8s): remove outdated block
  compute/instances/troubleshooting/cant-connect-ssh.mdx
Labels: documentation

#1638 docs(tutorial): medusajs
  tutorials/install-medusa/index.mdx
Labels: tutorial

#1672 docs(k8s): add terraform warning
  containers/kubernetes/reference-content/secure-cluster-with-private-network.mdx
Labels: documentation

#1677 fix(doc): update api doc hyperlinks to developer website MTA-3213
  changelog/january2023/2023-01-19-billing-added-billing-api-.mdx
  changelog/january2023/2023-01-19-transactional-email-added-tem-2.mdx
  components.mdx
  compute/elastic-metal/api-cli/elastic-metal-with-api.mdx
  compute/elastic-metal/api-cli/elastic-metal-with-cli.mdx
  compute/elastic-metal/concepts.mdx
  compute/instances/api-cli/creating-managing-instances-with-cliv2.mdx
  compute/instances/api-cli/migrating-gp-to-pro.mdx
  compute/instances/api-cli/migrating-instances.mdx
  compute/instances/api-cli/using-placement-groups.mdx
  compute/instances/concepts.mdx
  compute/instances/how-to/create-an-instance.mdx
  compute/instances/reference-content/choosing-instance-type.mdx
  console/my-account/how-to/create-an-account.mdx
  console/my-account/quickstart.mdx
  console/my-project/how-to/generate-api-key.mdx
  containers/kubernetes/api-cli/creating-managing-kubernetes-lifecycle-cliv2.mdx
  containers/kubernetes/how-to/edit-cluster.mdx
  containers/kubernetes/how-to/edit-kosmos-cluster.mdx
  containers/kubernetes/how-to/enable-disable-ssh.mdx
  faq/billing.mdx
  faq/domains-and-dns.mdx
  faq/instances.mdx
  faq/iothub.mdx
  faq/kubernetes.mdx
  faq/public-gateways.mdx
  identity-and-access-management/iam/api-cli/managing-projects.mdx
  identity-and-access-management/iam/api-cli/using-api-key-object-storage.mdx
  identity-and-access-management/iam/concepts.mdx
  identity-and-access-management/iam/how-to/create-api-keys.mdx
  identity-and-access-management/iam/reference-content/migration.mdx
  identity-and-access-management/iam/reference-content/overview.mdx
  index.mdx
  managed-services/iot-hub/api-cli/getting-started-with-iot-hub-api.mdx
  managed-services/iot-hub/api-cli/getting-started-with-iot-hub-cli.mdx
  managed-services/iot-hub/reference-content/twins.mdx
  network/load-balancer/api-cli/configuring-balancing-rules.mdx
  network/public-gateways/troubleshooting/gateway-services-not-working.mdx
  network/vpc/api-cli/vpc-private-beta.mdx
  network/vpc/how-to/create-private-network.mdx
  serverless/containers/concepts.mdx
  serverless/containers/how-to/deploy-a-container-from-external-container-registry.mdx
  serverless/containers/how-to/deploy-a-container-from-scaleway-container-registry.mdx
  serverless/containers/how-to/manage-a-container.mdx
  serverless/containers/how-to/modify-container-privacy.mdx
  serverless/containers/quickstart.mdx
  serverless/containers/reference-content/containers-image-configuration.mdx
  serverless/containers/reference-content/deploy-container.mdx
  serverless/functions/concepts.mdx
  serverless/functions/how-to/create-a-function.mdx
  serverless/functions/quickstart.mdx
  serverless/functions/reference-content/deploy-function.mdx
  serverless/messaging/reference-content/nats-overview.mdx
  serverless/messaging/reference-content/snssqs-overview.mdx
  tutorials/get-started-deploy-kapsule/index.mdx
  tutorials/manage-instances-with-terraform-and-functions/index.mdx
  tutorials/postman-api/index.mdx
  tutorials/upgrade-managed-postgresql-database/index.mdx
Labels: documentation

#1668 docs(tutorial): chatwoot
  tutorials/deploy-chatwoot-self-care/assets/scaleway-chatwoot-dashboard.webp
  tutorials/deploy-chatwoot-self-care/index.mdx
Labels: documentation, tutorial

#1682 feat(changelog): load-balancers-deprecated-regional-api-is-deprecated 2023-05-22
  changelog/may2023/2023-05-22-load-balancers-deprecated-regional-api-is-deprecated.mdx
Labels: changelog

#1666 feat(mnq): added create queues doc
  menu/navigation.json
  serverless/messaging/api-cli/connect-aws-cli.mdx
  serverless/messaging/api-cli/python-node-sns.mdx
  serverless/messaging/api-cli/python-node-sqs.mdx
  serverless/messaging/api-cli/sqs-sns-aws-cli.mdx
  serverless/messaging/assets/scaleway-create-queue-wizard.webp
  serverless/messaging/assets/scaleway-create-queue.webp
  serverless/messaging/concepts.mdx
  serverless/messaging/how-to/assets/scaleway-create-queue-wizard.webp
  serverless/messaging/how-to/assets/scaleway-create-queue.webp
  serverless/messaging/how-to/assets/scaleway-purge-queue.webp
  serverless/messaging/how-to/assets/scaleway-queue-overview.webp
  serverless/messaging/how-to/create-manage-queues.mdx
  serverless/messaging/how-to/delete-namespace.mdx
  serverless/messaging/how-to/manage-credentials.mdx
  serverless/messaging/quickstart.mdx
  serverless/messaging/reference-content/limitations.mdx
  serverless/messaging/reference-content/snssqs-overview.mdx
Labels: documentation

#1665 feat(k8s): explain thoroughly how to upgrade
  components.mdx
  containers/kubernetes/how-to/enable-disable-ssh.mdx
  containers/kubernetes/how-to/upgrade-kubernetes-version-using-cli.mdx
  menu/navigation.json
Labels: documentation

#1697 Update navigation.json
  menu/navigation.json
Labels: bug

#1700 docs(review): review docs
  compute/apple-silicon/how-to/delete-mac-mini-m1.mdx
  managed-services/webhosting/how-to/manage-webhosting.mdx
  network/load-balancer/api-cli/configuring-balancing-rules.mdx
  network/public-gateways/how-to/configure-a-public-gateway.mdx
  network/public-gateways/how-to/configure-instances-public-gw.mdx
  network/public-gateways/how-to/create-a-public-gateway.mdx
  network/public-gateways/how-to/delete-a-public-gateway.mdx
  network/public-gateways/how-to/use-flexible-ips.mdx
  network/public-gateways/how-to/use-private-networks.mdx
  network/public-gateways/how-to/use-ssh-bastion.mdx
  network/public-gateways/quickstart.mdx
  network/public-gateways/troubleshooting/cant-connect-to-instance-with-pn-gateway.mdx
  network/public-gateways/troubleshooting/gateway-services-not-working.mdx
  network/public-gateways/troubleshooting/gw-limitations.mdx
  tutorials/ceph-cluster/index.mdx
  tutorials/install-parse-server/index.mdx
  tutorials/installation-jekyll/index.mdx
  tutorials/installation-lemp-ubuntu-bionic/index.mdx
  tutorials/installation-uncomplicated-firewall/index.mdx
  tutorials/jitsi-ubuntu-bionic/index.mdx
  tutorials/jitsi-ubuntu-focal-fossa/index.mdx
  tutorials/jitsi-ubuntu-jammy-jellyfish/index.mdx
  tutorials/lb-firewall-haproxy-pfsense/index.mdx
Labels: documentation

#1708 docs(revision): serverless functions - use cases
  serverless/functions/reference-content/use-cases.mdx
Labels: documentation

#1709 fix(functions): updated manage namespace procedure following review MTA-3236
  serverless/functions/how-to/manage-a-functions-namespace.mdx
Labels: documentation

#1711 docs(revision): serverless functions - manage fctn
  serverless/functions/how-to/manage-a-function.mdx
Labels: documentation

#1713 fix(functions): update create function doc following review MTA-3237
  serverless/functions/how-to/create-a-function.mdx
Labels: documentation

#1715 fix(functions): Updated upload zip doc following review MTA-3238
  serverless/functions/how-to/assets/scaleway-upload-zip.webp
  serverless/functions/how-to/assets/scaleway_upload_zip.webp
  serverless/functions/how-to/package-function-dependencies-in-zip.mdx
Labels: documentation

#1704 fix(serverless functions): update reviewed doc MTA-3234
  serverless/functions/quickstart.mdx
Labels: documentation

#1719 feat(changelog): kubernetes-changed-new-program-to-add 2023-05-25
  changelog/may2023/2023-05-25-kubernetes-changed-new-program-to-add.mdx
Labels: changelog

#1721 fix(prettier): format error
  menu/navigation.json
Labels: bug

#1724 docs(vpc): update number of resources per PN
  faq/private-networks.mdx
  network/vpc/how-to/attach-resources-to-pn.mdx
  network/vpc/troubleshooting/vpc-limitations.mdx
Labels: documentation

#1667 fix(devtools): new pages
  changelog/april2023/2023-04-12-instances-added-terraform-scaleway-provider-v2.16.3.mdx
  changelog/packer/semptember2022/2022-09-05-packer-added-data-support.mdx
  changelog/packer/semptember2022/2022-09-05-packer-added-nightly-e2e-tests.mdx
  changelog/packer/semptember2022/2022-09-05-packer-added-optional-cleanup-step.mdx
  changelog/packer/semptember2022/2022-09-05-packer-added-support-devcontainer.mdx
  changelog/packer/semptember2022/2022-09-05-packer-added-support-unified-snapshots.mdx
  changelog/packer/semptember2022/2022-09-05-packer-added-timeout-config.mdx
  changelog/packer/semptember2022/2022-09-05-packer-changed-updated-documentation.mdx
  changelog/packer/semptember2022/2022-09-05-packer-fixed-fetching-log-added.mdx
  changelog/packer/semptember2022/2022-09-05-packer-fixed-migrated-volumeservertemplate.mdx
  devtools/devtools/index.mdx
  devtools/devtools/reference-content.mdx
  devtools/index.mdx
  menu/changelogs.json
  menu/filters.json
  menu/navigation.json
  tutorials/deploy-instances-packer-terraform/index.mdx
  tutorials/manage-instances-with-terraform-and-functions/index.mdx
  tutorials/terraform-quickstart/index.mdx
Labels: do not merge

#1725 docs(my-account): add quotas for pop2 instances
  console/my-account/reference-content/account-quotas.mdx
Labels: documentation

#1726 docs(instances): fix typo ipmob
  compute/instances/api-cli/using-ip-mobility.mdx
Labels: documentation

#1730 feat(changelog): elastic-metal-added-em-i210e-nvme-launch 2023-05-30
  changelog/may2023/2023-05-30-elastic-metal-added-em-i210e-nvme-launch.mdx
Labels: changelog

#1731 fix(secret-manager): give more detail on the Secret Manager concept
  identity-and-access-management/secret-manager/assets/scaleway-secret-manager-schema.webp
  identity-and-access-management/secret-manager/concepts.mdx
Labels: documentation

#1736 fix(docs): added specifications on account quotas
  console/my-account/reference-content/account-quotas.mdx
Labels: documentation

#1727 docs(review): review docs
  compute/apple-silicon/how-to/delete-mac-mini-m1.mdx
  compute/instances/troubleshooting/reboot-from-faulty-kernel.mdx
  containers/container-registry/how-to/manage-image-privacy-settings.mdx
  managed-services/webhosting/quickstart.mdx
  managed-services/webhosting/reference-content.mdx
  tutorials/k8s-gitlab/assets/scaleway-job1.webp
  tutorials/k8s-gitlab/assets/scaleway-job2.webp
  tutorials/k8s-gitlab/assets/scaleway-runnerok.webp
  tutorials/k8s-gitlab/assets/scaleway-token.webp
  tutorials/k8s-gitlab/index.mdx
  tutorials/mist-streaming-server/index.mdx
  tutorials/mongodb-ubuntu-1604/index.mdx
  tutorials/monitor-k8s-grafana/index.mdx
  tutorials/mutli-node-rocket-chat-community-private-network/index.mdx
  tutorials/netdata-monitoring/index.mdx
  tutorials/nextcloud-instantapp/index.mdx
  tutorials/nginx-reverse-proxy/index.mdx
  tutorials/object-storage-s3fs/index.mdx
  tutorials/odoo/index.mdx
  webhosting/classic/how-to/delete-subdomain.mdx
  webhosting/classic/how-to/enable-https.mdx
  webhosting/classic/how-to/encrypt-emails-with-pgp-using-webmail.mdx
  webhosting/classic/how-to/manage-email-filter.mdx
  webhosting/classic/how-to/manage-mysql-database-phpmyadmin.mdx
  webhosting/classic/how-to/manage-postgresql-database-adminer.mdx
  webhosting/classic/how-to/retrieve-headers-of-email.mdx
  webhosting/classic/how-to/solve-email-account-connection-problems.mdx
  webhosting/cpanel/quickstart.mdx
  webhosting/cpanel/reference-content.mdx
Labels: tutorial
