Repository scaleway/docs-content, pull requests merged in 2023-01, with the labels that each got.

#1158 docs(tem): added mime attachments MTA-2563
  managed-services/transactional-email/reference-content/tem-capabilities-and-limits.mdx
Labels: documentation

#1161 fix(how-to): fix numbering
  compute/instances/how-to/power-off-instance.mdx
Labels: documentation

#1162 fix(docs): improved table for mime types
  managed-services/transactional-email/reference-content/tem-capabilities-and-limits.mdx
Labels: documentation

#1172 docs(account): availability overview
  console/my-account/reference-content/products-availability.mdx
  menu/navigation.json
Labels: documentation

#1174 feat(changelog): load-balancers-added-load-balancers-now-support 2023-01-06
  changelog/january2023/2023-01-06-load-balancers-added-load-balancers-now-support.mdx
Labels: changelog

#1173 feat(changelog): redistm-added-managed-database-for-redis™ 2023-01-06
  changelog/january2023/2023-01-06-redistm-added-managed-database-for-redis™.mdx
Labels: do not merge, changelog

#1176 docs(changelog): fix dates
  changelog/january2023/2023-01-06-load-balancers-added-load-balancers-now-support.mdx
  changelog/january2023/2023-01-06-redistm-added-managed-database-for-redis™.mdx
Labels: changelog

#1152 docs(obs): added info on configuring the Grafana agent
  menu/navigation.json
  observability/cockpit/api-cli/configuring-grafana-agent.mdx
  observability/cockpit/api-cli/index.mdx
  observability/cockpit/assets/scaleway_obs_dashboards_browse.webp
  observability/cockpit/assets/scaleway_obs_import_dashboard.webp
  observability/cockpit/assets/scaleway_obs_logs_compass.webp
Labels: do not merge

#1201 docs(obs): added info on grafana users
  observability/cockpit/how-to/retrieve-grafana-credentials.mdx
  observability/cockpit/quickstart.mdx
Labels: documentation

#1211 feat(changelog): instances-changed-ent1-range-is-extended 2023-01-18
  changelog/january2023/2023-01-18-instances-changed-ent1-range-is-extended.mdx
Labels: changelog

#1210 feat(changelog): instances-changed-pro2-and-play2-instances 2023-01-18
  changelog/january2023/2023-01-18-instances-changed-pro2-and-play2-instances.mdx
Labels: changelog

#1208 fix(s3): restore-freezeback
  storage/object/how-to/restore-an-object-from-glacier.mdx
Labels: do not merge

#1221 feat(changelog): transactional-email-added-tem 2023-01-19
  changelog/january2023/2023-01-19-transactional-email-added-tem.mdx
Labels: changelog

#1217 feat(changelog): billing-added-billing-api- 2023-01-19
  changelog/january2023/2023-01-19-billing-added-billing-api-.mdx
Labels: changelog

#1218 feat(changelog): transactional-email-changed-tem 2023-01-19
  changelog/january2023/2023-01-19-transactional-email-changed-tem.mdx
Labels: changelog

#1219 feat(changelog): transactional-email-added-tem 2023-01-19
  changelog/january2023/2023-01-19-transactional-email-added-tem-2.mdx
Labels: changelog

#1230 fix(ddx): typo
  dedibox-network/ipv6/how-to/debug-ipv6.mdx
Labels: documentation

#1238 feat(changelog): kubernetes-removed-kubernetes-1.20-is-no 2023-01-25
  changelog/january2023/2023-01-25-kubernetes-removed-kubernetes-1.20-is-no.mdx
Labels: changelog

#1236 docs(domains): review and rework of all doc
  menu/navigation.json
  network/domains-and-dns/assets/scaleway-dns-validation-token.webp
  network/domains-and-dns/assets/scaleway-register_new_domain.webp
  network/domains-and-dns/how-to/add-external-domain.mdx
  network/domains-and-dns/how-to/assets/scaleway-dns-add-zone.webp
  network/domains-and-dns/how-to/assets/scaleway-dns-confirm-delete.webp
  network/domains-and-dns/how-to/assets/scaleway-dns-delete-domain.webp
  network/domains-and-dns/how-to/assets/scaleway-dns-delete-zone.webp
  network/domains-and-dns/how-to/assets/scaleway-dns-domain-information.webp
  network/domains-and-dns/how-to/assets/scaleway-dns-domain-validated.webp
  network/domains-and-dns/how-to/assets/scaleway-dns-edit-records.webp
  network/domains-and-dns/how-to/assets/scaleway-dns-edit-zone-name.webp
  network/domains-and-dns/how-to/assets/scaleway-dns-more-info.webp
  network/domains-and-dns/how-to/assets/scaleway-dns-validation-token.webp
  network/domains-and-dns/how-to/assets/scaleway-dns-zone-list-edit.webp
  network/domains-and-dns/how-to/assets/scaleway-dns-zone-list.webp
  network/domains-and-dns/how-to/assets/scaleway-registration-period.webp
  network/domains-and-dns/how-to/configure-autorenew.mdx
  network/domains-and-dns/how-to/configure-dns-zones.mdx
  network/domains-and-dns/how-to/configure-dnssec-internal-domain.mdx
  network/domains-and-dns/how-to/delete-domain.mdx
  network/domains-and-dns/how-to/delete-external-domain.mdx
  network/domains-and-dns/how-to/manage-dns-records.mdx
  network/domains-and-dns/how-to/manage-external-domain.mdx
  network/domains-and-dns/how-to/manage-nameservers-internal-domain.mdx
  network/domains-and-dns/how-to/register-internal-domain.mdx
  network/domains-and-dns/how-to/unlock-internal-domain.mdx
  network/domains-and-dns/quickstart.mdx
Labels: documentation

#1226 docs(obs): quickstart rework
  observability/cockpit/how-to/access-grafana-and-managed-dashboards.mdx
  observability/cockpit/quickstart.mdx
Labels: documentation

#1242 docs(fix): updated: k8s into Containers category
  containers/kubernetes/how-to/enable-easy-deploy.mdx
  containers/kubernetes/quickstart.mdx
Labels: documentation

#1114 fix(redis): add step
  managed-databases/redis/how-to/create-a-database-for-redis.mdx
  managed-databases/redis/quickstart.mdx
Labels: documentation

#1234 fix(rdb): console name conditions
  managed-databases/postgresql-and-mysql/how-to/create-a-database.mdx
Labels: documentation

#1241 docs(instances): updated information about cloud-init and marked bootscripts as deprecated
  compute/instances/how-to/use-boot-modes.mdx
Labels: documentation

#1243 docs(fix): broken php code example
  serverless/functions/reference-content/code-examples.mdx
Labels: Documentation Bug

#1164 docs(tutorials): docusaurus
  tutorials/deploying-a-documentation-website-with-docusaurus-on-scaleway/index.mdx
Labels: tutorial

#1232 feat(tutorial): proxy-protocol-v2 ingress-nginx configuration
  tutorials/proxy-protocol-v2-load-balancer/index.mdx
Labels: documentation
