Repository scaleway/docs-content, pull requests merged in 2023-12, with the labels that each got.

#2484 feat(changelog): postgresql-and-mysql-added-postgresql-pgvector-is-now-a 2023-11-30
  changelog/november2023/2023-11-30-postgresql-and-mysql-added-postgresql-pgvector-is-now-a.mdx
Labels: type: changelog

#2457 docs(S3): update faq & billing MTA-3847
  faq/new-object-storage-classes.mdx
  faq/objectstorage.mdx
  storage/object/concepts.mdx
  storage/object/quickstart.mdx
Labels: priority: high

#2448 docs(S3): perf optimization guidelines MTA-3845
  menu/navigation.json
  storage/object/reference-content/optimize-object-storage-performance.mdx
Labels: priority: high

#2483 feat(changelog): postgresql-and-mysql-added-managed-databases-latest-ver 2023-11-30
  changelog/november2023/2023-11-30-postgresql-and-mysql-added-managed-databases-latest-ver.mdx
Labels: type: changelog

#2490 docs(block): add redirection link
  compute/instances/how-to/manage-volumes.mdx
  storage/block/how-to/increase-block-volume.mdx
Labels: type: maintenance

#2486 fix(s3): dead link on Object Storage perf optimization guidelines
  storage/object/reference-content/optimize-object-storage-performance.mdx
Labels: priority: low

#2488 feat(changelog): object-storage-added-our-warsaw-region-is-now-multi-az- 2023-12-01
  changelog/december2023/2023-12-01-object-storage-added-our-warsaw-region-is-now-multi-az-.mdx
Labels: type: changelog

#2491 fix(changelog): added new menu entries MTA-3961
  menu/changelogs.json
Labels: type: maintenance, status: tech review, priority: low

#2493 fix(s3): fix error in Bucket policy example
  storage/object/api-cli/combining-iam-and-object-storage.mdx
Labels: priority: low

#2495 feat(changelog): transactional-email-removed-no-more-tem-hourly-quota 2023-12-04
  changelog/december2023/2023-12-04-transactional-email-removed-no-more-tem-houry-quota.mdx
Labels: type: changelog

#2467 docs(cpt): added docs to push traces
  observability/cockpit/api-cli/configuring-grafana-agent.mdx
  observability/cockpit/assets/scaleway-traces-concept.webp
  observability/cockpit/assets/scaleway_grafana_browse.webp
  observability/cockpit/concepts.mdx
  observability/cockpit/how-to/assets/scaleway-traces-concept.webp
Labels: type: maintenance, type: new content

#2496 feat(changelog): messaging-and-queuing-deprecated-api-v1alpha1-to-be-mig 2023-12-04
  changelog/december2023/2023-12-04-messaging-and-queuing-deprecated-api-v1alpha1-to-be-mig.mdx
Labels: type: changelog

#2502 docs(sdb): add backups documentation MTA-3963
  faq/serverless-sql-databases.mdx
  menu/navigation.json
  serverless/sql-databases/how-to/configure-autoscaling.mdx
  serverless/sql-databases/how-to/delete-a-database.mdx
  serverless/sql-databases/how-to/manage-backups.mdx
Labels: priority: high

#2500 docs(sdb): add permission sets to iam ref content MTA-3964
  identity-and-access-management/iam/reference-content/permission-sets.mdx
  serverless/sql-databases/how-to/manage-backups.mdx
Labels: priority: low

#2474 docs(srv): add API/CLI containers deployment doc MTA-3950
  managed-services/iot-hub/api-cli/connecting-twins-to-grafana-cloud.mdx
  managed-services/iot-hub/api-cli/using-twins.mdx
  menu/navigation.json
  serverless/containers/api-cli/deploy-container-api.mdx
  serverless/containers/api-cli/deploy-container-cli.mdx
  serverless/containers/api-cli/index.mdx
  serverless/functions/api-cli/deploy-function-api.mdx
  serverless/functions/api-cli/deploy-function-cli.mdx
Labels: priority: low

#2507 feat(changelog): transactional-email-added-weekly-activity-report-and-bo 2023-12-07
  changelog/december2023/2023-12-07-transactional-email-added-weekly-activity-report-and-bo.mdx
Labels: type: changelog

#2508 feat(changelog): elastic-metal-added-beryllium-offers-b112x-and-b212x-av 2023-12-07
  changelog/december2023/2023-12-07-elastic-metal-added-beryllium-offers-b112x-and-b212x-av.mdx
Labels: type: changelog

#2513 feat(changelog): document-databases-added-document-database-is-available 2023-12-08
  changelog/december2023/2023-12-08-document-databases-added-document-database-is-available.mdx
Labels: type: changelog

#2510 fix(mnq): update doc to delete old api
  faq/messaging-and-queuing.mdx
  serverless/messaging/reference-content/migration.mdx
  serverless/messaging/reference-content/nats-overview.mdx
  serverless/messaging/reference-content/sns-overview.mdx
  serverless/messaging/reference-content/sqs-overview.mdx
Labels: type: maintenance

#2514 fix(s3): add note on s3cmd restore MTA-3972
  storage/object/how-to/restore-an-object-from-glacier.mdx
Labels: priority: low

#2516 docs(s3): cockpit available in all regions MTA-3980
  faq/objectstorage.mdx
  storage/object/how-to/monitor-consumption.mdx
Labels: priority: low

#2517 docs(srv): add differences to functions and containers MTA-3951
  macros/serverless/difference-jobs-functions-containers.mdx
  menu/navigation.json
  serverless/containers/reference-content/difference-jobs-functions-containers.mdx
  serverless/functions/reference-content/difference-jobs-functions-containers.mdx
  serverless/jobs/reference-content/difference-jobs-functions-containers.mdx
Labels: priority: low

#2515 fix(s3): update free trial unit for clarity MTA-3981
  changelog/december2023/2023-12-01-object-storage-changed-the-75gb-free-tier-is-replaced-b.mdx
  faq/objectstorage.mdx
Labels: priority: high

#2377 docs(ins): arm vs x86
  compute/instances/reference-content/understanding-differences-x86-arm.mdx
  menu/navigation.json
Labels: type: new content

#2512 feat(changelog): sql-databases-added-serverless-sql-database-is-availabl 2023-12-08
  changelog/december2023/2023-12-08-sql-databases-added-serverless-sql-database-is-availabl.mdx
Labels: type: changelog

#2528 feat(changelog): jobs-added-serverless-jobs-is-available-in-public-beta 2023-12-14
  changelog/december2023/2023-12-14-jobs-added-serverless-jobs-is-available-in-public-beta.mdx
Labels: type: changelog

#2525 docs(srv): jobs several updates before pb MTA-3999
  menu/navigation.json
  serverless/jobs/how-to/create-job-from-external-registry.mdx
  serverless/jobs/how-to/create-job-from-scaleway-registry.mdx
  serverless/jobs/how-to/delete-job.mdx
  serverless/jobs/how-to/monitor-job.mdx
  serverless/jobs/how-to/run-job.mdx
  serverless/jobs/how-to/stop-job.mdx
  serverless/jobs/quickstart.mdx
Labels: priority: high

#2522 fix(s3): update bucket policy warning MTA-3983
  macros/storage/important-bucket-policy.mdx
Labels: priority: low

#2505 fix(rdb): block low latency
  managed-databases/postgresql-and-mysql/concepts.mdx
  managed-databases/postgresql-and-mysql/how-to/change-volume-type.mdx
  managed-databases/postgresql-and-mysql/how-to/clone-a-database-instance.mdx
  managed-databases/postgresql-and-mysql/how-to/create-a-database.mdx
  managed-databases/postgresql-and-mysql/how-to/create-read-replica.mdx
  managed-databases/postgresql-and-mysql/how-to/enable-autobackup.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-snapshots.mdx
  managed-databases/postgresql-and-mysql/how-to/upgrade-a-database.mdx
  managed-databases/postgresql-and-mysql/quickstart.mdx
  menu/navigation.json
Labels: type: maintenance, status: tech review, priority: high

#2532 feat(em): add info how to reset admin password windows
  bare-metal/elastic-metal/troubleshooting/reset-admin-password-windows-server.mdx
  menu/navigation.json
Labels: type: new content

#2533 feat(changelog): postgresql-and-mysql-added-block-storage-low-latency-fo 2023-12-14
  changelog/december2023/2023-12-14-postgresql-and-mysql-added-block-storage-low-latency-fo.mdx
Labels: type: changelog

#2534 feat(changelog): kubernetes-added-dedicated-control-plane-offers-now-ava 2023-12-15
  changelog/december2023/2023-12-15-kubernetes-added-dedicated-control-plane-offers-now-ava.mdx
Labels: type: changelog

#2530 docs(dedibox): add information to windows ipv6 docs
  dedibox-network/ipv6/how-to/configure-ipv6-windows.mdx
Labels: priority: low

#2526 fix(k8s): update tutorial with vpc info
  tutorials/get-started-deploy-kapsule/index.mdx
Labels: type: maintenance

#2538 fix(vpc): correct link to concept
  network/vpc/concepts.mdx
Labels: type: maintenance, priority: low

#2535 docs(srv): add cron reference to faas caas MTA-4011
  macros/serverless/cron-schedules.mdx
  menu/navigation.json
  serverless/containers/concepts.mdx
  serverless/containers/how-to/add-trigger-to-a-container.mdx
  serverless/containers/reference-content/cron-schedules.mdx
  serverless/functions/concepts.mdx
  serverless/functions/how-to/add-trigger-to-a-function.mdx
  serverless/functions/reference-content/cron-schedules.mdx
Labels: priority: low

#2549 feat(changelog): kubernetes-removed-managed-ingress-controllers-at-clust 2023-12-19
  changelog/december2023/2023-12-19-kubernetes-removed-managed-ingress-controllers-at-clust.mdx
Labels: type: changelog

#2548 feat(changelog): messaging-and-queuing-added-sqs-supports-json-transport 2023-12-19
  changelog/december2023/2023-12-19-messaging-and-queuing-added-sqs-supports-json-transport.mdx
Labels: type: changelog

#2537 docs(s3): add troubleshooting to object storage MTA-4016
  menu/navigation.json
  storage/object/troubleshooting/api-key-does-not-work.mdx
  storage/object/troubleshooting/index.mdx
  storage/object/troubleshooting/lost-bucket-access-bucket-policy.mdx
Labels: priority: low

#2551 feat(changelog): billing-added-api-billing-v2-beta 2023-12-20
  changelog/december2023/2023-12-20-billing-added-api-billing-v2-beta.mdx
Labels: type: changelog

#2554 fix(vpc): remove refs to regional
  containers/kubernetes/how-to/create-cluster.mdx
  containers/kubernetes/quickstart.mdx
  tutorials/install-cockroachdb-scaleway-instances/index.mdx
Labels: type: maintenance, priority: low

#2553 feat(changelog): elastic-metal-added-new-nvme-beryllium-offers 2023-12-20
  changelog/december2023/2023-12-20-elastic-metal-added-new-nvme-beryllium-offers.mdx
Labels: type: changelog

#2547 feat(tutorial): cilicon - self-hosted ci on apple silicon
  tutorials/cilicon-self-hosted-ci-on-apple-silicon/index.mdx
Labels: type: new content, status: tech review

#2552 docs(srv): add methods to deploy job MTA-4018
  menu/navigation.json
  serverless/jobs/reference-content/deploy-job.mdx
Labels: priority: low

#2504 feat(edge): add letsencrypt content and steps for custom cert
  storage/object/how-to/assets/scaleway-edge-services-cert-complete.webp
  storage/object/how-to/get-started-edge-services.mdx
  storage/object/reference-content/ssl-tls-certificate.mdx
Labels: status: ready

#2556 fix(rbd): add note pgw
  managed-databases/postgresql-and-mysql/how-to/connect-database-private-network.mdx
  network/public-gateways/troubleshooting/gw-limitations.mdx
Labels: type: maintenance, status: tech review, priority: low

#2562 fix(cxp): minor updates MTA-4048
  console/account/how-to/open-a-support-ticket.mdx
  console/account/how-to/recover-a-lost-password.mdx
  console/account/how-to/use-2fa.mdx
Labels: type: maintenance, status: tech review, priority: low

#2563 docs(tutorials): fix images
  tutorials/use-managed-redis-with-mysql/assets/scaleway-mysql-db-information.png
  tutorials/use-managed-redis-with-mysql/assets/scaleway-mysql-db-information.webp
  tutorials/use-managed-redis-with-mysql/assets/scaleway-mysql-user-information.png
  tutorials/use-managed-redis-with-mysql/assets/scaleway-mysql-user-information.webp
  tutorials/use-managed-redis-with-mysql/assets/scaleway-redis-db-information.png
  tutorials/use-managed-redis-with-mysql/assets/scaleway-redis-db-information.webp
  tutorials/use-managed-redis-with-mysql/index.mdx
Labels: type: maintenance, status: ready, priority: low

#2542 docs(compute): instances/elastic-metal/dedibox datasheet
  bare-metal/dedibox/reference-content/dedibox-datasheet.mdx
  bare-metal/dedibox/reference-content/index.mdx
  bare-metal/elastic-metal/reference-content/elastic-metal-datasheet.mdx
  bare-metal/elastic-metal/reference-content/index.mdx
  compute/instances/reference-content/choosing-instance-type.mdx
  compute/instances/reference-content/instances-datasheet.mdx
  menu/navigation.json
Labels: type: new content, do not merge

#2566 fix(ese): modfy screenshot
  storage/object/how-to/assets/scaleway-edge-services-cert-complete.webp
  storage/object/how-to/assets/scaleway-edge-services-certificate-complete.webp
  storage/object/how-to/get-started-edge-services.mdx
Labels: type: maintenance, status: ready

#2558 fix(tutorials): add messaging filter
  menu/filters.json
Labels: type: maintenance
