Repository scaleway/docs-content, pull requests merged in 2023-03, with the labels that each got.

#1379 feat(changelog): cockpit-added-devtools-for-cockpit-! 2023-03-02
  changelog/march2023/2023-03-02-cockpit-added-devtools-for-cockpit-!.mdx
Labels: changelog

#1381 fix(rdb): add info HA
  managed-databases/postgresql-and-mysql/concepts.mdx
  managed-databases/postgresql-and-mysql/how-to/create-a-database.mdx
Labels: documentation

#1385 docs(tem): added info about mx record
  managed-services/transactional-email/how-to/add-mx-record-to-your-domain.mdx
  managed-services/transactional-email/quickstart.mdx
Labels: documentation

#1289 docs(elastic-metal): add ssh information for esxi
  compute/elastic-metal/troubleshooting/assets/scaleway_enable_ssh_esxi.webp
  compute/elastic-metal/troubleshooting/enable-ssh-proxmox.mdx
  compute/elastic-metal/troubleshooting/enable-ssh-virtualization-distribution.mdx
  menu/navigation.json
Labels: do not merge

#1388 feat(changelog): iam-added-secret-manager-is-available 2023-03-06
  changelog/march2023/2023-03-06-iam-added-secret-manager-is-available.mdx
Labels: changelog

#1374 fix(rdb): upgrade version MTA-2854
  managed-databases/postgresql-and-mysql/how-to/assets/scaleway-engine-version-upgrade-pop-up.webp
  managed-databases/postgresql-and-mysql/how-to/assets/scaleway-rdb-engine-version-upgrade.webp
  managed-databases/postgresql-and-mysql/how-to/connect-database-private-network.mdx
  managed-databases/postgresql-and-mysql/how-to/upgrade-a-database.mdx
  managed-databases/postgresql-and-mysql/how-to/upgrade-version.mdx
  menu/navigation.json
Labels: do not merge

#1394 docs(k8s): KOSMOS - Update manage cluster documentation
  containers/kubernetes/how-to/assets/scaleway-kosmos-add-application.webp
  containers/kubernetes/how-to/assets/scaleway-kosmos-add-external-node.webp
  containers/kubernetes/how-to/assets/scaleway-kosmos-generate-api-key.webp
  containers/kubernetes/how-to/assets/scaleway-kubernetes-kubernetesexternalnoderegister.webp
  containers/kubernetes/how-to/edit-kosmos-cluster.mdx
Labels: do not merge

#1405 feat(changelog): object-storage-fixed-slowness-issues-are-fixed 2023-03-09
  changelog/march2023/2023-03-09-object-storage-fixed-slowness-issues-are-fixed.mdx
Labels: changelog

#1425 fix(srv): add to menu
  menu/navigation.json
Labels: documentation

#1322 MTA-2812
  compute/instances/troubleshooting/assets/scaleway-boot-modes.webp
  compute/instances/troubleshooting/bootscript-eol.mdx
  menu/navigation.json
Labels: do not merge

#1437 fix(redis): et 404
  containers/kubernetes/how-to/connect-cluster-kubectl.mdx
  managed-databases/redis/how-to/create-a-database-for-redis.mdx
Labels: documentation

#1451 feat(changelog): functions-added-serverless-offline-testing-for 2023-03-16
  changelog/march2023/2023-03-16-functions-added-serverless-offline-testing-for.mdx
Labels: changelog

#1452 docs(tem): removed outdated content and replaced it
  managed-services/assets/scaleway_filter_email_activity.webp
  managed-services/assets/scaleway_filtered_emails.webp
  managed-services/transactional-email/assets/scaleway_filter_email_activity.webp
  managed-services/transactional-email/assets/scaleway_filtered_emails.webp
  managed-services/transactional-email/how-to/manage-email-activity.mdx
Labels: documentation

#1460 docs(observability): added reference content
  menu/navigation.json
  observability/cockpit/reference-content/cockpit-limitations.mdx
  observability/cockpit/reference-content/index.mdx
Labels: documentation

#1472 docs(tutorials): kOps
  tutorials/getting-started-with-kops-on-scaleway/index.mdx
Labels: documentation

#1468 feat(vpc): vpc regional private networks doc for public beta
  faq/vpc.mdx
  menu/navigation.json
  network/public-gateways/concepts.mdx
  network/public-gateways/how-to/use-private-networks.mdx
  network/vpc/api-cli/vpc-private-beta.mdx
  network/vpc/assets/scaleway-attach-resource.webp
  network/vpc/assets/scaleway-attached-resource-list.webp
  network/vpc/assets/scaleway-create-rpn.webp
  network/vpc/assets/scaleway-delete-rpn.webp
  network/vpc/assets/scaleway-reg-pn.webp
  network/vpc/assets/scaleway-rpn-dashboard.webp
  network/vpc/assets/scaleway-rpn.webp
  network/vpc/assets/scaleway-vpc.webp
  network/vpc/concepts.mdx
  network/vpc/how-to/assets/scaleway-attach-resource.webp
  network/vpc/how-to/assets/scaleway-attached-resource-list.webp
  network/vpc/how-to/assets/scaleway-create-rpn.webp
  network/vpc/how-to/assets/scaleway-delete-rpn.webp
  network/vpc/how-to/assets/scaleway-reg-pn.webp
  network/vpc/how-to/assets/scaleway-rpn-dashboard.webp
  network/vpc/how-to/assets/scaleway-vpc.webp
  network/vpc/how-to/attach-resources-to-pn.mdx
  network/vpc/how-to/create-private-network.mdx
  network/vpc/how-to/delete-private-network.mdx
  network/vpc/quickstart.mdx
  network/vpc/troubleshooting/index.mdx
  network/vpc/troubleshooting/vpc-limitations.mdx
Labels: do not merge

#1496 feat(changelog): private-networks-added-regional-private-networks-is 2023-03-30
  changelog/march2023/2023-03-30-private-networks-added-regional-private-networks-is.mdx
Labels: changelog

#1498 fix(s3): add info MTA-2991
  storage/object/how-to/upload-files-into-a-bucket.mdx
Labels: documentation

#1493 docs(functions): add disclaimer
  serverless/functions/api-cli/fun-uploading-with-serverless-framework.mdx
  serverless/functions/reference-content/deploy-function.mdx
  serverless/functions/reference-content/local-testing.mdx
Labels: documentation
