Repository scaleway/docs-content, pull requests merged in 2024-02, with the labels that each got.

#2667 [APS] Tutorial tart
  tutorials/run-manage-linux-vm-on-apple-silicon-tart/assets/tart-run-sonoma.webp
  tutorials/run-manage-linux-vm-on-apple-silicon-tart/assets/tart-run-ubuntu.webp
  tutorials/run-manage-linux-vm-on-apple-silicon-tart/index.mdx
Labels: priority: low

#2612 docs(tutorials): add TEMxServerless tutorial
  tutorials/send-emails-tem-serverless-framework/index.mdx
Labels: type: new content

#2686 feat(changelog): kubernetes-deprecated-force-internal-ip-annotation-in-k 2024-02-05
  changelog/february2024/2024-02-05-kubernetes-deprecated-force-internal-ip-annotation-in-k.mdx
Labels: type: changelog

#2691 feat(changelog): kubernetes-added-kubernetes-version-129-is-now-availabl 2024-02-06
  changelog/february2024/2024-02-06-kubernetes-added-kubernetes-version-129-is-now-availabl.mdx
Labels: type: changelog

#2689 docs(srv): update quickstarts MTA-4168
  menu/navigation.json
  serverless/containers/quickstart.mdx
  serverless/containers/troubleshooting/common-errors.mdx
  serverless/functions/quickstart.mdx
  serverless/jobs/quickstart.mdx
Labels: status: tech review, priority: low

#2631 docs(sem): add secret protection step in different docs
  identity-and-access-management/secret-manager/concepts.mdx
  identity-and-access-management/secret-manager/how-to/create-folder.mdx
  identity-and-access-management/secret-manager/how-to/create-secret.mdx
  identity-and-access-management/secret-manager/how-to/create-version.mdx
  identity-and-access-management/secret-manager/quickstart.mdx
Labels: type: new content

#2644 docs(tutorials): add Dagster x Jobs tutorial MTA-4085
  menu/filters.json
  tutorials/dagster-serverless-jobs/assets/scaleway-dagster-materialize.webp
  tutorials/dagster-serverless-jobs/assets/scaleway-dagster-preview.webp
  tutorials/dagster-serverless-jobs/assets/scaleway-dagster-run-list.webp
  tutorials/dagster-serverless-jobs/assets/scaleway-dagster-run.webp
  tutorials/dagster-serverless-jobs/assets/scaleway-dagster-ui.webp
  tutorials/dagster-serverless-jobs/index.mdx
  tutorials/k8s-velero-backup/index.mdx
Labels: priority: low

#2703 docs(review): docs content review
  containers/kubernetes/how-to/access-kubernetes-dashboard.mdx
  containers/kubernetes/how-to/change-container-runtime-interface.mdx
  containers/kubernetes/how-to/monitor-cluster.mdx
  dedibox-console/cpanel-hosting/reference-content.mdx
  dedibox-network/network/how-to/configure-network-netplan.mdx
  dedibox-network/network/how-to/subscribe-to-jmrp.mdx
  dedibox-network/network/reference-content/anti-ddos.mdx
  dedibox-network/rpn/how-to/configure-jumboframes.mdx
  dedibox-network/rpn/how-to/configure-rpnv1-gateway.mdx
  dedibox-network/rpn/how-to/configure-rpnv2.mdx
  dedibox-network/rpn/how-to/connect-rpn-san-windows.mdx
  dedibox-network/rpn/how-to/connect-rpn-san.mdx
  dedibox-network/rpn/how-to/mount-rpn-san-linux.mdx
  dedibox-network/rpn/how-to/use-rpn-san-esxi-v7.mdx
  dedibox-network/rpn/how-to/use-rpn-san-esxi.mdx
  dedibox-network/rpn/how-to/use-rpn-vpn.mdx
  managed-databases/document-database/how-to/add-a-database.mdx
  managed-databases/document-database/how-to/add-users.mdx
  managed-databases/document-database/how-to/clone-a-database-instance.mdx
  managed-databases/document-database/how-to/configure-advanced-settings.mdx
  managed-databases/document-database/how-to/connect-database-instance.mdx
  managed-databases/document-database/how-to/connect-database-private-network.mdx
  managed-databases/document-database/how-to/create-a-database-instance.mdx
  managed-databases/document-database/how-to/create-read-replica.mdx
  managed-databases/document-database/how-to/delete-a-database-instance.mdx
  managed-databases/document-database/how-to/delete-database.mdx
  managed-databases/document-database/how-to/enable-autobackup.mdx
  managed-databases/document-database/how-to/manage-allowed-ip-addresses.mdx
  managed-databases/document-database/how-to/manage-permissions.mdx
  managed-databases/document-database/how-to/manage-read-replica.mdx
  managed-databases/document-database/how-to/manage-snapshots.mdx
  managed-databases/document-database/how-to/renew-tls-certificate.mdx
  managed-databases/document-database/how-to/upgrade-a-database-instance.mdx
  managed-databases/postgresql-and-mysql/how-to/add-a-database.mdx
  managed-databases/postgresql-and-mysql/how-to/delete-db.mdx
  managed-services/webhosting/reference-content/cpanel-reference-content.mdx
  network/domains-and-dns/how-to/add-external-domain.mdx
  network/domains-and-dns/how-to/configure-autorenew.mdx
  network/domains-and-dns/how-to/configure-dns-zones.mdx
  network/domains-and-dns/how-to/configure-dnssec-internal-domain.mdx
  network/domains-and-dns/how-to/manage-external-domain.mdx
  network/domains-and-dns/how-to/manage-nameservers-internal-domain.mdx
  network/domains-and-dns/how-to/register-internal-domain.mdx
  network/domains-and-dns/how-to/unlock-internal-domain.mdx
  network/load-balancer/how-to/monitor-lb-cockpit.mdx
  serverless/containers/how-to/deploy-a-container-from-external-container-registry.mdx
  serverless/containers/how-to/deploy-a-container-from-scaleway-container-registry.mdx
  serverless/containers/how-to/manage-a-container.mdx
  serverless/containers/how-to/secure-a-container.mdx
  serverless/containers/quickstart.mdx
  serverless/functions/how-to/secure-a-function.mdx
  serverless/sql-databases/reference-content/known-differences.mdx
  serverless/sql-databases/reference-content/serverless-sql-databases-overview.mdx
  tutorials/configure-smtp-relay-tem/index.mdx
  tutorials/create-esxi-cluster-dedibox/index.mdx
  tutorials/get-started-python/index.mdx
  tutorials/install-docker-ubuntu-jammy-jellyfish/index.mdx
Labels: type: maintenance

#2708 docs(srv): remove obsolete page MTA-4182
  menu/navigation.json
  serverless/containers/reference-content/containers-image-configuration.mdx
Labels: priority: low

#2711 docs(cockpit): add new pricing plans information
  faq/cockpit.mdx
  observability/cockpit/reference-content/cockpit-limitations.mdx
Labels: type: maintenance

#2710 [INS] Tutorial - Ampere-Optimized AI frameworks on COP-ARM
  tutorials/setup-ampere-ai-framework-arm-instances/assets/scaleway-ampere-ai-pytorch.webp
  tutorials/setup-ampere-ai-framework-arm-instances/index.mdx
Labels: type: new content

#2705 fix(es): fix errors
  storage/object/reference-content/cname-record.mdx
  storage/object/reference-content/ssl-tls-certificate.mdx
Labels: type: maintenance, priority: low

#2706 [K8S] update version support policy v1.29
  containers/kubernetes/reference-content/version-support-policy.mdx
Labels: do not merge

#2698 [K8S] Changelog - Kubernetes version 1.29
  changelog/february2024/2024-02-06-kubernetes-added-kubernetes-version-129-is-now-availabl.mdx
Labels: do not merge

#2715 docs(changelog): serverless compute changelog 2024/02/12
  changelog/february2024/2024-02-12-containers-deprecated-deprecation-of-logs-endpoint.mdx
  changelog/february2024/2024-02-12-functions-deprecated-deprecation-of-logs-endpoint.mdx
Labels: type: changelog

#2714 [GEN] Docs content review
  dedibox-network/network/reference-content/anti-ddos.mdx
  dedibox-network/network/troubleshooting.mdx
  dedibox-network/rpn/how-to/use-rpn-san-proxmox.mdx
  dedibox-network/rpn/quickstart.mdx
  serverless/sql-databases/how-to/add-users.mdx
  serverless/sql-databases/how-to/configure-autoscaling.mdx
  serverless/sql-databases/how-to/create-a-database.mdx
  serverless/sql-databases/how-to/delete-a-database.mdx
  serverless/sql-databases/how-to/manage-permissions.mdx
  serverless/sql-databases/quickstart.mdx
Labels: type: maintenance

#2702 docs(sdb): update faq and ref content MTA-4172
  faq/serverless-sql-databases.mdx
  menu/navigation.json
  serverless/sql-databases/concepts.mdx
  serverless/sql-databases/how-to/add-users.mdx
  serverless/sql-databases/how-to/configure-autoscaling.mdx
  serverless/sql-databases/how-to/connect-to-a-database.mdx
  serverless/sql-databases/how-to/create-a-database.mdx
  serverless/sql-databases/how-to/delete-a-database.mdx
  serverless/sql-databases/how-to/manage-backups.mdx
  serverless/sql-databases/how-to/manage-permissions.mdx
  serverless/sql-databases/quickstart.mdx
  serverless/sql-databases/reference-content/known-differences.mdx
  serverless/sql-databases/reference-content/serverless-sql-databases-overview.mdx
  serverless/sql-databases/troubleshooting/connection-errors.mdx
  serverless/sql-databases/troubleshooting/failing-backup-restore.mdx
Labels: priority: low

#2724 feat(doc): add product pages for NW Core, NW Edge and M&Q
  network/load-balancer/index.mdx
  network/public-gateways/index.mdx
  network/vpc/index.mdx
  serverless/messaging/index.mdx
Labels: type: new content

#2726 fix(lb): add more info about S3 failover
  network/load-balancer/concepts.mdx
  network/load-balancer/how-to/set-up-s3-failover.mdx
  network/load-balancer/reference-content/configuring-backends.mdx
Labels: type: maintenance

#2723 fix(gen): add product pages
  containers/container-registry/index.mdx
  containers/index.mdx
  identity-and-access-management/iam/index.mdx
  labs/ipfs-naming/index.mdx
  labs/ipfs-pinning/index.mdx
  managed-databases/document-database/index.mdx
  managed-databases/postgresql-and-mysql/index.mdx
  managed-databases/redis/index.mdx
Labels: type: new content, status: tech review, priority: medium

#2728 feat(doc): add S3, SRV & SDB product pages MTA-4099
  serverless/containers/index.mdx
  serverless/functions/index.mdx
  serverless/jobs/index.mdx
  serverless/sql-databases/index.mdx
  storage/object/index.mdx
Labels: type: new content

#2736 Update use-billing-alerts.mdx
  console/account/how-to/use-billing-alerts.mdx
Labels: priority: low

#2734 fix(doc): fix product page wording
  network/load-balancer/index.mdx
  network/vpc/index.mdx
  serverless/messaging/index.mdx
Labels: type: maintenance

#2735 add(docs): add new index pages
  identity-and-access-management/secret-manager/index.mdx
  managed-services/transactional-email/index.mdx
  network/domains-and-dns/index.mdx
  observability/cockpit/index.mdx
  storage/block/index.mdx
Labels: type: new content

#2744 docs(changelog): webhosting email forwarding enabled
  changelog/february2024/2024-02-15-webhosting-added-email-forwading-enabled.mdx
  menu/changelogs.json
Labels: type: changelog

#2745 Update manage-billing-information.mdx
  console/account/how-to/manage-billing-information.mdx
Labels: priority: low

#2747 feat(changelog): webhosting-added-dedicated-ip-for-web-hosting 2024-02-15
  changelog/february2024/2024-02-15-webhosting-added-dedicated-ip-for-web-hosting.mdx
Labels: type: changelog

#2731 fix(lb): reformat balancing method info
  network/load-balancer/reference-content/configuring-backends.mdx
Labels: type: maintenance

#2717 fix(es): add more info about proxy protocol
  network/load-balancer/concepts.mdx
  network/load-balancer/reference-content/configuring-backends.mdx
  network/load-balancer/reference-content/configuring-health-checks.mdx
Labels: type: maintenance

#2716 docs(k8s): add information for sg
  containers/kubernetes/reference-content/lb-ingress-controller.mdx
Labels: type: maintenance, priority: low

#2751 feat(navbar): New file for main links
  blocks/mainLinks.json
Labels: type: developer

#2756 docs(s3): update bucket creation with use case MTA-3205
  storage/object/how-to/create-a-bucket.mdx
  storage/object/quickstart.mdx
Labels: priority: high

#2754 docs(wbh): add changelog to webhosting index
  managed-services/webhosting/index.mdx
Labels: priority: low

#2753 fix(lb): add info for certificates
  network/load-balancer/how-to/add-certificate.mdx
  network/load-balancer/reference-content/ssl-bridging-offloading-passthrough.mdx
Labels: type: maintenance

#2752 fix(docs): modify changelog vpc category
  changelog/july2023/2023-07-18-private-networks-changed-virtual-private-cloud-is.mdx
  changelog/march2023/2023-03-30-private-networks-added-regional-private-networks-is.mdx
  changelog/network/june2022/2022-06-13-private-networks-added-smtp-public-gw.mdx
  menu/changelogs.json
  network/vpc/index.mdx
Labels: type: maintenance

#2758 [Secret-Manager]: add ephemeral policy info + new concepts + ephemeral policy steps
  identity-and-access-management/secret-manager/concepts.mdx
  identity-and-access-management/secret-manager/how-to/create-secret.mdx
  identity-and-access-management/secret-manager/how-to/create-version.mdx
  identity-and-access-management/secret-manager/how-to/delete-secret.mdx
  identity-and-access-management/secret-manager/how-to/manage-secret.mdx
  identity-and-access-management/secret-manager/how-to/manage-version.mdx
  identity-and-access-management/secret-manager/quickstart.mdx
Labels: priority: high

#2738 Draft: feat(mnq): add sns subscriptions and remove fifo
  faq/messaging-and-queuing.mdx
  menu/navigation.json
  serverless/messaging/concepts.mdx
  serverless/messaging/how-to/assets/scaleway-create-subscription.webp
  serverless/messaging/how-to/create-manage-queues.mdx
  serverless/messaging/how-to/create-manage-subscriptions.mdx
  serverless/messaging/how-to/create-manage-topics.mdx
  serverless/messaging/how-to/monitor-mnq-cockpit.mdx
  serverless/messaging/quickstart.mdx
  serverless/messaging/reference-content/nats-overview.mdx
  serverless/messaging/reference-content/sns-overview.mdx
  serverless/messaging/reference-content/sqs-overview.mdx
Labels: do not merge, status: draft

#2760 fix(ipfs): typo in CID concept
  labs/ipfs-pinning/concepts.mdx
Labels: type: maintenance

#2764 docs(gen): add h1 to indexes
  bare-metal/apple-silicon/index.mdx
  bare-metal/dedibox/index.mdx
  bare-metal/elastic-metal/index.mdx
  compute/gpu/index.mdx
  compute/instances/index.mdx
  containers/container-registry/index.mdx
  containers/kubernetes/index.mdx
  dedibox-console/account/index.mdx
  dedibox-network/dns/index.mdx
  dedibox-network/domains/index.mdx
  dedibox-network/ip-failover/index.mdx
  dedibox-network/ipv6/index.mdx
  dedibox-network/network/index.mdx
  dedibox-network/rpn/index.mdx
  dedibox/dedicated-servers/index.mdx
  dedibox/hardware/index.mdx
  dedibox/kvm-over-ip/index.mdx
  identity-and-access-management/iam/index.mdx
  identity-and-access-management/secret-manager/index.mdx
  labs/ipfs-naming/index.mdx
  labs/ipfs-pinning/index.mdx
  managed-databases/document-database/index.mdx
  managed-databases/postgresql-and-mysql/index.mdx
  managed-databases/redis/index.mdx
  managed-services/iot-hub/index.mdx
  managed-services/transactional-email/index.mdx
  managed-services/webhosting/index.mdx
  network/domains-and-dns/index.mdx
  network/load-balancer/index.mdx
  network/public-gateways/index.mdx
  observability/cockpit/index.mdx
  serverless/containers/index.mdx
  serverless/functions/index.mdx
  serverless/jobs/index.mdx
  serverless/messaging/index.mdx
  serverless/sql-databases/index.mdx
  storage/block/index.mdx
  storage/object/index.mdx
Labels: type: bug, priority: medium

#2763 feat(changelog): object-storage-added-object-storage-now-offers-sla 2024-02-20
  changelog/february2024/2024-02-20-object-storage-added-object-storage-now-offers-sla.mdx
Labels: type: changelog

#2769 fix(s3): update faq MTA-4217
  faq/objectstorage.mdx
Labels: priority: low

#2766 add(tem): added smtp extensions supported
  managed-services/transactional-email/reference-content/tem-capabilities-and-limits.mdx
Labels: type: new content

#2774 feat(changelog): kubernetes-fixed-dns-fix-to-resolve-occasional-resoluti 2024-02-20
  changelog/february2024/2024-02-20-kubernetes-fixed-dns-fix-to-resolve-occasional-resoluti.mdx
Labels: type: changelog

#2771 feat(changelog): object-storage-added-object-storage-introduces-bucket-u 2024-02-20
  changelog/february2024/2024-02-20-object-storage-added-object-storage-introduces-bucket-u.mdx
Labels: type: changelog

#2780 fix(es): update errors
  storage/object/reference-content/cname-record.mdx
Labels: type: maintenance

#2761 feat(mnq): add regionality, subscriptions & no-FIFO
  console/account/reference-content/products-availability.mdx
  faq/messaging-and-queuing.mdx
  menu/navigation.json
  serverless/messaging/assets/scaleway-activate-mandq.webp
  serverless/messaging/assets/scaleway-activate-mnq.webp
  serverless/messaging/assets/scaleway-create-queue.webp
  serverless/messaging/assets/scaleway-create-sqs-queue.webp
  serverless/messaging/assets/scaleway-create-subscription.webp
  serverless/messaging/assets/scaleway-create-topic.webp
  serverless/messaging/assets/scaleway-topic-settings.webp
  serverless/messaging/concepts.mdx
  serverless/messaging/how-to/assets/scaleway-activate-mandq.webp
  serverless/messaging/how-to/assets/scaleway-activate-mnq.webp
  serverless/messaging/how-to/assets/scaleway-confirm-subscription.webp
  serverless/messaging/how-to/assets/scaleway-create-nats-account .webp
  serverless/messaging/how-to/assets/scaleway-create-queue.webp
  serverless/messaging/how-to/assets/scaleway-create-sqs-queue.webp
  serverless/messaging/how-to/assets/scaleway-create-subscription.webp
  serverless/messaging/how-to/assets/scaleway-create-topic.webp
  serverless/messaging/how-to/assets/scaleway-queue-overview.webp
  serverless/messaging/how-to/assets/scaleway-topic-settings.webp
  serverless/messaging/how-to/create-credentials.mdx
  serverless/messaging/how-to/create-manage-queues.mdx
  serverless/messaging/how-to/create-manage-subscriptions.mdx
  serverless/messaging/how-to/create-manage-topics.mdx
  serverless/messaging/how-to/create-namespace.mdx
  serverless/messaging/how-to/deactivate-delete-messaging.mdx
  serverless/messaging/how-to/delete-namespace.mdx
  serverless/messaging/how-to/get-started.mdx
  serverless/messaging/how-to/manage-credentials.mdx
  serverless/messaging/how-to/migrate-to-new-mnq.mdx
  serverless/messaging/how-to/monitor-mnq-cockpit.mdx
  serverless/messaging/index.mdx
  serverless/messaging/quickstart.mdx
  serverless/messaging/reference-content/migration.mdx
  serverless/messaging/reference-content/nats-overview.mdx
  serverless/messaging/reference-content/sns-overview.mdx
  serverless/messaging/reference-content/sqs-overview.mdx
  tutorials/create-serverless-scraping/index.mdx
  tutorials/large-messages/index.mdx
  tutorials/transform-bucket-images-triggers-functions-set-up/index.mdx
Labels: type: new content

#2776 feat(cockpit): add information about the alert manager
  observability/cockpit/concepts.mdx
  observability/cockpit/how-to/configure-alerts-for-scw-resources.mdx
Labels: type: maintenance

#2768 fix(lb): improve info for max simultaneous connections
  network/load-balancer/reference-content/configuring-backends.mdx
Labels: type: maintenance

#2784 feat(changelog): messaging-and-queuing-added-sns-subscriptions-creation- 2024-02-22
  changelog/february2024/2024-02-22-messaging-and-queuing-added-sns-subscriptions-creation-.mdx
Labels: type: changelog

#2785 feat(changelog): messaging-and-queuing-added-messaging-and-queuing-is-av 2024-02-22
  changelog/february2024/2024-02-22-messaging-and-queuing-added-messaging-and-queuing-is-av.mdx
Labels: type: changelog

#2767 fix(lb): improve info for HTTP health checks
  network/load-balancer/reference-content/configuring-health-checks.mdx
Labels: type: maintenance

#2781 add(cockpit): added info on pricing plan pricing
  faq/cockpit.mdx
Labels: type: maintenance

#2787 docs(tutorial): fix review date
  tutorials/collecting-visualizing-logs-elastic-stack/index.mdx
Labels: priority: low

#2788 docs(gen): contribute page revamp
  assets/scaleway-write-for-community-2x.webp
  contribute.mdx
Labels: type: maintenance, priority: low

#2772 docs(SRV): add contextual options to job run MTA-4216
  serverless/jobs/how-to/run-job.mdx
Labels: do not merge

#2782 docs(srv): add ephemeral storage concept MTA-4221
  serverless/jobs/concepts.mdx
Labels: status: tech review, priority: low

#2795 [TUTORIAL] remove pulumi tutorials
  serverless/functions/index.mdx
  tutorials/pulumi-functions/assets/functions.webp
  tutorials/pulumi-functions/assets/mqn.webp
  tutorials/pulumi-functions/assets/read-metric.webp
  tutorials/pulumi-functions/assets/scaleway_pulumi.webp
  tutorials/pulumi-functions/assets/write-metric.webp
  tutorials/pulumi-functions/index.mdx
  tutorials/pulumi-quickstart/assets/pulumi-home.webp
  tutorials/pulumi-quickstart/assets/pulumi-scaleway-kapsule-pool-add-done.webp
  tutorials/pulumi-quickstart/assets/pulumi-scaleway-kapsule-pool-add.webp
  tutorials/pulumi-quickstart/assets/pulumi-scaleway-kapsule-pool.webp
  tutorials/pulumi-quickstart/assets/pulumi-scaleway-kapsule.webp
  tutorials/pulumi-quickstart/index.mdx
Labels: type: maintenance

#2798 docs(rdb): review MTA-4238
  managed-databases/postgresql-and-mysql/how-to/connect-database-instance.mdx
Labels: type: maintenance, status: ready, priority: low

#2789 docs(bil): added reference content MTA-4071
  console/account/concepts.mdx
  console/billing/how-to/redeem-voucher-code.mdx
  console/billing/how-to/use-billing-alerts.mdx
  console/billing/reference-content/assets/scaleway-invoice-1.webp
  console/billing/reference-content/assets/scaleway-invoice-2.webp
  console/billing/reference-content/index.mdx
  console/billing/reference-content/reading-an-invoice.mdx
  faq/billing.mdx
  menu/navigation.json
Labels: status: draft

#2740 [Secret-Manager]: documentation updates for new API
  identity-and-access-management/iam/reference-content/permission-sets.mdx
  identity-and-access-management/secret-manager/api-cli/create-secret-path-migrate.mdx
  identity-and-access-management/secret-manager/api-cli/generate-secret-password.mdx
  identity-and-access-management/secret-manager/api-cli/migrate-secrets-in-folders.mdx
  identity-and-access-management/secret-manager/concepts.mdx
  identity-and-access-management/secret-manager/how-to/create-folder.mdx
  identity-and-access-management/secret-manager/how-to/create-secret.mdx
  identity-and-access-management/secret-manager/how-to/create-version.mdx
  identity-and-access-management/secret-manager/how-to/delete-folder.mdx
  identity-and-access-management/secret-manager/how-to/delete-secret.mdx
  identity-and-access-management/secret-manager/how-to/delete-version.mdx
  identity-and-access-management/secret-manager/how-to/manage-secret.mdx
  identity-and-access-management/secret-manager/how-to/manage-version.mdx
  identity-and-access-management/secret-manager/quickstart.mdx
  identity-and-access-management/secret-manager/reference-content/secret-manager-capabilities-limits.mdx
  menu/navigation.json
  tutorials/sem-terraform/assets/scaleway-database-secret.webp
  tutorials/sem-terraform/index.mdx
Labels: type: maintenance

#2804 docs(sem): fix issues
  identity-and-access-management/secret-manager/concepts.mdx
  identity-and-access-management/secret-manager/how-to/manage-secret.mdx
  identity-and-access-management/secret-manager/how-to/manage-version.mdx
  managed-services/transactional-email/concepts.mdx
Labels: type: bug

#2808 chore(ddx): fix numbered steps
  dedibox/dedicated-servers/how-to/change-root-password.mdx
  dedibox/dedicated-servers/how-to/install-a-server.mdx
  dedibox/dedicated-servers/how-to/order-a-server.mdx
Labels: type: maintenance

#2779 fix(es): add info for auto-cname creation
  storage/object/how-to/get-started-edge-services.mdx
  storage/object/reference-content/cname-record.mdx
Labels: type: maintenance

#2811 feat(changelog): secret-manager-changed-a-new-version-of-secret-manager- 2024-02-28
  changelog/february2024/2024-02-28-secret-manager-changed-a-new-version-of-secret-manager-.mdx
Labels: type: changelog

#2810 fix(sdb): fix broken link MTA-4251
  faq/serverless-sql-databases.mdx
Labels: priority: low

#2646 docs(bil): Billing feature branch MTA-4067
  bare-metal/dedibox/how-to/link-dedibox-account.mdx
  console/account/concepts.mdx
  console/account/how-to/configure-support-plans.mdx
  console/account/how-to/create-an-account.mdx
  console/account/how-to/enforce-mfa.mdx
  console/account/how-to/open-a-support-ticket.mdx
  console/account/how-to/verify-identity.mdx
  console/billing/additional-content/assets/scaleway-invoice-1.webp
  console/billing/additional-content/assets/scaleway-invoice-2.webp
  console/billing/additional-content/index.mdx
  console/billing/additional-content/reading-an-invoice.mdx
  console/billing/concepts.mdx
  console/billing/how-to/add-billing-contact.mdx
  console/billing/how-to/add-payment-method.mdx
  console/billing/how-to/assets/scaleway-billing-alerts-warning.webp
  console/billing/how-to/change-billing-information.mdx
  console/billing/how-to/change-payment-method.mdx
  console/billing/how-to/download-an-invoice.mdx
  console/billing/how-to/index.mdx
  console/billing/how-to/redeem-voucher-code.mdx
  console/billing/how-to/use-billing-alerts.mdx
  console/billing/index.mdx
  console/billing/quickstart.mdx
  faq/billing.mdx
  faq/dedibox-in-scaleway-console.mdx
  menu/navigation.json
Labels: type: new content, status: ready, priority: medium

#2814 feat(changelog): billing-changed-new-billing-space 2024-02-29
  changelog/february2024/2024-02-29-billing-changed-new-billing-space.mdx
Labels: type: changelog
