Repository scaleway/docs-content, pull requests merged in 2024-04, with the labels that each got.

#2992 docs(srv): add jobs troubleshooting and limitations MTA-4365
  menu/navigation.json
  serverless/jobs/reference-content/jobs-limitations.mdx
  serverless/jobs/troubleshooting/common-errors.mdx
Labels: status: tech review, priority: low, status: doc review

#3004 Update navigation.json to fix prettier error
  menu/navigation.json
Labels: priority: high

#2994 docs(gen): Update contributing guidelines with fork instructions
  docs/CONTRIBUTING.md
Labels: priority: low, status: doc review

#3007 fix(tem): content review
  managed-services/transactional-email/troubleshooting/delist-domain.mdx
Labels: type: maintenance

#3013 feat(labs): review MTA-4402
  labs/ipfs-pinning/reference-content/install-ipfs-desktop.mdx
Labels: type: maintenance, priority: low, status: doc review

#3009 feat(changelog): block-storage-added-low-latency-offers-integration-in-c 2024-04-03
  changelog/april2024/2024-04-03-block-storage-added-low-latency-offers-integration-in-c.mdx
Labels: type: changelog

#3017 docs(gen): minor typos, spacing and casing correction
  changelog/december2023/2023-12-01-object-storage-changed-the-75gb-free-tier-is-replaced-b.mdx
  changelog/kubernetes/october2022/2022-10-06-deploying-ingress-controller-in-kubernetes-cluster-deprecated.mdx
  changelog/may2023/2023-05-15-kubernetes-added-kubernetes-kapsule-is-now.mdx
  changelog/october2023/2023-10-18-kubernetes-added-disable-public-ips-of-your-node-pools-.mdx
  containers/kubernetes/reference-content/secure-cluster-with-private-network.mdx
  faq/account.mdx
  faq/billing.mdx
  faq/blockstorage.mdx
  faq/cockpit.mdx
  faq/containerregistry.mdx
  faq/databases-for-postgresql-and-mysql.mdx
  faq/domains-and-dns.mdx
  faq/elastic-metal.mdx
  faq/iothub.mdx
  faq/messaging-and-queuing.mdx
  faq/objectstorage.mdx
  faq/private-networks.mdx
  faq/serverless-containers.mdx
  faq/serverless-jobs.mdx
  faq/transactional-email.mdx
  storage/block/how-to/create-a-snapshot.mdx
  storage/block/how-to/create-volume-from-snapshot.mdx
  storage/block/how-to/delete-a-snapshot.mdx
  storage/block/how-to/delete-a-volume.mdx
  storage/block/how-to/detach-a-volume.mdx
  storage/block/how-to/increase-block-volume.mdx
  storage/object/index.mdx
  storage/object/troubleshooting/api-key-does-not-work.mdx
  tutorials/deploy-laravel-on-serverless-containers/index.mdx
  tutorials/use-managed-redis-with-mysql/index.mdx
Labels: type: maintenance, priority: low

#3006 fix(ddx): fixed typo
  dedibox-network/network/index.mdx
Labels: priority: low

#3010 chore(ddx): update docs
  ai-data/llm-inference/how-to/create-deployment.mdx
  bare-metal/dedibox/how-to/activate-ipv6-block.mdx
  compute/gpu/reference-content/understanding-nvidia-nemo.mdx
  containers/kubernetes/reference-content/kubernetes-control-plane-offers.mdx
  dedibox/hardware/how-to/configure-dell-perc-h200.mdx
  dedibox/hardware/how-to/configure-dell-perc-h310.mdx
  dedibox/hardware/how-to/configure-dell-perc-h700.mdx
  dedibox/hardware/how-to/configure-dell-perc-h800.mdx
  dedibox/hardware/how-to/configure-hp-smart-array-p410.mdx
  dedibox/hardware/how-to/configure-hp-smart-array-p420.mdx
  dedibox/hardware/troubleshooting/diagnose-defective-disk.mdx
Labels: type: maintenance, status: doc review

#3002 fix(vpc): review
  network/vpc/how-to/attach-resources-to-pn.mdx
  network/vpc/how-to/create-private-network.mdx
  network/vpc/how-to/delete-private-network.mdx
  network/vpc/troubleshooting/vpc-limitations.mdx
Labels: type: maintenance

#3025 feat(changelog): load-balancers-added-public-ipv6-addresses-are-now-avai 2024-04-04
  changelog/april2024/2024-04-04-load-balancers-added-public-ipv6-addresses-are-now-avai.mdx
Labels: type: changelog

#3022 feat(changelog): webhosting-added-web-hosting-migration-between-online-a 2024-04-04
  changelog/april2024/2024-04-04-webhosting-added-web-hosting-migration-between-online-a.mdx
Labels: type: changelog

#3021 feat(changelog): webhosting-added-all-regions-are-now-available 2024-04-04
  changelog/april2024/2024-04-04-webhosting-added-all-regions-are-now-available.mdx
Labels: type: changelog

#3023 feat(changelog): cockpit-added-transactional-email-dashboard-is-now-avai 2024-04-04
  changelog/april2024/2024-04-04-cockpit-added-transactional-email-dashboard-is-now-avai.mdx
Labels: type: changelog

#3020 feat(changelog): cockpit-added-metrics-volume-discounts 2024-04-04
  changelog/april2024/2024-04-04-cockpit-added-metrics-degrissivity.mdx
Labels: type: changelog

#3019 feat(changelog): cockpit-changed-traces-are-now-in-ga 2024-04-04
  changelog/april2024/2024-04-04-cockpit-changed-traces-are-now-in-ga.mdx
Labels: type: changelog

#3029 docs(sem): fixes
  identity-and-access-management/secret-manager/api-cli/create-secret-with-type.mdx
Labels: type: bug

#3000 docs(s3): update object restore procedure MTA-4395
  storage/object/how-to/restore-an-object-from-glacier.mdx
Labels: priority: low

#3033 fix(s3): remove old markup that breaks build
  storage/object/how-to/restore-an-object-from-glacier.mdx
Labels: priority: critical, status: doc review

#3027 feat(k8s): doc autoheal feature
  containers/kubernetes/reference-content/using-kapsule-autoheal-feature.mdx
  menu/navigation.json
Labels: do not merge, status: tech review

#3032 feat(changelog): postgresql-and-mysql-added-block-low-latency-general-av 2024-04-05
  changelog/april2024/2024-04-05-postgresql-and-mysql-added-block-low-latency-general-av.mdx
Labels: type: changelog

#3031 feat(changelog): postgresql-and-mysql-added-complete-db-pro2-offer-avail 2024-04-05
  changelog/april2024/2024-04-05-postgresql-and-mysql-added-complete-db-pro2-offer-avail.mdx
Labels: type: changelog

#2851 docs(SRV): rework transform images tutorial MTA-4240
  tutorials/transform-bucket-images-triggers-functions-deploy/index.mdx
  tutorials/transform-bucket-images-triggers-functions-set-up/index.mdx
Labels: status: tech review, priority: low, status: doc review

#3037 fix(k8s): add missing link
  menu/navigation.json
Labels: type: maintenance, priority: low, status: doc review

#3042 feat(k8s): add link
  containers/kubernetes/concepts.mdx
Labels: type: maintenance, status: doc review

#3044 [K8S] Update docs MTA-4461
  containers/kubernetes/concepts.mdx
  containers/kubernetes/how-to/change-container-runtime-interface.mdx
  menu/navigation.json
Labels: type: maintenance, status: doc review

#3041 chore(tutorial): content review
  tutorials/backup-dedicated-server-s3-duplicity/index.mdx
  tutorials/deploy-nextcloud-s3/index.mdx
  tutorials/glusterfs/index.mdx
  tutorials/install-cockroachdb-scaleway-instances/index.mdx
  tutorials/setup-lamp-stack-ubuntu2204/index.mdx
  tutorials/setup-moodle/index.mdx
  tutorials/setup-nginx-reverse-proxy-s3/index.mdx
  tutorials/socket-io/index.mdx
  tutorials/strapi/index.mdx
Labels: type: maintenance, status: doc review

#3038 chore(review): docs content review
  bare-metal/dedibox/how-to/attach-detach-failover-ip.mdx
  bare-metal/dedibox/how-to/configure-failover-ip.mdx
  bare-metal/dedibox/how-to/configure-ipv6-dedibox.mdx
  bare-metal/dedibox/how-to/configure-reverse-failover-ip.mdx
  bare-metal/dedibox/how-to/install-dedibox.mdx
  bare-metal/dedibox/how-to/link-dedibox-account.mdx
  bare-metal/dedibox/how-to/modify-server-options.mdx
  bare-metal/dedibox/how-to/order-dedibox.mdx
  bare-metal/dedibox/how-to/order-failover-ip.mdx
  bare-metal/dedibox/how-to/reinstall-dedibox.mdx
  bare-metal/dedibox/how-to/terminate-dedibox.mdx
  bare-metal/dedibox/how-to/use-rescue-mode.mdx
  compute/gpu/troubleshooting/updating-gpu-instance-with-cloud-init.mdx
  compute/instances/api-cli/managing-instance-snapshot-via-cli.mdx
  containers/kubernetes/reference-content/secure-cluster-with-private-network.mdx
  dedibox-network/ip-failover/how-to/configure-freebsd.mdx
Labels: type: maintenance, status: doc review

#3043 fix(srv): typos in serverless containers doc
  serverless/containers/how-to/add-trigger-to-a-container.mdx
Labels: priority: low, status: doc review

#3039 feat(ins): add instructions for backup via cli
  compute/instances/api-cli/creating-backups.mdx
Labels: type: maintenance, status: doc review

#3047 fix(mnq): review doc
  serverless/messaging/api-cli/connect-aws-cli.mdx
  serverless/messaging/api-cli/nats-cli.mdx
  serverless/messaging/api-cli/python-node-sns.mdx
  serverless/messaging/api-cli/python-node-sqs.mdx
  serverless/messaging/how-to/monitor-mnq-cockpit.mdx
  serverless/messaging/reference-content/limitations.mdx
  serverless/messaging/reference-content/nats-overview.mdx
  serverless/messaging/reference-content/sns-overview.mdx
  serverless/messaging/reference-content/sqs-overview.mdx
Labels: type: maintenance, status: doc review

#3050 feat(ins): add instructions for cli
  compute/instances/api-cli/migrating-instances.mdx
Labels: type: maintenance, Documentation Request, status: doc review

#3052 [INS] update security group docs
  compute/instances/concepts.mdx
  compute/instances/how-to/use-security-groups.mdx
Labels: type: maintenance, status: doc review

#2976 feat(changelog): kubernetes-changed-routed-ips-are-now-default-on-kubern 2024-03-26
  changelog/march2024/2024-03-26-kubernetes-changed-routed-ips-are-now-default-on-kubern.mdx
Labels: type: changelog

#2991 feat(account): close and erase account
  console/account/assets/closed-account.webp
  console/account/how-to/close-account.mdx
  console/account/how-to/manage-my-personal-data-gdpr.mdx
  console/account/troubleshooting/cannot-erase-account.mdx
  macros/console/close-vs-erase.mdx
Labels: do not merge

#3057 fix(pgw): fix typo in title
  network/public-gateways/troubleshooting/cant-connect-to-instance-with-pn-gateway.mdx
Labels: type: maintenance, priority: low, status: doc review

#3059 feat(k8s): add comparision table
  containers/kubernetes/reference-content/understanding-differences-kapsule-kosmos.mdx
  menu/navigation.json
Labels: type: new content, status: tech review, status: doc review

#3061 feat(changelog): transactional-email-security-dmarc-policy 2024-04-15
  changelog/april2024/2024-04-15-transactional-email-security-dmarc-policy.mdx
Labels: type: changelog

#3066 fix(docs): fixed 404s
  ai-data/llm-inference/concepts.mdx
  faq/account.mdx
  faq/support.mdx
  faq/vpc.mdx
  identity-and-access-management/organizations-and-projects/concepts.mdx
  identity-and-access-management/secret-manager/reference-content/secret-manager-capabilities-limits.mdx
  macros/console/create-account.mdx
  managed-services/webhosting/how-to/migrate-webhosting-plan.mdx
  network/load-balancer/troubleshooting/load-balancer-limitations.mdx
  serverless/jobs/troubleshooting/index.mdx
  tutorials/create-valheim-server/index.mdx
  tutorials/transform-bucket-images-triggers-functions-deploy/index.mdx
Labels: priority: medium, status: doc review

#3065 fix(SRV): Removed Cloudfare notice
  serverless/containers/how-to/add-a-custom-domain-to-a-container.mdx
  serverless/functions/how-to/add-a-custom-domain-name-to-a-function.mdx
Labels: priority: low

#3062 chore(tuto): docs content review
  bare-metal/elastic-metal/how-to/configure-flexible-ip.mdx
  bare-metal/elastic-metal/how-to/configure-flexible-ipv6.mdx
  dedibox-network/ip-failover/how-to/configure-debian-ubuntu.mdx
  dedibox-network/ip-failover/how-to/configure-network-virtual-machine.mdx
  dedibox-network/ipv6/how-to/configure-ipv6-linux.mdx
  dedibox-network/network/how-to/configure-network-netplan.mdx
  tutorials/configure-failover-proxmox/index.mdx
  tutorials/configure-ipv6-virtual-machine-esxi/index.mdx
  tutorials/create-esxi-cluster-dedibox/index.mdx
  tutorials/k8s-kapsule-multi-az/index.mdx
  tutorials/nginx-reverse-proxy/index.mdx
  tutorials/proxmox-softraid/index.mdx
  tutorials/setup-nginx-reverse-proxy-s3/index.mdx
Labels: type: maintenance

#2886 fix(docs): update cockpit documentation for regionalization
  ai-data/llm-inference/how-to/monitor-deployment.mdx
  bare-metal/elastic-metal/how-to/send-metrics-logs-to-cockpit.mdx
  changelog/april2024/2024-04-04-cockpit-added-metrics-degrissivity.mdx
  console/account/reference-content/products-availability.mdx
  containers/kubernetes/how-to/access-audit-logs.mdx
  containers/kubernetes/how-to/monitor-cluster.mdx
  dedibox/dedicated-servers/how-to/monitor-server.mdx
  faq/cockpit.mdx
  faq/serverless-functions.mdx
  macros/cockpit/update-dashboards.mdx
  managed-databases/postgresql-and-mysql/api-cli/pg-audit.mdx
  menu/navigation.json
  network/load-balancer/how-to/monitor-lb-cockpit.mdx
  observability/cockpit/api-cli/configuring-grafana-agent.mdx
  observability/cockpit/concepts.mdx
  observability/cockpit/how-to/access-grafana-and-managed-dashboards.mdx
  observability/cockpit/how-to/activate-cockpit.mdx
  observability/cockpit/how-to/activate-managed-alerts.mdx
  observability/cockpit/how-to/activate-push-traces.mdx
  observability/cockpit/how-to/add-contact-points.mdx
  observability/cockpit/how-to/assets/logs-python.webp
  observability/cockpit/how-to/assets/python-logs-details.webp
  observability/cockpit/how-to/configure-alerts-for-scw-resources.mdx
  observability/cockpit/how-to/create-external-data-sources.mdx
  observability/cockpit/how-to/create-token.mdx
  observability/cockpit/how-to/deactivate-cockpit.mdx
  observability/cockpit/how-to/delete-external-data-sources.mdx
  observability/cockpit/how-to/enable-alert-manager.mdx
  observability/cockpit/how-to/retrieve-grafana-credentials.mdx
  observability/cockpit/how-to/send-metrics-logs-to-cockpit.mdx
  observability/cockpit/index.mdx
  observability/cockpit/quickstart.mdx
  observability/cockpit/reference-content/cockpit-limitations.mdx
  observability/cockpit/reference-content/understanding-cockpit-usage.mdx
  observability/cockpit/troubleshooting/pusher-does-not-support-custom-http-headers.mdx
  observability/cockpit/troubleshooting/resetting-grafana-password-via-the-api.mdx
  serverless/jobs/how-to/monitor-job.mdx
  serverless/messaging/how-to/monitor-mnq-cockpit.mdx
  storage/object/how-to/monitor-consumption.mdx
  tutorials/create-serverless-scraping/index.mdx
  tutorials/deploy-laravel-on-serverless-containers/index.mdx
  tutorials/k8s-fluentbit-observability/index.mdx
  tutorials/nvidia-triton/index.mdx
  tutorials/pushing-metrics-logs-from-scw-instance/index.mdx
  tutorials/transform-bucket-images-triggers-functions-deploy/index.mdx
  tutorials/transform-bucket-images-triggers-functions-set-up/index.mdx
  tutorials/using-own-grafana/index.mdx
Labels: type: maintenance

#3064 fix(rdb): review + labs review MTA-4440
  labs/ipfs-naming/how-to/delete-key.mdx
  labs/ipfs-naming/quickstart.mdx
  managed-databases/postgresql-and-mysql/api-cli/verify-ca-postgresql.mdx
Labels: type: maintenance, priority: low, status: doc review

#3070 docs(cpt): remove mention of cockpit activation
  tutorials/using-own-grafana/index.mdx
Labels: priority: high

#3076 fix(cxp): update search bar resources list
  console/account/how-to/use-the-search-bar.mdx
Labels: priority: low

#3046 docs(srv): Add ref doc on handlers MTA-4407
  menu/navigation.json
  serverless/functions/concepts.mdx
  serverless/functions/how-to/package-function-dependencies-in-zip.mdx
  serverless/functions/reference-content/functions-handlers.mdx
Labels: status: tech review, priority: low, status: doc review

#3083 docs(DEVTOOLS): Update CLI installation procedures MTA-4482
  bare-metal/elastic-metal/api-cli/elastic-metal-with-cli.mdx
  developer-tools/scaleway-cli/quickstart.mdx
  labs/ipfs-naming/api-cli/names-operations.mdx
  managed-services/iot-hub/api-cli/getting-started-with-iot-hub-cli.mdx
  serverless/containers/api-cli/deploy-container-cli.mdx
  serverless/functions/api-cli/deploy-function-cli.mdx
Labels: priority: low, status: doc review

#3089 feat(ins): add note about pop2 and ent1 instances
  compute/instances/reference-content/production-optimized.mdx
Labels: type: maintenance

#3088 feat(rdb): apply maintenance MTA-4494
  managed-databases/postgresql-and-mysql/how-to/apply-maintenance.mdx
  managed-databases/postgresql-and-mysql/how-to/assets/scaleway-apply-db-maintenance.webp
  menu/navigation.json
Labels: type: new content, status: tech review, priority: high, status: doc review

#3085 fix(mnq): move limits to quotas
  identity-and-access-management/organizations-and-projects/additional-content/organization-quotas.mdx
  serverless/messaging/reference-content/limitations.mdx
Labels: type: maintenance, priority: low, status: doc review

#3087 feat(changelog): transactional-email-added-xml-attachments-are-now-avail 2024-04-19
  changelog/april2024/2024-04-19-transactional-email-added-xml-attachments-are-now-avail.mdx
Labels: type: changelog

#3094 feat(gen): update codeowners
  .github/CODEOWNERS
Labels: type: maintenance, status: ready, priority: low

#3093 billing(feat): review billing docs
  console/billing/additional-content/reading-an-invoice.mdx
Labels: type: maintenance, status: doc review

#3092 [TUTORIAL] Doc content review
  tutorials/configure-chef-ubuntu-xenial/index.mdx
  tutorials/configure-graphite/index.mdx
  tutorials/configure-ipv6-virtual-machine-esxi/index.mdx
  tutorials/sinatra/index.mdx
  tutorials/systemd-essentials/index.mdx
  tutorials/terraform-quickstart/index.mdx
  tutorials/traefik-v2-cert-manager/index.mdx
  tutorials/trigger-ifttt-actions/index.mdx
  tutorials/wordpress-lemp-stack-focal/index.mdx
Labels: type: maintenance, status: doc review

#3091 [TUTORIAL] Doc content review
  tutorials/configure-failover-proxmox/index.mdx
  tutorials/configure-netbox-managed-postgresql-database/index.mdx
  tutorials/configure-nextcloud-ubuntu/index.mdx
  tutorials/configure-nginx-lets-encrypt/index.mdx
  tutorials/deploy-penpot-with-docker-instantapp/index.mdx
  tutorials/stop-outgoing-spam/index.mdx
  tutorials/store-s3-cyberduck/index.mdx
  tutorials/store-wp-mediacloud-s3/index.mdx
  tutorials/wordpress-lemp-stack-focal/index.mdx
Labels: type: maintenance, status: doc review

#3098 [LLM-INFERENCE]: Add link to Llama-2-7b-chat model and fix other links
  ai-data/llm-inference/how-to/create-deployment.mdx
Labels: type: maintenance

#3097 fix(S3): update versioning doc URL
  menu/navigation.json
  storage/object/concepts.mdx
  storage/object/how-to/use-bucket-versioning.mdx
Labels: priority: low

#3095 docs(SRV): add monitoring doc to faas & caas MTA-4473
  menu/navigation.json
  serverless/containers/how-to/monitor-container.mdx
  serverless/functions/how-to/monitor-function.mdx
  serverless/jobs/how-to/monitor-job.mdx
Labels: status: tech review, priority: low, status: doc review

#3099 fix(billing): fix links
  console/billing/index.mdx
Labels: type: maintenance, status: doc review

#3104 feat(changelog): gpu-instances-added-new-gpu-l40s-instances 2024-04-23
  changelog/april2024/2024-04-23-gpu-instances-added-new-gpu-l40s-instances.mdx
Labels: type: changelog

#3103 chore(SRV): content review MTA-4523
  serverless/containers/reference-content/configure-trigger-inputs.mdx
Labels: priority: low, status: doc review

#3107 [TUTORIAL] Update tutorial traefik
  tutorials/traefik-v2-cert-manager/index.mdx
Labels: type: maintenance, status: tech review, status: doc review

#3109 [APS] Review Apple silicon product documentation
  bare-metal/apple-silicon/assets/scaleway-apple-silicon-ssh.webp
  bare-metal/apple-silicon/how-to/assets/scaleway-apple-silicon-dashboard.webp
  bare-metal/apple-silicon/how-to/assets/scaleway-apple-silicon-ssh.webp
  bare-metal/apple-silicon/how-to/assets/scaleway-apple-silicon-vnc.webp
  bare-metal/apple-silicon/how-to/connect-to-mac-mini.mdx
  bare-metal/apple-silicon/how-to/create-mac-mini.mdx
  bare-metal/apple-silicon/how-to/delete-mac-mini.mdx
  bare-metal/apple-silicon/how-to/reboot-mac-mini.mdx
  bare-metal/apple-silicon/how-to/reinstall-mac-mini.mdx
  bare-metal/apple-silicon/index.mdx
  bare-metal/apple-silicon/quickstart.mdx
  bare-metal/apple-silicon/troubleshooting/cant-connect-using-vnc.mdx
  faq/apple-silicon.mdx
  identity-and-access-management/organizations-and-projects/additional-content/organization-quotas.mdx
  tutorials/access-mac-mini-with-reemo/index.mdx
  tutorials/cilicon-self-hosted-ci-on-apple-silicon/index.mdx
  tutorials/jump-desktop/index.mdx
Labels: type: maintenance, status: tech review, status: doc review

#3115 feat(changelog): messaging-and-queuing-changed-increased-messaging-resou 2024-04-25
  changelog/april2024/2024-04-25-messaging-and-queuing-changed-increased-messaging-resou.mdx
Labels: type: changelog

#3114 fix(docs): updated command to run triton server
  tutorials/nvidia-triton/index.mdx
Labels: type: maintenance

#3118 docs(dom): content review
  network/domains-and-dns/how-to/manage-dns-records.mdx
  network/domains-and-dns/reference-content/understanding-domains-and-dns.mdx
Labels: type: maintenance

#3117 docs(faq): update block storage faq
  faq/blockstorage.mdx
Labels: type: maintenance

#3110 docs(tem): add wordpress plugin tuto
  tutorials/configure-tem-smtp-with-wordpress-plugin/assets/scaleway-smtp-config.webp
  tutorials/configure-tem-smtp-with-wordpress-plugin/assets/scaleway-wordpress-welcome-page.webp
  tutorials/configure-tem-smtp-with-wordpress-plugin/assets/scaleway-wp-mail-smtp.webp
  tutorials/configure-tem-smtp-with-wordpress-plugin/index.mdx
Labels: type: new content, status: tech review

#3119 feat(changelog): apple-silicon-changed-macos14-sonoma-is-now-available 2024-04-26
  changelog/april2024/2024-04-26-apple-silicon-changed-macos14-sonoma-is-now-available.mdx
Labels: type: changelog

#3123 docs(cpt): review
  observability/cockpit/troubleshooting/pusher-does-not-support-custom-http-headers.mdx
  observability/cockpit/troubleshooting/resetting-grafana-password-via-the-api.mdx
Labels: type: maintenance

#3125 [REVIEW] Kubernetes product documentation review 29/04/2024
  containers/kubernetes/reference-content/kubernetes-load-balancer.mdx
  containers/kubernetes/reference-content/lb-ingress-controller.mdx
  containers/kubernetes/reference-content/managing-load-balancer-ips.mdx
  containers/kubernetes/reference-content/multi-az-clusters.mdx
  containers/kubernetes/reference-content/using-load-balancer-annotations.mdx
  containers/kubernetes/reference-content/wildcard-dns.mdx
Labels: type: maintenance, status: doc review

#3111 docs(tem): send email with api
  managed-services/transactional-email/api-cli/index.mdx
  managed-services/transactional-email/api-cli/send-emails-with-api.mdx
  menu/navigation.json
Labels: type: maintenance, status: tech review

#3131 feat(changelog): elastic-metal-added-ubuntu-2404-lts-noble-numbat-now-av 2024-04-29
  changelog/april2024/2024-04-29-elastic-metal-added-ubuntu-2404-lts-noble-numbat-now-av.mdx
Labels: type: changelog

#3124 [REVIEW] Tutorials content review 29/04/2024
  tutorials/configure-plex-s3/index.mdx
  tutorials/deploy-k3s-cluster-with-cilium/index.mdx
  tutorials/store-s3-transmit/index.mdx
  tutorials/visualize-timeseries-data-timescaledb-grafana/index.mdx
  tutorials/vuls-security-scanner/index.mdx
  tutorials/wordpress-lemp-stack/index.mdx
  tutorials/zabbix-monitoring/index.mdx
  tutorials/zulip/index.mdx
Labels: type: maintenance, status: doc review

#3126 feat(changelog): object-storage-added-versioning-activation-at-bucket-cr 2024-04-29
  changelog/april2024/2024-04-29-object-storage-added-versioning-activation-at-bucket-cr.mdx
Labels: type: changelog

#3128 fix(AXP): replace incident by abuse MTA-4545
  console/account/how-to/report-abuse.mdx
  menu/navigation.json
Labels: priority: low, status: doc review

#3133 chore(gen): docs content review MTA-4541
  console/account/how-to/change-console-appearance.mdx
  developer-tools/terraform/quickstart.mdx
  serverless/containers/how-to/create-auth-token-from-console.mdx
Labels: priority: low, status: doc review

#3127 docs(s3): update versioning doc MTA-4547
  storage/object/how-to/use-bucket-versioning.mdx
Labels: priority: low, status: doc review

#3129 docs(tem): add rua info
  managed-services/transactional-email/how-to/add-dmarc-record.mdx
  managed-services/transactional-email/reference-content/dmarc-configuration.mdx
Labels: type: new content

#3135 feat(changelog): console-added-console-search 2024-04-30
  changelog/april2024/2024-04-30-console-added-console-search.mdx
Labels: type: changelog

#3137 feat(red): review
  managed-databases/redis/how-to/connect-to-redis-database-instance.mdx
  managed-services/iot-hub/how-to/enable-auto-provisioning.mdx
Labels: type: maintenance, priority: low, status: doc review

#3138 fix(ipfs): fix broken docs
  labs/ipfs-pinning/api-cli/getting-started-with-ipfs-cli.mdx
  labs/ipfs-pinning/api-cli/volumes-operations.mdx
Labels: type: maintenance, priority: medium, status: doc review
