Repository scaleway/docs-content, pull requests merged in 2024-07, with the labels that each got.

#3416 feat(changelog): managed-inference-added-managed-inference-is-available- 2024-07-01
  changelog/july2024/2024-07-01-managed-inference-added-managed-inference-is-available-.mdx
Labels: type: changelog

#3412 docs(cockpit): add grafana alloy doc
  observability/cockpit/how-to/assets/scaleway-alloy-dashboard.webp
  observability/cockpit/how-to/assets/scaleway-alloy-datasource.webp
  observability/cockpit/how-to/send-metrics-logs-to-cockpit.mdx
  observability/cockpit/how-to/send-metrics-with-grafana-alloy.mdx
  observability/cockpit/quickstart.mdx
Labels: type: new content

#3411 feat(changelog): sql-databases-changed-serverless-sql-database-is-now-in 2024-06-28
  changelog/june2024/2024-06-28-sql-databases-changed-serverless-sql-database-is-now-in.mdx
Labels: type: changelog

#3216 docs(s3): add BP in console documentation MTA-4603
  menu/navigation.json
  storage/object/api-cli/create-bucket-policy.mdx
  storage/object/concepts.mdx
  storage/object/how-to/create-bucket-policy.mdx
  storage/object/troubleshooting/lost-bucket-access-bucket-policy.mdx
Labels: priority: high

#3418 fix(s3): correct delete bucket policy command
  storage/object/api-cli/create-bucket-policy.mdx
Labels: priority: medium, status: doc review

#3415 fix(mnq): add seo descriptions
  serverless/messaging/concepts.mdx
  serverless/messaging/how-to/create-credentials.mdx
  serverless/messaging/how-to/create-manage-queues.mdx
  serverless/messaging/how-to/create-manage-subscriptions.mdx
  serverless/messaging/how-to/create-manage-topics.mdx
  serverless/messaging/how-to/deactivate-delete-messaging.mdx
  serverless/messaging/how-to/get-started.mdx
  serverless/messaging/how-to/manage-credentials.mdx
  serverless/messaging/how-to/monitor-mnq-cockpit.mdx
  serverless/messaging/index.mdx
  serverless/messaging/quickstart.mdx
Labels: type: maintenance, status: doc review

#3410 fix(srv): add missing tags to ffmpeg tutorials
  tutorials/encode-videos-using-serverless-jobs/index.mdx
Labels: do not merge, priority: low, status: doc review

#3401 fix(rdb): add info MTA-4779
  managed-databases/postgresql-and-mysql/how-to/change-volume-type.mdx
  managed-databases/postgresql-and-mysql/how-to/enable-autobackup.mdx
Labels: type: maintenance, status: tech review, priority: low

#3414 feat(changelog): functions-added-node-22-runtime 2024-06-28
  changelog/june2024/2024-06-28-functions-added-node-22-runtime.mdx
Labels: type: changelog

#3420 fix(tuto): update tutorial openvpn
  tutorials/install-openvpn/index.mdx
Labels: type: maintenance

#3419 docs(cpt): add doc to menu
  faq/cockpit.mdx
  menu/navigation.json
  observability/cockpit/concepts.mdx
  observability/cockpit/how-to/activate-push-traces.mdx
  observability/cockpit/how-to/send-metrics-logs-to-cockpit.mdx
Labels: type: maintenance

#3421 fix(AXP): update captcha link and name MTA-4780
  macros/console/create-account.mdx
Labels: priority: medium, status: doc review

#3424 feat(changelog): object-storage-added-bucket-policies-can-now-be-configu 2024-07-02
  changelog/july2024/2024-07-02-object-storage-added-bucket-policies-can-now-be-configu.mdx
Labels: type: changelog

#3422 feat(gpu): add L40S to documentation
  compute/gpu/how-to/use-scratch-storage-h100-instances.mdx
Labels: type: maintenance

#3430 fix(gpu): correction of index page links
  compute/gpu/index.mdx
Labels: type: bug, priority: medium

#3427 feat(changelog): functions-added-python-312-runtime-now-available 2024-07-02
  changelog/july2024/2024-07-02-functions-added-python-312-runtime-now-available.mdx
Labels: type: changelog

#3431 feat(changelog): functions-added-php-83-runtime-now-available 2024-07-03
  changelog/july2024/2024-07-03-functions-added-php-83-runtime-now-available.mdx
Labels: type: changelog

#3432 feat(changelog): transactional-email-fixed-email-filtering-bug-fix 2024-07-03
  changelog/july2024/2024-07-03-transactional-email-fixed-email-filtering-bug-fix.mdx
Labels: type: changelog

#3413 feat(tutorial): add new mnq tutorial
  tutorials/nats-rdb-offload/assets/scaleway-nats-offload-archi.webp
  tutorials/nats-rdb-offload/index.mdx
Labels: status: doc review

#3434 feat(changelog): functions-added-go-122-runtime-now-available 2024-07-03
  changelog/july2024/2024-07-03-functions-added-go-122-runtime-now-available.mdx
Labels: type: changelog

#3435 feat(changelog): functions-added-rust-179-runtime-now-available 2024-07-03
  changelog/july2024/2024-07-03-functions-added-rust-179-runtime-now-available.mdx
Labels: type: changelog

#3433 fix(vpc): review doc
  network/vpc/reference-content/vpc-migration.mdx
Labels: type: maintenance

#3437 feat(changelog): kubernetes-security-mitigated-openssh-vulnerability-cve 2024-07-03
  changelog/july2024/2024-07-03-kubernetes-security-mitigated-openssh-vulnerability-cve.mdx
Labels: type: changelog

#3439 docs(s3): add new bucket policies supported actions MTA-4802
  menu/navigation.json
  storage/object/api-cli/bucket-policy.mdx
  storage/object/api-cli/manage-bucket-permissions-ip.mdx
Labels: priority: low, status: doc review

#3438 docs(sdb): add link to prepared statements doc MTA-4771
  serverless/sql-databases/reference-content/serverless-sql-databases-overview.mdx
Labels: priority: low, status: doc review

#3440 feat(rdb): monitor metrics MTA-4706
  managed-databases/postgresql-and-mysql/how-to/assets/scaleway-grafana-rdb.webp
  managed-databases/postgresql-and-mysql/how-to/monitor-databases-cockpit.mdx
  menu/navigation.json
Labels: type: new content, status: tech review, priority: medium, status: doc review

#3446 fix(rdb): reviews 04/07
  containers/container-registry/how-to/connect-docker-cli.mdx
  containers/container-registry/how-to/pull-images.mdx
  managed-databases/postgresql-and-mysql/how-to/change-volume-type.mdx
  managed-databases/postgresql-and-mysql/how-to/clone-a-database-instance.mdx
  managed-databases/postgresql-and-mysql/how-to/configure-advanced-settings.mdx
  managed-databases/postgresql-and-mysql/how-to/create-read-replica.mdx
  managed-databases/postgresql-and-mysql/how-to/delete-a-database.mdx
  managed-databases/postgresql-and-mysql/how-to/enable-autobackup.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-allowed-ip-addresses.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-manual-backups.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-permissions.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-snapshots.mdx
  managed-databases/postgresql-and-mysql/how-to/renew-tls-certificate.mdx
  managed-databases/postgresql-and-mysql/how-to/upgrade-a-database.mdx
  managed-databases/postgresql-and-mysql/how-to/upgrade-version.mdx
  managed-databases/postgresql-and-mysql/troubleshooting/disk-full.mdx
  managed-databases/redis/how-to/configure-advanced-settings-redis.mdx
  managed-databases/redis/how-to/connect-to-redis-database-instance.mdx
  managed-databases/redis/how-to/create-a-database-for-redis.mdx
  managed-databases/redis/how-to/manage-allowed-ip-addresses-redis.mdx
  managed-databases/redis/how-to/scale-up-a-database-for-redis.mdx
  managed-databases/redis/quickstart.mdx
  managed-services/iot-hub/how-to/add-device.mdx
  managed-services/iot-hub/how-to/change-plan.mdx
  managed-services/iot-hub/how-to/connect-default-mqtt-network.mdx
  managed-services/iot-hub/how-to/connect-default-websocket-network.mdx
  managed-services/iot-hub/how-to/create-hub.mdx
  managed-services/iot-hub/how-to/create-route.mdx
  managed-services/iot-hub/how-to/delete-device.mdx
  managed-services/iot-hub/how-to/delete-hub.mdx
  managed-services/iot-hub/how-to/delete-route.mdx
  managed-services/iot-hub/how-to/enable-disable-hub.mdx
  managed-services/iot-hub/how-to/provide-own-certificate-authority.mdx
  managed-services/iot-hub/how-to/provide-own-device-certificate.mdx
  managed-services/iot-hub/how-to/renew-device-certificate.mdx
  managed-services/iot-hub/how-to/setup-use-rest-network.mdx
  managed-services/iot-hub/how-to/setup-use-sigfox-network.mdx
  managed-services/iot-hub/how-to/simulate-event.mdx
  managed-services/iot-hub/how-to/trigger-functions-from-messages.mdx
  managed-services/iot-hub/how-to/understand-event-messages.mdx
  managed-services/iot-hub/how-to/use-mqtt-webclient.mdx
  managed-services/iot-hub/how-to/view-metrics.mdx
  managed-services/iot-hub/quickstart.mdx
Labels: type: maintenance, priority: low, status: doc review

#3425 chore(gen): doc review MTA-4796
  macros/serverless/difference-jobs-functions-containers.mdx
  serverless/containers/reference-content/containers-billing.mdx
  serverless/containers/reference-content/difference-jobs-functions-containers.mdx
  serverless/functions/reference-content/configure-trigger-inputs.mdx
  serverless/functions/reference-content/cron-schedules.mdx
  serverless/functions/reference-content/difference-jobs-functions-containers.mdx
  serverless/functions/reference-content/functions-billing.mdx
  serverless/jobs/reference-content/cron-schedules.mdx
  serverless/jobs/reference-content/deploy-job.mdx
  serverless/jobs/reference-content/difference-jobs-functions-containers.mdx
  serverless/sql-databases/how-to/manage-backups.mdx
  storage/object/api-cli/bucket-operations.mdx
  storage/object/api-cli/bucket-website-api.mdx
  storage/object/api-cli/common-operations.mdx
  storage/object/api-cli/generate-aws4-auth-signature.mdx
  storage/object/api-cli/installing-minio-client.mdx
  storage/object/api-cli/installing-rclone.mdx
  storage/object/api-cli/manage-bucket-permissions-ip.mdx
  storage/object/api-cli/object-lock.mdx
  storage/object/api-cli/object-operations.mdx
  storage/object/api-cli/object-storage-aws-cli.mdx
  storage/object/api-cli/post-object.mdx
  storage/object/how-to/delete-an-object.mdx
  storage/object/how-to/download-files-from-a-bucket.mdx
  storage/object/how-to/use-obj-stor-with-private-networks.mdx
  storage/object/troubleshooting/api-key-does-not-work.mdx
  storage/object/troubleshooting/lost-bucket-access-bucket-policy.mdx
Labels: priority: low, status: doc review

#3451 fix(onp): fingerprint updates
  console/account/concepts.mdx
  identity-and-access-management/organizations-and-projects/concepts.mdx
  identity-and-access-management/organizations-and-projects/how-to/create-ssh-key.mdx
  identity-and-access-management/organizations-and-projects/quickstart.mdx
Labels: type: maintenance, priority: medium, status: doc review

#3452 fix(labs): review
  labs/ipfs-naming/how-to/create-key.mdx
  labs/ipfs-naming/how-to/import-key.mdx
  labs/ipfs-naming/how-to/update-name.mdx
  labs/ipfs-pinning/how-to/add-pin.mdx
  labs/ipfs-pinning/how-to/create-volume.mdx
  labs/ipfs-pinning/how-to/delete-pin.mdx
  labs/ipfs-pinning/how-to/delete-volume.mdx
  managed-services/transactional-email/reference-content/understanding-tem-reputation-score.mdx
  network/load-balancer/concepts.mdx
Labels: type: maintenance, priority: low, status: doc review

#3453 chore(gen): review documentations
  compute/gpu/how-to/use-mig-with-kubernetes.mdx
  compute/gpu/how-to/use-nvidia-mig-technology.mdx
  compute/gpu/how-to/use-pipenv.mdx
  compute/gpu/how-to/use-preinstalled-env.mdx
  compute/gpu/how-to/use-scratch-storage-h100-instances.mdx
  containers/kubernetes/how-to/use-scratch-storage-h100.mdx
  managed-services/webhosting/how-to/configure-dns-webhosting.mdx
  managed-services/webhosting/how-to/migrate-webhosting-plan.mdx
  tutorials/manage-zigbee-devices-with-iot/index.mdx
  tutorials/proxmox-softraid/index.mdx
  tutorials/python-for-loops/index.mdx
Labels: type: maintenance

#3447 docs(s3): add troubleshooting to veeam tutorial MTA-4808b
  tutorials/veeam-backup-replication-s3/index.mdx
Labels: priority: low, status: doc review

#3454 docs(SDB): add troubleshooting on prepared statements MTA-4818
  menu/navigation.json
  serverless/sql-databases/troubleshooting/maximum-prepared-statements-reached.mdx
Labels: priority: low, status: doc review

#3456 docs(SDB): add planned maintenance doc MTA-4837
  menu/navigation.json
  serverless/sql-databases/reference-content/planned-maintenance.mdx
Labels: status: tech review, priority: medium, status: doc review

#3287 feat(ipam): add doc for new IPAM product
  faq/assets/ipam.webp
  faq/ipam.mdx
  menu/changelogs.json
  menu/navigation.json
  network/ipam/assets/scaleway-ipam-moreinfo.webp
  network/ipam/concepts.mdx
  network/ipam/how-to/assets/scaleway-ipam-moreinfo.webp
  network/ipam/how-to/index.mdx
  network/ipam/how-to/list-ips.mdx
  network/ipam/how-to/manage-ips.mdx
  network/ipam/index.mdx
  network/ipam/quickstart.mdx
  network/public-gateways/concepts.mdx
  network/vpc/concepts.mdx
Labels: type: new content

#3459 fix(gen): fixed typos
  ai-data/managed-inference/concepts.mdx
  ai-data/managed-inference/how-to/create-deployment.mdx
  ai-data/managed-inference/how-to/delete-deployment.mdx
  ai-data/managed-inference/how-to/managed-inference-with-private-network.mdx
  ai-data/managed-inference/quickstart.mdx
  ai-data/managed-inference/reference-content/llama-3-70b-instruct.mdx
  ai-data/managed-inference/reference-content/llama-3-8b-instruct.mdx
  ai-data/managed-inference/reference-content/mistral-7b-instruct-v0.3.mdx
  ai-data/managed-inference/reference-content/mixtral-8x7b-instruct-v0.1.mdx
  ai-data/managed-inference/reference-content/openai-compatibility.mdx
  bare-metal/apple-silicon/concepts.mdx
  bare-metal/apple-silicon/how-to/connect-to-mac-mini.mdx
  bare-metal/apple-silicon/how-to/create-mac-mini.mdx
  bare-metal/apple-silicon/how-to/delete-mac-mini.mdx
  bare-metal/apple-silicon/how-to/reboot-mac-mini.mdx
  bare-metal/apple-silicon/how-to/reinstall-mac-mini.mdx
  bare-metal/apple-silicon/quickstart.mdx
  bare-metal/apple-silicon/troubleshooting/cant-connect-using-ssh.mdx
  bare-metal/apple-silicon/troubleshooting/cant-connect-using-vnc.mdx
  bare-metal/apple-silicon/troubleshooting/filevault-preventing-system-boot.mdx
  bare-metal/dedibox/how-to/activate-ipv6-block.mdx
  bare-metal/dedibox/how-to/attach-detach-failover-ip.mdx
  bare-metal/dedibox/how-to/configure-failover-ip.mdx
  bare-metal/dedibox/how-to/configure-ipv6-dedibox.mdx
  bare-metal/dedibox/how-to/configure-reverse-failover-ip.mdx
  bare-metal/dedibox/how-to/connect-to-dedibox.mdx
  bare-metal/dedibox/how-to/install-dedibox.mdx
  bare-metal/dedibox/how-to/link-dedibox-account.mdx
  bare-metal/dedibox/how-to/modify-server-options.mdx
  bare-metal/dedibox/how-to/order-dedibox.mdx
  bare-metal/dedibox/how-to/order-failover-ip.mdx
  bare-metal/dedibox/how-to/use-rescue-mode.mdx
  bare-metal/elastic-metal/api-cli/elastic-metal-with-api.mdx
  bare-metal/elastic-metal/api-cli/elastic-metal-with-cli.mdx
  compute/gpu/how-to/create-manage-gpu-instance.mdx
  compute/gpu/how-to/use-gpu-with-docker.mdx
  compute/gpu/how-to/use-mig-with-kubernetes.mdx
  compute/gpu/how-to/use-nvidia-mig-technology.mdx
  compute/gpu/how-to/use-pipenv.mdx
  compute/gpu/how-to/use-preinstalled-env.mdx
  compute/gpu/how-to/use-scratch-storage-h100-instances.mdx
  compute/gpu/reference-content/choosing-gpu-instance-type.mdx
  compute/gpu/reference-content/docker-images.mdx
Labels: type: maintenance, priority: low

#3458 [K8S] feat: add 1.30 to version support information
  containers/kubernetes/reference-content/version-support-policy.mdx
Labels: do not merge, status: ready

#3457 feat(changelog): kubernetes-added-kubernetes-version-130-is-now-availabl 2024-07-09
  changelog/july2024/2024-07-09-kubernetes-added-kubernetes-version-130-is-now-availabl.mdx
Labels: type: changelog

#3461 fix(tem): bimi MTA-4668
  managed-services/transactional-email/how-to/assets/scaleway-bimi-record.webp
  managed-services/transactional-email/how-to/configure-bimi.mdx
Labels: type: new content, status: tech review, priority: low, status: doc review

#3464 fix(sdb): update sdb maintenance duration
  serverless/sql-databases/reference-content/planned-maintenance.mdx
Labels: priority: medium

#3467 feat(changelog): functions-added-reduce-cold-starts-with-sandbox-v2 2024-07-11
  changelog/july2024/2024-07-11-functions-added-reduce-cold-starts-with-sandbox-v2.mdx
Labels: type: changelog

#3470 feat(changelog): transactional-email-added-microsoft-excel-attachments-a 2024-07-12
  changelog/july2024/2024-07-12-transactional-email-added-microsoft-excel-attachments-a.mdx
Labels: type: changelog

#3471 fix(tem): add xtensions MTA-4853
  managed-services/transactional-email/reference-content/tem-capabilities-and-limits.mdx
Labels: type: maintenance, priority: low, status: doc review

#3474 fix(cockpit): fix id of dashboard
  observability/cockpit/how-to/send-metrics-with-grafana-alloy.mdx
Labels: type: maintenance

#3475 fix(cr): reviews 15-07
  containers/container-registry/quickstart.mdx
  managed-databases/postgresql-and-mysql/quickstart.mdx
  managed-services/transactional-email/how-to/manage-email-activity.mdx
  network/vpc/how-to/activate-dhcp.mdx
  network/vpc/troubleshooting/autoconfig-not-working.mdx
  network/vpc/troubleshooting/resource-attached-no-ip.mdx
Labels: type: maintenance, priority: low, status: doc review

#3473 fix(ddx): add deprecation warning to esxi docs
  bare-metal/elastic-metal/how-to/configure-ipv6-hypervisor.mdx
  bare-metal/elastic-metal/troubleshooting/enable-ssh-virtualization-distribution.mdx
  dedibox-network/ip-failover/how-to/configure-network-virtual-machine.mdx
  dedibox-network/rpn/how-to/configure-rpnv2.mdx
  dedibox-network/rpn/how-to/use-rpn-san-esxi-v7.mdx
  dedibox-network/rpn/how-to/use-rpn-san-esxi.mdx
  tutorials/add-disk-configure-datastore-esxi/index.mdx
  tutorials/configure-ipv6-virtual-machine-esxi/index.mdx
  tutorials/configure-virtual-machine-esxi/index.mdx
  tutorials/create-esxi-cluster-dedibox/index.mdx
Labels: priority: low

#3472 domains(fix): add DNSSEC info
  dedibox-network/domains/how-to/enable-dnssec.mdx
  network/domains-and-dns/how-to/configure-dnssec-internal-domain.mdx
Labels: type: maintenance

#3482 Update ruby-on-rails index.mdx
  tutorials/ruby-on-rails/index.mdx
Labels: type: developer, priority: high

#3483 feat(changelog): transactional-email-fixed-verify-domain-button-issue-fi 2024-07-16
  changelog/july2024/2024-07-16-transactional-email-fixed-verify-domain-button-issue-fi.mdx
Labels: type: changelog

#3486 docs(bmaas): add shared responsibility model
  bare-metal/apple-silicon/reference-content/index.mdx
  bare-metal/elastic-metal/reference-content/shared-responsibility-model.mdx
  menu/navigation.json
Labels: type: new content

#3508 feat(changelog): managed-inference-changed-models-now-support-longer-and 2024-07-23
  changelog/july2024/2024-07-23-managed-inference-changed-models-now-support-longer-and.mdx
Labels: type: changelog

#3507 fix(vpc): update DNS info and add PGW PAR3
  console/account/reference-content/products-availability.mdx
  network/vpc/how-to/attach-resources-to-pn.mdx
Labels: type: maintenance

#3494 fix(SDB): fix before you start and syntax coloration MTA-4840
  serverless/sql-databases/api-cli/import-data-to-serverless-sql-databases.mdx
  tutorials/nats-rdb-offload/index.mdx
Labels: priority: low

#3510 fix(ipam): add cidr info
  network/ipam/concepts.mdx
  network/ipam/how-to/list-ips.mdx
Labels: status: tech review

#3496 feat(tem): webhook concepts MTA-4866
  managed-services/transactional-email/api-cli/use-webhooks-with-sns-topics.mdx
  managed-services/transactional-email/concepts.mdx
Labels: type: new content, status: tech review, priority: low, status: doc review

#3517 fix(tem): link typo
  managed-services/transactional-email/api-cli/use-webhooks-with-sns-topics.mdx
Labels: type: maintenance, priority: critical

#3519 fix(tem): reviews
  managed-services/transactional-email/api-cli/use-webhooks-with-sns-topics.mdx
  managed-services/transactional-email/assets/scaleway-webhook-site.webp
Labels: type: maintenance, status: tech review, priority: high, status: doc review

#3522 feat(changelog): secret-manager-added-secret-types-are-available-on-cons 2024-07-25
  changelog/july2024/2024-07-25-secret-manager-added-secret-types-are-available-on-cons.mdx
Labels: type: changelog

#3521 feat(changelog): ipam-added-ipam-ip-address-manager-is-available-in-publ 2024-07-25
  changelog/july2024/2024-07-25-ipam-added-ipam-ip-address-manager-is-available-in-publ.mdx
Labels: type: changelog

#3520 docs(tuto): add meilisearch tuto
  tutorials/deploy-meilisearch-instance/index.mdx
Labels: type: new content, do not merge

#3527 feat(edge): add Edge Services how tos and concepts
  menu/navigation.json
  network/edge-services/concepts.mdx
  network/edge-services/how-to/assets/scaleway-edge-services-cache.webp
  network/edge-services/how-to/assets/scaleway-edge-services-certificate-complete.webp
  network/edge-services/how-to/assets/scaleway-edge-services-configure-domain.webp
  network/edge-services/how-to/assets/scaleway-edge-services-customised.webp
  network/edge-services/how-to/assets/scaleway-edge-services-dashboard.webp
  network/edge-services/how-to/assets/scaleway-edge-services-metrics.webp
  network/edge-services/how-to/assets/scaleway-edge-services-purge-cache.webp
  network/edge-services/how-to/assets/scaleway-edge-services-purge-object.webp
  network/edge-services/how-to/assets/scaleway-edge-services-select-bucket.webp
  network/edge-services/how-to/assets/scaleway-edge-services-splash.webp
  network/edge-services/how-to/configure-cache.mdx
  network/edge-services/how-to/configure-custom-domain.mdx
  network/edge-services/how-to/create-pipeline-bucket.mdx
  network/edge-services/how-to/create-pipeline-lb.mdx
  network/edge-services/how-to/delete-pipeline.mdx
  network/edge-services/how-to/monitor-cockpit.mdx
  storage/object/how-to/get-started-edge-services.mdx
Labels: type: new content, priority: medium, status: doc review

#3531 feat(edge): add reference content for Edge Services
  menu/navigation.json
  network/edge-services/reference-content/assets/scaleway-cert-expired.webp
  network/edge-services/reference-content/assets/scaleway-edge-services-cname-error.webp
  network/edge-services/reference-content/assets/scaleway-edge-services-configure-domain.webp
  network/edge-services/reference-content/assets/scaleway-edge-services-dashboard-error.webp
  network/edge-services/reference-content/cname-record.mdx
  network/edge-services/reference-content/ssl-tls-certificate.mdx
  storage/object/reference-content/cname-record.mdx
  storage/object/reference-content/ssl-tls-certificate.mdx
Labels: priority: medium, status: doc review

#3545 fix(lb): fix bug
  network/load-balancer/api-cli/setting-up-ssl-offloading.mdx
Labels: Documentation Bug

#3544 fix(doc): illustrations
  network/ipam/index.mdx
  network/load-balancer/index.mdx
  network/public-gateways/index.mdx
  network/vpc/index.mdx
  serverless/messaging/index.mdx
Labels: Documentation Bug, status: doc review

#3533 feat(edge): add FAQ
  faq/assets/edge-services.webp
  faq/edge-services.mdx
Labels: type: new content, priority: medium, status: doc review

#3547 feat(changelog): apple-silicon-changed-some-apple-silicon-updates 2024-07-30
  changelog/july2024/2024-07-30-apple-silicon-changed-some-apple-silicon-updates.mdx
Labels: type: changelog

#3530 chore(gen): content review
  console/account/how-to/change-language.mdx
  console/account/how-to/configure-support-plans.mdx
  console/account/how-to/create-an-account.mdx
  console/account/how-to/manage-my-personal-data-gdpr.mdx
  console/account/how-to/verify-identity.mdx
  console/account/quickstart.mdx
  serverless/containers/reference-content/cron-schedules.mdx
  serverless/functions/how-to/add-a-custom-domain-name-to-a-function.mdx
  serverless/functions/how-to/create-a-function.mdx
  serverless/functions/how-to/create-auth-token-from-console.mdx
  serverless/functions/how-to/delete-a-function.mdx
  serverless/functions/how-to/delete-a-functions-namespace.mdx
  serverless/functions/how-to/manage-a-function.mdx
  serverless/functions/quickstart.mdx
  serverless/functions/reference-content/code-examples.mdx
  serverless/functions/reference-content/functions-handlers.mdx
  serverless/functions/reference-content/functions-lifecycle.mdx
  serverless/functions/reference-content/functions-limitations.mdx
  serverless/functions/reference-content/functions-runtimes-configuration.mdx
  storage/object/api-cli/manage-bucket-permissions-ip.mdx
  storage/object/api-cli/migrating-buckets.mdx
  storage/object/api-cli/object-storage-aws-cli.mdx
  storage/object/api-cli/share-buckets-read-only.mdx
Labels: priority: low

#3516 fix(rbd): enc at rest
  managed-databases/postgresql-and-mysql/concepts.mdx
  managed-databases/postgresql-and-mysql/how-to/create-a-database.mdx
Labels: type: new content, priority: low, status: doc review
