Repository scaleway/docs-content, pull requests merged in 2024-03, with the labels that each got.

#2809 feat(changelog): kubernetes-removed-scaleway-kubernetes-products-no-long 2024-02-28
  changelog/february2024/2024-02-28-kubernetes-removed-scaleway-kubernetes-products-no-long.mdx
Labels: type: changelog

#2826 docs(sem): fix bug
  identity-and-access-management/secret-manager/how-to/manage-version.mdx
Labels: type: bug

#2827 fix(srv): correct consumption units in faq and add concepts MTA-4253
  faq/serverless-containers.mdx
  faq/serverless-functions.mdx
  faq/serverless-jobs.mdx
  serverless/containers/concepts.mdx
  serverless/functions/concepts.mdx
  serverless/jobs/concepts.mdx
Labels: priority: low

#2822 docs(gen): minor fixes
  console/billing/how-to/use-billing-alerts.mdx
  console/billing/index.mdx
  identity-and-access-management/iam/how-to/assets/scaleway-generate-api-key.webp
  identity-and-access-management/iam/how-to/create-api-keys.mdx
  managed-databases/postgresql-and-mysql/how-to/connect-database-private-network.mdx
  managed-databases/postgresql-and-mysql/how-to/upgrade-a-database.mdx
  menu/navigation.json
Labels: type: maintenance, status: ready, priority: low

#2831 docs(SRV): review content MTA-4236
  serverless/containers/how-to/create-a-containers-namespace.mdx
  serverless/containers/how-to/manage-a-containers-namespace.mdx
  serverless/containers/reference-content/containers-limitations.mdx
  serverless/containers/troubleshooting/common-errors.mdx
Labels: priority: low

#2694 [INS] removed unified snapshot option from documentation
  compute/instances/api-cli/managing-instance-snapshot-via-cli.mdx
  compute/instances/api-cli/migrating-instances.mdx
  compute/instances/api-cli/snapshot-import-export-feature.mdx
  compute/instances/api-cli/using-routed-ips.mdx
  compute/instances/concepts.mdx
  compute/instances/how-to/create-a-snapshot.mdx
  compute/instances/how-to/create-an-instance.mdx
  compute/instances/how-to/snapshot-import-export-feature.mdx
  compute/instances/troubleshooting/bootscript-eol.mdx
  tutorials/create-openwrt-image-for-scaleway/index.mdx
Labels: do not merge

#2844 feat(changelog): jobs-added-serverless-jobs-contextual-parameters 2024-03-05
  changelog/march2024/2024-03-05-jobs-added-serverless-jobs-contextual-parameters.mdx
Labels: type: changelog

#2848 docs(k8s): update information encrypted volumes
  containers/kubernetes/api-cli/managing-storage.mdx
Labels: priority: medium

#2849 fix(gen): fixed broken links
  bare-metal/apple-silicon/quickstart.mdx
  compute/gpu/reference-content/understanding-nvidia-ngc.mdx
  compute/instances/troubleshooting/bootscript-eol.mdx
  console/account/how-to/verify-identity.mdx
  console/billing/concepts.mdx
  console/billing/index.mdx
  menu/navigation.json
  serverless/containers/reference-content/containers-limitations.mdx
  serverless/containers/troubleshooting/common-errors.mdx
  serverless/functions/reference-content/functions-limitations.mdx
  serverless/functions/troubleshooting/common-errors.mdx
  serverless/jobs/how-to/manage-job-schedule.mdx
  serverless/messaging/concepts.mdx
  serverless/messaging/reference-content/limitations.mdx
Labels: type: bug, type: maintenance

#2843 fix(tutorial): correct proxy protol tuto
  network/load-balancer/reference-content/configuring-backends.mdx
  tutorials/proxy-protocol-v2-load-balancer/index.mdx
Labels: type: maintenance

#2850 docs(cns): add account product page MTA-4293
  console/account/index.mdx
Labels: priority: low

#2852 fix(s3): add link to IAM API keys doc
  storage/object/troubleshooting/api-key-does-not-work.mdx
Labels: priority: low

#2640 [K8S] Documentation audit logs
  containers/kubernetes/how-to/access-audit-logs.mdx
  containers/kubernetes/how-to/access-kubernetes-dashboard.mdx
  containers/kubernetes/how-to/monitor-cluster.mdx
  menu/navigation.json
Labels: type: new content

#2800 add(tem): dmarc documentation pages
  managed-services/transactional-email/concepts.mdx
  managed-services/transactional-email/how-to/add-dmarc-record.mdx
  managed-services/transactional-email/how-to/add-mx-record-to-your-domain.mdx
  managed-services/transactional-email/how-to/manage-email-activity.mdx
  managed-services/transactional-email/quickstart.mdx
  managed-services/transactional-email/reference-content/dmarc-configuration.mdx
  menu/navigation.json
Labels: type: new content

#2862 feat(changelog): postgresql-and-mysql-added-postgresql-pgaudit-extension 2024-03-12
  changelog/march2024/2024-03-12-postgresql-and-mysql-added-postgresql-pgaudit-extension.mdx
Labels: type: changelog

#2875 feat(changelog): gpu-instances-added-new-h100-instances 2024-03-12
  changelog/october2023/2023-10-06-gpu-instances-added-new-h100-instances.mdx
Labels: type: changelog

#2878 feat(components): guidelines revamp & update
  components/docs-editor.mdx
  components/docs.mdx
  components/index.mdx
  editor-components.mdx
Labels: type: developer

#2807 [K8S] Added - ARM information to docs
  containers/kubernetes/how-to/delete-cluster.mdx
  containers/kubernetes/how-to/deploy-x86-arm-images.mdx
  containers/kubernetes/how-to/enable-disable-ssh.mdx
  containers/kubernetes/how-to/use-scratch-storage-h100.mdx
  containers/kubernetes/troubleshooting/containers-not-starting-arm-instances.mdx
  containers/kubernetes/troubleshooting/index.mdx
  menu/navigation.json
Labels: type: new content

#2868 feat(changelog): jobs-fixed-serverless-jobs-fix-usage-of-cached-images 2024-03-12
  changelog/march2024/2024-03-12-jobs-fixed-serverless-jobs-fix-usage-of-cached-images.mdx
Labels: type: changelog

#2892 fix(cxp): deleted billing pages
  console/account/how-to/manage-billing-information.mdx
  console/account/how-to/redeem-coupon-code.mdx
  console/account/how-to/use-billing-alerts.mdx
Labels: priority: low

#2876 feat(changelog): gpu-instances-changed-h100-now-available-in-poland 2024-03-12
  changelog/march2024/2024-03-12-gpu-instances-changed-h100-now-available-in-poland.mdx
Labels: type: changelog

#2824 docs(SDB): add ReactJS x Serverless DB/Containers tutorial MTA-4243
  tutorials/nextjs-app-serverless-functions-sqldb/index.mdx
Labels: priority: low

#2874 feat(changelog): gpu-instances-added-new-gpu-l4-instances 2024-03-12
  changelog/march2024/2024-03-12-gpu-instances-added-new-gpu-l4-instances.mdx
Labels: type: changelog

#2888 fix(rdb): pgaudit
  faq/databases-for-postgresql-and-mysql.mdx
  managed-databases/postgresql-and-mysql/api-cli/pg-audit.mdx
  managed-databases/postgresql-and-mysql/how-to/configure-advanced-settings.mdx
  menu/navigation.json
Labels: type: new content, priority: high, status: doc review

#2906 fix(SDB): fix Serverless DB index links
  serverless/sql-databases/index.mdx
Labels: priority: high

#2669 feat(tutorial): add k8s storage tuto to accompany video
  containers/kubernetes/videos.mdx
  tutorials/get-started-kubernetes-loadbalancer/index.mdx
  tutorials/get-started-kubernetes-storage/assets/scaleway-persistent-volume-claim.webp
  tutorials/get-started-kubernetes-storage/assets/scaleway-stateful-set.webp
  tutorials/get-started-kubernetes-storage/index.mdx
Labels: type: new content

#2909 docs(tem): review
  managed-services/transactional-email/how-to/add-mx-record-to-your-domain.mdx
Labels: type: maintenance

#2912 docs(gen): doc review MTA-4339
  developer-tools/scaleway-cli/reference-content/cli-reference.mdx
  developer-tools/scaleway-cli/reference-content/console-keyboard-shortcuts.mdx
  storage/object/how-to/get-started-edge-services.mdx
Labels: priority: low, status: doc review

#2915 fix(docs): broken links in docs
  compute/instances/reference-content/understanding-instance-pricing.mdx
  identity-and-access-management/organizations-and-projects/additional-content/organization-quotas.mdx
  identity-and-access-management/organizations-and-projects/how-to/add-resources-project.mdx
  managed-services/transactional-email/reference-content/tem-capabilities-and-limits.mdx
  managed-services/webhosting/how-to/migrate-webhosting-plan.mdx
  tutorials/abort-multipart-upload-minio/index.mdx
Labels: type: bug

#2916 fix(doc): removed closing tag
  managed-services/webhosting/how-to/migrate-webhosting-plan.mdx
Labels: type: bug

#2917 doc(fix): remove "we"
  network/vpc/troubleshooting/pn-name.mdx
Labels: type: maintenance

#2918 fix(em): added important message box
  bare-metal/elastic-metal/how-to/use-private-networks.mdx
Labels: priority: low

#2921 feat(changelog): block-storage-added-block-storage-new-user-journey-and- 2024-03-19
  changelog/march2024/2024-03-19-block-storage-added-block-storage-new-user-journey-and-.mdx
Labels: type: changelog

#2922 feat(changelog): kubernetes-added-kubernetes-kapsule-and-kubernetes-kosm 2024-03-19
  changelog/march2024/2024-03-19-kubernetes-added-kubernetes-kapsule-and-kubernetes-kosm.mdx
Labels: type: changelog

#2920 feat(changelog): kubernetes-changed-container-storage-interface-v03-now- 2024-03-19
  changelog/march2024/2024-03-19-kubernetes-changed-container-storage-interface-v03-now-.mdx
Labels: type: changelog

#2923 docs(rbd): pwd conditions
  managed-databases/postgresql-and-mysql/how-to/create-a-database.mdx
  managed-databases/postgresql-and-mysql/index.mdx
Labels: type: maintenance, status: tech review, priority: low, status: doc review

#2928 feat(ddb): remove menu and pages MTA-4353
  managed-databases/document-database/api-cli/backup-and-restore.mdx
  managed-databases/document-database/api-cli/index.mdx
  managed-databases/document-database/concepts.mdx
  managed-databases/document-database/how-to/add-a-database.mdx
  managed-databases/document-database/how-to/add-users.mdx
  managed-databases/document-database/how-to/assets/scaleway-create-instance-from-snapshot.webp
  managed-databases/document-database/how-to/assets/scaleway-dbaas-backup.webp
  managed-databases/document-database/how-to/assets/scaleway-dbaas-pn-attached.webp
  managed-databases/document-database/how-to/assets/scaleway-rdb-engine-version-upgrade.webp
  managed-databases/document-database/how-to/clone-a-database-instance.mdx
  managed-databases/document-database/how-to/configure-advanced-settings.mdx
  managed-databases/document-database/how-to/connect-database-instance.mdx
  managed-databases/document-database/how-to/connect-database-private-network.mdx
  managed-databases/document-database/how-to/create-a-database-instance.mdx
  managed-databases/document-database/how-to/create-read-replica.mdx
  managed-databases/document-database/how-to/delete-a-database-instance.mdx
  managed-databases/document-database/how-to/delete-database.mdx
  managed-databases/document-database/how-to/enable-autobackup.mdx
  managed-databases/document-database/how-to/index.mdx
  managed-databases/document-database/how-to/manage-allowed-ip-addresses.mdx
  managed-databases/document-database/how-to/manage-permissions.mdx
  managed-databases/document-database/how-to/manage-read-replica.mdx
  managed-databases/document-database/how-to/manage-snapshots.mdx
  managed-databases/document-database/how-to/renew-tls-certificate.mdx
  managed-databases/document-database/how-to/upgrade-a-database-instance.mdx
  managed-databases/document-database/index.mdx
  managed-databases/document-database/quickstart.mdx
  managed-databases/document-database/reference-content/autohealing.mdx
  managed-databases/document-database/reference-content/index.mdx
  managed-databases/document-database/reference-content/known-differences-ferret-mongo.mdx
  managed-databases/document-database/reference-content/overview.mdx
  managed-databases/document-database/troubleshooting/disk-full.mdx
  managed-databases/document-database/troubleshooting/index.mdx
  menu/changelogs.json
  menu/navigation.json
Labels: type: maintenance, priority: critical, status: doc review

#2929 fix(s3): fix wrong wording MTA-4346
  storage/object/api-cli/bucket-policy.mdx
Labels: priority: high

#2931 fix(srv): remove incorrect diagram
  macros/serverless/difference-jobs-functions-containers.mdx
Labels: priority: low

#2926 feat(changelog): jobs-added-custom-ephemeral-storage-on-serverless-jobs 2024-03-20
  changelog/march2024/2024-03-20-jobs-added-custom-ephemeral-storage-on-serverless-jobs.mdx
Labels: type: changelog

#2939 fix(em): add RISCV nav
  menu/navigation.json
Labels: priority: critical

#2944 feat(rdb): remove endpoints
  managed-databases/postgresql-and-mysql/api-cli/migrating-endpoints.mdx
  managed-databases/postgresql-and-mysql/how-to/connect-database-private-network.mdx
  managed-databases/postgresql-and-mysql/how-to/create-read-replica.mdx
  managed-databases/postgresql-and-mysql/how-to/remove-public-endpoint.mdx
  menu/navigation.json
Labels: type: new content, status: tech review, priority: high, status: doc review

#2947 fix(tutorials): fix broken link and indentation
  tutorials/nextjs-app-serverless-functions-sqldb/index.mdx
Labels: priority: low

#2943 docs(iam): requirements update
  identity-and-access-management/iam/api-cli/managing-projects.mdx
  identity-and-access-management/iam/how-to/accept-invitation-to-orga.mdx
  identity-and-access-management/iam/how-to/create-api-keys.mdx
  identity-and-access-management/iam/how-to/create-application.mdx
  identity-and-access-management/iam/how-to/create-group.mdx
  identity-and-access-management/iam/how-to/create-policy.mdx
  identity-and-access-management/iam/how-to/invite-user-to-orga.mdx
  identity-and-access-management/iam/how-to/manage-api-keys.mdx
  identity-and-access-management/iam/how-to/manage-applications.mdx
  identity-and-access-management/iam/how-to/manage-groups.mdx
  identity-and-access-management/iam/how-to/manage-policies.mdx
  identity-and-access-management/iam/how-to/manage-users.mdx
  identity-and-access-management/iam/how-to/view-logs.mdx
  identity-and-access-management/iam/quickstart.mdx
  identity-and-access-management/iam/reference-content/overview.mdx
  identity-and-access-management/iam/reference-content/reproduce-roles-project-api-keys.mdx
  identity-and-access-management/iam/reference-content/users-groups-and-applications.mdx
Labels: type: maintenance

#2828 [LLM] New docs
  ai-data/index.mdx
  ai-data/llm-inference/concepts.mdx
  ai-data/llm-inference/how-to/create-deployment.mdx
  ai-data/llm-inference/how-to/delete-deployment.mdx
  ai-data/llm-inference/how-to/index.mdx
  ai-data/llm-inference/how-to/manage-allowed-ips.mdx
  ai-data/llm-inference/how-to/monitor-deployment.mdx
  ai-data/llm-inference/index.mdx
  ai-data/llm-inference/quickstart.mdx
  ai-data/llm-inference/reference-content/index.mdx
  ai-data/llm-inference/reference-content/llama-2-70b.mdx
  ai-data/llm-inference/reference-content/mixtral-8x7b.mdx
  ai-data/llm-inference/reference-content/wizardlm-70b.mdx
  menu/changelogs.json
  menu/filters.json
  menu/navigation.json
Labels: do not merge

#2955 docs(em): add link to netplan config
  bare-metal/elastic-metal/how-to/configure-flexible-ip.mdx
Labels: priority: low

#2953 docs(dom): weekly review
  network/domains-and-dns/how-to/renew-domain.mdx
  network/domains-and-dns/how-to/transfer-external-domain.mdx
Labels: type: maintenance

#2956 docs(compute): review docs
  bare-metal/elastic-metal/how-to/use-private-networks.mdx
  bare-metal/elastic-metal/troubleshooting/enable-ssh-virtualization-distribution.mdx
  compute/gpu/reference-content/understanding-nvidia-tao.mdx
  dedibox-network/dns/how-to/configure-reverse-dns.mdx
  dedibox-network/dns/how-to/configure-secondary-dns.mdx
  dedibox-network/domains/how-to/enable-dnssec.mdx
  dedibox-network/domains/how-to/file-contact-info.mdx
  dedibox-network/domains/quickstart.mdx
Labels: priority: low

#2957 feat(changelog): postgresql-and-mysql-added-ability-to-remove-public-end 2024-03-25
  changelog/march2024/2024-03-25-postgresql-and-mysql-added-ability-to-remove-public-end.mdx
Labels: type: changelog

#2863 add(domains): add trade documentation
  menu/navigation.json
  network/domains-and-dns/concepts.mdx
  network/domains-and-dns/how-to/renew-domain.mdx
  network/domains-and-dns/how-to/trade-domain.mdx
  network/domains-and-dns/how-to/unlock-internal-domain.mdx
Labels: type: new content

#2977 docs(srv): add concurrency docs and update deploy page MTA-4361
  menu/navigation.json
  serverless/containers/concepts.mdx
  serverless/containers/how-to/deploy-a-container-from-external-container-registry.mdx
  serverless/containers/how-to/deploy-a-container-from-scaleway-container-registry.mdx
  serverless/containers/reference-content/containers-concurrency.mdx
Labels: status: tech review, priority: low, status: doc review

#2595 feat(lb): add ipv6 doc
  faq/loadbalancer.mdx
  network/load-balancer/concepts.mdx
  network/load-balancer/how-to/create-load-balancer.mdx
  network/load-balancer/how-to/create-manage-flex-ips.mdx
  network/load-balancer/quickstart.mdx
  network/load-balancer/troubleshooting/load-balancer-limitations.mdx
Labels: type: new content, do not merge

#2981 chore(tutorials): content review
  tutorials/deploy-big-blue-button/index.mdx
  tutorials/deploy-instances-packer-terraform/index.mdx
  tutorials/erpnext-13/index.mdx
  tutorials/flask/index.mdx
  tutorials/foreman-puppet/index.mdx
  tutorials/hadoop/index.mdx
  tutorials/hestiacp/index.mdx
  tutorials/host-github-runner/index.mdx
  tutorials/install-docker-ubuntu-bionic/index.mdx
  tutorials/install-golang-ubuntu-bionic/index.mdx
  tutorials/postgis-managed-databases/index.mdx
  tutorials/postman-api/index.mdx
  tutorials/powerdns-ubuntu-bionic/index.mdx
  tutorials/protect-server-fail2ban/index.mdx
  tutorials/send-sms-iot-device-twilio/index.mdx
  tutorials/setup-cockroachdb-cluster/index.mdx
  tutorials/setup-mysql/index.mdx
  tutorials/setup-postfix-ubuntu-bionic/index.mdx
  tutorials/use-container-registry-github-actions/index.mdx
  tutorials/zammad-ticketing/index.mdx
Labels: status: doc review

#2973 feat(bil): cost manager
  console/billing/api-cli/index.mdx
  console/billing/api-cli/retrieve-monthly-consumption.mdx
  console/billing/concepts.mdx
  console/billing/how-to/assets/scaleway-billing-consumption-chart.webp
  console/billing/how-to/assets/scaleway-billing-consumption-list.webp
  console/billing/how-to/change-payment-method.mdx
  console/billing/how-to/redeem-voucher-code.mdx
  console/billing/how-to/use-the-cost-manager.mdx
  menu/navigation.json
Labels: type: new content, status: ready

#2983 feat(gpu): add driver install doc
  compute/gpu/troubleshooting/install-nvidia-drivers-ubuntu.mdx
  compute/gpu/troubleshooting/updating-gpu-instance-with-cloud-init.mdx
  menu/navigation.json
Labels: status: doc review

#2986 chore(GEN): docs content review MTA-4369
  console/account/how-to/recover-a-lost-password.mdx
  serverless/containers/how-to/add-a-custom-domain-to-a-container.mdx
  serverless/containers/reference-content/deploy-container.mdx
  serverless/functions/reference-content/deploy-function.mdx
  serverless/functions/reference-content/local-testing.mdx
Labels: priority: low, status: doc review

#2989 feat(bil): fix images MTA-4356s
  console/billing/how-to/use-the-cost-manager.mdx
Labels: type: maintenance, priority: high, status: doc review

#2988 feat(changelog): billing-added-discover-our-cost-manager-tool 2024-03-28
  changelog/march2024/2024-03-28-billing-added-discover-our-cost-manager-tool.mdx
Labels: type: changelog

#2996 feat(cpt): add faq question
  faq/cockpit.mdx
Labels: priority: high

#2995 feat(changelog): jobs-added-serverless-jobs-is-now-in-ga 2024-03-28
  changelog/march2024/2024-03-28-jobs-added-serverless-jobs-is-now-in-ga.mdx
Labels: type: changelog

#2993 feat(rdb): shared responsibility MTA-4383
  managed-databases/postgresql-and-mysql/how-to/manage-read-replica.mdx
  managed-databases/postgresql-and-mysql/reference-content/security-and-reliability.mdx
  menu/navigation.json
Labels: type: new content, status: tech review, priority: high, status: doc review
