Repository scaleway/docs-content, pull requests merged in 2024-05, with the labels that each got.

#3139 docs(sem): content review
  identity-and-access-management/secret-manager/reference-content/data-encryption-with-secret-manager.mdx
Labels: type: maintenance

#3147 feat(aps): fix link
  menu/navigation.json
Labels: type: maintenance

#3143 feat(changelog): postgresql-and-mysql-added-self-apply-scheduled-mainten 2024-05-03
  changelog/may2024/2024-05-03-postgresql-and-mysql-added-self-apply-scheduled-mainten.mdx
Labels: type: changelog

#3140 fix(ddx): remove outdated screenshots
  bare-metal/dedibox/how-to/link-dedibox-account.mdx
Labels: priority: low, status: doc review

#3148 feat(quotas): add MTA-4569
  identity-and-access-management/organizations-and-projects/additional-content/organization-quotas.mdx
  managed-services/transactional-email/reference-content/protecting-your-domain-reputation.mdx
Labels: type: maintenance, priority: low, status: doc review

#3149 fix(iot): review iot doc
  managed-services/iot-hub/concepts.mdx
  managed-services/iot-hub/reference-content/certificate.mdx
  managed-services/iot-hub/reference-content/devices.mdx
  managed-services/iot-hub/reference-content/hubs.mdx
  managed-services/iot-hub/reference-content/networks.mdx
  managed-services/iot-hub/reference-content/overview.mdx
  managed-services/iot-hub/reference-content/routes.mdx
  managed-services/iot-hub/reference-content/twins.mdx
Labels: type: maintenance, status: doc review

#3152 fix(tutorials): fix validation dates
  containers/kubernetes/api-cli/changing-control-plane-offer.mdx
  tutorials/configure-dvc-with-object-storage/index.mdx
Labels: type: bug

#3153 chore(docs): review docs
  compute/gpu/reference-content/kubernetes-gpu-time-slicing.mdx
  containers/kubernetes/api-cli/cluster-monitoring.mdx
  containers/kubernetes/api-cli/managing-tags.mdx
  containers/kubernetes/how-to/connect-cluster-kubectl.mdx
  dedibox-network/rpn/how-to/find-rpn-gateway.mdx
Labels: type: maintenance

#3155 docs(cpt): content review
  observability/cockpit/reference-content/cockpit-limitations.mdx
Labels: type: maintenance

#3120 feat(web): add tutorial for staging wp site
  tutorials/create-deploy-staging-site-cpanel/assets/scaleway-cpanel-wp-clone.webp
  tutorials/create-deploy-staging-site-cpanel/assets/scaleway-cpanel-wp-copy.webp
  tutorials/create-deploy-staging-site-cpanel/assets/scaleway-cpanel-wp-label.webp
  tutorials/create-deploy-staging-site-cpanel/assets/scaleway-cpanel-wp-toolkit.webp
  tutorials/create-deploy-staging-site-cpanel/index.mdx
Labels: type: new content

#3156 fix(web): docs content review
  dedibox-console/classic-hosting/how-to/change-password-mysql-database.mdx
  developer-tools/terraform/quickstart.mdx
Labels: status: doc review

#3157 chore(tutorials): content review
  tutorials/backup-synology-nas-s3-hyper-backup/index.mdx
  tutorials/bind-dns-server/index.mdx
  tutorials/cloud-controller-manager/index.mdx
  tutorials/configure-apache-kafka/index.mdx
  tutorials/configure-dvc-with-object-storage/index.mdx
  tutorials/configure-realtime-alerting-slack/index.mdx
  tutorials/configure-virtual-machine-esxi/index.mdx
  tutorials/configure-vm-hyperv/index.mdx
  tutorials/configuring-loadbalancer-wordpress/index.mdx
  tutorials/create-openwrt-image-for-scaleway/index.mdx
  tutorials/deploy-angular-application/index.mdx
  tutorials/deploy-hasura-engine-database-postgresql/index.mdx
  tutorials/dhcpcd-dedibox/index.mdx
  tutorials/get-started-crossplane-kubernetes/index.mdx
  tutorials/prestashop-dedibox/index.mdx
  tutorials/send-emails-with-serverless-and-tem/index.mdx
Labels: status: doc review

#3163 fix(lb): review doc
  network/load-balancer/how-to/add-certificate.mdx
Labels: type: maintenance

#3165 chore(docs): content review MTA-4574
  console/account/reference-content/scaleway-network-information.mdx
  console/account/troubleshooting/cannot-log-into-my-account.mdx
  developer-tools/terraform/quickstart.mdx
  serverless/containers/reference-content/use-cases.mdx
  serverless/functions/reference-content/use-cases.mdx
  storage/object/api-cli/combining-iam-and-object-storage.mdx
  storage/object/api-cli/create-bucket-policy.mdx
Labels: priority: low, status: doc review

#3166 docs(s3): add mention of free trial and versioning in bucket creation page MTA-4596
  storage/object/how-to/create-a-bucket.mdx
Labels: priority: low, status: doc review

#3170 feat(changelog): jobs-added-serverless-jobs-max-timeout-increased-to-24h 2024-05-14
  changelog/may2024/2024-05-14-jobs-added-serverless-jobs-max-timeout-increased-to-24h.mdx
Labels: type: changelog

#3173 feat(changelog): dedibox-added-dedibox-vps-are-now-in-general-availabili 2024-05-15
  changelog/may2024/2024-05-15-dedibox-added-dedibox-vps-are-now-in-general-availabili.mdx
Labels: type: changelog

#3168 fix(lb): reduce concept length
  macros/network/lb-create-backend-2-traffic-mgnt.mdx
  menu/navigation.json
  network/load-balancer/concepts.mdx
  network/load-balancer/how-to/create-load-balancer.mdx
  network/load-balancer/quickstart.mdx
  network/load-balancer/reference-content/assets/scaleway-private-lb.webp
  network/load-balancer/reference-content/assets/scaleway-privatelb-multipn.webp
  network/load-balancer/reference-content/assets/scaleway-public-lb.webp
  network/load-balancer/reference-content/public-private-accessibility.mdx
Labels: status: doc review

#3167 fix(s3): add missing CLI requirements to CLI pages MTA-4582
  storage/object/api-cli/bucket-website-api.mdx
  storage/object/api-cli/migrating-buckets.mdx
  storage/object/api-cli/object-lock.mdx
  storage/object/api-cli/setting-cors-rules.mdx
  storage/object/api-cli/share-buckets-read-only.mdx
Labels: priority: low, status: doc review

#3176 fix(DDX): remove emoji that may cause UTF8 issue in console
  changelog/may2024/2024-05-15-dedibox-added-dedibox-vps-are-now-in-general-availabili.mdx
Labels: priority: high

#3171 feat(changelog): domains-and-dns-changed-increase-in-the-cost-of-the-fr- 2024-05-15
  changelog/may2024/2024-05-15-domains-and-dns-changed-increase-in-the-cost-of-the-fr-.mdx
Labels: type: changelog

#3180 chore(docs): content review MTA-4586
  serverless/jobs/how-to/create-job-from-external-registry.mdx
  serverless/jobs/how-to/create-job-from-scaleway-registry.mdx
  serverless/jobs/quickstart.mdx
Labels: priority: low, status: doc review

#3184 feat(changelog): apple-silicon-changed-macos-14-is-now-available-on-all- 2024-05-17
  changelog/may2024/2024-05-17-apple-silicon-changed-macos-14-is-now-available-on-all-.mdx
Labels: type: changelog

#3179 fix(pgw): improve concepts
  network/public-gateways/concepts.mdx
  network/vpc/concepts.mdx
Labels: status: doc review

#3187 fix(pgw): update info on dns
  network/public-gateways/concepts.mdx
  network/vpc/concepts.mdx
Labels: type: maintenance, status: doc review

#3185 docs(domains&dns): using dig
  menu/navigation.json
  network/domains-and-dns/how-to/add-external-domain.mdx
  network/domains-and-dns/how-to/test-dns-zones-with-dig.mdx
Labels: type: new content

#3193 fix(docs): fix validation dates
  serverless/jobs/how-to/create-job-from-external-registry.mdx
  serverless/jobs/how-to/create-job-from-scaleway-registry.mdx
  serverless/jobs/quickstart.mdx
Labels: type: maintenance, status: doc review

#3189 docs(block-storage): clarify quickstart
  storage/block/quickstart.mdx
Labels: type: maintenance

#3191 chore(gen): docs content review 20/05/24
  compute/instances/reference-content/workload-optimized.mdx
  dedibox-network/ipv6/how-to/configure-ipv6-windows.mdx
  dedibox-network/ipv6/how-to/enable-ipv6-slaac.mdx
  dedibox-network/ipv6/how-to/request-prefix.mdx
  tutorials/cloud-controller-manager/index.mdx
  tutorials/dhclient-dedibox/index.mdx
  tutorials/first-steps-linux-command-line/index.mdx
  tutorials/install-medusa/index.mdx
  tutorials/install-rkhunter/index.mdx
Labels: priority: low, status: doc review

#3142 feat(tem): smtp config
  managed-services/transactional-email/reference-content/smtp-configuration.mdx
  menu/navigation.json
Labels: type: new content, status: tech review, priority: low, status: doc review

#3195 fix(tem): doc review
  labs/ipfs-naming/api-cli/names-operations.mdx
  managed-services/transactional-email/how-to/generate-api-keys-for-tem-with-iam.mdx
  managed-services/transactional-email/reference-content/smtp-configuration.mdx
  managed-services/transactional-email/reference-content/tem-capabilities-and-limits.mdx
Labels: type: maintenance, priority: low, status: doc review

#3199 fix(docs): fix wrong link on landing page
  index.mdx
Labels: priority: high

#3197 docs(review): content review
  identity-and-access-management/secret-manager/api-cli/external-secrets.mdx
  network/domains-and-dns/how-to/assets/scaleway-dns-delete-domain.webp
  network/domains-and-dns/how-to/delete-external-domain.mdx
  network/domains-and-dns/quickstart.mdx
Labels: type: maintenance, status: doc review

#3202 feat(changelog): kubernetes-removed-kapsule-clusters-with-only-public-ip 2024-05-22
  changelog/may2024/2024-05-22-kubernetes-removed-kapsule-clusters-with-only-public-ip.mdx
Labels: type: changelog

#3203 feat(changelog): kubernetes-removed-scaleway-kubernetes-products-no-long 2024-05-22
  changelog/may2024/2024-05-22-kubernetes-removed-scaleway-kubernetes-products-no-long.mdx
Labels: type: changelog

#3212 feat(ddx): add vps throttled bandwidth
  faq/dedibox.mdx
Labels: type: new content

#3215 feat(tutorial): added tutorial helm
  tutorials/kubernetes-package-management-helm/assets/scaleway-helm-schema.webp
  tutorials/kubernetes-package-management-helm/index.mdx
Labels: type: new content, status: doc review

#3214 chore(docs): docs review MTA-4618
  developer-tools/scaleway-sdk/go-sdk.mdx
  developer-tools/scaleway-sdk/js-sdk.mdx
  developer-tools/scaleway-sdk/python-sdk.mdx
  serverless/jobs/how-to/run-job.mdx
  serverless/jobs/how-to/stop-job.mdx
Labels: priority: low, status: doc review

#3217 fix(ddx): removed warsaw from ipv6 info
  dedibox-network/ipv6/how-to/request-prefix.mdx
Labels: priority: low

#3221 feat(changelog): cockpit-added-orderable-data-source-for-cockpit 2024-05-24
  changelog/may2024/2024-05-24-cockpit-added-orderable-data-source-for-cockpit.mdx
Labels: type: changelog

#3220 feat(changelog): cockpit-added-cockpit-available-in-all-region 2024-05-24
  changelog/may2024/2024-05-24-cockpit-added-cockpit-available-in-all-region.mdx
Labels: type: changelog

#3225 chore(all): docs content review
  managed-services/webhosting/how-to/manage-webhosting.mdx
  tutorials/deploy-chatwoot-self-care/index.mdx
  tutorials/install-kvm-elastic-metal/index.mdx
  tutorials/install-openlitespeed-wordpress/index.mdx
  tutorials/install-openvpn/index.mdx
  tutorials/install-pgbouncer/index.mdx
  tutorials/install-php-composer/index.mdx
  tutorials/install-postgresql/index.mdx
  tutorials/install-wireguard/index.mdx
Labels: priority: low, status: doc review

#3233 docs(block-storage): content review
  storage/block/api-cli/managing-a-volume.mdx
  storage/block/api-cli/unmounting-a-volume.mdx
  storage/block/how-to/attach-a-volume.mdx
  storage/block/how-to/create-a-snapshot.mdx
  storage/block/how-to/create-a-volume.mdx
  storage/block/how-to/create-volume-from-snapshot.mdx
  storage/block/how-to/delete-a-snapshot.mdx
  storage/block/how-to/delete-a-volume.mdx
  storage/block/how-to/detach-a-volume.mdx
  storage/block/how-to/increase-block-volume.mdx
  storage/block/how-to/unmount-a-volume.mdx
  storage/block/quickstart.mdx
Labels: type: maintenance

#3234 fix(ddx): fix netplan configuration
  dedibox-network/ip-failover/how-to/configure-debian-ubuntu.mdx
Labels: priority: medium

#3227 docs(dom): add dig command to query dns server
  network/domains-and-dns/how-to/test-dns-zones-with-dig.mdx
Labels: type: maintenance

#3232 fix(lb): doc review
  macros/network/lb-create-backend-1-basic.mdx
  network/load-balancer/api-cli/setting-up-ssl-offloading.mdx
  network/load-balancer/how-to/assets/scaleway-confirm-deletion.webp
  network/load-balancer/how-to/delete-load-balancer.mdx
  network/load-balancer/how-to/manage-frontends-and-backends.mdx
  network/load-balancer/how-to/set-up-s3-failover.mdx
  network/load-balancer/quickstart.mdx
  network/load-balancer/reference-content/ssl-bridging-offloading-passthrough.mdx
Labels: type: maintenance, status: doc review

#3182 docs(tutorials): Add SDB x Containers x Strapi tutorial MTA-4593
  tutorials/strapi-app-serverless-containers-sqldb/index.mdx
Labels: priority: low, status: doc review

#3235 ci(reviewBot): implement review bot in python to verify reviews
  .github/workflows/docs-review-bot.yml
  bin/check-review-dates.py
  requirements.txt
Labels: priority: medium, status: doc review

#3210 docs(cockpit): add doc for retrieving logs using logcli
  menu/navigation.json
  observability/cockpit/api-cli/assets/scaleway-data-source-url.webp
  observability/cockpit/api-cli/querying-logs-with-logcli.mdx
Labels: type: new content

#3238 fix(bil): add note about debit card
  console/billing/how-to/add-payment-method.mdx
Labels: type: maintenance, priority: medium, status: doc review

#3154 feat(k8s): routed ips
  containers/kubernetes/reference-content/move-kubernetes-nodes-routed-ip.mdx
  menu/navigation.json
Labels: type: new content
