Repository scaleway/docs-content, pull requests merged in 2024-12, with the labels that each got.

#4061 feat(changelog): dedibox-added-dedibox-commitment-plans 2024-11-29
  changelog/november2024/2024-11-29-dedibox-added-dedibox-commitment-plans.mdx
Labels: type: changelog

#4055 chore(docs): weekly review
  identity-and-access-management/secret-manager/api-cli/external-secrets.mdx
  network/domains-and-dns/how-to/delete-external-domain.mdx
  network/domains-and-dns/quickstart.mdx
Labels: type: maintenance, status: doc review

#4063 feat(changelog): elastic-metal-added-new-titanium-and-iridium-offers 2024-11-29
  changelog/november2024/2024-11-29-elastic-metal-added-new-titanium-and-iridium-offers.mdx
Labels: type: changelog

#4068 fix(object): bugs
  storage/object/api-cli/create-bucket-policy.mdx
  storage/object/concepts.mdx
Labels: priority: critical

#4067 fix(llm): reviews 25/11
  ai-data/managed-inference/reference-content/llama-3-70b-instruct.mdx
  ai-data/managed-inference/reference-content/sentence-t5-xxl.mdx
  containers/kubernetes/how-to/use-nvidia-gpu-operator.mdx
  dedibox-network/ipv6/how-to/configure-ipv6-windows.mdx
  dedibox-network/ipv6/how-to/enable-ipv6-slaac.mdx
  dedibox-network/ipv6/how-to/request-prefix.mdx
Labels: type: maintenance, priority: low, status: doc review

#4066 fix(gen): reviews 02/12
  identity-and-access-management/iam/api-cli/using-api-key-object-storage.mdx
  identity-and-access-management/iam/reference-content/reproduce-roles-project-api-keys.mdx
  managed-databases/postgresql-and-mysql/api-cli/migrating-endpoints.mdx
  managed-databases/postgresql-and-mysql/api-cli/pg-audit.mdx
Labels: type: maintenance, priority: low, status: doc review

#4071 fix(changelog): bug
  changelog/november2024/2024-11-29-elastic-metal-added-new-titanium-and-iridium-offers.mdx
Labels: priority: critical

#4070 feat(changelog): public-gateways-added-new-public-gateway-xl-offer 2024-12-03
  changelog/december2024/2024-12-03-public-gateways-added-new-public-gateway-xl-offer.mdx
Labels: type: changelog

#4074 feat(changelog): redistm-added-redis-2-node-ha-in-public-beta 2024-12-03
  changelog/december2024/2024-12-03-redistm-added-redis-2-node-ha-in-public-beta.mdx
Labels: type: changelog

#4078 chore(docs): fix 404s
  environmental-footprint/environmental-footprint/additional-content/environmental-footprint-calculator.mdx
  identity-and-access-management/audit-trail/quickstart.mdx
  identity-and-access-management/audit-trail/reference-content/index.mdx
  network/edge-services/how-to/create-pipeline-lb.mdx
  network/edge-services/how-to/subscribe-edge-services.mdx
  network/edge-services/reference-content/understanding-ga.mdx
  network/ipam/reference-content/ipv6.mdx
  tutorials/migrating-docker-workloads-to-kubernetes-kapsule/index.mdx
  tutorials/migrating-from-another-managed-kubernetes-service-to-scaleway-kapsule/index.mdx
Labels: type: maintenance

#4073 fix(network): doc review
  network/ipam/concepts.mdx
  network/load-balancer/how-to/manage-frontends-and-backends.mdx
  network/load-balancer/quickstart.mdx
  network/vpc/concepts.mdx
  network/vpc/how-to/manage-routing.mdx
  network/vpc/reference-content/understanding-routing.mdx
Labels: type: maintenance, status: doc review

#4077 feat(changelog): functions-fixed-access-fixed-for-logs-and-metrics 2024-12-04
  changelog/december2024/2024-12-04-functions-fixed-access-fixed-for-logs-and-metrics.mdx
Labels: type: changelog

#4076 feat(changelog): containers-fixed-access-fixed-for-logs-and-metrics 2024-12-04
  changelog/december2024/2024-12-04-containers-fixed-access-fixed-for-logs-and-metrics.mdx
Labels: type: changelog

#4072 feat(iam): view permission sets
  identity-and-access-management/iam/how-to/view-permission-sets.mdx
  menu/navigation.json
Labels: type: new content, status: tech review, priority: low, status: doc review

#4082 docs(bil): fix instance name
  console/billing/additional-content/understanding-savings-plans.mdx
Labels: type: maintenance, priority: low

#4080 docs(gen): update landing page keywords
  containers/kubernetes/api-cli/creating-managing-kubernetes-lifecycle-cliv2.mdx
  containers/kubernetes/concepts.mdx
  index.mdx
Labels: type: maintenance, priority: low

#4086 feat(changelog): load-balancers-removed-static-attachment-is-no-longer-a 2024-12-05
  changelog/december2024/2024-12-05-load-balancers-removed-static-attachment-is-no-longer-a.mdx
Labels: type: changelog

#4088 chore(docs): weekly review
  storage/block/api-cli/managing-a-volume.mdx
  storage/block/api-cli/unmounting-a-volume.mdx
  storage/block/how-to/attach-a-volume.mdx
  storage/block/how-to/create-a-snapshot.mdx
  storage/block/how-to/create-a-volume.mdx
  storage/block/how-to/create-volume-from-snapshot.mdx
  storage/block/how-to/delete-a-snapshot.mdx
  storage/block/how-to/unmount-a-volume.mdx
  storage/block/quickstart.mdx
Labels: type: maintenance

#4085 feat(changelog): messaging-and-queuing-changed-messaging-and-queuing-is- 2024-12-05
  changelog/december2024/2024-12-05-messaging-and-queuing-changed-messaging-and-queuing-is-.mdx
Labels: type: changelog

#4091 docs(k8s): version release 1.31
  containers/kubernetes/reference-content/version-support-policy.mdx
Labels: type: maintenance, priority: low

#4084 chore(gen): documentation review MTA-5329
  console/account/how-to/log-in-to-the-console.mdx
  console/account/troubleshooting/protecting-yourself-fraud-phishing.mdx
  developer-tools/scaleway-cli/reference-content/console-keyboard-shortcuts.mdx
  storage/object/how-to/create-bucket-policy.mdx
  tutorials/cloud-controller-manager/index.mdx
  tutorials/dhclient-dedibox/index.mdx
  tutorials/veeam-backup-replication-s3/index.mdx
Labels: priority: low

#4096 fix(llm): reviews 09/12
  ai-data/managed-inference/reference-content/data-privacy-security-scaleway-ai-services.mdx
  compute/instances/how-to/manage-volumes.mdx
  managed-services/webhosting/reference-content/plesk-reference-content.mdx
  managed-services/webhosting/reference-content/understanding-differences-cpanel-plesk.mdx
Labels: type: maintenance, priority: low, status: doc review

#4095 fix(cr): reviews 09/12
  containers/container-registry/how-to/create-namespace.mdx
  containers/container-registry/how-to/delete-image.mdx
  containers/container-registry/how-to/delete-namespace.mdx
  containers/container-registry/how-to/display-image-versions.mdx
  containers/container-registry/how-to/manage-image-privacy-settings.mdx
  containers/container-registry/how-to/manage-namespace-privacy-policies.mdx
Labels: type: maintenance, priority: low, status: doc review

#4094 fix(bil): add invoice status to faq
  faq/billing.mdx
Labels: type: maintenance, priority: medium, status: doc review

#4099 fix(ins): update images
  compute/instances/how-to/create-an-instance.mdx
Labels: type: maintenance, priority: medium, status: doc review

#4100 fix(pgw): doc review
  network/public-gateways/how-to/assets/scaleway-delete-gw.webp
  network/public-gateways/how-to/create-a-public-gateway.mdx
  network/public-gateways/how-to/delete-a-public-gateway.mdx
  network/public-gateways/how-to/use-flexible-ips.mdx
  network/public-gateways/how-to/use-ssh-bastion.mdx
  network/public-gateways/quickstart.mdx
  network/public-gateways/troubleshooting/gw-limitations.mdx
Labels: type: maintenance

#4102 fix(rdb): remove ip assignment mentions in faq
  faq/databases-for-postgresql-and-mysql.mdx
  faq/databases-for-redis.mdx
Labels: type: maintenance, priority: medium, status: doc review

#3927 feat(aps): add port information for vnc connections
  bare-metal/apple-silicon/how-to/access-remote-desktop-mac-mini.mdx
  bare-metal/apple-silicon/quickstart.mdx
  bare-metal/apple-silicon/troubleshooting/cant-connect-using-vnc.mdx
Labels: status: ready

#4109 docs(gen): fixed typos
  ai-data/generative-apis/api-cli/using-chat-api.mdx
  ai-data/generative-apis/api-cli/using-embeddings-api.mdx
  compute/gpu/how-to/create-manage-gpu-instance.mdx
  compute/gpu/quickstart.mdx
  compute/instances/how-to/create-a-block-volume.mdx
  compute/instances/quickstart.mdx
  identity-and-access-management/iam/reference-content/users-groups-and-applications.mdx
Labels: type: maintenance, priority: low

#4110 docs(ins): fixed titles
  compute/instances/reference-content/identify-devices.mdx
Labels: type: maintenance, priority: low

#4097 chore(gen): doc review MTA-5351
  serverless/sql-databases/api-cli/secure-connection-ssl-tls.mdx
  storage/object/troubleshooting/cannot-access-data.mdx
  storage/object/troubleshooting/cannot-delete-bucket.mdx
  storage/object/troubleshooting/cannot-restore-glacier.mdx
  storage/object/troubleshooting/low-performance.mdx
  tutorials/install-parse-server/index.mdx
  tutorials/install-pgbouncer/index.mdx
  tutorials/installation-lemp-ubuntu-bionic/index.mdx
  tutorials/installation-uncomplicated-firewall/index.mdx
  tutorials/jitsi-ubuntu-jammy-jellyfish/index.mdx
  tutorials/restic-s3-backup/index.mdx
  tutorials/sem-terraform/index.mdx
Labels: priority: low, status: doc review

#4123 fix(docs): respond to client feedback
  faq/elastic-metal.mdx
  tutorials/deploy-saas-application/index.mdx
Labels: type: maintenance, status: doc review

#4122 fix(docs): nw docs review
  faq/vpc.mdx
  network/load-balancer/how-to/create-manage-flex-ips.mdx
  network/load-balancer/reference-content/public-private-accessibility.mdx
Labels: type: maintenance, status: doc review

#4121 fix(lb): fix mysql health check info
  network/load-balancer/reference-content/configuring-health-checks.mdx
Labels: type: maintenance, status: doc review

#3942 feat(interlink): private beta doc
  network/interlink/assets/scaleway-interlink-diag-simple.webp
  network/interlink/concepts.mdx
  network/interlink/index.mdx
  network/interlink/reference-content/assets/scaleway-interlink-config.webp
  network/interlink/reference-content/assets/scaleway-interlink-diag-simple.webp
  network/interlink/reference-content/assets/scaleway-interlink-diag-tech.webp
  network/interlink/reference-content/assets/scaleway-interlink-ordering.webp
  network/interlink/reference-content/configuring.mdx
  network/interlink/reference-content/index.mdx
  network/interlink/reference-content/overview.mdx
  network/interlink/reference-content/provisioning.mdx
  network/interlink/reference-content/statuses.mdx
Labels: type: new content, do not merge

#4135 chore(docs): weekly review
  faq/blockstorage.mdx
  faq/domains-and-dns.mdx
  storage/block/how-to/delete-a-volume.mdx
  storage/block/how-to/detach-a-volume.mdx
  storage/block/how-to/increase-block-volume.mdx
Labels: type: maintenance

#4132 feat(rdb): encryption at rest api + bench MTA-5369
  managed-databases/postgresql-and-mysql/api-cli/setting-up-encryption-at-rest.mdx
  managed-databases/postgresql-and-mysql/reference-content/encryption-at-rest-performance-benchmark.mdx
  menu/navigation.json
Labels: type: new content, status: tech review, priority: medium, status: doc review

#4134 fix(gen): reviews 19/12
  bare-metal/apple-silicon/how-to/create-mac-mini.mdx
  bare-metal/apple-silicon/how-to/delete-mac-mini.mdx
  bare-metal/apple-silicon/how-to/reboot-mac-mini.mdx
  bare-metal/apple-silicon/how-to/reinstall-mac-mini.mdx
  bare-metal/apple-silicon/troubleshooting/cant-connect-using-ssh.mdx
  bare-metal/apple-silicon/troubleshooting/cant-connect-using-vnc.mdx
  bare-metal/apple-silicon/troubleshooting/filevault-preventing-system-boot.mdx
  bare-metal/dedibox/how-to/link-dedibox-account.mdx
  compute/instances/how-to/connect-to-instance.mdx
  compute/instances/quickstart.mdx
  compute/instances/troubleshooting/fix-unreachable-noble-after-reboot.mdx
  console/billing/additional-content/understanding-savings-plans.mdx
  console/billing/how-to/purchase-savings-plan.mdx
  faq/dedibox-in-scaleway-console.mdx
  faq/elastic-metal.mdx
  identity-and-access-management/organizations-and-projects/how-to/create-ssh-key.mdx
  partners/partner-space/concepts.mdx
Labels: type: maintenance, priority: low, status: doc review

#4137 fix(gen): update schedule for linkcheck
  .github/workflows/link-check-schedule.yml
  ai-data/managed-inference/reference-content/llama-3.3-70b-instruct.mdx
Labels: priority: low

#4142 fix(rdb): reviews 23/12
  compute/instances/reference-content/images-and-instantapps.mdx
  compute/instances/troubleshooting/fix-noble-wrong-ppa-configuration.mdx
  containers/container-registry/how-to/push-images.mdx
  containers/kubernetes/api-cli/cluster-monitoring.mdx
  containers/kubernetes/how-to/edit-cluster.mdx
  containers/kubernetes/how-to/edit-kosmos-cluster.mdx
  containers/kubernetes/how-to/enable-easy-deploy.mdx
  containers/kubernetes/how-to/upgrade-kubernetes-version.mdx
  containers/kubernetes/reference-content/introduction-to-kubernetes.mdx
  dedibox-console/classic-hosting/how-to/solve-email-account-connection-problems.mdx
  dedibox-console/cpanel-hosting/quickstart.mdx
  dedibox/kvm-over-ip/how-to/quanta-computer.mdx
  managed-databases/postgresql-and-mysql/how-to/monitor-databases-cockpit.mdx
  network/load-balancer/api-cli/configuring-balancing-rules.mdx
  network/load-balancer/how-to/create-frontends-backends.mdx
  network/load-balancer/reference-content/configuring-frontends.mdx
  network/load-balancer/reference-content/configuring-health-checks.mdx
Labels: type: maintenance, priority: low, status: doc review

#3460 DRAFT: feat(k8s): add acl docs
  containers/kubernetes/how-to/manage-allowed-ips.mdx
  menu/navigation.json
Labels: priority: high

#4117 docs(k8s): updating docs on control plane isolation with private netw…
  containers/kubernetes/reference-content/secure-cluster-with-private-network.mdx
Labels: type: maintenance, priority: medium

#4145 fix(k8s): space
  containers/kubernetes/reference-content/version-support-policy.mdx
Labels: type: maintenance, priority: high

#4147 docs(review): cpt weekly review
  observability/cockpit/concepts.mdx
  observability/cockpit/how-to/access-grafana-and-managed-dashboards.mdx
  observability/cockpit/how-to/activate-push-traces.mdx
  observability/cockpit/how-to/add-contact-points.mdx
  observability/cockpit/how-to/create-token.mdx
  observability/cockpit/how-to/retrieve-grafana-credentials.mdx
  observability/cockpit/how-to/send-metrics-logs-to-cockpit.mdx
  observability/cockpit/quickstart.mdx
  observability/cockpit/troubleshooting/pusher-does-not-support-custom-http-headers.mdx
  observability/cockpit/troubleshooting/resetting-grafana-password-via-the-api.mdx
Labels: type: maintenance, status: doc review

#4148 fix(tutos): pt 1
  tutorials/cilicon-self-hosted-ci-on-apple-silicon/index.mdx
  tutorials/docker-instantapp/index.mdx
  tutorials/install-kvm-elastic-metal/index.mdx
  tutorials/install-postgresql/index.mdx
  tutorials/loriot-lorawan-network-server/index.mdx
  tutorials/manage-container-registry-images/index.mdx
  tutorials/manage-instances-with-terraform-and-functions/index.mdx
  tutorials/nginx-reverse-proxy/index.mdx
  tutorials/wordpress-instantapp/index.mdx
Labels: type: maintenance, priority: low, status: doc review

#4146 chore(gen): documentation review MTA-5394
  serverless/jobs/how-to/delete-job.mdx
  serverless/jobs/how-to/monitor-job.mdx
  serverless/sql-databases/troubleshooting/connection-timeout.mdx
  storage/object/api-cli/bucket-policy.mdx
  storage/object/api-cli/lifecycle-rules-api.mdx
  storage/object/api-cli/multipart-uploads.mdx
  storage/object/api-cli/setting-cors-rules.mdx
  storage/object/quickstart.mdx
  storage/object/videos.mdx
Labels: priority: low, status: doc review

#4144 docs(add): add external secrets in k8s
  containers/kubernetes/api-cli/external-secrets-kubernetes.mdx
  menu/navigation.json
Labels: status: doc review

#4141 docs(bls): add warning about mkfs command
  storage/block/api-cli/managing-a-volume.mdx
Labels: type: maintenance, status: doc review

#4136 chore(gen): documentation review MTA-5379
  faq/objectstorage.mdx
  local_404.txt
  storage/object/api-cli/enable-sse-c.mdx
  storage/object/api-cli/managing-lifecycle-cliv2.mdx
  storage/object/api-cli/object-storage-aws-cli.mdx
  storage/object/how-to/create-a-bucket.mdx
  storage/object/how-to/delete-a-bucket.mdx
  storage/object/how-to/manage-object-visibility.mdx
  storage/object/how-to/restore-an-object-from-glacier.mdx
  storage/object/how-to/upload-files-into-a-bucket.mdx
  storage/object/how-to/use-bucket-versioning.mdx
Labels: priority: low, status: doc review

#4155 fix(bm): update windows pricing
  faq/dedibox.mdx
  faq/elastic-metal.mdx
Labels: type: maintenance, priority: low
