Repository scaleway/docs-content, pull requests merged in 2024-09, with the labels that each got.

#3657 feat(changelog): domains-and-dns-changed-pricing-update-for-some-tlds 2024-09-02
  changelog/september2024/2024-09-02-domains-and-dns-changed-pricing-update-for-some-tlds.mdx
Labels: type: changelog

#3659 docs(faq): add link to domains changelog
  faq/domains-and-dns.mdx
Labels: type: maintenance

#3663 fix(rdb): add note
  managed-databases/redis/how-to/connect-to-redis-database-instance.mdx
  managed-databases/redis/how-to/create-a-database-for-redis.mdx
Labels: type: maintenance, status: tech review, priority: low

#3660 fix(ins): reviews 02/09
  compute/gpu/how-to/create-manage-gpu-instance.mdx
  compute/gpu/quickstart.mdx
  compute/instances/how-to/create-a-backup.mdx
  compute/instances/troubleshooting/fix-unreachable-ipv6-rhel-based-instance.mdx
  console/account/how-to/close-account.mdx
  containers/kubernetes/how-to/access-audit-logs.mdx
  containers/kubernetes/how-to/deploy-x86-arm-images.mdx
  containers/kubernetes/troubleshooting/containers-not-starting-arm-instances.mdx
  dedibox-console/account/how-to/resolve-abuse.mdx
  dedibox-network/ipv6/concepts.mdx
  dedibox/dedicated-servers/reference-content/basic-linux-commands.mdx
  dedibox/hardware/concepts.mdx
  dedibox/kvm-over-ip/concepts.mdx
  dedibox/kvm-over-ip/quickstart.mdx
  faq/account.mdx
  faq/apple-silicon.mdx
  managed-databases/postgresql-and-mysql/how-to/connect-database-instance.mdx
  serverless/containers/how-to/create-a-containers-namespace.mdx
  serverless/containers/how-to/manage-a-containers-namespace.mdx
  serverless/containers/reference-content/containers-limitations.mdx
  serverless/containers/troubleshooting/common-errors.mdx
  serverless/jobs/how-to/manage-job-schedule.mdx
Labels: type: maintenance, priority: low, status: doc review

#3666 fix(onp): add requirements
  identity-and-access-management/organizations-and-projects/additional-content/organization-quotas.mdx
  identity-and-access-management/organizations-and-projects/quickstart.mdx
Labels: type: maintenance, priority: low, status: doc review

#3668 feat(changelog): kubernetes-changed-new-size-limits-for-etcd-stores-in-k 2024-09-03
  changelog/september2024/2024-09-03-kubernetes-changed-new-size-limits-for-etcd-stores-in-k.mdx
Labels: type: changelog

#3670 feat(docs): weekly review domains & secret manager
  identity-and-access-management/secret-manager/api-cli/create-secret-path-migrate.mdx
  identity-and-access-management/secret-manager/how-to/delete-secret.mdx
  identity-and-access-management/secret-manager/how-to/delete-version.mdx
  identity-and-access-management/secret-manager/how-to/manage-secret.mdx
  identity-and-access-management/secret-manager/how-to/manage-version.mdx
  identity-and-access-management/secret-manager/reference-content/secret-manager-capabilities-limits.mdx
  network/domains-and-dns/reference-content/understanding-dns-records.mdx
Labels: type: maintenance

#3671 fix(ai): fix metadata
  ai-data/generative-apis/quickstart.mdx
  ai-data/generative-apis/reference-content/supported-models.mdx
Labels: type: maintenance, priority: high, status: doc review

#3669 feat(rdb): add new extensions page MTA-4994
  faq/databases-for-postgresql-and-mysql.mdx
  managed-databases/postgresql-and-mysql/reference-content/postgresql-extensions.mdx
  managed-databases/postgresql-and-mysql/troubleshooting/extension-errors.mdx
  menu/navigation.json
Labels: type: new content, status: tech review, priority: medium, status: doc review

#3655 docs(secret-manager): add secret types and json formats
  identity-and-access-management/secret-manager/api-cli/create-secret-with-type.mdx
  identity-and-access-management/secret-manager/reference-content/secret-types-json-format.mdx
  menu/navigation.json
Labels: type: new content

#3674 docs(block-storage): differences between block and low latency volumes
  menu/navigation.json
  storage/block/index.mdx
  storage/block/reference-content/differences-between-5kiops-volumes.mdx
Labels: type: new content, status: tech review

#3679 docs(gen): update suggested keywords from doc landing page
  index.mdx
Labels: type: maintenance, priority: low

#3681 feat(ins): new ref page
  compute/instances/reference-content/comaptibility-scw-os-images-flexible-ip.mdx
Labels: type: new content, priority: high, status: doc review

#3658 feat(pgw): upgrade pgw
  faq/public-gateways.mdx
  menu/navigation.json
  network/public-gateways/how-to/upgrade-public-gateway.mdx
Labels: type: new content, status: doc review

#3683 feat(rdb): reviews
  ai-data/managed-inference/concepts.mdx
  ai-data/managed-inference/how-to/delete-deployment.mdx
  ai-data/managed-inference/how-to/manage-allowed-ips.mdx
  ai-data/managed-inference/how-to/monitor-deployment.mdx
  ai-data/managed-inference/reference-content/llama-3-8b-instruct.mdx
  ai-data/managed-inference/reference-content/mixtral-8x7b-instruct-v0.1.mdx
  ai-data/managed-inference/reference-content/wizardlm-70b-v1.0.mdx
  compute/gpu/reference-content/understanding-nvidia-ngc.mdx
  compute/instances/reference-content/cost-optimized.mdx
  dedibox/hardware/troubleshooting/diagnose-defective-disk.mdx
  identity-and-access-management/organizations-and-projects/how-to/add-resources-project.mdx
  identity-and-access-management/organizations-and-projects/how-to/change-project-name.mdx
  identity-and-access-management/organizations-and-projects/how-to/create-a-project.mdx
  identity-and-access-management/organizations-and-projects/how-to/delete-a-project.mdx
  identity-and-access-management/organizations-and-projects/how-to/use-organizations.mdx
  identity-and-access-management/organizations-and-projects/quickstart.mdx
  managed-databases/postgresql-and-mysql/api-cli/pg-audit.mdx
  managed-services/webhosting/reference-content/classic-hosting-migration-information.mdx
Labels: type: maintenance, priority: low, status: doc review

#3692 fix(bil): savings plan GA
  console/billing/additional-content/understanding-savings-plans.mdx
  console/billing/how-to/purchase-savings-plan.mdx
Labels: type: maintenance, priority: medium, status: doc review

#3688 feat(changelog): ipam-added-ipam-is-now-in-general-availability 2024-09-11
  changelog/september2024/2024-09-11-ipam-added-ipam-is-now-in-general-availability.mdx
Labels: type: changelog

#3687 feat(changelog): public-gateways-added-public-gateway-upgrade 2024-09-11
  changelog/september2024/2024-09-11-public-gateways-added-public-gateway-upgrade.mdx
Labels: type: changelog

#3436 feat(vpc): custom routing doc
  faq/vpc.mdx
  network/vpc/concepts.mdx
  network/vpc/how-to/assets/scaleway-create-custom-route.webp
  network/vpc/how-to/assets/scaleway-route-not-found.webp
  network/vpc/how-to/manage-routing.mdx
  network/vpc/reference-content/assets/scaleway-routing-diag-custom.webp
  network/vpc/reference-content/understanding-routing.mdx
Labels: type: new content

#3700 feat(changelog): object-storage-added-lifecycle-rules-now-allow-to-abort 2024-09-16
  changelog/september2024/2024-09-16-object-storage-added-lifecycle-rules-now-allow-to-abort.mdx
Labels: type: changelog

#3701 feat(changelog): object-storage-added-uncomplete-multipart-uploads-are-n 2024-09-16
  changelog/september2024/2024-09-16-object-storage-added-uncomplete-multipart-uploads-are-n.mdx
Labels: type: changelog

#3699 feat(changelog): vpc-added-vpc-custom-routes-are-now-in-general-availabi 2024-09-13
  changelog/september2024/2024-09-13-vpc-added-vpc-custom-routes-are-now-in-general-availabi.mdx
Labels: type: changelog

#3702 docs(chore): review documentations
  bare-metal/elastic-metal/reference-content/elastic-metal-rv1-guidelines.mdx
  compute/instances/how-to/migrate-routed-ips.mdx
  compute/instances/reference-content/identify-devices.mdx
  containers/kubernetes/api-cli/changing-control-plane-offer.mdx
  containers/kubernetes/api-cli/creating-managing-kubernetes-lifecycle-cliv2.mdx
  faq/instances.mdx
  faq/kubernetes.mdx
Labels: status: doc review

#3680 chore(gen): review tutorials MTA-5002
  tutorials/add-disk-configure-datastore-esxi/index.mdx
  tutorials/ark-server/index.mdx
  tutorials/arqbackup-pc-mac/index.mdx
  tutorials/bash-christmas-tree/index.mdx
  tutorials/create-models-django/index.mdx
  tutorials/discourse-forum/index.mdx
  tutorials/load-testing-vegeta/index.mdx
  tutorials/matomo-analytics/index.mdx
  tutorials/migrate-data-minio-client/index.mdx
  tutorials/nvidia-triton/index.mdx
  tutorials/rtmp-self-hosted-streaming/index.mdx
  tutorials/sentry-error-tracking/index.mdx
  tutorials/setup-minecraft/index.mdx
  tutorials/setup-mongodb-on-ubuntu/index.mdx
  tutorials/wordpress-lemp-stack-ubuntu-jammy-jellyfish-22-04/index.mdx
Labels: priority: low

#3712 fix(gen): reviews 17/09
  faq/iam.mdx
  managed-services/transactional-email/how-to/add-dmarc-record.mdx
  managed-services/transactional-email/quickstart.mdx
  managed-services/transactional-email/reference-content/dmarc-configuration.mdx
Labels: type: maintenance, priority: low, status: doc review

#3714 docs(gen): update navigation menu overview titles
  menu/navigation.json
Labels: type: maintenance, priority: low

#3713 feat(ai): add structured outputs
  ai-data/generative-apis/api-cli/using-chat-api.mdx
  ai-data/generative-apis/api-cli/using-generative-apis.mdx
  ai-data/generative-apis/concepts.mdx
  ai-data/generative-apis/how-to/query-embedding-models.mdx
  ai-data/generative-apis/how-to/query-text-models.mdx
  ai-data/generative-apis/how-to/use-structured-outputs.mdx
  ai-data/generative-apis/quickstart.mdx
  ai-data/managed-inference/concepts.mdx
  ai-data/managed-inference/reference-content/openai-compatibility.mdx
  menu/navigation.json
Labels: status: tech review, status: doc review

#3717 feat(changelog): managed-inference-added-json-mode-and-structured-output 2024-09-18
  changelog/september2024/2024-09-18-managed-inference-added-json-mode-and-structured-output.mdx
Labels: type: changelog

#3719 fix(ai): fix unsupported parameters
  ai-data/managed-inference/reference-content/openai-compatibility.mdx
Labels: type: bug, priority: medium

#3725 chore(faq): review faq iothub
  faq/iothub.mdx
Labels: priority: low

#3724 docs(srv): update container ephemeral storage documentation
  serverless/containers/concepts.mdx
  serverless/containers/how-to/deploy-a-container-from-external-container-registry.mdx
  serverless/containers/how-to/deploy-a-container-from-scaleway-container-registry.mdx
Labels: priority: medium, status: doc review

#3723 docs(s3): update monitor job documentation MTA-5034
  serverless/jobs/how-to/monitor-job.mdx
Labels: priority: low

#3720 docs(cockpit): wording changes
  changelog/april2024/2024-04-04-cockpit-added-metrics-degrissivity.mdx
  changelog/may2024/2024-05-24-cockpit-added-orderable-data-source-for-cockpit.mdx
  faq/cockpit.mdx
  menu/navigation.json
  observability/cockpit/api-cli/querying-logs-with-logcli.mdx
  observability/cockpit/concepts.mdx
  observability/cockpit/how-to/activate-push-traces.mdx
  observability/cockpit/how-to/create-external-data-sources.mdx
  observability/cockpit/how-to/delete-external-data-sources.mdx
  observability/cockpit/how-to/send-metrics-logs-to-cockpit.mdx
  observability/cockpit/index.mdx
  observability/cockpit/quickstart.mdx
  observability/cockpit/reference-content/understanding-cockpit-usage.mdx
  tutorials/pushing-metrics-logs-from-scw-instance/index.mdx
  tutorials/use-cockpit-with-terraform/index.mdx
Labels: type: maintenance

#3731 docs(tem): webhook note
  managed-services/transactional-email/how-to/create-webhooks.mdx
Labels: type: maintenance, priority: low, status: doc review

#3730 feat(changelog): containers-added-ephemeral-storage-customisable 2024-09-19
  changelog/september2024/2024-09-19-containers-added-ephemeral-storage-customisable.mdx
Labels: type: changelog

#3728 feat(changelog): functions-changed-serverless-functions-default-sandbox- 2024-09-19
  changelog/september2024/2024-09-19-functions-changed-serverless-functions-default-sandbox-.mdx
Labels: type: changelog

#3727 feat(changelog): containers-changed-serverless-containers-default-sandbo 2024-09-19
  changelog/september2024/2024-09-19-containers-changed-serverless-containers-default-sandbo.mdx
Labels: type: changelog

#3735 chore(gen): docs content review 2024-09-23
  ai-data/generative-apis/how-to/use-structured-outputs.mdx
  ai-data/managed-inference/how-to/create-deployment.mdx
  bare-metal/elastic-metal/how-to/kubernetes-on-riscv.mdx
  containers/kubernetes/reference-content/version-support-policy.mdx
  menu/navigation.json
  tutorials/migrate-data-rclone/index.mdx
Labels: type: maintenance

#3737 docs(secret-manager): faq review
  faq/secret-manager.mdx
Labels: type: maintenance

#3734 docs(tem): webhook events payload
  managed-services/transactional-email/api-cli/webhook-events-payloads.mdx
  menu/navigation.json
Labels: type: maintenance, status: tech review, priority: medium, status: doc review

#3740 docs(fix): fix 404s
  dedibox-network/domains/how-to/enable-dnssec.mdx
  dedibox-network/domains/how-to/file-contact-info.mdx
  dedibox-network/domains/how-to/manage-dns-servers.mdx
  dedibox-network/domains/how-to/manage-dns-zones.mdx
  dedibox-network/domains/how-to/purchase-domain.mdx
  dedibox-network/domains/how-to/renew-domain.mdx
  dedibox-network/domains/how-to/transfer-domain.mdx
  dedibox-network/domains/how-to/validate-waps-info.mdx
  dedibox-network/domains/quickstart.mdx
  identity-and-access-management/secret-manager/api-cli/create-secret-path-migrate.mdx
  storage/block/reference-content/index.mdx
Labels: priority: high

#3749 feat(changelog): transactional-email-added-webhooks-ga-release-track-and 2024-09-25
  changelog/september2024/2024-09-25-transactional-email-added-webhooks-ga-release-track-and.mdx
Labels: type: changelog

#3748 fix(gen): correcting 404s
  ai-data/generative-apis/api-cli/using-chat-api.mdx
  managed-services/data-lab/index.mdx
  storage/object/api-cli/manage-bucket-permissions-ip.mdx
Labels: type: maintenance, priority: low

#3750 feat(changelog): managed-inference-added-analyze-images-with-mistrals-vi 2024-09-25
  changelog/september2024/2024-09-25-managed-inference-added-analyze-images-with-mistrals-vi.mdx
Labels: type: changelog

#3604 feat(edge): add Edge Services doc section to site, which includes LBxES doc
  faq/assets/edge-services.webp
  faq/edge-services.mdx
  menu/changelogs.json
  menu/navigation.json
  network/edge-services/assets/scaleway-cname-success.webp
  network/edge-services/assets/scaleway-create-es-pipeline-lb.webp
  network/edge-services/assets/scaleway-edge-services-cache.webp
  network/edge-services/assets/scaleway-edge-services-configure-domain.webp
  network/edge-services/assets/scaleway-edge-services-customised.webp
  network/edge-services/assets/scaleway-edge-services-dashboard.webp
  network/edge-services/assets/scaleway-edge-services-lb-dashboard.webp
  network/edge-services/assets/scaleway-edge-services-splash.webp
  network/edge-services/assets/scaleway-lb-edge-services.webp
  network/edge-services/concepts.mdx
  network/edge-services/how-to/assets/scaleway-cname-success.webp
  network/edge-services/how-to/assets/scaleway-create-es-pipeline-lb.webp
  network/edge-services/how-to/assets/scaleway-edge-configure-domain.webp
  network/edge-services/how-to/assets/scaleway-edge-services-cache.webp
  network/edge-services/how-to/assets/scaleway-edge-services-certificate-complete.webp
  network/edge-services/how-to/assets/scaleway-edge-services-configure-domain.webp
  network/edge-services/how-to/assets/scaleway-edge-services-customised.webp
  network/edge-services/how-to/assets/scaleway-edge-services-dashboard.webp
  network/edge-services/how-to/assets/scaleway-edge-services-lb-dashboard.webp
  network/edge-services/how-to/assets/scaleway-edge-services-metrics.webp
  network/edge-services/how-to/assets/scaleway-edge-services-purge-cache.webp
  network/edge-services/how-to/assets/scaleway-edge-services-purge-object.webp
  network/edge-services/how-to/assets/scaleway-edge-services-select-bucket.webp
  network/edge-services/how-to/assets/scaleway-edge-services-splash.webp
  network/edge-services/how-to/assets/scaleway-edit-edge-lb-pipeline.webp
  network/edge-services/how-to/assets/scaleway-lb-edge-services.webp
  network/edge-services/how-to/configure-cache.mdx
  network/edge-services/how-to/configure-custom-domain.mdx
  network/edge-services/how-to/create-pipeline-bucket.mdx
  network/edge-services/how-to/create-pipeline-lb.mdx
  network/edge-services/how-to/delete-pipeline.mdx
  network/edge-services/how-to/index.mdx
  network/edge-services/how-to/monitor-cockpit.mdx
  network/edge-services/index.mdx
  network/edge-services/quickstart.mdx
  network/edge-services/reference-content/assets/scaleway-cert-expired.webp
  network/edge-services/reference-content/assets/scaleway-edge-services-cname-error.webp
  network/edge-services/reference-content/assets/scaleway-edge-services-configure-domain.webp
  network/edge-services/reference-content/assets/scaleway-edge-services-dashboard-error.webp
  network/edge-services/reference-content/cname-record.mdx
  network/edge-services/reference-content/index.mdx
  network/edge-services/reference-content/ssl-tls-certificate.mdx
  storage/object/how-to/assets/scaleway-edge-services-dashboard.webp
  storage/object/how-to/assets/scaleway-edge-services-select-bucket.webp
  storage/object/how-to/get-started-edge-services.mdx
  storage/object/reference-content/cname-record.mdx
  storage/object/reference-content/ssl-tls-certificate.mdx
Labels: type: new content, do not merge

#3742 fix(gen): reviews 23/09
  faq/iam.mdx
  managed-databases/postgresql-and-mysql/how-to/connect-database-private-network.mdx
  managed-databases/postgresql-and-mysql/how-to/remove-public-endpoint.mdx
  managed-services/transactional-email/how-to/add-mx-record-to-your-domain.mdx
Labels: type: maintenance, priority: low, status: doc review

#3299 feat(em): improved bandwidth option
  bare-metal/elastic-metal/how-to/adjust-available-bandwidth.mdx
  faq/elastic-metal.mdx
  menu/navigation.json
Labels: type: new content

#2642 [K8S] Documentation csi v0.3
  containers/kubernetes/api-cli/managing-storage.mdx
Labels: do not merge

#3756 docs(em): update order elastic metal doc
  bare-metal/elastic-metal/how-to/create-server.mdx
Labels: type: maintenance

#3755 docs(gen): lading page getting started cards update
  index.mdx
Labels: type: maintenance, priority: low

#3757 fix(red): add note
  faq/databases-for-redis.mdx
  managed-databases/redis/api-cli/managing-username-and-password.mdx
  managed-databases/redis/api-cli/using-pub-sub-feature.mdx
  managed-databases/redis/concepts.mdx
  managed-databases/redis/how-to/configure-advanced-settings-redis.mdx
  managed-databases/redis/how-to/connect-to-redis-database-instance.mdx
  managed-databases/redis/how-to/create-a-database-for-redis.mdx
  managed-databases/redis/how-to/delete-a-database-for-redis.mdx
  managed-databases/redis/how-to/manage-allowed-ip-addresses-redis.mdx
  managed-databases/redis/how-to/scale-up-a-database-for-redis.mdx
  managed-databases/redis/quickstart.mdx
  managed-databases/redis/reference-content/default-user-permissions.mdx
  managed-databases/redis/reference-content/ensuring-data-persistence.mdx
Labels: type: maintenance, priority: medium, status: doc review

#3764 feat(changelog): object-storage-changed-all-requests-now-go-though-scale 2024-09-26
  changelog/september2024/2024-09-26-object-storage-changed-all-requests-now-go-though-scale.mdx
Labels: type: changelog

#3763 feat(changelog): object-storage-changed-increase-of-object-storage-defau 2024-09-26
  changelog/september2024/2024-09-26-object-storage-changed-increase-of-object-storage-defau.mdx
Labels: type: changelog

#3759 feat(changelog): elastic-metal-added-new-public-bandwidth-increasing-opt 2024-09-26
  changelog/september2024/2024-09-26-elastic-metal-added-new-public-bandwidth-increasing-opt.mdx
Labels: type: changelog

#3758 fix(faq): review faqs
  faq/loadbalancer.mdx
  faq/messaging-and-queuing.mdx
  faq/private-networks.mdx
  faq/public-gateways.mdx
Labels: type: maintenance, status: tech review

#3745 chore(gen): documentation review MTA-5080
  console/account/how-to/switch-account-to-corporate.mdx
  developer-tools/scaleway-cli/reference-content/cli-reference.mdx
  developer-tools/scaleway-cli/reference-content/console-keyboard-shortcuts.mdx
  faq/objectstorage.mdx
  faq/serverless-containers.mdx
  storage/object/how-to/edit-storage-class.mdx
  storage/object/how-to/get-started-edge-services.mdx
Labels: priority: low, status: doc review

#3767 feat(changelog): billing-added-discover-our-new-compute-savings-plan-off 2024-09-27
  changelog/september2024/2024-09-27-billing-added-discover-our-new-compute-savings-plan-off.mdx
Labels: type: changelog

#3768 feat(edge): add info about General Availability
  faq/edge-services.mdx
  menu/navigation.json
  network/edge-services/reference-content/understanding-ga.mdx
Labels: priority: high, status: doc review

#3770 fix(changelog): typo
  changelog/september2024/2024-09-27-billing-added-discover-our-new-compute-savings-plan-off.mdx
Labels: priority: high

#3478 feat(k8s): kube cluster creation update
  containers/kubernetes/how-to/create-cluster.mdx
  containers/kubernetes/how-to/create-kosmos-cluster.mdx
  containers/kubernetes/quickstart.mdx
Labels: do not merge, status: tech review, status: doc review

#3774 feat(domains): weekly review
  network/domains-and-dns/how-to/renew-domain.mdx
  network/domains-and-dns/how-to/transfer-external-domain.mdx
Labels: type: maintenance

#3772 feat(changelog): managed-inference-changed-public-endpoints-have-moved-t 2024-09-30
  changelog/september2024/2024-09-30-managed-inference-changed-public-endpoints-have-moved-t.mdx
Labels: type: changelog
