Repository scaleway/docs-content, pull requests merged in 2024-01, with the labels that each got.

#2571 docs(s3): add info on abort multipart in perf tuto MTA-3928
  storage/object/reference-content/optimize-object-storage-performance.mdx
Labels: priority: low

#2573 docs(review): docs content review
  compute/instances/api-cli/migrating-instances.mdx
  console/account/how-to/change-language.mdx
  console/account/how-to/configure-support-plans.mdx
  console/account/how-to/create-an-account.mdx
  console/account/how-to/manage-billing-information.mdx
  console/account/how-to/manage-my-personal-data-gdpr.mdx
  console/account/how-to/open-a-support-ticket.mdx
  console/account/how-to/sign-in-with-magic-link.mdx
  console/account/how-to/verify-identity.mdx
  console/account/quickstart.mdx
  labs/ipfs-naming/how-to/create-key.mdx
  labs/ipfs-naming/how-to/import-key.mdx
  labs/ipfs-naming/how-to/update-name.mdx
  labs/ipfs-pinning/how-to/add-pin.mdx
  labs/ipfs-pinning/how-to/create-volume.mdx
  labs/ipfs-pinning/how-to/delete-pin.mdx
  labs/ipfs-pinning/how-to/delete-volume.mdx
  managed-services/transactional-email/how-to/manage-email-activity.mdx
  managed-services/webhosting/how-to/order-webhosting.mdx
  tutorials/manage-zigbee-devices-with-iot/index.mdx
  tutorials/proxmox-softraid/index.mdx
  tutorials/pushing-metrics-logs-from-scw-instance/index.mdx
  tutorials/python-for-loops/index.mdx
Labels: type: maintenance

#2568 fix(rdb): db instance concept MTA-4045
  managed-databases/postgresql-and-mysql/concepts.mdx
Labels: type: maintenance, status: ready, priority: low

#2541 docs(tem): add alert information
  managed-services/transactional-email/concepts.mdx
  managed-services/transactional-email/reference-content/understanding-tem-reputation-score.mdx
Labels: type: maintenance, do not merge

#2576 docs(cpt): fix errors and add info
  observability/cockpit/api-cli/configuring-grafana-agent.mdx
  observability/cockpit/concepts.mdx
  observability/cockpit/how-to/retrieve-grafana-credentials.mdx
  tutorials/pushing-metrics-logs-from-scw-instance/index.mdx
Labels: type: maintenance

#2583 feat(changelog): secret-manager-added-secrets-can-be-set-as-ephemeral 2024-01-04
  changelog/january2024/2024-01-04-secret-manager-added-secrets-can-be-set-as-ephemeral.mdx
Labels: type: changelog

#2584 docs(s3): update BP examples with multiple statements MTA-4061
  storage/object/api-cli/bucket-policy.mdx
  storage/object/api-cli/combining-iam-and-object-storage.mdx
Labels: priority: medium

#2561 feat(mnq): add sns topics doc
  faq/messaging-and-queuing.mdx
  menu/navigation.json
  serverless/messaging/assets/scaleway-create-topic.webp
  serverless/messaging/assets/scaleway-topic-settings.webp
  serverless/messaging/concepts.mdx
  serverless/messaging/how-to/assets/scaleway-create-topic.webp
  serverless/messaging/how-to/assets/scaleway-topic-settings.webp
  serverless/messaging/how-to/create-manage-queues.mdx
  serverless/messaging/how-to/create-manage-topics.mdx
  serverless/messaging/how-to/monitor-mnq-cockpit.mdx
  serverless/messaging/quickstart.mdx
Labels: type: new content

#2588 docs(gpu): fixed docs
  compute/gpu/how-to/create-manage-gpu-instance.mdx
  compute/gpu/how-to/use-gpu-with-docker.mdx
  compute/gpu/how-to/use-mig-with-kubernetes.mdx
  compute/gpu/how-to/use-nvidia-mig-technology.mdx
  compute/gpu/how-to/use-pipenv.mdx
  compute/gpu/how-to/use-preinstalled-env.mdx
  compute/gpu/how-to/use-scratch-storage-h100-instances.mdx
  compute/gpu/quickstart.mdx
  compute/gpu/reference-content/docker-images.mdx
  compute/gpu/reference-content/understanding-nvidia-nemo.mdx
Labels: type: maintenance

#2560 docs(k8s): use scratch storage h100
  containers/kubernetes/how-to/delete-cluster.mdx
  containers/kubernetes/how-to/use-nvidia-gpu-operator.mdx
  containers/kubernetes/how-to/use-scratch-storage-h100.mdx
  menu/navigation.json
Labels: type: new content, status: tech review

#2593 feat(changelog): messaging-and-queuing-added-sns-topic-creation-availabl 2024-01-05
  changelog/january2024/2024-01-05-messaging-and-queuing-added-sns-topic-creation-availabl.mdx
Labels: type: changelog

#2598 feat(changelog): kubernetes-added-proxy-registry 2024-01-09
  changelog/january2024/2024-01-09-kubernetes-added-proxy-registry.mdx
Labels: type: changelog

#2600 int-fix-content
  serverless/functions/reference-content/deploy-function.mdx
Labels: type: maintenance

#2599 fix(iam): tags doc
  identity-and-access-management/iam/concepts.mdx
  identity-and-access-management/iam/how-to/create-application.mdx
  identity-and-access-management/iam/how-to/create-group.mdx
  identity-and-access-management/iam/how-to/create-policy.mdx
  identity-and-access-management/iam/how-to/invite-user-to-orga.mdx
Labels: type: maintenance, status: tech review, priority: medium

#2606 docs(cxp): update account creation procedure MTA-4086
  console/account/how-to/create-an-account.mdx
  console/account/quickstart.mdx
  macros/console/create-account.mdx
Labels: priority: high

#2603 docs(secret-manager): add secret protection concept
  identity-and-access-management/secret-manager/concepts.mdx
Labels: type: new content

#2615 docs(s3): add note on minio doc on regions MTA-4088
  storage/object/api-cli/installing-minio-client.mdx
Labels: priority: low

#2614 docs(s3): add note on public links MTA-4089
  storage/object/how-to/access-objects-via-https.mdx
Labels: priority: low

#2611 docs(s3): add note on lifecylcle limitations MTA-4087
  storage/object/api-cli/lifecycle-rules-api.mdx
  storage/object/api-cli/managing-lifecycle-cliv2.mdx
  storage/object/api-cli/multipart-uploads.mdx
  storage/object/how-to/manage-lifecycle-rules.mdx
Labels: priority: low

#2610 docs(review): docs content review - week 03/2024
  bare-metal/elastic-metal/how-to/create-virtual-mac-group.mdx
  dedibox-network/ip-failover/how-to/assign-failover-ip.mdx
  dedibox-network/ip-failover/how-to/configure-debian-ubuntu.mdx
  dedibox-network/ip-failover/how-to/configure-freebsd.mdx
  dedibox-network/ip-failover/how-to/configure-multiip-virtualmac.mdx
  dedibox-network/ip-failover/how-to/configure-network-virtual-machine.mdx
  dedibox-network/ip-failover/how-to/configure-reverse-dns.mdx
  dedibox-network/ip-failover/how-to/configure-windows.mdx
  dedibox-network/ip-failover/how-to/create-virtual-mac.mdx
  dedibox-network/ip-failover/how-to/order-failover-ip.mdx
  dedibox-network/ip-failover/index.mdx
  dedibox-network/ip-failover/quickstart.mdx
  network/vpc/troubleshooting/private-dns-dhcp-not-working.mdx
  serverless/functions/how-to/add-a-custom-domain-name-to-a-function.mdx
  serverless/functions/how-to/create-auth-token-from-console.mdx
  serverless/functions/how-to/delete-a-function.mdx
  serverless/functions/how-to/delete-a-functions-namespace.mdx
  serverless/functions/how-to/manage-a-function.mdx
  serverless/functions/reference-content/code-examples.mdx
  serverless/functions/reference-content/functions-lifecycle.mdx
  serverless/functions/reference-content/functions-limitations.mdx
  serverless/functions/reference-content/functions-runtimes-configuration.mdx
  serverless/messaging/reference-content/sqs-support.mdx
  tutorials/create-esxi-cluster-dedibox/index.mdx
  tutorials/lb-firewall-haproxy-pfsense/index.mdx
  tutorials/sem-terraform/index.mdx
Labels: type: maintenance

#2619 docs(s3): update bucket policy example for referer MTA-4107
  storage/object/api-cli/bucket-policy.mdx
Labels: priority: medium

#2626 fix(docs): update tutorial category
  tutorials/abort-multipart-upload-minio/index.mdx
Labels: priority: low

#2621 docs(srv): update links to sdks MTA-4093
  serverless/jobs/reference-content/deploy-job.mdx
Labels: priority: low

#2639 ins(fix): add dns ipv6 only fixing guide
  compute/instances/troubleshooting/fix-dns-routed-ipv6-only-debian-bullseye.mdx
  menu/navigation.json
Labels: type: new content

#2635 docs(block-storage): replace nvme mention with low latency
  storage/block/how-to/create-a-volume.mdx
  storage/block/how-to/unmount-a-volume.mdx
Labels: type: maintenance

#2641 docs(srv): add jobs billing to faq MTA-4127
  faq/serverless-containers.mdx
  faq/serverless-jobs.mdx
Labels: status: tech review, priority: low

#2623 fix(cxp): updated ticket creation page MTA-4109
  console/account/how-to/open-a-support-ticket.mdx
Labels: priority: low

#2654 fix(s3): update year on api call list
  storage/object/api-cli/using-api-call-list.mdx
Labels: priority: medium

#2656 feat(gen): docs content review
  bare-metal/elastic-metal/how-to/configure-flexible-ip.mdx
  dedibox-console/account/how-to/accept-outsourcing.mdx
  dedibox-console/account/how-to/add-payment-method.mdx
  dedibox-console/account/how-to/contact-support.mdx
  dedibox-console/account/how-to/create-a-dedibox-account.mdx
  dedibox-console/account/how-to/manage-data-settings.mdx
  dedibox-console/account/how-to/outsource-dedibox.mdx
  dedibox-console/account/how-to/outsource-failover-ip.mdx
  dedibox-console/account/how-to/recover-password-lost-email.mdx
  dedibox-console/account/how-to/resolve-abuse.mdx
  dedibox-console/account/how-to/revoke-outsourcing.mdx
  dedibox-console/account/how-to/update-email.mdx
  dedibox-console/account/how-to/update-password.mdx
  dedibox-console/account/how-to/upload-an-ssh-key.mdx
  managed-databases/document-database/quickstart.mdx
  managed-databases/postgresql-and-mysql/how-to/add-users.mdx
  managed-databases/postgresql-and-mysql/how-to/create-a-database.mdx
  managed-databases/postgresql-and-mysql/how-to/delete-a-database.mdx
  managed-databases/redis/how-to/delete-a-database-for-redis.mdx
  managed-services/webhosting/how-to/terminate-webhosting.mdx
  network/load-balancer/how-to/create-manage-acls.mdx
  serverless/messaging/reference-content/sns-support.mdx
  tutorials/deploying-a-documentation-website-with-docusaurus-on-scaleway/index.mdx
Labels: type: maintenance

#2663 fix(gen): fix broken links
  dedibox-network/dns/how-to/configure-secondary-dns.mdx
  developer-tools/scaleway-cli/quickstart.mdx
  storage/object/reference-content/optimize-object-storage-performance.mdx
Labels: priority: low

#2659 fix(tutorial): add tag
  tutorials/large-messages/index.mdx
Labels: priority: low

#2665 fix(sdb): add mention of doublequotes
  serverless/sql-databases/how-to/connect-to-a-database.mdx
  serverless/sql-databases/how-to/create-a-database.mdx
Labels: priority: low

#2672 fix(es): add cert error info
  storage/object/reference-content/ssl-tls-certificate.mdx
Labels: type: maintenance

#2671 feat(vpc): add troubleshooting for tld naming issue
  macros/vpc/pn-naming.mdx
  network/vpc/how-to/create-private-network.mdx
  network/vpc/quickstart.mdx
  network/vpc/troubleshooting/pn-name.mdx
Labels: type: new content, priority: high
