Repository scaleway/docs-content, pull requests merged in 2024-10, with the labels that each got.

#3775 fix(em): fix small typos on faq page
  faq/elastic-metal.mdx
Labels: type: maintenance, priority: low

#3780 docs(fix): numbering
  console/account/how-to/change-language.mdx
Labels: type: bug

#3777 docs(cpt): update wording for alerts
  observability/cockpit/concepts.mdx
Labels: type: maintenance

#3781 feat(aps): add survey banner
  tutorials/install-github-actions-runner-mac/index.mdx
Labels: do not merge

#3778 feat(changelog): jobs-added-cost-estimator-when-updating-resources 2024-10-01
  changelog/october2024/2024-10-01-jobs-added-cost-estimator-when-updating-resources.mdx
Labels: type: changelog

#3784 fix(gen): reviews 30/09
  console/billing/api-cli/retrieve-monthly-consumption.mdx
  console/billing/how-to/use-the-cost-manager.mdx
  faq/transactional-email.mdx
  identity-and-access-management/iam/concepts.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-read-replica.mdx
Labels: type: maintenance, priority: low, status: doc review

#3760 Add documentation on Row-Level Security MTA-5093
  menu/navigation.json
  serverless/sql-databases/api-cli/postgrest-row-level-security.mdx
  serverless/sql-databases/how-to/use-row-level-security.mdx
Labels: priority: low, status: doc review

#3786 docs(cpt): replace managed alerts with preconfigured
  changelog/may2024/2024-05-24-cockpit-added-cockpit-available-in-all-region.mdx
  managed-databases/postgresql-and-mysql/how-to/monitor-databases-cockpit.mdx
  menu/navigation.json
  observability/cockpit/concepts.mdx
  observability/cockpit/how-to/activate-managed-alerts.mdx
  observability/cockpit/how-to/add-contact-points.mdx
  observability/cockpit/how-to/configure-alerts-for-scw-resources.mdx
  observability/cockpit/how-to/enable-alert-manager.mdx
Labels: type: maintenance

#3787 chore(gen): tutorials content review 2024-10-03
  tutorials/configure-apache-lets-encrypt/index.mdx
  tutorials/deploy-big-blue-button/index.mdx
  tutorials/deploy-instances-packer-terraform/index.mdx
  tutorials/encrypt-volumes/index.mdx
  tutorials/erpnext/index.mdx
  tutorials/flask/index.mdx
  tutorials/get-started-kubernetes-loadbalancer/index.mdx
  tutorials/glpi/index.mdx
  tutorials/gpu-super-resolution/index.mdx
  tutorials/host-github-runner/index.mdx
  tutorials/install-cassandra/index.mdx
  tutorials/install-configure-couchdb/index.mdx
  tutorials/install-docker-ubuntu-bionic/index.mdx
  tutorials/install-golang-ubuntu-bionic/index.mdx
  tutorials/odoo-easy-deploy/index.mdx
  tutorials/postgis-managed-databases/index.mdx
  tutorials/postman-api/index.mdx
  tutorials/protect-server-fail2ban/index.mdx
  tutorials/protect-server-using-crowdsec/index.mdx
  tutorials/set-up-yunohost-debian/index.mdx
  tutorials/setting-up-tunnel/index.mdx
  tutorials/setup-cockroachdb-cluster/index.mdx
  tutorials/setup-mysql/index.mdx
  tutorials/transform-bucket-images-triggers-functions-deploy/index.mdx
  tutorials/transform-bucket-images-triggers-functions-set-up/index.mdx
  tutorials/visualize-timeseries-data-timescaledb-grafana/index.mdx
Labels: priority: low

#3785 docs(tutorials): mkdocsXbucket website
  tutorials/using-bucket-website-with-mkdocs/assets/scaleway-collapsible-admonition-expanded.webp
  tutorials/using-bucket-website-with-mkdocs/assets/scaleway-collapsible-admonition.webp
  tutorials/using-bucket-website-with-mkdocs/assets/scaleway-mkdocs-files-in-bucket.webp
  tutorials/using-bucket-website-with-mkdocs/assets/scaleway-mkdocs-website-dark-mode.webp
  tutorials/using-bucket-website-with-mkdocs/assets/scaleway-mkdocs-website-light-mode.webp
  tutorials/using-bucket-website-with-mkdocs/index.mdx
Labels: type: new content

#3788 docs(tuto): fix
  tutorials/using-bucket-website-with-mkdocs/index.mdx
Labels: type: bug

#3765 fix(mnq): add back FIFO topics and SQS subscriptions
  faq/messaging-and-queuing.mdx
  serverless/messaging/assets/scaleway-create-topic.webp
  serverless/messaging/concepts.mdx
  serverless/messaging/how-to/assets/scaleway-create-topic.webp
  serverless/messaging/how-to/create-manage-subscriptions.mdx
  serverless/messaging/how-to/create-manage-topics.mdx
  serverless/messaging/quickstart.mdx
Labels: type: maintenance

#3806 fix(edge): add more pricing info
  network/edge-services/reference-content/understanding-ga.mdx
Labels: status: doc review

#3801 fix(docs): fix validation bot check for frequency
  bin/check-review-dates.py
  tutorials/ceph-cluster/index.mdx
  tutorials/create-deploy-staging-site-cpanel/index.mdx
  tutorials/deploy-big-blue-button/index.mdx
  tutorials/easydeploy-argocd/index.mdx
  tutorials/easydeploy-gitlab-server/index.mdx
  tutorials/easydeploy-grafana/index.mdx
  tutorials/easydeploy-vault/index.mdx
  tutorials/getting-started-with-kops-on-scaleway/index.mdx
  tutorials/install-cockroachdb-scaleway-instances/index.mdx
  tutorials/install-golang-ubuntu-bionic/index.mdx
  tutorials/install-php-composer/index.mdx
  tutorials/installation-jekyll/index.mdx
  tutorials/jitsi-debian/index.mdx
  tutorials/jitsi-ubuntu-bionic/index.mdx
  tutorials/lb-firewall-haproxy-pfsense/index.mdx
  tutorials/matomo-analytics/index.mdx
  tutorials/minikube-elastic-metal/index.mdx
  tutorials/proxmox-softraid/index.mdx
  tutorials/run-messaging-platform-with-rocketchat/index.mdx
  tutorials/run-nodejs-express-server-on-serverless-containers/index.mdx
  tutorials/run-python-flask-server-on-serverless-container/index.mdx
  tutorials/setup-ampere-ai-framework-arm-instances/index.mdx
  tutorials/stop-outgoing-spam/index.mdx
  tutorials/transform-bucket-images-triggers-functions-set-up/index.mdx
Labels: type: bug, status: doc review

#3798 chore(compute): review docs 2024-10-07
  bare-metal/dedibox/how-to/activate-ipv6-block.mdx
  compute/gpu/reference-content/understanding-nvidia-nemo.mdx
  containers/kubernetes/reference-content/using-kapsule-autoheal-feature.mdx
Labels: priority: low

#3782 chore(gen): documentation review MTA-5103
  console/account/how-to/recover-a-lost-password.mdx
  console/account/troubleshooting/cannot-erase-account.mdx
  faq/serverless-functions.mdx
  faq/serverless-jobs.mdx
  faq/serverless-sql-databases.mdx
  serverless/containers/how-to/add-a-custom-domain-to-a-container.mdx
  serverless/containers/reference-content/containers-concurrency.mdx
  serverless/containers/reference-content/deploy-container.mdx
  serverless/functions/reference-content/local-testing.mdx
  serverless/jobs/reference-content/jobs-limitations.mdx
  serverless/jobs/troubleshooting/common-errors.mdx
  storage/object/how-to/access-objects-via-https.mdx
Labels: priority: low, status: doc review

#3800 fix(ipam): add unreservable ip info
  network/ipam/concepts.mdx
  network/ipam/how-to/reserve-ip.mdx
  network/ipam/quickstart.mdx
Labels: type: maintenance, status: doc review

#3816 feat(changelog): apple-silicon-added-macos-sequoia-15-available 2024-10-09
  changelog/october2024/2024-10-09-apple-silicon-added-macos-sequoia-15-available.mdx
Labels: type: changelog

#3811 fix(edge): fix
  network/edge-services/reference-content/understanding-ga.mdx
Labels: type: bug

#3804 docs(DLB): update doc with info on zero worker nodes MTA-5131
  managed-services/data-lab/how-to/create-data-lab.mdx
  managed-services/data-lab/quickstart.mdx
Labels: priority: low, status: doc review

#3814 feat(changelog): messaging-and-queuing-added-queues-subscription-availab 2024-10-08
  changelog/october2024/2024-10-08-messaging-and-queuing-added-queues-subscription-availab.mdx
Labels: type: changelog

#3809 chore(tuto): tutorials content review 2024-10-08
  tutorials/deploy-awstats/index.mdx
  tutorials/get-started-containers-docker/index.mdx
  tutorials/get-started-deploy-kapsule/index.mdx
  tutorials/getting-started-with-kops-on-scaleway/index.mdx
  tutorials/hadoop/index.mdx
  tutorials/hestiacp/index.mdx
  tutorials/migrate-mysql-databases-postgresql-pgloader/index.mdx
  tutorials/python-lists-dicts/index.mdx
  tutorials/self-hosted-repository-gitea/index.mdx
  tutorials/send-sms-iot-device-twilio/index.mdx
  tutorials/setup-elastic-metal-proxmox-cluster-with-private-networks/index.mdx
  tutorials/setup-nomad-cluster/index.mdx
  tutorials/use-container-registry-github-actions/index.mdx
  tutorials/zammad-ticketing/index.mdx
Labels: priority: low

#3797 feat(nw): Getting the most from Private Networks / Pulic Connectivity Best Practices
  menu/navigation.json
  network/ipam/reference-content/index.mdx
  network/ipam/reference-content/public-connectivity-best-practices.mdx
  network/vpc/reference-content/assets/scaleway-vpc-osi.webp
  network/vpc/reference-content/assets/scaleway-vpc-schema.webp
  network/vpc/reference-content/getting-most-private-networks.mdx
Labels: type: new content, status: doc review

#3803 docs(serverless): add Versioning and rollback section
  serverless/containers/reference-content/containers-limitations.mdx
  serverless/containers/troubleshooting/common-errors.mdx
  serverless/functions/reference-content/functions-limitations.mdx
  serverless/functions/troubleshooting/common-errors.mdx
Labels: status: tech review, priority: low, product: serverless

#3819 feat(ins): add sbs migration with cli
  compute/instances/how-to/migrate-volumes-snapshots-to-sbs.mdx
Labels: status: doc review

#3820 docs(sdb): add links to supported extension doc MTA-5139
  faq/serverless-sql-databases.mdx
  serverless/sql-databases/reference-content/known-differences.mdx
Labels: priority: low, status: doc review

#3822 chore(gen): documentation review MTA-5126
  developer-tools/scaleway-cli/quickstart.mdx
  developer-tools/scaleway-cli/reference-content/environment-variables.mdx
  developer-tools/scaleway-sdk/reference-content/environment-variables.mdx
  developer-tools/terraform/reference-content/environment-variables.mdx
  faq/serverless-sql-databases.mdx
  macros/developer-tools/scaleway-environment-variables.mdx
  serverless/functions/how-to/test-a-function.mdx
  serverless/functions/reference-content/deploy-function.mdx
Labels: priority: low, status: doc review

#3827 fix(nw): add links to new docs
  network/ipam/concepts.mdx
  network/ipam/index.mdx
  network/vpc/how-to/create-private-network.mdx
  network/vpc/index.mdx
Labels: status: doc review

#3776 feat(mdb): new docs
  managed-databases/mongodb/api-cli/backup-and-restore.mdx
  managed-databases/mongodb/api-cli/index.mdx
  managed-databases/mongodb/concepts.mdx
  managed-databases/mongodb/how-to/assets/scaleway-create-instance-from-snapshot.webp
  managed-databases/mongodb/how-to/assets/scaleway-dbaas-backup.webp
  managed-databases/mongodb/how-to/assets/scaleway-dbaas-pn-attached.webp
  managed-databases/mongodb/how-to/assets/scaleway-rdb-engine-version-upgrade.webp
  managed-databases/mongodb/how-to/connect-database-instance.mdx
  managed-databases/mongodb/how-to/create-a-database-instance.mdx
  managed-databases/mongodb/how-to/delete-a-database-instance.mdx
  managed-databases/mongodb/how-to/increase-volume.mdx
  managed-databases/mongodb/how-to/index.mdx
  managed-databases/mongodb/how-to/manage-snapshots.mdx
  managed-databases/mongodb/how-to/manage-users.mdx
  managed-databases/mongodb/index.mdx
  managed-databases/mongodb/quickstart.mdx
  managed-databases/mongodb/reference-content/autohealing.mdx
  managed-databases/mongodb/reference-content/index.mdx
  managed-databases/mongodb/troubleshooting/disk-full.mdx
  managed-databases/mongodb/troubleshooting/index.mdx
  menu/navigation.json
  tutorials/install-parse-server/index.mdx
  tutorials/mongodb-ubuntu-1604/index.mdx
  tutorials/mutli-node-rocket-chat-community-private-network/index.mdx
  tutorials/run-messaging-platform-with-rocketchat/index.mdx
  tutorials/setup-mongodb-on-ubuntu/index.mdx
Labels: type: new content, status: tech review, priority: high, status: doc review

#3833 feat(changelog): transactional-email-added-autoconfig-is-now-available 2024-10-14
  changelog/october2024/2024-10-14-transactional-email-added-autoconfig-is-now-available.mdx
Labels: type: changelog

#3836 feat(changelog): sql-databases-added-extension-support 2024-10-14
  changelog/october2024/2024-10-14-sql-databases-added-extension-support.mdx
Labels: type: changelog

#3837 chore(gen): review documentation MTA-5152
  observability/cockpit/api-cli/configuring-grafana-agent.mdx
  observability/cockpit/reference-content/cockpit-limitations.mdx
  serverless/containers/how-to/add-trigger-to-a-container.mdx
  serverless/functions/how-to/add-trigger-to-a-function.mdx
  serverless/functions/how-to/test-a-function.mdx
  serverless/functions/reference-content/functions-handlers.mdx
  serverless/messaging/api-cli/connect-aws-cli.mdx
  serverless/messaging/api-cli/nats-cli.mdx
  serverless/messaging/api-cli/python-node-sns.mdx
  serverless/messaging/how-to/monitor-mnq-cockpit.mdx
  serverless/messaging/reference-content/nats-overview.mdx
  serverless/messaging/reference-content/sns-overview.mdx
  serverless/messaging/reference-content/sqs-overview.mdx
Labels: priority: low, status: doc review

#3853 feat(changelog): transactional-email-changed-increase-in-minimum-quotas 2024-10-17
  changelog/october2024/2024-10-17-transactional-email-changed-increase-in-minimum-quotas.mdx
Labels: type: changelog

#3861 fix(vpc): review doc
  network/vpc/how-to/attach-resources-to-pn.mdx
Labels: type: maintenance

#3863 fix(ddx): update ip addresses of ntp servers
  console/account/reference-content/scaleway-network-information.mdx
Labels: type: maintenance, priority: low

#3866 docs(SRV): add note on external container registries MTA-5165
  faq/containerregistry.mdx
  faq/serverless-containers.mdx
  faq/serverless-jobs.mdx
  macros/serverless/container-registry-note.mdx
  serverless/containers/how-to/deploy-a-container-from-external-container-registry.mdx
  serverless/containers/quickstart.mdx
  serverless/containers/troubleshooting/common-errors.mdx
  serverless/jobs/how-to/create-job-from-external-registry.mdx
  serverless/jobs/quickstart.mdx
  serverless/jobs/troubleshooting/common-errors.mdx
Labels: priority: low, status: doc review

#3868 feat(changelog): elastic-metal-added-disk-partitioning-configuration-now 2024-10-23
  changelog/october2024/2024-10-23-elastic-metal-added-disk-partitioning-configuration-now.mdx
Labels: type: changelog

#3865 docs(cpt): add gpu instanceXCockpit tuto
  observability/cockpit/index.mdx
  tutorials/monitor-gpu-instance-cockpit/index.mdx
Labels: type: new content, do not merge

#3869 fix(edge): fix duplicate anchors
  network/edge-services/reference-content/ssl-tls-certificate.mdx
Labels: type: maintenance

#3870 chore(GEN): documentation review MTA-5176
  serverless/functions/how-to/package-function-dependencies-in-zip.mdx
  serverless/messaging/api-cli/python-node-sqs.mdx
  serverless/messaging/api-cli/sqs-sns-aws-cli.mdx
  serverless/messaging/reference-content/limitations.mdx
Labels: priority: low, status: doc review

#3872 docs(cpt): mention grafana agent deprecation
  observability/cockpit/api-cli/configuring-grafana-agent.mdx
Labels: type: bug

#3877 feat(aps): add troubleshooting apple id
  bare-metal/apple-silicon/troubleshooting/cant-create-apple-account.mdx
  menu/navigation.json
  tutorials/install-github-actions-runner-mac/index.mdx
Labels: status: doc review

#3881 fix(wbh): fix meta information
  managed-services/webhosting/how-to/manage-databases.mdx
  managed-services/webhosting/how-to/manage-email-accounts.mdx
  managed-services/webhosting/how-to/manage-ftp-accounts.mdx
Labels: type: bug

#3882 feat(k8s): add modifying kernel documentation
  containers/kubernetes/reference-content/modifying-kernel-parameters-kubernetes-cluster.mdx
  menu/navigation.json
Labels: status: doc review

#3880 docs(cpt): add tags and category
  tutorials/monitor-gpu-instance-cockpit/index.mdx
Labels: type: maintenance

#3884 fix(edge): correct error troubleshooting
  network/edge-services/reference-content/ssl-tls-certificate.mdx
Labels: type: maintenance

#3892 feat(changelog): managed-inference-added-support-for-function-calling 2024-10-25
  changelog/october2024/2024-10-25-managed-inference-added-support-for-function-calling.mdx
Labels: type: changelog

#3889 docs(srv): add notes and troubleshooting on encoding secrets MTA-5183
  serverless/containers/how-to/deploy-a-container-from-external-container-registry.mdx
  serverless/containers/how-to/deploy-a-container-from-scaleway-container-registry.mdx
  serverless/containers/troubleshooting/common-errors.mdx
  serverless/functions/how-to/create-a-function.mdx
  serverless/functions/troubleshooting/common-errors.mdx
  serverless/jobs/how-to/create-job-from-external-registry.mdx
  serverless/jobs/how-to/create-job-from-scaleway-registry.mdx
  serverless/jobs/troubleshooting/common-errors.mdx
Labels: priority: low, status: doc review, product: serverless

#3897 fix(pgw): remove duplicate H2
  network/public-gateways/how-to/create-a-public-gateway.mdx
Labels: type: maintenance

#3901 fix(serverless): faq title level
  faq/serverless-containers.mdx
  faq/serverless-functions.mdx
  faq/serverless-jobs.mdx
Labels: product: serverless

#3898 docs(srv): add SEM x Jobs documentation MTA-5199
  faq/serverless-jobs.mdx
  menu/navigation.json
  serverless/jobs/concepts.mdx
  serverless/jobs/how-to/create-job-from-external-registry.mdx
  serverless/jobs/how-to/create-job-from-scaleway-registry.mdx
  serverless/jobs/how-to/reference-secret-in-job.mdx
  serverless/jobs/quickstart.mdx
Labels: status: tech review, priority: medium, product: serverless

#3895 feat(serverless): fix somesyntax highlighting
  serverless/containers/how-to/secure-a-container.mdx
  tutorials/create-serverless-scraping/index.mdx
  tutorials/deploy-laravel-on-serverless-containers/index.mdx
  tutorials/encode-videos-using-serverless-jobs/index.mdx
  tutorials/large-messages/index.mdx
  tutorials/manage-instances-with-terraform-and-functions/index.mdx
  tutorials/snapshot-instances-jobs/index.mdx
  tutorials/strapi-app-serverless-containers-sqldb/index.mdx
Labels: product: serverless

#3891 feat(serverless): advanced cold starts doc
  serverless/containers/concepts.mdx
  serverless/functions/concepts.mdx
Labels: product: serverless

#3904 chore(domains): weekly review
  network/domains-and-dns/concepts.mdx
  network/domains-and-dns/how-to/manage-dns-records.mdx
  network/domains-and-dns/reference-content/understanding-domains-and-dns.mdx
Labels: type: maintenance

#3906 fix(ai): fix double link in navigation
  menu/navigation.json
Labels: type: bug

#3909 fix(ins): add posted date
  compute/instances/reference-content/understanding-qemu-guest-agent.mdx
Labels: priority: low

#3916 feat(changelog): managed-inference-added-terraform-support 2024-10-30
  changelog/october2024/2024-10-30-managed-inference-added-terraform-support.mdx
Labels: type: changelog

#3915 feat(cli): add information for cli installation
  developer-tools/scaleway-cli/quickstart.mdx
Labels: priority: low

#3920 docs(cpt): update
  observability/cockpit/how-to/send-metrics-with-grafana-alloy.mdx
Labels: type: maintenance

#3925 fix(managed-inference): category
  ai-data/managed-inference/reference-content/bge-multilingual-gemma2.mdx
Labels: type: bug
