Repository scaleway/docs-content, pull requests merged in 2024-06, with the labels that each got.

#3242 docs(s3): Add doc on SSE-C MTA-4652
  menu/navigation.json
  storage/object/api-cli/enable-sse-c.mdx
Labels: status: tech review, status: doc review

#3252 fix(s3): missing title
  storage/object/api-cli/enable-sse-c.mdx
Labels: priority: high

#3255 fix(s3): add warning on closed beta
  storage/object/api-cli/enable-sse-c.mdx
Labels: priority: high

#3254 docs(sem): review sem-terraform tuto
  tutorials/sem-terraform/assets/scaleway-database-secret.webp
  tutorials/sem-terraform/assets/scaleway-db-secret.webp
  tutorials/sem-terraform/index.mdx
Labels: type: maintenance

#3258 feat(changelog): kubernetes-deprecated-kubernetes-worker-nodes-with-nat- 2024-06-03
  changelog/june2024/2024-06-03-kubernetes-deprecated-kubernetes-worker-nodes-with-nat-.mdx
Labels: type: changelog

#3260 docs(s3): update Bucket policy reference MTA-4667
  storage/object/api-cli/bucket-policy.mdx
Labels: status: doc review

#3251 feat(changelog): jobs-added-serverless-jobs-allows-smtp-traffic 2024-06-03
  changelog/june2024/2024-06-03-jobs-added-serverless-jobs-allows-smtp-traffic.mdx
Labels: type: changelog

#3250 feat(changelog): containers-added-serverless-containers-allows-smtp-traf 2024-06-03
  changelog/june2024/2024-06-03-containers-added-serverless-containers-allows-smtp-traf.mdx
Labels: type: changelog

#3249 feat(changelog): functions-added-serverless-functions-allows-smtp-traffi 2024-06-03
  changelog/june2024/2024-06-03-functions-added-serverless-functions-allows-smtp-traffi.mdx
Labels: type: changelog

#3263 fix(s3): removed screenshots
  storage/object/how-to/upload-files-into-a-bucket.mdx
Labels: priority: low, status: doc review

#3267 docs(gen): tags cleanup tutorial pages a to c
  managed-databases/postgresql-and-mysql/how-to/delete-db.mdx
  tutorials/abort-multipart-upload-minio/index.mdx
  tutorials/access-mac-mini-with-reemo/index.mdx
  tutorials/add-disk-configure-datastore-esxi/index.mdx
  tutorials/ansible-bionic-beaver/index.mdx
  tutorials/ansible-galaxy/index.mdx
  tutorials/ark-server/index.mdx
  tutorials/arqbackup-pc-mac/index.mdx
  tutorials/automate-tasks-using-cron/index.mdx
  tutorials/back-up-postgresql-barman/index.mdx
  tutorials/backup-dedicated-server-s3-duplicity/index.mdx
  tutorials/backup-postgresql-pgbackrest-s3/index.mdx
  tutorials/backup-synology-nas-s3-hyper-backup/index.mdx
  tutorials/bash-christmas-tree/index.mdx
  tutorials/bind-dns-server/index.mdx
  tutorials/ceph-cluster/index.mdx
  tutorials/cilicon-self-hosted-ci-on-apple-silicon/index.mdx
  tutorials/cloud-controller-manager/index.mdx
  tutorials/collecting-visualizing-logs-elastic-stack/index.mdx
  tutorials/configure-apache-kafka/index.mdx
  tutorials/configure-apache-lets-encrypt/index.mdx
  tutorials/configure-chef-ubuntu-xenial/index.mdx
  tutorials/configure-dvc-with-object-storage/index.mdx
  tutorials/configure-failover-proxmox/index.mdx
  tutorials/configure-graphite/index.mdx
  tutorials/configure-ipv6-virtual-machine-esxi/index.mdx
  tutorials/configure-nagios-monitoring/index.mdx
  tutorials/configure-netbox-managed-postgresql-database/index.mdx
  tutorials/configure-nextcloud-ubuntu/index.mdx
  tutorials/configure-nginx-lets-encrypt/index.mdx
  tutorials/configure-nodemcu-iot-hub/index.mdx
  tutorials/configure-plex-s3/index.mdx
  tutorials/configure-realtime-alerting-slack/index.mdx
  tutorials/configure-smtp-relay-tem/index.mdx
  tutorials/configure-tem-smtp-with-wordpress-plugin/index.mdx
  tutorials/configure-virtual-machine-esxi/index.mdx
  tutorials/configure-vm-hyperv/index.mdx
  tutorials/configuring-gitlab-scaleway-elements-database/index.mdx
  tutorials/configuring-loadbalancer-wordpress/index.mdx
  tutorials/create-deploy-staging-site-cpanel/index.mdx
  tutorials/create-esxi-cluster-dedibox/index.mdx
  tutorials/create-models-django/index.mdx
  tutorials/create-openwrt-image-for-scaleway/index.mdx
  tutorials/create-serverless-scraping/index.mdx
  tutorials/create-valheim-server/index.mdx
  tutorials/create-wordpress-instances-cli/index.mdx
Labels: type: maintenance, priority: low

#3268 fix(cr): reviews
  containers/container-registry/how-to/connect-docker-cli.mdx
  containers/container-registry/how-to/create-namespace.mdx
  containers/container-registry/how-to/delete-image.mdx
  containers/container-registry/how-to/delete-namespace.mdx
  containers/container-registry/how-to/display-image-versions.mdx
  containers/container-registry/how-to/manage-image-privacy-settings.mdx
  containers/container-registry/how-to/manage-namespace-privacy-policies.mdx
  faq/iam.mdx
  labs/ipfs-pinning/api-cli/ipfs-cli.mdx
  labs/ipfs-pinning/api-cli/ipfs-get-content.mdx
  labs/ipfs-pinning/api-cli/pin-operations.mdx
  labs/ipfs-pinning/quickstart.mdx
Labels: type: maintenance, priority: low, status: doc review

#3269 docs(s3): add troubleshooting pages MTA-4640
  menu/navigation.json
  storage/object/troubleshooting/api-key-does-not-work.mdx
  storage/object/troubleshooting/cannot-access-data.mdx
  storage/object/troubleshooting/cannot-delete-bucket.mdx
  storage/object/troubleshooting/cannot-restore-glacier.mdx
  storage/object/troubleshooting/lost-bucket-access-bucket-policy.mdx
  storage/object/troubleshooting/low-performance.mdx
Labels: status: doc review

#3262 feat(changelog): console-added-login-sso-google-and-microsoft 2024-06-04
  changelog/june2024/2024-06-04-console-added-login-sso-google-and-microsoft.mdx
Labels: type: changelog

#3275 fix(s3): update SSE-C commands
  storage/object/api-cli/enable-sse-c.mdx
Labels: priority: high, status: doc review

#3247 docs(sdb): add doc on ssl/tls MTA-4669
  menu/navigation.json
  serverless/sql-databases/api-cli/secure-connection-ssl-tls.mdx
Labels: priority: medium, status: doc review

#3265 docs(cockpit): add terraform tutorial
  observability/cockpit/index.mdx
  tutorials/use-cockpit-with-terraform/index.mdx
Labels: type: new content

#3271 fix(pgw): review docs
  network/public-gateways/how-to/create-a-public-gateway.mdx
  network/public-gateways/how-to/delete-a-public-gateway.mdx
  network/public-gateways/how-to/use-flexible-ips.mdx
  network/public-gateways/how-to/use-ssh-bastion.mdx
  network/public-gateways/quickstart.mdx
  network/public-gateways/troubleshooting/gw-limitations.mdx
Labels: type: maintenance, priority: low, status: doc review

#3278 fix(home): fix learning link
  blocks/mainLinks.json
Labels: type: maintenance

#3190 docs(ifr): add data processing information
  ai-data/managed-inference/reference-content/data-privacy-security-scaleway-ai-services.mdx
  menu/navigation.json
Labels: status: tech review

#3282 feat(changelog): domains-and-dns-changed-update-pricing-for-art-at-de-it 2024-06-10
  changelog/june2024/2024-06-10-domains-and-dns-changed-update-pricing-for-art-at-de-it.mdx
Labels: type: changelog

#3290 fix(mnq): add TLS mention
  serverless/messaging/reference-content/nats-overview.mdx
Labels: type: maintenance, priority: low

#3288 fix(lb): review flex IP doc
  network/load-balancer/how-to/create-manage-flex-ips.mdx
Labels: type: maintenance

#3293 fix(lb): fix validation date
  network/load-balancer/api-cli/configuring-balancing-rules.mdx
Labels: type: bug

#3286 docs(sdb): add new frameworks to SSL/TLS MTA-4594
  serverless/sql-databases/api-cli/secure-connection-ssl-tls.mdx
Labels: priority: low, status: doc review

#3192 docs(instances): add info for rsa keys for windows instances
  compute/instances/how-to/connect-to-instance.mdx
  compute/instances/how-to/create-an-instance.mdx
  compute/instances/quickstart.mdx
  identity-and-access-management/organizations-and-projects/how-to/create-ssh-key.mdx
Labels: status: tech review, status: doc review

#3304 docs(srv): add PHP runtime info to doc MTA-4686
  serverless/functions/reference-content/functions-runtimes-configuration.mdx
Labels: status: tech review, priority: low, status: doc review

#3309 fix(sdb): updated SDB how-tos index title
  serverless/sql-databases/how-to/index.mdx
Labels: priority: low, status: doc review

#3310 Update quickstart.mdx
  partners/partner-space/quickstart.mdx
Labels: type: maintenance

#3311 feat(aps): add ssh troubleshooting
  bare-metal/apple-silicon/how-to/connect-to-mac-mini.mdx
  bare-metal/apple-silicon/how-to/create-mac-mini.mdx
  bare-metal/apple-silicon/how-to/delete-mac-mini.mdx
  bare-metal/apple-silicon/how-to/reboot-mac-mini.mdx
  bare-metal/apple-silicon/how-to/reinstall-mac-mini.mdx
  bare-metal/apple-silicon/troubleshooting/cant-connect-using-ssh.mdx
  bare-metal/apple-silicon/troubleshooting/cant-connect-using-vnc.mdx
  bare-metal/apple-silicon/troubleshooting/filevault-preventing-system-boot.mdx
  bare-metal/apple-silicon/troubleshooting/need-package-manager.mdx
  bare-metal/apple-silicon/troubleshooting/need-to-update-os.mdx
  menu/navigation.json
Labels: status: doc review

#3312 fix(gen): tutorials tags cleanup p to r
  tutorials/pihole-vpn/index.mdx
  tutorials/plausible-analytics-ubuntu/index.mdx
  tutorials/postgis-managed-databases/index.mdx
  tutorials/postman-api/index.mdx
  tutorials/powerdns-ubuntu-bionic/index.mdx
  tutorials/prestashop-dedibox/index.mdx
  tutorials/prometheus-monitoring-grafana-dashboard/index.mdx
  tutorials/protect-server-fail2ban/index.mdx
  tutorials/protect-server-using-crowdsec/index.mdx
  tutorials/proxmox-softraid/index.mdx
  tutorials/proxy-protocol-v2-load-balancer/index.mdx
  tutorials/pushing-metrics-logs-from-scw-instance/index.mdx
  tutorials/python-for-loops/index.mdx
  tutorials/python-lists-dicts/index.mdx
  tutorials/remote-desktop-with-xrdp/index.mdx
  tutorials/restic-s3-backup/index.mdx
  tutorials/rtmp-self-hosted-streaming/index.mdx
  tutorials/ruby-on-rails/index.mdx
  tutorials/run-manage-linux-vm-on-apple-silicon-tart/index.mdx
  tutorials/run-messaging-platform-with-rocketchat/index.mdx
  tutorials/run-nodejs-express-server-on-serverless-containers/index.mdx
  tutorials/run-python-flask-server-on-serverless-container/index.mdx
Labels: type: maintenance, priority: low

#3313 fix(billing): add new concept
  console/billing/assets/scaleway-bank-statement.webp
  console/billing/concepts.mdx
  console/billing/how-to/assets/scaleway-bank-statement.webp
Labels: type: maintenance, status: doc review

#3323 feat(changelog): containers-fixed-serverless-containers-cpu-usage-fix 2024-06-17
  changelog/june2024/2024-06-17-containers-fixed-serverless-contaienrs-cpu-usage-fix.mdx
Labels: type: changelog

#3324 feat(changelog): functions-fixed-serverless-functions-cpu-usage-fix 2024-06-17
  changelog/june2024/2024-06-17-functions-fixed-serverless-functions-cpu-usage-fix.mdx
Labels: type: changelog

#3328 fix(s3): update sse-c command
  storage/object/api-cli/enable-sse-c.mdx
Labels: priority: medium, status: doc review

#3333 feat(onp): manage quotas page
  identity-and-access-management/organizations-and-projects/how-to/assets/steps-to-filter-quotas.webp
  identity-and-access-management/organizations-and-projects/how-to/manage-quotas.mdx
  menu/navigation.json
Labels: type: new content, status: tech review, priority: high, status: doc review

#3331 docs(cpt): update doc
  observability/cockpit/how-to/assets/logs-python.webp
  observability/cockpit/how-to/assets/python-logs-details.webp
  observability/cockpit/how-to/assets/scaleway-explore-python-logs.webp
  observability/cockpit/how-to/assets/scaleway-logs-python.webp
  observability/cockpit/how-to/assets/scaleway_cockpit_show_python_logs.webp
  observability/cockpit/how-to/send-metrics-logs-to-cockpit.mdx
Labels: type: maintenance

#3329 fix(iam): reviews
  containers/container-registry/how-to/connect-docker-cli.mdx
  containers/container-registry/how-to/pull-images.mdx
  containers/container-registry/how-to/push-images.mdx
  identity-and-access-management/iam/how-to/accept-invitation-to-orga.mdx
  identity-and-access-management/iam/how-to/create-api-keys.mdx
  identity-and-access-management/iam/how-to/create-application.mdx
  identity-and-access-management/iam/how-to/create-group.mdx
  identity-and-access-management/iam/how-to/create-policy.mdx
  identity-and-access-management/iam/how-to/invite-user-to-orga.mdx
  identity-and-access-management/iam/how-to/manage-api-keys.mdx
  identity-and-access-management/iam/how-to/manage-applications.mdx
  identity-and-access-management/iam/how-to/manage-groups.mdx
  identity-and-access-management/iam/how-to/manage-policies.mdx
  identity-and-access-management/iam/how-to/manage-users.mdx
  identity-and-access-management/iam/how-to/view-logs.mdx
  identity-and-access-management/iam/index.mdx
  identity-and-access-management/iam/quickstart.mdx
  managed-services/transactional-email/how-to/configure-domain-with-transactional-email.mdx
Labels: type: maintenance, priority: low, status: doc review

#3330 docs(ins): review content
  compute/gpu/troubleshooting/fix-driver-issues.mdx
  containers/kubernetes/api-cli/managing-storage.mdx
  containers/kubernetes/how-to/create-cluster.mdx
  containers/kubernetes/how-to/create-kosmos-cluster.mdx
  containers/kubernetes/how-to/edit-cluster.mdx
  containers/kubernetes/how-to/edit-kosmos-cluster.mdx
  containers/kubernetes/how-to/enable-easy-deploy.mdx
  containers/kubernetes/how-to/upgrade-kubernetes-version.mdx
  containers/kubernetes/reference-content/introduction-to-kubernetes.mdx
  dedibox-console/classic-hosting/how-to/solve-email-account-connection-problems.mdx
  dedibox-console/cpanel-hosting/quickstart.mdx
  dedibox-network/domains/how-to/change-ownership.mdx
  dedibox/kvm-over-ip/how-to/quanta-computer.mdx
Labels: status: doc review

#3322 docs(block-storage): add compatibility with other products in faq
  faq/blockstorage.mdx
Labels: type: maintenance

#3335 fix(iam): image names
  identity-and-access-management/iam/how-to/assets/scaleway-generate-api-key-new.webp
  identity-and-access-management/iam/how-to/assets/scaleway-generated-api-key-new.webp
  identity-and-access-management/iam/how-to/create-api-keys.mdx
Labels: type: maintenance, priority: medium, status: doc review

#3317 chore(docs): doc review MTA-4643
  serverless/jobs/how-to/delete-job.mdx
  serverless/jobs/how-to/monitor-job.mdx
  serverless/sql-databases/troubleshooting/connection-timeout.mdx
  storage/object/api-cli/bucket-policy.mdx
  storage/object/api-cli/lifecycle-rules-api.mdx
  storage/object/api-cli/managing-lifecycle-cliv2.mdx
  storage/object/api-cli/multipart-uploads.mdx
  storage/object/api-cli/object-storage-aws-cli.mdx
  storage/object/api-cli/setting-cors-rules.mdx
  storage/object/how-to/create-a-bucket.mdx
  storage/object/how-to/delete-a-bucket.mdx
  storage/object/how-to/download-files-from-a-bucket.mdx
  storage/object/how-to/edit-storage-class.mdx
  storage/object/how-to/manage-lifecycle-rules.mdx
  storage/object/how-to/manage-object-visibility.mdx
  storage/object/how-to/monitor-consumption.mdx
  storage/object/how-to/restore-an-object-from-glacier.mdx
  storage/object/how-to/upload-files-into-a-bucket.mdx
  storage/object/how-to/use-bucket-versioning.mdx
  storage/object/how-to/use-obj-stor-with-private-networks.mdx
  storage/object/quickstart.mdx
  storage/object/reference-content/optimize-object-storage-performance.mdx
  tutorials/s3cmd/index.mdx
Labels: priority: low, status: doc review

#3347 fix(gen): fix 404 links
  compute/instances/how-to/create-an-instance.mdx
  compute/instances/reference-content/images-and-instantapps.mdx
  serverless/containers/index.mdx
  serverless/sql-databases/api-cli/index.mdx
  tutorials/vuls-security-scanner/index.mdx
Labels: priority: medium

#3344 fix(bil): add specs MTA-4718b
  console/billing/how-to/use-the-cost-manager.mdx
Labels: type: maintenance, priority: low, status: doc review

#3345 fix(vpc): improve DNS info
  network/vpc/concepts.mdx
  network/vpc/how-to/attach-resources-to-pn.mdx
Labels: status: doc review

#3339 feat(changelog): load-balancers-changed-static-private-network-attachmen 2024-06-18
  changelog/june2024/2024-06-18-load-balancers-changed-static-private-network-attachmen.mdx
Labels: type: changelog

#3346 docs(cockpit): added seo to descriptions
  observability/cockpit/api-cli/querying-logs-with-logcli.mdx
  observability/cockpit/concepts.mdx
  observability/cockpit/how-to/access-grafana-and-managed-dashboards.mdx
  observability/cockpit/how-to/activate-managed-alerts.mdx
  observability/cockpit/how-to/activate-push-traces.mdx
  observability/cockpit/how-to/add-contact-points.mdx
  observability/cockpit/how-to/configure-alerts-for-scw-resources.mdx
  observability/cockpit/how-to/create-external-data-sources.mdx
  observability/cockpit/how-to/create-token.mdx
  observability/cockpit/how-to/delete-external-data-sources.mdx
  observability/cockpit/how-to/enable-alert-manager.mdx
  observability/cockpit/how-to/retrieve-grafana-credentials.mdx
  observability/cockpit/how-to/send-metrics-logs-to-cockpit.mdx
  observability/cockpit/quickstart.mdx
  observability/cockpit/reference-content/cockpit-limitations.mdx
  observability/cockpit/reference-content/understanding-cockpit-usage.mdx
  observability/cockpit/troubleshooting/pusher-does-not-support-custom-http-headers.mdx
  observability/cockpit/troubleshooting/resetting-grafana-password-via-the-api.mdx
Labels: type: maintenance

#3340 fix(lb): review docs
  network/load-balancer/api-cli/configuring-balancing-rules.mdx
  network/load-balancer/api-cli/setting-up-ssl-offloading.mdx
  network/load-balancer/how-to/create-frontends-backends.mdx
  network/load-balancer/reference-content/configuring-frontends.mdx
  network/load-balancer/reference-content/configuring-health-checks.mdx
  network/load-balancer/troubleshooting/load-balancer-limitations.mdx
Labels: type: maintenance, priority: low

#3348 docs(domains): added seo descriptions
  faq/domains-and-dns.mdx
  network/domains-and-dns/concepts.mdx
  network/domains-and-dns/how-to/add-external-domain.mdx
  network/domains-and-dns/how-to/configure-autorenew.mdx
  network/domains-and-dns/how-to/configure-dns-zones.mdx
  network/domains-and-dns/how-to/configure-dnssec-internal-domain.mdx
  network/domains-and-dns/how-to/delete-external-domain.mdx
  network/domains-and-dns/how-to/manage-dns-records.mdx
  network/domains-and-dns/how-to/manage-external-domain.mdx
  network/domains-and-dns/how-to/manage-nameservers-internal-domain.mdx
  network/domains-and-dns/how-to/register-internal-domain.mdx
  network/domains-and-dns/how-to/renew-domain.mdx
  network/domains-and-dns/how-to/test-dns-zones-with-dig.mdx
  network/domains-and-dns/how-to/trade-domain.mdx
  network/domains-and-dns/how-to/transfer-external-domain.mdx
  network/domains-and-dns/how-to/unlock-internal-domain.mdx
  network/domains-and-dns/quickstart.mdx
  network/domains-and-dns/reference-content/understanding-dns-records.mdx
  network/domains-and-dns/reference-content/understanding-domains-and-dns.mdx
Labels: type: maintenance

#3351 fix(gen): fix recurring typo in URL
  storage/object/how-to/edit-storage-class.mdx
  tutorials/matomo-analytics/index.mdx
  tutorials/mutli-node-rocket-chat-community-private-network/index.mdx
  tutorials/plausible-analytics-ubuntu/index.mdx
  tutorials/setup-nginx-reverse-proxy-s3/index.mdx
  tutorials/use-cockpit-with-terraform/index.mdx
  tutorials/wordpress-lemp-stack-focal/index.mdx
  tutorials/wordpress-lemp-stack-ubuntu-jammy-jellyfish-22-04/index.mdx
  tutorials/wordpress-lemp-stack/index.mdx
  tutorials/zabbix-monitoring/index.mdx
Labels: priority: low

#3352 fix(iam): improve descriptions
  identity-and-access-management/iam/api-cli/index.mdx
  identity-and-access-management/iam/api-cli/managing-projects.mdx
  identity-and-access-management/iam/concepts.mdx
  identity-and-access-management/iam/how-to/accept-invitation-to-orga.mdx
  identity-and-access-management/iam/how-to/create-api-keys.mdx
  identity-and-access-management/iam/how-to/create-application.mdx
  identity-and-access-management/iam/how-to/create-group.mdx
  identity-and-access-management/iam/how-to/create-policy.mdx
  identity-and-access-management/iam/how-to/invite-user-to-orga.mdx
  identity-and-access-management/iam/how-to/manage-api-keys.mdx
  identity-and-access-management/iam/how-to/manage-applications.mdx
  identity-and-access-management/iam/how-to/manage-groups.mdx
  identity-and-access-management/iam/how-to/manage-policies.mdx
  identity-and-access-management/iam/how-to/manage-users.mdx
  identity-and-access-management/iam/how-to/view-logs.mdx
  identity-and-access-management/iam/index.mdx
  identity-and-access-management/iam/quickstart.mdx
  identity-and-access-management/iam/reference-content/index.mdx
  identity-and-access-management/iam/reference-content/overview.mdx
  identity-and-access-management/iam/reference-content/permission-sets.mdx
  identity-and-access-management/iam/reference-content/policy.mdx
  identity-and-access-management/iam/reference-content/users-groups-and-applications.mdx
  identity-and-access-management/iam/videos.mdx
Labels: type: maintenance, priority: low, status: doc review

#3353 docs(sem): seo descriptions
  faq/secret-manager.mdx
  identity-and-access-management/secret-manager/api-cli/create-secret-path-migrate.mdx
  identity-and-access-management/secret-manager/api-cli/create-secret-with-type.mdx
  identity-and-access-management/secret-manager/api-cli/external-secrets.mdx
  identity-and-access-management/secret-manager/concepts.mdx
  identity-and-access-management/secret-manager/how-to/create-secret.mdx
  identity-and-access-management/secret-manager/how-to/create-version.mdx
  identity-and-access-management/secret-manager/how-to/delete-secret.mdx
  identity-and-access-management/secret-manager/how-to/delete-version.mdx
  identity-and-access-management/secret-manager/how-to/manage-secret.mdx
  identity-and-access-management/secret-manager/how-to/manage-version.mdx
  identity-and-access-management/secret-manager/quickstart.mdx
  identity-and-access-management/secret-manager/reference-content/data-encryption-with-secret-manager.mdx
  identity-and-access-management/secret-manager/reference-content/secret-manager-capabilities-limits.mdx
Labels: type: maintenance

#3350 docs(block-storage): added seo descriptions
  faq/blockstorage.mdx
  storage/block/api-cli/managing-a-volume.mdx
  storage/block/api-cli/unmounting-a-volume.mdx
  storage/block/concepts.mdx
  storage/block/how-to/attach-a-volume.mdx
  storage/block/how-to/create-a-snapshot.mdx
  storage/block/how-to/create-a-volume.mdx
  storage/block/how-to/create-volume-from-snapshot.mdx
  storage/block/how-to/delete-a-snapshot.mdx
  storage/block/how-to/delete-a-volume.mdx
  storage/block/how-to/detach-a-volume.mdx
  storage/block/how-to/increase-block-volume.mdx
  storage/block/how-to/unmount-a-volume.mdx
  storage/block/quickstart.mdx
Labels: type: maintenance

#3358 fix(k8s): add warning about deprecated content
  containers/kubernetes/api-cli/cluster-monitoring.mdx
  tutorials/manage-k8s-logging-loki/index.mdx
Labels: type: maintenance

#3337 feat(llm): add inference x pn docs
  ai-data/managed-inference/how-to/assets/scaleway-inference-pn-connected.webp
  ai-data/managed-inference/how-to/assets/scaleway-inference-pn-detach.webp
  ai-data/managed-inference/how-to/assets/scaleway-inference-tls-dl.webp
  ai-data/managed-inference/how-to/managed-inference-with-private-network.mdx
  menu/navigation.json
Labels: do not merge, status: tech review

#3334 docs(tutorial): instances snapshots with Serverless Jobs MTA-4622
  tutorials/snapshot-instances-jobs/index.mdx
Labels: type: new content, status: tech review, priority: low, status: doc review

#3363 docs(s3): add command to FAQ MTA-4746
  faq/objectstorage.mdx
Labels: status: tech review, priority: low

#3370 feat(mnq) : update for SNS GA
  faq/messaging-and-queuing.mdx
Labels: do not merge

#3371 fix(mnq) update SNS concepts for GA
  serverless/messaging/concepts.mdx
Labels: do not merge

#3376 docs(contribute): update message to make consistent with the offer
  contribute.mdx
Labels: type: maintenance

#3325 feat(bil): savings plan
  console/billing/additional-content/assets/scaleway-savings-plan.webp
  console/billing/additional-content/understanding-savings-plans.mdx
  console/billing/how-to/purchase-savings-plan.mdx
  faq/billing.mdx
  menu/navigation.json
Labels: type: new content, priority: medium, status: doc review

#3373 feat(changelog): iam-changed-new-console-page-for-quotas 2024-06-24
  changelog/june2024/2024-06-24-iam-changed-new-console-page-for-quotas.mdx
Labels: type: changelog

#3384 feat(changelog): vpc-added-vpc-routing-is-now-in-general-availability 2024-06-25
  changelog/june2024/2024-06-25-vpc-added-vpc-routing-is-now-in-general-availability.mdx
Labels: type: changelog

#3383 chore(es): prepare for public beta
  menu/navigation.json
  storage/object/concepts.mdx
  storage/object/how-to/get-started-edge-services.mdx
Labels: priority: high

#3389 feat(changelog): messaging-and-queuing-changed-messaging-and-queuing-sns 2024-06-25
  changelog/june2024/2024-06-25-messaging-and-queuing-changed-messaging-and-queuing-sns.mdx
Labels: type: changelog

#3391 fix(mnq): fix bad instances of spelling
  serverless/messaging/concepts.mdx
  serverless/messaging/reference-content/limitations.mdx
  tutorials/create-serverless-scraping/index.mdx
Labels: type: maintenance, status: doc review

#3392 fix(tuto): metadata
  tutorials/mist-streaming-server/index.mdx
Labels: priority: high

#3388 fix(network): review docs
  network/load-balancer/api-cli/configuring-balancing-rules.mdx
  network/public-gateways/how-to/configure-a-public-gateway.mdx
  network/public-gateways/troubleshooting/gateway-services-not-working.mdx
  network/vpc/how-to/create-vpc.mdx
  network/vpc/how-to/delete-vpc.mdx
Labels: type: maintenance, priority: low

#3393 fix(iam): validation dates
  identity-and-access-management/iam/how-to/accept-invitation-to-orga.mdx
  identity-and-access-management/iam/how-to/create-api-keys.mdx
  identity-and-access-management/iam/how-to/create-application.mdx
  identity-and-access-management/iam/how-to/create-group.mdx
  identity-and-access-management/iam/how-to/create-policy.mdx
  identity-and-access-management/iam/how-to/invite-user-to-orga.mdx
  identity-and-access-management/iam/how-to/manage-api-keys.mdx
  identity-and-access-management/iam/how-to/manage-applications.mdx
  identity-and-access-management/iam/how-to/manage-groups.mdx
  identity-and-access-management/iam/how-to/manage-policies.mdx
  identity-and-access-management/iam/how-to/manage-users.mdx
  identity-and-access-management/iam/how-to/view-logs.mdx
  identity-and-access-management/iam/quickstart.mdx
  identity-and-access-management/iam/videos.mdx
  managed-services/transactional-email/how-to/add-spf-dkim-records-to-your-domain.mdx
  managed-services/transactional-email/how-to/configure-domain-with-transactional-email.mdx
  managed-services/transactional-email/how-to/delete-tem-domain.mdx
Labels: type: maintenance, status: ready, priority: low

#3398 docs(cpt): seo review index page
  observability/cockpit/index.mdx
Labels: type: maintenance

#3394 fix(SRV): fix wrong cron schedule
  tutorials/snapshot-instances-jobs/index.mdx
Labels: priority: medium

#3408 docs(AXP): update search resources MTA-4786
  console/account/how-to/use-the-search-bar.mdx
Labels: status: tech review, priority: high, status: doc review

#3390 fix(lb): update feature name
  macros/network/lb-create-backend-3-advanced-settings.mdx
  menu/navigation.json
  network/load-balancer/concepts.mdx
  network/load-balancer/how-to/assets/scaleway-customized-error-page.webp
  network/load-balancer/how-to/assets/scaleway-s3-failover.webp
  network/load-balancer/how-to/set-up-s3-failover.mdx
  network/load-balancer/reference-content/configuring-backends.mdx
Labels: status: doc review

#3400 fix(tem): seo descriptions
  console/billing/how-to/purchase-savings-plan.mdx
  managed-services/transactional-email/api-cli/send-emails-with-api.mdx
  managed-services/transactional-email/concepts.mdx
  managed-services/transactional-email/how-to/add-mx-record-to-your-domain.mdx
  managed-services/transactional-email/how-to/add-spf-dkim-records-to-your-domain.mdx
  managed-services/transactional-email/how-to/configure-domain-with-transactional-email.mdx
  managed-services/transactional-email/how-to/delete-tem-domain.mdx
  managed-services/transactional-email/how-to/generate-api-keys-for-tem-with-iam.mdx
  managed-services/transactional-email/how-to/index.mdx
  managed-services/transactional-email/how-to/manage-email-activity.mdx
  managed-services/transactional-email/index.mdx
  managed-services/transactional-email/quickstart.mdx
  managed-services/transactional-email/reference-content/index.mdx
  managed-services/transactional-email/reference-content/tem-capabilities-and-limits.mdx
  managed-services/transactional-email/reference-content/understanding-tem-reputation-score.mdx
  managed-services/transactional-email/troubleshooting/index.mdx
Labels: type: maintenance, priority: low, status: doc review

#3402 fix(bil): SEO descriptions
  console/billing/concepts.mdx
  console/billing/how-to/add-billing-contact.mdx
  console/billing/how-to/add-payment-method.mdx
  console/billing/how-to/change-billing-information.mdx
  console/billing/how-to/change-payment-method.mdx
  console/billing/how-to/download-an-invoice.mdx
  console/billing/how-to/purchase-savings-plan.mdx
  console/billing/how-to/redeem-voucher-code.mdx
  console/billing/how-to/use-billing-alerts.mdx
  console/billing/how-to/use-the-cost-manager.mdx
  console/billing/quickstart.mdx
Labels: type: maintenance, priority: low, status: doc review

#3403 fix(db): SEO descriptions MTA-4782
  managed-databases/postgresql-and-mysql/api-cli/index.mdx
  managed-databases/postgresql-and-mysql/api-cli/verify-ca-postgresql.mdx
  managed-databases/postgresql-and-mysql/concepts.mdx
  managed-databases/postgresql-and-mysql/how-to/add-a-database.mdx
  managed-databases/postgresql-and-mysql/how-to/add-users.mdx
  managed-databases/postgresql-and-mysql/how-to/clone-a-database-instance.mdx
  managed-databases/postgresql-and-mysql/how-to/configure-advanced-settings.mdx
  managed-databases/postgresql-and-mysql/how-to/connect-database-instance.mdx
  managed-databases/postgresql-and-mysql/how-to/connect-database-private-network.mdx
  managed-databases/postgresql-and-mysql/how-to/create-a-database.mdx
  managed-databases/postgresql-and-mysql/how-to/create-read-replica.mdx
  managed-databases/postgresql-and-mysql/how-to/delete-a-database.mdx
  managed-databases/postgresql-and-mysql/how-to/delete-db.mdx
  managed-databases/postgresql-and-mysql/how-to/enable-autobackup.mdx
  managed-databases/postgresql-and-mysql/how-to/index.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-allowed-ip-addresses.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-manual-backups.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-permissions.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-read-replica.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-snapshots.mdx
  managed-databases/postgresql-and-mysql/how-to/renew-tls-certificate.mdx
  managed-databases/postgresql-and-mysql/how-to/upgrade-a-database.mdx
  managed-databases/postgresql-and-mysql/how-to/upgrade-version.mdx
  managed-databases/postgresql-and-mysql/quickstart.mdx
  managed-databases/postgresql-and-mysql/reference-content/autohealing.mdx
  managed-databases/postgresql-and-mysql/reference-content/index.mdx
  managed-databases/postgresql-and-mysql/troubleshooting/disk-full.mdx
  managed-databases/postgresql-and-mysql/troubleshooting/index.mdx
  managed-databases/redis/api-cli/managing-username-and-password.mdx
  managed-databases/redis/api-cli/using-pub-sub-feature.mdx
  managed-databases/redis/concepts.mdx
  managed-databases/redis/how-to/configure-advanced-settings-redis.mdx
  managed-databases/redis/how-to/connect-to-redis-database-instance.mdx
  managed-databases/redis/how-to/create-a-database-for-redis.mdx
  managed-databases/redis/how-to/delete-a-database-for-redis.mdx
  managed-databases/redis/how-to/index.mdx
  managed-databases/redis/how-to/manage-allowed-ip-addresses-redis.mdx
  managed-databases/redis/how-to/scale-up-a-database-for-redis.mdx
  managed-databases/redis/quickstart.mdx
  managed-databases/redis/reference-content/default-user-permissions.mdx
  managed-databases/redis/reference-content/ensuring-data-persistence.mdx
  managed-databases/redis/reference-content/index.mdx
Labels: type: maintenance, priority: low, status: doc review

#3405 fix(cr): seo description MTA-4784
  containers/container-registry/concepts.mdx
  containers/container-registry/how-to/connect-docker-cli.mdx
  containers/container-registry/how-to/create-namespace.mdx
  containers/container-registry/how-to/delete-image.mdx
  containers/container-registry/how-to/delete-namespace.mdx
  containers/container-registry/how-to/display-image-versions.mdx
  containers/container-registry/how-to/index.mdx
  containers/container-registry/how-to/manage-image-privacy-settings.mdx
  containers/container-registry/how-to/manage-namespace-privacy-policies.mdx
  containers/container-registry/how-to/pull-images.mdx
  containers/container-registry/how-to/push-images.mdx
  containers/container-registry/quickstart.mdx
Labels: type: maintenance, priority: low, status: doc review
