Repository scaleway/docs-content, pull requests merged in 2024-11, with the labels that each got.

#3930 fix(cpt): remove regionalization banners
  observability/cockpit/reference-content/cockpit-limitations.mdx
  observability/cockpit/reference-content/understanding-cockpit-usage.mdx
Labels: type: maintenance

#3931 fix(gen): reviews 04/11
  console/billing/additional-content/reading-an-invoice.mdx
  labs/ipfs-naming/quickstart.mdx
  labs/ipfs-pinning/api-cli/getting-started-with-ipfs-cli.mdx
  labs/ipfs-pinning/api-cli/volumes-operations.mdx
  managed-services/iot-hub/api-cli/cli-db-tips-tricks.mdx
  managed-services/iot-hub/api-cli/getting-started-with-iot-hub-api.mdx
  managed-services/iot-hub/api-cli/getting-started-with-iot-hub-cli.mdx
  managed-services/iot-hub/api-cli/iot-hub-routes.mdx
  managed-services/iot-hub/api-cli/migrating-from-api-v1beta1.mdx
  managed-services/iot-hub/concepts.mdx
  managed-services/transactional-email/api-cli/send-emails-with-api.mdx
  managed-services/transactional-email/concepts.mdx
  managed-services/transactional-email/reference-content/smtp-configuration.mdx
Labels: type: maintenance, priority: low, status: doc review

#3934 docs(sem): weekly review
  identity-and-access-management/secret-manager/reference-content/data-encryption-with-secret-manager.mdx
Labels: type: maintenance

#3922 Mta 4938
  bare-metal/elastic-metal/how-to/create-server.mdx
  bare-metal/elastic-metal/quickstart.mdx
  environmental-footprint/environmental-footprint/additional-content/assets/scaleway-allocation-rules-cross-funct-it-equip.webp
  environmental-footprint/environmental-footprint/additional-content/assets/scaleway-allocation-rules-customer-it-equip.webp
  environmental-footprint/environmental-footprint/additional-content/assets/scaleway-allocation-rules-dc-techenv-manuf.webp
  environmental-footprint/environmental-footprint/additional-content/assets/scaleway-allocation-rules-dc-techenv.webp
  environmental-footprint/environmental-footprint/additional-content/assets/scaleway-allocation-rules-network.webp
  environmental-footprint/environmental-footprint/additional-content/assets/scaleway-allocation-rules-non-it-cross-funct.webp
  environmental-footprint/environmental-footprint/additional-content/assets/scaleway-env-footprint-co2eq-formula.webp
  environmental-footprint/environmental-footprint/additional-content/assets/scaleway-env-footprint-order-summary.webp
  environmental-footprint/environmental-footprint/additional-content/assets/scaleway-env-impact-estimation-az.webp
  environmental-footprint/environmental-footprint/additional-content/assets/scaleway-focus-on-cross-func-it-equipment.webp
  environmental-footprint/environmental-footprint/additional-content/assets/scaleway-leaves-rating-env-foot.webp
  environmental-footprint/environmental-footprint/additional-content/assets/scaleway-overall-env-footprint-calc.webp
  environmental-footprint/environmental-footprint/additional-content/assets/scaleway-select-a-server-env-foot.webp
  environmental-footprint/environmental-footprint/additional-content/environmental-footprint-calculator-estimation.mdx
  environmental-footprint/environmental-footprint/additional-content/environmental-footprint-calculator.mdx
  environmental-footprint/environmental-footprint/additional-content/index.mdx
  environmental-footprint/environmental-footprint/concepts.mdx
  environmental-footprint/environmental-footprint/how-to/assets/scaleway-env-foot-dashboard.webp
  environmental-footprint/environmental-footprint/how-to/assets/scaleway-env-footprint-order-summary.webp
  environmental-footprint/environmental-footprint/how-to/assets/scaleway-env-monthly-report-detailed.webp
  environmental-footprint/environmental-footprint/how-to/assets/scaleway-env-report-glossary.webp
  environmental-footprint/environmental-footprint/how-to/index.mdx
  environmental-footprint/environmental-footprint/how-to/track-monthly-footprint.mdx
  environmental-footprint/environmental-footprint/index.mdx
  environmental-footprint/index.mdx
  menu/navigation.json
Labels: type: new content, status: tech review, status: doc review

#3939 feat(changelog): edge-services-added-edge-services-is-now-in-general-ava 2024-11-04
  changelog/november2024/2024-11-04-edge-services-added-edge-services-is-now-in-general-ava.mdx
Labels: type: changelog

#3933 feat(tem): add fields
  managed-services/transactional-email/api-cli/webhook-events-payloads.mdx
Labels: type: maintenance, status: tech review, priority: medium, status: doc review

#3940 fix(bil): remove instance
  console/billing/additional-content/understanding-savings-plans.mdx
Labels: priority: high

#3856 feat(containers): mdbook tutorial
  macros/developer-tools/scaleway-configuration-file.mdx
  serverless/containers/how-to/monitor-container.mdx
  tutorials/deploy-mdbooks-serverless-containers/index.mdx
Labels: product: serverless

#3943 fix(nw): review docs
  network/load-balancer/reference-content/acls.mdx
  network/load-balancer/reference-content/http2-http3.mdx
  network/load-balancer/reference-content/kubernetes-load-balancer.mdx
  network/load-balancer/reference-content/sni-route-deprecation.mdx
  network/load-balancer/reference-content/ssl-bridging-offloading-passthrough.mdx
  network/public-gateways/concepts.mdx
Labels: type: maintenance

#3946 docs(srv): restructure jobs and containers creation pages MTA-5185
  menu/navigation.json
  serverless/containers/how-to/add-a-custom-domain-to-a-container.mdx
  serverless/containers/how-to/add-trigger-to-a-container.mdx
  serverless/containers/how-to/create-a-containers-namespace.mdx
  serverless/containers/how-to/create-auth-token-from-console.mdx
  serverless/containers/how-to/delete-a-container.mdx
  serverless/containers/how-to/deploy-a-container-from-external-container-registry.mdx
  serverless/containers/how-to/deploy-a-container-from-scaleway-container-registry.mdx
  serverless/containers/how-to/deploy-container.mdx
  serverless/containers/how-to/manage-a-container.mdx
  serverless/containers/how-to/modify-container-privacy.mdx
  serverless/containers/how-to/monitor-container.mdx
  serverless/containers/how-to/secure-a-container.mdx
  serverless/containers/quickstart.mdx
  serverless/containers/reference-content/containers-concurrency.mdx
  serverless/containers/reference-content/deploy-container.mdx
  serverless/jobs/how-to/create-job-from-external-registry.mdx
  serverless/jobs/how-to/create-job-from-scaleway-registry.mdx
  serverless/jobs/how-to/create-job.mdx
  serverless/jobs/how-to/delete-job.mdx
  serverless/jobs/how-to/manage-job-schedule.mdx
  serverless/jobs/how-to/monitor-job.mdx
  serverless/jobs/how-to/reference-secret-in-job.mdx
  serverless/jobs/how-to/run-job.mdx
  serverless/jobs/quickstart.mdx
  serverless/jobs/reference-content/deploy-job.mdx
  tutorials/run-python-flask-server-on-serverless-container/index.mdx
  tutorials/snapshot-instances-jobs/index.mdx
Labels: priority: low, status: doc review

#3945 feat(changelog): containers-added-serverless-network-metrics 2024-11-05
  changelog/november2024/2024-11-05-containers-added-serverless-network-metrics.mdx
Labels: type: changelog

#3944 feat(changelog): functions-added-serverless-network-metrics 2024-11-05
  changelog/november2024/2024-11-05-functions-added-serverless-network-metrics.mdx
Labels: type: changelog

#3948 fix(tutorials): update 2 tutos for DHCP mentions
  tutorials/load-overflow-proxmox-and-elastic-metal/index.mdx
  tutorials/vpc-public-gateway-autoconfiguration/assets/scaleway-create-pg.webp
  tutorials/vpc-public-gateway-autoconfiguration/assets/scaleway-create-pn.webp
  tutorials/vpc-public-gateway-autoconfiguration/assets/scaleway-vpc-attach-pgw-pn.webp
  tutorials/vpc-public-gateway-autoconfiguration/assets/scaleway-vpc-attach-resource.webp
  tutorials/vpc-public-gateway-autoconfiguration/assets/scaleway-vpc-create-pgw.webp
  tutorials/vpc-public-gateway-autoconfiguration/assets/scaleway-vpc-create-pn.webp
  tutorials/vpc-public-gateway-autoconfiguration/assets/scaleway-vpc-ssh-bastion.webp
  tutorials/vpc-public-gateway-autoconfiguration/assets/scaleway_add_instance.webp
  tutorials/vpc-public-gateway-autoconfiguration/assets/scaleway_vpc_add_instance.webp
  tutorials/vpc-public-gateway-autoconfiguration/assets/scaleway_vpc_dhcp_status.webp
  tutorials/vpc-public-gateway-autoconfiguration/assets/scaleway_vpc_public_gateway_attach_network.webp
  tutorials/vpc-public-gateway-autoconfiguration/assets/scaleway_vpc_public_gateway_list.webp
  tutorials/vpc-public-gateway-autoconfiguration/assets/scaleway_vpc_static_dhcp.webp
  tutorials/vpc-public-gateway-autoconfiguration/assets/scaleway_vpc_static_nat.webp
  tutorials/vpc-public-gateway-autoconfiguration/index.mdx
Labels: type: maintenance

#3953 docs(s3): remove mention of privatebeta for SSE-C
  storage/object/api-cli/enable-sse-c.mdx
Labels: priority: medium, status: doc review

#3941 feat(changelog): generative-apis-added-generative-apis-now-available-in- 2024-11-05
  changelog/november2024/2024-11-05-generative-apis-added-generative-apis-now-available-in-.mdx
Labels: do not merge, type: changelog

#3952 feat(changelog): object-storage-added-sse-c-encryption-is-now-in-ga-for- 2024-11-06
  changelog/november2024/2024-11-06-object-storage-added-sse-c-encryption-is-now-in-ga-for-.mdx
Labels: type: changelog

#3956 feat(changelog): edge-services-changed-edge-services-redirects-http-to-h 2024-11-07
  changelog/november2024/2024-11-07-edge-services-changed-edge-services-redirects-http-to-h.mdx
Labels: type: changelog

#3963 fix(s3): update SSE-C date
  storage/object/api-cli/enable-sse-c.mdx
Labels: priority: low, status: doc review

#3962 feat(changelog): containers-changed-incoming-change-for-dns-resolution 2024-11-12
  changelog/november2024/2024-11-12-containers-changed-incoming-change-for-dns-resolution.mdx
Labels: type: changelog, product: serverless

#3968 feat(iot): reviews 12/11
  managed-services/iot-hub/how-to/enable-auto-provisioning.mdx
  managed-services/iot-hub/reference-content/certificate.mdx
  managed-services/iot-hub/reference-content/devices.mdx
  managed-services/iot-hub/reference-content/hubs.mdx
  managed-services/iot-hub/reference-content/networks.mdx
  managed-services/iot-hub/reference-content/overview.mdx
  managed-services/iot-hub/reference-content/routes.mdx
  managed-services/transactional-email/reference-content/protecting-your-domain-reputation.mdx
Labels: type: maintenance, priority: low, status: doc review

#3971 chore(block-storage): weekly review
  storage/block/concepts.mdx
Labels: type: maintenance

#3951 docs(srv): add registry migration procedure MTA-5186
  menu/navigation.json
  serverless/containers/api-cli/migrate-external-image-to-scaleway-registry.mdx
  serverless/jobs/api-cli/index.mdx
  serverless/jobs/api-cli/migrate-external-image-to-scaleway-registry.mdx
Labels: product: serverless

#3972 fix(lb): doc review
  network/load-balancer/reference-content/sni-route-deprecation.mdx
Labels: type: maintenance

#3974 add(secret-manager): add copy from latest version info
  identity-and-access-management/secret-manager/how-to/create-version.mdx
  identity-and-access-management/secret-manager/quickstart.mdx
Labels: type: maintenance, priority: high

#3981 chore(gen): doc review + typos MTA-5259
  changelog/september2024/2024-09-19-containers-changed-containers-vcpu-and-ram-relation.mdx
  changelog/serverless/october2022/2022-10-13-containers-added-memory-cpu.mdx
  faq/serverless-containers.mdx
  faq/serverless-jobs.mdx
  serverless/containers/concepts.mdx
  serverless/functions/concepts.mdx
  serverless/jobs/concepts.mdx
  serverless/jobs/how-to/monitor-job.mdx
  serverless/jobs/reference-content/jobs-limitations.mdx
  serverless/sql-databases/concepts.mdx
  styles/Vocab/Scaleway/accept.txt
  tutorials/deploy-umami-on-serverless-containers/index.mdx
  tutorials/transform-bucket-images-triggers-functions-deploy/index.mdx
Labels: priority: low, status: doc review

#3955 docs(srv): split troubleshootings into multiple pages MTA-5198
  menu/navigation.json
  serverless/containers/troubleshooting/cannot-create-namespace.mdx
  serverless/containers/troubleshooting/cannot-deploy-image.mdx
  serverless/containers/troubleshooting/cannot-inject-secret-variable.mdx
  serverless/containers/troubleshooting/cannot-retrieve-external-image.mdx
  serverless/containers/troubleshooting/common-errors.mdx
  serverless/containers/troubleshooting/container-stopped-after-redeploy.mdx
  serverless/functions/troubleshooting/cannot-create-namespace.mdx
  serverless/functions/troubleshooting/cannot-inject-secret-variable.mdx
  serverless/functions/troubleshooting/common-errors.mdx
  serverless/functions/troubleshooting/function-in-error-state.mdx
  serverless/functions/troubleshooting/function-stopped-after-redeploy.mdx
  serverless/functions/troubleshooting/handler-not-found.mdx
  serverless/functions/troubleshooting/timeout-error.mdx
  serverless/functions/troubleshooting/too-many-retries.mdx
  serverless/jobs/troubleshooting/cannot-inject-secret-variable.mdx
  serverless/jobs/troubleshooting/cannot-retrieve-external-image.mdx
  serverless/jobs/troubleshooting/common-errors.mdx
  serverless/jobs/troubleshooting/job-in-error-state.mdx
Labels: status: tech review, priority: low, status: doc review, product: serverless

#3976 feat(k8s): add migration documentation
  tutorials/migrating-docker-workloads-to-kubernetes-kapsule/index.mdx
Labels: priority: low

#3988 docs(domains): weekly review
  network/domains-and-dns/how-to/test-dns-zones-with-dig.mdx
Labels: type: maintenance

#3991 docs(gen): harmonization of local and block storage casings
  compute/gpu/how-to/create-manage-gpu-instance.mdx
  compute/gpu/how-to/use-gpu-with-docker.mdx
  compute/gpu/how-to/use-scratch-storage-h100-instances.mdx
  compute/gpu/quickstart.mdx
  compute/instances/api-cli/migrating-instances.mdx
  compute/instances/concepts.mdx
  compute/instances/how-to/create-a-snapshot.mdx
  compute/instances/how-to/create-an-instance.mdx
  compute/instances/how-to/use-standby-mode.mdx
  compute/instances/reference-content/choosing-instance-type.mdx
  compute/instances/reference-content/identify-devices.mdx
  containers/kubernetes/concepts.mdx
  containers/kubernetes/reference-content/understanding-differences-kapsule-kosmos.mdx
  faq/billing.mdx
  faq/blockstorage.mdx
  faq/elastic-metal.mdx
  faq/instances.mdx
  faq/kubernetes.mdx
  faq/serverless-containers.mdx
  faq/serverless-functions.mdx
  identity-and-access-management/organizations-and-projects/additional-content/organization-quotas.mdx
  managed-databases/mongodb/concepts.mdx
  managed-databases/postgresql-and-mysql/api-cli/import-data-to-managed-postgresql-databases.mdx
  managed-databases/postgresql-and-mysql/concepts.mdx
  managed-databases/postgresql-and-mysql/how-to/change-volume-type.mdx
  managed-databases/postgresql-and-mysql/how-to/clone-a-database-instance.mdx
  managed-databases/postgresql-and-mysql/how-to/create-a-database.mdx
  managed-databases/postgresql-and-mysql/how-to/enable-autobackup.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-manual-backups.mdx
  managed-databases/postgresql-and-mysql/how-to/upgrade-a-database.mdx
  managed-databases/postgresql-and-mysql/quickstart.mdx
  serverless/sql-databases/api-cli/import-data-to-serverless-sql-databases.mdx
  storage/block/api-cli/managing-a-volume.mdx
  storage/block/quickstart.mdx
  storage/block/reference-content/differences-between-5kiops-volumes.mdx
  tutorials/configure-failover-proxmox/index.mdx
  tutorials/deploy-nextcloud-s3/index.mdx
  tutorials/glusterfs/index.mdx
Labels: type: maintenance, priority: low

#3993 fix(edge): add links
  network/load-balancer/concepts.mdx
  storage/object/reference-content/optimize-object-storage-performance.mdx
Labels: type: maintenance

#3992 fix(lb): review doc
  network/load-balancer/how-to/add-certificate.mdx
  network/load-balancer/how-to/assets/scaleway-cert-lets-encrypt.webp
  network/load-balancer/how-to/assets/scaleway-certificate-import.webp
  network/load-balancer/how-to/assets/scaleway-edit-frontend.webp
Labels: type: maintenance

#3753 fix(ipam): add doc for reserved IPs for EM
  faq/ipam.mdx
  network/ipam/concepts.mdx
  network/vpc/how-to/attach-resources-to-pn.mdx
Labels: type: maintenance, do not merge, status: doc review

#3982 docs(srv): merge create/manage/delete containers namespace MTA-5252
  menu/navigation.json
  serverless/containers/concepts.mdx
  serverless/containers/how-to/add-trigger-to-a-container.mdx
  serverless/containers/how-to/create-a-containers-namespace.mdx
  serverless/containers/how-to/create-auth-token-from-console.mdx
  serverless/containers/how-to/create-manage-delete-containers-namespace.mdx
  serverless/containers/how-to/delete-a-containers-namespace.mdx
  serverless/containers/how-to/deploy-container.mdx
  serverless/containers/how-to/manage-a-containers-namespace.mdx
  serverless/containers/how-to/secure-a-container.mdx
  serverless/containers/quickstart.mdx
  serverless/functions/concepts.mdx
  serverless/functions/how-to/add-trigger-to-a-function.mdx
  serverless/functions/how-to/create-a-function.mdx
  serverless/functions/how-to/create-a-functions-namespace.mdx
  serverless/functions/how-to/create-manage-delete-functions-namespace.mdx
  serverless/functions/how-to/delete-a-functions-namespace.mdx
  serverless/functions/how-to/manage-a-functions-namespace.mdx
  serverless/functions/how-to/package-function-dependencies-in-zip.mdx
  serverless/functions/how-to/secure-a-function.mdx
  serverless/functions/quickstart.mdx
  serverless/functions/reference-content/code-examples.mdx
  tutorials/run-nodejs-express-server-on-serverless-containers/index.mdx
  tutorials/run-python-flask-server-on-serverless-container/index.mdx
Labels: status: tech review, priority: low, status: doc review, product: serverless

#3983 fix(ins): migration sbs
  compute/instances/how-to/create-image-from-snapshot.mdx
  compute/instances/how-to/migrate-volumes-snapshots-to-sbs.mdx
Labels: status: tech review

#3998 fix(em): add info for reserved IP
  bare-metal/elastic-metal/how-to/use-private-networks.mdx
Labels: priority: high, status: doc review

#4003 feat(ins): add instance bandwidth overview
  compute/instances/how-to/create-a-block-volume.mdx
  compute/instances/how-to/create-an-instance.mdx
  compute/instances/how-to/manage-volumes.mdx
  compute/instances/reference-content/instances-bandwidth-overview.mdx
  menu/navigation.json
  storage/block/how-to/attach-a-volume.mdx
  storage/block/how-to/create-a-volume.mdx
Labels: status: tech review

#4005 fix(srv): replace snippet with link to dedicated doc
  faq/serverless-containers.mdx
Labels: priority: low

#4012 fix(edge): fix sentence
  network/edge-services/reference-content/ssl-tls-certificate.mdx
Labels: type: maintenance

#4008 fix(s3): update object storage troubleshooting H1
  storage/object/troubleshooting/low-performance.mdx
Labels: priority: medium, status: doc review

#4002 docs(srv): update doc on container concurrency MTA-5283
  serverless/containers/concepts.mdx
  serverless/containers/reference-content/containers-concurrency.mdx
Labels: status: tech review, priority: low, status: doc review, product: serverless

#3695 fix(red): HA
  faq/databases-for-redis.mdx
  managed-databases/redis/concepts.mdx
  managed-databases/redis/how-to/create-a-database-for-redis.mdx
  managed-databases/redis/quickstart.mdx
  managed-databases/redis/reference-content/ensuring-data-persistence.mdx
Labels: type: new content, status: tech review, priority: medium, status: doc review

#4015 docs(gen): file system harmonization and general clean up
  ai-data/managed-inference/quickstart.mdx
  bare-metal/elastic-metal/how-to/configure-disk-partitions.mdx
  bare-metal/elastic-metal/how-to/kubernetes-on-riscv.mdx
  compute/instances/reference-content/identify-devices.mdx
  compute/instances/reference-content/instances-bandwidth-overview.mdx
  compute/instances/troubleshooting/fix-unreachable-focal-with-two-public-ips.mdx
  compute/instances/troubleshooting/fix-unreachable-noble-after-reboot.mdx
  compute/instances/troubleshooting/reboot-from-faulty-kernel.mdx
  console/account/how-to/resolve-abuse.mdx
  console/account/how-to/use-2fa.mdx
  console/billing/api-cli/retrieve-monthly-consumption.mdx
  containers/kubernetes/api-cli/cluster-monitoring.mdx
  containers/kubernetes/concepts.mdx
  containers/kubernetes/how-to/use-scratch-storage-h100.mdx
  containers/kubernetes/reference-content/kubernetes-load-balancer.mdx
  containers/kubernetes/reference-content/secure-cluster-with-private-network.mdx
  dedibox-console/account/how-to/resolve-abuse.mdx
  dedibox-console/classic-hosting/how-to/manage-postgresql-database-adminer.mdx
  dedibox/dedicated-servers/how-to/install-a-server.mdx
  faq/messaging-and-queuing.mdx
  identity-and-access-management/organizations-and-projects/how-to/use-organizations.mdx
  identity-and-access-management/secret-manager/reference-content/data-encryption-with-secret-manager.mdx
  macros/network/lb-create-backend-2-traffic-mgnt.mdx
  managed-databases/postgresql-and-mysql/api-cli/pg-audit.mdx
  managed-databases/postgresql-and-mysql/how-to/connect-database-private-network.mdx
  managed-databases/postgresql-and-mysql/how-to/monitor-databases-cockpit.mdx
  managed-databases/redis/how-to/connect-to-redis-database-instance.mdx
  managed-databases/redis/how-to/create-a-database-for-redis.mdx
  managed-services/transactional-email/reference-content/smtp-configuration.mdx
  network/load-balancer/api-cli/configuring-balancing-rules.mdx
  network/vpc/troubleshooting/private-dns-dhcp-not-working.mdx
  serverless/messaging/reference-content/limitations.mdx
  serverless/sql-databases/how-to/connect-to-a-database.mdx
  serverless/sql-databases/reference-content/supported-postgresql-extensions.mdx
  storage/block/api-cli/managing-a-volume.mdx
  storage/block/quickstart.mdx
  tutorials/backup-dedicated-server-s3-duplicity/index.mdx
  tutorials/building-ai-application-function-calling/index.mdx
  tutorials/cilicon-self-hosted-ci-on-apple-silicon/index.mdx
  tutorials/configure-plex-s3/index.mdx
  tutorials/create-serverless-scraping/index.mdx
  tutorials/deploy-hasura-engine-database-postgresql/index.mdx
  tutorials/encrypt-volumes/index.mdx
  tutorials/first-steps-linux-command-line/index.mdx
  tutorials/glusterfs/index.mdx
  tutorials/large-messages/index.mdx
  tutorials/manage-k8s-logging-loki/index.mdx
  tutorials/monitor-k8s-grafana/index.mdx
  tutorials/nextjs-app-serverless-functions-sqldb/index.mdx
  tutorials/processing-images-structured-outputs-pixtral/index.mdx
  tutorials/prometheus-monitoring-grafana-dashboard/index.mdx
  tutorials/remote-desktop-with-xrdp/index.mdx
  tutorials/run-manage-linux-vm-on-apple-silicon-tart/index.mdx
  tutorials/setup-jupyter-notebook/index.mdx
  tutorials/snapshot-instances-jobs/index.mdx
  tutorials/stop-outgoing-spam/index.mdx
Labels: type: maintenance, priority: low

#4016 feat(iam): note logs
  identity-and-access-management/iam/how-to/invite-user-to-orga.mdx
  identity-and-access-management/iam/how-to/view-logs.mdx
Labels: type: maintenance, status: tech review, priority: low, status: doc review

#4014 fix(nw): add guidance for resource naming
  macros/vpc/network-resource-naming.mdx
  macros/vpc/pn-naming.mdx
  network/public-gateways/how-to/create-a-public-gateway.mdx
  network/public-gateways/quickstart.mdx
  network/vpc/how-to/create-vpc.mdx
Labels: type: maintenance

#4019 feat(changelog): functions-added-ipv6-for-functions 2024-11-21
  changelog/november2024/2024-11-21-functions-added-ipv6-for-functions.mdx
Labels: type: changelog

#4018 feat(changelog): containers-added-ipv6-for-containers 2024-11-21
  changelog/november2024/2024-11-21-containers-added-ipv6-for-containers.mdx
Labels: type: changelog

#4017 feat(changelog): transactional-email-added-integration-with-zapier 2024-11-21
  changelog/november2024/2024-11-21-transactional-email-added-integration-with-zapier.mdx
Labels: type: changelog

#4033 feat(changelog): containers-added-dns-query-rate-limiting-update 2024-11-26
  changelog/november2024/2024-11-26-containers-added-dns-query-rate-limiting-update.mdx
Labels: type: changelog

#4031 feat(serverless): add comparaison table
  macros/serverless/difference-jobs-functions-containers.mdx
Labels: product: serverless

#4026 fix(tutorials): batch one
  tutorials/deploy-hasura-engine-database-postgresql/index.mdx
  tutorials/get-started-crossplane-kubernetes/index.mdx
  tutorials/upgrade-managed-postgresql-database/index.mdx
Labels: type: maintenance, status: doc review

#4009 feat(ipam): add doc about IPv6
  network/ipam/reference-content/ipv6.mdx
Labels: type: new content, status: doc review

#4025 feat(changelog): jobs-fixed-ephemeral-storage-min-value-decreased 2024-11-25
  changelog/november2024/2024-11-25-jobs-fixed-ephemeral-storage-min-value-decreased.mdx
Labels: type: changelog, product: serverless

#4029 docs(cpt): add pricing plans info
  faq/cockpit.mdx
  macros/cockpit/plan-deprecation.mdx
  menu/navigation.json
  observability/cockpit/concepts.mdx
  observability/cockpit/how-to/change-data-retention.mdx
  observability/cockpit/reference-content/cockpit-limitations.mdx
Labels: type: new content

#4023 docs(sdb): add cross links between db migration procedures MTA-5240
  managed-databases/postgresql-and-mysql/api-cli/import-data-to-managed-postgresql-databases.mdx
  serverless/sql-databases/api-cli/import-data-to-serverless-sql-databases.mdx
  tutorials/migrate-databases-instance/index.mdx
Labels: status: tech review, priority: low, status: doc review

#3752 feat(ipam): attach MAC address to reserved IP
  faq/ipam.mdx
  faq/vpc.mdx
  network/ipam/how-to/reserve-ip.mdx
  network/vpc/reference-content/vpc-migration.mdx
  network/vpc/troubleshooting/resource-attached-no-ip.mdx
Labels: type: new content, do not merge, status: doc review

#4028 feat(labs): remove pages
  labs/index.mdx
  labs/ipfs-naming/api-cli/index.mdx
  labs/ipfs-naming/api-cli/ipfs-manage-keys.mdx
  labs/ipfs-naming/api-cli/names-operations.mdx
  labs/ipfs-naming/concepts.mdx
  labs/ipfs-naming/how-to/assets/choose-description-naming.webp
  labs/ipfs-naming/how-to/assets/choose-key-type-naming.webp
  labs/ipfs-naming/how-to/assets/choose-region-naming.webp
  labs/ipfs-naming/how-to/assets/create-ipfs-naming.webp
  labs/ipfs-naming/how-to/assets/import-key-naming.webp
  labs/ipfs-naming/how-to/create-key.mdx
  labs/ipfs-naming/how-to/delete-key.mdx
  labs/ipfs-naming/how-to/import-key.mdx
  labs/ipfs-naming/how-to/index.mdx
  labs/ipfs-naming/how-to/update-name.mdx
  labs/ipfs-naming/index.mdx
  labs/ipfs-naming/quickstart.mdx
  labs/ipfs-pinning/api-cli/assets/add-service-ipfs-desktop.webp
  labs/ipfs-pinning/api-cli/assets/add-service-to-ipfs-desktop-zoom.webp
  labs/ipfs-pinning/api-cli/assets/set-pinning-service.webp
  labs/ipfs-pinning/api-cli/getting-started-with-ipfs-cli.mdx
  labs/ipfs-pinning/api-cli/index.mdx
  labs/ipfs-pinning/api-cli/ipfs-cli.mdx
  labs/ipfs-pinning/api-cli/ipfs-get-content.mdx
  labs/ipfs-pinning/api-cli/pin-operations.mdx
  labs/ipfs-pinning/api-cli/volumes-operations.mdx
  labs/ipfs-pinning/concepts.mdx
  labs/ipfs-pinning/how-to/add-pin.mdx
  labs/ipfs-pinning/how-to/assets/scaleway-choose-name-ipfs.webp
  labs/ipfs-pinning/how-to/assets/scaleway-choose-region-ipfs.webp
  labs/ipfs-pinning/how-to/assets/scaleway-create-volume-ipfs.webp
  labs/ipfs-pinning/how-to/create-volume.mdx
  labs/ipfs-pinning/how-to/delete-pin.mdx
  labs/ipfs-pinning/how-to/delete-volume.mdx
  labs/ipfs-pinning/how-to/index.mdx
  labs/ipfs-pinning/index.mdx
  labs/ipfs-pinning/quickstart.mdx
  labs/ipfs-pinning/reference-content/index.mdx
  labs/ipfs-pinning/reference-content/install-ipfs-desktop.mdx
Labels: type: maintenance, do not merge, priority: medium

#3970 feat(audit-trail): add audit trail documentation
  console/account/reference-content/products-availability.mdx
  faq/audit-trail.mdx
  identity-and-access-management/audit-trail/concepts.mdx
  identity-and-access-management/audit-trail/how-to/configure-audit-trail-permissions.mdx
  identity-and-access-management/audit-trail/how-to/index.mdx
  identity-and-access-management/audit-trail/how-to/use-audit-trail.mdx
  identity-and-access-management/audit-trail/index.mdx
  identity-and-access-management/audit-trail/quickstart.mdx
  identity-and-access-management/audit-trail/reference-content/resource-integration-with-adt.mdx
  identity-and-access-management/audit-trail/troubleshooting/cannot-see-events.mdx
  identity-and-access-management/iam/reference-content/permission-sets.mdx
  menu/navigation.json
Labels: type: new content, status: doc review

#4051 docs(add): add icons
  faq/audit-trail.mdx
  identity-and-access-management/audit-trail/index.mdx
Labels: priority: high

#4050 feat(changelog): secret-manager-added-audit-trail-is-in-public-beta-with 2024-11-28
  changelog/november2024/2024-11-28-secret-manager-added-audit-trail-is-in-public-beta-with.mdx
Labels: type: changelog

#4049 feat(changelog): managed-inference-added-new-models-support-nemotron-and 2024-11-28
  changelog/november2024/2024-11-28-managed-inference-added-new-models-support-nemotron-and.mdx
Labels: type: changelog

#4052 fix(pgw): add xl offer
  faq/public-gateways.mdx
Labels: status: doc review

#4042 docs(gen): content harmonization
  bare-metal/dedibox/concepts.mdx
  bare-metal/dedibox/how-to/order-dedibox.mdx
  bare-metal/dedibox/quickstart.mdx
  bare-metal/dedibox/reference-content/dedibox-datasheet.mdx
  bare-metal/elastic-metal/how-to/configure-flexible-ip.mdx
  bare-metal/elastic-metal/troubleshooting/enable-ssh-virtualization-distribution.mdx
  console/account/reference-content/scaleway-network-information.mdx
  containers/kubernetes/how-to/edit-kosmos-cluster.mdx
  dedibox-network/domains/quickstart.mdx
  dedibox-network/ip-failover/concepts.mdx
  dedibox-network/ip-failover/how-to/configure-network-virtual-machine.mdx
  dedibox-network/ip-failover/index.mdx
  dedibox-network/ip-failover/quickstart.mdx
  dedibox-network/network/how-to/configure-network-netplan.mdx
  dedibox-network/rpn/concepts.mdx
  dedibox-network/rpn/how-to/use-rpn-san-proxmox.mdx
  dedibox/dedicated-servers/concepts.mdx
  dedibox/dedicated-servers/how-to/order-a-server.mdx
  dedibox/dedicated-servers/quickstart.mdx
  environmental-footprint/environmental-footprint/additional-content/environmental-footprint-calculator-estimation.mdx
  environmental-footprint/environmental-footprint/additional-content/environmental-footprint-calculator.mdx
  environmental-footprint/environmental-footprint/concepts.mdx
  environmental-footprint/environmental-footprint/how-to/track-monthly-footprint.mdx
  faq/databases-for-postgresql-and-mysql.mdx
  faq/dedibox.mdx
  faq/loadbalancer.mdx
  faq/objectstorage.mdx
  network/load-balancer/reference-content/public-private-accessibility.mdx
  tutorials/create-esxi-cluster-dedibox/index.mdx
  tutorials/install-cassandra/index.mdx
  tutorials/load-overflow-proxmox-and-elastic-metal/index.mdx
  tutorials/setup-elastic-metal-proxmox-cluster-with-private-networks/index.mdx
  tutorials/stop-outgoing-spam/index.mdx
Labels: type: maintenance, priority: low

#4041 chore(gen): doc review MTA-5305
  console/account/troubleshooting/cannot-erase-account.mdx
  console/account/troubleshooting/cannot-log-into-my-account.mdx
  developer-tools/scaleway-sdk/go-sdk.mdx
  developer-tools/scaleway-sdk/js-sdk.mdx
  developer-tools/scaleway-sdk/python-sdk.mdx
  developer-tools/terraform/quickstart.mdx
  serverless/containers/reference-content/use-cases.mdx
  serverless/functions/reference-content/use-cases.mdx
  serverless/jobs/how-to/run-job.mdx
  serverless/jobs/how-to/stop-job.mdx
  serverless/jobs/quickstart.mdx
  storage/object/api-cli/combining-iam-and-object-storage.mdx
  storage/object/api-cli/create-bucket-policy.mdx
  storage/object/concepts.mdx
  storage/object/troubleshooting/lost-bucket-access-bucket-policy.mdx
  tutorials/strapi-app-serverless-containers-sqldb/index.mdx
Labels: priority: low, status: doc review

#4058 chore(gen): fix 200s with missing anchors
  compute/gpu/how-to/use-gpu-with-docker.mdx
  compute/instances/how-to/manage-volumes.mdx
  containers/kubernetes/quickstart.mdx
  dedibox-network/dns/how-to/configure-secondary-dns.mdx
  dedibox/dedicated-servers/how-to/get-started-with-server.mdx
  dedibox/dedicated-servers/how-to/use-rescue-mode.mdx
  environmental-footprint/environmental-footprint/additional-content/environmental-footprint-calculator.mdx
  faq/objectstorage.mdx
  managed-services/iot-hub/quickstart.mdx
  serverless/containers/api-cli/migrate-external-image-to-scaleway-registry.mdx
  serverless/containers/troubleshooting/cannot-deploy-image.mdx
  serverless/functions/api-cli/deploy-function-api.mdx
  serverless/functions/how-to/package-function-dependencies-in-zip.mdx
  serverless/jobs/api-cli/migrate-external-image-to-scaleway-registry.mdx
  serverless/jobs/troubleshooting/job-in-error-state.mdx
  serverless/messaging/quickstart.mdx
  serverless/messaging/reference-content/sns-overview.mdx
  storage/block/concepts.mdx
  storage/block/how-to/increase-block-volume.mdx
  storage/block/quickstart.mdx
  storage/object/api-cli/bucket-policy.mdx
  storage/object/api-cli/bucket-website-api.mdx
  storage/object/api-cli/create-bucket-policy.mdx
  storage/object/api-cli/lifecycle-rules-api.mdx
  storage/object/api-cli/object-lock.mdx
  storage/object/api-cli/share-buckets-read-only.mdx
  storage/object/api-cli/using-api-call-list.mdx
  storage/object/how-to/restore-an-object-from-glacier.mdx
  storage/object/index.mdx
  storage/object/reference-content/optimize-object-storage-performance.mdx
  storage/object/troubleshooting/cannot-restore-glacier.mdx
  tutorials/configure-dvc-with-object-storage/index.mdx
  tutorials/configure-ipv6-virtual-machine-esxi/index.mdx
  tutorials/create-serverless-scraping/index.mdx
  tutorials/focalboard-project-management/index.mdx
  tutorials/get-started-deploy-kapsule/index.mdx
  tutorials/get-started-python/index.mdx
  tutorials/large-messages/index.mdx
  tutorials/manage-zigbee-devices-with-iot/index.mdx
  tutorials/matomo-analytics/index.mdx
  tutorials/object-storage-s3fs/index.mdx
  tutorials/protect-server-using-crowdsec/index.mdx
  tutorials/python-for-loops/index.mdx
  tutorials/python-lists-dicts/index.mdx
  tutorials/s3cmd/index.mdx
  tutorials/strapi-app-serverless-containers-sqldb/index.mdx
  tutorials/transform-bucket-images-triggers-functions-deploy/index.mdx
  tutorials/upgrade-managed-postgresql-database/index.mdx
  tutorials/wordpress-lemp-stack-focal/index.mdx
  tutorials/wordpress-lemp-stack-ubuntu-jammy-jellyfish-22-04/index.mdx
  tutorials/wordpress-lemp-stack/index.mdx
  tutorials/zabbix-monitoring/index.mdx
Labels: type: maintenance, priority: low
