Repository scaleway/docs-content, pull requests merged in 2024-08, with the labels that each got.

#3554 fix(ins): fix troubleshooting
  compute/instances/troubleshooting/cant-connect-ssh.mdx
  menu/navigation.json
Labels: type: maintenance

#3462 docs(DLB): Data Labs initial doc MTA-4842
  faq/data-lab.mdx
  managed-services/data-lab/concepts.mdx
  managed-services/data-lab/how-to/connect-to-data-lab.mdx
  managed-services/data-lab/how-to/create-data-lab.mdx
  managed-services/data-lab/how-to/index.mdx
  managed-services/data-lab/how-to/manage-delete-data-lab.mdx
  managed-services/data-lab/index.mdx
  managed-services/data-lab/quickstart.mdx
  menu/navigation.json
Labels: priority: high, status: doc review

#3555 fix(DLB): missing webp icon
  faq/assets/distributed-data-lab.webp
  faq/data-lab.mdx
  managed-services/data-lab/how-to/manage-delete-data-lab.mdx
Labels: priority: critical

#3553 fix(tem): updates
  managed-services/transactional-email/reference-content/tem-capabilities-and-limits.mdx
Labels: type: maintenance, priority: low, status: doc review

#3556 docs(cpt): fix category
  tutorials/use-cockpit-with-terraform/index.mdx
Labels: type: bug

#3558 feat(changelog): public-gateways-added-new-pgw-l-offer 2024-08-02
  changelog/august2024/2024-08-02-public-gateways-added-new-pgw-l-offer.mdx
Labels: type: changelog

#3557 feat(changelog): postgresql-and-mysql-added-encryption-at-rest-available 2024-08-02
  changelog/august2024/2024-08-02-postgresql-and-mysql-added-encryption-at-rest-available.mdx
Labels: type: changelog

#3559 docs(cpt): update title to make it clearer
  observability/cockpit/how-to/configure-alerts-for-scw-resources.mdx
Labels: type: maintenance

#3551 fix(rdb): apply maintenance changes
  managed-databases/postgresql-and-mysql/how-to/apply-maintenance.mdx
Labels: type: maintenance, do not merge, status: tech review, priority: low, status: doc review

#3560 feat(changelog): add entry for metrics depreciation
  changelog/august2024/2024-08-05-containers-deprecate-requests-total-metric.mdx
  changelog/august2024/2024-08-05-functions-deprecate-requests-total-metric.mdx
Labels: type: changelog

#3565 feat(changelog): jobs-added-metrics-available-on-serverless-jobs 2024-08-05
  changelog/august2024/2024-08-05-jobs-added-metrics-available-on-serverless-jobs.mdx
Labels: type: changelog

#3566 feat(changelog): containers-added-serverless-containers-more-cpu-and-ram 2024-08-05
  changelog/august2024/2024-08-05-containers-added-serverless-containers-more-cpu-and-ram.mdx
Labels: type: changelog

#3563 fix(gen): reviews MTA-4925
  console/account/how-to/open-a-support-ticket.mdx
  faq/containerregistry.mdx
  faq/databases-for-postgresql-and-mysql.mdx
  faq/databases-for-redis.mdx
  faq/serverless-jobs.mdx
  managed-databases/postgresql-and-mysql/how-to/add-users.mdx
  managed-databases/postgresql-and-mysql/how-to/create-a-database.mdx
  managed-databases/redis/how-to/delete-a-database-for-redis.mdx
  serverless/functions/how-to/create-a-functions-namespace.mdx
  serverless/functions/how-to/manage-a-functions-namespace.mdx
  serverless/functions/reference-content/difference-jobs-functions-containers.mdx
  serverless/functions/troubleshooting/common-errors.mdx
  storage/object/api-cli/installing-rclone.mdx
  storage/object/api-cli/using-api-call-list.mdx
  storage/object/how-to/use-bucket-website.mdx
  storage/object/videos.mdx
Labels: type: maintenance, priority: low, status: doc review

#3562 fix(rbd): tuto errors
  managed-databases/postgresql-and-mysql/api-cli/import-data-to-managed-postgresql-databases.mdx
Labels: type: maintenance, status: tech review, priority: medium

#3569 chore(gen): remove base branch line
  .github/workflows/markdown-link-checker.yml
Labels: type: maintenance, priority: low

#3567 docs(cpt): faq review
  faq/cockpit.mdx
Labels: type: maintenance

#3573 fix(aps): update remote desktop connection documentation
  bare-metal/apple-silicon/how-to/access-remote-desktop-mac-mini.mdx
  bare-metal/apple-silicon/how-to/assets/scaleway-apple-silicon-remote-desktop.webp
Labels: type: maintenance

#3578 feat(changelog): console-fixed-quota-consumption-is-now-displayed-at-org 2024-08-07
  changelog/august2024/2024-08-07-console-fixed-quota-consumption-is-now-displayed-at-org.mdx
Labels: type: changelog

#3577 fix(bil): sp note
  console/billing/additional-content/understanding-savings-plans.mdx
  console/billing/how-to/purchase-savings-plan.mdx
Labels: type: maintenance, priority: medium, status: doc review

#3572 fix(tem): webhooks console
  managed-services/transactional-email/how-to/create-webhooks.mdx
  menu/navigation.json
Labels: type: new content, do not merge, status: ready, priority: medium

#3579 fix(docs): review docs
  network/load-balancer/how-to/create-manage-acls.mdx
  network/vpc/troubleshooting/pn-name.mdx
  serverless/messaging/concepts.mdx
  serverless/messaging/how-to/assets/scaleway-create-queue.webp
  serverless/messaging/how-to/create-credentials.mdx
  serverless/messaging/how-to/create-manage-queues.mdx
  serverless/messaging/how-to/deactivate-delete-messaging.mdx
  serverless/messaging/how-to/get-started.mdx
  serverless/messaging/how-to/manage-credentials.mdx
  serverless/messaging/reference-content/sns-support.mdx
Labels: type: maintenance

#3585 fix(ins): update doc security groups
  compute/instances/how-to/use-security-groups.mdx
Labels: status: doc review

#3576 feat(doc): publish documentation guidelines
  assets/scaleway-console-dashboard.webp
  assets/scaleway-console-side-menu.webp
  assets/scaleway-creation-wizard.webp
  assets/scaleway-instances-creation-page.webp
  assets/scaleway-org-dropdown.webp
  assets/scaleway-screenshot-annotation.webp
  guidelines.mdx
Labels: type: new content, status: doc review

#3574 feat(ins): added volumes to sbs migration documentation
  compute/instances/how-to/migrate-volumes-snapshots-to-sbs.mdx
  menu/navigation.json
Labels: do not merge, status: tech review, status: doc review

#3586 chore(gen): docs content review
  bare-metal/elastic-metal/concepts.mdx
  bare-metal/elastic-metal/how-to/create-server.mdx
  compute/instances/concepts.mdx
  compute/instances/reference-content/choosing-instance-type.mdx
  compute/instances/reference-content/manual-configuration-private-ips.mdx
  compute/instances/reference-content/preventing-outgoing-ddos.mdx
  compute/instances/reference-content/understanding-differences-x86-arm.mdx
  compute/instances/reference-content/understanding-instance-pricing.mdx
  containers/kubernetes/how-to/access-kubernetes-dashboard.mdx
  containers/kubernetes/how-to/monitor-cluster.mdx
  dedibox-console/account/how-to/create-a-dedibox-account.mdx
  dedibox-console/account/how-to/outsource-failover-ip.mdx
  dedibox-console/classic-hosting/how-to/change-ftp-account-password.mdx
  dedibox-console/classic-hosting/how-to/configure-outlook.mdx
  dedibox-console/classic-hosting/how-to/retrieve-headers-of-email.mdx
  dedibox-console/cpanel-hosting/reference-content.mdx
  dedibox-network/dns/how-to/add-dns-delegation.mdx
  dedibox-network/ip-failover/how-to/configure-multiip-virtualmac.mdx
  dedibox-network/ipv6/how-to/create-subnet.mdx
  dedibox-network/network/how-to/subscribe-to-jmrp.mdx
  dedibox-network/rpn/how-to/connect-rpn-san-windows.mdx
  dedibox-network/rpn/how-to/connect-rpn-san.mdx
  dedibox-network/rpn/how-to/use-rpn-san-esxi-v7.mdx
  dedibox-network/rpn/how-to/use-rpn-san-esxi.mdx
  dedibox-network/rpn/how-to/use-rpn-vpn.mdx
  managed-services/webhosting/how-to/order-dedicated-ip.mdx
  managed-services/webhosting/reference-content/cpanel-reference-content.mdx
Labels: type: maintenance, priority: low, status: doc review

#3583 feat(containers): update limits from recent api changes
  serverless/containers/reference-content/containers-limitations.mdx
Labels: do not merge

#3588 fix(ins): fix broken link
  compute/instances/how-to/migrate-volumes-snapshots-to-sbs.mdx
Labels: type: maintenance

#3589 fix(bil): reviews 13/08 MTA-4944
  console/account/concepts.mdx
  console/billing/concepts.mdx
  faq/billing.mdx
  managed-databases/postgresql-and-mysql/how-to/add-a-database.mdx
  managed-databases/postgresql-and-mysql/how-to/delete-db.mdx
  serverless/containers/how-to/deploy-a-container-from-external-container-registry.mdx
  serverless/containers/how-to/deploy-a-container-from-scaleway-container-registry.mdx
  serverless/containers/how-to/manage-a-container.mdx
  serverless/containers/how-to/secure-a-container.mdx
  serverless/containers/quickstart.mdx
  serverless/functions/how-to/secure-a-function.mdx
  serverless/sql-databases/how-to/create-a-database.mdx
  serverless/sql-databases/reference-content/known-differences.mdx
  serverless/sql-databases/reference-content/serverless-sql-databases-overview.mdx
  serverless/sql-databases/troubleshooting/connection-errors.mdx
  serverless/sql-databases/troubleshooting/failing-backup-restore.mdx
Labels: type: maintenance, priority: low, status: doc review

#3606 feat(domains): weekly review
  network/domains-and-dns/how-to/add-external-domain.mdx
  network/domains-and-dns/how-to/configure-autorenew.mdx
  network/domains-and-dns/how-to/configure-dns-zones.mdx
  network/domains-and-dns/how-to/manage-external-domain.mdx
  network/domains-and-dns/how-to/manage-nameservers-internal-domain.mdx
  network/domains-and-dns/how-to/register-internal-domain.mdx
  network/domains-and-dns/how-to/unlock-internal-domain.mdx
Labels: type: maintenance

#3607 fix(gen): reviews 19/08
  console/billing/how-to/add-billing-contact.mdx
  console/billing/how-to/add-payment-method.mdx
  console/billing/how-to/change-billing-information.mdx
  console/billing/how-to/change-payment-method.mdx
  console/billing/how-to/download-an-invoice.mdx
  console/billing/how-to/redeem-voucher-code.mdx
  console/billing/how-to/use-billing-alerts.mdx
  containers/container-registry/concepts.mdx
Labels: type: maintenance, priority: low, status: doc review

#3605 fix(guidelines): fix typo
  guidelines.mdx
Labels: status: doc review

#3610 docs(srv): update monitor job doc MTA-4928
  serverless/jobs/how-to/monitor-job.mdx
Labels: priority: low, status: doc review

#3600 feat(wbh): protected hosting
  managed-services/webhosting/concepts.mdx
  managed-services/webhosting/how-to/protect-webhosting.mdx
  menu/navigation.json
Labels: type: new content, priority: low

#3608 docs(dvt): add variables precedence rule to doc MTA-4901
  developer-tools/scaleway-cli/reference-content/environment-variables.mdx
  developer-tools/scaleway-sdk/reference-content/environment-variables.mdx
  developer-tools/terraform/reference-content/environment-variables.mdx
Labels: priority: low, status: doc review

#3603 docs(s3): update aw cli v2 documentation MTA-4911
  storage/object/api-cli/object-storage-aws-cli.mdx
Labels: status: tech review, priority: low, status: doc review

#3614 fix(tutorials): validation schedule
  tutorials/create-deploy-staging-site-cpanel/index.mdx
  tutorials/deploy-big-blue-button/index.mdx
  tutorials/easydeploy-argocd/index.mdx
  tutorials/easydeploy-gitlab-server/index.mdx
  tutorials/easydeploy-grafana/index.mdx
  tutorials/easydeploy-vault/index.mdx
  tutorials/getting-started-with-kops-on-scaleway/index.mdx
  tutorials/install-cockroachdb-scaleway-instances/index.mdx
  tutorials/install-golang-ubuntu-bionic/index.mdx
  tutorials/install-php-composer/index.mdx
  tutorials/installation-jekyll/index.mdx
  tutorials/jitsi-debian/index.mdx
  tutorials/jitsi-ubuntu-bionic/index.mdx
  tutorials/matomo-analytics/index.mdx
  tutorials/minikube-elastic-metal/index.mdx
  tutorials/proxmox-softraid/index.mdx
  tutorials/run-messaging-platform-with-rocketchat/index.mdx
  tutorials/run-nodejs-express-server-on-serverless-containers/index.mdx
  tutorials/run-python-flask-server-on-serverless-container/index.mdx
  tutorials/setup-ampere-ai-framework-arm-instances/index.mdx
  tutorials/stop-outgoing-spam/index.mdx
  tutorials/transform-bucket-images-triggers-functions-set-up/index.mdx
Labels: priority: low, status: doc review

#3617 docs(apple-silicon): removed space
  faq/apple-silicon.mdx
Labels: type: maintenance

#3515 feat(k8s): add documentation for etcd quotas
  containers/kubernetes/reference-content/kubernetes-control-plane-offers.mdx
Labels: do not merge, status: ready

#3620 fix(contribute): add links to guidelines
  contribute.mdx
Labels: status: doc review

#3623 fix(ins): remove outdated image "arch linux" from list
  compute/instances/reference-content/images-and-instantapps.mdx
Labels: type: maintenance, priority: critical

#3622 fix(lb): resize doc
  menu/navigation.json
  network/load-balancer/how-to/assets/scaleway-resize-lb.webp
  network/load-balancer/how-to/resize-lb.mdx
Labels: type: new content, status: doc review

#3629 fix(ins): fix broken symlink in doc
  compute/instances/troubleshooting/fix-unreachable-focal-with-two-public-ips.mdx
Labels: status: doc review

#3628 feat(changelog): managed-inference-added-chat-and-embedding-apis-now-ret 2024-08-26
  changelog/august2024/2024-08-26-managed-inference-added-chat-and-embedding-apis-now-ret.mdx
Labels: type: changelog

#3626 chore(gen): docs content review 2024-08-26
  compute/instances/api-cli/creating-managing-instances-with-cliv2.mdx
  compute/instances/api-cli/increasing-volume-size.mdx
  compute/instances/api-cli/migrating-instances.mdx
  compute/instances/api-cli/snapshot-import-export-feature.mdx
  compute/instances/how-to/configure-reverse-dns.mdx
  compute/instances/how-to/create-image-from-snapshot.mdx
  compute/instances/how-to/delete-instance.mdx
  compute/instances/how-to/migrate-instances.mdx
  compute/instances/how-to/power-off-instance.mdx
  compute/instances/how-to/use-boot-modes.mdx
  compute/instances/how-to/use-flexips.mdx
  compute/instances/how-to/use-placement-groups.mdx
  compute/instances/how-to/use-private-networks.mdx
  compute/instances/how-to/use-security-groups.mdx
  compute/instances/how-to/use-serial-console.mdx
  compute/instances/how-to/use-standby-mode.mdx
  compute/instances/reference-content/instances-datasheet.mdx
  compute/instances/reference-content/production-optimized.mdx
  compute/instances/troubleshooting/bootscript-eol.mdx
  compute/instances/troubleshooting/change-rescue-mode.mdx
  console/account/how-to/resolve-abuse.mdx
  containers/kubernetes/how-to/delete-cluster.mdx
  containers/kubernetes/how-to/deploy-image-from-container-registry.mdx
  containers/kubernetes/how-to/deploy-ingress-controller.mdx
  dedibox-network/domains/concepts.mdx
  dedibox-network/ip-failover/concepts.mdx
  dedibox-network/ip-failover/how-to/create-virtual-mac.mdx
  dedibox-network/ipv6/concepts.mdx
  dedibox-network/ipv6/quickstart.mdx
  dedibox-network/network/how-to/configure-network-netplan.mdx
  dedibox-network/network/reference-content/anti-ddos.mdx
  dedibox-network/network/troubleshooting.mdx
  dedibox-network/rpn/concepts.mdx
  dedibox-network/rpn/how-to/configure-jumboframes.mdx
  dedibox-network/rpn/how-to/configure-rpnv1-gateway.mdx
  dedibox-network/rpn/how-to/configure-rpnv1.mdx
  dedibox-network/rpn/how-to/configure-rpnv2.mdx
  dedibox-network/rpn/how-to/mount-rpn-san-linux.mdx
  dedibox-network/rpn/how-to/use-rpn-san-proxmox.mdx
  dedibox-network/rpn/quickstart.mdx
  dedibox-network/rpn/reference-content/private-networks-overview.mdx
  dedibox/dedicated-servers/concepts.mdx
  dedibox/hardware/how-to/configure-dell-perc-h200.mdx
  dedibox/hardware/how-to/configure-dell-perc-h310.mdx
  dedibox/hardware/how-to/configure-hardware-raid-console.mdx
  dedibox/hardware/how-to/configure-raid-kvm-h200.mdx
  dedibox/hardware/how-to/configure-raid-kvm-h310.mdx
  dedibox/hardware/how-to/configure-raid-kvm-p410.mdx
  dedibox/hardware/how-to/configure-raid-kvm-p420.mdx
  dedibox/kvm-over-ip/how-to/dell-idrac7.mdx
  dedibox/kvm-over-ip/how-to/quantaplex.mdx
  dedibox/kvm-over-ip/how-to/supermicro.mdx
Labels: type: maintenance, priority: medium

#3624 fix(edge): remove bucket website warning
  storage/object/how-to/get-started-edge-services.mdx
Labels: type: maintenance, status: doc review

#3631 fix(bil): reviews 27/08
  console/billing/how-to/download-an-invoice.mdx
  console/billing/quickstart.mdx
Labels: type: maintenance, priority: low, status: doc review

#3630 fix(bil): update savings plans
  console/billing/additional-content/understanding-savings-plans.mdx
Labels: type: maintenance, priority: medium, status: doc review

#3634 feat(menu): add links to API doc
  menu/navigation.json
Labels: status: doc review

#3632 fix(DLB): fix 404 on index page
  managed-services/data-lab/index.mdx
Labels: priority: low

#3642 fix(ifr): fix requirements
  ai-data/managed-inference/how-to/create-deployment.mdx
  ai-data/managed-inference/how-to/delete-deployment.mdx
  ai-data/managed-inference/how-to/manage-allowed-ips.mdx
  ai-data/managed-inference/how-to/managed-inference-with-private-network.mdx
  ai-data/managed-inference/how-to/monitor-deployment.mdx
  ai-data/managed-inference/quickstart.mdx
Labels: type: maintenance

#3645 chore(GEN): content review MTA-4966
  console/account/how-to/report-abuse.mdx
  console/account/how-to/resolve-abuse.mdx
  serverless/containers/api-cli/deploy-container-api.mdx
  serverless/containers/api-cli/deploy-container-cli.mdx
  serverless/containers/how-to/delete-a-container.mdx
  serverless/containers/how-to/delete-a-containers-namespace.mdx
  serverless/containers/how-to/modify-container-privacy.mdx
  serverless/functions/api-cli/deploy-function-api.mdx
  serverless/functions/api-cli/deploy-function-cli.mdx
  serverless/sql-databases/how-to/add-users.mdx
  serverless/sql-databases/how-to/configure-autoscaling.mdx
  serverless/sql-databases/how-to/connect-to-a-database.mdx
  serverless/sql-databases/how-to/delete-a-database.mdx
  serverless/sql-databases/how-to/manage-permissions.mdx
  serverless/sql-databases/quickstart.mdx
Labels: priority: low, status: doc review
