Repository scaleway/docs-content, pull requests merged in 2025-06, with the labels that each got.

#5041 fix(lb): clarify backend server rules
  macros/network/lb-create-backend-2-traffic-mgnt.mdx
  pages/load-balancer/concepts.mdx
  pages/load-balancer/reference-content/configuring-backends.mdx
Labels: type: maintenance, status: doc review

#5039 feat(messaging): add troubleshooting
  menu/navigation.json
  pages/nats/faq.mdx
  pages/nats/how-to/monitor-nats-cockpit.mdx
  pages/nats/troubleshooting/cant-delete-namespace.mdx
  pages/nats/troubleshooting/index.mdx
  pages/nats/troubleshooting/nats-message-counting.mdx
  pages/queues/troubleshooting/approximate-messages-unexpected.mdx
  pages/queues/troubleshooting/cant-delete-namespace.mdx
  pages/queues/troubleshooting/index.mdx
  pages/topics-and-events/how-to/create-manage-subscriptions.mdx
  pages/topics-and-events/troubleshooting/cant-confirm-subscription.mdx
  pages/topics-and-events/troubleshooting/cant-delete-namespace.mdx
  pages/topics-and-events/troubleshooting/index.mdx
Labels: type: new content, status: doc review

#5037 docs(ins): update snapshot documentation
  pages/instances/api-cli/attaching-a-volume.mdx
  pages/instances/api-cli/creating-a-volume.mdx
  pages/instances/api-cli/creating-backups.mdx
  pages/instances/api-cli/detaching-a-volume.mdx
  pages/instances/api-cli/increasing-volume-size.mdx
  pages/instances/api-cli/managing-instance-snapshot-via-cli.mdx
  pages/instances/api-cli/snapshot-import-export-feature.mdx
  pages/instances/how-to/create-image-from-snapshot.mdx
  pages/instances/how-to/snapshot-import-export-feature.mdx
Labels: priority: high

#5049 fix(gen): reviews 02/05
  pages/account/troubleshooting/cannot-erase-account.mdx
  pages/account/troubleshooting/cannot-log-into-my-account.mdx
  pages/billing/how-to/redeem-voucher-code.mdx
  pages/transactional-email/how-to/generate-api-keys-for-tem-with-iam.mdx
  tutorials/deploy-hasura-engine-database-postgresql/index.mdx
  tutorials/upgrade-managed-postgresql-database/index.mdx
Labels: type: maintenance, priority: low, status: doc review

#5051 fix(tem): unify webhook xps
  changelog/november2024/2024-11-05-transactional-email-changed-webhook-event-update-to-ema.mdx
  macros/tem/webhook-event-status.mdx
  macros/tem/webhook-event-types.mdx
  menu/navigation.json
  pages/transactional-email/concepts.mdx
  pages/transactional-email/how-to/create-webhooks.mdx
  pages/transactional-email/reference-content/webhook-events-payloads.mdx
Labels: type: maintenance, do not merge, type: changelog, status: tech review, priority: low

#4766 docs(DWH): feature branch for DWH
  menu/navigation.json
  pages/data-warehouse/concepts.mdx
  pages/data-warehouse/faq.mdx
  pages/data-warehouse/how-to/connect-applications.mdx
  pages/data-warehouse/how-to/connect-bi-tools.mdx
  pages/data-warehouse/how-to/create-deployment.mdx
  pages/data-warehouse/how-to/edit-autoscaling.mdx
  pages/data-warehouse/how-to/import-data.mdx
  pages/data-warehouse/how-to/index.mdx
  pages/data-warehouse/how-to/manage-databases.mdx
  pages/data-warehouse/how-to/manage-delete-deployment.mdx
  pages/data-warehouse/how-to/manage-users.mdx
  pages/data-warehouse/index.mdx
  pages/data-warehouse/quickstart.mdx
  pages/data-warehouse/reference-content/example-datasets.mdx
  pages/data-warehouse/reference-content/index.mdx
Labels: type: new content, status: tech review, priority: high, priority: low

#5045 fix(rbd): add regionalization changes to docs
  pages/managed-databases-for-postgresql-and-mysql/how-to/add-a-database.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/add-users.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/apply-maintenance.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/change-volume-type.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/clone-a-database-instance.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/configure-advanced-settings.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/connect-database-instance.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/connect-database-private-network.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/create-a-database.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/create-read-replica.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/delete-a-database.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/delete-db.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/enable-autobackup.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/enable-high-availability.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-allowed-ip-addresses.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-permissions.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-read-replica.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/remove-public-endpoint.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/renew-tls-certificate.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/upgrade-a-database.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/upgrade-version.mdx
  pages/managed-databases-for-postgresql-and-mysql/quickstart.mdx
Labels: do not merge, status: tech review, priority: medium, status: doc review

#5065 docs(em): quickstart guideflow
  pages/elastic-metal/quickstart.mdx
Labels: type: maintenance, priority: low

#5076 docs(aps): console overview guideflow
  pages/apple-silicon/quickstart.mdx
Labels: type: maintenance, priority: low

#4987 feat(infr): add region selector step
  pages/managed-inference/how-to/create-deployment.mdx
  pages/managed-inference/how-to/delete-deployment.mdx
  pages/managed-inference/how-to/import-custom-model.mdx
  pages/managed-inference/how-to/manage-allowed-ips.mdx
  pages/managed-inference/how-to/managed-inference-with-private-network.mdx
  pages/managed-inference/how-to/monitor-deployment.mdx
  pages/managed-inference/quickstart.mdx
Labels: type: maintenance

#5075 fix(gen): update tb hub list with LinksList component
  pages/troubleshooting/index.mdx
Labels: status: tech review, priority: low, status: doc review

#5080 docs(gen): update tb product indexes list with LinksList component
  pages/account/troubleshooting/index.mdx
  pages/apple-silicon/troubleshooting/index.mdx
  pages/billing/troubleshooting/index.mdx
  pages/cockpit/troubleshooting/index.mdx
  pages/container-registry/troubleshooting/index.mdx
  pages/data-lab/troubleshooting/index.mdx
  pages/dedibox-hardware/troubleshooting/index.mdx
  pages/dedibox-network/troubleshooting/index.mdx
  pages/domains-and-dns/troubleshooting/index.mdx
  pages/edge-services/troubleshooting/index.mdx
  pages/elastic-metal/troubleshooting/index.mdx
  pages/generative-apis/troubleshooting/index.mdx
  pages/gpu/troubleshooting/index.mdx
  pages/iam/troubleshooting/index.mdx
  pages/instances/troubleshooting/index.mdx
  pages/ipam/troubleshooting/index.mdx
  pages/kubernetes/troubleshooting/index.mdx
  pages/load-balancer/troubleshooting/index.mdx
  pages/managed-databases-for-postgresql-and-mysql/troubleshooting/index.mdx
  pages/nats/troubleshooting/index.mdx
  pages/object-storage/troubleshooting/index.mdx
  pages/public-gateways/troubleshooting/index.mdx
  pages/queues/troubleshooting/index.mdx
  pages/serverless-containers/troubleshooting/index.mdx
  pages/serverless-functions/troubleshooting/index.mdx
  pages/serverless-jobs/troubleshooting/index.mdx
  pages/serverless-sql-databases/troubleshooting/index.mdx
  pages/topics-and-events/troubleshooting/index.mdx
  pages/transactional-email/troubleshooting/index.mdx
  pages/vpc/troubleshooting/index.mdx
  pages/webhosting/troubleshooting/index.mdx
Labels: priority: low, status: doc review

#5022 feat(iam): remove guests
  macros/iam/login-member.mdx
  menu/navigation.json
  pages/account/faq.mdx
  pages/account/how-to/change-console-appearance.mdx
  pages/account/quickstart.mdx
  pages/contribute.mdx
  pages/iam/concepts.mdx
  pages/iam/how-to/accept-invitation-to-orga.mdx
  pages/iam/how-to/manage-members.mdx
  pages/iam/how-to/manage-policies.mdx
  pages/iam/how-to/manage-users.mdx
  pages/iam/how-to/view-permission-sets.mdx
  pages/iam/quickstart.mdx
  pages/iam/reference-content/overview.mdx
  pages/iam/reference-content/users-groups-and-applications.mdx
  pages/organizations-and-projects/how-to/use-organizations.mdx
Labels: type: maintenance, type: new content, status: tech review, priority: medium, status: doc review

#5093 fix(gen): reviews 09/06
  pages/account/how-to/log-in-to-the-console.mdx
  pages/account/how-to/manage-notifications.mdx
  pages/account/reference-content/protecting-yourself-fraud-phishing.mdx
  pages/iam/api-cli/using-api-key-object-storage.mdx
  pages/iam/how-to/view-permission-sets.mdx
  pages/managed-databases-for-postgresql-and-mysql/api-cli/migrating-endpoints.mdx
  pages/partner-space/how-to/add-client.mdx
  pages/partner-space/how-to/edit-client-information.mdx
  pages/partner-space/how-to/grant-access-to-partner-space.mdx
  pages/partner-space/how-to/lock-client-organization.mdx
  pages/partner-space/how-to/unlock-client-organization.mdx
  pages/partner-space/quickstart.mdx
Labels: type: maintenance, priority: low, status: doc review

#5091 docs(srv): Jobs x Instances power cycle tuto MTA-6097
  tutorials/power-on-off-instances-jobs/index.mdx
  tutorials/snapshot-instances-jobs/index.mdx
Labels: priority: low, status: doc review, product: serverless

#5100 feat(changelog): iam-added-sso-for-members 2025-06-10
  changelog/june2025/2025-06-10-iam-added-sso-for-members.mdx
Labels: type: changelog

#5018 feat(containers): product handbook doc
  menu/navigation.json
  pages/serverless-containers/concepts.mdx
  pages/serverless-containers/quickstart.mdx
  pages/serverless-containers/reference-content/serverless-overview.mdx
Labels: product: serverless

#5088 docs(srv): add quotas for Jobs MTA-6094
  macros/compute/serverless-jobs.mdx
  pages/organizations-and-projects/additional-content/organization-quotas.mdx
Labels: priority: low, status: doc review, product: serverless

#5096 feat(changelog): containers-added-logs-added-instance-details 2025-06-10
  changelog/june2025/2025-06-10-containers-added-logs-added-instance-details.mdx
Labels: type: changelog, product: serverless

#5099 feat(changelog): mongodb-added-managed-mongodb-general-availability 2025-06-10
  changelog/june2025/2025-06-10-mongodb-added-managed-mongodb-general-availability.mdx
Labels: type: changelog

#5101 docs(fix): remove error from titles
  changelog/june2025/2025-06-10-containers-added-logs-added-instance-details.mdx
  changelog/june2025/2025-06-10-functions-added-logs-added-instance-details.mdx
Labels: type: changelog

#5105 docs(fix): replace link with updated one
  pages/webhosting/reference-content/classic-hosting-migration-information.mdx
Labels: type: maintenance

#5106 fix(nw): doc review
  pages/ipam/concepts.mdx
  pages/load-balancer/how-to/manage-frontends-and-backends.mdx
  pages/load-balancer/quickstart.mdx
  pages/vpc/how-to/manage-routing.mdx
  pages/vpc/reference-content/understanding-nacls.mdx
  pages/vpc/reference-content/understanding-routing.mdx
Labels: type: maintenance

#5107 docs(k8s): guideflow creation and decision tree update
  menu/navigation.json
  pages/kubernetes/quickstart.mdx
  pages/kubernetes/reference-content/assets/DecisionTreeKubernetes-DocumentationWebsite.webp
  pages/kubernetes/reference-content/assets/decision-tree-kubernetes.pdf
  pages/kubernetes/reference-content/kubernetes-decision-tree.mdx
Labels: type: maintenance, priority: low

#5118 Update CODEOWNERS
  .github/CODEOWNERS
Labels: type: developer

#5113 fix(vpc): fix default info
  pages/elastic-metal/how-to/use-private-networks.mdx
  pages/instances/how-to/use-private-networks.mdx
  pages/public-gateways/how-to/configure-a-public-gateway.mdx
  pages/vpc/concepts.mdx
  pages/vpc/faq.mdx
  pages/vpc/how-to/create-vpc.mdx
  pages/vpc/how-to/delete-vpc.mdx
Labels: type: maintenance

#5134 docs(gen): update categories according to new menu
  pages/account/reference-content/products-availability.mdx
Labels: type: maintenance

#5139 fix(tem): zip and rgpd faq
  pages/transactional-email/faq.mdx
  pages/transactional-email/reference-content/tem-capabilities-and-limits.mdx
Labels: type: maintenance, status: tech review, priority: low, status: doc review

#5140 fix(cockpit): clarify doc
  pages/cockpit/how-to/send-metrics-logs-to-cockpit.mdx
Labels: type: maintenance

#5136 feat(changelog): data-lab-added-custom-persistent-volume-available 2025-06-18
  changelog/june2025/2025-06-18-data-lab-added-custom-persistent-volume-available.mdx
Labels: type: changelog

#5135 feat(changelog): data-lab-added-cockpit-is-now-available 2025-06-18
  changelog/june2025/2025-06-18-data-lab-added-cockpit-is-now-available.mdx
Labels: type: changelog

#5129 feat(changelog): managed-inference-added-new-models-support-devstral 2025-06-17
  changelog/june2025/2025-06-17-managed-inference-added-new-models-support-devstral.mdx
Labels: type: changelog

#5115 docs(srv): how to automate scw resource mgmt w/ jobs MTA-6074
  menu/navigation.json
  pages/scaleway-cli/quickstart.mdx
  pages/serverless-jobs/how-to/automate-resources-management.mdx
Labels: priority: low, status: doc review, product: serverless

#5148 fix(iam): remove guest doc
  pages/iam/quickstart.mdx
Labels: type: maintenance, priority: medium, status: doc review

#5131 docs(add): encryption key step
  pages/secret-manager/how-to/create-secret.mdx
  pages/secret-manager/quickstart.mdx
Labels: type: maintenance, type: new content

#5154 fix(doc): doc review
  pages/generative-apis/how-to/query-code-models.mdx
  pages/generative-apis/reference-content/rate-limits.mdx
  pages/managed-inference/reference-content/data-privacy-security-scaleway-ai-services.mdx
  pages/managed-inference/reference-content/function-calling-support.mdx
  pages/public-gateways/how-to/create-a-public-gateway.mdx
  pages/public-gateways/how-to/delete-a-public-gateway.mdx
  pages/public-gateways/how-to/use-flexible-ips.mdx
  pages/public-gateways/how-to/use-ssh-bastion.mdx
  pages/public-gateways/quickstart.mdx
  pages/public-gateways/troubleshooting/gw-limitations.mdx
Labels: type: maintenance

#5153 docs(gen): block and local storage guideflows
  pages/block-storage/quickstart.mdx
  pages/local-storage/quickstart.mdx
Labels: type: maintenance, priority: low

#5155 feat(changelog): elastic-metal-changed-ryzen-em-a610r-nvme-new-price 2025-06-20
  changelog/june2025/2025-06-20-elastic-metal-changed-ryzen-em-a610r-nvme-new-price.mdx
Labels: type: changelog

#5133 docs(k8s): update documentation
  pages/kubernetes/reference-content/lb-ingress-controller.mdx
  pages/kubernetes/reference-content/wildcard-dns.mdx
Labels: do not merge, status: tech review

#5159 fix(lb): doc review
  pages/load-balancer/how-to/create-manage-flex-ips.mdx
  pages/load-balancer/reference-content/public-private-accessibility.mdx
Labels: type: maintenance

#5163 fix(iam): add view permission set via CLI
  pages/iam/how-to/view-permission-sets.mdx
Labels: type: maintenance, priority: low, status: doc review

#5169 docs(em): update doc for win 2022
  pages/elastic-metal/how-to/use-private-networks.mdx
Labels: type: maintenance

#5174 docs(blk): reuse concepts from Instances doc MTA-6210
  macros/concepts/availability-zone.mdx
  macros/concepts/block-snapshot.mdx
  macros/concepts/block-volumes.mdx
  macros/concepts/local-volumes.mdx
  macros/concepts/region.mdx
  macros/concepts/volumes.mdx
  pages/block-storage/concepts.mdx
  pages/instances/concepts.mdx
  pages/local-storage/concepts.mdx
Labels: priority: low, status: doc review

#5177 docs(gen): updating keywords and links of the landing page
  pages/index.mdx
Labels: type: maintenance, priority: low

#5171 feat(changelog): domains-and-dns-added-be-tld-now-available 2025-06-24
  changelog/june2025/2025-06-24-domains-and-dns-added-be-tld-now-available.mdx
Labels: type: changelog

#5183 fix(gen): minor fixes
  pages/iam/troubleshooting/index.mdx
  tutorials/configure-apache-kafka/index.mdx
  tutorials/dagster-serverless-jobs/index.mdx
  tutorials/manage-database-instance-pgadmin4/index.mdx
Labels: type: maintenance, priority: low, status: doc review

#5180 feat(changelog): kubernetes-removed-end-of-support-kubernetes-versions-1 2025-06-25
  changelog/june2025/2025-06-25-kubernetes-removed-end-of-support-kubernetes-versions-1.mdx
Labels: type: changelog

#5188 fix(il): add new partner
  pages/interlink/concepts.mdx
Labels: type: maintenance, status: doc review

#5185 feat(srv): add faas/caas x VPC doc MTA-6202
  menu/navigation.json
  pages/instances/how-to/use-private-networks.mdx
  pages/serverless-containers/concepts.mdx
  pages/serverless-containers/faq.mdx
  pages/serverless-containers/how-to/create-manage-delete-containers-namespace.mdx
  pages/serverless-containers/how-to/use-private-networks.mdx
  pages/serverless-containers/reference-content/containers-limitations.mdx
  pages/serverless-functions/concepts.mdx
  pages/serverless-functions/faq.mdx
  pages/serverless-functions/how-to/create-manage-delete-functions-namespace.mdx
  pages/serverless-functions/how-to/use-private-networks.mdx
  pages/serverless-functions/reference-content/functions-limitations.mdx
Labels: priority: medium, status: doc review

#5207 docs(object): update checksums doc MTA-6196
  pages/object-storage/reference-content/supported-checksums.mdx
Labels: priority: low, status: doc review

#5160 fix(acc): new sp
  menu/navigation.json
  pages/account/concepts.mdx
  pages/account/faq.mdx
  pages/account/how-to/assets/scaleway-support-plans-overview.webp
  pages/account/how-to/configure-support-plans.mdx
  pages/account/reference-content/understanding-support-plans.mdx
Labels: type: new content, do not merge, status: tech review, status: doc review

#5193 feat(rdb): migration index
  menu/navigation.json
  pages/managed-databases-for-postgresql-and-mysql/reference-content/migrating-databases.mdx
Labels: type: new content, status: tech review, priority: medium, status: doc review
