Repository scaleway/docs-content, pull requests merged in 2025-08, with the labels that each got.

#5361 Int fix serverless routing
  pages/vpc/faq.mdx
  pages/vpc/reference-content/understanding-routing.mdx
  pages/vpc/troubleshooting/vpc-limitations.mdx
Labels: type: maintenance

#5359 chore(docs): weekly review
  pages/cockpit/concepts.mdx
  pages/cockpit/faq.mdx
  pages/cockpit/how-to/create-token.mdx
  pages/cockpit/how-to/send-logs-from-k8s-to-cockpit.mdx
  pages/cockpit/how-to/send-metrics-from-k8s-to-cockpit.mdx
  pages/cockpit/how-to/send-metrics-logs-to-cockpit.mdx
  pages/cockpit/how-to/send-metrics-with-grafana-alloy.mdx
  pages/cockpit/quickstart.mdx
  pages/cockpit/reference-content/cockpit-limitations.mdx
  pages/domains-and-dns/how-to/manage-nameservers-internal-domain.mdx
  pages/elastic-metal/how-to/send-metrics-logs-to-cockpit.mdx
  pages/transactional-email/how-to/manage-blocklists.mdx
  pages/transactional-email/how-to/manage-email-activity.mdx
  tutorials/pushing-metrics-logs-from-scw-instance/index.mdx
Labels: type: maintenance, status: doc review

#5348 docs(srv): add srv x vpc ref content
  menu/navigation.json
  pages/organizations-and-projects/additional-content/organization-quotas.mdx
  pages/serverless-containers/how-to/use-private-networks.mdx
  pages/serverless-containers/reference-content/containers-limitations.mdx
  pages/serverless-containers/reference-content/containers-private-networks.mdx
  pages/serverless-functions/how-to/use-private-networks.mdx
  pages/serverless-functions/reference-content/functions-limitations.mdx
  pages/serverless-functions/reference-content/functions-private-networks.mdx
Labels: status: tech review, priority: high, status: doc review

#5365 fix(ins): fixed wording for gpu os
  pages/instances/reference-content/images-and-instantapps.mdx
Labels: type: maintenance, priority: low

#5368 fix(obj): harmonize tabs labels
  pages/object-storage/api-cli/managing-lifecycle-cliv2.mdx
Labels: priority: low, status: doc review

#5313 feat(OPS): add OpenSearch doc MTA-6320
  menu/changelogs.json
  menu/navigation.json
  pages/opensearch/concepts.mdx
  pages/opensearch/faq.mdx
  pages/opensearch/how-to/connect-to-opensearch-deployment.mdx
  pages/opensearch/how-to/create-opensearch-deployment.mdx
  pages/opensearch/how-to/delete-opensearch-deployment.mdx
  pages/opensearch/how-to/index.mdx
  pages/opensearch/how-to/manage-opensearch-deployment.mdx
  pages/opensearch/how-to/manage-users-opensearch-deployment.mdx
  pages/opensearch/index.mdx
  pages/opensearch/quickstart.mdx
  pages/opensearch/reference-content/index.mdx
  pages/opensearch/reference-content/shared-vs-dedicated-resources.mdx
Labels: priority: high, status: doc review

#5378 feat(changelog): generative-apis-added-new-supported-model-qwen3-235b 2025-08-05
  changelog/august2025/2025-08-05-generative-apis-added-new-supported-model-qwen3-235b.mdx
Labels: type: changelog

#5332 key-manager(add): scheduled deletion docs
  menu/navigation.json
  pages/key-manager/concepts.mdx
  pages/key-manager/faq.mdx
  pages/key-manager/how-to/delete-km-keys.mdx
  pages/key-manager/how-to/recover-deleted-keys.mdx
Labels: type: new content, status: doc review

#5330 feat(changelog): key-manager-added-scheduled-deletion-of-key-manager-key 2025-07-24
  changelog/july2025/2025-07-24-key-manager-added-scheduled-deletion-of-key-manager-key.mdx
Labels: type: changelog

#5288 chore(gen): content review MTA-6277
  pages/block-storage/api-cli/identifying-volume-snapshot-api.mdx
  pages/object-storage/api-cli/bucket-operations.mdx
  pages/object-storage/api-cli/bucket-policy.mdx
  pages/object-storage/api-cli/bucket-website-api.mdx
  pages/object-storage/api-cli/common-operations.mdx
  pages/object-storage/api-cli/generate-aws4-auth-signature.mdx
  pages/object-storage/api-cli/installing-minio-client.mdx
  pages/object-storage/api-cli/lifecycle-rules-api.mdx
  pages/object-storage/api-cli/manage-bucket-permissions-ip.mdx
  pages/object-storage/api-cli/managing-lifecycle-cliv2.mdx
  pages/object-storage/api-cli/multipart-uploads.mdx
  pages/object-storage/api-cli/object-lock.mdx
  pages/object-storage/api-cli/post-object.mdx
  pages/object-storage/api-cli/setting-cors-rules.mdx
  pages/object-storage/how-to/monitor-consumption.mdx
  pages/object-storage/how-to/use-obj-stor-with-private-networks.mdx
  pages/object-storage/quickstart.mdx
  pages/object-storage/troubleshooting/lost-bucket-access-bucket-policy.mdx
  pages/serverless-containers/reference-content/containers-billing.mdx
  pages/serverless-containers/reference-content/difference-jobs-functions-containers.mdx
  pages/serverless-containers/troubleshooting/502-error-when-scaling.mdx
  pages/serverless-containers/troubleshooting/tests-fail-on-container.mdx
  pages/serverless-functions/reference-content/difference-jobs-functions-containers.mdx
  pages/serverless-functions/reference-content/functions-runtimes.mdx
  pages/serverless-functions/troubleshooting/tests-fail-on-function.mdx
  pages/serverless-jobs/how-to/delete-job.mdx
  pages/serverless-jobs/how-to/monitor-job.mdx
  pages/serverless-jobs/reference-content/cron-schedules.mdx
  pages/serverless-jobs/reference-content/deploy-job.mdx
  pages/serverless-jobs/reference-content/difference-jobs-functions-containers.mdx
  pages/serverless-sql-databases/api-cli/import-data-to-serverless-sql-databases.mdx
  pages/serverless-sql-databases/how-to/manage-backups.mdx
  pages/serverless-sql-databases/reference-content/planned-maintenance.mdx
  pages/serverless-sql-databases/troubleshooting/connection-timeout.mdx
  pages/serverless-sql-databases/troubleshooting/maximum-prepared-statements-reached.mdx
Labels: priority: low, status: doc review

#5386 fix(review): review doc
  pages/public-gateways/reference-content/understanding-v2.mdx
  pages/vpc/how-to/activate-dhcp.mdx
  pages/vpc/troubleshooting/autoconfig-not-working.mdx
  pages/vpc/troubleshooting/resource-attached-no-ip.mdx
Labels: type: maintenance

#5391 feat(changelog): cockpit-added-cockpit-dashboard-for-managed-mongodb 2025-08-08
  changelog/august2025/2025-08-08-cockpit-added-cockpit-dashboard-for-managed-mongodb.mdx
Labels: type: changelog

#5392 feat(changelog): mongodb-added-cockpit-dashboard-for-managed-mongodb 2025-08-08
  changelog/august2025/2025-08-08-mongodb-added-cockpit-dashboard-for-managed-mongodb.mdx
Labels: type: changelog

#5390 feat(changelog): mongodb-added-multi-user-management-via-console 2025-08-08
  changelog/august2025/2025-08-08-mongodb-added-multi-user-management-via-console.mdx
Labels: type: changelog

#5389 docs(srv): add Metabase x VPC x CaaS tutorial MTA-6298
  tutorials/metabase-postgre-containers-private-networks/index.mdx
Labels: status: tech review, priority: low, status: doc review, product: serverless

#5387 fix(srv): update max request duration MTA-6365
  macros/serverless/difference-jobs-functions-containers.mdx
Labels: status: tech review, priority: low, status: doc review, product: serverless

#5388 fix(rdb): summer cleaning
  changelog/databases/november2022/2022-11-18-mysqlpgsql-changed-read-replica.mdx
  changelog/databases/september2022/2022-09-13-pnm-added-read-replica.mdx
  changelog/february2025/2025-02-24-mongodb-added-vpc-x-managed-mongodbr-integration.mdx
  changelog/september2023/2023-09-19-postgresql-and-mysql-added-cross-availability-zone-read.mdx
  macros/databases/autobackups.mdx
  menu/navigation.json
  pages/kubernetes/reference-content/secure-cluster-with-private-network.mdx
  pages/managed-databases-for-postgresql-and-mysql/api-cli/using-pgcron.mdx
  pages/managed-databases-for-postgresql-and-mysql/concepts.mdx
  pages/managed-databases-for-postgresql-and-mysql/faq.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/connect-database-instance.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/connect-database-private-network.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/create-a-database.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/create-read-replica.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/enable-high-availability.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-backups.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-nodes.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-permissions.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-read-replicas.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-snapshots.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-users.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-volumes.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/remove-public-endpoint.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/upgrade-a-database.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/upgrade-version.mdx
  pages/managed-databases-for-postgresql-and-mysql/quickstart.mdx
  pages/managed-databases-for-postgresql-and-mysql/reference-content/security-and-reliability.mdx
  pages/managed-databases-for-postgresql-and-mysql/troubleshooting/database-instance-performance-issues.mdx
  pages/vpc/how-to/attach-resources-to-pn.mdx
  pages/vpc/reference-content/getting-most-private-networks.mdx
  pages/vpc/reference-content/use-case-basic.mdx
  tutorials/configure-netbox-managed-postgresql-database/index.mdx
  tutorials/deploy-umami-on-serverless-containers/index.mdx
  tutorials/how-to-implement-rag-generativeapis/index.mdx
Labels: type: maintenance, type: changelog, status: tech review, priority: low, status: doc review

#5404 Revert "fix(rdb): summer cleaning"
  changelog/databases/november2022/2022-11-18-mysqlpgsql-changed-read-replica.mdx
  changelog/databases/september2022/2022-09-13-pnm-added-read-replica.mdx
  changelog/february2025/2025-02-24-mongodb-added-vpc-x-managed-mongodbr-integration.mdx
  changelog/september2023/2023-09-19-postgresql-and-mysql-added-cross-availability-zone-read.mdx
  menu/navigation.json
  pages/kubernetes/reference-content/secure-cluster-with-private-network.mdx
  pages/managed-databases-for-postgresql-and-mysql/api-cli/using-pgcron.mdx
  pages/managed-databases-for-postgresql-and-mysql/concepts.mdx
  pages/managed-databases-for-postgresql-and-mysql/faq.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/add-users.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/change-volume-type.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/connect-database-instance.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/connect-database-private-network.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/create-a-database.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/create-read-replica.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/enable-autobackup.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/enable-high-availability.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-manual-backups.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-nodes.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-permissions.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-read-replica.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-snapshots.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/remove-public-endpoint.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/upgrade-a-database.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/upgrade-version.mdx
  pages/managed-databases-for-postgresql-and-mysql/quickstart.mdx
  pages/managed-databases-for-postgresql-and-mysql/reference-content/security-and-reliability.mdx
  pages/managed-databases-for-postgresql-and-mysql/troubleshooting/database-instance-performance-issues.mdx
  pages/vpc/how-to/attach-resources-to-pn.mdx
  pages/vpc/reference-content/getting-most-private-networks.mdx
  pages/vpc/reference-content/use-case-basic.mdx
  tutorials/configure-netbox-managed-postgresql-database/index.mdx
  tutorials/deploy-umami-on-serverless-containers/index.mdx
  tutorials/how-to-implement-rag-generativeapis/index.mdx
Labels: type: changelog

#5395 feat(changelog): jobs-added-serverless-network-metrics-are-evolving 2025-08-11
  changelog/august2025/2025-08-11-jobs-added-serverless-network-metrics-are-evolving.mdx
Labels: type: changelog

#5398 feat(changelog): gpu-instances-changed-gpu-h100-sxm-instances-with-2-and 2025-08-11
  changelog/august2025/2025-08-11-gpu-instances-changed-gpu-h100-sxm-instances-with-2-and.mdx
Labels: type: changelog

#5400 docs(em): docs content review 2025-08-11
  pages/dedibox-hardware/troubleshooting/diagnose-defective-disk.mdx
  pages/elastic-metal/troubleshooting/troubleshoot-access-issues.mdx
  pages/elastic-metal/troubleshooting/troubleshoot-installation.mdx
  pages/elastic-metal/troubleshooting/troubleshoot-remote-access-issues.mdx
  pages/elastic-metal/troubleshooting/troubleshoot-ssh-issues.mdx
  pages/instances/how-to/enable-openssh-windows.mdx
  pages/instances/troubleshooting/fix-error-message-in-scw-fetch-ssh-keys.mdx
Labels: type: maintenance

#5401 fix(nats): fix quotas
  pages/organizations-and-projects/additional-content/organization-quotas.mdx
Labels: type: maintenance

#5407 chore(serverless): faq consistency
  pages/serverless-containers/faq.mdx
  pages/serverless-functions/faq.mdx
Labels: product: serverless

#5408 doc(jobs): add network metrics
  pages/serverless-jobs/how-to/monitor-job.mdx
Labels: product: serverless

#4947 feat(key_manager): add asymmetric concepts
  pages/key-manager/concepts.mdx
  pages/key-manager/faq.mdx
  pages/key-manager/reference-content/understanding-key-manager.mdx
Labels: do not merge

#5298 feat(docs): update ckpt docs with new grafana ui
  macros/edge-services/edge-services-lb-benefits.mdx
  pages/cockpit/how-to/access-grafana-and-managed-dashboards.mdx
  pages/cockpit/how-to/assets/scaleway-advanced-options.webp
  pages/cockpit/how-to/assets/scaleway-alert-firing.webp
  pages/cockpit/how-to/assets/scaleway-alerts-firing.webp
  pages/cockpit/how-to/assets/scaleway-alerts-via-grafana-ui.webp
  pages/cockpit/how-to/assets/scaleway-datasource-managed.webp
  pages/cockpit/how-to/assets/scaleway-firing-alert-tabs.webp
  pages/cockpit/how-to/assets/scaleway-metric-selection.webp
  pages/cockpit/how-to/assets/scaleway-metrics-displayed.webp
  pages/cockpit/how-to/assets/scaleway-metrics-explorer.webp
  pages/cockpit/how-to/configure-alerts-for-scw-resources.mdx
  pages/cockpit/how-to/send-logs-from-k8s-to-cockpit.mdx
  pages/cockpit/how-to/send-metrics-from-k8s-to-cockpit.mdx
  pages/cockpit/how-to/send-metrics-with-grafana-alloy.mdx
  tutorials/configure-slack-alerting/index.mdx
  tutorials/silence-grafana-alerts/index.mdx
Labels: type: maintenance, do not merge

#5431 audit-trail(add): add apple silicon supported endpoints
  macros/audit-trail/apple-silicon-endpoints.mdx
  pages/audit-trail/reference-content/adt-supported-endpoints.mdx
  pages/audit-trail/reference-content/resource-integration-with-adt.mdx
Labels: type: new content

#5427 docs(ddx): docs content review 2025-08-19
  pages/container-registry/faq.mdx
  pages/dedibox-account/how-to/accept-outsourcing.mdx
  pages/dedibox-account/how-to/add-payment-method.mdx
  pages/dedibox-account/how-to/contact-support.mdx
  pages/dedibox-account/how-to/disable-two-factor-authentication.mdx
  pages/dedibox-account/how-to/enable-two-factor-authentication.mdx
  pages/dedibox-account/how-to/manage-data-settings.mdx
  pages/dedibox-account/how-to/outsource-dedibox.mdx
  pages/dedibox-account/how-to/recover-password-lost-email.mdx
  pages/dedibox-account/how-to/report-incident.mdx
  pages/dedibox-account/how-to/revoke-outsourcing.mdx
  pages/dedibox-account/how-to/update-password.mdx
  pages/dedibox-account/how-to/upload-an-ssh-key.mdx
  pages/dedibox-account/quickstart.mdx
  pages/dedibox-ip-failover/how-to/configure-centos.mdx
  pages/dedibox-ip-failover/how-to/configure-debian-ubuntu.mdx
  pages/dedibox-ip-failover/how-to/order-failover-ip.mdx
  pages/dedibox-ipv6/how-to/debug-ipv6.mdx
  pages/dedibox/concepts.mdx
  pages/dedibox/how-to/migrate-server.mdx
  pages/dedibox/how-to/use-dedibackup-ftp-backup.mdx
  pages/elastic-metal/how-to/add-virtual-mac-address.mdx
  pages/elastic-metal/how-to/attach-detach-flexible-ip.mdx
  pages/elastic-metal/how-to/configure-flexible-ip.mdx
  pages/elastic-metal/how-to/configure-flexible-ipv6.mdx
  pages/elastic-metal/how-to/configure-reverse-dns-flexible-ip.mdx
  pages/elastic-metal/how-to/enable-smtp.mdx
  pages/elastic-metal/how-to/order-flexible-ip.mdx
  pages/elastic-metal/how-to/reboot-server.mdx
  pages/elastic-metal/how-to/reinstall-server.mdx
  pages/elastic-metal/how-to/view-the-event-logs.mdx
  pages/gpu/concepts.mdx
  pages/instances/api-cli/cli-cheatsheet.mdx
  pages/instances/api-cli/using-placement-groups.mdx
  pages/instances/reference-content/understanding-instance-pricing.mdx
  pages/instances/troubleshooting/cant-connect-ssh.mdx
  pages/instances/troubleshooting/fix-dns-routed-ipv6-only-debian-bullseye.mdx
  pages/instances/troubleshooting/fix-lost-ip-connectivity-on-debian-buster.mdx
Labels: type: maintenance

#5405 fix(rdb): summer cleaning
  changelog/databases/november2022/2022-11-18-mysqlpgsql-changed-read-replica.mdx
  changelog/databases/september2022/2022-09-13-pnm-added-read-replica.mdx
  changelog/february2025/2025-02-24-mongodb-added-vpc-x-managed-mongodbr-integration.mdx
  changelog/september2023/2023-09-19-postgresql-and-mysql-added-cross-availability-zone-read.mdx
  macros/databases/autobackups.mdx
  menu/navigation.json
  pages/kubernetes/reference-content/secure-cluster-with-private-network.mdx
  pages/managed-databases-for-postgresql-and-mysql/api-cli/using-pgcron.mdx
  pages/managed-databases-for-postgresql-and-mysql/concepts.mdx
  pages/managed-databases-for-postgresql-and-mysql/faq.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/connect-database-instance.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/connect-database-private-network.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/create-a-database.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/create-read-replica.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/enable-high-availability.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-backups.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-nodes.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-permissions.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-read-replicas.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-snapshots.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-users.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-volumes.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/remove-public-endpoint.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/upgrade-a-database.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/upgrade-version.mdx
  pages/managed-databases-for-postgresql-and-mysql/quickstart.mdx
  pages/managed-databases-for-postgresql-and-mysql/reference-content/security-and-reliability.mdx
  pages/managed-databases-for-postgresql-and-mysql/troubleshooting/database-instance-performance-issues.mdx
  pages/vpc/how-to/attach-resources-to-pn.mdx
  pages/vpc/reference-content/getting-most-private-networks.mdx
  pages/vpc/reference-content/use-case-basic.mdx
  tutorials/configure-netbox-managed-postgresql-database/index.mdx
  tutorials/deploy-umami-on-serverless-containers/index.mdx
  tutorials/how-to-implement-rag-generativeapis/index.mdx
Labels: type: maintenance, do not merge, type: changelog, status: doc review

#5439 chore(docs): weekly review
  pages/classic-hosting/how-to/change-email-account-password.mdx
  pages/classic-hosting/how-to/configure-htaccess-file.mdx
  pages/classic-hosting/how-to/connect-via-ftp.mdx
  pages/classic-hosting/how-to/create-alias.mdx
  pages/classic-hosting/how-to/create-email-account.mdx
  pages/classic-hosting/how-to/create-ftp-account.mdx
  pages/classic-hosting/how-to/delete-email-account.mdx
  pages/classic-hosting/how-to/manage-email-filter.mdx
  pages/key-manager/api-cli/encrypt-decrypt-keys-with-streaming-aead-tink.mdx
  pages/webhosting/how-to/assets/scaleway-webhosting-terminate.webp
  pages/webhosting/how-to/terminate-webhosting.mdx
Labels: type: maintenance

#5444 feat(tem): remove 48h from faq
  pages/transactional-email/faq.mdx
  pages/transactional-email/how-to/manage-blocklists.mdx
Labels: type: maintenance, status: tech review, priority: low

#5424 docs(srv): how to run complex commands with Jobs and Secrets MTA-6354
  macros/serverless-jobs/automate-resources-management.mdx
  menu/navigation.json
  pages/serverless-jobs/how-to/execute-complex-commands.mdx
  pages/serverless-jobs/troubleshooting/index.mdx
  pages/serverless-jobs/troubleshooting/job-startup-command-fails.mdx
Labels: status: tech review, priority: low, status: doc review, product: serverless

#5420 feat(iam): org alias
  macros/iam/login-member.mdx
  menu/navigation.json
  pages/organizations-and-projects/how-to/set-organization-alias.mdx
Labels: type: new content, status: tech review, priority: medium, status: doc review

#5453 fix(gen): reviews 25/08
  pages/billing/concepts.mdx
  pages/iam/concepts.mdx
  pages/iam/how-to/enforce-security-requirements-members.mdx
  pages/managed-databases-for-postgresql-and-mysql/api-cli/logical-replication-as-subscriber.mdx
  pages/managed-databases-for-postgresql-and-mysql/api-cli/using-pgcron.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/add-a-database.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/delete-db.mdx
  pages/managed-databases-for-redis/troubleshooting/database-instance-unavailable.mdx
  pages/managed-mongodb-databases/how-to/connect-database-private-network.mdx
Labels: type: maintenance, priority: low, status: doc review

#5454 docs(srv): add info on supported http protocols MTA-6409
  pages/serverless-containers/concepts.mdx
  pages/serverless-containers/faq.mdx
  pages/serverless-containers/reference-content/containers-limitations.mdx
  pages/serverless-containers/troubleshooting/http1-errors.mdx
  pages/serverless-containers/troubleshooting/index.mdx
  pages/serverless-functions/concepts.mdx
  pages/serverless-functions/faq.mdx
  pages/serverless-functions/reference-content/functions-limitations.mdx
  pages/serverless-functions/troubleshooting/http1-errors.mdx
  pages/serverless-functions/troubleshooting/index.mdx
Labels: priority: low, status: doc review, product: serverless

#5468 chore(docs): weekly review
  pages/classic-hosting/how-to/change-ftp-account-password.mdx
  pages/classic-hosting/how-to/configure-outlook.mdx
  pages/classic-hosting/how-to/retrieve-headers-of-email.mdx
  pages/key-manager/how-to/recover-deleted-keys.mdx
  pages/webhosting/how-to/order-dedicated-ip.mdx
  pages/webhosting/how-to/protect-webhosting.mdx
  pages/webhosting/reference-content/cpanel-reference-content.mdx
Labels: type: maintenance

#5464 docs(ddx): content review 2025-08-27
  pages/dedibox-account/how-to/create-a-dedibox-account.mdx
  pages/dedibox-account/how-to/outsource-failover-ip.mdx
  pages/dedibox-dns/how-to/add-dns-delegation.mdx
  pages/dedibox-hardware/how-to/configure-raid-kvm-p410.mdx
  pages/dedibox-hardware/how-to/configure-raid-kvm-p420.mdx
  pages/dedibox-ip-failover/how-to/configure-multiip-virtualmac.mdx
  pages/dedibox-ipv6/how-to/create-subnet.mdx
  pages/dedibox-network/how-to/subscribe-to-jmrp.mdx
  pages/dedibox-rpn/how-to/connect-rpn-san-windows.mdx
  pages/dedibox-rpn/how-to/connect-rpn-san.mdx
  pages/dedibox-rpn/how-to/use-rpn-san-esxi-v7.mdx
  pages/dedibox-rpn/how-to/use-rpn-san-esxi.mdx
  pages/dedibox-rpn/how-to/use-rpn-vpn.mdx
  pages/dedibox-scaleway/concepts.mdx
  pages/dedibox/how-to/manage-packages.mdx
  pages/elastic-metal/concepts.mdx
  pages/elastic-metal/how-to/create-server.mdx
  pages/elastic-metal/how-to/install-server.mdx
  pages/elastic-metal/how-to/use-rescue-mode.mdx
  pages/instances/reference-content/manual-configuration-private-ips.mdx
  pages/instances/reference-content/preventing-outgoing-ddos.mdx
  pages/instances/reference-content/understanding-differences-x86-arm.mdx
  pages/kubernetes/how-to/monitor-cluster.mdx
Labels: type: maintenance, priority: low

#5466 docs(em): update doc fail2ban
  pages/elastic-metal/troubleshooting/troubleshoot-remote-access-issues.mdx
  tutorials/protect-server-fail2ban/index.mdx
Labels: type: maintenance

#5449 fix(gen): triangle concepts
  pages/account/concepts.mdx
  pages/environmental-footprint/concepts.mdx
  pages/iam/concepts.mdx
  pages/managed-databases-for-postgresql-and-mysql/api-cli/setting-up-encryption-at-rest.mdx
  pages/managed-databases-for-postgresql-and-mysql/concepts.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-read-replicas.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-snapshots.mdx
  pages/managed-databases-for-postgresql-and-mysql/reference-content/encryption-at-rest-performance-benchmark.mdx
  pages/managed-databases-for-redis/concepts.mdx
  pages/organizations-and-projects/concepts.mdx
  pages/transactional-email/concepts.mdx
Labels: type: maintenance, priority: low, status: doc review

#5479 feat(changelog): functions-added-custom-domains-now-supports-websockets 2025-08-28
  changelog/august2025/2025-08-28-functions-added-custom-domains-now-supports-websockets.mdx
Labels: type: changelog

#5483 fix(changelog): title
  changelog/august2025/2025-08-28-functions-added-custom-domains-now-supports-websockets.mdx
Labels: type: changelog

#5477 feat(cockpit): remove retention pricing banner
  pages/cockpit/faq.mdx
  pages/cockpit/how-to/change-data-retention.mdx
  pages/cockpit/reference-content/cockpit-limitations.mdx
Labels: type: maintenance

#5455 docs(srv): add migration guide for serverless containers MTA-6412
  menu/navigation.json
  pages/serverless-containers/reference-content/migrate-to-serverless-containers.mdx
Labels: priority: medium, status: doc review, product: serverless
