Repository scaleway/docs-content, pull requests merged in 2025-02, with the labels that each got.

#4233 docs(srv): update how to create function and reorg pages MTA-5477
  changelog/serverless/january2023/2023-01-11-added-functions-php-extensions.mdx
  changelog/serverless/september2022/2022-09-08-functions-changed-nodejs.mdx
  changelog/serverless/september2022/2022-09-08-functions-deprecated-go.mdx
  changelog/serverless/september2022/2022-09-08-functions-deprecated-nodejs.mdx
  changelog/serverless/september2022/2022-09-08-functions-deprecated-python.mdx
  faq/serverless-functions.mdx
  macros/serverless/difference-jobs-functions-containers.mdx
  menu/navigation.json
  pages/serverless-functions/api-cli/deploy-function-cli.mdx
  pages/serverless-functions/how-to/create-a-function.mdx
  pages/serverless-functions/quickstart.mdx
  pages/serverless-functions/reference-content/functions-runtimes.mdx
Labels: priority: low, status: doc review

#4339 fix(serverless): some qa on links
  pages/serverless-containers/how-to/test-a-container.mdx
  pages/serverless-functions/how-to/add-trigger-to-a-function.mdx
  pages/serverless-functions/reference-content/deploy-function.mdx
  pages/serverless-jobs/concepts.mdx
  pages/serverless-jobs/quickstart.mdx
Labels: product: serverless

#4316 docs(srv): add info on trigger permissions for faas caas MTA-5533
  pages/serverless-containers/how-to/add-trigger-to-a-container.mdx
  pages/serverless-functions/how-to/add-trigger-to-a-function.mdx
Labels: priority: low, status: doc review, product: serverless

#4290 docs(k8s): add observability docs
  menu/navigation.json
  pages/kubernetes/how-to/access-kubernetes-dashboard.mdx
  pages/kubernetes/how-to/monitor-cluster.mdx
  pages/kubernetes/how-to/monitor-data-plane-with-cockpit.mdx
Labels: status: ready

#3805 docs(DLB): update FAQ/create troubleshooting on cluster scaling MTA-5133
  faq/data-lab.mdx
  pages/data-lab/how-to/manage-delete-data-lab.mdx
  pages/data-lab/troubleshooting/cannot-run-data-lab.mdx
Labels: priority: high, status: doc review

#4118 fix(gen): update repo files
  LICENSE.md
  README.md
  docs/DOC_PAGE_TEMPLATE.mdx
Labels: do not merge

#4348 fix(gen): fixed some small issues
  menu/navigation.json
  pages/data-lab/troubleshooting/index.mdx
  pages/kubernetes/how-to/monitor-cluster.mdx
  pages/kubernetes/how-to/monitor-data-plane-with-cockpit.mdx
  pages/messaging/concepts.mdx
  pages/organizations-and-projects/additional-content/organization-quotas.mdx
  pages/serverless-containers/concepts.mdx
  pages/serverless-functions/how-to/create-a-function.mdx
Labels: priority: medium

#4324 docs(obj): update api key troubleshooting MTA-5528
  menu/navigation.json
  pages/iam/troubleshooting/cannot-use-resources.mdx
  pages/object-storage/troubleshooting/api-key-does-not-work.mdx
Labels: status: tech review, priority: low, status: doc review

#4342 docs(srv): update handler reference MTA-5521
  menu/navigation.json
  pages/serverless-functions/how-to/package-function-dependencies-in-zip.mdx
  pages/serverless-functions/reference-content/functions-handlers.mdx
Labels: priority: low, status: doc review, product: serverless

#4349 fix(docs): review docs
  faq/edge-services.mdx
  pages/edge-services/reference-content/cname-record.mdx
  pages/edge-services/reference-content/ssl-tls-certificate.mdx
  pages/vpc/troubleshooting/private-dns-dhcp-not-working.mdx
Labels: type: maintenance

#4356 feat(wbh): add troubleshooting
  menu/navigation.json
  pages/webhosting/troubleshooting/cant-access-website-mail.mdx
  pages/webhosting/troubleshooting/cant-connect-ftp.mdx
  pages/webhosting/troubleshooting/index.mdx
  pages/webhosting/troubleshooting/troubleshooting-access-issues-cpanel-plesk.mdx
  pages/webhosting/troubleshooting/troubleshooting-dns-issues.mdx
  pages/webhosting/troubleshooting/troubleshooting-email.mdx
Labels: type: new content, status: doc review

#4357 feat(em): add troubleshoot guides
  menu/navigation.json
  pages/elastic-metal/troubleshooting/troubleshoot-access-issues.mdx
  pages/elastic-metal/troubleshooting/troubleshoot-installation.mdx
  pages/elastic-metal/troubleshooting/troubleshoot-remote-access-issues.mdx
  pages/elastic-metal/troubleshooting/troubleshoot-ssh-issues.mdx
Labels: type: new content

#4364 fix(iam): troubleshooting index
  pages/iam/troubleshooting/index.mdx
Labels: type: maintenance, priority: high, status: doc review

#4363 fix(dlb): update faq
  faq/data-lab.mdx
Labels: priority: high, status: doc review

#4365 feat(ins): add info that routed ip migration is complete
  pages/instances/how-to/migrate-routed-ips.mdx
Labels: type: maintenance

#4343 docs(cpt): troubleshooting
  menu/navigation.json
  pages/cockpit/troubleshooting/assets/scaleway_cpt_grafana_datasources_troubleshooting.webp
  pages/cockpit/troubleshooting/resetting-grafana-password-via-the-api.mdx
  pages/cockpit/troubleshooting/synchronize-grafana-data-sources.mdx
Labels: type: new content

#4361 docs(srv): add info on pn compatibility MTA-5526
  faq/serverless-containers.mdx
  faq/serverless-functions.mdx
  faq/serverless-jobs.mdx
  pages/serverless-containers/concepts.mdx
  pages/serverless-containers/reference-content/containers-limitations.mdx
  pages/serverless-functions/concepts.mdx
  pages/serverless-functions/reference-content/functions-limitations.mdx
  pages/serverless-jobs/concepts.mdx
  pages/serverless-jobs/reference-content/jobs-limitations.mdx
Labels: product: serverless

#4369 docs(ddx): add troubleshooting information smart test
  pages/dedibox-hardware/troubleshooting/diagnose-defective-disk.mdx
Labels: type: maintenance

#4367 docs(gen): suggested keywords update
  pages/index.mdx
Labels: type: maintenance, priority: low

#4373 fix(mdb): public beta message
  pages/managed-mongodb-databases/index.mdx
Labels: priority: medium, status: doc review

#4359 feat(components): add product icons in component listing
  pages/components/docs-editor.mdx
Labels: status: ready

#4381 docs(srv): add function build error troubleshooting MTA-5554
  menu/navigation.json
  pages/serverless-functions/troubleshooting/function-build-error.mdx
Labels: priority: low, status: doc review, product: serverless

#4374 docs(audit-trail): add tutorial to export audit trail to datadog
  tutorials/export-audit-trail-to-datadog/index.mdx
Labels: status: doc review

#4377 feat(em): update elastic metal quotas
  pages/organizations-and-projects/additional-content/organization-quotas.mdx
Labels: status: ready

#4382 fix(ins): add pop2-win bandwidth
  pages/instances/reference-content/instances-bandwidth-overview.mdx
Labels: priority: medium

#4390 feat(changelog): key-manager-added-key-manager-is-in-general-availabilit 2025-02-11
  changelog/february2025/2025-02-11-key-manager-added-key-manager-is-in-general-availabilit.mdx
Labels: type: changelog

#4389 chore(gen): review docs bare metal and web hosting
  pages/account/how-to/change-language.mdx
  pages/classic-hosting/how-to/change-email-account-password.mdx
  pages/classic-hosting/how-to/configure-htaccess-file.mdx
  pages/classic-hosting/how-to/connect-via-ftp.mdx
  pages/classic-hosting/how-to/create-alias.mdx
  pages/classic-hosting/how-to/create-email-account.mdx
  pages/classic-hosting/how-to/create-ftp-account.mdx
  pages/classic-hosting/how-to/delete-email-account.mdx
  pages/classic-hosting/how-to/manage-email-filter.mdx
  pages/dedibox-account/how-to/accept-outsourcing.mdx
  pages/dedibox-account/how-to/add-payment-method.mdx
  pages/dedibox-account/how-to/contact-support.mdx
  pages/dedibox-account/how-to/disable-two-factor-authentication.mdx
  pages/dedibox-account/how-to/enable-two-factor-authentication.mdx
  pages/dedibox-account/how-to/manage-data-settings.mdx
  pages/dedibox-account/how-to/outsource-dedibox.mdx
  pages/dedibox-account/how-to/recover-password-lost-email.mdx
  pages/dedibox-account/how-to/report-incident.mdx
  pages/dedibox-account/how-to/revoke-outsourcing.mdx
  pages/dedibox-account/how-to/update-email.mdx
  pages/dedibox-account/how-to/update-password.mdx
  pages/dedibox-account/how-to/upload-an-ssh-key.mdx
  pages/dedibox-account/quickstart.mdx
  pages/dedibox-ip-failover/how-to/configure-centos.mdx
  pages/dedibox-ip-failover/how-to/order-failover-ip.mdx
  pages/dedibox-ipv6/how-to/debug-ipv6.mdx
  pages/dedibox-scaleway/concepts.mdx
  pages/dedibox/how-to/manage-packages.mdx
  pages/dedibox/how-to/migrate-server.mdx
  pages/dedibox/how-to/use-dedibackup-ftp-backup.mdx
  pages/elastic-metal/how-to/add-virtual-mac-address.mdx
  pages/elastic-metal/how-to/attach-detach-flexible-ip.mdx
  pages/elastic-metal/how-to/configure-flexible-ip.mdx
  pages/elastic-metal/how-to/configure-flexible-ipv6.mdx
  pages/elastic-metal/how-to/configure-reverse-dns-flexible-ip.mdx
  pages/elastic-metal/how-to/enable-smtp.mdx
  pages/elastic-metal/how-to/order-flexible-ip.mdx
  pages/elastic-metal/how-to/reboot-server.mdx
  pages/elastic-metal/how-to/reinstall-server.mdx
  pages/elastic-metal/how-to/view-the-event-logs.mdx
  pages/gpu/concepts.mdx
  pages/instances/api-cli/cli-cheatsheet.mdx
  pages/instances/api-cli/using-placement-groups.mdx
  pages/instances/troubleshooting/cant-connect-ssh.mdx
  pages/instances/troubleshooting/fix-dns-routed-ipv6-only-debian-bullseye.mdx
  pages/instances/troubleshooting/fix-lost-ip-connectivity-on-debian-buster.mdx
  pages/webhosting/how-to/terminate-webhosting.mdx
Labels: type: maintenance

#4393 fix(gen): fix missing concepts icon for overview pages
  pages/apple-silicon/index.mdx
  pages/billing/index.mdx
  pages/classic-hosting/index.mdx
  pages/data-lab/index.mdx
  pages/dedibox-account/index.mdx
  pages/dedibox-dns/index.mdx
  pages/dedibox-domains/index.mdx
  pages/dedibox-hardware/index.mdx
  pages/dedibox-ip-failover/index.mdx
  pages/dedibox-ipv6/index.mdx
  pages/dedibox-kvm-over-ip/index.mdx
  pages/dedibox-rpn/index.mdx
  pages/dedibox-scaleway/index.mdx
  pages/dedibox-vps/index.mdx
  pages/dedibox/index.mdx
  pages/elastic-metal/index.mdx
  pages/environmental-footprint/environmental-footprint/index.mdx
  pages/environmental-footprint/index.mdx
  pages/generative-apis/index.mdx
  pages/gpu/index.mdx
  pages/instances/index.mdx
  pages/iot-hub/index.mdx
  pages/kubernetes/index.mdx
  pages/managed-inference/index.mdx
  pages/webhosting/index.mdx
Labels: Documentation Bug

#4396 docs(adt): fix index
  pages/audit-trail/index.mdx
Labels: type: bug

#4399 fix(rdb): reviews
  faq/containerregistry.mdx
  faq/databases-for-redis.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/add-users.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/create-a-database.mdx
  pages/managed-databases-for-redis/how-to/delete-a-database-for-redis.mdx
Labels: type: maintenance, priority: low, status: doc review

#4392 chore(tuto): review tutorial content
  pages/guidelines.mdx
  tutorials/dagster-serverless-jobs/index.mdx
  tutorials/deploy-meilisearch-instance/index.mdx
  tutorials/deploying-a-documentation-website-with-docusaurus-on-scaleway/index.mdx
  tutorials/get-started-kubernetes-storage/index.mdx
  tutorials/pihole-vpn/index.mdx
  tutorials/run-manage-linux-vm-on-apple-silicon-tart/index.mdx
  tutorials/send-emails-with-serverless-and-tem/index.mdx
  tutorials/use-cockpit-with-terraform/index.mdx
Labels: type: maintenance

#4384 chore(gen): docs review MTA-5542
  pages/account/how-to/change-language.mdx
  pages/account/how-to/configure-support-plans.mdx
  pages/account/how-to/manage-my-personal-data-gdpr.mdx
  pages/account/how-to/verify-identity.mdx
  pages/account/quickstart.mdx
  pages/object-storage/api-cli/migrating-buckets.mdx
  pages/object-storage/api-cli/share-buckets-read-only.mdx
  pages/object-storage/reference-content/cname-record.mdx
  pages/object-storage/reference-content/optimize-object-storage-performance.mdx
  pages/object-storage/reference-content/ssl-tls-certificate.mdx
  pages/serverless-containers/reference-content/cron-schedules.mdx
  pages/serverless-functions/how-to/add-a-custom-domain-name-to-a-function.mdx
  pages/serverless-functions/how-to/create-auth-token-from-console.mdx
  pages/serverless-functions/how-to/delete-a-function.mdx
  pages/serverless-functions/how-to/manage-a-function.mdx
  pages/serverless-functions/quickstart.mdx
  pages/serverless-functions/reference-content/cron-schedules.mdx
  pages/serverless-functions/reference-content/functions-billing.mdx
  pages/serverless-functions/reference-content/functions-limitations.mdx
  pages/serverless-functions/reference-content/functions-runtimes-configuration.mdx
Labels: priority: low, status: doc review

#4355 fix(efp): add faq icon
  faq/environmental-footprint.mdx
Labels: type: maintenance, status: ready, priority: medium

#4383 fix(gen): update codeowners
  .github/CODEOWNERS
Labels: priority: low, status: doc review

#4408 fix(gen): updated tutorials categories MTA-5601
  tutorials/easydeploy-argocd/index.mdx
  tutorials/easydeploy-gitlab-runner/index.mdx
  tutorials/easydeploy-gitlab-server/index.mdx
  tutorials/easydeploy-grafana/index.mdx
  tutorials/easydeploy-vault/index.mdx
  tutorials/enabling-encryption-in-kapsule-with-cilium/index.mdx
  tutorials/kubernetes-package-management-helm/index.mdx
Labels: priority: low

#4409 fix(vpc): correct diagram
  pages/vpc/reference-content/assets/scaleway-routing-diag-custom.webp
Labels: type: maintenance, status: doc review

#4400 docs(srv): update local testing functions doc MTA-5558
  pages/serverless-functions/reference-content/local-testing.mdx
Labels: priority: low, product: serverless

#4411 docs(km): fix faq icon
  faq/key-manager.mdx
Labels: type: bug

#4403 feat(serverless): dedicated ip info
  pages/serverless-containers/reference-content/containers-limitations.mdx
  pages/serverless-functions/reference-content/functions-limitations.mdx
  pages/serverless-jobs/reference-content/jobs-limitations.mdx
Labels: product: serverless

#4418 feat(changelog): generative-apis-added-new-models-preview-deepseek-r1-an 2025-02-14
  changelog/february2025/2025-02-14-generative-apis-added-new-models-preview-deepseek-r1-an.mdx
Labels: type: changelog

#4419 feat(changelog): managed-inference-added-new-model-preview-deepseek-r1-d 2025-02-14
  changelog/february2025/2025-02-14-managed-inference-added-new-model-preview-deepseek-r1-d.mdx
Labels: type: changelog

#4335 fix(ddx): netplan
  pages/dedibox-ip-failover/how-to/configure-debian-ubuntu.mdx
Labels: type: maintenance, status: doc review

#4422 docs(dedibox-hardware): add missing content
  pages/dedibox-hardware/troubleshooting/diagnose-defective-disk.mdx
Labels: type: maintenance

#4431 feat(bil): savings plans improvements MTA-5530
  pages/billing/additional-content/assets/scaleway-invoice-taxes.webp
  pages/billing/additional-content/understanding-savings-plans.mdx
Labels: type: maintenance, status: tech review, priority: medium, status: doc review

#4432 fix(bil): reviews 17/02
  faq/billing.mdx
  pages/billing/concepts.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/add-a-database.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/delete-db.mdx
Labels: type: maintenance, priority: low, status: doc review

#4439 chore(gen): review tutorials
  tutorials/deploy-openproject-database-postgresql/index.mdx
  tutorials/get-started-python/index.mdx
  tutorials/install-docker-ubuntu-jammy-jellyfish/index.mdx
  tutorials/install-mattermost/index.mdx
  tutorials/send-emails-tem-serverless-framework/index.mdx
Labels: type: maintenance

#4428 feat(wbh): docs content review
  menu/navigation.json
  pages/classic-hosting/how-to/change-ftp-account-password.mdx
  pages/classic-hosting/how-to/configure-outlook.mdx
  pages/classic-hosting/how-to/retrieve-headers-of-email.mdx
  pages/cpanel-hosting/reference-content.mdx
  pages/dedibox-account/how-to/create-a-dedibox-account.mdx
  pages/dedibox-account/how-to/outsource-failover-ip.mdx
  pages/dedibox-dns/how-to/add-dns-delegation.mdx
  pages/dedibox-hardware/how-to/configure-dell-perc-h800.mdx
  pages/dedibox-hardware/how-to/configure-raid-kvm-p410.mdx
  pages/dedibox-hardware/how-to/configure-raid-kvm-p420.mdx
  pages/dedibox-ip-failover/how-to/configure-multiip-virtualmac.mdx
  pages/dedibox-ipv6/how-to/create-subnet.mdx
  pages/dedibox-network/how-to/subscribe-to-jmrp.mdx
  pages/dedibox-rpn/how-to/connect-rpn-san-windows.mdx
  pages/dedibox-rpn/how-to/connect-rpn-san.mdx
  pages/dedibox-rpn/how-to/use-rpn-san-esxi-v7.mdx
  pages/dedibox-rpn/how-to/use-rpn-san-esxi.mdx
  pages/dedibox-rpn/how-to/use-rpn-vpn.mdx
  pages/dedibox/how-to/manage-packages.mdx
  pages/elastic-metal/concepts.mdx
  pages/elastic-metal/how-to/create-server.mdx
  pages/elastic-metal/how-to/install-server.mdx
  pages/elastic-metal/how-to/use-rescue-mode.mdx
  pages/instances/concepts.mdx
  pages/instances/how-to/snapshot-import-export-feature.mdx
  pages/instances/reference-content/choosing-instance-type.mdx
  pages/instances/reference-content/manual-configuration-private-ips.mdx
  pages/instances/reference-content/preventing-outgoing-ddos.mdx
  pages/instances/reference-content/understanding-differences-x86-arm.mdx
  pages/kubernetes/how-to/monitor-cluster.mdx
  pages/webhosting/how-to/order-dedicated-ip.mdx
  pages/webhosting/how-to/protect-webhosting.mdx
  pages/webhosting/reference-content/cpanel-reference-content.mdx
Labels: type: maintenance, status: doc review

#4429 feat(tem): retours jj
  pages/transactional-email/how-to/add-dmarc-record.mdx
  pages/transactional-email/how-to/add-spf-dkim-records-to-your-domain.mdx
  pages/transactional-email/how-to/configure-domain-with-transactional-email.mdx
Labels: type: maintenance, status: tech review, priority: low

#4401 docs(cpt): tutorial to configure slack alerting
  pages/cockpit/how-to/configure-alerts-for-scw-resources.mdx
  pages/cockpit/index.mdx
  tutorials/configure-slack-alerting/assets/scaleway-slack-alerts-firing.webp
  tutorials/configure-slack-alerting/index.mdx
Labels: type: new content

#4447 docs(fix): add tags in cockpit tuto
  tutorials/configure-slack-alerting/index.mdx
Labels: type: maintenance

#4442 feat(rdb): pgcron - MTA-5588
  menu/navigation.json
  pages/managed-databases-for-postgresql-and-mysql/api-cli/using-pgcron.mdx
Labels: type: new content, status: tech review, priority: medium, status: doc review

#4450 fix(vpc): update concept
  pages/vpc/concepts.mdx
Labels: status: doc review

#4449 docs(k8s): remove routed ip migration docs
  menu/navigation.json
  pages/kubernetes/reference-content/move-kubernetes-nodes-routed-ip.mdx
Labels: priority: low

#4414 feat(genai): add content for Continue Dev documentation for GenAPIs
  menu/navigation.json
  pages/generative-apis/how-to/query-code-models.mdx
  pages/generative-apis/reference-content/adding-ai-to-intellij-using-continue.mdx
  pages/generative-apis/reference-content/adding-ai-to-vscode-using-continue.mdx
  pages/generative-apis/reference-content/integrating-generative-apis-with-popular-tools.mdx
Labels: status: doc review

#4451 fix(key-manager): replace deprecated link
  pages/key-manager/concepts.mdx
Labels: type: maintenance

#4433 feat(genapi): add tuto openwebui
  tutorials/deploy-openwebui-with-generative-apis/index.mdx
Labels: type: new content, status: doc review

#4438 docs(srv): add content reference on autoscaling MTA-5516
  menu/navigation.json
  pages/serverless-containers/reference-content/containers-autoscaling.mdx
  pages/serverless-functions/reference-content/functions-autoscaling.mdx
Labels: product: serverless

#4445 feat(tutorial): add tuto for istio and k8s
  tutorials/deploy-istio-kapsule-proxy-protocol/index.mdx
  tutorials/proxy-protocol-v2-load-balancer/index.mdx
Labels: type: new content, status: doc review

#4458 fix(tutorials): update tutorial category
  tutorials/deploy-openwebui-with-generative-apis/index.mdx
Labels: priority: low

#4460 fix(tem): add new permission sets
  pages/iam/reference-content/permission-sets.mdx
Labels: type: maintenance, priority: low, status: doc review

#4434 feat(mdb): vpc - MTA-5613
  menu/navigation.json
  pages/managed-databases-for-postgresql-and-mysql/how-to/connect-database-private-network.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/create-a-database.mdx
  pages/managed-databases-for-redis/how-to/create-a-database-for-redis.mdx
  pages/managed-mongodb-databases/how-to/connect-database-instance.mdx
  pages/managed-mongodb-databases/how-to/connect-database-private-network.mdx
  pages/managed-mongodb-databases/how-to/create-a-database-instance.mdx
Labels: type: new content, do not merge, status: tech review, status: doc review

#4459 feat(changelog): transactional-email-added-new-permissions-for-email-cre 2025-02-21
  changelog/february2025/2025-02-21-transactional-email-added-new-permissions-for-email-cre.mdx
Labels: type: changelog

#4468 feat(cockpit): add more info in troubleshooting
  pages/cockpit/troubleshooting/synchronize-grafana-data-sources.mdx
Labels: type: maintenance

#4483 fix(gen): codeowners
  .github/CODEOWNERS
Labels: type: maintenance

#4481 feat(changelog): functions-fixed-functions-cron-trigger-validation-rules 2025-02-24
  changelog/february2025/2025-02-24-functions-fixed-functions-cron-trigger-validation-rules.mdx
Labels: type: changelog

#4478 feat(changelog): mongodb-added-vpc-x-managed-mongodbr-integration 2025-02-24
  changelog/february2025/2025-02-24-mongodb-added-vpc-x-managed-mongodbr-integration.mdx
Labels: type: changelog

#4480 feat(changelog): containers-fixed-container-cron-trigger-validation-rule 2025-02-24
  changelog/february2025/2025-02-24-containers-fixed-container-cron-trigger-validation-rule.mdx
Labels: type: changelog

#4479 fix(vpc): add limitations and faq
  faq/vpc.mdx
  pages/vpc/how-to/manage-routing.mdx
  pages/vpc/reference-content/understanding-routing.mdx
Labels: type: maintenance, status: doc review

#4484 fix(lb): doc review
  pages/load-balancer/how-to/monitor-lb-cockpit.mdx
  pages/load-balancer/how-to/resize-lb.mdx
Labels: type: maintenance, status: doc review

#4475 docs(genapi): add docs
  menu/navigation.json
  pages/generative-apis/reference-content/adding-ai-to-intellij-using-continue.mdx
  pages/generative-apis/reference-content/adding-ai-to-vscode-using-continue.mdx
  pages/generative-apis/reference-content/integrating-generative-apis-with-popular-tools.mdx
Labels: do not merge, status: tech review

#4473 feat(vpc): add connectivity troubleshooting
  menu/navigation.json
  pages/ipam/reference-content/public-connectivity-best-practices.mdx
  pages/vpc/troubleshooting/vpc-pn-routing-connectivity-issues.mdx
Labels: type: new content, status: doc review

#4487 feat(changelog): kubernetes-added-data-plane-logs-in-cockpit 2025-02-25
  changelog/february2025/2025-02-25-kubernetes-added-data-plane-logs-in-cockpit.mdx
Labels: type: changelog

#4486 fix(bil): reviews 24/02
  pages/billing/how-to/add-payment-method.mdx
  pages/billing/how-to/change-billing-information.mdx
  pages/billing/how-to/change-payment-method.mdx
  pages/billing/how-to/use-billing-alerts.mdx
  tutorials/configuring-gitlab-scaleway-elements-database/index.mdx
Labels: type: maintenance, priority: low, status: doc review

#4485 fix(bil): docs update
  faq/billing.mdx
  menu/navigation.json
  pages/account/reference-content/protecting-yourself-fraud-phishing.mdx
  pages/billing/troubleshooting/cannot-add-payment-method.mdx
  pages/billing/troubleshooting/fix-common-billing-issues.mdx
Labels: type: maintenance

#4477 feat(changelog): edge-services-deprecated-edge-services-v1alpha1-depreca 2025-02-24
  changelog/february2025/2025-02-24-edge-services-deprecated-edge-services-v1alpha1-depreca.mdx
Labels: type: changelog

#4494 fix(changelog): fix changelog formatting
  changelog/february2025/2025-02-25-kubernetes-added-data-plane-logs-in-cockpit.mdx
Labels: type: bug

#4491 feat(changelog): generative-apis-deprecated-deprecation-llama-31-70b 2025-02-25
  changelog/february2025/2025-02-25-generative-apis-deprecated-deprecation-llama-31-70b.mdx
Labels: type: changelog

#4498 feat(changelog): postgresql-and-mysql-added-pg-v16-support 2025-02-26
  changelog/february2025/2025-02-26-postgresql-and-mysql-added-pg-v16-support.mdx
Labels: type: changelog

#4497 fix(vpc): minor modifs
  faq/vpc.mdx
  pages/vpc/troubleshooting/vpc-pn-routing-connectivity-issues.mdx
Labels: type: maintenance, status: doc review

#4496 feat(serverles): add more cron in cheatsheet
  macros/serverless/cron-schedules.mdx
Labels: product: serverless

#4464 fix(efc): remove EM mentions
  menu/navigation.json
  pages/environmental-footprint/additional-content/environmental-footprint-calculator-estimation.mdx
  pages/environmental-footprint/additional-content/environmental-footprint-calculator.mdx
  pages/environmental-footprint/additional-content/environmental-footprint-integration.mdx
  pages/environmental-footprint/environmental-footprint/additional-content/assets/scaleway-allocation-rules-cross-funct-it-equip.webp
  pages/environmental-footprint/environmental-footprint/additional-content/assets/scaleway-allocation-rules-customer-it-equip.webp
  pages/environmental-footprint/environmental-footprint/additional-content/assets/scaleway-allocation-rules-dc-techenv-manuf.webp
  pages/environmental-footprint/environmental-footprint/additional-content/assets/scaleway-allocation-rules-dc-techenv.webp
  pages/environmental-footprint/environmental-footprint/additional-content/assets/scaleway-allocation-rules-network.webp
  pages/environmental-footprint/environmental-footprint/additional-content/assets/scaleway-allocation-rules-non-it-cross-funct.webp
  pages/environmental-footprint/environmental-footprint/additional-content/assets/scaleway-env-footprint-co2eq-formula.webp
  pages/environmental-footprint/environmental-footprint/additional-content/assets/scaleway-env-footprint-order-summary.webp
  pages/environmental-footprint/environmental-footprint/additional-content/assets/scaleway-env-impact-estimation-az.webp
  pages/environmental-footprint/environmental-footprint/additional-content/assets/scaleway-focus-on-cross-func-it-equipment.webp
  pages/environmental-footprint/environmental-footprint/additional-content/assets/scaleway-leaves-rating-env-foot.webp
  pages/environmental-footprint/environmental-footprint/additional-content/assets/scaleway-overall-env-footprint-calc.webp
  pages/environmental-footprint/environmental-footprint/additional-content/assets/scaleway-select-a-server-env-foot.webp
  pages/environmental-footprint/environmental-footprint/additional-content/environmental-footprint-calculator-estimation.mdx
  pages/environmental-footprint/environmental-footprint/additional-content/environmental-footprint-calculator.mdx
  pages/environmental-footprint/environmental-footprint/additional-content/environmental-footprint-integration.mdx
  pages/environmental-footprint/environmental-footprint/additional-content/index.mdx
  pages/environmental-footprint/environmental-footprint/concepts.mdx
  pages/environmental-footprint/environmental-footprint/how-to/assets/scaleway-env-foot-dashboard.webp
  pages/environmental-footprint/environmental-footprint/how-to/assets/scaleway-env-footprint-order-summary.webp
  pages/environmental-footprint/environmental-footprint/how-to/assets/scaleway-env-monthly-report-detailed.webp
  pages/environmental-footprint/environmental-footprint/how-to/assets/scaleway-env-report-glossary.webp
  pages/environmental-footprint/environmental-footprint/how-to/index.mdx
  pages/environmental-footprint/environmental-footprint/how-to/track-monthly-footprint.mdx
  pages/environmental-footprint/environmental-footprint/index.mdx
  pages/environmental-footprint/how-to/track-monthly-footprint.mdx
  pages/environmental-footprint/index.mdx
Labels: type: maintenance, do not merge, status: tech review, status: doc review

#4500 feat(changelog): environmental-footprint-added-environmental-footprint-c 2025-02-26
  changelog/february2025/2025-02-26-environmental-footprint-added-environmental-footprint-c.mdx
Labels: type: changelog

#4507 fix(gen): overview names
  menu/navigation.json
Labels: type: maintenance, priority: low, status: doc review

#4379 docs(srv): add how to create alerts for srv ressources MTA-5503
  menu/navigation.json
  pages/serverless-containers/how-to/configure-alerts-containers.mdx
  pages/serverless-containers/reference-content/containers-autoscaling.mdx
  pages/serverless-functions/how-to/configure-alerts-function.mdx
  pages/serverless-functions/reference-content/functions-autoscaling.mdx
  pages/serverless-jobs/how-to/configure-alerts-jobs.mdx
Labels: priority: low, status: doc review, product: serverless

#4511 docs(domains): weekly review
  pages/classic-hosting/concepts.mdx
  pages/classic-hosting/how-to/access-logcenter.mdx
  pages/classic-hosting/how-to/access-statistics.mdx
  pages/classic-hosting/how-to/change-password-postgresql-database.mdx
  pages/classic-hosting/how-to/check-emails.mdx
  pages/classic-hosting/how-to/configure-backup-option.mdx
  pages/classic-hosting/how-to/configure-php.mdx
  pages/classic-hosting/how-to/create-email-redirection.mdx
  pages/classic-hosting/how-to/create-email-transfer.mdx
  pages/classic-hosting/how-to/create-mysql-database.mdx
  pages/classic-hosting/how-to/create-postgresql-database.mdx
  pages/classic-hosting/how-to/create-subdomain.mdx
  pages/classic-hosting/how-to/delete-email-redirection.mdx
  pages/classic-hosting/how-to/delete-email-transfer.mdx
  pages/classic-hosting/how-to/delete-ftp-account.mdx
  pages/classic-hosting/how-to/delete-mysql-database.mdx
  pages/classic-hosting/how-to/delete-postgresql-database.mdx
  pages/classic-hosting/how-to/delete-subdomain.mdx
  pages/classic-hosting/how-to/enable-https.mdx
  pages/classic-hosting/how-to/encrypt-emails-with-pgp-using-webmail.mdx
  pages/classic-hosting/how-to/manage-mysql-database-phpmyadmin.mdx
  pages/classic-hosting/how-to/manage-postgresql-database-adminer.mdx
  pages/classic-hosting/quickstart.mdx
  pages/cpanel-hosting/reference-content.mdx
  pages/domains-and-dns/how-to/add-external-domain.mdx
  pages/domains-and-dns/how-to/assets/scaleway-dns-add-zone.webp
  pages/domains-and-dns/how-to/assets/scaleway-dns-ext-domain-estimated-cost.webp
  pages/domains-and-dns/how-to/assets/scaleway-domain-unlock.webp
  pages/domains-and-dns/how-to/configure-autorenew.mdx
  pages/domains-and-dns/how-to/configure-dns-zones.mdx
  pages/domains-and-dns/how-to/manage-external-domain.mdx
  pages/domains-and-dns/how-to/register-internal-domain.mdx
  pages/domains-and-dns/how-to/unlock-internal-domain.mdx
Labels: type: maintenance

#4410 feat(infr): add faq
  faq/managed-inference.mdx
Labels: status: doc review

#4406 feat(genapi): add faq
  faq/generative-apis.mdx
Labels: status: doc review

#4510 fix(em): update quotas
  pages/organizations-and-projects/additional-content/organization-quotas.mdx
Labels: status: ready

#4502 feat(changelog): containers-added-serverless-containers-new-autoscaling- 2025-02-26
  changelog/february2025/2025-02-26-containers-added-serverless-containers-new-autoscaling-.mdx
Labels: type: changelog

#4501 feat(changelog): functions-fixed-function-pagination-fix 2025-02-26
  changelog/february2025/2025-02-26-functions-fixed-function-pagination-fix.mdx
Labels: type: changelog

#4508 docs(object-storage): clarification int-fix-object-storage
  pages/object-storage/api-cli/bucket-policy.mdx
Labels: do not merge

#4519 fix(block-sto): update bssd name
  pages/block-storage/reference-content/advantages-migrating-to-sbs.mdx
Labels: type: maintenance
