Repository scaleway/docs-content, pull requests merged in 2025-01, with the labels that each got.

#4159 feat(vpc): add info on DNS
  menu/navigation.json
  network/vpc/concepts.mdx
  network/vpc/how-to/attach-resources-to-pn.mdx
  network/vpc/reference-content/dns.mdx
  network/vpc/reference-content/getting-most-private-networks.mdx
Labels: type: new content, priority: low, status: doc review

#4163 fix(tutos): pt 2
  tutorials/deploy-chatwoot-self-care/index.mdx
  tutorials/deploy-clickhouse-database/index.mdx
  tutorials/gitlab-instant-app/index.mdx
  tutorials/install-openlitespeed-wordpress/index.mdx
  tutorials/install-wireguard/index.mdx
  tutorials/installation-lemp-ubuntu-bionic/index.mdx
  tutorials/installation-lemp-ubuntu-focal/index.mdx
  tutorials/jitsi-ubuntu-focal-fossa/index.mdx
  tutorials/magento-ubuntu/index.mdx
  tutorials/mongodb-ubuntu-1604/index.mdx
  tutorials/mutli-node-rocket-chat-community-private-network/index.mdx
  tutorials/odoo/index.mdx
  tutorials/openvpn-instant-app/index.mdx
  tutorials/s3cmd/index.mdx
  tutorials/use-managed-redis-with-mysql/index.mdx
  tutorials/using-own-grafana/index.mdx
  tutorials/using-secret-manager-with-github-action/index.mdx
Labels: type: maintenance, priority: medium, status: doc review

#4164 fix(gen): reviews 30/12
  identity-and-access-management/iam/how-to/accept-invitation-to-orga.mdx
  identity-and-access-management/iam/how-to/create-api-keys.mdx
  identity-and-access-management/iam/how-to/create-application.mdx
  identity-and-access-management/iam/how-to/create-group.mdx
  identity-and-access-management/iam/how-to/create-policy.mdx
  identity-and-access-management/iam/how-to/manage-api-keys.mdx
  identity-and-access-management/iam/how-to/manage-groups.mdx
  identity-and-access-management/iam/how-to/manage-policies.mdx
  identity-and-access-management/iam/how-to/manage-users.mdx
  identity-and-access-management/iam/how-to/view-logs.mdx
  identity-and-access-management/iam/quickstart.mdx
  identity-and-access-management/iam/videos.mdx
  identity-and-access-management/organizations-and-projects/how-to/manage-quotas.mdx
  managed-databases/postgresql-and-mysql/api-cli/import-data-to-managed-postgresql-databases.mdx
  managed-services/transactional-email/how-to/add-spf-dkim-records-to-your-domain.mdx
  managed-services/transactional-email/how-to/delete-tem-domain.mdx
Labels: type: maintenance, priority: low, status: doc review

#4166 fix(docs): review network docs
  network/load-balancer/troubleshooting/load-balancer-limitations.mdx
  network/public-gateways/how-to/configure-a-public-gateway.mdx
  network/public-gateways/troubleshooting/gateway-services-not-working.mdx
  network/vpc/assets/scaleway-default-vpc.webp
  network/vpc/how-to/assets/scaleway-create-vpc.webp
  network/vpc/how-to/assets/scaleway-default-vpc.webp
  network/vpc/how-to/create-vpc.mdx
  network/vpc/how-to/delete-vpc.mdx
Labels: type: maintenance, status: doc review

#4165 feat(tuto): tutorial reviews 30/12
  tutorials/easydeploy-gitlab-server/index.mdx
  tutorials/install-ispconfig/index.mdx
  tutorials/k8s-gitlab/index.mdx
  tutorials/k8s-velero-backup/index.mdx
  tutorials/librenms-monitoring/index.mdx
  tutorials/manage-database-instance-pgadmin4/index.mdx
  tutorials/manage-k8s-logging-loki/index.mdx
  tutorials/mist-streaming-server/index.mdx
  tutorials/mlx-array-framework-apple-silicon/index.mdx
  tutorials/monitor-k8s-grafana/index.mdx
  tutorials/object-storage-s3fs/index.mdx
  tutorials/scaleway-packer-plugin/index.mdx
  tutorials/waypoint-plugin-scaleway/index.mdx
Labels: type: maintenance, status: doc review

#4160 feat(ins): compute content review 30/12/24
  ai-data/managed-inference/reference-content/mistral-7b-instruct-v0.3.mdx
  bare-metal/dedibox/reference-content/dedibox-datasheet.mdx
  bare-metal/elastic-metal/api-cli/elastic-metal-with-api.mdx
  bare-metal/elastic-metal/api-cli/elastic-metal-with-cli.mdx
  bare-metal/elastic-metal/how-to/activate-remote-access.mdx
  bare-metal/elastic-metal/how-to/get-use-loyalty-reward.mdx
  bare-metal/elastic-metal/how-to/shutdown-server.mdx
  bare-metal/elastic-metal/quickstart.mdx
  bare-metal/elastic-metal/reference-content/elastic-metal-datasheet.mdx
  bare-metal/elastic-metal/troubleshooting/replace-failed-drive-software-raid.mdx
  bare-metal/elastic-metal/troubleshooting/reset-admin-password-windows-server.mdx
  compute/gpu/troubleshooting/fix-driver-issues.mdx
  compute/instances/api-cli/attaching-a-volume.mdx
  compute/instances/api-cli/creating-a-volume.mdx
  compute/instances/api-cli/creating-backups.mdx
  compute/instances/api-cli/detaching-a-volume.mdx
  compute/instances/api-cli/using-cloud-init.mdx
  compute/instances/api-cli/using-routed-ips.mdx
  compute/instances/how-to/create-a-snapshot.mdx
  compute/instances/how-to/use-protected-instance.mdx
  compute/instances/troubleshooting/cant-connect-to-instance-with-pn-gateway.mdx
  compute/instances/troubleshooting/fix-cloud-init-debian12.mdx
Labels: type: maintenance

#4167 feat(ddx): add remaining gen 9 and 10 servers
  bare-metal/dedibox/reference-content/dedibox-datasheet.mdx
Labels: priority: low

#4156 feat(k8s): add tuto cilium
  tutorials/enabling-encryption-in-kapsule-with-cilium/index.mdx
Labels: status: ready

#4173 docs(gen): review content 2025-01-06
  ai-data/managed-inference/how-to/managed-inference-with-private-network.mdx
  bare-metal/dedibox/reference-content/dedibox-datasheet.mdx
  bare-metal/elastic-metal/how-to/adjust-available-bandwidth.mdx
  compute/instances/how-to/send-emails-from-your-instance.mdx
  compute/instances/reference-content/learning.mdx
  compute/instances/troubleshooting/reboot-from-faulty-kernel.mdx
  containers/kubernetes/how-to/enable-disable-ssh.mdx
  containers/kubernetes/reference-content/exposing-services.mdx
  containers/kubernetes/reference-content/managed-kubernetes-service-definition.mdx
  managed-services/webhosting/how-to/manage-webhosting.mdx
Labels: type: maintenance

#4174 chore(tuto): tutorial content review
  tutorials/easydeploy-gitlab-runner/index.mdx
  tutorials/install-openvpn/index.mdx
  tutorials/set-up-spf-dkim-for-dns-providers/index.mdx
  tutorials/waypoint-plugin-scaleway/index.mdx
Labels: priority: low

#4131 feat(block-storage): migration documentation
  compute/instances/how-to/migrate-volumes-snapshots-to-sbs.mdx
  faq/blockstorage.mdx
  macros/storage/block-storage-migration.mdx
  menu/navigation.json
  storage/block/api-cli/identifying-volume-snapshot-api.mdx
  storage/block/index.mdx
  storage/block/quickstart.mdx
  storage/block/reference-content/advantages-migrating-to-sbs.mdx
Labels: type: new content

#4175 fix(rdb): reviews 06/01
  containers/container-registry/how-to/connect-docker-cli.mdx
  containers/container-registry/how-to/pull-images.mdx
  identity-and-access-management/iam/how-to/invite-user-to-orga.mdx
  identity-and-access-management/iam/how-to/manage-applications.mdx
  identity-and-access-management/organizations-and-projects/api-cli/index.mdx
  identity-and-access-management/organizations-and-projects/api-cli/managing-projects.mdx
  managed-databases/postgresql-and-mysql/how-to/clone-a-database-instance.mdx
  managed-databases/postgresql-and-mysql/how-to/configure-advanced-settings.mdx
  managed-databases/postgresql-and-mysql/how-to/create-read-replica.mdx
  managed-databases/postgresql-and-mysql/how-to/delete-a-database.mdx
  managed-databases/postgresql-and-mysql/how-to/enable-autobackup.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-allowed-ip-addresses.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-manual-backups.mdx
  managed-databases/postgresql-and-mysql/how-to/manage-snapshots.mdx
  managed-databases/postgresql-and-mysql/how-to/upgrade-version.mdx
  managed-databases/postgresql-and-mysql/troubleshooting/disk-full.mdx
  managed-databases/redis/how-to/configure-advanced-settings-redis.mdx
  managed-databases/redis/how-to/connect-to-redis-database-instance.mdx
  managed-databases/redis/how-to/create-a-database-for-redis.mdx
  managed-databases/redis/how-to/manage-allowed-ip-addresses-redis.mdx
  managed-databases/redis/how-to/scale-up-a-database-for-redis.mdx
  menu/navigation.json
Labels: type: maintenance, priority: low, status: doc review

#4172 feat(cockpit): updates
  ai-data/managed-inference/how-to/monitor-deployment.mdx
  bare-metal/elastic-metal/how-to/send-metrics-logs-to-cockpit.mdx
  containers/kubernetes/how-to/access-audit-logs.mdx
  faq/cockpit.mdx
  macros/cockpit/plan-deprecation.mdx
  macros/cockpit/update-dashboards.mdx
  network/load-balancer/how-to/monitor-lb-cockpit.mdx
  observability/cockpit/how-to/change-data-retention.mdx
  observability/cockpit/reference-content/cockpit-limitations.mdx
  serverless/messaging/how-to/monitor-mnq-cockpit.mdx
  storage/object/how-to/monitor-consumption.mdx
  tutorials/pushing-metrics-logs-from-scw-instance/index.mdx
Labels: type: maintenance

#4178 fix(ins): add PRO2 instance range to bandwidth overview
  compute/gpu/reference-content/gpu-instances-bandwidth-overview.mdx
  compute/instances/reference-content/instances-bandwidth-overview.mdx
  menu/navigation.json
Labels: type: maintenance, status: ready, priority: medium

#4181 feat(changelog): kubernetes-added-ip-whitelisting-for-kubernetes-kapsule 2025-01-07
  changelog/january2025/2025-01-07-kubernetes-added-ip-whitelisting-for-kubernetes-kapsule.mdx
Labels: type: changelog

#4179 fix(docs): abuse link and how to menu titles
  console/account/how-to/report-abuse.mdx
  menu/navigation.json
Labels: priority: low, status: doc review

#4184 chore(cockpit): weekly review
  observability/cockpit/how-to/send-metrics-with-grafana-alloy.mdx
Labels: type: maintenance

#4185 feat(changelog): iam-deprecated-deprecation-of-the-resellercustomerbilli 2025-01-08
  changelog/january2025/2025-01-08-iam-deprecated-deprecation-of-the-resellercustomerbilli.mdx
Labels: type: changelog

#4162 fix(ai): update supported-models
  ai-data/generative-apis/reference-content/supported-models.mdx
Labels: do not merge

#4188 fix(menu): update name
  menu/navigation.json
Labels: type: maintenance

#4189 fix(ddx): fix typo
  dedibox/kvm-over-ip/how-to/supermicro.mdx
Labels: type: maintenance, priority: low, status: doc review

#4192 feat(changelog): cockpit-added-custom-retention-for-cockpits-datasources 2025-01-09
  changelog/january2025/2025-01-09-cockpit-added-custom-retention-for-cockpits-datasources.mdx
Labels: type: changelog

#4193 fix(iot): doc review
  managed-services/iot-hub/how-to/add-device.mdx
  managed-services/iot-hub/how-to/change-plan.mdx
  managed-services/iot-hub/how-to/connect-default-mqtt-network.mdx
  managed-services/iot-hub/how-to/connect-default-websocket-network.mdx
  managed-services/iot-hub/how-to/create-hub.mdx
  managed-services/iot-hub/how-to/create-route.mdx
  managed-services/iot-hub/how-to/delete-device.mdx
  managed-services/iot-hub/how-to/delete-hub.mdx
  managed-services/iot-hub/how-to/delete-route.mdx
  managed-services/iot-hub/how-to/enable-auto-provisioning.mdx
  managed-services/iot-hub/how-to/enable-disable-hub.mdx
  managed-services/iot-hub/how-to/provide-own-certificate-authority.mdx
  managed-services/iot-hub/how-to/provide-own-device-certificate.mdx
  managed-services/iot-hub/how-to/renew-device-certificate.mdx
  managed-services/iot-hub/how-to/setup-use-rest-network.mdx
  managed-services/iot-hub/how-to/setup-use-sigfox-network.mdx
  managed-services/iot-hub/how-to/simulate-event.mdx
  managed-services/iot-hub/how-to/trigger-functions-from-messages.mdx
  managed-services/iot-hub/how-to/understand-event-messages.mdx
  managed-services/iot-hub/how-to/use-mqtt-webclient.mdx
  managed-services/iot-hub/how-to/view-metrics.mdx
  managed-services/iot-hub/quickstart.mdx
  network/vpc/reference-content/vpc-migration.mdx
Labels: type: maintenance

#4196 docs(bls): add info about k8s volumes
  macros/storage/block-storage-migration.mdx
  storage/block/api-cli/identifying-volume-snapshot-api.mdx
  storage/block/reference-content/advantages-migrating-to-sbs.mdx
Labels: type: maintenance

#4199 feat(block-storage): add macro for information for k8s users
  compute/instances/how-to/migrate-volumes-snapshots-to-sbs.mdx
  macros/storage/block-storage-no-migration-for-k8s.mdx
  storage/block/reference-content/advantages-migrating-to-sbs.mdx
Labels: type: maintenance

#4201 feat(secret-manager): weekly review
  identity-and-access-management/secret-manager/concepts.mdx
  identity-and-access-management/secret-manager/how-to/create-secret.mdx
  identity-and-access-management/secret-manager/how-to/filter-secrets.mdx
Labels: type: maintenance

#4204 fix(lb): concepts (doc review)
  network/load-balancer/concepts.mdx
Labels: type: maintenance

#4214 docs(bls): improve documentation
  compute/instances/how-to/migrate-volumes-snapshots-to-sbs.mdx
  faq/blockstorage.mdx
  storage/block/reference-content/advantages-migrating-to-sbs.mdx
Labels: type: maintenance, priority: high

#4213 feat(aps): update remote access documentation
  bare-metal/apple-silicon/how-to/access-remote-desktop-mac-mini.mdx
Labels: type: maintenance

#4208 feat(changelog): containers-added-serverless-containers-console-improvem 2025-01-13
  changelog/january2025/2025-01-13-containers-added-serverless-containers-console-improvem.mdx
Labels: type: changelog

#4207 feat(changelog): functions-added-serverless-functions-console-improvemen 2025-01-13
  changelog/january2025/2025-01-13-functions-added-serverless-functions-console-improvemen.mdx
Labels: type: changelog

#4216 fix(gen): reviews and add changelog menu MTA-5462
  managed-databases/postgresql-and-mysql/how-to/manage-permissions.mdx
  managed-databases/postgresql-and-mysql/how-to/renew-tls-certificate.mdx
  managed-databases/postgresql-and-mysql/how-to/upgrade-a-database.mdx
  managed-databases/redis/quickstart.mdx
  managed-services/transactional-email/how-to/configure-bimi.mdx
  managed-services/transactional-email/reference-content/understanding-tem-reputation-score.mdx
  menu/changelogs.json
Labels: type: maintenance, priority: low, status: doc review

#4218 feat(changelog): jobs-fixed-cancel-queued-jobs 2025-01-14
  changelog/january2025/2025-01-14-jobs-fixed-cancel-queued-jobs.mdx
Labels: type: changelog

#4211 docs(srv): add troubleshooting on testing private resources MTA-5424
  menu/navigation.json
  serverless/containers/how-to/test-a-container.mdx
  serverless/containers/troubleshooting/tests-fail-on-container.mdx
  serverless/functions/how-to/test-a-function.mdx
  serverless/functions/troubleshooting/tests-fail-on-function.mdx
Labels: priority: low, status: doc review

#4220 fix(k8s): move file in correct section
  menu/navigation.json
Labels: priority: low

#3914 feat(k8s): re-add managing storage doc
  containers/kubernetes/api-cli/managing-storage.mdx
  menu/navigation.json
Labels: status: ready

#4209 feat(changelog): jobs-added-serverless-jobs-console-improvements 2025-01-13
  changelog/january2025/2025-01-13-jobs-added-serverless-jobs-console-improvements.mdx
Labels: type: changelog

#4223 feat(changelog): kubernetes-removed-container-storage-interface-csi-driv 2025-01-15
  changelog/january2025/2025-01-15-kubernetes-removed-container-storage-interface-csi-driv.mdx
Labels: type: changelog

#4140 feat(vpc): add first use case
  menu/navigation.json
  network/vpc/how-to/create-private-network.mdx
  network/vpc/index.mdx
  network/vpc/reference-content/assets/scaleway-vpc-infra-1.webp
  network/vpc/reference-content/getting-most-private-networks.mdx
  network/vpc/reference-content/use-case-basic.mdx
Labels: type: new content, do not merge

#4210 feat(efp): add notes and integration
  environmental-footprint/environmental-footprint/additional-content/environmental-footprint-calculator-estimation.mdx
  environmental-footprint/environmental-footprint/additional-content/environmental-footprint-calculator.mdx
  environmental-footprint/environmental-footprint/additional-content/environmental-footprint-integration.mdx
  environmental-footprint/environmental-footprint/index.mdx
  menu/navigation.json
Labels: type: new content, status: tech review, status: doc review

#4234 feat(changelog): postgresql-and-mysql-added-encryption-at-rest-general-a 2025-01-16
  changelog/january2025/2025-01-16-postgresql-and-mysql-added-encryption-at-rest-general-a.mdx
Labels: type: changelog

#4235 fix(changelog): fix mongodb
  menu/changelogs.json
Labels: type: maintenance, priority: medium, status: doc review

#4222 chore(gen): content review MTA-5416
  console/account/how-to/enforce-mfa.mdx
  console/account/how-to/use-2fa.mdx
  macros/serverless/cron-schedules.mdx
  macros/serverless/difference-jobs-functions-containers.mdx
  serverless/containers/reference-content/containers-billing.mdx
  serverless/containers/reference-content/difference-jobs-functions-containers.mdx
  serverless/functions/reference-content/difference-jobs-functions-containers.mdx
  serverless/jobs/reference-content/cron-schedules.mdx
  serverless/jobs/reference-content/deploy-job.mdx
  serverless/jobs/reference-content/difference-jobs-functions-containers.mdx
  serverless/sql-databases/how-to/manage-backups.mdx
  storage/object/api-cli/bucket-operations.mdx
  storage/object/api-cli/bucket-website-api.mdx
  storage/object/api-cli/common-operations.mdx
  storage/object/api-cli/generate-aws4-auth-signature.mdx
  storage/object/api-cli/installing-minio-client.mdx
  storage/object/api-cli/manage-bucket-permissions-ip.mdx
  storage/object/api-cli/object-lock.mdx
  storage/object/api-cli/object-operations.mdx
  storage/object/api-cli/post-object.mdx
  storage/object/how-to/delete-an-object.mdx
  storage/object/how-to/download-files-from-a-bucket.mdx
  storage/object/how-to/monitor-consumption.mdx
  storage/object/how-to/use-obj-stor-with-private-networks.mdx
  storage/object/troubleshooting/api-key-does-not-work.mdx
  storage/object/troubleshooting/lost-bucket-access-bucket-policy.mdx
Labels: do not merge

#4239 fix(interlink): fix link
  network/interlink/concepts.mdx
Labels: type: bug

#4231 feat(iam): auto-generated iam resources MTA-5431
  identity-and-access-management/iam/reference-content/assets/scaleway-iam-logs-k8s-example.webp
  identity-and-access-management/iam/reference-content/auto-generated-iam-resources.mdx
  menu/navigation.json
Labels: type: new content, do not merge, status: tech review, priority: medium, status: doc review

#4257 fix(ins): fix typo in bandwidth table
  compute/instances/reference-content/instances-bandwidth-overview.mdx
Labels: type: maintenance, status: ready

#4255 fix(vpc): use case typo
  network/vpc/reference-content/use-case-basic.mdx
Labels: type: maintenance

#4260 chore(gen): content review 21/01 MTA-5416
  serverless/sql-databases/reference-content/planned-maintenance.mdx
  serverless/sql-databases/troubleshooting/maximum-prepared-statements-reached.mdx
Labels: priority: low, status: doc review

#4176 docs(cockpit): added documentation on how to add custom metrics from k8s cluster to cockpit int-add-observability
  observability/cockpit/how-to/send-log-from-k8s-to-cockpit.mdx
  observability/cockpit/how-to/send-metrics-from-k8s-to-cockpit.mdx
Labels: do not merge, status: doc review

#4263 docs(cpt): add images + fix dates
  menu/navigation.json
  observability/cockpit/how-to/assets/scaleway-cpt-k8s-terraform-logs.webp
  observability/cockpit/how-to/assets/scaleway-cpt-k8s-terraform-metrics.webp
  observability/cockpit/how-to/send-logs-from-k8s-to-cockpit.mdx
  observability/cockpit/how-to/send-metrics-from-k8s-to-cockpit.mdx
Labels: type: bug, type: maintenance

#4274 Update using-api-call-list.mdx
  storage/object/api-cli/using-api-call-list.mdx
Labels: priority: low

#4294 feat(changelog): apple-silicon-added-mac-mini-m4-now-available 2025-01-27
  changelog/january2025/2025-01-27-apple-silicon-added-mac-mini-m4-now-available.mdx
Labels: type: changelog

#4138 feat(apple-silicon): add private networks feature
  faq/apple-silicon.mdx
  menu/navigation.json
  pages/apple-silicon/concepts.mdx
  pages/apple-silicon/how-to/assets/scaleway-m1-network.webp
  pages/apple-silicon/how-to/assets/scaleway-m1-vlan-details.webp
  pages/apple-silicon/how-to/assets/scaleway-m1-vlan.webp
  pages/apple-silicon/how-to/create-mac-mini.mdx
  pages/apple-silicon/how-to/use-private-networks.mdx
  pages/apple-silicon/index.mdx
  pages/vpc/how-to/attach-resources-to-pn.mdx
  pages/vpc/reference-content/getting-most-private-networks.mdx
  pages/vpc/troubleshooting/vpc-limitations.mdx
Labels: type: new content

#4277 feat(changelog): containers-fixed-serverless-containers-test-tab-fix 2025-01-22
  changelog/january2025/2025-01-22-containers-fixed-serverless-containers-test-tab-fix.mdx
Labels: type: changelog

#4296 fix(vpc): doc review
  pages/vpc/how-to/activate-dhcp.mdx
  pages/vpc/troubleshooting/autoconfig-not-working.mdx
  pages/vpc/troubleshooting/resource-attached-no-ip.mdx
Labels: type: maintenance, status: doc review

#4303 fix(rdb): autobackup faq + reviews
  faq/databases-for-postgresql-and-mysql.mdx
  pages/container-registry/quickstart.mdx
  pages/managed-databases-for-postgresql-and-mysql/quickstart.mdx
  pages/transactional-email/how-to/manage-email-activity.mdx
Labels: type: new content, status: ready, priority: medium

#4306 feat(aps): update table to ensure a11y standards
  pages/apple-silicon/how-to/access-remote-desktop-mac-mini.mdx
Labels: priority: medium

#4300 fix(efp): changes
  faq/environmental-footprint.mdx
  menu/navigation.json
  pages/environmental-footprint/additional-content/environmental-footprint-calculator-estimation.mdx
  pages/environmental-footprint/additional-content/environmental-footprint-calculator.mdx
  pages/environmental-footprint/environmental-footprint/additional-content/environmental-footprint-calculator-estimation.mdx
  pages/environmental-footprint/environmental-footprint/additional-content/environmental-footprint-calculator.mdx
  pages/environmental-footprint/environmental-footprint/how-to/track-monthly-footprint.mdx
  pages/environmental-footprint/environmental-footprint/index.mdx
  pages/environmental-footprint/how-to/track-monthly-footprint.mdx
  pages/environmental-footprint/index.mdx
Labels: type: new content, do not merge, status: ready, priority: high

#4302 feat(changelog): transactional-email-added-automatic-blocklist-for-bette 2025-01-29
  changelog/january2025/2025-01-29-transactional-email-added-automatic-blocklist-for-bette.mdx
Labels: type: changelog

#4305 fix(aps): fixed typo
  changelog/january2025/2025-01-27-apple-silicon-added-mac-mini-m4-now-available.mdx
Labels: priority: low

#4308 feat(faq): add question signal spam
  faq/account.mdx
Labels: priority: low, status: doc review

#4304 feat(secret-manager): delete page
  menu/navigation.json
  pages/secret-manager/api-cli/create-secret-path-migrate.mdx
  pages/secret-manager/index.mdx
Labels: type: maintenance

#4314 feat(changelog): transactional-email-fixed-periodic-report-duplication 2025-01-29
  changelog/january2025/2025-01-29-transactional-email-fixed-periodic-report-duplication.mdx
Labels: type: changelog

#4313 feat(changelog): transactional-email-security-dkim-enhancement-stronger- 2025-01-29
  changelog/january2025/2025-01-29-transactional-email-security-dkim-enhancement-stronger-.mdx
Labels: type: changelog

#4309 fix(mdb): fix name
  pages/managed-mongodb-databases/api-cli/backup-and-restore.mdx
  pages/managed-mongodb-databases/api-cli/index.mdx
  pages/managed-mongodb-databases/concepts.mdx
  pages/managed-mongodb-databases/how-to/create-a-database-instance.mdx
  pages/managed-mongodb-databases/how-to/increase-volume.mdx
  pages/managed-mongodb-databases/how-to/index.mdx
  pages/managed-mongodb-databases/index.mdx
  pages/managed-mongodb-databases/quickstart.mdx
Labels: type: maintenance, priority: low, status: doc review

#4318 fix(tem): fix changelog
  changelog/january2025/2025-01-29-transactional-email-security-dkim-enhancement-stronger-.mdx
Labels: priority: high

#4323 fix(tuto): update tutorial
  tutorials/configure-plex-s3/index.mdx
Labels: type: bug, type: maintenance

#4331 fix(rdb): block changes
  pages/managed-databases-for-postgresql-and-mysql/concepts.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/change-volume-type.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/clone-a-database-instance.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/create-a-database.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/create-read-replica.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/enable-autobackup.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/upgrade-a-database.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/upgrade-version.mdx
  pages/managed-databases-for-postgresql-and-mysql/quickstart.mdx
Labels: type: maintenance, status: tech review, priority: high, status: doc review

#4329 feat(changelog): environmental-footprint-added-environmental-footprint-c 2025-01-30
  changelog/january2025/2025-01-30-environmental-footprint-added-environmental-footprint-c.mdx
Labels: type: changelog

#4321 fix(tuto): fix issue with protocol specification
  tutorials/installation-uncomplicated-firewall/index.mdx
Labels: type: bug, type: maintenance, priority: medium

#4328 fix(k8s): fix eol date for csi v0.2
  changelog/january2025/2025-01-15-kubernetes-removed-container-storage-interface-csi-driv.mdx
  pages/kubernetes/api-cli/managing-storage.mdx
Labels: status: ready, priority: high

#4332 chore(ddx): review bare metal docs
  pages/apple-silicon/how-to/access-remote-desktop-mac-mini.mdx
  pages/apple-silicon/how-to/connect-to-mac-mini-ssh.mdx
  pages/apple-silicon/how-to/install-package-manager-mac-mini.mdx
  pages/apple-silicon/how-to/shutdown-mac-mini.mdx
  pages/apple-silicon/how-to/update-os-mac-mini.mdx
  pages/apple-silicon/how-to/upgrade-macos-to-beta.mdx
  pages/apple-silicon/quickstart.mdx
  pages/dedibox-ip-failover/how-to/assign-failover-ip.mdx
  pages/dedibox-ip-failover/how-to/configure-debian-ubuntu.mdx
  pages/dedibox-ip-failover/how-to/configure-network-virtual-machine.mdx
  pages/dedibox-ip-failover/how-to/configure-reverse-dns.mdx
  pages/dedibox-ip-failover/how-to/configure-windows.mdx
  pages/elastic-metal/how-to/configure-ipv6-hypervisor.mdx
  pages/elastic-metal/how-to/create-virtual-mac-group.mdx
  pages/instances/troubleshooting/fix-unreachable-focal-with-two-public-ips.mdx
Labels: type: maintenance

#4320 fix(ipam): correct address
  pages/ipam/concepts.mdx
  pages/ipam/how-to/reserve-ip.mdx
  pages/ipam/quickstart.mdx
Labels: type: maintenance, status: doc review

#4322 fix(review-bot): update review bot for new repo structure
  bin/check-review-dates.py
Labels: type: maintenance, status: doc review

#4312 feat(serverless): autoscaling concept
  pages/serverless-containers/concepts.mdx
  pages/serverless-functions/concepts.mdx
Labels: product: serverless

#4336 feat(changelog): elastic-metal-added-new-ryzen-a610r-offer 2025-01-31
  changelog/january2025/2025-01-31-elastic-metal-added-new-ryzen-a610r-offer.mdx
Labels: type: changelog

#4333 fix(srv): add serverless categories to tutorials MTA-5519
  tutorials/manage-container-registry-images/index.mdx
  tutorials/use-container-registry-github-actions/index.mdx
Labels: priority: low, product: serverless

#4276 fix(s3): uppdate using-api-call-list
  pages/object-storage/api-cli/using-api-call-list.mdx
Labels: priority: low, status: doc review

#4315 fix(rdb): new troubleshooting pages
  faq/databases-for-postgresql-and-mysql.mdx
  menu/navigation.json
  pages/managed-databases-for-postgresql-and-mysql/troubleshooting/database-instance-connectivity-issues.mdx
  pages/managed-databases-for-postgresql-and-mysql/troubleshooting/database-instance-performance-issues.mdx
  pages/managed-databases-for-postgresql-and-mysql/troubleshooting/database-instance-unavailable.mdx
Labels: type: new content, status: tech review, status: doc review
