Repository scaleway/docs-content, pull requests merged in 2025-10, with the labels that each got.

#5589 audit-trail(add): iam authentication methods
  menu/navigation.json
  pages/audit-trail/reference-content/iam-authentication-events.mdx
Labels: type: new content, status: doc review

#5595 docs(add): add migration methods and tools documentation
  pages/use-cases/migration-methods/index.mdx
Labels: type: new content, status: doc review

#5604 gen(docs): weekly review
  pages/cockpit/how-to/create-external-data-sources.mdx
  pages/domains-and-dns/how-to/lock-domain.mdx
  pages/domains-and-dns/how-to/trade-domain.mdx
  pages/domains-and-dns/how-to/unlock-internal-domain.mdx
  pages/domains-and-dns/quickstart.mdx
  pages/secret-manager/reference-content/secret-types-json-format.mdx
Labels: type: maintenance

#5607 feat(changelog): interlink-changed-scaleway-interlink-is-now-in-general- 2025-10-02
  changelog/october2025/2025-10-02-interlink-changed-scaleway-interlink-is-now-in-general-.mdx
Labels: type: changelog

#5601 docs(ins): docs content review
  pages/elastic-metal/how-to/configure-disk-partitions.mdx
  pages/elastic-metal/reference-content/elastic-metal-rv1-guidelines.mdx
  pages/instances/how-to/create-a-backup.mdx
  pages/instances/how-to/manage-storage.mdx
  pages/instances/reference-content/identify-devices.mdx
  pages/kubernetes/api-cli/changing-control-plane-offer.mdx
  pages/kubernetes/api-cli/creating-managing-kubernetes-lifecycle-cliv2.mdx
  pages/kubernetes/faq.mdx
Labels: type: maintenance

#5602 feat(acc): webauth
  pages/account/concepts.mdx
  pages/account/how-to/change-ownership-organization.mdx
  pages/account/how-to/log-in-to-the-console.mdx
  pages/account/how-to/use-2fa.mdx
  pages/account/reference-content/protecting-yourself-fraud-phishing.mdx
  pages/account/troubleshooting/cannot-log-into-my-account.mdx
  pages/dedibox-account/concepts.mdx
  pages/iam/how-to/enforce-security-requirements-members.mdx
Labels: type: new content, status: tech review, priority: medium, status: doc review

#5617 fix(blk): remove unrelated concepts MTA-6577
  pages/file-storage/concepts.mdx
Labels: priority: high, status: doc review

#5614 docs(gen): separating numerical values from units
  pages/block-storage/quickstart.mdx
  pages/cockpit/faq.mdx
  pages/data-lab/how-to/create-data-lab.mdx
  pages/dedibox-rpn/reference-content/private-networks-overview.mdx
  pages/dedibox-scaleway/how-to/reinstall-dedibox.mdx
  pages/dedibox/how-to/use-dedibackup-ftp-backup.mdx
  pages/environmental-footprint/additional-content/block-storage-env-footprint.mdx
  pages/environmental-footprint/additional-content/object-storage-env-footprint.mdx
  pages/gpu/reference-content/choosing-gpu-instance-type.mdx
  pages/instances/api-cli/snapshot-import-export-feature.mdx
  pages/kubernetes/how-to/deploy-image-from-container-registry.mdx
  tutorials/ceph-cluster/index.mdx
  tutorials/get-started-kubernetes-storage/index.mdx
  tutorials/plausible-analytics-ubuntu/index.mdx
  tutorials/run-manage-linux-vm-on-apple-silicon-tart/index.mdx
  tutorials/s3cmd/index.mdx
  tutorials/setup-minecraft/index.mdx
Labels: type: maintenance, priority: low

#5627 feat(changelog): transactional-email-fixed-dns-autoconfig-now-supports-d 2025-10-07
  changelog/october2025/2025-10-07-transactional-email-fixed-dns-autoconfig-now-supports-d.mdx
Labels: type: changelog

#5628 docs(cockpit): add feedback
  pages/cockpit/reference-content/grafana-authentication-with-iam.mdx
Labels: type: maintenance

#5622 fix(docs): review
  pages/nats/concepts.mdx
  pages/nats/faq.mdx
  pages/nats/how-to/create-account.mdx
  pages/nats/how-to/create-credentials.mdx
  pages/nats/how-to/delete-account.mdx
  pages/nats/how-to/manage-credentials.mdx
  pages/nats/how-to/monitor-nats-cockpit.mdx
  pages/nats/quickstart.mdx
  pages/queues/api-cli/connect-aws-cli.mdx
  pages/queues/api-cli/queues-aws-cli.mdx
  pages/queues/concepts.mdx
  pages/queues/how-to/create-credentials.mdx
  pages/queues/how-to/create-manage-queues.mdx
  pages/queues/how-to/manage-credentials.mdx
  pages/queues/how-to/monitor-queues-cockpit.mdx
  pages/queues/quickstart.mdx
  pages/queues/reference-content/limitations.mdx
Labels: type: maintenance
