Repository scaleway/docs-content, pull requests merged in 2025-03, with the labels that each got.

#4474 chore(gen): content review MTA-5614
  pages/account/concepts.mdx
  pages/data-lab/concepts.mdx
  pages/data-lab/how-to/connect-to-data-lab.mdx
  pages/data-lab/how-to/create-data-lab.mdx
  pages/data-lab/how-to/manage-delete-data-lab.mdx
  pages/data-lab/quickstart.mdx
  pages/object-storage/api-cli/object-storage-aws-cli.mdx
  pages/object-storage/api-cli/using-api-call-list.mdx
  pages/object-storage/how-to/use-bucket-website.mdx
  pages/object-storage/videos.mdx
  pages/scaleway-cli/reference-content/console-keyboard-shortcuts.mdx
  pages/serverless-containers/how-to/manage-a-container.mdx
  pages/serverless-containers/how-to/secure-a-container.mdx
  pages/serverless-containers/quickstart.mdx
  pages/serverless-functions/how-to/secure-a-function.mdx
  pages/serverless-functions/reference-content/code-examples.mdx
  pages/serverless-sql-databases/how-to/create-a-database.mdx
  pages/serverless-sql-databases/quickstart.mdx
  pages/serverless-sql-databases/reference-content/known-differences.mdx
  pages/serverless-sql-databases/reference-content/serverless-sql-databases-overview.mdx
  pages/serverless-sql-databases/troubleshooting/connection-errors.mdx
  pages/serverless-sql-databases/troubleshooting/failing-backup-restore.mdx
Labels: priority: low, status: doc review

#4517 fix(srv): add pages to nav and update titles
  menu/navigation.json
  pages/serverless-containers/how-to/configure-alerts-containers.mdx
  pages/serverless-functions/how-to/configure-alerts-functions.mdx
  pages/serverless-jobs/how-to/configure-alerts-jobs.mdx
Labels: priority: medium, product: serverless

#4526 docs(aps): add mention to deletion delay
  pages/apple-silicon/how-to/assets/scaleway-apple-silicon-dashboard.webp
  pages/apple-silicon/how-to/create-mac-mini.mdx
  pages/apple-silicon/how-to/delete-mac-mini.mdx
  pages/apple-silicon/quickstart.mdx
Labels: type: maintenance, priority: low

#4528 feat(secret-manager): weekly review
  pages/secret-manager/api-cli/create-secret-with-type.mdx
Labels: type: maintenance

#4527 fix(srv): add info on function concurrency
  pages/serverless-functions/concepts.mdx
  pages/serverless-functions/reference-content/functions-limitations.mdx
Labels: status: tech review, priority: low, status: doc review, product: serverless

#4539 fix(bil): add invoice status
  faq/billing.mdx
  pages/billing/additional-content/reading-an-invoice.mdx
Labels: type: maintenance, priority: low, status: doc review

#4530 feat(mkdocs): fix typos and errors
  tutorials/using-bucket-website-with-mkdocs/index.mdx
Labels: type: maintenance

#4534 feat(account): status page updates
  menu/navigation.json
  pages/account/reference-content/scaleway-status-updates.mdx
Labels: type: new content

#4546 feat(k8s): add tutorial hubble with kubernetes
  tutorials/deploying-hubble-add-on-scaleway-kubernetes-clusters/index.mdx
Labels: status: doc review

#4520 docs(acc): update documentation content and screenshots part 1
  changelog/november2023/2023-11-08-object-storage-added-new-bucket-policy-version-allowing.mdx
  pages/account/assets/closed-account.webp
  pages/account/assets/scaleway-account-closed.webp
  pages/account/how-to/assets/scaleway-2FA-disable.webp
  pages/account/how-to/assets/scaleway-2FA-login.webp
  pages/account/how-to/assets/scaleway-2FA-popup-1.webp
  pages/account/how-to/assets/scaleway-2FA-popup-2.webp
  pages/account/how-to/change-console-appearance.mdx
  pages/account/how-to/change-language.mdx
  pages/account/how-to/close-account.mdx
  pages/account/how-to/enforce-mfa.mdx
  pages/account/how-to/use-2fa.mdx
  pages/account/reference-content/protecting-yourself-fraud-phishing.mdx
  pages/dedibox-account/how-to/enable-two-factor-authentication.mdx
  pages/iam/troubleshooting/cannot-use-resources.mdx
  pages/instances/api-cli/managing-instance-snapshot-via-cli.mdx
  pages/object-storage/api-cli/create-bucket-policy.mdx
  pages/serverless-containers/concepts.mdx
  pages/serverless-functions/concepts.mdx
  tutorials/cilicon-self-hosted-ci-on-apple-silicon/index.mdx
  tutorials/nextjs-app-serverless-functions-sqldb/index.mdx
Labels: type: maintenance, type: changelog, priority: low

#4547 docs(bls): added API doc on volume increase MTA-5706
  menu/navigation.json
  pages/block-storage/api-cli/increasing-volume-size.mdx
  pages/instances/api-cli/increasing-volume-size.mdx
Labels: priority: low, status: doc review

#4548 feat(changelog): generative-apis-changed-rate-limit-increase 2025-03-05
  changelog/march2025/2025-03-05-generative-apis-changed-rate-limit-increase.mdx
Labels: type: changelog

#4553 fix(acc): macro update
  macros/console/create-account.mdx
Labels: type: maintenance

#4550 fix(acc): change console links
  pages/instances/api-cli/creating-managing-instances-with-cliv2.mdx
  pages/object-storage/api-cli/managing-lifecycle-cliv2.mdx
  tutorials/large-messages/index.mdx
  tutorials/migrating-from-another-managed-kubernetes-service-to-scaleway-kapsule/index.mdx
Labels: type: maintenance, priority: medium, status: doc review

#4555 feat(changelog): kubernetes-removed-end-of-support-kubernetes-versions-1 2025-03-05
  changelog/march2025/2025-03-05-kubernetes-removed-end-of-support-kubernetes-versions-1.mdx
Labels: type: changelog

#4556 feat(changelog): kubernetes-deprecated-deprecation-of-kubernetes-version 2025-03-05
  changelog/march2025/2025-03-05-kubernetes-deprecated-deprecation-of-kubernetes-version.mdx
Labels: type: changelog

#4568 docs(acc): password update page
  pages/account/how-to/change-console-appearance.mdx
  pages/account/how-to/change-language.mdx
  pages/account/how-to/change-password.mdx
  pages/account/how-to/close-account.mdx
  pages/account/how-to/recover-a-lost-password.mdx
  pages/account/how-to/use-2fa.mdx
Labels: type: new content, priority: low

#4557 feat(cr): add troubleshooting
  menu/navigation.json
  pages/container-registry/troubleshooting/common-errors-when-pushing-images-to-container-registry.mdx
Labels: status: ready, status: doc review

#4570 fix(acc): add new page to navigation menu
  menu/navigation.json
Labels: type: maintenance, priority: low

#4569 docs(fix): replace managed dashboard with preconfigured
  menu/navigation.json
  pages/cockpit/concepts.mdx
  pages/cockpit/how-to/access-grafana-and-managed-dashboards.mdx
  pages/cockpit/how-to/retrieve-grafana-credentials.mdx
  pages/cockpit/how-to/send-logs-from-k8s-to-cockpit.mdx
  pages/cockpit/how-to/send-metrics-from-k8s-to-cockpit.mdx
  pages/cockpit/how-to/send-metrics-with-grafana-alloy.mdx
  pages/managed-inference/how-to/monitor-deployment.mdx
Labels: type: maintenance

#4595 docs(gen): docs content review
  faq/apple-silicon.mdx
  pages/dedibox-account/how-to/resolve-abuse.mdx
  pages/dedibox-hardware/concepts.mdx
  pages/dedibox-ipv6/concepts.mdx
  pages/dedibox-kvm-over-ip/concepts.mdx
  pages/dedibox-kvm-over-ip/quickstart.mdx
  pages/dedibox/reference-content/basic-linux-commands.mdx
  pages/generative-apis/api-cli/using-chat-api.mdx
  pages/generative-apis/api-cli/using-embeddings-api.mdx
  pages/generative-apis/api-cli/using-models-api.mdx
  pages/generative-apis/reference-content/model-lifecycle.mdx
  pages/gpu/how-to/create-manage-gpu-instance.mdx
  pages/gpu/quickstart.mdx
  pages/instances/api-cli/increasing-volume-size.mdx
  pages/instances/how-to/create-a-backup.mdx
  pages/instances/how-to/power-off-instance.mdx
  pages/instances/troubleshooting/fix-unreachable-ipv6-rhel-based-instance.mdx
  pages/kubernetes/how-to/access-audit-logs.mdx
  pages/kubernetes/how-to/deploy-x86-arm-images.mdx
  pages/kubernetes/troubleshooting/containers-not-starting-arm-instances.mdx
Labels: type: maintenance, status: doc review

#4596 docs(rdb): reviews 10/03
  faq/account.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/connect-database-instance.mdx
  pages/managed-databases-for-postgresql-and-mysql/reference-content/postgresql-extensions.mdx
  pages/managed-mongodb-databases/how-to/connect-database-instance.mdx
Labels: type: maintenance, priority: low, status: doc review

#4597 docs(gen): update devtools wording
  faq/public-gateways.mdx
  pages/kubernetes/reference-content/kubernetes-load-balancer.mdx
  pages/kubernetes/reference-content/using-load-balancer-annotations.mdx
  pages/load-balancer/reference-content/public-private-accessibility.mdx
  pages/messaging/api-cli/nats-cli.mdx
  pages/public-gateways/concepts.mdx
  pages/vpc/reference-content/vpc-migration.mdx
Labels: type: maintenance, priority: low

#4604 fix(ipam): reviews
  faq/ipam.mdx
  pages/ipam/how-to/list-ips.mdx
  pages/ipam/how-to/manage-ips.mdx
  pages/ipam/how-to/reserve-ip.mdx
  pages/ipam/quickstart.mdx
  pages/public-gateways/how-to/upgrade-public-gateway.mdx
Labels: type: maintenance, status: doc review

#4606 feat(changelog): functions-added-improved-pricing-transparency 2025-03-12
  changelog/march2025/2025-03-12-functions-added-improved-pricing-transparency.mdx
Labels: type: changelog

#4612 feat(audit-trail): troubleshooting index
  pages/audit-trail/troubleshooting/index.mdx
Labels: type: new content

#4613 docs(fix): add correct product logo
  pages/key-manager/index.mdx
Labels: type: bug

#4609 feat(docs): mkdocs tutorial part two
  tutorials/deploy-automate-mkdocs-site/index.mdx
Labels: type: new content, status: doc review

#4616 feat(genapi): add tutorial librechat
  tutorials/deploy-librechat-with-generative-apis/index.mdx
Labels: type: new content, status: doc review

#4622 docs(review): domains & secret-manager weekly review
  pages/domains-and-dns/reference-content/understanding-dns-records.mdx
  pages/secret-manager/how-to/delete-secret.mdx
  pages/secret-manager/how-to/delete-version.mdx
  pages/secret-manager/how-to/manage-secret.mdx
  pages/secret-manager/how-to/manage-version.mdx
  pages/secret-manager/reference-content/secret-manager-capabilities-limits.mdx
Labels: type: maintenance

#4619 feat(vpc): add troubleshooting index
  pages/vpc/troubleshooting/index.mdx
Labels: status: doc review

#4620 feat(pgw): add troubleshooting index
  pages/public-gateways/troubleshooting/index.mdx
Labels: type: new content, status: doc review

#4625 docs(domains): fix typo
  pages/domains-and-dns/how-to/transfer-external-domain.mdx
Labels: type: maintenance

#4629 feat(domains-dns): add troubleshooting index and doc
  menu/navigation.json
  pages/domains-and-dns/troubleshooting/cannot-transfer-domain.mdx
  pages/domains-and-dns/troubleshooting/index.mdx
Labels: type: new content, status: doc review

#4624 feat(acc): add troubleshooting index
  pages/account/how-to/report-abuse.mdx
  pages/account/index.mdx
  pages/account/troubleshooting/index.mdx
  pages/kubernetes/troubleshooting/index.mdx
Labels: type: new content, status: doc review

#4626 feat(bil): add troubleshooting index
  pages/billing/troubleshooting/index.mdx
Labels: type: new content, status: doc review

#4627 feat(iam): add troubleshooting index
  menu/navigation.json
  pages/iam/reference-content/overview.mdx
  pages/iam/reference-content/policy.mdx
  pages/iam/troubleshooting/index.mdx
Labels: type: new content, status: doc review

#4628 feat(rdb): add troubleshooting index
  pages/managed-databases-for-postgresql-and-mysql/troubleshooting/disk-full.mdx
  pages/managed-databases-for-postgresql-and-mysql/troubleshooting/index.mdx
Labels: type: new content, status: doc review

#4635 feat(changelog): transactional-email-added-tem-scale-plan-is-live 2025-03-17
  changelog/march2025/2025-03-17-transactional-email-added-tem-scale-plan-is-live.mdx
Labels: type: changelog

#4634 feat(gen): reduce description length
  pages/apple-silicon/troubleshooting/index.mdx
  pages/container-registry/troubleshooting/index.mdx
  pages/dedibox-hardware/troubleshooting/index.mdx
  pages/dedibox-network/troubleshooting/index.mdx
  pages/elastic-metal/troubleshooting/index.mdx
  pages/generative-apis/troubleshooting/index.mdx
  pages/gpu/troubleshooting/index.mdx
  pages/instances/troubleshooting/index.mdx
  pages/kubernetes/troubleshooting/index.mdx
Labels: type: maintenance

#4607 docs(gen): add troubleshooting indexes MTA-5747
  pages/block-storage/troubleshooting/index.mdx
  pages/data-lab/troubleshooting/index.mdx
  pages/object-storage/troubleshooting/index.mdx
  pages/serverless-containers/troubleshooting/index.mdx
  pages/serverless-functions/troubleshooting/index.mdx
  pages/serverless-jobs/troubleshooting/index.mdx
  pages/serverless-sql-databases/troubleshooting/index.mdx
Labels: priority: medium, status: doc review

#4590 feat(gen): add troubleshooting template
  docs/TROUBLESHOOTING_TEMPLATE.mdx
  macros/general/troubleshooting-ticket.mdx
  pages/guidelines.mdx
Labels: priority: medium, status: doc review

#4591 feat(lb): add troubleshooting
  faq/loadbalancer.mdx
  menu/navigation.json
  pages/load-balancer/how-to/add-certificate.mdx
  pages/load-balancer/reference-content/kubernetes-load-balancer.mdx
  pages/load-balancer/troubleshooting/certificates.mdx
  pages/load-balancer/troubleshooting/configuration.mdx
  pages/load-balancer/troubleshooting/http-connection-errors.mdx
  pages/load-balancer/troubleshooting/index.mdx
  pages/load-balancer/troubleshooting/k8s-errors.mdx
Labels: type: new content, do not merge, status: tech review

#4631 feat(edge): add troubleshooting
  pages/edge-services/reference-content/cname-record.mdx
  pages/edge-services/reference-content/ssl-tls-certificate.mdx
  pages/edge-services/troubleshooting/assets/scaleway-edge-services-cname-error.webp
  pages/edge-services/troubleshooting/assets/scaleway-edge-services-dashboard-error.webp
  pages/edge-services/troubleshooting/certificate-errors.mdx
  pages/edge-services/troubleshooting/cname-errors.mdx
  pages/edge-services/troubleshooting/index.mdx
Labels: status: doc review

#4642 fix(gen): revert frontmatter anchors
  docs/TROUBLESHOOTING_TEMPLATE.mdx
  pages/block-storage/troubleshooting/index.mdx
Labels: priority: high

#4638 fix(ipam): doc review
  faq/ipam.mdx
  pages/ipam/how-to/list-ips.mdx
  pages/ipam/how-to/reserve-ip.mdx
Labels: type: maintenance, status: doc review

#4640 fix(gen): reviews 17/03
  pages/billing/additional-content/assets/scaleway-savings-plan.webp
  pages/environmental-footprint/additional-content/environmental-footprint-calculator.mdx
  pages/environmental-footprint/concepts.mdx
  pages/iam/how-to/assets/scaleway-policy-overview.jpg
  pages/iam/how-to/assets/scaleway-policy-overview.webp
  pages/managed-databases-for-postgresql-and-mysql/api-cli/pg-audit.mdx
  pages/managed-mongodb-databases/quickstart.mdx
  pages/organizations-and-projects/how-to/add-resources-project.mdx
  pages/organizations-and-projects/how-to/change-project-name.mdx
  pages/organizations-and-projects/how-to/create-a-project.mdx
  pages/organizations-and-projects/how-to/delete-a-project.mdx
  pages/organizations-and-projects/how-to/use-organizations.mdx
  pages/organizations-and-projects/quickstart.mdx
  pages/transactional-email/how-to/manage-tem-plans.mdx
  pages/transactional-email/reference-content/tem-dedicated-ip.mdx
Labels: type: maintenance, status: doc review

#4636 docs(gen): change tb menu buttons to links
  menu/navigation.json
Labels: priority: medium, status: doc review

#4644 fix(lb): remove tb pages from navigation
  menu/navigation.json
Labels: priority: high

#4643 fix(partners): guideflow
  pages/partner-space/quickstart.mdx
Labels: type: maintenance

#4581 feat(supporthub): links list component in docs-editor page - WDOC-1000
  pages/components/docs-editor.mdx
Labels: type: developer

#4647 docs(domains): fix typos and add info
  pages/domains-and-dns/how-to/transfer-external-domain.mdx
Labels: type: maintenance

#4560 feat(doc): add troubleshooting hub page
  blocks/mainLinks.json
  pages/troubleshooting/index.mdx
Labels: priority: low, status: doc review

#4654 chore(docs): weekly review
  pages/secret-manager/reference-content/secret-types-json-format.mdx
  pages/webhosting/reference-content/classic-hosting-migration-information.mdx
Labels: type: maintenance

#4658 docs(gen): review docs 2025-03-19
  pages/gpu/reference-content/understanding-nvidia-ngc.mdx
  pages/instances/reference-content/comaptibility-scw-os-images-flexible-ip.mdx
  pages/instances/reference-content/cost-optimized.mdx
  pages/managed-inference/how-to/delete-deployment.mdx
  pages/managed-inference/how-to/manage-allowed-ips.mdx
  pages/managed-inference/how-to/monitor-deployment.mdx
  pages/managed-inference/reference-content/llama-3-8b-instruct.mdx
  pages/managed-inference/reference-content/mixtral-8x7b-instruct-v0.1.mdx
  pages/managed-inference/reference-content/wizardlm-70b-v1.0.mdx
  tutorials/discourse-forum/index.mdx
  tutorials/load-testing-vegeta/index.mdx
  tutorials/wordpress-lemp-stack-ubuntu-jammy-jellyfish-22-04/index.mdx
Labels: type: maintenance

#4663 fix(tem): broken link
  pages/transactional-email/how-to/manage-blocklists.mdx
Labels: type: maintenance, priority: low, status: doc review

#4652 feat(changelog): elastic-metal-added-proxmox-ve-80-available 2025-03-18
  changelog/march2025/2025-03-18-elastic-metal-added-proxmox-ve-80-available.mdx
Labels: type: changelog

#4669 docs(domains): remove mention of needing a scw domain
  pages/domains-and-dns/troubleshooting/cannot-transfer-domain.mdx
Labels: type: maintenance

#4668 feat(changelog): jobs-fixed-pull-errors-fixed 2025-03-20
  changelog/march2025/2025-03-20-jobs-fixed-pull-errors-fixed.mdx
Labels: type: changelog

#4666 feat(changelog): iam-added-iam-policies-with-conditions-on-rules 2025-03-20
  changelog/march2025/2025-03-20-iam-added-iam-policies-with-conditions-on-rules.mdx
Labels: type: changelog

#4662 fix(ipam): add doc for reverse IPv6
  menu/navigation.json
  pages/instances/how-to/configure-reverse-dns.mdx
  pages/ipam/api-cli/index.mdx
  pages/ipam/api-cli/set-ip-reverse.mdx
Labels: status: tech review

#4659 fix(edge): add troubleshooting indexes
  menu/navigation.json
  pages/load-balancer/troubleshooting/configuration.mdx
  pages/troubleshooting/index.mdx
Labels: type: maintenance, status: doc review

#4661 fix(vpc): tidy up combined FAQ
  pages/vpc/faq.mdx
Labels: type: maintenance, status: doc review

#4673 fix(mkdocs-tuto): typos
  tutorials/deploy-automate-mkdocs-site/index.mdx
Labels: type: maintenance

#4671 fix(acc): docs update
  pages/account/faq.mdx
  pages/account/troubleshooting/index.mdx
  pages/account/troubleshooting/quotas-exceeded-error-message.mdx
Labels: type: maintenance

#4685 fix(docs): fix 404s in TB hub
  pages/troubleshooting/index.mdx
Labels: priority: high

#4681 fix(ins): remove wrong info
  pages/instances/reference-content/workload-optimized.mdx
Labels: priority: high

#4677 fix(ipam): modify attach mode for custom resources
  pages/elastic-metal/how-to/use-private-networks.mdx
  pages/ipam/faq.mdx
  pages/ipam/how-to/reserve-ip.mdx
  pages/ipam/quickstart.mdx
  pages/ipam/reference-content/ipv6.mdx
  pages/vpc/assets/scaleway-attach-custom.webp
  pages/vpc/assets/scaleway-pn-attached-resources.webp
  pages/vpc/faq.mdx
  pages/vpc/how-to/assets/scaleway-attach-custom.webp
  pages/vpc/how-to/assets/scaleway-pn-attached-resources.webp
  pages/vpc/how-to/attach-resources-to-pn.mdx
  pages/vpc/quickstart.mdx
  pages/vpc/reference-content/getting-most-private-networks.mdx
  pages/vpc/troubleshooting/resource-attached-no-ip.mdx
  tutorials/load-overflow-proxmox-and-elastic-metal/index.mdx
Labels: status: doc review

#4675 docs(bls): add doc on identifying API managing resources MTA-5817
  menu/navigation.json
  pages/block-storage/how-to/identify-api-managing-volumes.mdx
Labels: priority: low, status: doc review

#4689 feat(changelog): kubernetes-added-kubernetes-version-132-is-now-availabl 2025-03-24
  changelog/march2025/2025-03-24-kubernetes-added-kubernetes-version-132-is-now-availabl.mdx
Labels: type: changelog

#4688 feat(changelog): edge-services-added-new-feature 2025-03-24
  changelog/march2025/2025-03-24-edge-services-added-new-feature.mdx
Labels: type: changelog

#4686 feat(ins): add local storage
  menu/navigation.json
  pages/block-storage/faq.mdx
  pages/instances/api-cli/snapshot-import-export-feature.mdx
  pages/instances/concepts.mdx
  pages/instances/faq.mdx
  pages/instances/how-to/create-a-backup.mdx
  pages/instances/how-to/create-a-block-volume.mdx
  pages/instances/how-to/create-a-snapshot.mdx
  pages/instances/how-to/create-image-from-snapshot.mdx
  pages/instances/how-to/manage-storage.mdx
  pages/instances/how-to/manage-volumes.mdx
  pages/instances/how-to/migrate-volumes-snapshots-to-sbs.mdx
  pages/instances/how-to/snapshot-import-export-feature.mdx
  pages/instances/reference-content/cost-optimized.mdx
  pages/instances/reference-content/learning.mdx
  pages/instances/reference-content/production-optimized.mdx
  pages/instances/reference-content/workload-optimized.mdx
  pages/instances/troubleshooting/bootscript-eol.mdx
  pages/local-storage/concepts.mdx
  pages/local-storage/how-to/attach-volume.mdx
  pages/local-storage/how-to/create-snapshot.mdx
  pages/local-storage/how-to/create-volume-from-snapshot.mdx
  pages/local-storage/how-to/create-volume.mdx
  pages/local-storage/how-to/delete-snapshot.mdx
  pages/local-storage/how-to/delete-volume.mdx
  pages/local-storage/how-to/detach-volume.mdx
  pages/local-storage/index.mdx
  pages/local-storage/quickstart.mdx
  tutorials/create-openwrt-image-for-scaleway/index.mdx
  tutorials/deploy-meilisearch-instance/index.mdx
Labels: do not merge

#4690 fix(gen): fix broken links
  pages/block-storage/how-to/identify-api-managing-volumes.mdx
  pages/local-storage/how-to/create-volume-from-snapshot.mdx
  pages/local-storage/how-to/delete-snapshot.mdx
  pages/local-storage/how-to/delete-volume.mdx
  pages/local-storage/how-to/detach-volume.mdx
  pages/local-storage/how-to/index.mdx
  tutorials/load-overflow-proxmox-and-elastic-metal/index.mdx
Labels: type: bug

#4692 feat(changelog): instances-changed-volumes-and-snapshots-are-now-in-the- 2025-03-25
  changelog/march2025/2025-03-25-instances-changed-volumes-and-snapshots-are-now-in-the-.mdx
Labels: type: changelog

#4696 feat(changelog): functions-changed-functions-runtimes-update 2025-03-25
  changelog/march2025/2025-03-25-functions-changed-functions-runtimes-update.mdx
Labels: type: changelog, product: serverless

#4701 fix(acc): faq update
  pages/account/faq.mdx
Labels: type: maintenance

#4694 feat(functions): update runtimes
  pages/serverless-functions/reference-content/functions-runtimes.mdx
Labels: product: serverless

#4395 fix(iam): members - MTA-5495
  macros/iam/login-member.mdx
  menu/navigation.json
  pages/account/concepts.mdx
  pages/account/how-to/log-in-to-the-console.mdx
  pages/account/how-to/use-2fa.mdx
  pages/iam/concepts.mdx
  pages/iam/how-to/accept-invitation-to-orga.mdx
  pages/iam/how-to/assets/scaleway-guest-or-member.webp
  pages/iam/how-to/assets/scaleway-iam-member-sec-req.webp
  pages/iam/how-to/comply-with-sec-requirements-member.mdx
  pages/iam/how-to/create-api-keys.mdx
  pages/iam/how-to/enforce-security-requirements-members.mdx
  pages/iam/how-to/invite-user-to-orga.mdx
  pages/iam/how-to/log-in-as-a-member.mdx
  pages/iam/how-to/manage-members.mdx
  pages/iam/how-to/manage-users.mdx
  pages/iam/quickstart.mdx
  pages/iam/reference-content/overview.mdx
  pages/iam/reference-content/users-groups-and-applications.mdx
  pages/organizations-and-projects/how-to/enforce-mfa.mdx
  pages/organizations-and-projects/how-to/manage-quotas.mdx
Labels: type: maintenance, do not merge

#4702 feat(changelog): iam-added-iam-members 2025-03-25
  changelog/march2025/2025-03-25-iam-added-iam-members.mdx
Labels: type: changelog

#4699 docs(dom): add authcode info + doc how to lock domain
  menu/navigation.json
  pages/domains-and-dns/how-to/lock-domain.mdx
  pages/domains-and-dns/how-to/unlock-internal-domain.mdx
Labels: type: maintenance

#4698 docs(fix): add steps for first time external domain registration
  pages/domains-and-dns/quickstart.mdx
Labels: type: maintenance

#4670 docs(audit-trail): add new product integration & supported endpoints
  macros/audit-trail/iam-endpoints.mdx
  macros/audit-trail/key-manager-endpoints.mdx
  macros/audit-trail/kubernetes-endpoints.mdx
  macros/audit-trail/secret-manager-endpoints.mdx
  menu/navigation.json
  pages/audit-trail/reference-content/adt-supported-endpoints.mdx
  pages/audit-trail/reference-content/resource-integration-with-adt.mdx
Labels: type: new content, status: doc review

#4711 fix(em): update links in changelog
  changelog/november2024/2024-11-29-elastic-metal-added-new-titanium-and-iridium-offers.mdx
Labels: type: changelog

#4713 docs(fix): remove beta mention
  pages/audit-trail/faq.mdx
Labels: type: maintenance

#4714 docs(add): info about events from global products
  pages/audit-trail/faq.mdx
Labels: type: maintenance

#4715 fix(tem): reviews 24/03
  pages/transactional-email/api-cli/webhook-events-payloads.mdx
  pages/transactional-email/how-to/add-dmarc-record.mdx
  pages/transactional-email/quickstart.mdx
  pages/transactional-email/reference-content/dmarc-configuration.mdx
Labels: type: maintenance, priority: low, status: doc review

#4709 fix(gen): fix template validation dates
  docs/DOC_PAGE_TEMPLATE.mdx
Labels: priority: low, status: doc review

#4079 feat(account): notification manager docs
  menu/navigation.json
  pages/account/how-to/manage-notifications.mdx
Labels: type: maintenance

#4724 feat(changelog): kubernetes-added-kubernetes-logs-in-audit-trail 2025-03-27
  changelog/march2025/2025-03-27-kubernetes-added-kubernetes-logs-in-audit-trail.mdx
Labels: type: changelog

#4718 feat(changelog): console-added-notification-manager-is-now-available 2025-03-27
  changelog/march2025/2025-03-27-console-added-notification-manager-is-now-available.mdx
Labels: type: changelog

#4731 feat(changelog): key-manager-added-key-manager-events-in-audit-trail 2025-03-28
  changelog/march2025/2025-03-28-key-manager-added-key-manager-events-in-audit-trail.mdx
Labels: type: changelog

#4586 docs(tutorial): Create GitHub action to sync object storage
  tutorials/cicd-github-action-object-storage-sync/index.mdx
Labels: priority: low, status: doc review

#4728 fix(vpc): fix number of available IPs
  pages/vpc/how-to/create-private-network.mdx
Labels: priority: low, status: doc review

#4705 feat(nacls): add doc for NACL public beta
  menu/navigation.json
  pages/vpc/concepts.mdx
  pages/vpc/faq.mdx
  pages/vpc/index.mdx
  pages/vpc/reference-content/assets/scaleway-nacl-diag-detail.webp
  pages/vpc/reference-content/assets/scaleway-nacl-diag-simple.webp
  pages/vpc/reference-content/assets/scaleway-nacl-example.webp
  pages/vpc/reference-content/understanding-nacls.mdx
Labels: type: new content, status: tech review

#4729 fix(iot): review faq
  pages/iot-hub/faq.mdx
Labels: type: maintenance

#4734 docs(gen): removing emojis from some doc pages
  pages/edge-services/how-to/configure-custom-domain.mdx
  pages/edge-services/quickstart.mdx
  pages/instances/how-to/use-private-networks.mdx
  pages/object-storage/reference-content/s3-iam-permissions-equivalence.mdx
  pages/public-gateways/how-to/configure-a-public-gateway.mdx
Labels: type: maintenance, priority: low
