Repository scaleway/docs-content, pull requests merged in 2025-09, with the labels that each got.

#5475 feat(key-manager): review before GA
  pages/key-manager/faq.mdx
  pages/key-manager/how-to/create-km-key.mdx
  pages/key-manager/how-to/create-manage-dek.mdx
  pages/key-manager/how-to/delete-km-keys.mdx
  pages/key-manager/how-to/rotate-kem-keys.mdx
Labels: type: maintenance

#5484 feat(changelog): key-manager-changed-key-manager-is-now-in-general-avail 2025-09-01
  changelog/september2025/2025-09-01-key-manager-changed-key-manager-is-now-in-general-avail.mdx
Labels: type: changelog

#5489 feat(kafka): add permissions sets
  pages/iam/reference-content/permission-sets.mdx
Labels: priority: low, status: doc review

#5500 fix(gen): remove useless link check
  .github/workflows/link-check-schedule.yml
Labels: type: developer

#5495 chore(docs): weekly review
  pages/classic-hosting/concepts.mdx
  pages/classic-hosting/how-to/access-logcenter.mdx
  pages/classic-hosting/how-to/access-statistics.mdx
  pages/classic-hosting/how-to/change-password-postgresql-database.mdx
  pages/classic-hosting/how-to/check-emails.mdx
  pages/classic-hosting/how-to/configure-backup-option.mdx
  pages/classic-hosting/how-to/configure-php.mdx
  pages/classic-hosting/how-to/create-email-redirection.mdx
  pages/classic-hosting/how-to/create-email-transfer.mdx
  pages/classic-hosting/how-to/create-mysql-database.mdx
  pages/classic-hosting/how-to/create-postgresql-database.mdx
  pages/classic-hosting/how-to/create-subdomain.mdx
  pages/classic-hosting/how-to/delete-email-redirection.mdx
  pages/classic-hosting/how-to/delete-email-transfer.mdx
  pages/classic-hosting/how-to/delete-ftp-account.mdx
  pages/classic-hosting/how-to/delete-mysql-database.mdx
  pages/classic-hosting/how-to/delete-postgresql-database.mdx
  pages/classic-hosting/how-to/delete-subdomain.mdx
  pages/classic-hosting/how-to/enable-https.mdx
  pages/classic-hosting/how-to/encrypt-emails-with-pgp-using-webmail.mdx
  pages/classic-hosting/how-to/manage-mysql-database-phpmyadmin.mdx
  pages/classic-hosting/how-to/manage-postgresql-database-adminer.mdx
  pages/classic-hosting/quickstart.mdx
  pages/cockpit/troubleshooting/synchronize-grafana-data-sources.mdx
  pages/cpanel-hosting/reference-content.mdx
  pages/domains-and-dns/how-to/add-external-domain.mdx
  pages/domains-and-dns/how-to/configure-autorenew.mdx
  pages/domains-and-dns/how-to/configure-dns-zones.mdx
  pages/domains-and-dns/how-to/manage-external-domain.mdx
  pages/domains-and-dns/how-to/register-internal-domain.mdx
Labels: type: maintenance, status: doc review

#5501 fix(gen): triangle project
  pages/key-manager/concepts.mdx
  pages/key-manager/reference-content/cryptographic-details-key-manager.mdx
  pages/secret-manager/concepts.mdx
Labels: type: maintenance, status: doc review

#5531 fix(iam): org alias
  menu/navigation.json
  pages/organizations-and-projects/how-to/set-organization-alias.mdx
Labels: type: new content, priority: medium, status: doc review

#5536 feat(serverless): update alerts doc with new grafana version
  pages/serverless-jobs/how-to/assets/scaleway-advanced-options.webp
  pages/serverless-jobs/how-to/assets/scaleway-datasource-managed.webp
  pages/serverless-jobs/how-to/configure-alerts-jobs.mdx
Labels: type: maintenance

#5535 fix(s2svpn): update content
  pages/account/how-to/assets/scaleway-auth-code.jpg
  pages/account/how-to/assets/scaleway-auth-code.webp
  pages/account/how-to/log-in-to-the-console.mdx
  pages/site-to-site-vpn/reference-content/assets/scaleway-vpn-one-tunnel-both.webp
  pages/site-to-site-vpn/reference-content/assets/scaleway-vpn-one-tunnel-one-type.webp
  pages/site-to-site-vpn/reference-content/assets/scaleway-vpn-two-tunnels.webp
  pages/site-to-site-vpn/reference-content/statuses.mdx
  pages/site-to-site-vpn/reference-content/understanding-s2svpn.mdx
Labels: type: maintenance, status: doc review

#5549 feat(changelog): iam-added-organization-aliases-and-dedicated-url-for-me 2025-09-23
  changelog/september2025/2025-09-23-iam-added-organization-aliases-and-dedicated-url-for-me.mdx
Labels: type: changelog

#5558 docs(ins): fix wrong doc
  pages/instances/troubleshooting/cant-connect-ssh.mdx
Labels: type: maintenance, Documentation Bug, priority: medium

#5559 fix(obj): update DeleteBucket doc
  pages/object-storage/api-cli/bucket-operations.mdx
Labels: priority: low, status: doc review

#5561 feat(audit-trail): add lb endpoints
  macros/audit-trail/lb-endpoints.mdx
  pages/audit-trail/reference-content/adt-supported-endpoints.mdx
  pages/audit-trail/reference-content/resource-integration-with-adt.mdx
Labels: status: doc review

#5566 feat(changelog): audit-trail-added-load-balancers-events-available-in-au 2025-09-25
  changelog/september2025/2025-09-25-audit-trail-added-load-balancers-events-available-in-au.mdx
Labels: type: changelog

#5577 feat(changelog): domains-and-dns-added-ai-now-available 2025-09-26
  changelog/september2025/2025-09-26-domains-and-dns-added-ai-now-available.mdx
Labels: type: changelog

#5570 chore(gen): content review MTA-6514
  pages/block-storage/how-to/create-a-volume.mdx
  pages/block-storage/troubleshooting/index.mdx
  pages/object-storage/troubleshooting/index.mdx
  pages/serverless-containers/troubleshooting/index.mdx
  pages/serverless-functions/reference-content/functions-sandbox.mdx
  pages/serverless-functions/troubleshooting/index.mdx
  pages/serverless-jobs/troubleshooting/index.mdx
Labels: priority: low, status: doc review

#5575 fix(obj): Add info on Cors IAM permissions
  pages/object-storage/api-cli/setting-cors-rules.mdx
Labels: priority: low, status: doc review

#5463 feat(iam): saml
  menu/navigation.json
  pages/account/concepts.mdx
  pages/account/how-to/log-in-to-the-console.mdx
  pages/account/how-to/recover-a-lost-password.mdx
  pages/account/troubleshooting/cannot-log-into-my-account.mdx
  pages/iam/how-to/set-up-identity-federation.mdx
Labels: type: new content, do not merge, status: draft, status: tech review, priority: medium, status: doc review

#5588 feat(changelog): environmental-footprint-added-access-raw-data-on-your-e 2025-09-30
  changelog/september2025/2025-09-30-environmental-footprint-added-access-raw-data-on-your-e.mdx
Labels: type: changelog
