Repository scaleway/docs-content, pull requests merged in 2025-04, with the labels that each got.

#4739 feat(changelog): containers-fixed-cpu-metrics-fix-for-sandbox-v2 2025-03-31
  changelog/march2025/2025-03-31-containers-fixed-cpu-metrics-fix-for-sandbox-v2.mdx
Labels: type: changelog, product: serverless

#4747 fix(mnq): remove extra space at end of file name + delete duplicate image
  pages/messaging/assets/scaleway-queues-create-queue.webp
  pages/messaging/assets/scaleway-queues-gen-creds copy.webp
Labels: priority: low, status: doc review

#4746 fix(gen): reviews 31/03
  pages/account/how-to/switch-account-to-corporate.mdx
  pages/iam/faq.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/connect-database-private-network.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/remove-public-endpoint.mdx
Labels: type: maintenance, priority: low, status: doc review

#4752 chore(docs): weekly review
  pages/cockpit/api-cli/querying-logs-with-logcli.mdx
  pages/cockpit/how-to/activate-push-traces.mdx
  pages/cockpit/how-to/create-external-data-sources.mdx
  pages/cockpit/how-to/delete-external-data-sources.mdx
  pages/domains-and-dns/how-to/trade-domain.mdx
  pages/secret-manager/faq.mdx
Labels: type: maintenance

#4753 fix(core): reviews astrid
  macros/console/create-account.mdx
  pages/account/concepts.mdx
  pages/account/faq.mdx
  pages/account/quickstart.mdx
  pages/iam/concepts.mdx
  pages/organizations-and-projects/concepts.mdx
  pages/organizations-and-projects/how-to/enforce-mfa.mdx
Labels: type: maintenance, priority: low, status: doc review

#4706 docs(srv): add new entries to FAQ MTA-5829
  pages/serverless-containers/faq.mdx
Labels: status: tech review, priority: low, status: doc review, product: serverless

#4761 fix(srv): update description for HTTP to HTTPS redirection MTA-5837
  pages/serverless-containers/how-to/deploy-container.mdx
  pages/serverless-functions/how-to/create-a-function.mdx
Labels: priority: low, status: doc review

#4754 feat(changelog): messaging-and-queuing-added-undelivered-message-queue-f 2025-04-01
  changelog/april2025/2025-04-01-messaging-and-queuing-added-undelivered-message-queue-f.mdx
Labels: type: changelog

#4745 fix(bil): update billing contact info
  menu/navigation.json
  pages/account/how-to/assets/scaleway-notif-icon.webp
  pages/account/how-to/manage-notifications.mdx
  pages/billing/how-to/add-billing-contact.mdx
Labels: type: maintenance, do not merge, status: tech review, priority: medium, status: doc review

#4771 chore(gen): content review MTA-5858
  pages/object-storage/faq.mdx
  pages/object-storage/how-to/edit-storage-class.mdx
  pages/scaleway-cli/reference-content/cli-reference.mdx
  pages/serverless-containers/faq.mdx
  pages/serverless-sql-databases/api-cli/postgrest-row-level-security.mdx
  pages/serverless-sql-databases/how-to/use-row-level-security.mdx
Labels: priority: low, status: doc review

#4758 docs(ONP): update SSH key creation page MTA-5865
  pages/instances/how-to/assets/scaleway-putty-ssh.webp
  pages/instances/how-to/connect-to-instance.mdx
  pages/organizations-and-projects/how-to/create-ssh-key.mdx
Labels: priority: low, status: doc review

#4779 docs(components): clarify titles
  pages/components/docs-editor.mdx
  pages/components/docs.mdx
Labels: type: maintenance

#4777 fix(vpc): add troubleshooting info for dns
  pages/vpc/how-to/attach-resources-to-pn.mdx
  pages/vpc/troubleshooting/private-dns-dhcp-not-working.mdx
Labels: type: maintenance

#4793 fix(bil): savings plan update
  menu/navigation.json
  pages/billing/additional-content/understanding-savings-plans.mdx
  pages/billing/faq.mdx
  pages/billing/how-to/purchase-savings-plan.mdx
  pages/instances/reference-content/understanding-instance-pricing.mdx
Labels: type: maintenance

#4782 docs(srv): add vaultwarden x serverless tutorial MTA-5847
  tutorials/vaultwarden-serverless.mdx
Labels: status: tech review, priority: low, status: doc review

#4778 feat(cockpit): retention updates
  changelog/may2024/2024-05-24-cockpit-added-cockpit-available-in-all-region.mdx
  macros/cockpit/plan-deprecation.mdx
  pages/cockpit/concepts.mdx
  pages/cockpit/faq.mdx
  pages/cockpit/how-to/change-data-retention.mdx
  pages/cockpit/how-to/create-external-data-sources.mdx
  pages/cockpit/how-to/create-token.mdx
  tutorials/pushing-metrics-logs-from-scw-instance/index.mdx
  tutorials/use-cockpit-with-terraform/index.mdx
Labels: type: maintenance, type: changelog, status: doc review

#4780 fix(lb): clarify compatibility with vpc routing for backend servers
  macros/network/lb-create-backend-2-traffic-mgnt.mdx
  pages/load-balancer/faq.mdx
  pages/load-balancer/how-to/use-with-private-network.mdx
  pages/load-balancer/reference-content/public-private-accessibility.mdx
  pages/load-balancer/troubleshooting/configuration.mdx
Labels: type: maintenance, status: doc review

#4770 docs(dlb): update data lab product naming MTA-5845
  menu/navigation.json
  pages/audit-trail/reference-content/resource-integration-with-adt.mdx
  pages/data-lab/concepts.mdx
  pages/data-lab/faq.mdx
  pages/data-lab/how-to/connect-to-data-lab.mdx
  pages/data-lab/how-to/create-data-lab.mdx
  pages/data-lab/how-to/index.mdx
  pages/data-lab/how-to/manage-delete-data-lab.mdx
  pages/data-lab/index.mdx
  pages/data-lab/quickstart.mdx
  pages/data-lab/troubleshooting/cannot-run-data-lab.mdx
  pages/data-lab/troubleshooting/index.mdx
  pages/faq/index.mdx
  pages/troubleshooting/index.mdx
Labels: do not merge, status: tech review, priority: low, status: doc review

#4802 docs(genapi): fix broken links
  pages/generative-apis/troubleshooting/fixing-common-issues.mdx
Labels: type: bug, priority: low

#4807 fix(pgw): add to menu
  menu/navigation.json
Labels: priority: medium, status: doc review

#4804 feat(changelog): apple-silicon-added-introduction-of-a-new-monthly-confi 2025-04-07
  changelog/april2025/2025-04-07-apple-silicon-added-introduction-of-a-new-monthly-confi.mdx
Labels: type: changelog

#4803 fix(network): doc review
  pages/ipam/reference-content/public-connectivity-best-practices.mdx
  pages/load-balancer/faq.mdx
  pages/load-balancer/how-to/create-load-balancer.mdx
  pages/load-balancer/how-to/use-with-private-network.mdx
  pages/load-balancer/reference-content/configuring-backends.mdx
  pages/public-gateways/faq.mdx
  pages/vpc/how-to/create-private-network.mdx
  pages/vpc/how-to/delete-private-network.mdx
Labels: type: maintenance, status: doc review

#4767 docs(SRV): add build push image doc for cass & jobs MTA-5835
  menu/navigation.json
  pages/serverless-containers/how-to/build-push-container-image.mdx
  pages/serverless-jobs/how-to/build-push-container-image.mdx
Labels: status: tech review, priority: low, status: doc review

#4813 chore(gen): content review MTA-5892
  pages/object-storage/how-to/access-objects-via-https.mdx
  pages/serverless-containers/how-to/add-a-custom-domain-to-a-container.mdx
  pages/serverless-containers/reference-content/containers-concurrency.mdx
  pages/serverless-containers/reference-content/deploy-container.mdx
  pages/serverless-functions/faq.mdx
  pages/serverless-jobs/faq.mdx
  pages/serverless-jobs/reference-content/jobs-limitations.mdx
Labels: priority: low, status: doc review

#4801 feat(queues): add doc for Queues product
  menu/navigation.json
  pages/nats/assets/scaleway-nats-create-account.webp
  pages/nats/assets/scaleway-nats-creds.webp
  pages/nats/assets/scaleway-nats-overview.webp
  pages/nats/how-to/assets/scaleway-nats-create-account.webp
  pages/nats/how-to/assets/scaleway-nats-creds.webp
  pages/nats/how-to/assets/scaleway-nats-overview.webp
  pages/queues/api-cli/connect-aws-cli.mdx
  pages/queues/api-cli/index.mdx
  pages/queues/api-cli/python-node-queues.mdx
  pages/queues/api-cli/queues-aws-cli.mdx
  pages/queues/concepts.mdx
  pages/queues/faq.mdx
  pages/queues/how-to/create-credentials.mdx
  pages/queues/how-to/create-manage-queues.mdx
  pages/queues/how-to/index.mdx
  pages/queues/how-to/manage-credentials.mdx
  pages/queues/how-to/monitor-queues-cockpit.mdx
  pages/queues/index.mdx
  pages/queues/quickstart.mdx
  pages/queues/reference-content/index.mdx
  pages/queues/reference-content/limitations.mdx
  pages/queues/reference-content/queues-overview.mdx
  pages/queues/reference-content/queues-support.mdx
Labels: status: doc review

#4768 fix(rdb): add upgrade info
  menu/navigation.json
  pages/managed-databases-for-postgresql-and-mysql/how-to/enable-high-availability.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/upgrade-version.mdx
Labels: type: maintenance, type: new content, status: tech review, priority: low, status: doc review

#4821 fix(aps): fix monthly price for m1
  changelog/april2025/2025-04-07-apple-silicon-added-introduction-of-a-new-monthly-confi.mdx
Labels: type: changelog

#4814 chore(docs): review
  pages/cockpit/how-to/activate-managed-alerts.mdx
  pages/cockpit/how-to/configure-alerts-for-scw-resources.mdx
  pages/cockpit/how-to/enable-alert-manager.mdx
  pages/domains-and-dns/how-to/renew-domain.mdx
Labels: type: maintenance

#4809 docs(tutorials): content review
  tutorials/configure-apache-lets-encrypt/index.mdx
  tutorials/deploy-instances-packer-terraform/index.mdx
  tutorials/encrypt-volumes/index.mdx
  tutorials/erpnext/index.mdx
  tutorials/flask/index.mdx
  tutorials/get-started-kubernetes-loadbalancer/index.mdx
  tutorials/glpi/index.mdx
  tutorials/gpu-super-resolution/index.mdx
  tutorials/host-github-runner/index.mdx
  tutorials/install-cassandra/index.mdx
  tutorials/install-configure-couchdb/index.mdx
  tutorials/install-docker-ubuntu-bionic/index.mdx
  tutorials/odoo-easy-deploy/index.mdx
  tutorials/postgis-managed-databases/index.mdx
  tutorials/postman-api/index.mdx
  tutorials/protect-server-fail2ban/index.mdx
  tutorials/protect-server-using-crowdsec/index.mdx
  tutorials/set-up-yunohost-debian/index.mdx
  tutorials/setting-up-tunnel/index.mdx
  tutorials/setup-mysql/index.mdx
Labels: type: maintenance, priority: low

#4769 docs(SRV): add content on port variable for containers MTA-5873
  menu/navigation.json
  pages/serverless-containers/concepts.mdx
  pages/serverless-containers/reference-content/port-parameter-variable.mdx
Labels: status: tech review, priority: low, status: doc review, product: serverless

#4825 fix(srv): remove duplicated page
  pages/serverless-functions/reference-content/functions-runtimes-configuration.mdx
Labels: priority: low, status: doc review

#4824 docs(srv): add notes on secret regionalization and jobs MTA-5912
  pages/serverless-jobs/faq.mdx
  pages/serverless-jobs/how-to/reference-secret-in-job.mdx
Labels: priority: low, status: doc review, product: serverless

#4829 fix(docs): fix images
  pages/edge-services/assets/scaleway-edge-create-pipeline-lb.webp
  pages/edge-services/how-to/configure-cache.mdx
  pages/edge-services/how-to/configure-custom-domain.mdx
  pages/edge-services/how-to/create-pipeline-lb.mdx
  pages/edge-services/quickstart.mdx
  pages/load-balancer/how-to/add-certificate.mdx
  pages/messaging/how-to/create-manage-subscriptions.mdx
  pages/vpc/troubleshooting/assets/scaleway-attached-resources.webp
Labels: type: maintenance, status: doc review

#4827 feat(changelog): transactional-email-added-support-for-svg-attachments 2025-04-10
  changelog/april2025/2025-04-10-transactional-email-added-support-for-svg-attachments.mdx
Labels: type: changelog

#4832 fix(gen): fix missing images
  pages/account/how-to/assets/scaleway-account-closed.webp
  pages/cockpit/api-cli/assets/scaleway_obs_import_dashboard.webp
  pages/cockpit/api-cli/assets/scaleway_obs_logs_compass.webp
  pages/cockpit/api-cli/configuring-grafana-agent.mdx
  pages/cockpit/how-to/assets/scaleway-instance-grafana-alert.webp
  pages/iam/api-cli/assets/scaleway-iam-app.webp
  pages/iam/api-cli/assets/scaleway-preferred-project.webp
  pages/iam/api-cli/using-api-key-object-storage.mdx
  pages/iam/assets/scaleway-iam-activate.webp
  pages/iam/assets/scaleway-iam-added-user.webp
  pages/iam/assets/scaleway-iam-button.webp
  pages/iam/assets/scaleway-iam-splash.webp
  pages/iam/concepts.mdx
  pages/iam/reference-content/assets/scaleway-api-key-test.webp
  pages/iam/reference-content/assets/scaleway-bucket.webp
  pages/iam/reference-content/assets/scaleway-iam-api-key.webp
  pages/iam/reference-content/assets/scaleway-iam-app.webp
  pages/iam/reference-content/assets/scaleway-iam-create-app.webp
  pages/iam/reference-content/assets/scaleway-second-bucket.webp
  pages/iam/reference-content/assets/scaleway-test-project.webp
  pages/iam/reference-content/overview.mdx
  pages/managed-databases-for-postgresql-and-mysql/faq.mdx
  pages/organizations-and-projects/assets/scaleway-puttygen-01.webp
  pages/organizations-and-projects/assets/scaleway-puttygen-02.webp
  pages/organizations-and-projects/assets/scaleway-puttygen-03.webp
  pages/organizations-and-projects/assets/scaleway-puttygen-app.webp
  pages/organizations-and-projects/assets/scaleway-terminal-icon.webp
  pages/organizations-and-projects/how-to/assets/scaleway-iam-owners-guests.webp
  pages/organizations-and-projects/quickstart.mdx
  pages/transactional-email/api-cli/assets/scaleway-webhook-site.webp
  pages/transactional-email/api-cli/use-webhooks-with-sns-topics.mdx
  pages/transactional-email/how-to/add-spf-dkim-records-to-your-domain.mdx
  pages/transactional-email/how-to/assets/scaleway_dkim_name_value.webp
  pages/transactional-email/how-to/assets/scaleway_dkim_record_name.webp
  pages/transactional-email/how-to/monitor-transactional-email-cockpit.mdx
  pages/transactional-email/quickstart.mdx
  pages/webhosting/assets/scaleway-webmail.webp
  pages/webhosting/how-to/assets/scaleway-dns-verification.webp
  pages/webhosting/how-to/assets/scaleway-webhosting-dashboard.webp
  pages/webhosting/how-to/assets/scaleway-webhosting-migrate-console.webp
  pages/webhosting/how-to/assets/scaleway-webhosting-terminate.webp
  pages/webhosting/how-to/configure-dns-webhosting.mdx
  pages/webhosting/how-to/migrate-webhosting-plan.mdx
  pages/webhosting/how-to/order-webhosting.mdx
  pages/webhosting/how-to/terminate-webhosting.mdx
Labels: type: maintenance, priority: medium

#4837 feat(changelog): managed-inference-added-custom-models-deployment-availa 2025-04-11
  changelog/april2025/2025-04-11-managed-inference-added-custom-models-deployment-availa.mdx
Labels: type: changelog

#4833 fix(images): correct last images
  pages/apple-silicon/how-to/access-remote-desktop-mac-mini.mdx
  pages/components/assets/root-create-account.webp
  pages/components/docs.mdx
  pages/webhosting/how-to/manage-webhosting.mdx
Labels: type: maintenance

#4834 feat(topics): add separate topics and events doc
  menu/navigation.json
  pages/topics-and-events/api-cli/connect-aws-cli.mdx
  pages/topics-and-events/api-cli/index.mdx
  pages/topics-and-events/api-cli/python-node-topics-events.mdx
  pages/topics-and-events/api-cli/topics-events-aws-cli.mdx
  pages/topics-and-events/assets/scaleway-topics-create-subs.webp
  pages/topics-and-events/assets/scaleway-topics-create-topic.webp
  pages/topics-and-events/assets/scaleway-topics-gen-creds.webp
  pages/topics-and-events/concepts.mdx
  pages/topics-and-events/faq.mdx
  pages/topics-and-events/how-to/assets/scaleway-topics-create-subs.webp
  pages/topics-and-events/how-to/assets/scaleway-topics-create-topic.webp
  pages/topics-and-events/how-to/assets/scaleway-topics-gen-creds.webp
  pages/topics-and-events/how-to/create-credentials.mdx
  pages/topics-and-events/how-to/create-manage-subscriptions.mdx
  pages/topics-and-events/how-to/create-manage-topics.mdx
  pages/topics-and-events/how-to/index.mdx
  pages/topics-and-events/how-to/manage-credentials.mdx
  pages/topics-and-events/how-to/monitor-topics-cockpit.mdx
  pages/topics-and-events/index.mdx
  pages/topics-and-events/quickstart.mdx
  pages/topics-and-events/reference-content/index.mdx
  pages/topics-and-events/reference-content/limitations.mdx
  pages/topics-and-events/reference-content/topics-and-events-overview.mdx
  pages/topics-and-events/reference-content/topics-and-events-support.mdx
Labels: status: doc review

#4843 fix(rdb): remove mentions of legacy
  pages/managed-databases-for-postgresql-and-mysql/concepts.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/create-read-replica.mdx
Labels: type: maintenance, status: tech review, priority: medium, status: doc review

#4846 feat(aps): utm how to guides
  menu/navigation.json
  pages/apple-silicon/how-to/assets/scaleway-aps-utm-1.webp
  pages/apple-silicon/how-to/assets/scaleway-aps-utm-2.webp
  pages/apple-silicon/how-to/assets/scaleway-aps-utm-3.webp
  pages/apple-silicon/how-to/assets/scaleway-aps-utm-4.webp
  pages/apple-silicon/how-to/setup-vm-with-utm.mdx
  pages/apple-silicon/how-to/test-mdm-workflows.mdx
Labels: type: new content, status: doc review

#4849 fix(tem): reviews 14/04
  pages/transactional-email/how-to/autoconfigure-domain.mdx
  pages/transactional-email/how-to/configure-domain-with-transactional-email.mdx
Labels: type: maintenance, priority: low, status: doc review

#4847 fix(pgw): doc review
  pages/public-gateways/how-to/move-to-routed-ip.mdx
Labels: type: maintenance

#4851 docs(sem): add secret deletion
  menu/navigation.json
  pages/secret-manager/concepts.mdx
  pages/secret-manager/faq.mdx
  pages/secret-manager/how-to/delete-secret.mdx
  pages/secret-manager/how-to/delete-version.mdx
  pages/secret-manager/how-to/recover-secrets.mdx
  pages/secret-manager/how-to/recover-version.mdx
Labels: priority: medium, status: doc review

#4855 feat(changelog): product-catalog-added-the-product-catalog-api-is-now-av 2025-04-16
  changelog/april2025/2025-04-16-product-catalog-added-the-product-catalog-api-is-now-av.mdx
Labels: type: changelog

#4863 fix(sem): fix deletion title
  pages/secret-manager/how-to/delete-secret.mdx
Labels: type: maintenance

#4857 fix(srv): harmonize H2/H3 in serverless troubleshootings MTA-5945
  pages/serverless-containers/troubleshooting/502-error-when-scaling.mdx
  pages/serverless-containers/troubleshooting/cannot-create-namespace.mdx
  pages/serverless-containers/troubleshooting/cannot-inject-secret-variable.mdx
  pages/serverless-containers/troubleshooting/tests-fail-on-container.mdx
  pages/serverless-functions/troubleshooting/cannot-create-namespace.mdx
  pages/serverless-functions/troubleshooting/cannot-inject-secret-variable.mdx
  pages/serverless-functions/troubleshooting/tests-fail-on-function.mdx
  pages/serverless-functions/troubleshooting/timeout-error.mdx
  pages/serverless-jobs/troubleshooting/cannot-inject-secret-variable.mdx
Labels: priority: low, status: doc review, product: serverless

#4873 docs(sdb): update maximum query size MTA-5949
  pages/serverless-sql-databases/reference-content/serverless-sql-databases-overview.mdx
  pages/serverless-sql-databases/troubleshooting/maximum-prepared-statements-reached.mdx
Labels: priority: high, status: doc review

#4875 feat(changelog): sql-databases-changed-sql-request-size-limit-increased- 2025-04-23
  changelog/april2025/2025-04-23-sql-databases-changed-sql-request-size-limit-increased-.mdx
Labels: type: changelog

#4854 docs(infr): add model catalog page
  menu/navigation.json
  pages/managed-inference/reference-content/model-catalog.mdx
Labels: do not merge, status: tech review

#4865 feat(srvless): image size tips
  pages/serverless-containers/faq.mdx
  pages/serverless-containers/reference-content/containers-limitations.mdx
  pages/serverless-jobs/reference-content/jobs-limitations.mdx
Labels: product: serverless

#4867 feat(srvless): remove unecessary buildx mentions
  pages/serverless-containers/reference-content/containers-limitations.mdx
  pages/serverless-jobs/reference-content/jobs-limitations.mdx
  tutorials/snapshot-instances-jobs/index.mdx
Labels: product: serverless

#4869 docs(gen): fix links that generated 404s
  macros/serverless/container-registry-note.mdx
  pages/billing/troubleshooting/index.mdx
  pages/block-storage/troubleshooting/index.mdx
  pages/edge-services/troubleshooting/index.mdx
  pages/iam/troubleshooting/index.mdx
  pages/load-balancer/troubleshooting/index.mdx
  pages/managed-databases-for-postgresql-and-mysql/troubleshooting/index.mdx
  pages/object-storage/troubleshooting/index.mdx
  pages/serverless-containers/troubleshooting/index.mdx
  pages/serverless-functions/troubleshooting/index.mdx
  pages/serverless-jobs/troubleshooting/index.mdx
  pages/transactional-email/troubleshooting/index.mdx
  tutorials/discourse-forum/index.mdx
Labels: type: maintenance, priority: low

#4878 fix(iam): reviews 21/04
  pages/iam/concepts.mdx
  pages/iam/how-to/comply-with-sec-requirements-member.mdx
  pages/iam/how-to/manage-members.mdx
  pages/iam/quickstart.mdx
  pages/iam/reference-content/overview.mdx
  pages/iam/reference-content/policy.mdx
  pages/iam/reference-content/reproduce-roles-project-api-keys.mdx
  pages/iam/reference-content/users-groups-and-applications.mdx
  pages/managed-databases-for-postgresql-and-mysql/concepts.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/change-volume-type.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/create-a-database.mdx
  pages/managed-databases-for-postgresql-and-mysql/reference-content/autohealing.mdx
  pages/managed-databases-for-postgresql-and-mysql/reference-content/security-and-reliability.mdx
  pages/managed-databases-for-postgresql-and-mysql/troubleshooting/extension-errors.mdx
  pages/managed-databases-for-redis/api-cli/managing-username-and-password.mdx
  pages/organizations-and-projects/additional-content/organization-quotas.mdx
  pages/organizations-and-projects/concepts.mdx
  pages/transactional-email/reference-content/tem-capabilities-and-limits.mdx
  pages/transactional-email/troubleshooting/delist-domain.mdx
Labels: type: maintenance, status: tech review, priority: low, status: doc review

#4877 docs(infr): remove dedicated model pages
  changelog/february2025/2025-02-14-managed-inference-added-new-model-preview-deepseek-r1-d.mdx
  changelog/september2024/2024-09-05-managed-inference-added-model-library-expanded.mdx
  menu/navigation.json
  pages/generative-apis/faq.mdx
  pages/managed-inference/how-to/import-custom-model.mdx
  pages/managed-inference/reference-content/bge-multilingual-gemma2.mdx
  pages/managed-inference/reference-content/deepseek-r1-distill-llama-70b.mdx
  pages/managed-inference/reference-content/deepseek-r1-distill-llama-8b.mdx
  pages/managed-inference/reference-content/llama-3-70b-instruct.mdx
  pages/managed-inference/reference-content/llama-3-8b-instruct.mdx
  pages/managed-inference/reference-content/llama-3.1-70b-instruct.mdx
  pages/managed-inference/reference-content/llama-3.1-8b-instruct.mdx
  pages/managed-inference/reference-content/llama-3.1-nemotron-70b-instruct.mdx
  pages/managed-inference/reference-content/llama-3.3-70b-instruct.mdx
  pages/managed-inference/reference-content/mistral-7b-instruct-v0.3.mdx
  pages/managed-inference/reference-content/mistral-nemo-instruct-2407.mdx
  pages/managed-inference/reference-content/mistral-small-24b-instruct-2501.mdx
  pages/managed-inference/reference-content/mixtral-8x7b-instruct-v0.1.mdx
  pages/managed-inference/reference-content/model-catalog.mdx
  pages/managed-inference/reference-content/molmo-72b-0924.mdx
  pages/managed-inference/reference-content/moshika-0.1-8b.mdx
  pages/managed-inference/reference-content/moshiko-0.1-8b.mdx
  pages/managed-inference/reference-content/pixtral-12b-2409.mdx
  pages/managed-inference/reference-content/qwen2.5-coder-32b-instruct.mdx
  pages/managed-inference/reference-content/sentence-t5-xxl.mdx
  pages/managed-inference/reference-content/supported-models.mdx
  pages/managed-inference/reference-content/wizardlm-70b-v1.0.mdx
  tutorials/how-to-implement-rag/index.mdx
  tutorials/processing-images-structured-outputs-pixtral/index.mdx
Labels: type: changelog

#4784 fix(bil): remove validation code mentions
  pages/billing/concepts.mdx
  pages/billing/faq.mdx
  pages/billing/how-to/add-payment-method.mdx
  pages/billing/troubleshooting/cannot-add-payment-method.mdx
Labels: status: tech review, priority: low, status: doc review

#4876 chore(gen): content review MTA-5964
  pages/object-storage/how-to/get-started-edge-services.mdx
  pages/serverless-containers/how-to/add-trigger-to-a-container.mdx
  pages/serverless-functions/how-to/add-trigger-to-a-function.mdx
  pages/serverless-functions/reference-content/functions-handlers.mdx
Labels: priority: low, status: doc review

#4882 feat(changelog): interlink-added-scaleway-interlink-is-now-available-in- 2025-04-23
  changelog/april2025/2025-04-23-interlink-added-scaleway-interlink-is-now-available-in-.mdx
Labels: type: changelog

#4885 fix(bil): remove validation code mentions
  macros/console/create-account.mdx
  pages/billing/quickstart.mdx
Labels: type: maintenance

#4874 fix(rdb): ssh bastion connection
  macros/databases/ssh-bastion-mdb.mdx
  macros/databases/ssh-bastion.mdx
  menu/navigation.json
  pages/managed-databases-for-postgresql-and-mysql/faq.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/connect-database-private-network.mdx
  pages/managed-mongodb-databases/faq.mdx
  pages/managed-mongodb-databases/how-to/connect-database-private-network.mdx
Labels: type: maintenance, status: tech review, priority: medium, status: doc review

#4891 docs(gen): fix typos and harmonizing content
  pages/account/how-to/open-a-support-ticket.mdx
  pages/audit-trail/quickstart.mdx
  pages/cockpit/how-to/configure-alerts-for-scw-resources.mdx
  pages/cockpit/index.mdx
  pages/environmental-footprint/how-to/track-monthly-footprint.mdx
  pages/generative-apis/troubleshooting/fixing-common-issues.mdx
  pages/gpu/how-to/use-nvidia-mig-technology.mdx
  pages/gpu/reference-content/gpu-instances-bandwidth-overview.mdx
  pages/instances/api-cli/using-cloud-init.mdx
  pages/instances/api-cli/using-routed-ips.mdx
  pages/instances/faq.mdx
  pages/instances/reference-content/choosing-shared-vs-dedicated-cpus.mdx
  pages/instances/troubleshooting/fix-lost-ip-connectivity-on-debian-buster.mdx
  pages/key-manager/concepts.mdx
  pages/kubernetes/concepts.mdx
  pages/kubernetes/how-to/edit-kosmos-cluster.mdx
  pages/kubernetes/reference-content/multi-az-clusters.mdx
  pages/kubernetes/reference-content/understanding-differences-kapsule-kosmos.mdx
  pages/load-balancer/index.mdx
  pages/managed-inference/faq.mdx
  pages/messaging/faq.mdx
  pages/object-storage/how-to/create-a-bucket.mdx
  pages/object-storage/how-to/use-obj-stor-with-private-networks.mdx
  pages/object-storage/quickstart.mdx
  pages/secret-manager/how-to/create-version.mdx
  pages/secret-manager/how-to/delete-version.mdx
  pages/troubleshooting/index.mdx
  tutorials/configure-graphite/index.mdx
  tutorials/configure-slack-alerting/index.mdx
  tutorials/configuring-loadbalancer-wordpress/index.mdx
  tutorials/deploy-nextcloud-s3/index.mdx
  tutorials/discourse-forum/index.mdx
  tutorials/erpnext-13/index.mdx
  tutorials/foreman-puppet/index.mdx
  tutorials/install-cassandra/index.mdx
  tutorials/install-parse-server/index.mdx
  tutorials/k8s-gitlab/index.mdx
  tutorials/manage-container-registry-images/index.mdx
  tutorials/mastodon-community/index.mdx
  tutorials/matomo-analytics/index.mdx
  tutorials/migrating-from-another-managed-kubernetes-service-to-scaleway-kapsule/index.mdx
  tutorials/mutli-node-rocket-chat-community-private-network/index.mdx
  tutorials/postman-api/index.mdx
  tutorials/prometheus-monitoring-grafana-dashboard/index.mdx
  tutorials/remote-desktop-with-xrdp/index.mdx
  tutorials/setup-k8s-cluster-rancher/index.mdx
  tutorials/setup-nomad-cluster/index.mdx
  tutorials/snapshot-instances-jobs/index.mdx
  tutorials/transform-bucket-images-triggers-functions-set-up/index.mdx
  tutorials/using-secret-manager-with-github-action/index.mdx
  tutorials/wordpress-lemp-stack-ubuntu-jammy-jellyfish-22-04/index.mdx
  tutorials/wordpress-lemp-stack/index.mdx
  tutorials/zammad-ticketing/index.mdx
  tutorials/zulip/index.mdx
Labels: type: maintenance, priority: low

#4893 fix(vpc): fix limitation
  pages/vpc/troubleshooting/vpc-pn-routing-connectivity-issues.mdx
Labels: type: maintenance

#4899 fix(iam): dates
  pages/iam/how-to/log-in-as-a-member.mdx
  pages/iam/how-to/manage-members.mdx
Labels: type: bug, type: maintenance

#4888 fix(iam): add info to members doc
  macros/iam/login-member.mdx
  pages/iam/concepts.mdx
  pages/iam/how-to/manage-members.mdx
Labels: type: maintenance, priority: medium, status: doc review

#4879 docs(srv): add content on serverless / CR namespaces behavior MTA-5959
  pages/serverless-containers/faq.mdx
  pages/serverless-containers/how-to/create-manage-delete-containers-namespace.mdx
  pages/serverless-functions/faq.mdx
  pages/serverless-functions/how-to/create-manage-delete-functions-namespace.mdx
Labels: status: tech review, priority: low, status: doc review, product: serverless

#4887 fix(docs): review network docs
  pages/edge-services/concepts.mdx
  pages/edge-services/how-to/configure-cache.mdx
  pages/edge-services/how-to/configure-custom-domain.mdx
  pages/edge-services/how-to/create-pipeline-bucket.mdx
  pages/edge-services/how-to/create-pipeline-lb.mdx
  pages/edge-services/how-to/delete-pipeline.mdx
  pages/edge-services/how-to/monitor-cockpit.mdx
  pages/edge-services/how-to/subscribe-edge-services.mdx
  pages/edge-services/how-to/terminate-edge-services.mdx
  pages/edge-services/quickstart.mdx
  pages/edge-services/reference-content/understanding-ga.mdx
  pages/edge-services/reference-content/understanding-pricing.mdx
  pages/vpc/troubleshooting/vpc-limitations.mdx
Labels: type: maintenance, status: doc review

#4906 docs(iam): add guideflow to iam member login page
  macros/iam/login-member.mdx
  pages/account/how-to/log-in-to-the-console.mdx
  pages/iam/how-to/log-in-as-a-member.mdx
Labels: type: maintenance, priority: medium

#4901 docs(srv): add faq entry on cron MTA-5983
  pages/serverless-containers/faq.mdx
  pages/serverless-functions/faq.mdx
Labels: priority: low, status: doc review, product: serverless
