Repository scaleway/docs-content, pull requests merged in 2025-05, with the labels that each got.

#4905 docs(gen): docs content review compute 2025-04-30
  pages/dedibox-ipv6/how-to/configure-ipv6-linux.mdx
  pages/dedibox-scaleway/how-to/configure-failover-ip.mdx
  pages/dedibox-scaleway/how-to/configure-reverse-failover-ip.mdx
  pages/dedibox-scaleway/how-to/install-dedibox.mdx
  pages/dedibox-scaleway/how-to/terminate-dedibox.mdx
  pages/instances/troubleshooting/fix-long-delays-booting-without-public-ip.mdx
  pages/kubernetes/reference-content/modifying-kernel-parameters-kubernetes-cluster.mdx
  tutorials/deploying-qdrant-vectordb-kubernetes/index.mdx
  tutorials/monitor-gpu-instance-cockpit/index.mdx
  tutorials/sns-instances-notification-system/index.mdx
Labels: type: maintenance

#4861 fix(waf): remove mentions that it is exclusive to load balancers only
  pages/edge-services/concepts.mdx
  pages/edge-services/faq.mdx
  pages/edge-services/index.mdx
  pages/edge-services/reference-content/understanding-pricing.mdx
  pages/edge-services/reference-content/understanding-waf.mdx
Labels: priority: low

#4914 add(cockpit): FAQ question to specify where Cockpit stores data
  pages/cockpit/faq.mdx
  pages/cockpit/reference-content/cockpit-limitations.mdx
Labels: type: new content

#4909 feat(functions):troubleshoot go version
  pages/serverless-functions/troubleshooting/go-function-version-error.mdx
Labels: product: serverless

#4916 chore(review): weekly review
  menu/navigation.json
  pages/cockpit/api-cli/configuring-grafana-agent.mdx
  pages/elastic-metal/how-to/send-metrics-logs-to-cockpit.mdx
  pages/managed-databases-for-postgresql-and-mysql/api-cli/pg-audit.mdx
  pages/webhosting/how-to/manage-databases.mdx
  pages/webhosting/how-to/manage-email-accounts.mdx
  pages/webhosting/how-to/manage-ftp-accounts.mdx
Labels: type: maintenance

#4719 docs(obj): add hds doc MTA-5836
  menu/navigation.json
  pages/object-storage/faq.mdx
  pages/object-storage/how-to/create-hds-certified-bucket.mdx
Labels: do not merge, priority: low, status: doc review

#4917 fix(doc): doc review
  pages/edge-services/concepts.mdx
  pages/edge-services/quickstart.mdx
  pages/public-gateways/troubleshooting/cant-connect-to-instance-with-pn-gateway.mdx
  tutorials/get-started-deploy-kapsule/index.mdx
Labels: type: maintenance

#4925 fix(obj): remove asterisks in title
  pages/object-storage/faq.mdx
Labels: priority: high, status: doc review

#4922 docs(cpt): rename Understanding Cockpit usage and pricing page
  menu/navigation.json
  pages/cockpit/faq.mdx
  pages/cockpit/reference-content/understanding-cockpit-usage.mdx
Labels: type: maintenance

#4921 fix(acc): menu changelog
  menu/changelogs.json
  menu/navigation.json
Labels: type: maintenance, do not merge, status: tech review, priority: high, status: doc review

#4929 feat(changelog): containers-added-request-timeout-up-to-1h 2025-05-07
  changelog/may2025/2025-05-07-containers-added-request-timeout-up-to-1h.mdx
Labels: type: changelog

#4928 feat(changelog): functions-added-request-timeout-up-to-1h 2025-05-07
  changelog/may2025/2025-05-07-functions-added-request-timeout-up-to-1h.mdx
Labels: type: changelog

#4930 docs(srv): update max request timeout MTA-6023
  pages/serverless-containers/reference-content/containers-limitations.mdx
  pages/serverless-functions/reference-content/functions-limitations.mdx
Labels: priority: low, status: doc review, product: serverless

#4939 feat(changelog): webhosting-removed-plesk-option-removed 2025-05-12
  changelog/may2025/2025-05-12-webhosting-removed-plesk-option-removed.mdx
Labels: type: changelog

#4904 docs(ins): update doc shared/dedicated cpu
  pages/instances/reference-content/choosing-shared-vs-dedicated-cpus.mdx
Labels: status: tech review

#4933 fix(tuto): update tuto
  tutorials/k8s-kapsule-multi-az/index.mdx
Labels: type: maintenance, status: doc review

#4915 fix(tutos): part 1
  tutorials/deploy-awstats/index.mdx
  tutorials/deploy-nextcloud-s3/assets/scaleway-nc_admin_ext_storage.webp
  tutorials/deploy-nextcloud-s3/assets/scaleway-nc_apps.webp
  tutorials/deploy-nextcloud-s3/assets/scaleway-nc_config_storage.webp
  tutorials/deploy-nextcloud-s3/assets/scaleway-nc_external_storage_enable.webp
  tutorials/deploy-nextcloud-s3/assets/scaleway-nc_external_storage_files.webp
  tutorials/deploy-nextcloud-s3/assets/scaleway-nextcloud-obstorage.webp
  tutorials/deploy-nextcloud-s3/index.mdx
  tutorials/glusterfs/index.mdx
  tutorials/self-hosted-repository-gitea/index.mdx
  tutorials/setup-postfix-ubuntu-bionic/index.mdx
  tutorials/strapi/index.mdx
  tutorials/use-container-registry-github-actions/index.mdx
  tutorials/zammad-ticketing/index.mdx
Labels: type: maintenance, status: tech review, priority: low, status: doc review

#4918 docs(srv): update doc on sandbox environments MTA-6006
  menu/navigation.json
  pages/serverless-containers/concepts.mdx
  pages/serverless-containers/faq.mdx
  pages/serverless-containers/reference-content/containers-limitations.mdx
  pages/serverless-containers/reference-content/containers-sandbox.mdx
  pages/serverless-containers/troubleshooting/cannot-deploy-image.mdx
  pages/serverless-containers/troubleshooting/container-clock-drift.mdx
  pages/serverless-containers/troubleshooting/index.mdx
  pages/serverless-functions/concepts.mdx
  pages/serverless-functions/reference-content/functions-sandbox.mdx
  pages/serverless-functions/troubleshooting/function-clock-drift.mdx
  pages/serverless-functions/troubleshooting/index.mdx
Labels: status: tech review, priority: low, status: doc review, product: serverless

#4942 docs(fix): broken links
  pages/queues/api-cli/python-node-queues.mdx
  pages/topics-and-events/api-cli/python-node-topics-events.mdx
Labels: type: maintenance, Documentation Bug

#4895 docs(cockpit): add supported API endpoints for data source management
  menu/navigation.json
  pages/cockpit/reference-content/cockpit-supported-endpoints.mdx
Labels: type: new content

#4931 docs(srv): add link to billing alerts to serverless FAQs MTA-6018
  pages/serverless-containers/faq.mdx
  pages/serverless-functions/faq.mdx
  pages/serverless-jobs/faq.mdx
Labels: priority: low, status: doc review, product: serverless

#4950 fix(obj): update CICD tutorial with correct env vars MTA-6039
  tutorials/cicd-github-action-object-storage-sync/index.mdx
Labels: priority: low, status: doc review

#4949 docs(obj): update CORS doc MTA-6026
  pages/object-storage/api-cli/setting-cors-rules.mdx
Labels: priority: low, status: doc review

#4943 docs(infr): update docs managed inference
  pages/managed-inference/reference-content/model-catalog.mdx
  pages/managed-inference/reference-content/supported-models.mdx
Labels: type: maintenance

#4937 docs(cockpit): rework how to configure alerts in Grafana doc
  pages/cockpit/how-to/assets/scaleway-alerts-firing.webp
  pages/cockpit/how-to/assets/scaleway-instance-grafana-alert.webp
  pages/cockpit/how-to/assets/scaleway-metric-selection.webp
  pages/cockpit/how-to/assets/scaleway-metrics-browser.webp
  pages/cockpit/how-to/assets/scaleway-metrics-displayed.webp
  pages/cockpit/how-to/assets/scaleway-switch-to-managed-alerts-button.webp
  pages/cockpit/how-to/configure-alerts-for-scw-resources.mdx
Labels: type: maintenance, status: doc review

#4955 Update .prettierrc
  .prettierrc
Labels: type: developer

#4965 fix(menu): filters
  menu/filters.json
Labels: type: maintenance, priority: medium

#4958 docs(review): product review
  pages/cockpit/reference-content/cockpit-limitations.mdx
  pages/domains-and-dns/concepts.mdx
  pages/domains-and-dns/how-to/manage-dns-records.mdx
  pages/domains-and-dns/reference-content/understanding-domains-and-dns.mdx
  pages/secret-manager/reference-content/data-encryption-with-secret-manager.mdx
Labels: type: maintenance, status: doc review

#4966 fix(tutos): fix tutos
  tutorials/systemd-essentials/index.mdx
  tutorials/trigger-ifttt-actions/assets/scaleway-iothub_ifttt_howto_applet_continue.webp
  tutorials/trigger-ifttt-actions/assets/scaleway-iothub_ifttt_howto_applet_done.webp
  tutorials/trigger-ifttt-actions/assets/scaleway-iothub_ifttt_howto_googlesheet.webp
  tutorials/trigger-ifttt-actions/assets/scaleway-iothub_ifttt_howto_route.webp
  tutorials/trigger-ifttt-actions/assets/scaleway-iothub_ifttt_howto_webclient.webp
  tutorials/trigger-ifttt-actions/assets/scaleway_ifttt.webp
  tutorials/trigger-ifttt-actions/index.mdx
  tutorials/vpc-public-gateway-autoconfiguration/index.mdx
  tutorials/zabbix-monitoring/index.mdx
Labels: type: maintenance

#4970 feat(changelog): domains-and-dns-changed-price-adjustments-for-domain-ex 2025-05-14
  changelog/may2025/2025-05-14-domains-and-dns-changed-price-adjustments-for-domain-ex.mdx
Labels: type: changelog

#4964 fix(gen): remove FAQ from faq pages titles MTA-6028
  pages/account/faq.mdx
  pages/apple-silicon/faq.mdx
  pages/audit-trail/faq.mdx
  pages/billing/faq.mdx
  pages/block-storage/faq.mdx
  pages/cockpit/faq.mdx
  pages/container-registry/faq.mdx
  pages/data-lab/faq.mdx
  pages/dedibox-scaleway/faq.mdx
  pages/dedibox-vps/faq.mdx
  pages/dedibox/faq.mdx
  pages/domains-and-dns/faq.mdx
  pages/edge-services/faq.mdx
  pages/elastic-metal/faq.mdx
  pages/environmental-footprint/faq.mdx
  pages/generative-apis/faq.mdx
  pages/iam/faq.mdx
  pages/instances/faq.mdx
  pages/interlink/faq.mdx
  pages/iot-hub/faq.mdx
  pages/key-manager/faq.mdx
  pages/kubernetes/faq.mdx
  pages/load-balancer/faq.mdx
  pages/managed-databases-for-postgresql-and-mysql/faq.mdx
  pages/managed-databases-for-redis/faq.mdx
  pages/managed-inference/faq.mdx
  pages/managed-mongodb-databases/faq.mdx
  pages/nats/faq.mdx
  pages/object-storage/faq.mdx
  pages/public-gateways/faq.mdx
  pages/queues/faq.mdx
  pages/secret-manager/faq.mdx
  pages/serverless-containers/faq.mdx
  pages/serverless-functions/faq.mdx
  pages/serverless-jobs/faq.mdx
  pages/serverless-sql-databases/faq.mdx
  pages/topics-and-events/faq.mdx
  pages/transactional-email/faq.mdx
  pages/vpc/faq.mdx
Labels: priority: low, status: doc review

#4976 docs(fix): changelog
  changelog/may2025/2025-05-14-domains-and-dns-changed-price-adjustments-for-domain-ex.mdx
Labels: type: changelog

#4963 fix(gen): reviews 12/05 MTA-6035
  pages/billing/additional-content/reading-an-invoice.mdx
  pages/environmental-footprint/additional-content/environmental-footprint-calculator-estimation.mdx
  pages/environmental-footprint/how-to/track-monthly-footprint.mdx
  pages/transactional-email/api-cli/send-emails-with-api.mdx
  pages/transactional-email/concepts.mdx
  pages/transactional-email/reference-content/smtp-configuration.mdx
  tutorials/configure-chef-ubuntu-xenial/index.mdx
  tutorials/configure-netbox-managed-postgresql-database/index.mdx
  tutorials/configure-tem-smtp-with-wordpress-plugin/index.mdx
  tutorials/sinatra/index.mdx
  tutorials/wordpress-lemp-stack/index.mdx
  tutorials/zulip/index.mdx
Labels: type: maintenance, priority: low

#4974 feat(changelog): jobs-fixed-command-update-on-console 2025-05-14
  changelog/may2025/2025-05-14-jobs-fixed-command-update-on-console.mdx
Labels: type: changelog

#4934 fix(serverless): added guideflow
  pages/serverless-containers/quickstart.mdx
  pages/serverless-functions/quickstart.mdx
Labels: type: maintenance

#4983 feat(changelog): edge-services-added-waf-is-now-available-in-console 2025-05-16
  changelog/may2025/2025-05-16-edge-services-added-waf-is-now-available-in-console.mdx
Labels: type: changelog

#4980 feat(ins): add use cases
  pages/instances/reference-content/choosing-instance-type.mdx
Labels: priority: medium, status: doc review

#4645 docs(AXP): add informational website use case MTA-5570
  menu/navigation.json
  pages/account/reference-content/use-case-informational-website.mdx
Labels: priority: low, status: doc review

#4848 fix(acc): update steps with new menu - MTA-5898
  macros/console/close-vs-erase.mdx
  pages/account/how-to/change-console-appearance.mdx
  pages/account/how-to/change-language.mdx
  pages/account/how-to/change-password.mdx
  pages/account/how-to/close-account.mdx
  pages/account/how-to/configure-support-plans.mdx
  pages/account/how-to/download-scaleway-contracts.mdx
  pages/account/how-to/manage-my-personal-data-gdpr.mdx
  pages/account/how-to/open-a-support-ticket.mdx
  pages/account/how-to/switch-account-to-corporate.mdx
  pages/account/how-to/use-2fa.mdx
  pages/audit-trail/how-to/configure-audit-trail-permissions.mdx
  pages/billing/how-to/change-billing-information.mdx
  pages/billing/how-to/change-payment-method.mdx
  pages/billing/how-to/download-an-invoice.mdx
  pages/billing/how-to/purchase-savings-plan.mdx
  pages/billing/how-to/redeem-voucher-code.mdx
  pages/billing/how-to/use-billing-alerts.mdx
  pages/billing/how-to/use-the-cost-manager.mdx
  pages/iam/how-to/create-api-keys.mdx
  pages/iam/how-to/create-application.mdx
  pages/iam/how-to/create-group.mdx
  pages/iam/how-to/create-policy.mdx
  pages/iam/how-to/enforce-security-requirements-members.mdx
  pages/iam/how-to/invite-user-to-orga.mdx
  pages/iam/how-to/manage-api-keys.mdx
  pages/iam/how-to/manage-applications.mdx
  pages/iam/how-to/manage-groups.mdx
  pages/iam/how-to/manage-members.mdx
  pages/iam/how-to/manage-policies.mdx
  pages/iam/how-to/manage-users.mdx
  pages/iam/how-to/view-logs.mdx
  pages/iam/how-to/view-permission-sets.mdx
  pages/iam/quickstart.mdx
  pages/kubernetes/how-to/edit-kosmos-cluster.mdx
  pages/organizations-and-projects/how-to/assets/scaleway-orga-drop-down.webp
  pages/organizations-and-projects/how-to/create-ssh-key.mdx
  pages/organizations-and-projects/how-to/delete-a-project.mdx
  pages/organizations-and-projects/how-to/enforce-mfa.mdx
  pages/partner-space/how-to/grant-access-to-partner-space.mdx
  pages/partner-space/quickstart.mdx
  pages/serverless-sql-databases/how-to/add-users.mdx
  pages/serverless-sql-databases/how-to/manage-permissions.mdx
Labels: type: maintenance, status: tech review, priority: high, status: doc review

#4977 feat(changelog): containers-added-new-cpu-tier-in-console 2025-05-15
  changelog/may2025/2025-05-15-containers-added-new-cpu-tier-in-console.mdx
Labels: type: changelog

#4982 fix(mnq): new console category names
  pages/nats/how-to/create-account.mdx
  pages/nats/how-to/create-credentials.mdx
  pages/nats/how-to/delete-account.mdx
  pages/nats/how-to/manage-credentials.mdx
  pages/nats/how-to/monitor-nats-cockpit.mdx
  pages/nats/quickstart.mdx
  pages/queues/how-to/create-credentials.mdx
  pages/queues/how-to/create-manage-queues.mdx
  pages/queues/how-to/manage-credentials.mdx
  pages/queues/how-to/monitor-queues-cockpit.mdx
  pages/queues/quickstart.mdx
  pages/topics-and-events/how-to/create-credentials.mdx
  pages/topics-and-events/how-to/create-manage-subscriptions.mdx
  pages/topics-and-events/how-to/create-manage-topics.mdx
  pages/topics-and-events/how-to/manage-credentials.mdx
  pages/topics-and-events/how-to/monitor-topics-cockpit.mdx
  pages/topics-and-events/quickstart.mdx
  tutorials/transform-bucket-images-triggers-functions-set-up/index.mdx
Labels: type: maintenance, priority: medium, status: doc review

#4984 fix(vpc): add info about cli dns
  pages/vpc/reference-content/dns.mdx
Labels: type: maintenance

#4986 feat(ipam): add troubleshooting
  menu/navigation.json
  pages/ipam/troubleshooting/assets/scaleway-ipam-release-ip.webp
  pages/ipam/troubleshooting/cant-delete-pn-reserved-ip.mdx
  pages/ipam/troubleshooting/index.mdx
Labels: type: new content, status: doc review

#4989 fix(dns): reformat Domains & DNS records page
  pages/domains-and-dns/reference-content/understanding-dns-records.mdx
Labels: type: maintenance, status: doc review

#4988 fix(iam): IAM Members Info - MTA-6022
  pages/iam/how-to/assets/scaleway-groups-overview.webp
  pages/iam/how-to/assets/scaleway-user-info.webp
  pages/iam/how-to/manage-members.mdx
  pages/iam/how-to/manage-users.mdx
  pages/iam/quickstart.mdx
Labels: type: maintenance, type: new content, status: tech review, priority: medium, status: doc review

#4994 feat(changelog): managed-inference-added-managed-inference-is-now-in-gen 2025-05-19
  changelog/may2025/2025-05-19-managed-inference-added-managed-inference-is-now-in-gen.mdx
Labels: type: changelog

#4995 feat(mdb): updates for GA - MTA-5872
  pages/managed-mongodb-databases/api-cli/backup-and-restore.mdx
  pages/managed-mongodb-databases/concepts.mdx
  pages/managed-mongodb-databases/how-to/connect-database-instance.mdx
  pages/managed-mongodb-databases/how-to/create-a-database-instance.mdx
  pages/managed-mongodb-databases/how-to/delete-a-database-instance.mdx
  pages/managed-mongodb-databases/how-to/increase-volume.mdx
  pages/managed-mongodb-databases/how-to/manage-snapshots.mdx
  pages/managed-mongodb-databases/how-to/manage-users.mdx
  pages/managed-mongodb-databases/index.mdx
  pages/managed-mongodb-databases/quickstart.mdx
Labels: type: maintenance, type: new content, do not merge, status: tech review, priority: medium, status: doc review

#4998 fix(db): guideflow in quickstarts
  pages/container-registry/quickstart.mdx
  pages/managed-databases-for-postgresql-and-mysql/quickstart.mdx
  pages/managed-databases-for-redis/quickstart.mdx
  pages/managed-mongodb-databases/quickstart.mdx
  pages/serverless-jobs/quickstart.mdx
  pages/serverless-sql-databases/quickstart.mdx
Labels: type: maintenance

#5004 fix(docs): review
  pages/iot-hub/reference-content/certificate.mdx
  pages/iot-hub/reference-content/devices.mdx
  pages/iot-hub/reference-content/hubs.mdx
  pages/iot-hub/reference-content/networks.mdx
  pages/iot-hub/reference-content/overview.mdx
  pages/iot-hub/reference-content/routes.mdx
  pages/load-balancer/reference-content/sni-route-deprecation.mdx
  pages/nats/api-cli/nats-cli.mdx
Labels: type: maintenance

#5007 fix(mdb): fix desc
  pages/managed-mongodb-databases/index.mdx
Labels: type: maintenance, priority: medium, status: doc review

#5001 docs(ins): update standby mode documentation
  pages/instances/how-to/use-standby-mode.mdx
Labels: type: maintenance, priority: low

#5006 fix(edge): add info re waf and object storage
  pages/edge-services/faq.mdx
  pages/edge-services/how-to/configure-waf.mdx
  pages/edge-services/reference-content/understanding-waf.mdx
Labels: type: maintenance

#5002 fix(bil): info about alerts
  pages/billing/how-to/use-billing-alerts.mdx
Labels: type: maintenance, priority: low, status: doc review

#4913 fix(acc): add file upload info
  pages/account/how-to/open-a-support-ticket.mdx
Labels: type: maintenance, do not merge, status: tech review, priority: low, status: doc review

#5009 feat(changelog): apple-silicon-added-m4-m-and-m4-xl-now-available 2025-05-22
  changelog/may2025/2025-05-22-apple-silicon-added-m4-m-and-m4-xl-now-available.mdx
Labels: type: changelog

#5013 feat(em): add em deletion documentation
  menu/navigation.json
  pages/elastic-metal/how-to/delete-server.mdx
Labels: priority: low

#5014 fix(changelog): fix display bug in console
  changelog/may2025/2025-05-22-apple-silicon-added-m4-m-and-m4-xl-now-available.mdx
Labels: type: changelog

#5003 feat(jobs): simplify snapshot tutorial
  tutorials/snapshot-instances-jobs/index.mdx
Labels: product: serverless

#5029 fix(mdb): fix 404
  pages/managed-mongodb-databases/index.mdx
Labels: type: maintenance, priority: medium, status: doc review

#4975 chore(review): tutos part 1
  tutorials/configure-nextcloud-ubuntu/assets/scaleway-nextcloud-files.webp
  tutorials/configure-nextcloud-ubuntu/assets/scaleway-nextcloud_files.webp
  tutorials/configure-nextcloud-ubuntu/index.mdx
  tutorials/configure-tem-smtp-with-wordpress-plugin/index.mdx
  tutorials/deploy-penpot-with-docker-instantapp/assets/scaleway-penpot-account-creation.webp
  tutorials/deploy-penpot-with-docker-instantapp/assets/scaleway-penpot-dashboard.webp
  tutorials/deploy-penpot-with-docker-instantapp/assets/scaleway-penpot-login.webp
  tutorials/deploy-penpot-with-docker-instantapp/index.mdx
  tutorials/terraform-quickstart/assets/scaleway-terraform-instances-list.webp
  tutorials/terraform-quickstart/assets/scaleway-terraform-scw-instances-list.webp
  tutorials/terraform-quickstart/assets/scaleway-terraform-scw-security-group.webp
  tutorials/terraform-quickstart/index.mdx
Labels: status: doc review

#5012 feat(changelog): containers-added-tags-for-serverless-containers 2025-05-22
  changelog/may2025/2025-05-22-containers-added-tags-for-serverless-containers.mdx
Labels: type: changelog, product: serverless

#5011 feat(changelog): functions-added-tags-for-serverless-functions 2025-05-22
  changelog/may2025/2025-05-22-functions-added-tags-for-serverless-functions.mdx
Labels: type: changelog, product: serverless

#5028 fix(docs): review
  pages/ipam/reference-content/ipv6.mdx
  pages/load-balancer/how-to/add-certificate.mdx
  tutorials/bind-dns-server/index.mdx
  tutorials/configure-nodemcu-iot-hub/index.mdx
  tutorials/configuring-loadbalancer-wordpress/assets/scaleway-lb-backend-rule.webp
  tutorials/configuring-loadbalancer-wordpress/assets/scaleway-lb-console.webp
  tutorials/configuring-loadbalancer-wordpress/assets/scaleway-lb-frontend-rule.webp
  tutorials/configuring-loadbalancer-wordpress/index.mdx
Labels: type: maintenance, status: doc review

#5033 docs(srv): add step for tags in faas caas creation docs MTA-6017b
  pages/serverless-containers/how-to/create-manage-delete-containers-namespace.mdx
  pages/serverless-containers/how-to/deploy-container.mdx
  pages/serverless-functions/how-to/create-a-function.mdx
  pages/serverless-functions/how-to/create-manage-delete-functions-namespace.mdx
Labels: priority: low, status: doc review, product: serverless

#5036 feat(changelog): containers-fixed-serverless-containers-healthcheck 2025-05-28
  changelog/may2025/2025-05-28-containers-fixed-serverless-containers-healthcheck.mdx
Labels: type: changelog, product: serverless

#5038 docs(review): weekly review
  pages/secret-manager/how-to/create-version.mdx
  pages/secret-manager/quickstart.mdx
  pages/transactional-email/reference-content/protecting-your-domain-reputation.mdx
Labels: type: maintenance
