Repository scaleway/docs-content, pull requests merged in 2025-07, with the labels that each got.

#5132 docs(dwh): add data warehouse powerBI connection info MTA-6169
  pages/data-warehouse/how-to/connect-bi-tools.mdx
Labels: priority: medium, status: doc review

#5209 webhosting(add): security best practices doc
  menu/navigation.json
  pages/webhosting/reference-content/shared-hosting-best-practices.mdx
Labels: type: new content

#5216 fix(bil): add inst
  pages/billing/additional-content/understanding-savings-plans.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/monitor-databases-cockpit.mdx
Labels: type: maintenance, priority: medium, status: doc review

#5223 fix(tuto): formatting
  pages/dedibox-ip-failover/how-to/configure-debian-ubuntu.mdx
Labels: type: maintenance, priority: low, status: doc review

#4687 docs(gen): add troubleshooting pages MTA-5446
  pages/object-storage/troubleshooting/cannot-access-data.mdx
  pages/object-storage/troubleshooting/error-messages-access.mdx
  pages/object-storage/troubleshooting/issues-dns-edge-services.mdx
  pages/object-storage/troubleshooting/request-rate-error.mdx
  pages/serverless-containers/troubleshooting/cannot-deploy-image.mdx
  pages/serverless-containers/troubleshooting/container-error-state.mdx
  pages/serverless-functions/troubleshooting/function-build-error.mdx
  pages/serverless-sql-databases/troubleshooting/database-unavailable.mdx
Labels: priority: low, status: doc review

#5238 chore(package): migrate from yarn to pnpm
  .github/labeler.yml
  .husky/commit-msg
  .prettierignore
  bin/check-pre-commit
  docs/CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
  yarn.lock
Labels: type: developer, type: dependencies

#5196 fix(vpc): update for deletion of default VPC, and lazy-VPC-create
  pages/elastic-metal/how-to/use-private-networks.mdx
  pages/instances/how-to/use-private-networks.mdx
  pages/load-balancer/how-to/use-with-private-network.mdx
  pages/public-gateways/how-to/configure-a-public-gateway.mdx
  pages/vpc/concepts.mdx
  pages/vpc/faq.mdx
  pages/vpc/how-to/create-vpc.mdx
  pages/vpc/how-to/delete-vpc.mdx
  pages/vpc/quickstart.mdx
  pages/vpc/troubleshooting/cant-delete-vpc-pn.mdx
Labels: status: doc review

#5242 feat(changelog): transactional-email-added-ipv6-support-enabled-on-smtp- 2025-07-08
  changelog/july2025/2025-07-08-transactional-email-added-ipv6-support-enabled-on-smtp-.mdx
Labels: type: changelog

#5244 docs(fix): typo
  pages/cockpit/how-to/federate-scaleway-metrics.mdx
Labels: type: bug

#5239 docs(add): new wbh journey
  macros/webhosting/wordpress-plan.mdx
  menu/navigation.json
  pages/webhosting/assets/scaleway-webhosting-control-panel-dashboard.webp
  pages/webhosting/assets/scaleway-webmail.webp
  pages/webhosting/concepts.mdx
  pages/webhosting/faq.mdx
  pages/webhosting/how-to/assets/scaleway-dns-verification.webp
  pages/webhosting/how-to/configure-dns-webhosting.mdx
  pages/webhosting/how-to/manage-cpanel-webhosting.mdx
  pages/webhosting/how-to/manage-databases.mdx
  pages/webhosting/how-to/manage-email-accounts.mdx
  pages/webhosting/how-to/manage-ftp-accounts.mdx
  pages/webhosting/how-to/manage-webhosting.mdx
  pages/webhosting/how-to/order-webhosting.mdx
  pages/webhosting/quickstart.mdx
Labels: type: new content, priority: high, status: doc review

#5250 audit-trail(add): account endpoints
  macros/audit-trail/account-endpoints.mdx
  macros/audit-trail/iam-endpoints.mdx
  macros/audit-trail/key-manager-endpoints.mdx
  macros/audit-trail/kubernetes-endpoints.mdx
  macros/audit-trail/secret-manager-endpoints.mdx
  pages/audit-trail/reference-content/adt-supported-endpoints.mdx
  pages/audit-trail/reference-content/resource-integration-with-adt.mdx
Labels: status: doc review

#5252 feat(acc): add domains
  pages/account/how-to/use-the-search-bar.mdx
Labels: type: maintenance, priority: low, status: doc review

#5251 fix(docs): added guideflows
  pages/data-lab/quickstart.mdx
  pages/domains-and-dns/quickstart.mdx
  pages/nats/quickstart.mdx
  pages/public-gateways/quickstart.mdx
Labels: type: maintenance

#5260 feat(partners): track client consumption
  menu/navigation.json
  pages/partner-space/how-to/track-client-consumption.mdx
Labels: type: maintenance

#5275 fix(acc): reviews 15/07 - MTA-6273
  menu/navigation.json
  pages/account/how-to/report-abuse.mdx
  pages/account/how-to/switch-account-to-corporate.mdx
  pages/account/how-to/use-the-search-bar.mdx
  pages/iam/faq.mdx
  pages/iam/how-to/create-api-keys.mdx
  pages/iam/how-to/create-application.mdx
  pages/iam/how-to/create-policy.mdx
  pages/iam/how-to/manage-api-keys.mdx
  pages/iam/how-to/manage-applications.mdx
  pages/iam/how-to/manage-groups.mdx
  pages/iam/how-to/manage-policies.mdx
  pages/iam/how-to/view-logs.mdx
  pages/iam/quickstart.mdx
  pages/iam/videos.mdx
  pages/managed-databases-for-postgresql-and-mysql/api-cli/import-data-to-managed-postgresql-databases.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/change-volume-type.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/clone-a-database-instance.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/configure-advanced-settings.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/connect-database-private-network.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/create-read-replica.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/delete-a-database.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/delete-db.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/enable-autobackup.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-allowed-ip-addresses.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-manual-backups.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-snapshots.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/remove-public-endpoint.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/upgrade-version.mdx
  pages/managed-databases-for-postgresql-and-mysql/troubleshooting/disk-full.mdx
  pages/managed-databases-for-redis/how-to/configure-advanced-settings-redis.mdx
  pages/managed-databases-for-redis/how-to/connect-to-redis-database-instance.mdx
  pages/managed-databases-for-redis/how-to/create-a-database-for-redis.mdx
  pages/managed-databases-for-redis/how-to/manage-allowed-ip-addresses-redis.mdx
  pages/managed-databases-for-redis/how-to/scale-up-a-database-for-redis.mdx
  pages/organizations-and-projects/api-cli/managing-projects.mdx
  pages/organizations-and-projects/how-to/manage-quotas.mdx
  pages/transactional-email/how-to/add-spf-dkim-records-to-your-domain.mdx
  pages/transactional-email/how-to/delete-tem-domain.mdx
Labels: type: maintenance, priority: medium

#5261 feat(changelog): mongodb-added-managed-mongodb-v1-api 2025-07-11
  changelog/july2025/2025-07-11-mongodb-added-managed-mongodb-v1-api.mdx
Labels: type: changelog

#5263 feat(changelog): mongodb-added-multi-user-management 2025-07-11
  changelog/july2025/2025-07-11-mongodb-added-multi-user-management.mdx
Labels: type: changelog

#5271 docs(ins): removed deprecated documentation
  menu/navigation.json
  pages/instances/faq.mdx
  pages/instances/how-to/migrate-routed-ips.mdx
  pages/instances/troubleshooting/fix-broken-vpn-when-switching-openvpn-vm-to-routed-ip.mdx
  pages/instances/troubleshooting/fix-lost-ip-connectivity-on-debian-buster.mdx
  pages/instances/troubleshooting/fix-unreachable-focal-with-two-public-ips.mdx
  pages/instances/troubleshooting/fix-unreachable-ipv6-rhel-based-instance.mdx
Labels: type: maintenance

#5279 docs(srv): remove sandbox limitation for VPC MTA-6287
  pages/serverless-containers/reference-content/containers-limitations.mdx
  pages/serverless-functions/reference-content/functions-limitations.mdx
Labels: priority: low, status: doc review, product: serverless

#5287 fix(docs): fix metadata
  pages/dedibox-rpn/how-to/find-rpn-gateway.mdx
  pages/partner-space/how-to/track-client-consumption.mdx
  pages/site-to-site-vpn/index.mdx
  pages/site-to-site-vpn/reference-content/index.mdx
  pages/site-to-site-vpn/reference-content/security-proposals.mdx
  pages/site-to-site-vpn/reference-content/statuses.mdx
  pages/site-to-site-vpn/reference-content/understanding-s2svpn.mdx
  pages/webhosting/faq.mdx
  pages/webhosting/how-to/manage-cpanel-webhosting.mdx
  tutorials/connect-generative-apis-sql/index.mdx
Labels: type: bug

#5280 feat(srv): add troubleshooting pages MTA-5446
  pages/serverless-containers/troubleshooting/cannot-access-container.mdx
  pages/serverless-containers/troubleshooting/index.mdx
  pages/serverless-containers/troubleshooting/known-dns-containers-errors.mdx
Labels: status: tech review, priority: low, status: doc review, product: serverless

#5228 feat(obj): add new troubleshooting pages MTA-5448
  pages/object-storage/troubleshooting/deleted-objects-still-billed.mdx
  pages/object-storage/troubleshooting/index.mdx
  pages/object-storage/troubleshooting/lifecycle-rules-issues.mdx
  pages/object-storage/troubleshooting/object-deletion-issues.mdx
  pages/object-storage/troubleshooting/presigned-url-errors.mdx
  pages/object-storage/troubleshooting/request-rate-error.mdx
Labels: priority: low, status: doc review

#5290 fix(gen): remove frontmatter anchors
  pages/block-storage/api-cli/increasing-volume-size.mdx
  tutorials/backup-mongodb-jobs/index.mdx
Labels: priority: low, status: doc review

#5291 fix(rdb): typo
  pages/managed-databases-for-postgresql-and-mysql/how-to/change-volume-type.mdx
Labels: priority: low, status: doc review

#5282 feat(changelog): partner-space-added-the-cost-manager-is-now-available-i 2025-07-16
  changelog/july2025/2025-07-16-partner-space-added-the-cost-manager-is-now-available-i.mdx
Labels: type: changelog

#5294 feat(changelog): webhosting-removed-removal-of-redis-from-cpanel-platfor 2025-07-17
  changelog/july2025/2025-07-17-webhosting-removed-removal-of-redis-from-cpanel-platfor.mdx
Labels: type: changelog

#5292 feat(webhosting): add wordpress doc
  menu/navigation.json
  pages/webhosting/assets/scaleway-hosting-options.webp
  pages/webhosting/assets/scaleway-wordpress-email.webp
  pages/webhosting/assets/scaleway-wordpress-success.webp
  pages/webhosting/how-to/manage-wordpress-webhosting.mdx
  pages/webhosting/quickstart.mdx
Labels: status: doc review

#5297 docs(fix): replace posgresql with mongodb
  pages/managed-mongodb-databases/additional-content/migrating-to-managed-mongodb.mdx
Labels: type: bug

#5299 docs(fix): add intro
  pages/webhosting/how-to/manage-wordpress-webhosting.mdx
Labels: type: maintenance

#5308 fix(srv): fix broken table
  pages/serverless-sql-databases/troubleshooting/connection-errors.mdx
Labels: type: bug, type: maintenance

#5301 docs(ins): docs content review 2025-07-21
  pages/gpu/how-to/use-mig-with-kubernetes.mdx
  pages/gpu/how-to/use-nvidia-mig-technology.mdx
  pages/gpu/how-to/use-preinstalled-env.mdx
  pages/gpu/how-to/use-scratch-storage-h100-instances.mdx
  pages/instances/how-to/migrate-volumes-snapshots-to-sbs.mdx
  pages/instances/how-to/send-emails-from-your-instance.mdx
  pages/kubernetes/api-cli/managing-storage.mdx
  pages/kubernetes/how-to/use-scratch-storage-h100.mdx
  tutorials/enabling-encryption-in-kapsule-with-cilium/index.mdx
  tutorials/manage-zigbee-devices-with-iot/index.mdx
  tutorials/s3cmd/index.mdx
  tutorials/waypoint-plugin-scaleway/index.mdx
Labels: type: maintenance

#5309 docs(acc): docs content review 2025-07-22
  pages/account/how-to/open-a-support-ticket.mdx
  pages/environmental-footprint/additional-content/environmental-footprint-integration.mdx
  pages/iam/how-to/create-group.mdx
  pages/iam/videos.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/manage-permissions.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/renew-tls-certificate.mdx
  pages/managed-databases-for-postgresql-and-mysql/how-to/upgrade-a-database.mdx
  pages/managed-databases-for-redis/quickstart.mdx
  pages/transactional-email/how-to/configure-bimi.mdx
  pages/transactional-email/reference-content/understanding-tem-reputation-score.mdx
Labels: type: maintenance

#5311 fix(aps): fix product spelling
  changelog/november2023/2023-11-08-apple-silicon-deprecated-fr-par-1-is-disabled-in-the-ap.mdx
  menu/navigation.json
  pages/account/how-to/use-the-search-bar.mdx
  pages/apple-silicon/faq.mdx
  pages/apple-silicon/how-to/access-remote-desktop-mac-mini.mdx
  pages/audit-trail/reference-content/resource-integration-with-adt.mdx
  pages/billing/how-to/redeem-voucher-code.mdx
  pages/elastic-metal/how-to/get-use-loyalty-reward.mdx
  pages/elastic-metal/reference-content/shared-responsibility-model.mdx
  pages/environmental-footprint/additional-content/environmental-footprint-integration.mdx
  pages/iam/reference-content/permission-sets.mdx
  pages/ipam/reference-content/public-connectivity-best-practices.mdx
  pages/serverless-jobs/reference-content/jobs-limitations.mdx
  tutorials/cilicon-self-hosted-ci-on-apple-silicon/index.mdx
  tutorials/configure-chatboxai-with-generative-apis/index.mdx
  tutorials/get-started-containers-docker/index.mdx
Labels: type: changelog

#5310 docs(fix): fix edge services macros
  macros/edge-services/edge-services-bucket-benefits.mdx
  macros/edge-services/edge-services-lb-benefits.mdx
Labels: type: bug

#5312 chore(docs): weekly review
  macros/webhosting/webhosting-online.mdx
  pages/classic-hosting/how-to/solve-email-account-connection-problems.mdx
  pages/cockpit/how-to/access-grafana-and-managed-dashboards.mdx
  pages/cockpit/how-to/activate-push-traces.mdx
  pages/cockpit/how-to/add-contact-points.mdx
  pages/cockpit/how-to/create-token.mdx
  pages/cockpit/how-to/retrieve-grafana-credentials.mdx
  pages/cockpit/how-to/send-metrics-with-grafana-alloy.mdx
  pages/cockpit/quickstart.mdx
  pages/cockpit/troubleshooting/pusher-does-not-support-custom-http-headers.mdx
  pages/cpanel-hosting/quickstart.mdx
Labels: type: maintenance

#5283 docs(blk): add macros to reuse content MTA-6252
  macros/block-storage/block-storage-volume-types.mdx
  macros/compute/instances-block-bandwidth-overview.mdx
  menu/navigation.json
  pages/block-storage/faq.mdx
  pages/block-storage/reference-content/advantages-migrating-to-sbs.mdx
  pages/block-storage/reference-content/block-instances-bandwidth-overview.mdx
  pages/block-storage/reference-content/differences-between-5kiops-volumes.mdx
  pages/instances/reference-content/instances-bandwidth-overview.mdx
Labels: priority: low, status: doc review

#5320 fix(srv): add missing env var for jobs x cli tuto MTA-6305
  tutorials/power-on-off-instances-jobs/index.mdx
  tutorials/snapshot-instances-jobs/index.mdx
Labels: priority: low, status: doc review, product: serverless

#5324 feat(changelog): kubernetes-added-release-of-newer-kubernetes-patch-vers 2025-07-23
  changelog/july2025/2025-07-23-kubernetes-added-release-of-newer-kubernetes-patch-vers.mdx
Labels: type: changelog

#5178 feat(FIL): add file storage documentation MTA-6218
  menu/navigation.json
  pages/file-storage/concepts.mdx
  pages/file-storage/faq.mdx
  pages/file-storage/how-to/attach-file-system.mdx
  pages/file-storage/how-to/create-file-system.mdx
  pages/file-storage/how-to/detach-file-system.mdx
  pages/file-storage/how-to/index.mdx
  pages/file-storage/how-to/manage-delete-file-system.mdx
  pages/file-storage/how-to/mount-file-system.mdx
  pages/file-storage/how-to/resize-file-system.mdx
  pages/file-storage/how-to/unmount-file-system.mdx
  pages/file-storage/index.mdx
  pages/file-storage/quickstart.mdx
Labels: priority: high, status: doc review

#5327 fix(fls): fix link to API doc + other fixes
  pages/file-storage/how-to/mount-file-system.mdx
  pages/file-storage/how-to/unmount-file-system.mdx
  pages/file-storage/index.mdx
  pages/file-storage/quickstart.mdx
Labels: do not merge, priority: medium, status: doc review

#5331 docs(fix): fix import mistake
  pages/guidelines.mdx
Labels: type: bug, type: maintenance

#5333 fix(srv): fix indent in cron reference
  macros/serverless/cron-schedules.mdx
Labels: priority: low, status: doc review, product: serverless

#5328 feat(pgw): add troubleshooting doc for ssh bastion keys
  pages/public-gateways/how-to/use-ssh-bastion.mdx
  pages/public-gateways/troubleshooting/index.mdx
  pages/public-gateways/troubleshooting/ssh-key-format.mdx
Labels: type: new content

#5345 fix(srv): remove mention of vpc not supported in macro MTA-6431
  macros/serverless/difference-jobs-functions-containers.mdx
Labels: priority: low, status: doc review, product: serverless

#5073 fix(rdb): vpc routing
  pages/managed-databases-for-postgresql-and-mysql/how-to/connect-database-private-network.mdx
  pages/vpc/faq.mdx
  pages/vpc/how-to/manage-routing.mdx
  pages/vpc/reference-content/understanding-nacls.mdx
  pages/vpc/reference-content/understanding-routing.mdx
  pages/vpc/troubleshooting/vpc-limitations.mdx
  pages/vpc/troubleshooting/vpc-pn-routing-connectivity-issues.mdx
Labels: type: maintenance, priority: medium, status: doc review

#5343 feat(changelog): generative-apis-added-new-model-support-devstral-small 2025-07-29
  changelog/july2025/2025-07-29-generative-apis-added-new-model-support-devstral-small.mdx
Labels: type: changelog

#5356 docs(cockpit): fix indentation
  pages/cockpit/how-to/activate-managed-alerts.mdx
Labels: type: maintenance, priority: low, status: doc review

#5358 docs(gen): fix broken links
  changelog/march2025/2025-03-25-iam-added-iam-members.mdx
  pages/audit-trail/how-to/configure-audit-trail-permissions.mdx
  pages/billing/additional-content/understanding-savings-plans.mdx
  pages/dedibox-vps/faq.mdx
  pages/dedibox/how-to/use-rescue-mode.mdx
  pages/edge-services/reference-content/understanding-pricing.mdx
  pages/file-storage/how-to/attach-file-system.mdx
  pages/file-storage/how-to/create-file-system.mdx
  pages/file-storage/how-to/manage-delete-file-system.mdx
  pages/file-storage/how-to/mount-file-system.mdx
  pages/file-storage/how-to/resize-file-system.mdx
  pages/file-storage/how-to/unmount-file-system.mdx
  pages/file-storage/index.mdx
  pages/iam/reference-content/guests-to-members-migration.mdx
  pages/instances/api-cli/cli-cheatsheet.mdx
  pages/instances/reference-content/workload-optimized.mdx
  pages/kubernetes/troubleshooting/configuring-sql-storage-backend-helm.mdx
  pages/load-balancer/troubleshooting/configuration.mdx
  pages/load-balancer/troubleshooting/http-connection-errors.mdx
  pages/object-storage/how-to/access-objects-via-https.mdx
  pages/partner-space/how-to/grant-access-to-partner-space.mdx
  pages/serverless-containers/how-to/use-private-networks.mdx
  pages/serverless-jobs/troubleshooting/index.mdx
  pages/serverless-sql-databases/how-to/add-users.mdx
  pages/vpc/how-to/manage-routing.mdx
  pages/vpc/reference-content/understanding-routing.mdx
  pages/webhosting/index.mdx
  tutorials/bind-dns-server/index.mdx
  tutorials/dagster-serverless-jobs/index.mdx
  tutorials/foreman-puppet/index.mdx
  tutorials/get-started-crossplane-kubernetes/index.mdx
  tutorials/how-to-implement-rag-generativeapis/index.mdx
  tutorials/install-cassandra/index.mdx
  tutorials/install-cockroachdb-scaleway-instances/index.mdx
  tutorials/jitsi-debian/index.mdx
  tutorials/jitsi-docker/index.mdx
  tutorials/jitsi-ubuntu-jammy-jellyfish/index.mdx
  tutorials/loriot-lorawan-network-server/index.mdx
  tutorials/python-lists-dicts/index.mdx
Labels: type: changelog

#5357 fix(iot): add mqtt version limitation
  pages/iot-hub/concepts.mdx
  pages/iot-hub/faq.mdx
Labels: type: maintenance
